Repository espressif/esp-idf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners, check-rules-yml, check-generated-rules, mypy-check

check-kconfigs:
  name: Validate Kconfig files
  entry: tools/ci/check_kconfigs.py
  language: python

check-deprecated-kconfigs-options:
  name: Check if any Kconfig Options Deprecated
  entry: tools/ci/check_deprecated_kconfigs.py
  language: python

cmake-lint:
  name: Check CMake Files Format
  entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
  language: python
  additional_dependencies:
  - cmakelint==1.4.1

check-codeowners:
  name: Validate Codeowner File
  entry: tools/ci/check_codeowners.py ci-check
  language: python
  pass_filenames: false

check-rules-yml:
  name: Check rules.yml all rules have at lease one job applied, all rules needed exist
  entry: tools/ci/check_rules_yml.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - PyYAML == 5.3.1

check-generated-rules:
  name: Check rules are generated (based on .gitlab/ci/dependencies/dependencies.yml)
  entry: .gitlab/ci/dependencies/generate_rules.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - PyYAML == 5.3.1

mypy-check:
  name: Check type annotations in python files
  entry: tools/ci/check_type_comments.py
  additional_dependencies:
  - mypy==0.800
  - mypy-extensions==0.4.3
  language: python

docs: Fix vscode extension setup links (backport v4.2)
  docs/en/get-started/index.rst
  docs/en/get-started/vscode-setup.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/get-started/vscode-setup.rst
Due: none

tools: fix cmake url
  tools/tools.json
Due: none

components/bt: fix spp memory leak
  components/bt/host/bluedroid/btc/profile/std/spp/btc_spp.c
Due: none

tools: idf_tools.py: allow macOS x86_64 tools to be installed on arm64
  tools/idf_tools.py
Due: mypy-check

wifi_provisioning: Add API to reset state if provisioning fails
  components/wifi_provisioning/include/wifi_provisioning/manager.h
  components/wifi_provisioning/src/manager.c
Due: none

wifi_prov_mgr: Add Kconfig option to restart provisioning
  examples/provisioning/wifi_prov_mgr/main/Kconfig.projbuild
  examples/provisioning/wifi_prov_mgr/main/app_main.c
Due: check-kconfigs

wifi_provisioning: Add check for WIFI_REASON_MIC_FAILURE error code in wifi_prov_mgr_event_handler_internal
  components/wifi_provisioning/src/manager.c
Due: none

tools: install esp32s2 ULP binutils for esp32s3 as well
  tools/tools.json
Due: none

tools: test_idf_tools: fix failing tests and improve readability
  tools/test_idf_tools/test_idf_tools.py
Due: mypy-check

ci: run host tests when tools.json is updated
  .gitlab/ci/rules.yml
Due: check-rules-yml, check-generated-rules

eth2ap: Fix eth2ap example crash issue
  examples/ethernet/eth2ap/main/ethernet_example_main.c
Due: none

esp_http_client: fix truncated headers
  components/esp_http_client/esp_http_client.c
  components/esp_http_client/lib/http_utils.c
  components/esp_http_client/lib/include/http_utils.h
Due: none

esp_http_client: Optimize code structure
  components/esp_http_client/esp_http_client.c
  components/esp_http_client/lib/http_utils.c
  components/esp_http_client/lib/include/http_utils.h
Due: none

ble-wifi-example-tests: Add fixes and cleanups to ble and wifi tests
  examples/bluetooth/nimble/blecent/blecent_test.py
  examples/bluetooth/nimble/blehr/blehr_test.py
  examples/bluetooth/nimble/bleprph/bleprph_test.py
  examples/provisioning/softap_prov/softap_prov_test.py
  tools/ble/lib_ble_client.py
  tools/ble/lib_gap.py
  tools/ble/lib_gatt.py
  tools/ci/python_packages/wifi_tools.py
  tools/esp_prov/transport/ble_cli.py
  tools/esp_prov/transport/transport_http.py
Due: mypy-check

CI: Debug GDB issues
  tools/test_apps/system/panic/test_panic_util/test_panic_util.py
Due: mypy-check

lwip menuconfig option for max number of SNTP servers
  components/lwip/Kconfig
  components/lwip/port/esp32/include/lwipopts.h
Due: check-kconfigs

test: add ethernet iperf example test case
  .gitlab/ci/target-test.yml
  components/idf_test/include/idf_performance.h
  examples/ethernet/iperf/iperf_test.py
  examples/wifi/iperf/iperf_test.py
  tools/ci/python_packages/idf_iperf_test_util/IperfUtility.py
  tools/ci/python_packages/idf_iperf_test_util/requirements.txt
  tools/ci/python_packages/tiny_test_fw/EnvConfig.py
  tools/ci/python_packages/ttfw_idf/requirements.txt
Due: check-rules-yml, mypy-check

Fix install.fish
  install.fish
Due: none

system: fix app cpu core clock gate invalid issue
  components/esp_system/port/cpu_start.c
  components/soc/esp32s3/include/soc/soc_caps.h
Due: none

espcoredump: Update expected output to fix test failures
  components/espcoredump/test/esp32/expected_output
  components/espcoredump/test/esp32s2/expected_output
Due: none

esp_lcd: one-time allcoated buffer for i2c_cmd_link_create_static & reduce duplicated code
  components/esp_lcd/src/esp_lcd_panel_io_i2c.c
Due: none

docs: fix broken link in usb example readme
  examples/peripherals/usb/tusb_sample_descriptor/README.md
Due: none

freemodbus: add affinity option for modbus stack tasks
  components/freemodbus/Kconfig
  components/freemodbus/port/port.h
  components/freemodbus/port/portserial.c
  components/freemodbus/port/portserial_m.c
  components/freemodbus/serial_master/modbus_controller/mbc_serial_master.c
  components/freemodbus/serial_slave/modbus_controller/mbc_serial_slave.c
Due: check-kconfigs

light sleep: modify some sleep params for esp32s3
  components/esp32s3/Kconfig
  components/esp_hw_support/sleep_modes.c
  components/soc/esp32s3/include/soc/rtc.h
Due: check-kconfigs

light sleep: certain peripherals are powered up in sleep
  components/esp_hw_support/sleep_modes.c
Due: none

light sleep: add esp_timer light sleep test case
  components/esp_timer/test/test_esp_timer_light_sleep.c
Due: none

freemodbus: add affinity option for modbus stack tasks
  components/freemodbus/Kconfig
  components/freemodbus/port/port.h
  components/freemodbus/port/portserial.c
Due: check-kconfigs

Tools: Fixed typo in idf_tools.py
  tools/idf_tools.py
Due: mypy-check

docs: Fix ADC pad and MOSI typo, update esp32c3 rom elf link
  docs/en/api-guides/core_dump.rst
  docs/en/api-guides/ulp_instruction_set.rst
  docs/en/api-reference/peripherals/spi_slave.rst
Due: none

freemodbus: fix mb zero based reg address in the iterator
  components/freemodbus/common/esp_modbus_slave.c
  examples/protocols/modbus/serial/mb_slave/main/slave.c
Due: none

versions: Update version to 4.1.2
  components/esp_common/include/esp_idf_version.h
  make/version.mk
  tools/cmake/version.cmake
Due: cmake-lint

adc: support adc2 working with WiFi
  components/driver/adc_common.c
  components/driver/esp32c3/adc.c
  components/hal/adc_hal.c
  components/hal/esp32c3/adc_hal.c
  components/hal/esp32c3/include/hal/adc_hal.h
  components/hal/esp32s2/adc_hal.c
  components/hal/esp32s2/include/hal/adc_hal.h
  components/hal/include/hal/adc_hal.h
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/soc_caps.h
Due: none

adc: refactor adc2 single read with wifi test
  components/driver/test/test_adc2_with_wifi.c
Due: none

adc: temporarily disable adc2 wifi test pending on s3 adc calibration
  components/driver/test/test_adc2_with_wifi.c
Due: none

test: add an SPI dual board test for master FD DMA single directions test
  .gitlab/ci/target-test.yml
  components/driver/test/include/test/test_common_spi.h
  components/driver/test/test_common_spi.c
  components/driver/test/test_spi_master.c
  components/driver/test/test_spi_slave_hd.c
Due: check-rules-yml

spi_master: correctly reset spi afifos before DMA transaction starts
  components/hal/spi_hal_iram.c
Due: none

ulp riscv: force cocpu clock on to prevent spurious cocpu trap resets
  components/ulp/ulp_riscv.c
Due: none

essl: use esp_check in essp spi driver
  components/esp_serial_slave_link/essl_spi.c
Due: none

essl: add essl spi support to communicate with spi slave hd mode
  components/driver/spi_master.c
  components/esp_serial_slave_link/essl.c
  components/esp_serial_slave_link/essl_spi.c
  components/esp_serial_slave_link/include/esp_serial_slave_link/essl.h
  components/esp_serial_slave_link/include/esp_serial_slave_link/essl_spi.h
Due: none

Path conditions:
  check-kconfigs: any of: ^Kconfig$|Kconfig.*$
  check-deprecated-kconfigs-options: any of: sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$
  cmake-lint: any of: CMakeLists.txt$|\.cmake$, but not: \/third_party\/
  check-codeowners: any of: \.gitlab/CODEOWNERS
  check-rules-yml: any of: \.gitlab/ci/.+\.yml|\.gitlab-ci.yml
  check-generated-rules: any of: \.gitlab/ci/dependencies/.+|\.gitlab/ci/rules\.yml
  mypy-check: any of: \.py$
