Repository espressif/esp-idf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners, check-rules-yml, check-generated-rules, mypy-check

check-kconfigs:
  name: Validate Kconfig files
  entry: tools/ci/check_kconfigs.py
  language: python

check-deprecated-kconfigs-options:
  name: Check if any Kconfig Options Deprecated
  entry: tools/ci/check_deprecated_kconfigs.py
  language: python

cmake-lint:
  name: Check CMake Files Format
  entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
  language: python
  additional_dependencies:
  - cmakelint==1.4.1

check-codeowners:
  name: Validate Codeowner File
  entry: tools/ci/check_codeowners.py ci-check
  language: python
  pass_filenames: false

check-rules-yml:
  name: Check rules.yml all rules have at lease one job applied, all rules needed exist
  entry: tools/ci/check_rules_yml.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - PyYAML == 5.3.1

check-generated-rules:
  name: Check rules are generated (based on .gitlab/ci/dependencies/dependencies.yml)
  entry: .gitlab/ci/dependencies/generate_rules.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - PyYAML == 5.3.1

mypy-check:
  name: Check type annotations in python files
  entry: tools/ci/check_type_comments.py
  additional_dependencies:
  - mypy==0.800
  - mypy-extensions==0.4.3
  language: python

adc: make adc single api only build pm lock on s2
  components/driver/adc_common.c
Due: none

spiram: add getter function to check psram initialization state
  components/esp_hw_support/Kconfig.spiram.common
  components/esp_hw_support/component.mk
  components/esp_hw_support/include/soc/esp32s2/spiram.h
  components/esp_hw_support/include/soc/esp32s3/spiram.h
  components/esp_hw_support/port/esp32s2/spiram.c
  components/esp_hw_support/port/esp32s3/spiram.c
Due: check-kconfigs

lcd_cam: new csv header file
  components/esp_lcd/src/esp_lcd_panel_io_i80.c
  components/esp_lcd/src/esp_lcd_rgb_panel.c
  components/hal/esp32s3/include/hal/lcd_ll.h
  components/soc/esp32s3/include/soc/lcd_cam_reg.h
  components/soc/esp32s3/include/soc/lcd_cam_struct.h
Due: none

lcd: support putting RGB frame buffer in PSRAM
  components/esp_lcd/include/esp_lcd_panel_rgb.h
  components/esp_lcd/src/esp_lcd_rgb_panel.c
  components/esp_lcd/test/test_rgb_panel.c
Due: none

http: Function to get Cookie value from request.
  components/esp_http_server/include/esp_http_server.h
  components/esp_http_server/src/httpd_parse.c
Due: none

spi: Fix wrong target register for interrupt disable
  components/hal/esp32c3/include/hal/spi_ll.h
  components/hal/esp32s3/include/hal/spi_ll.h
Due: none

docs/add_esp32-s2-devkitc-1_user_guide
  docs/_static/esp32-s2-devkitc-1-v1-annotated-photo.png
  docs/_static/esp32-s2-devkitc-1-v1-block-diags.png
  docs/_static/esp32-s2-devkitc-1-v1-isometric.png
  docs/_static/esp32-s2-devkitc-1-v1-pinout.png
  docs/en/get-started/index.rst
  docs/en/hw-reference/esp32s2/user-guide-s2-devkitc-1.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-s2-devkitc-1.rst
Due: none

esp_wifi_mesh: add non mesh connections access
  components/esp_wifi/include/esp_mesh.h
  components/esp_wifi/include/esp_wifi_types.h
  examples/mesh/internal_communication/main/Kconfig.projbuild
  examples/mesh/internal_communication/main/mesh_main.c
  examples/mesh/ip_internal_network/main/Kconfig.projbuild
  examples/mesh/ip_internal_network/main/mesh_main.c
  examples/mesh/manual_networking/main/Kconfig.projbuild
  examples/mesh/manual_networking/main/mesh_main.c
Due: check-kconfigs

doc/secure_boot_v2: Fix the steps mentioned for enabling secure boot
  docs/en/security/secure-boot-v2.rst
Due: none

Fixed ESP32 BLE can't resolve the peer address when enable white list
  components/bt/host/bluedroid/common/include/common/bt_target.h
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/soc_caps.h
Due: none

espcoredump.py: Parse EPS and EPC register values using register index
  components/espcoredump/corefile/xtensa.py
  tools/test_idf_monitor/tests/core1_out.txt
Due: mypy-check

Remove unused 'yy' variables
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
  components/bt/host/bluedroid/stack/l2cap/l2c_link.c
Due: none

espcoredump.py: Parse EPS and EPC register values using register index
  components/espcoredump/espcoredump.py
Due: mypy-check

spi: update examples to use the new GDMA driver
  examples/peripherals/spi_master/hd_eeprom/main/spi_eeprom_main.c
  examples/peripherals/spi_master/lcd/main/spi_master_example_main.c
  examples/peripherals/spi_slave/receiver/main/app_main.c
  examples/peripherals/spi_slave/sender/main/app_main.c
Due: none

[nvs_flash]: Entries with state == 1 don't crash
  components/nvs_flash/host_test/fixtures/test_fixtures.hpp
  components/nvs_flash/host_test/nvs_page_test/main/nvs_page_test.cpp
  components/nvs_flash/src/nvs_item_hash_list.cpp
  components/nvs_flash/src/nvs_item_hash_list.hpp
  components/nvs_flash/src/nvs_page.cpp
  components/nvs_flash/src/nvs_page.hpp
  components/nvs_flash/test_nvs_host/test_nvs.cpp
  components/spi_flash/mock/mock_config.yaml
Due: none

MCPWM: expose API to set timer resolution
  components/driver/include/driver/mcpwm.h
  components/driver/mcpwm.c
  components/driver/test/test_pwm.c
  components/hal/esp32/include/hal/mcpwm_ll.h
  components/hal/esp32s3/include/hal/mcpwm_ll.h
  docs/en/api-reference/peripherals/mcpwm.rst
Due: none

docs: self host docs
  .gitlab-ci.yml
  README.md
  docs/Doxyfile
  docs/_static/espressif2.pdf
  docs/_static/get-started-garbled-output.png
  docs/conf_common.py
  docs/en/conf.py
  docs/en/get-started-cmake/index.rst
  docs/en/get-started/index.rst
  docs/gen-version-specific-includes.py
  docs/get_github_rev.py
  docs/latex_builder.py
  docs/latex_templates/espidf.sty
  docs/latex_templates/preamble.tex
  docs/latex_templates/titlepage.tex
  docs/link-roles.py
  docs/requirements.txt
  docs/sanitize_version.py
  docs/zh_CN/api-guides/unit-tests-cmake.rst
  docs/zh_CN/api-guides/unit-tests.rst
  docs/zh_CN/conf.py
  docs/zh_CN/get-started-cmake/index.rst
  docs/zh_CN/get-started/index.rst
  tools/ci/deploy_docs.py
  tools/ci/executable-list.txt
Due: check-rules-yml, mypy-check

esp_common: add a case to test EXT_RAM_ATTR attribute
  components/esp_common/test/test_attr.c
Due: none

docs: add docs to .bss and .noinit segments on spiram
  docs/en/api-guides/external-ram.rst
  docs/en/api-guides/memory-types.rst
  docs/zh_CN/api-guides/external-ram.rst
Due: none

ci: enable external bss and external noinit test cases
  tools/unit-test-app/configs/psram
Due: none

ULP: reduce max possible memory reserved for ULP coprocessor
  components/esp32/Kconfig
  components/esp32s2/Kconfig
  components/esp32s3/Kconfig
Due: check-kconfigs

bootloader: fix verify_load_addresses wrongly reporting "bad load address range"
  components/bootloader_support/src/esp_image_format.c
Due: none

spi_flash: add support for ext flash
  .gitlab/ci/target-test.yml
  components/hal/esp32c3/include/hal/gpspi_flash_ll.h
  components/hal/esp32h2/include/hal/gpspi_flash_ll.h
  components/hal/esp32s2/include/hal/gpspi_flash_ll.h
  components/hal/esp32s3/include/hal/gpspi_flash_ll.h
  components/hal/spi_flash_hal_common.inc
  components/soc/esp32s3/include/soc/spi_caps.h
  components/soc/esp32s3/spi_periph.c
  components/spi_flash/test/test_esp_flash.c
  tools/unit-test-app/configs/rom_options_s3
Due: check-rules-yml

usb_serial_jtag: enable blocking implementation on esp32s3
  components/driver/CMakeLists.txt
  components/driver/usb_serial_jtag.c
  components/hal/esp32c3/include/hal/usb_serial_jtag_ll.h
  components/soc/esp32c3/include/soc/periph_defs.h
  components/soc/esp32s3/include/soc/periph_defs.h
Due: cmake-lint

regi2c: add a spinlock for accessing (reg)I2C devices
  components/soc/CMakeLists.txt
  components/soc/component.mk
  components/soc/esp32/i2c_rtc_clk.h
  components/soc/esp32s2beta/i2c_rtc_clk.h
  components/soc/src/regi2c_ctrl.c
Due: cmake-lint

esp_wifi: fix some wifi bugs
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
  components/esp_wifi/include/esp_wifi.h
Due: none

bugfix fix some wifi bugs for 4.3
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_wifi/include/esp_wifi.h
Due: none

fix esp32-c3 usb connect pin number
  docs/en/api-guides/usb-serial-jtag-console.rst
Due: none

lwip: menuconfig option to enable ntp servers option request via DHCP
  components/lwip/Kconfig
  components/lwip/port/esp32/include/lwipopts.h
  examples/protocols/sntp/main/sntp_example_main.c
Due: check-kconfigs

app_update: Expose get_ota_partition_count in header file
  components/app_update/esp_ota_ops.c
  components/app_update/include/esp_ota_ops.h
Due: none

coredump: fix section name parsing in python utility
  components/espcoredump/corefile/elf.py
  tools/ci/mypy_ignore_list.txt
Due: mypy-check

esp_http_client: Support HTTP_EVENT_ERROR event
  components/esp_http_client/esp_http_client.c
Due: none

docs: add OpenThread docs
  docs/doxygen/Doxyfile_common
  docs/en/api-guides/index.rst
  docs/en/api-guides/openthread.rst
  docs/en/api-reference/index.rst
  docs/en/api-reference/network/esp_openthread.rst
  docs/en/api-reference/network/index.rst
  docs/zh_CN/api-guides/index.rst
  docs/zh_CN/api-guides/openthread.rst
  docs/zh_CN/api-reference/network/esp_openthread.rst
  docs/zh_CN/api-reference/network/index.rst
  examples/openthread/ot_br/README.md
Due: none

efuse: Add CUSTOM_MAC address for ESP32-C3/-S2/-S3/-H2
  components/efuse/esp32c3/esp_efuse_table.c
  components/efuse/esp32c3/esp_efuse_table.csv
  components/efuse/esp32c3/include/esp_efuse_table.h
  components/efuse/esp32h2/esp_efuse_table.c
  components/efuse/esp32h2/esp_efuse_table.csv
  components/efuse/esp32h2/include/esp_efuse_table.h
  components/efuse/esp32s2/esp_efuse_table.c
  components/efuse/esp32s2/esp_efuse_table.csv
  components/efuse/esp32s2/include/esp_efuse_table.h
  components/efuse/esp32s3/esp_efuse_table.c
  components/efuse/esp32s3/esp_efuse_table.csv
  components/efuse/esp32s3/include/esp_efuse_table.h
  components/esp_hw_support/include/esp_mac.h
  components/esp_hw_support/mac_addr.c
  docs/en/api-reference/system/inc/espefuse_summary_ESP32-C3.rst
  docs/en/api-reference/system/inc/espefuse_summary_ESP32-S2.rst
  docs/en/api-reference/system/inc/espefuse_summary_ESP32-S3.rst
  docs/en/api-reference/system/system.rst
Due: none

system/security: Memprot bypassing mitigation
  components/esp_system/port/cpu_start.c
Due: none

modify vTaskSwitchContext
  components/freertos/tasks.c
Due: none

Path conditions:
  check-kconfigs: any of: ^Kconfig$|Kconfig.*$
  check-deprecated-kconfigs-options: any of: sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$
  cmake-lint: any of: CMakeLists.txt$|\.cmake$, but not: \/third_party\/
  check-codeowners: any of: \.gitlab/CODEOWNERS
  check-rules-yml: any of: \.gitlab/ci/.+\.yml|\.gitlab-ci.yml
  check-generated-rules: any of: \.gitlab/ci/dependencies/.+|\.gitlab/ci/rules\.yml
  mypy-check: any of: \.py$
