Repository espressif/esp-idf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners, check-rules-yml, check-generated-rules, mypy-check

check-kconfigs:
  name: Validate Kconfig files
  entry: tools/ci/check_kconfigs.py
  language: python

check-deprecated-kconfigs-options:
  name: Check if any Kconfig Options Deprecated
  entry: tools/ci/check_deprecated_kconfigs.py
  language: python

cmake-lint:
  name: Check CMake Files Format
  entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
  language: python
  additional_dependencies:
  - cmakelint==1.4.1

check-codeowners:
  name: Validate Codeowner File
  entry: tools/ci/check_codeowners.py ci-check
  language: python
  pass_filenames: false

check-rules-yml:
  name: Check rules.yml all rules have at lease one job applied, all rules needed exist
  entry: tools/ci/check_rules_yml.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - PyYAML == 5.3.1

check-generated-rules:
  name: Check rules are generated (based on .gitlab/ci/dependencies/dependencies.yml)
  entry: .gitlab/ci/dependencies/generate_rules.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - PyYAML == 5.3.1

mypy-check:
  name: Check type annotations in python files
  entry: tools/ci/check_type_comments.py
  additional_dependencies:
  - mypy==0.800
  - mypy-extensions==0.4.3
  language: python

bugfix:Set address resolution enable. If not set enable and the filter policy is 2 or 3, the controller will reply with invalid param error.
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
Due: none

mdns: Fix of crash when wifi interface get deleted and mdns receives the packets
  components/mdns/mdns.c
Due: none

HCD: Fix multiple bugs
  components/hal/include/hal/usbh_hal.h
  components/hal/usbh_hal.c
  components/usb/hcd.c
Due: none

ws_client: Fix const correctness in the API config structure
  components/esp_websocket_client/include/esp_websocket_client.h
Due: none

bugfix:Set address resolution enable. If not set enable and the filter policy is 2 or 3, the controller will reply with invalid param error.
  components/bt/bluedroid/stack/btm/btm_ble_gap.c
Due: none

hal/emac_hal: refactord emac_hal
  components/esp_eth/include/esp_eth_com.h
  components/esp_eth/src/esp_eth_mac_esp.c
  components/hal/CMakeLists.txt
  components/hal/component.mk
  components/hal/emac_hal.c
  components/hal/esp32/emac_hal.c
  components/hal/esp32/include/hal/emac_ll.h
  components/hal/include/hal/emac_hal.h
  components/hal/include/hal/eth_types.h
  docs/doxygen/Doxyfile_common
Due: cmake-lint

test: support multiple targets for iperf example test
  examples/wifi/iperf/iperf_test.py
  examples/wifi/iperf/sdkconfig.ci.99
Due: check-deprecated-kconfigs-options, mypy-check

ci: save built binaries could be tested locally:
  tools/ci/python_packages/ttfw_idf/CIScanTests.py
Due: mypy-check

ttfw: fix DUT exception not added to junit report
  tools/ci/python_packages/tiny_test_fw/TinyFW.py
  tools/ci/python_packages/ttfw_idf/IDFDUT.py
Due: mypy-check

example: set PMF capable to connect to PMF required APs
  examples/wifi/iperf/main/cmd_wifi.c
Due: none

docs: Fix vscode extension setup links (backport v4.3)
  docs/en/get-started/index.rst
  docs/en/get-started/vscode-setup.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/get-started/vscode-setup.rst
Due: none

bt: use generic SPIRAM config option for memory alloc policy
  components/bt/esp_ble_mesh/Kconfig.in
  components/bt/host/nimble/Kconfig.in
Due: check-kconfigs

mbedtls: Allow external mem alloc for ESP32-S2
  components/mbedtls/Kconfig
Due: check-kconfigs

secure boot doc: Clarify limits for verifying signed updates without secure boot
  docs/en/security/secure-boot-v2.rst
Due: none

esp_netif: Fix failing ppp_set_auth() due to wrong arg check
  components/esp_netif/lwip/esp_netif_lwip_ppp.c
Due: none

versions: Update version to 4.2.2
  components/esp_common/include/esp_idf_version.h
  make/version.mk
  tools/cmake/version.cmake
Due: cmake-lint

ci: fix iperf basic test not running issue
  .gitlab-ci.yml
Due: check-rules-yml

ulp: Fix bug where ULP linker script not regenerated for new config
  components/ulp/cmake/CMakeLists.txt
  components/ulp/project_include.cmake
Due: cmake-lint

ble_mesh: stack: Add check the value of Provisioning Random & Confirmation sent and received by provisioner
  components/bt/esp_ble_mesh/mesh_core/provisioner_prov.c
Due: none

mdns: allow explicit txt value length
  components/mdns/include/mdns.h
  components/mdns/mdns.c
  components/mdns/private_include/mdns_private.h
  examples/protocols/mdns/main/mdns_example_main.c
Due: none

docs/add_how_to_debug_ota_failure_to_api_references
  docs/_static/how-to-debug-when-OTA-fails-cn.png
  docs/_static/how-to-debug-when-OTA-fails-en.png
  docs/en/api-reference/system/ota.rst
  docs/zh_CN/api-reference/system/ota.rst
Due: none

CI: Prepare mqtt app test for QEMU tests
  tools/test_apps/protocols/mqtt/publish_connect_test/app_test.py
  tools/test_apps/protocols/mqtt/publish_connect_test/sdkconfig.qemu
Due: check-deprecated-kconfigs-options, mypy-check

sdio_slave: allow getting end of frame information
  components/driver/include/driver/sdio_slave.h
  components/driver/sdio_slave.c
  components/esp_common/include/esp_err.h
  components/esp_serial_slave_link/include/esp_serial_slave_link/essl.h
  docs/en/api-reference/peripherals/sdio_slave.rst
  examples/peripherals/sdio/slave/main/app_main.c
Due: none

sdio_slave: format source file
  components/driver/sdio_slave.c
Due: none

ci: adjust spi_flash performance value according to more test data
  components/idf_test/include/esp32/idf_performance_target.h
  components/idf_test/include/esp32c3/idf_performance_target.h
  components/idf_test/include/esp32s2/idf_performance_target.h
  components/idf_test/include/esp32s3/idf_performance_target.h
  components/idf_test/include/idf_performance.h
  components/spi_flash/test/test_esp_flash.c
Due: none

esp_wifi: fix amsdu & fragment vulnerabilities
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
Due: none

ldgen: allow checking mappings
  tools/ldgen/generation.py
  tools/ldgen/ldgen.py
Due: mypy-check

ci: enabled ldgen mapping check in ci
  components/spi_flash/linker.lf
  tools/ci/check_ldgen_mapping_exceptions.txt
  tools/ci/config/build.yml
  tools/cmake/ldgen.cmake
  tools/ldgen/generation.py
Due: cmake-lint, mypy-check

ldgen: fix sections info parsing
  tools/ldgen/generation.py
  tools/ldgen/test/data/sections.info
  tools/ldgen/test/data/sections_parse.info
  tools/ldgen/test/test_generation.py
Due: mypy-check

ci: exempt upstream libmbedtls mapping for sha256
  components/espcoredump/linker.lf
  tools/ci/check_ldgen_mapping_exceptions.txt
Due: none

driver/timer: only re-enable alarm in callback when auto reload is true
  components/driver/timer.c
Due: none

components: fix ldgen check errors
  components/app_trace/linker.lf
  components/esp_system/linker.lf
  components/freertos/linker.lf
  components/heap/linker.lf
  components/lwip/linker.lf
  components/soc/linker.lf
  components/soc/soc/esp32s2/rtc_periph.c
  components/xtensa/linker.lf
  tools/ci/check_ldgen_mapping_exceptions.txt
  tools/ci/config/build.yml
Due: none

Path conditions:
  check-kconfigs: any of: ^Kconfig$|Kconfig.*$
  check-deprecated-kconfigs-options: any of: sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$
  cmake-lint: any of: CMakeLists.txt$|\.cmake$, but not: \/third_party\/
  check-codeowners: any of: \.gitlab/CODEOWNERS
  check-rules-yml: any of: \.gitlab/ci/.+\.yml|\.gitlab-ci.yml
  check-generated-rules: any of: \.gitlab/ci/dependencies/.+|\.gitlab/ci/rules\.yml
  mypy-check: any of: \.py$
