Repository espressif/esp-idf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners, check-rules-yml, check-generated-rules, mypy-check

check-kconfigs:
  name: Validate Kconfig files
  entry: tools/ci/check_kconfigs.py
  language: python

check-deprecated-kconfigs-options:
  name: Check if any Kconfig Options Deprecated
  entry: tools/ci/check_deprecated_kconfigs.py
  language: python

cmake-lint:
  name: Check CMake Files Format
  entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
  language: python
  additional_dependencies:
  - cmakelint==1.4.1

check-codeowners:
  name: Validate Codeowner File
  entry: tools/ci/check_codeowners.py ci-check
  language: python
  pass_filenames: false

check-rules-yml:
  name: Check rules.yml all rules have at lease one job applied, all rules needed exist
  entry: tools/ci/check_rules_yml.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - PyYAML == 5.3.1

check-generated-rules:
  name: Check rules are generated (based on .gitlab/ci/dependencies/dependencies.yml)
  entry: .gitlab/ci/dependencies/generate_rules.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - PyYAML == 5.3.1

mypy-check:
  name: Check type annotations in python files
  entry: tools/ci/check_type_comments.py
  additional_dependencies:
  - mypy==0.800
  - mypy-extensions==0.4.3
  language: python

freemodbus: add affinity option for modbus stack tasks
  components/freemodbus/Kconfig
  components/freemodbus/port/port.h
  components/freemodbus/port/portserial.c
  components/freemodbus/port/portserial_m.c
  components/freemodbus/serial_master/modbus_controller/mbc_serial_master.c
  components/freemodbus/serial_slave/modbus_controller/mbc_serial_slave.c
Due: check-kconfigs

spi_flash: state that esp_partition_iterator_release allows NULL arg
  components/spi_flash/include/esp_partition.h
Due: none

docs: remove "invisible" unicode character that failed PDF build.
  docs/zh_CN/api-guides/build-system.rst
Due: none

docs: core components description
  components/README.md
Due: none

docs: Updated protocols/http* examples READMEs
  examples/protocols/http2_request/README.md
  examples/protocols/http_request/README.md
  examples/protocols/http_server/advanced_tests/README.md
  examples/protocols/http_server/file_serving/README.md
  examples/protocols/http_server/persistent_sockets/README.md
  examples/protocols/http_server/simple/README.md
  examples/protocols/https_mbedtls/README.md
  examples/protocols/https_request/README.md
  examples/protocols/https_server/simple/README.md
  examples/protocols/https_server/wss_server/README.md
  examples/protocols/https_x509_bundle/README.md
Due: none

pcap: refactor and move to common components
  examples/common_components/pcap/CMakeLists.txt
  examples/common_components/pcap/component.mk
  examples/common_components/pcap/include/pcap.h
  examples/common_components/pcap/src/pcap.c
  examples/network/simple_sniffer/components/pcap/CMakeLists.txt
  examples/network/simple_sniffer/components/pcap/component.mk
  examples/network/simple_sniffer/components/pcap/pcap.c
  examples/network/simple_sniffer/components/pcap/pcap.h
Due: cmake-lint

usb: Add usb_phy driver to support operations on USB PHY
  components/hal/CMakeLists.txt
  components/hal/component.mk
  components/hal/esp32s2/include/hal/usb_phy_ll.h
  components/hal/esp32s3/include/hal/usb_phy_ll.h
  components/hal/include/hal/usb_phy_hal.h
  components/hal/include/hal/usb_phy_types.h
  components/hal/usb_phy_hal.c
  components/soc/esp32s2/CMakeLists.txt
  components/soc/esp32s2/usb_phy_periph.c
  components/soc/esp32s3/CMakeLists.txt
  components/soc/esp32s3/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/usb_wrap_struct.h
  components/soc/esp32s3/usb_phy_periph.c
  components/soc/include/soc/usb_phy_periph.h
  components/tinyusb/CMakeLists.txt
  components/usb/CMakeLists.txt
  components/usb/include/esp_private/usb_phy.h
  components/usb/usb_phy.c
Due: cmake-lint

console: fix a bug preventing us from starting a CLI on non-default UART
  components/console/esp_console_repl.c
  components/console/linenoise/linenoise.c
  components/console/linenoise/linenoise.h
  examples/peripherals/uart/uart_repl/CMakeLists.txt
  examples/peripherals/uart/uart_repl/Makefile
  examples/peripherals/uart/uart_repl/README.md
  examples/peripherals/uart/uart_repl/main/CMakeLists.txt
  examples/peripherals/uart/uart_repl/main/component.mk
  examples/peripherals/uart/uart_repl/main/uart_repl_example_main.c
Due: cmake-lint

flash_encryption: Quick fixed the issue that block when flash_encryption_write, Related https://github.com/espressif/esp-idf/issues/6322, Related https://github.com/espressif/esp-idf/issues/6254
  components/esp_rom/include/esp32/rom/spi_flash.h
  components/spi_flash/flash_ops.c
  tools/ci/config/target-test.yml
  tools/unit-test-app/configs/flash_encryption_psram
Due: none

lcd: add lvgl demo ui
  examples/peripherals/lcd/lvgl/main/CMakeLists.txt
  examples/peripherals/lcd/lvgl/main/images/esp_logo.c
  examples/peripherals/lcd/lvgl/main/images/esp_logo.png
  examples/peripherals/lcd/lvgl/main/images/esp_text.c
  examples/peripherals/lcd/lvgl/main/images/esp_text.png
  examples/peripherals/lcd/lvgl/main/lvgl_demo_ui.c
Due: cmake-lint

lcd: lvgl porting example
  examples/peripherals/lcd/lvgl/CMakeLists.txt
  examples/peripherals/lcd/lvgl/README.md
  examples/peripherals/lcd/lvgl/main/CMakeLists.txt
  examples/peripherals/lcd/lvgl/main/idf_component.yml
  examples/peripherals/lcd/lvgl/main/lvgl_demo_ui.c
  examples/peripherals/lcd/lvgl/main/lvgl_example_main.c
  examples/peripherals/lcd/lvgl/sdkconfig.defaults
  examples/peripherals/lcd/tjpgd/README.md
  tools/ci/check_examples_cmake_make-cmake_ignore.txt
Due: check-deprecated-kconfigs-options, cmake-lint

simple_sniffer: can store packets in memory
  examples/network/simple_sniffer/CMakeLists.txt
  examples/network/simple_sniffer/Makefile
  examples/network/simple_sniffer/README.md
  examples/network/simple_sniffer/example_test.py
  examples/network/simple_sniffer/main/CMakeLists.txt
  examples/network/simple_sniffer/main/Kconfig.projbuild
  examples/network/simple_sniffer/main/cmd_pcap.c
  examples/network/simple_sniffer/main/cmd_pcap.h
  examples/network/simple_sniffer/main/cmd_sniffer.c
  examples/network/simple_sniffer/main/cmd_sniffer.h
  examples/network/simple_sniffer/main/simple_sniffer_example_main.c
  examples/network/simple_sniffer/sdkconfig.ci.mem
Due: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, mypy-check

esp_wifi: Fix interoperability issue with windows 2008
  components/wpa_supplicant/src/crypto/tls_mbedtls.c
Due: none

wpa_supplicant: Update internal tls client with sha384/sha512 support
  components/wpa_supplicant/CMakeLists.txt
  components/wpa_supplicant/src/crypto/sha384-internal.c
  components/wpa_supplicant/src/crypto/sha384_i.h
  components/wpa_supplicant/src/crypto/sha512-internal.c
  components/wpa_supplicant/src/crypto/sha512_i.h
  components/wpa_supplicant/src/tls/x509v3.c
Due: cmake-lint

Add Esp32s3 to the coredump component. Add changed expected_output for esp32, esp32s2 and esp32c3. coredump tag update.
  .gitlab/ci/host-test.yml
  components/espcoredump/corefile/__init__.py
  components/espcoredump/corefile/loader.py
  components/espcoredump/corefile/soc_headers/esp32s3.py
  components/espcoredump/corefile/xtensa.py
  components/espcoredump/src/port/xtensa/core_dump_port.c
  components/espcoredump/test/esp32/coredump.b64
  components/espcoredump/test/esp32/expected_output
  components/espcoredump/test/esp32c3/coredump.b64
  components/espcoredump/test/esp32c3/expected_output
  components/espcoredump/test/esp32s2/coredump.b64
  components/espcoredump/test/esp32s2/expected_output
  components/espcoredump/test/esp32s3/core.elf
  components/espcoredump/test/esp32s3/coredump.b64
  components/espcoredump/test/esp32s3/expected_output
  components/espcoredump/test/test_espcoredump.sh
  components/espcoredump/test_apps/build_espcoredump.sh
Due: check-rules-yml, mypy-check

Power Management: add RTC8M power domain to control whether internal 8m oscillator is powered down during sleep
  components/esp_hw_support/include/esp_sleep.h
  components/esp_hw_support/port/esp32/rtc_sleep.c
  components/esp_hw_support/port/esp32c3/rtc_sleep.c
  components/esp_hw_support/port/esp32s2/rtc_sleep.c
  components/esp_hw_support/port/esp32s3/rtc_sleep.c
  components/esp_hw_support/sleep_modes.c
  components/soc/esp32/include/soc/rtc.h
  components/soc/esp32c3/include/soc/rtc.h
  components/soc/esp32h2/include/soc/rtc.h
  components/soc/esp32s2/include/soc/rtc.h
  components/soc/esp32s3/include/soc/rtc.h
Due: none

docs: udpate devkitc and wrover-kit boards
  docs/en/hw-reference/esp32/get-started-devkitc.rst
  docs/en/hw-reference/esp32/get-started-wrover-kit.rst
  docs/zh_CN/hw-reference/esp32/get-started-devkitc.rst
  docs/zh_CN/hw-reference/esp32/get-started-wrover-kit.rst
Due: none

esp_hw_support: update esp32s3 chip ID to the MP version
  components/esp_hw_support/include/esp_chip_info.h
  components/espcoredump/corefile/loader.py
Due: mypy-check

uart: Add missing critical section wrappers around rx_buffered_len
  components/driver/uart.c
Due: none

Alteration of generic_gpio
  examples/peripherals/gpio/generic_gpio_arduino_ready_variant/generic_gpio_arduino_ready_variant.ino
Due: none

freertos: updated the location of FreeRTOSConfig.h
  components/freertos/CMakeLists.txt
  components/freertos/component.mk
  components/freertos/include/esp_additions/freertos/FreeRTOSConfig.h
  components/freertos/include/freertos/FreeRTOS.h
  components/freertos/port/linux/include/freertos/FreeRTOSConfig_arch.h
  components/freertos/port/riscv/include/freertos/FreeRTOSConfig_arch.h
  components/freertos/port/xtensa/include/freertos/FreeRTOSConfig_arch.h
  components/lwip/test_afl_host/Makefile
  tools/mocks/freertos/CMakeLists.txt
Due: cmake-lint

docs: Fix ADC pad and MOSI typo, update esp32c3 rom elf link
  docs/en/api-guides/core_dump.rst
  docs/en/api-guides/ulp_instruction_set.rst
  docs/en/api-reference/peripherals/spi_slave.rst
Due: none

docs: Fix ADC pad and MOSI typo, update esp32c3 rom elf link
  docs/en/api-guides/ulp_instruction_set.rst
  docs/en/api-reference/peripherals/spi_slave.rst
Due: none

adc: add an example of using ADC Single Read driver and ADC Calibration driver
  examples/peripherals/adc/single_read/single_read/CMakeLists.txt
  examples/peripherals/adc/single_read/single_read/Makefile
  examples/peripherals/adc/single_read/single_read/README.md
  examples/peripherals/adc/single_read/single_read/main/CMakeLists.txt
  examples/peripherals/adc/single_read/single_read/main/component.mk
  examples/peripherals/adc/single_read/single_read/main/single_read.c
Due: cmake-lint

adc: add a ut for calibration speed
  components/driver/test/test_adc.c
Due: none

adc: support adc efuse-based calibration on esp32s3
  components/driver/adc_common.c
  components/driver/esp32s2/adc.c
  components/efuse/esp32s3/esp_efuse_fields.c
  components/efuse/esp32s3/esp_efuse_rtc_calib.c
  components/efuse/esp32s3/esp_efuse_table.c
  components/efuse/esp32s3/esp_efuse_table.csv
  components/efuse/esp32s3/include/esp_efuse_rtc_calib.h
  components/efuse/esp32s3/include/esp_efuse_table.h
  components/efuse/esp32s3/sources.cmake
  components/esp_adc_cal/CMakeLists.txt
  components/esp_adc_cal/component.mk
  components/esp_adc_cal/esp_adc_cal_esp32.c
  components/esp_adc_cal/esp_adc_cal_esp32c3.c
  components/esp_adc_cal/esp_adc_cal_esp32s2.c
  components/esp_adc_cal/esp_adc_cal_esp32s3.c
  components/esp_adc_cal/include/esp_adc_cal.h
  components/esp_hw_support/port/esp32s3/private_include/regi2c_lp_bias.h
  components/esp_hw_support/port/esp32s3/private_include/regi2c_saradc.h
  components/esp_hw_support/port/esp32s3/regi2c_ctrl.h
  components/esp_hw_support/port/esp32s3/rtc_init.c
  components/esp_hw_support/test/test_rtc_clk.c
  components/esp_system/port/soc/esp32s3/clk.c
  components/hal/adc_hal.c
  components/hal/esp32s3/include/hal/adc_ll.h
  components/hal/include/hal/adc_hal.h
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/soc_caps.h
  components/soc/include/soc/adc_periph.h
  components/soc/include/soc/rtc_io_periph.h
Due: cmake-lint

Add a note to ESP32-DevKtiM-1 User Guide, to enable single core mode Add new module variants for ESP32-DevKitM-1 and ESP32-PICO-DevKitM-02 boards Replace Ordering Information globally
  docs/en/get-started/index.rst
  docs/en/hw-reference/esp32/get-started-devkitc.rst
  docs/en/hw-reference/esp32/get-started-pico-devkitm-2.rst
  docs/en/hw-reference/esp32/get-started-pico-kit-1.rst
  docs/en/hw-reference/esp32/user-guide-devkitm-1.rst
  docs/en/hw-reference/esp32/user-guide-devkits-r-v1.1.rst
  docs/en/hw-reference/esp32c3/user-guide-devkitc-02.rst
  docs/en/hw-reference/esp32c3/user-guide-devkitm-1.rst
  docs/en/hw-reference/esp32s2/user-guide-devkitm-1-v1.rst
  docs/en/hw-reference/esp32s2/user-guide-esp32-s2-kaluga-1-kit-v1.2.rst
  docs/en/hw-reference/esp32s2/user-guide-esp32-s2-kaluga-1-kit.rst
  docs/en/hw-reference/esp32s2/user-guide-saola-1-v1.2.rst
  docs/en/hw-reference/index.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/hw-reference/esp32/get-started-devkitc.rst
  docs/zh_CN/hw-reference/esp32/get-started-pico-devkitm-2.rst
  docs/zh_CN/hw-reference/esp32/get-started-pico-kit-1.rst
  docs/zh_CN/hw-reference/esp32/user-guide-devkitm-1.rst
  docs/zh_CN/hw-reference/esp32/user-guide-devkits-r-v1.1.rst
  docs/zh_CN/hw-reference/esp32c3/user-guide-devkitc-02.rst
  docs/zh_CN/hw-reference/esp32c3/user-guide-devkitm-1.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-devkitm-1-v1.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-esp32-s2-kaluga-1-kit-v1.2.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-saola-1-v1.2.rst
  docs/zh_CN/hw-reference/index.rst
Due: none

cbor: build system cleanup
  components/cbor/CMakeLists.txt
  components/cbor/component.mk
Due: cmake-lint

ota: fix ota with flash encryption
  components/spi_flash/flash_ops.c
  tools/ci/config/target-test.yml
  tools/unit-test-app/configs/flash_encryption_psram
Due: none

efuse: Fix len of SOFT_DIS_JTAG for esp32c3(v4.3)
  components/bootloader_support/src/esp32c3/secure_boot.c
  components/bootloader_support/src/esp32s3/secure_boot.c
  components/efuse/esp32c3/esp_efuse_table.c
  components/efuse/esp32c3/esp_efuse_table.csv
  components/efuse/esp32c3/include/esp_efuse_table.h
  docs/en/api-reference/system/inc/espefuse_summary_ESP32-C3.rst
  docs/en/api-reference/system/inc/espefuse_summary_ESP32-S3.rst
  tools/ci/config/host-test.yml
Due: none

fixed invalid taskEXIT_CRITICAL
  components/freertos/tasks.c
Due: none

esp_eth: add PHY loopback control via esp_eth_ioctl
  components/esp_eth/include/esp_eth.h
  components/esp_eth/include/esp_eth_com.h
  components/esp_eth/include/esp_eth_phy.h
  components/esp_eth/src/esp_eth.c
  components/esp_eth/src/esp_eth_phy_dm9051.c
  components/esp_eth/src/esp_eth_phy_dp83848.c
  components/esp_eth/src/esp_eth_phy_ip101.c
  components/esp_eth/src/esp_eth_phy_ksz80xx.c
  components/esp_eth/src/esp_eth_phy_ksz8851snl.c
  components/esp_eth/src/esp_eth_phy_lan87xx.c
  components/esp_eth/src/esp_eth_phy_rtl8201.c
  components/esp_eth/src/esp_eth_phy_w5500.c
  examples/ethernet/eth2ap/main/ethernet_example_main.c
Due: none

openthread: update openthread submodule
  components/openthread/Kconfig
  components/openthread/private_include/openthread-core-esp32x-ftd-config.h
Due: check-kconfigs

docs: fix docs not being able to be built locally due to missing env variable.
  docs/conf_common.py
Due: mypy-check

ieee802154: add zigbee pending mode and config coordinator function
  components/ieee802154/include/esp_ieee802154.h
  components/ieee802154/include/esp_ieee802154_types.h
Due: none

esp_log: add note about reentrancy for custom logging function
  components/log/include/esp_log.h
Due: none

hmac: Added Downstream JTAG enable mode for esp32c3
  components/esp32c3/esp_hmac.c
  components/esp32c3/include/esp_hmac.h
  components/esp32s2/test/test_hmac.c
  components/soc/esp32c3/include/soc/hwcrypto_reg.h
Due: none

esp32s2/hmac: Release HMAC lock in downstream mode incase of failure
  components/esp32s2/esp_hmac.c
Due: none

Path conditions:
  check-kconfigs: any of: ^Kconfig$|Kconfig.*$
  check-deprecated-kconfigs-options: any of: sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$
  cmake-lint: any of: CMakeLists.txt$|\.cmake$, but not: \/third_party\/
  check-codeowners: any of: \.gitlab/CODEOWNERS
  check-rules-yml: any of: \.gitlab/ci/.+\.yml|\.gitlab-ci.yml
  check-generated-rules: any of: \.gitlab/ci/dependencies/.+|\.gitlab/ci/rules\.yml
  mypy-check: any of: \.py$
