Repository espressif/esp-idf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners, check-rules-yml, check-generated-rules, mypy-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        # note: whitespace exclusions use multiline regex, see https://pre-commit.com/#regular-expressions
        # items are:
        # 1 - some file extensions
        # 2 - any file matching *test*/*expected* (for host tests, if possible use this naming pattern always)
        # 3 - any directory named 'testdata'
        # 4 - IDF monitor test data
        exclude: &whitespace_excludes |
          (?x)^(
            .+\.(md|rst|map|bin)|
            .+test.*\/.*expected.*|
            .+\/testdata\/.+|
            .+test_idf_monitor\/tests\/.+
          )$
      - id: end-of-file-fixer
        exclude: *whitespace_excludes
      - id: check-executables-have-shebangs
      - id: mixed-line-ending
        args: ['-f=lf']
      - id: double-quote-string-fixer
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false
      - id: check-rules-yml
        name: Check rules.yml all rules have at lease one job applied, all rules needed exist
        entry: tools/ci/check_rules_yml.py
        language: python
        files: '\.gitlab/ci/.+\.yml|\.gitlab-ci.yml'
        pass_filenames: false
        additional_dependencies:
          - PyYAML == 5.3.1
      - id: check-generated-rules
        name: Check rules are generated (based on .gitlab/ci/dependencies/dependencies.yml)
        entry: .gitlab/ci/dependencies/generate_rules.py
        language: python
        files: '\.gitlab/ci/dependencies/.+|\.gitlab/ci/rules\.yml'
        pass_filenames: false
        additional_dependencies:
          - PyYAML == 5.3.1
      - id: mypy-check
        name: Check type annotations in python files
        entry: tools/ci/check_type_comments.py
        additional_dependencies: ['mypy==0.800', 'mypy-extensions==0.4.3']
        language: python
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: file-contents-sorter
        files: '(tools\/ci\/executable-list\.txt|tools\/ci\/mypy_ignore_list\.txt)'

mdns: Minor correction of the test code
  components/mdns/test_afl_fuzz_host/test.c
Due: none

CI: Removed weekend network tests
  tools/ci/config/target-test.yml
Due: none

CI: Enable publish tests only when started from weekend pipeline
  tools/ci/config/target-test.yml
  tools/test_apps/protocols/mqtt/publish_connect_test/app_test.py
Due: mypy-check

CI: Prepare mqtt app test for QEMU tests
  tools/test_apps/protocols/mqtt/publish_connect_test/app_test.py
  tools/test_apps/protocols/mqtt/publish_connect_test/sdkconfig.qemu
Due: check-deprecated-kconfigs-options, mypy-check

mdns: Fix crashes reported by the fuzzer
  components/mdns/mdns.c
Due: none

ci: Adds eFuse host test for ESP32-H2 chip
  .gitlab/ci/host-test.yml
Due: check-rules-yml

secure_boot: Whole 3 bits are set for SOFT_DIS_JTAG eFuse
  components/bootloader_support/src/esp32c3/secure_boot_secure_features.c
  components/bootloader_support/src/esp32h2/secure_boot.c
  components/bootloader_support/src/esp32s3/secure_boot_secure_features.c
Due: none

freemodbus: fix uart_wait_tx_done() reenable tx_done interrupt
  components/driver/uart.c
Due: none

espcoredump.py: Parse EPS and EPC register values using register index
  components/espcoredump/corefile/xtensa.py
  tools/test_idf_monitor/tests/core1_out.txt
Due: mypy-check

cmake: sort lists obtained from file(GLOB)
  tools/cmake/build.cmake
  tools/cmake/component.cmake
  tools/cmake/kconfig.cmake
Due: cmake-lint

ci: install CMake version from tools.json in espcoredump test
  .gitlab-ci.yml
  .gitlab/ci/host-test.yml
Due: check-rules-yml

test(coredump): refactor coredump test and add esp32s2/esp32c3 tests
  .gitlab/ci/host-test.yml
  components/espcoredump/test/coredump.b64
  components/espcoredump/test/esp32/coredump.b64
  components/espcoredump/test/esp32/expected_output
  components/espcoredump/test/esp32c3/coredump.b64
  components/espcoredump/test/esp32c3/expected_output
  components/espcoredump/test/esp32s2/coredump.b64
  components/espcoredump/test/esp32s2/expected_output
  components/espcoredump/test/expected_output
  components/espcoredump/test/test.elf
  components/espcoredump/test/test_espcoredump.py
  components/espcoredump/test/test_espcoredump.sh
  components/espcoredump/test_apps/CMakeLists.txt
  components/espcoredump/test_apps/README.md
  components/espcoredump/test_apps/build_espcoredump.sh
  components/espcoredump/test_apps/main/CMakeLists.txt
  components/espcoredump/test_apps/main/test_core_dump.c
  components/espcoredump/test_apps/sdkconfig.defaults
  tools/ci/executable-list.txt
Due: check-deprecated-kconfigs-options, cmake-lint, check-rules-yml, mypy-check

usb: update LL to support PHY selection
  components/esp32s3/ld/esp32s3.peripherals.ld
  components/hal/esp32s3/include/hal/usb_ll.h
Due: none

doc: update tinyusb document to support esp32s3
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/soc_caps.h
  docs/_static/usb-board-connection.png
  docs/conf_common.py
  docs/en/api-guides/index.rst
  docs/en/api-guides/performance/speed.rst
  docs/en/api-reference/peripherals/index.rst
  docs/en/api-reference/peripherals/usb_device.rst
  docs/en/api-reference/system/freertos_additions.rst
  docs/page_redirects.txt
  docs/zh_CN/api-guides/index.rst
  docs/zh_CN/api-reference/peripherals/index.rst
  docs/zh_CN/api-reference/peripherals/usb.rst
  docs/zh_CN/api-reference/peripherals/usb_device.rst
Due: mypy-check

tiny_usb: rename Kconfig name
  components/esp_system/Kconfig
  components/tinyusb/CMakeLists.txt
  components/tinyusb/Kconfig
  components/tinyusb/additions/include/tinyusb.h
  components/tinyusb/additions/include/tinyusb_types.h
  components/tinyusb/additions/include/tusb_config.h
  components/tinyusb/additions/include/tusb_tasks.h
  components/tinyusb/additions/include_private/descriptors_control.h
  components/tinyusb/additions/src/descriptors_control.c
  components/tinyusb/additions/src/tinyusb.c
  components/tinyusb/additions/src/tusb_cdc_acm.c
  components/tinyusb/additions/src/tusb_tasks.c
  components/tinyusb/additions/src/usb_descriptors.c
  components/tinyusb/sdkconfig.rename
  components/usb/CMakeLists.txt
  components/usb/Kconfig
  examples/peripherals/usb/README.md
  examples/peripherals/usb/tusb_console/README.md
  examples/peripherals/usb/tusb_console/sdkconfig.defaults
  examples/peripherals/usb/tusb_sample_descriptor/README.md
  examples/peripherals/usb/tusb_sample_descriptor/main/tusb_sample_descriptor_main.c
  examples/peripherals/usb/tusb_sample_descriptor/sdkconfig.defaults
  examples/peripherals/usb/tusb_serial_device/README.md
  examples/peripherals/usb/tusb_serial_device/main/tusb_serial_device_main.c
  examples/peripherals/usb/tusb_serial_device/sdkconfig.defaults
Due: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint

ble_mesh: stack: Fix crash for net_key_del when subnet is NULL
  components/bt/esp_ble_mesh/mesh_core/cfg_srv.c
Due: none

ble_mesh: stack: Make unprovisioned beacon interval configurable.
  components/bt/esp_ble_mesh/Kconfig.in
  components/bt/esp_ble_mesh/mesh_core/beacon.c
Due: check-kconfigs

uart: update register headers and examples for S3
  components/driver/uart.c
  components/hal/esp32s3/include/hal/uart_ll.h
  components/soc/esp32s3/include/soc/uart_reg.h
  components/soc/esp32s3/include/soc/uart_struct.h
  components/vfs/vfs_uart.c
  docs/en/api-reference/peripherals/uart.rst
  examples/peripherals/uart/nmea0183_parser/README.md
  examples/peripherals/uart/nmea0183_parser/main/Kconfig.projbuild
  examples/peripherals/uart/uart_async_rxtxtasks/README.md
  examples/peripherals/uart/uart_echo/README.md
  examples/peripherals/uart/uart_echo/main/Kconfig.projbuild
  examples/peripherals/uart/uart_echo_rs485/README.md
  examples/peripherals/uart/uart_echo_rs485/main/Kconfig.projbuild
  examples/peripherals/uart/uart_events/README.md
  examples/peripherals/uart/uart_select/README.md
Due: check-kconfigs

soc: move peripheral linker scripts out of target component
  components/bootloader/subproject/main/component.mk
  components/esp32/CMakeLists.txt
  components/esp32/component.mk
  components/esp32c3/CMakeLists.txt
  components/esp32h2/CMakeLists.txt
  components/esp32s2/CMakeLists.txt
  components/esp32s3/CMakeLists.txt
  components/soc/CMakeLists.txt
  components/soc/component.mk
  components/soc/esp32/ld/esp32.peripherals.ld
  components/soc/esp32c3/ld/esp32c3.peripherals.ld
  components/soc/esp32h2/ld/esp32h2.peripherals.ld
  components/soc/esp32s2/ld/esp32s2.peripherals.ld
  components/soc/esp32s3/ld/esp32s3.peripherals.ld
Due: cmake-lint

freemodbus: add affinity option for modbus stack tasks
  components/freemodbus/Kconfig
  components/freemodbus/modbus/include/mbconfig.h
  components/freemodbus/port/port.h
  components/freemodbus/port/portserial.c
  components/freemodbus/port/portserial_m.c
  components/freemodbus/serial_master/modbus_controller/mbc_serial_master.c
  components/freemodbus/serial_slave/modbus_controller/mbc_serial_slave.c
  components/freemodbus/tcp_master/port/port_tcp_master.c
  components/freemodbus/tcp_slave/modbus_controller/mbc_tcp_slave.c
Due: check-kconfigs

ESP32C3: Fix for provisioning failure with ble transport mode and bluedriod stack
  components/protocomm/src/simple_ble/simple_ble.c
  examples/provisioning/legacy/ble_prov/main/Kconfig.projbuild
  examples/provisioning/wifi_prov_mgr/main/Kconfig.projbuild
Due: check-kconfigs

docs: update all documents in get started section and keep line number consistent
  docs/en/get-started/eclipse-setup.rst
  docs/en/get-started/establish-serial-connection.rst
  docs/en/get-started/index.rst
  docs/en/get-started/linux-setup-scratch.rst
  docs/en/get-started/linux-setup.rst
  docs/en/get-started/macos-setup-scratch.rst
  docs/en/get-started/macos-setup.rst
  docs/en/get-started/toolchain-setup-scratch.rst
  docs/en/get-started/vscode-setup.rst
  docs/en/get-started/windows-setup-scratch.rst
  docs/en/get-started/windows-setup-update.rst
  docs/en/get-started/windows-setup.rst
  docs/zh_CN/get-started/eclipse-setup.rst
  docs/zh_CN/get-started/establish-serial-connection.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/get-started/linux-setup-scratch.rst
  docs/zh_CN/get-started/linux-setup.rst
  docs/zh_CN/get-started/macos-setup-scratch.rst
  docs/zh_CN/get-started/macos-setup.rst
  docs/zh_CN/get-started/toolchain-setup-scratch.rst
  docs/zh_CN/get-started/vscode-setup.rst
  docs/zh_CN/get-started/windows-setup-scratch.rst
  docs/zh_CN/get-started/windows-setup-update.rst
  docs/zh_CN/get-started/windows-setup.rst
Due: none

docs: security: fix minor formatting issues or typos
  docs/en/security/flash-encryption.rst
  docs/en/security/secure-boot-v2.rst
Due: none

Remove unused 'yy' variables
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
  components/bt/host/bluedroid/stack/l2cap/l2c_link.c
Due: none

psram: support for esp32-pico-v3-02
  components/bootloader/Kconfig.projbuild
  components/bootloader_support/include/bootloader_flash_config.h
  components/bootloader_support/src/bootloader_flash_config_esp32.c
  components/bootloader_support/src/esp32/bootloader_esp32.c
  components/bootloader_support/src/flash_qio_mode.c
  components/esp32/Kconfig
  components/esp32/cpu_start.c
  components/esp32/spiram.c
  components/esp32/spiram_psram.c
  components/esp32/system_api_esp32.c
  components/soc/esp32/include/soc/efuse_reg.h
Due: check-kconfigs

app_update: Add esp_ota_write_raw function to write pre-encrypted data
  components/app_update/esp_ota_ops.c
  components/app_update/include/esp_ota_ops.h
Due: none

Follow-up improvements for the gcov example test
  examples/system/gcov/example_test.py
  examples/system/gcov/sdkconfig.ci
Due: check-deprecated-kconfigs-options, mypy-check

fix RTOS SysTick cycle time error caused by DFS
  components/esp_pm/pm_impl.c
Due: none

CI: Debug GDB issues
  tools/test_apps/system/panic/test_panic_util/test_panic_util.py
Due: mypy-check

esp_http_client: Fix when receive FIN, close the connection in internal.
  components/esp_common/src/esp_err_to_name.c
  components/esp_http_client/esp_http_client.c
  components/esp_http_client/include/esp_http_client.h
Due: none

esp_flash_api fixes
  components/spi_flash/esp_flash_api.c
Due: none

spi_flash: add test case for esp_flash_erase_region with 0 size
  components/spi_flash/test/test_esp_flash.c
Due: none

Fix memory leak on error path in http_header_set_format
  components/esp_http_client/lib/http_header.c
Due: none

Fix memory leak on error path in md5_printf
  components/esp_http_client/lib/http_auth.c
Due: none

Fix memory leak on error path in esp_ds_start_sign
  components/esp_hw_support/port/esp32s2/esp_ds.c
Due: none

Fix memory leak on error path in register_select
  components/vfs/vfs_uart.c
Due: none

System/memprot: ESP32C3 IRAM section alignment fix (LD)
  components/esp_system/ld/esp32c3/sections.ld.in
Due: none
