Repository espressif/esp-idf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-kconfigs, check-deprecated-kconfigs-options, cmake-lint, check-codeowners, check-rules-yml, check-generated-rules, mypy-check

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        # note: whitespace exclusions use multiline regex, see https://pre-commit.com/#regular-expressions
        # items are:
        # 1 - some file extensions
        # 2 - any file matching *test*/*expected* (for host tests, if possible use this naming pattern always)
        # 3 - any directory named 'testdata'
        # 4 - IDF monitor test data
        exclude: &whitespace_excludes |
          (?x)^(
            .+\.(md|rst|map|bin)|
            .+test.*\/.*expected.*|
            .+\/testdata\/.+|
            .+test_idf_monitor\/tests\/.+
          )$
      - id: end-of-file-fixer
        exclude: *whitespace_excludes
      - id: check-executables-have-shebangs
      - id: mixed-line-ending
        args: ['-f=lf']
      - id: double-quote-string-fixer
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
      - id: flake8
        args: ['--config=.flake8', '--tee', '--benchmark']
  - repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        name: isort (python)
  - repo: local
    hooks:
      - id: check-executables
        name: Check File Permissions
        entry: tools/ci/check_executables.py --action executables
        language: python
        types: [executable]
        exclude: '\.pre-commit/.+'
      - id: check-executable-list
        name: Validate executable-list.txt
        entry: tools/ci/check_executables.py --action list
        language: python
        pass_filenames: false
        always_run: true
      - id: check-kconfigs
        name: Validate Kconfig files
        entry: tools/ci/check_kconfigs.py
        language: python
        files: '^Kconfig$|Kconfig.*$'
      - id: check-deprecated-kconfigs-options
        name: Check if any Kconfig Options Deprecated
        entry: tools/ci/check_deprecated_kconfigs.py
        language: python
        files: 'sdkconfig\.ci$|sdkconfig\.rename$|sdkconfig.*$'
      - id: cmake-lint
        name: Check CMake Files Format
        entry: cmakelint --linelength=120 --spaces=4 --filter=-whitespace/indent
        language: python
        additional_dependencies:
          - cmakelint==1.4.1
        files: 'CMakeLists.txt$|\.cmake$'
        exclude: '\/third_party\/'
      - id: check-codeowners
        name: Validate Codeowner File
        entry: tools/ci/check_codeowners.py ci-check
        language: python
        files: '\.gitlab/CODEOWNERS'
        pass_filenames: false
      - id: check-rules-yml
        name: Check rules.yml all rules have at lease one job applied, all rules needed exist
        entry: tools/ci/check_rules_yml.py
        language: python
        files: '\.gitlab/ci/.+\.yml|\.gitlab-ci.yml'
        pass_filenames: false
        additional_dependencies:
          - PyYAML == 5.3.1
      - id: check-generated-rules
        name: Check rules are generated (based on .gitlab/ci/dependencies/dependencies.yml)
        entry: .gitlab/ci/dependencies/generate_rules.py
        language: python
        files: '\.gitlab/ci/dependencies/.+|\.gitlab/ci/rules\.yml'
        pass_filenames: false
        additional_dependencies:
          - PyYAML == 5.3.1
      - id: mypy-check
        name: Check type annotations in python files
        entry: tools/ci/check_type_comments.py
        additional_dependencies: ['mypy==0.800', 'mypy-extensions==0.4.3']
        language: python
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: file-contents-sorter
        files: '(tools\/ci\/executable-list\.txt|tools\/ci\/mypy_ignore_list\.txt)'

docs:add GPIO reference list for chip ESP32,ESP32-S2, ESP32-C3 and ESP32-S3
  docs/en/api-reference/peripherals/gpio.rst
Due: none

provisioning: fix wifi warning in wifi_prov_mgr application
  components/wifi_provisioning/src/manager.c
Due: none

wpa_supplicant: Trivial typo fix for setting spp_sup.require
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/src/rsn_supp/wpa.c
Due: none

wpa_supplicant: Fix clear WLAN_FC_STYPE_ACTION bit in esp_register_action_frame
  components/wpa_supplicant/esp_supplicant/src/esp_common.c
Due: none

esp_supplicant: Make esp_rrm_send_neighbor_rep_request return proper error
  components/wpa_supplicant/esp_supplicant/src/esp_common.c
Due: none

wpa_supplicant: Fix memory leak in esp_issue_scan error paths
  components/wpa_supplicant/esp_supplicant/src/esp_scan.c
Due: none

I2C: Fix i2c write fake timeout and WDT triggered
  components/hal/i2c_hal_iram.c
Due: none

I2C: add conf_update for esp32c3 i2c
  components/driver/i2c.c
  components/hal/esp32c3/include/hal/i2c_ll.h
Due: none

system: fix pm lock issue in dual core mode
  components/esp_pm/pm_impl.c
Due: none

component/bt: fix bluedroid host auto update PPCP attribute value
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
Due: none

mdns: add more mdns result attributes
  components/mdns/include/mdns.h
  components/mdns/mdns.c
  examples/protocols/mdns/main/mdns_example_main.c
Due: none

wpa_supplicant: Fix memory leak in esp_issue_scan error paths
  components/wpa_supplicant/src/esp_supplicant/esp_scan.c
Due: none

wpa_supplicant: Fix clear WLAN_FC_STYPE_ACTION bit in esp_register_action_frame
  components/wpa_supplicant/src/esp_supplicant/esp_common.c
Due: none

esp_supplicant: Make esp_rrm_send_neighbor_rep_request return proper error
  components/wpa_supplicant/src/esp_supplicant/esp_common.c
Due: none

wpa_supplicant: Trivial typo fix for setting spp_sup.require
  components/wpa_supplicant/src/esp_supplicant/esp_hostap.c
  components/wpa_supplicant/src/rsn_supp/wpa.c
Due: none

esp_wifi: Fix some PMF and FTM issues
  examples/wifi/ftm/main/ftm_main.c
Due: none

Update Ubuntu to v20.04
  tools/docker/Dockerfile
Due: none

idf_size.py: fixed diram counted twice issue, and improve display
  components/esp_system/ld/esp32s3/memory.ld.in
  components/esp_system/ld/esp32s3/sections.ld.in
  components/heap/port/esp32s3/memory_layout.c
  tools/ci/mypy_ignore_list.txt
  tools/idf_size.py
  tools/test_idf_size/expected_output
  tools/test_idf_size/test.sh
  tools/test_idf_size/test_idf_size.py
Due: mypy-check

openthread: enable ot_cli on esp32h2
  components/soc/esp32c3/ld/esp32c3.peripherals.ld
Due: none

Tools: Fix memory calculations of idf_size.py
  components/esp_system/ld/esp32h2/memory.ld.in
  components/esp_system/ld/esp32s3/memory.ld.in
  components/soc/esp32c3/ld/esp32c3.peripherals.ld
  tools/ci/mypy_ignore_list.txt
  tools/idf_size.py
  tools/test_idf_size/app_esp32c3.map
  tools/test_idf_size/app_esp32h2.map
  tools/test_idf_size/app_esp32s3.map
  tools/test_idf_size/expected_output
  tools/test_idf_size/expected_output.json
  tools/test_idf_size/expected_output.txt
  tools/test_idf_size/test.sh
  tools/test_idf_size/test_idf_size.py
Due: mypy-check

bootloader: Kconfig files in bootloader_components is now part of menuconfig
  examples/custom_bootloader/bootloader_override/bootloader_components/main/Kconfig
  examples/custom_bootloader/bootloader_override/bootloader_components/main/bootloader_start.c
  examples/custom_bootloader/bootloader_override/example_test.py
  tools/cmake/kconfig.cmake
  tools/cmake/project.cmake
Due: check-kconfigs, cmake-lint, mypy-check

uart: cleaner way of handling error in a critical section
  components/driver/uart.c
Due: none

uart: Add missing critical section wrappers around rx_buffered_len
  components/driver/uart.c
Due: none

[tools]: add mocks dir to pattern check exclude
  tools/ci/exclude_check_tools_files.txt
Due: none

libsodium: fix source directory names to address build issues with Make
  components/libsodium/component.mk
Due: none

tools/unit_test_app: fixes to build this application with Make build
  tools/unit-test-app/components/test_utils/component.mk
Due: none

freertos: Fix settings of systimer for SysTicks in case Unicore
  components/freertos/port/port_systick.c
Due: none

bootloader: add xmc spi_flash startup flow to improve reliability
  components/bootloader/Kconfig.projbuild
  components/bootloader_support/include/bootloader_flash.h
  components/bootloader_support/include_bootloader/bootloader_flash_priv.h
  components/bootloader_support/src/bootloader_flash.c
  components/bootloader_support/src/esp32/bootloader_esp32.c
  components/bootloader_support/src/esp32c3/bootloader_esp32c3.c
  components/bootloader_support/src/esp32h2/bootloader_esp32h2.c
  components/bootloader_support/src/esp32s2/bootloader_esp32s2.c
  components/bootloader_support/src/esp32s3/bootloader_esp32s3.c
  components/bootloader_support/src/flash_qio_mode.c
  components/spi_flash/test/test_spi_flash.c
Due: check-kconfigs

efuse(esp32s2): Added flash_ver, psram_ver, pkg_ver efuses
  components/bootloader_support/src/bootloader_efuse_esp32s2.c
  components/efuse/esp32s2/esp_efuse_table.c
  components/efuse/esp32s2/esp_efuse_table.csv
  components/efuse/esp32s2/include/esp_efuse_table.h
  components/soc/esp32s2/include/soc/efuse_reg.h
Due: none

efuse(esp32s2): Added flash_ver, psram_ver, pkg_ver efuses
  components/efuse/esp32s2/esp_efuse_table.c
  components/efuse/esp32s2/esp_efuse_table.csv
  components/efuse/esp32s2/include/esp_efuse_table.h
  components/soc/soc/esp32s2/include/soc/efuse_reg.h
Due: none

add compile time checks for MB_MASTER_TCP_ENABLED
  components/freemodbus/tcp_master/modbus_controller/mbc_tcp_master.c
  components/freemodbus/tcp_master/port/port_tcp_master.c
  components/freemodbus/tcp_slave/modbus_controller/mbc_tcp_slave.c
  components/freemodbus/tcp_slave/port/port_tcp_slave.c
Due: none

[esp_hw_support]: HMAC upstream support for S3
  components/esp_hw_support/include/soc/esp32s3/esp_crypto_lock.h
  components/esp_hw_support/include/soc/esp32s3/esp_hmac.h
  components/esp_hw_support/port/esp32s3/CMakeLists.txt
  components/esp_hw_support/port/esp32s3/esp_crypto_lock.c
  components/esp_hw_support/port/esp32s3/esp_hmac.c
  components/esp_hw_support/test/test_hmac.c
  components/hal/CMakeLists.txt
  components/hal/esp32s3/hmac_hal.c
  components/hal/esp32s3/include/hal/clk_gate_ll.h
  components/hal/esp32s3/include/hal/hmac_hal.h
  components/hal/esp32s3/include/hal/hmac_ll.h
  components/soc/esp32s3/include/soc/periph_defs.h
  components/soc/esp32s3/include/soc/soc_caps.h
  docs/conf_common.py
  docs/doxygen/Doxyfile_esp32s3
Due: cmake-lint, mypy-check

(vfs) fix wrong args
  components/vfs/vfs.c
Due: none

[build system]: add ruby check before mocking
  tools/cmake/component.cmake
Due: cmake-lint

[esp_timer]: created mock override component
  .gitlab/ci/host-test.yml
  examples/cxx/experimental/experimental_cpp_component/CMakeLists.txt
  examples/cxx/experimental/experimental_cpp_component/host_test/esp_timer/CMakeLists.txt
  examples/cxx/experimental/experimental_cpp_component/host_test/esp_timer/README.md
  examples/cxx/experimental/experimental_cpp_component/host_test/esp_timer/main/CMakeLists.txt
  examples/cxx/experimental/experimental_cpp_component/host_test/esp_timer/main/esp_timer_test.cpp
  examples/cxx/experimental/experimental_cpp_component/host_test/esp_timer/sdkconfig.defaults
  examples/cxx/experimental/experimental_cpp_component/include/esp_timer_cxx.hpp
  examples/cxx/experimental/experimental_cpp_component/test/test_esp_timer.cpp
  tools/mocks/esp_timer/CMakeLists.txt
  tools/mocks/esp_timer/mock/mock_config.yaml
Due: check-deprecated-kconfigs-options, cmake-lint, check-rules-yml
