Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

fix(tool): increase buffer size for kconfig server
  tools/idf_py_actions/tools.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(isp): support AWB driver setting wbgain and subwindow feature
  components/esp_driver_isp/include/driver/isp_awb.h
  components/esp_driver_isp/include/driver/isp_types.h
  components/esp_driver_isp/src/isp_awb.c
  components/esp_driver_isp/src/isp_lsc.c
  components/hal/esp32p4/include/hal/isp_ll.h
  components/hal/include/hal/isp_types.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

test(pthread): fixed test-case overflow calc issue
  components/pthread/test_apps/pthread_unity_tests/main/test_pthread_semaphore.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs: Update translation for esp_netif
  docs/en/migration-guides/release-6.x/6.0/networking.rst
  docs/zh_CN/migration-guides/release-6.x/6.0/networking.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(wifi): restructure ieee802_11_parse_elems similar to upstream suppliant
  components/wpa_supplicant/esp_supplicant/src/esp_common.c
  components/wpa_supplicant/esp_supplicant/src/esp_wifi_driver.h
  components/wpa_supplicant/src/common/ieee802_11_common.c
  components/wpa_supplicant/src/common/ieee802_11_common.h
  components/wpa_supplicant/src/common/sae_pk.c
  components/wpa_supplicant/src/common/wpa_supplicant_i.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

RSNO: Always enable SNonce cookie and RSN Override elements validation
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa.h
  components/wpa_supplicant/src/rsn_supp/wpa_i.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

RSNE/RSNXE overriding for STA
  components/wpa_supplicant/esp_supplicant/src/esp_wpa3.c
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa.h
  components/wpa_supplicant/src/rsn_supp/wpa_ie.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Resolve comments for wpa3 compatible mode
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/wpa_supplicant/src/ap/ap_config.h
  components/wpa_supplicant/src/ap/wpa_auth_ie.c
  components/wpa_supplicant/src/common/wpa_common.c
  components/wpa_supplicant/src/rsn_supp/wpa.c
  examples/wifi/getting_started/softAP/main/softap_example_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_wifi): Restructure wpa_supplicant for wpa3_compatible mode
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/esp_supplicant/src/esp_wifi_driver.h
  components/wpa_supplicant/esp_supplicant/src/esp_wpa3.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
  components/wpa_supplicant/src/common/ieee802_11_common.c
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa_i.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Allow RSNXE Override element to override RSNXE contents during parsing
  components/wpa_supplicant/src/common/ieee802_11_common.c
Due: gen_integration_pipeline, child_integration_test_pipeline

RSNO: Omit RSNXE in (Re)Association Response frame like in Beacon frame
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/src/ap/ap_config.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Add RSN overriding elements into IE parsing
  components/wpa_supplicant/src/common/ieee802_11_common.c
  components/wpa_supplicant/src/common/ieee802_11_common.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

RSNO: Support over two octets of RSNXOE capabilities
  components/wpa_supplicant/src/ap/wpa_auth_ie.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Cosmetic changes for wpa_supplicant
  components/wpa_supplicant/src/rsn_supp/wpa.c
Due: gen_integration_pipeline, child_integration_test_pipeline

RSNE/RSNXE overriding for AP
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/src/ap/ap_config.c
  components/wpa_supplicant/src/ap/ap_config.h
  components/wpa_supplicant/src/ap/wpa_auth.c
  components/wpa_supplicant/src/ap/wpa_auth.h
  components/wpa_supplicant/src/ap/wpa_auth_i.h
  components/wpa_supplicant/src/ap/wpa_auth_ie.c
  components/wpa_supplicant/src/common/ieee802_11_common.c
  components/wpa_supplicant/src/common/ieee802_11_common.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

RSNO: Allow RSNXE to be omitted
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/src/ap/wpa_auth.h
  components/wpa_supplicant/src/ap/wpa_auth_ie.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

RSNO: Do not enforce SNonce cookie and RSN Selection match if RSNO not used
  components/wpa_supplicant/src/ap/wpa_auth.c
Due: gen_integration_pipeline, child_integration_test_pipeline

RSNO: Add debug prints for RSN override elements in EAPOL frames
  components/wpa_supplicant/src/common/wpa_common.c
Due: gen_integration_pipeline, child_integration_test_pipeline

Define WFA vendor specific element types for RSNE/RSNXE overriding
  components/wpa_supplicant/src/common/ieee802_11_defs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

RSNO: Use the RSN Selection element to indicate which variant was used
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/src/ap/wpa_auth.c
  components/wpa_supplicant/src/ap/wpa_auth.h
  components/wpa_supplicant/src/ap/wpa_auth_i.h
  components/wpa_supplicant/src/ap/wpa_auth_ie.c
  components/wpa_supplicant/src/common/ieee802_11_common.c
  components/wpa_supplicant/src/common/ieee802_11_common.h
  components/wpa_supplicant/src/common/ieee802_11_defs.h
  components/wpa_supplicant/src/common/wpa_common.c
  components/wpa_supplicant/src/common/wpa_common.h
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa.h
  components/wpa_supplicant/src/rsn_supp/wpa_i.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Add helper functions for parsing RSNXE capabilities
  components/wpa_supplicant/src/common/ieee802_11_common.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Restructure esp supplicant for softap
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
  components/wpa_supplicant/src/ap/ap_config.c
  components/wpa_supplicant/src/ap/ap_config.h
  components/wpa_supplicant/src/ap/wpa_auth.c
  components/wpa_supplicant/src/common/ieee802_11_common.c
  components/wpa_supplicant/src/common/ieee802_11_common.h
  components/wpa_supplicant/src/common/ieee802_11_defs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

RSNO: Use SNonce cookie to indicate support for RSN overriding
  components/wpa_supplicant/src/ap/wpa_auth.c
  components/wpa_supplicant/src/common/wpa_common.c
  components/wpa_supplicant/src/common/wpa_common.h
  components/wpa_supplicant/src/rsn_supp/wpa.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

RSNO: Remove unused override element generation
  components/wpa_supplicant/src/ap/wpa_auth.c
  components/wpa_supplicant/src/ap/wpa_auth_i.h
  components/wpa_supplicant/src/ap/wpa_auth_ie.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Restructure wpa_parse_kde_ies same as upstream
  components/wpa_supplicant/src/ap/wpa_auth_ie.c
  components/wpa_supplicant/src/ap/wpa_auth_ie.h
  components/wpa_supplicant/src/common/wpa_common.c
  components/wpa_supplicant/src/common/wpa_common.h
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa.h
  components/wpa_supplicant/src/rsn_supp/wpa_ie.c
  components/wpa_supplicant/src/rsn_supp/wpa_ie.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_wifi): Add compile flag for wpa3 compatible mode
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/wpa_supplicant/CMakeLists.txt
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/esp_supplicant/src/esp_wifi_driver.h
  components/wpa_supplicant/esp_supplicant/src/esp_wpa3.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
  components/wpa_supplicant/src/ap/ap_config.c
  components/wpa_supplicant/src/ap/ap_config.h
  components/wpa_supplicant/src/ap/wpa_auth.c
  components/wpa_supplicant/src/ap/wpa_auth.h
  components/wpa_supplicant/src/ap/wpa_auth_i.h
  components/wpa_supplicant/src/ap/wpa_auth_ie.c
  components/wpa_supplicant/src/common/ieee802_11_common.c
  components/wpa_supplicant/src/common/ieee802_11_common.h
  components/wpa_supplicant/src/common/ieee802_11_defs.h
  components/wpa_supplicant/src/common/wpa_common.c
  components/wpa_supplicant/src/common/wpa_common.h
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa.h
  components/wpa_supplicant/src/rsn_supp/wpa_i.h
  components/wpa_supplicant/src/rsn_supp/wpa_ie.c
  examples/wifi/getting_started/softAP/main/softap_example_main.c
  examples/wifi/getting_started/station/main/station_example_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

RSNO: Remove override elements from EAPOL-Key msg 3/4
  components/wpa_supplicant/src/ap/wpa_auth.c
Due: gen_integration_pipeline, child_integration_test_pipeline

Avoid undefined behavior in RSNXE capability bit checker
  components/wpa_supplicant/src/common/ieee802_11_common.c
Due: gen_integration_pipeline, child_integration_test_pipeline

RSNO: Protect wpa_ie_buf3 from reuse explicitly
  components/wpa_supplicant/src/ap/wpa_auth.c
Due: gen_integration_pipeline, child_integration_test_pipeline

RSNO: Generate IGTK if any of the RSN variants has PMF enabled
  components/wpa_supplicant/src/ap/wpa_auth.c
  components/wpa_supplicant/src/ap/wpa_auth.h
  components/wpa_supplicant/src/ap/wpa_auth_ie.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(wifi): Add support for wpa3 compatible flag for softap
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
  components/wpa_supplicant/src/common/ieee802_11_common.c
  components/wpa_supplicant/src/common/ieee802_11_defs.h
  examples/wifi/getting_started/softAP/main/softap_example_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

RSNO: Include all RSNE/RSNXE variants in EAPOL-Key message 3/4
  components/wpa_supplicant/src/ap/wpa_auth.c
  components/wpa_supplicant/src/common/wpa_common.c
  components/wpa_supplicant/src/common/wpa_common.h
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa.h
  components/wpa_supplicant/src/rsn_supp/wpa_i.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_wifi): Add support of wpa3 compatible more for ap and sta
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/wpa_supplicant/esp_supplicant/src/esp_common.c
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/esp_supplicant/src/esp_wifi_driver.h
  components/wpa_supplicant/esp_supplicant/src/esp_wpa3.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
  components/wpa_supplicant/src/ap/wpa_auth_ie.c
  components/wpa_supplicant/src/common/wpa_common.c
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa_ie.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Resolve comments for wpa3_compatible_mode
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/esp_supplicant/src/esp_wifi_driver.h
  components/wpa_supplicant/esp_supplicant/src/esp_wpa3.c
  components/wpa_supplicant/src/rsn_supp/wpa.c
  examples/wifi/getting_started/softAP/main/softap_example_main.c
  examples/wifi/getting_started/station/main/station_example_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Resolve some comments for wpa3_compatible_mode support
  components/esp_wifi/Kconfig
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/src/ap/wpa_auth_ie.c
  components/wpa_supplicant/src/common/wpa_common.c
  components/wpa_supplicant/src/rsn_supp/wpa.c
  examples/wifi/getting_started/softAP/main/softap_example_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Resolve comments for wpa3_compat mode documentation
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_wifi_types_generic.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
