Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml

feat: Consume root-managed components from IDF Component Manager
  docs/en/api-guides/build-system-v2/design.rst
  docs/en/api-guides/build-system-v2/glossary.rst
  tools/cmake/build.cmake
  tools/cmake/component.cmake
  tools/cmake/project.cmake
  tools/cmake/scripts/component_get_requirements.cmake
  tools/cmakev2/compat.cmake
  tools/cmakev2/component.cmake
  tools/cmakev2/manager.cmake
  tools/idf.py
  tools/idf_extra_components.yml
  tools/test_build_system/test_component_manager.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(isp): support ISP DPC, add tests and use it in multi pipeline example
  components/esp_driver_isp/CMakeLists.txt
  components/esp_driver_isp/include/driver/isp.h
  components/esp_driver_isp/include/driver/isp_dpc.h
  components/esp_driver_isp/include/driver/isp_dpc_dynamic.h
  components/esp_driver_isp/include/driver/isp_dpc_static.h
  components/esp_driver_isp/include/esp_private/isp_private.h
  components/esp_driver_isp/src/isp_core.c
  components/esp_driver_isp/src/isp_dma.c
  components/esp_driver_isp/src/isp_dpc.c
  components/esp_driver_isp/test_apps/isp/dpc_images/dpc_dynamic1_corrected.ppm
  components/esp_driver_isp/test_apps/isp/dpc_images/dpc_dynamic1_original.ppm
  components/esp_driver_isp/test_apps/isp/dpc_images/dpc_dynamic2_corrected.ppm
  components/esp_driver_isp/test_apps/isp/dpc_images/dpc_dynamic2_original.ppm
  components/esp_driver_isp/test_apps/isp/dpc_images/dpc_static_corrected.ppm
  components/esp_driver_isp/test_apps/isp/dpc_images/dpc_static_original.ppm
  components/esp_driver_isp/test_apps/isp/main/CMakeLists.txt
  components/esp_driver_isp/test_apps/isp/main/test_isp_dpc.c
  components/esp_driver_isp/test_apps/isp/save_dpc_images.py
  components/hal/esp32p4/include/hal/isp_ll.h
  components/hal/include/hal/isp_types.h
  docs/doxygen/Doxyfile_esp32p4
  docs/en/api-reference/peripherals/isp.rst
  docs/sphinx-known-warnings.txt
  docs/zh_CN/api-reference/peripherals/isp.rst
  examples/peripherals/isp/multi_pipelines/README.md
  examples/peripherals/isp/multi_pipelines/main/CMakeLists.txt
  examples/peripherals/isp/multi_pipelines/main/Kconfig.projbuild
  examples/peripherals/isp/multi_pipelines/main/example_dpc.c
  examples/peripherals/isp/multi_pipelines/main/example_dpc.h
  examples/peripherals/isp/multi_pipelines/main/isp_dsi_main.c
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(docs): Updated BLE support features status
  docs/_static/ble/feature_status/developing202612.svg
  docs/en/api-guides/ble/ble-feature-support-status.rst
  docs/en/api-guides/ble/host-feature-support-status.rst
  docs/zh_CN/api-guides/ble/ble-feature-support-status.rst
  docs/zh_CN/api-guides/ble/host-feature-support-status.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

feat(docs): update BLE feature support status for ISO and Core 6.1-6.3
  docs/en/api-guides/ble/ble-feature-support-status.rst
  docs/en/api-guides/ble/host-feature-support-status.rst
  docs/zh_CN/api-guides/ble/ble-feature-support-status.rst
  docs/zh_CN/api-guides/ble/host-feature-support-status.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

feat(docs): fix PAST and randomized adv channel indexing status
  docs/en/api-guides/ble/ble-feature-support-status.rst
  docs/zh_CN/api-guides/ble/ble-feature-support-status.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

refactor(dac): split spinlock, update logging and memory management
  components/esp_driver_dac/CMakeLists.txt
  components/esp_driver_dac/dac_common.c
  components/esp_driver_dac/dac_continuous.c
  components/esp_driver_dac/dac_cosine.c
  components/esp_driver_dac/dac_oneshot.c
  components/esp_driver_dac/dac_priv_common.h
  components/esp_driver_dac/esp32/dac_dma.c
  components/esp_driver_dac/esp32s2/dac_dma.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(http_server): add mock TCP client for black-box WS testing
  components/esp_http_server/test_apps/main/CMakeLists.txt
  components/esp_http_server/test_apps/main/test_http_server.c
  components/esp_http_server/test_apps/mock_client/mock_http_server_client.c
  components/esp_http_server/test_apps/mock_client/mock_http_server_client.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ws): enforce RFC 6455 §4.2.1 handshake requirements
  components/esp_http_server/Kconfig
  components/esp_http_server/src/esp_httpd_priv.h
  components/esp_http_server/src/httpd_parse.c
  components/esp_http_server/src/httpd_ws.c
  components/esp_http_server/test_apps/main/test_http_server.c
  components/esp_http_server/test_apps/mock_client/mock_http_server_client.h
  components/esp_http_server/test_apps/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(esp-tls): correct return codes and harden TLS 1.3 ticket handling
  components/esp-tls/esp_tls.c
  components/esp-tls/esp_tls_mbedtls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix esp32p4 PVT clock lost
  components/esp_hw_support/port/esp32p4/esp_clk_tree.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble): fixed occasional sched assertion for scan scenario
  components/bt/common/ble_log/deprecated/include/ble_log/ble_log_spi_out.h
  components/bt/controller/linker_esp_btdm_controller.lf
  components/bt/porting_btdm/controller/ble/src/ble.c
  components/bt/porting_btdm/controller/btdm_common/include/btdm_mem_debug.h
  components/bt/porting_btdm/controller/btdm_common/src/btdm_log.c
  components/bt/porting_btdm/controller/btdm_common/src/btdm_mem_debug.c
  components/bt/porting_btdm/controller/btdm_common/src/btdm_osal_freertos.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): harden the ESP32-S31 PSRAM region permissions
  components/esp_hw_support/port/esp32s31/cpu_region_protect.c
  components/soc/esp32s31/include/soc/soc.h
  tools/test_apps/system/panic/panic_base/pytest_panic.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): use pointer-width types for dynamic buffer msg offsets
  components/mbedtls/port/dynamic/esp_mbedtls_dynamic_impl.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): bound public-key coordinate copy in esp ecp_check_pubkey
  components/mbedtls/port/ecc/ecc_alt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

test(mbedtls): add test for unaligned multipart AES-GCM streaming
  components/mbedtls/test_apps/mbedtls_ut/main/test_psa_aes_gcm.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): preserve AES-GCM stream state across multipart updates
  components/mbedtls/port/aes/esp_aes_gcm.c
  components/mbedtls/port/include/aes/esp_aes_gcm.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(esp_http_server): document the WebSocket control-frame handler
  docs/en/api-reference/protocols/esp_http_server.rst
  docs/zh_CN/api-reference/protocols/esp_http_server.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

test(esp_http_server): cover WebSocket control-frame handler
  components/esp_http_server/test_apps/main/test_http_server.c
  examples/protocols/http_server/ws_echo_server/README.md
  examples/protocols/http_server/ws_echo_server/main/Kconfig.projbuild
  examples/protocols/http_server/ws_echo_server/main/ws_echo_server.c
  examples/protocols/http_server/ws_echo_server/pytest_ws_server_example.py
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_http_server): add dedicated WebSocket control-frame handler
  components/esp_http_server/include/esp_http_server.h
  components/esp_http_server/src/esp_httpd_priv.h
  components/esp_http_server/src/httpd_parse.c
  components/esp_http_server/src/httpd_uri.c
  components/esp_http_server/src/httpd_ws.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): harden memprot and fix bugs
  components/esp_hw_support/port/esp32c3/esp_memprot.c
  components/esp_hw_support/port/esp32s2/memprot.c
  components/esp_hw_support/port/esp32s3/esp_memprot.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls/aes): fix ESP32-S2 Crypto DMA stall on PSRAM output with partial blocks
  components/esp_hal_security/esp32s2/include/hal/crypto_dma_ll.h
  components/mbedtls/port/aes/dma/esp_aes_dma_core.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(mbedtls): add partial-block PSRAM coverage for AES and AES-GCM
  components/mbedtls/test_apps/mbedtls_ut/main/test_aes_params.h
  components/mbedtls/test_apps/mbedtls_ut/main/test_psa_aes_gcm.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): fixed BTA event dispatch race during module disable
  components/bt/host/bluedroid/bta/av/bta_av_act.c
  components/bt/host/bluedroid/bta/av/bta_av_api.c
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
  components/bt/host/bluedroid/bta/gatt/bta_gattc_api.c
  components/bt/host/bluedroid/bta/gatt/bta_gatts_act.c
  components/bt/host/bluedroid/bta/gatt/bta_gatts_api.c
  components/bt/host/bluedroid/bta/hd/bta_hd_act.c
  components/bt/host/bluedroid/bta/hd/bta_hd_api.c
  components/bt/host/bluedroid/bta/hf_ag/bta_ag_main.c
  components/bt/host/bluedroid/bta/hf_ag/include/bta_ag_int.h
  components/bt/host/bluedroid/bta/hf_client/bta_hf_client_main.c
  components/bt/host/bluedroid/bta/hh/bta_hh_api.c
  components/bt/host/bluedroid/bta/hh/bta_hh_utils.c
  components/bt/host/bluedroid/bta/jv/bta_jv_act.c
  components/bt/host/bluedroid/bta/jv/bta_jv_api.c
  components/bt/host/bluedroid/bta/pan/bta_pan_act.c
  components/bt/host/bluedroid/bta/pan/bta_pan_api.c
  components/bt/host/bluedroid/bta/pba/bta_pba_client_act.c
  components/bt/host/bluedroid/bta/sdp/bta_sdp_act.c
  components/bt/host/bluedroid/bta/sys/bta_sys_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(tools): detach MCP tool subprocess stdin from JSON-RPC pipe
  tools/idf_py_actions/mcp_ext.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(tools): send mcp-server startup diagnostics to stderr
  tools/idf_py_actions/mcp_ext.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble): fix sleep rejection if wifi enh config enabled on esp32-c6
  components/bt/controller/esp32c6/bt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ci): reduce peripheral multi dev test timeout time
  components/esp_driver_i2c/test_apps/i2c_test_apps/pytest_i2c.py
  components/esp_driver_i3c/test_apps/i3c_test_apps/pytest_i3c.py
  components/esp_driver_ledc/test_apps/ledc/pytest_ledc.py
  components/esp_driver_spi/test_apps/master/pytest_spi_master.py
  components/esp_driver_spi/test_apps/param/pytest_spi_param.py
  components/esp_driver_spi/test_apps/slave/pytest_spi_slave.py
  components/esp_driver_spi/test_apps/slave_hd/pytest_spi_slave_hd.py
  components/esp_driver_uart/test_apps/rs485/pytest_rs485.py
  components/esp_driver_uart/test_apps/uart/pytest_uart.py
  components/ulp/test_apps/lp_core/lp_core_basic_tests/pytest_lp_core_basic.py
  components/ulp/test_apps/ulp_riscv/pytest_ulp_riscv.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(build): word-align the length symbol of embedded data files
  tools/cmake/scripts/data_file_embed_asm.cmake
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): read crt bundle byte-wise to avoid misaligned flash access
  components/mbedtls/esp_crt_bundle/esp_crt_bundle.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(bootloader): use CPLL/4 as flash default 80M clock source
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32s31.c
  components/esp_hal_mspi/esp32s31/include/hal/mspi_ll.h
  components/soc/esp32s31/include/soc/clk_tree_defs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(spi_flash): keep program and erase paths in IRAM
  components/esp_hal_mspi/esp32c2/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32c3/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32c5/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32c6/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32c61/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32h2/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32h21/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32h4/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32p4/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32s3/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32s31/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/spi_flash_hal_common.inc
  components/spi_flash/linker.lf
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Harden dpp Auth confirm and drop mismatched auth confirms
  components/wpa_supplicant/esp_supplicant/src/esp_dpp.c
  components/wpa_supplicant/src/common/dpp.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(driver_spi): master driver support DDR(DTR) clock mode
  components/esp_driver_spi/include/driver/spi_master.h
  components/esp_driver_spi/src/gpspi/spi_master.c
  components/esp_driver_spi/test_apps/master/main/CMakeLists.txt
  components/esp_driver_spi/test_apps/master/main/test_spi_master.c
  components/esp_hal_gpspi/esp32p4/include/hal/spi_ll.h
  components/esp_hal_gpspi/esp32s2/include/hal/spi_ll.h
  components/esp_hal_gpspi/esp32s3/include/hal/spi_ll.h
  components/esp_hal_gpspi/esp32s31/include/hal/spi_ll.h
  components/esp_hal_gpspi/include/hal/spi_hal.h
  components/esp_hal_gpspi/spi_hal_iram.c
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
  components/soc/esp32s31/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s31/include/soc/soc_caps.h
  docs/en/api-reference/peripherals/spi_master.rst
  docs/zh_CN/api-reference/peripherals/spi_master.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline
