Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

fix(nimble): Restructure the table in README.md file
  examples/bluetooth/nimble/blecent/README.md
  examples/bluetooth/nimble/bleprph/README.md
Due: check_readme_links

docs: Update external RAM voltage control for ESP32-S2/S3
  docs/en/api-guides/external-ram.rst
  docs/zh_CN/api-guides/external-ram.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(pcnt,mcpwm,rmt): update struct on p4 eco5
  components/soc/esp32p4/register/hw_ver3/soc/mcpwm_eco5_struct.h
  components/soc/esp32p4/register/hw_ver3/soc/pcnt_eco5_struct.h
  components/soc/esp32p4/register/hw_ver3/soc/pcnt_struct.h
  components/soc/esp32p4/register/hw_ver3/soc/rmt_eco5_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(gdma): update gdma struct on p4 eco5
  components/hal/esp32p4/include/hal/ahb_dma_ll.h
  components/hal/esp32p4/include/hal/gdma_ll.h
  components/hal/platform_port/include/hal/config.h
  components/soc/esp32p4/register/hw_ver3/soc/ahb_dma_eco5_struct.h
  components/soc/esp32p4/register/hw_ver3/soc/ahb_dma_struct.h
  components/soc/esp32p4/register/hw_ver3/soc/axi_dma_eco5_struct.h
  components/soc/esp32p4/register/hw_ver3/soc/axi_dma_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat: support kconfig in component manager
  tools/cmake/build.cmake
  tools/cmake/kconfig.cmake
  tools/cmake/project.cmake
  tools/test_build_system/test_component_manager.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix: make sure sdkconfig.json is updated after running the menuconfig
  tools/cmake/kconfig.cmake
Due: gen_integration_pipeline, child_integration_test_pipeline

fix: kconfig optional dependency in transitive dependency
  tools/cmake/component.cmake
  tools/test_build_system/test_component_manager.py
Due: gen_integration_pipeline, child_integration_test_pipeline

docs: Update CN translation for toolchain.rst and ram-usage.rst
  docs/en/migration-guides/release-6.x/6.0/toolchain.rst
  docs/zh_CN/api-guides/performance/ram-usage.rst
  docs/zh_CN/migration-guides/release-6.x/6.0/toolchain.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(security_features_app): Update the QEMU instructions for the security_features_app example
  examples/security/security_features_app/README.md
Due: check_readme_links

fix(usb): fix ths bug that ALT escape input for USB HID keyboard
  examples/peripherals/usb/device/cherryusb_serial_device/CMakeLists.txt
  examples/peripherals/usb/device/cherryusb_serial_device/main/device_cdc_main.c
  examples/peripherals/usb/device/cherryusb_serial_device/main/idf_component.yml
  examples/peripherals/usb/host/cherryusb_host/CMakeLists.txt
  examples/peripherals/usb/host/cherryusb_host/main/CMakeLists.txt
  examples/peripherals/usb/host/cherryusb_host/main/cdc_acm.c
  examples/peripherals/usb/host/cherryusb_host/main/hid.c
  examples/peripherals/usb/host/cherryusb_host/main/idf_component.yml
  examples/peripherals/usb/host/cherryusb_host/main/main.c
  examples/peripherals/usb/host/cherryusb_host/main/msc.c
  examples/peripherals/usb/host/hid/main/hid_host_example.c
Due: none

docs(pm): update power management related docs for esp32c5 in v5.5
  docs/docs_not_updated/esp32c5.txt
  docs/en/api-guides/current-consumption-measurement-modules.rst
  docs/en/api-reference/system/inc/power_management_esp32c5.rst
  docs/en/api-reference/system/power_management.rst
  docs/zh_CN/api-guides/current-consumption-measurement-modules.rst
  docs/zh_CN/api-reference/system/inc/power_management_esp32c5.rst
  docs/zh_CN/api-reference/system/power_management.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

doc: add esp-video link in camera isp examples
  docs/en/api-reference/peripherals/isp.rst
  docs/zh_CN/api-reference/peripherals/isp.rst
  examples/peripherals/camera/dvp_isp_dsi/README.md
  examples/peripherals/camera/mipi_isp_dsi/README.md
  examples/peripherals/isp/multi_pipelines/README.md
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(jtag): update esp32h4 jtag debugging guide
  docs/docs_not_updated/esp32h4.txt
  docs/en/api-guides/jtag-debugging/configure-other-jtag.rst
  docs/en/api-guides/jtag-debugging/esp32h4.inc
  docs/en/api-guides/jtag-debugging/index.rst
  docs/zh_CN/api-guides/jtag-debugging/configure-other-jtag.rst
  docs/zh_CN/api-guides/jtag-debugging/esp32h4.inc
  docs/zh_CN/api-guides/jtag-debugging/index.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(coredump): update docs_not_updated for esp32h4
  docs/docs_not_updated/esp32h4.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

ci(github-actions): set up GitHub Actions workflow to trigger JIRA issue comment webhook
  .github/workflows/issue_comment.yml
  .github/workflows/new_issues.yml
Due: none

feat(examples/peripherals/usb/cherryusb/host/cherryusb_host): add CherryUSB host example
  examples/peripherals/usb/host/cherryusb_host/CMakeLists.txt
  examples/peripherals/usb/host/cherryusb_host/README.md
  examples/peripherals/usb/host/cherryusb_host/main/CMakeLists.txt
  examples/peripherals/usb/host/cherryusb_host/main/Kconfig.projbuild
  examples/peripherals/usb/host/cherryusb_host/main/cdc_acm.c
  examples/peripherals/usb/host/cherryusb_host/main/hid.c
  examples/peripherals/usb/host/cherryusb_host/main/idf_component.yml
  examples/peripherals/usb/host/cherryusb_host/main/main.c
  examples/peripherals/usb/host/cherryusb_host/sdkconfig.defaults
Due: check_readme_links

feat(usb): add ALT escape input for USB HID keyboard
  examples/peripherals/usb/host/cherryusb_host/main/hid.c
  examples/peripherals/usb/host/hid/main/hid_host_example.c
Due: none

feat(usb): add CherryUSB support for multiple USB controllers selection
  examples/peripherals/usb/device/cherryusb_serial_device/main/Kconfig.projbuild
  examples/peripherals/usb/device/cherryusb_serial_device/main/device_cdc_main.c
  examples/peripherals/usb/device/cherryusb_serial_device/main/idf_component.yml
  examples/peripherals/usb/host/cherryusb_host/README.md
  examples/peripherals/usb/host/cherryusb_host/main/Kconfig.projbuild
  examples/peripherals/usb/host/cherryusb_host/main/hid.c
  examples/peripherals/usb/host/cherryusb_host/main/idf_component.yml
  examples/peripherals/usb/host/cherryusb_host/main/main.c
  examples/peripherals/usb/host/cherryusb_host/sdkconfig.defaults
Due: check_readme_links

feat(examples/peripherals/usb/cherryusb/device/cherryusb_serial_device): add CherryUSB serial device example
  examples/peripherals/usb/device/cherryusb_serial_device/CMakeLists.txt
  examples/peripherals/usb/device/cherryusb_serial_device/README.md
  examples/peripherals/usb/device/cherryusb_serial_device/main/CMakeLists.txt
  examples/peripherals/usb/device/cherryusb_serial_device/main/Kconfig.projbuild
  examples/peripherals/usb/device/cherryusb_serial_device/main/device_cdc_main.c
  examples/peripherals/usb/device/cherryusb_serial_device/main/idf_component.yml
  examples/peripherals/usb/device/cherryusb_serial_device/sdkconfig.defaults
Due: check_readme_links

feat(usb): add CherryUSB host msc example
  examples/peripherals/usb/device/cherryusb_serial_device/main/device_cdc_main.c
  examples/peripherals/usb/host/cherryusb_host/README.md
  examples/peripherals/usb/host/cherryusb_host/main/CMakeLists.txt
  examples/peripherals/usb/host/cherryusb_host/main/Kconfig.projbuild
  examples/peripherals/usb/host/cherryusb_host/main/cdc_acm.c
  examples/peripherals/usb/host/cherryusb_host/main/main.c
  examples/peripherals/usb/host/cherryusb_host/main/msc.c
  examples/peripherals/usb/host/cherryusb_host/sdkconfig.defaults
Due: check_readme_links

docs(uhci): Fix uhci compiling on non-supported target
  docs/conf_common.py
  docs/en/api-reference/peripherals/uart.rst
  docs/zh_CN/api-reference/peripherals/uart.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(usb): fix ths bug that ALT escape input for USB HID keyboard
  examples/peripherals/usb/device/cherryusb_serial_device/CMakeLists.txt
  examples/peripherals/usb/device/cherryusb_serial_device/main/device_cdc_main.c
  examples/peripherals/usb/device/cherryusb_serial_device/main/idf_component.yml
  examples/peripherals/usb/host/cherryusb_host/CMakeLists.txt
  examples/peripherals/usb/host/cherryusb_host/main/CMakeLists.txt
  examples/peripherals/usb/host/cherryusb_host/main/cdc_acm.c
  examples/peripherals/usb/host/cherryusb_host/main/hid.c
  examples/peripherals/usb/host/cherryusb_host/main/idf_component.yml
  examples/peripherals/usb/host/cherryusb_host/main/main.c
  examples/peripherals/usb/host/cherryusb_host/main/msc.c
  examples/peripherals/usb/host/hid/CMakeLists.txt
  examples/peripherals/usb/host/hid/main/hid_host_example.c
Due: none

cleanup: remove ota app descriptor source
  components/app_update/CMakeLists.txt
  components/app_update/esp_ota_app_desc.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(twai): Enhance ISR handling for TX queue operations
  components/esp_driver_twai/Kconfig
  components/esp_driver_twai/esp_twai.c
  components/esp_driver_twai/esp_twai_onchip.c
  components/esp_driver_twai/linker.lf
  components/esp_driver_twai/test_apps/test_twai/main/test_twai_common.c
  components/esp_driver_twai/test_apps/test_twai/sdkconfig.ci.cache_safe
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(twai): Update twai_node_transmit function's note
  docs/en/api-reference/peripherals/twai.rst
  docs/zh_CN/api-reference/peripherals/twai.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(esp_ringbuf): Add vRingbufferReset
  components/esp_ringbuf/include/freertos/ringbuf.h
  components/esp_ringbuf/ringbuf.c
  components/esp_ringbuf/test_apps/main/test_ringbuf_common.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Localize CN chatbot UI
  docs/_static/js/chatbot_widget_cn.js
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix: get rid of the hardware workarounds for the latest ESP32P4 revision
  components/esp_rom/esp32p4/esp_rom_caps.h
  components/esp_rom/patches/esp_rom_clic.c
  components/riscv/vectors.S
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
