Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

feat: support regi2c for esp32c61
  components/bootloader_support/src/esp32c5/bootloader_esp32c5.c
  components/bootloader_support/src/esp32c61/bootloader_esp32c61.c
  components/esp_hw_support/port/esp32c61/CMakeLists.txt
  components/esp_rom/esp32c61/Kconfig.soc_caps.in
  components/esp_rom/esp32c61/esp_rom_caps.h
  components/esp_rom/patches/esp_rom_regi2c_esp32c61.c
  components/hal/esp32c61/include/hal/regi2c_ctrl_ll.h
  components/soc/esp32c5/include/soc/i2c_ana_mst_reg.h
  components/soc/esp32c6/include/soc/i2c_ana_mst_reg.h
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/i2c_ana_mst_reg.h
  components/soc/esp32c61/include/soc/reg_base.h
  components/soc/esp32c61/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

refactor(regi2c): add LL function to control analog i2c master clock
  components/bootloader_support/src/esp32c5/bootloader_esp32c5.c
  components/bootloader_support/src/esp32c6/bootloader_esp32c6.c
  components/bootloader_support/src/esp32c61/bootloader_esp32c61.c
  components/bootloader_support/src/esp32h2/bootloader_esp32h2.c
  components/bootloader_support/src/esp32p4/bootloader_esp32p4.c
  components/esp_hw_support/modem_clock.c
  components/esp_hw_support/port/esp32c5/rtc_clk.c
  components/esp_hw_support/port/esp32c6/rtc_clk.c
  components/esp_hw_support/port/esp32c61/rtc_clk.c
  components/esp_hw_support/port/esp32h2/rtc_clk.c
  components/esp_rom/patches/esp_rom_hp_regi2c_esp32c5.c
  components/esp_rom/patches/esp_rom_hp_regi2c_esp32c6.c
  components/esp_rom/patches/esp_rom_regi2c_esp32c61.c
  components/esp_rom/patches/esp_rom_regi2c_esp32h2.c
  components/esp_rom/patches/esp_rom_regi2c_esp32p4.c
  components/hal/esp32c5/include/hal/modem_lpcon_ll.h
  components/hal/esp32c5/include/hal/regi2c_ctrl_ll.h
  components/hal/esp32c6/include/hal/modem_lpcon_ll.h
  components/hal/esp32c6/include/hal/regi2c_ctrl_ll.h
  components/hal/esp32c61/include/hal/regi2c_ctrl_ll.h
  components/hal/esp32h2/include/hal/modem_lpcon_ll.h
  components/hal/esp32h2/include/hal/regi2c_ctrl_ll.h
  components/hal/esp32p4/include/hal/regi2c_ctrl_ll.h
  components/soc/esp32c5/include/soc/regi2c_defs.h
  components/soc/esp32c61/include/soc/regi2c_defs.h
  components/soc/esp32p4/include/soc/i2c_ana_mst_struct.h
  components/soc/esp32p4/ld/esp32p4.peripherals.ld
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(spi_flash): Add GD25Q32 for supporting suspend
  components/spi_flash/spi_flash_chip_gd.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): Check return values of md functions during ssl handshake
  components/mbedtls/port/dynamic/esp_ssl_tls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(usb/hcd): Allow port resets with allocated pipes
  components/hal/include/hal/usb_dwc_hal.h
  components/usb/hcd_dwc.c
  components/usb/hub.c
  components/usb/private_include/hcd.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(usb): Add USBH maintainer notes
  docs/conf_common.py
  docs/docs_not_updated/esp32c5.txt
  docs/docs_not_updated/esp32p4.txt
  docs/en/api-reference/peripherals/usb_host/usb_host_notes_index.rst
  docs/en/api-reference/peripherals/usb_host/usb_host_notes_usbh.rst
  docs/zh_CN/api-reference/peripherals/usb_host/usb_host_notes_arch.rst
  docs/zh_CN/api-reference/peripherals/usb_host/usb_host_notes_index.rst
  docs/zh_CN/api-reference/peripherals/usb_host/usb_host_notes_usbh.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

refactor(usb/usbh): Rename device pool functions and ref_count
  components/usb/private_include/usbh.h
  components/usb/usb_host.c
  components/usb/usbh.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(usb/usbh): Update USBH device creation and enumeration handling
  components/usb/hcd_dwc.c
  components/usb/hub.c
  components/usb/private_include/hcd.h
  components/usb/private_include/hub.h
  components/usb/private_include/usbh.h
  components/usb/usb_host.c
  components/usb/usbh.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(usb/host): Refactor USBH function grouping
  components/usb/private_include/usbh.h
  components/usb/usbh.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(usb/hub): Update Hub driver port request logic
  components/usb/hub.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(openthread): support changing openthread version information
  components/openthread/CMakeLists.txt
  components/openthread/Kconfig
  components/openthread/private_include/openthread-core-esp32x-ftd-config.h
  components/openthread/private_include/openthread-core-esp32x-mtd-config.h
  components/openthread/private_include/openthread-core-esp32x-radio-config.h
  components/openthread/private_include/openthread-core-esp32x-spinel-config.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ci): wrap sleep related code with porper caps for ble throughput_app
  examples/bluetooth/nimble/throughput_app/blecent_throughput/components/cmd_system/cmd_system.c
Due: none

fix: Fixed build errors with TLS 1.3 only configuration
  components/mbedtls/Kconfig
  examples/protocols/esp_http_client/sdkconfig.ci.tls13_only
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wpa_supplicant): Fix build errors for exclusive TLSv1.3 mbedtls config
  components/wpa_supplicant/esp_supplicant/src/crypto/tls_mbedtls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs: update application examples for sleep_modes.rst and deep-sleep-stub.rst
  docs/en/api-guides/deep-sleep-stub.rst
  docs/en/api-reference/system/sleep_modes.rst
  docs/zh_CN/api-guides/deep-sleep-stub.rst
  docs/zh_CN/api-reference/system/sleep_modes.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: Provide CN translation for protocols.rst
  docs/en/migration-guides/release-5.x/5.3/protocols.rst
  docs/zh_CN/migration-guides/release-5.x/5.3/protocols.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: Consistent naming convention in CN translation
  docs/en/libraries-and-frameworks/libs-frameworks.rst
  docs/zh_CN/api-guides/cplusplus.rst
  docs/zh_CN/api-guides/tools/idf-component-manager.rst
  docs/zh_CN/api-reference/network/esp_eth.rst
  docs/zh_CN/api-reference/peripherals/usb_device.rst
  docs/zh_CN/api-reference/peripherals/usb_host.rst
  docs/zh_CN/get-started/start-project.rst
  docs/zh_CN/hw-reference/esp32/get-started-wrover-kit.rst
  docs/zh_CN/libraries-and-frameworks/libs-frameworks.rst
  docs/zh_CN/migration-guides/release-5.x/5.0/protocols.rst
  docs/zh_CN/migration-guides/release-5.x/5.0/removed-components.rst
  docs/zh_CN/migration-guides/release-5.x/5.3/peripherals.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(ble): fixed tx memory leak issue when controller disable
  components/bt/porting/transport/src/hci_transport.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix wifi band 3 is not supported
  components/esp_wifi/include/esp_wifi.h
  components/esp_wifi/include/esp_wifi_types_generic.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): update esp32c5 ld files
  components/esp_rom/esp32c5/ld/esp32c5.rom.pp.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(wifi):wifi support broadcast twt
  components/esp_wifi/include/esp_wifi_he.h
  components/esp_wifi/include/esp_wifi_he_types.h
  components/esp_wifi/include/esp_wifi_types_generic.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(coex): support esp32c5mp coexist
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix code comments
  components/esp_wifi/include/esp_wifi.h
  components/esp_wifi/include/esp_wifi_he.h
  components/esp_wifi/include/esp_wifi_types_generic.h
  examples/protocols/mqtt/custom_outbox/sdkconfig.defaults
  examples/provisioning/.build-test-rules.yml
  examples/provisioning/wifi_prov_mgr/README.md
  tools/test_apps/system/.build-test-rules.yml
  tools/test_apps/system/clang_build_test/README.md
Due: check_readme_links, build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(wifi):add api to get btwt num that AP supported
  components/esp_wifi/include/esp_wifi_he.h
  components/esp_wifi/include/esp_wifi_he_types.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(examples): upgrade esp_cam_sensor component for isp/auto_focus
  examples/peripherals/isp/auto_focus/main/idf_component.yml
Due: none

docs: Update the CN translation for ulp-lp-core.rst
  docs/zh_CN/api-reference/system/ulp-lp-core.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

ci: fix missing argument `ignore_app_dependencies_components`
  tools/ci/ci_build_apps.py
  tools/ci/dynamic_pipelines/scripts/generate_build_child_pipeline.py
  tools/ci/idf_pytest/script.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi_prov): Added API to set random address
  components/protocomm/include/transports/protocomm_ble.h
  components/protocomm/src/simple_ble/simple_ble.c
  components/protocomm/src/simple_ble/simple_ble.h
  components/protocomm/src/transports/protocomm_ble.c
  components/protocomm/src/transports/protocomm_nimble.c
  components/wifi_provisioning/include/wifi_provisioning/scheme_ble.h
  components/wifi_provisioning/src/scheme_ble.c
  examples/provisioning/wifi_prov_mgr/main/app_main.c
  tools/ci/check_copyright_ignore.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi_prov): Added API to set random address
  components/protocomm/include/transports/protocomm_ble.h
  components/protocomm/src/simple_ble/simple_ble.c
  components/protocomm/src/simple_ble/simple_ble.h
  components/protocomm/src/transports/protocomm_ble.c
  components/protocomm/src/transports/protocomm_nimble.c
  components/wifi_provisioning/include/wifi_provisioning/scheme_ble.h
  components/wifi_provisioning/src/scheme_ble.c
  tools/ci/check_copyright_ignore.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci: temp disable esp32c5 build of examples/bluetooth/nimble/throughput_app/blecent_throughput
  examples/bluetooth/.build-test-rules.yml
  examples/bluetooth/nimble/throughput_app/blecent_throughput/README.md
Due: check_readme_links

fix(sdmmc): fix pin config doc format
  docs/en/api-reference/storage/sdmmc.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(xip_psram): support xip psram example on p4
  examples/system/.build-test-rules.yml
  examples/system/xip_from_psram/CMakeLists.txt
  examples/system/xip_from_psram/README.md
  examples/system/xip_from_psram/main/CMakeLists.txt
  examples/system/xip_from_psram/pytest_xip_from_psram.py
  examples/system/xip_from_psram/sdkconfig.defaults
  examples/system/xip_from_psram/sdkconfig.esp32p4_200m
Due: check_readme_links

fix(esp_wifi): Handle PMKID mismatch or absence in OWE
  components/wpa_supplicant/src/rsn_supp/wpa.c
Due: gen_integration_pipeline, child_integration_test_pipeline
