Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

ci: raise RuntimeError instead of SystemExit to avoid kill the process
  conftest.py
  tools/ci/idf_ci/uploader.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble): Fixed the issue of being unable to enter light sleep
  examples/bluetooth/nimble/power_save/sdkconfig.defaults.esp32c3
  examples/bluetooth/nimble/power_save/sdkconfig.defaults.esp32s3
Due: none

fix(lwip): fix log format resulting in compilation failue issue
  components/lwip/port/debug/lwip_debug.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): Fixed SPP connection failure
  components/bt/host/bluedroid/bta/include/bta/bta_jv_api.h
  components/bt/host/bluedroid/bta/jv/bta_jv_act.c
  components/bt/host/bluedroid/bta/jv/bta_jv_api.c
  components/bt/host/bluedroid/bta/jv/include/bta_jv_int.h
  components/bt/host/bluedroid/btc/profile/std/spp/btc_spp.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Fix ble memory leak when gattc config off
  components/bt/host/bluedroid/stack/gatt/gatt_main.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ble: npl count is zero if nimble host is not used
  components/bt/controller/esp32c2/bt.c
  components/bt/porting/npl/freertos/src/npl_os_freertos.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bootloader_support): Fix image_length calculation when secure boot v1 is enabled
  components/bootloader_support/src/esp_image_format.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(bootloader_support): Encrypt only the app image instead of the whole partition
  components/bootloader/Kconfig.projbuild
  components/bootloader_support/src/flash_encryption/flash_encrypt.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Fix(lwip):bugfix for change default value for ip ttl
  components/lwip/Kconfig
  components/lwip/port/include/lwipopts.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(console): Fixed linenoise prompt length calculation
  components/console/linenoise/linenoise.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(temperature_sensor): Cannot switch the range smmothly on esp32h2
  components/soc/esp32h2/include/soc/regi2c_saradc.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(spi_master): Fix p4 spi clock source support other than XTAL
  components/esp_driver_spi/src/gpspi/spi_master.c
  components/hal/esp32p4/include/hal/spi_ll.h
  components/hal/include/hal/spi_hal.h
  components/hal/spi_hal.c
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/clk_tree_defs.h
  components/soc/esp32p4/include/soc/soc_caps.h
  components/spi_flash/test_apps/esp_flash_stress/README.md
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

Revert "change(ble): added ble cca en and thresh option"
  components/bt/controller/esp32c2/Kconfig.in
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(lwip): Corrected NAPT dependency text
  components/lwip/port/include/lwipopts.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci: add IDF_TARGET env var while building
  tools/ci/idf_ci/app.py
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(soc): Deprecate usb pin mappings
  components/soc/esp32s2/include/soc/usb_pins.h
  components/soc/esp32s2/usb_periph.c
  components/soc/esp32s3/include/soc/usb_pins.h
  components/soc/esp32s3/usb_periph.c
  components/soc/include/soc/usb_periph.h
  tools/ci/check_copyright_ignore.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(soc): Remove soc/usb_types.h
  components/soc/esp32s2/include/soc/usb_struct.h
  components/soc/esp32s2/include/soc/usb_types.h
  components/soc/esp32s3/include/soc/usb_struct.h
  components/soc/esp32s3/include/soc/usb_types.h
  tools/ci/check_copyright_ignore.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(soc): Rename usb_otg_periph to usb_dwc_periph
  components/soc/CMakeLists.txt
  components/soc/esp32s2/usb_dwc_periph.c
  components/soc/esp32s3/usb_dwc_periph.c
  components/soc/include/soc/usb_dwc_periph.h
  components/soc/include/soc/usb_otg_periph.h
  components/usb/usb_phy.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(hal): Remove usb_hal and usb_ll
  components/hal/CMakeLists.txt
  components/hal/esp32s2/include/hal/usb_ll.h
  components/hal/esp32s3/include/hal/usb_ll.h
  components/hal/include/hal/usb_hal.h
  components/hal/usb_hal.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(twai): TWAI_GENERAL_CONFIG_DEFAULT initialize controller_id
  components/driver/twai/include/driver/twai.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(newlib): enable and fix newlib tests on P4
  components/esp_rom/esp32p4/Kconfig.soc_caps.in
  components/esp_rom/esp32p4/esp_rom_caps.h
  components/newlib/test_apps/.build-test-rules.yml
  components/newlib/test_apps/newlib/README.md
  components/newlib/test_apps/newlib/main/test_newlib.c
  components/newlib/test_apps/newlib/main/test_time.c
  components/newlib/test_apps/newlib/pytest_newlib.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_pm): safely check ccompare validity in DFS update_ccompare
  components/esp_pm/pm_impl.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(tools): Fix cannot generate *_caps to kconfig if int value is negative
  tools/gen_soc_caps_kconfig/gen_soc_caps_kconfig.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(i2c): test app change gpio
  components/driver/test_apps/i2c/main/test_i2c.c
Due: gen_integration_pipeline, child_integration_test_pipeline
