Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

example(sdmmc): support hs and uhs1 sdr50/ddr50
  examples/storage/sd_card/sdmmc/main/Kconfig.projbuild
  examples/storage/sd_card/sdmmc/main/sd_card_example_main.c
Due: none

doc(sdmmc): aadd UHS1 support for DDR50 / SDR50
  docs/en/api-reference/peripherals/sdmmc_host.rst
  docs/zh_CN/api-reference/peripherals/sdmmc_host.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(i2s): fixed i2s example build warning
  examples/peripherals/i2s/i2s_codec/i2s_es7210_tdm/main/i2s_es7210_record_example.c
Due: none

feat(mcpwm): support sleep retention
  components/esp_driver_mcpwm/include/driver/mcpwm_cap.h
  components/esp_driver_mcpwm/include/driver/mcpwm_timer.h
  components/esp_driver_mcpwm/src/mcpwm_cap.c
  components/esp_driver_mcpwm/src/mcpwm_com.c
  components/esp_driver_mcpwm/src/mcpwm_private.h
  components/esp_driver_mcpwm/src/mcpwm_timer.c
  components/esp_driver_mcpwm/test_apps/mcpwm/main/CMakeLists.txt
  components/esp_driver_mcpwm/test_apps/mcpwm/main/test_mcpwm_sleep.c
  components/esp_driver_mcpwm/test_apps/mcpwm/sdkconfig.ci.release
  components/esp_driver_mcpwm/test_apps/mcpwm/sdkconfig.defaults
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/retention_periph_defs.h
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c5/mcpwm_periph.c
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/retention_periph_defs.h
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32c6/mcpwm_periph.c
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/retention_periph_defs.h
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h2/mcpwm_periph.c
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32p4/mcpwm_periph.c
  components/soc/include/soc/mcpwm_periph.h
  components/soc/include/soc/regdma.h
  docs/en/api-reference/peripherals/mcpwm.rst
  docs/en/api-reference/system/power_management.rst
  docs/zh_CN/api-reference/peripherals/mcpwm.rst
  docs/zh_CN/api-reference/system/power_management.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(mcpwm): fix mcpwm register offset on p4
  components/soc/esp32p4/register/soc/mcpwm_reg.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): disable sar power when esp32p4 going to deepsleep
  components/esp_hw_support/sleep_modes.c
  components/esp_pm/linker.lf
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_pm): fix missed ccompare update when another core is already in do_switch
  components/esp_pm/pm_impl.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_pm): fix deadlock in pm_mode switching
  components/esp_pm/pm_impl.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp-rom): Fix comment typos in cache.h
  components/esp_rom/esp32/include/esp32/rom/cache.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_system): do not include openocd stub bins by default
  components/esp_system/Kconfig
  docs/en/api-guides/jtag-debugging/tips-and-quirks.rst
  docs/en/api-guides/performance/ram-usage.rst
  docs/zh_CN/api-guides/jtag-debugging/tips-and-quirks.rst
  docs/zh_CN/api-guides/performance/ram-usage.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

change: bump max sockets in lwip Kconfig
  components/lwip/Kconfig
  tools/ci/check_public_headers_exceptions.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_pm): move clock module out of TOP_DOMAIN_PERIPHERALS_BM
  components/soc/esp32c5/beta3/include/soc/retention_periph_defs.h
  components/soc/esp32c6/include/soc/retention_periph_defs.h
  components/soc/esp32h2/include/soc/retention_periph_defs.h
  components/soc/esp32p4/include/soc/retention_periph_defs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_pm): move clock module out of TOP_DOMAIN_PERIPHERALS_BM
  components/esp_hw_support/include/esp_private/sleep_retention.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(openthread): support alloc nat64 session from psram
  components/openthread/Kconfig
  components/openthread/private_include/esp_openthread_common.hpp
  components/openthread/private_include/esp_openthread_platform.h
  components/openthread/src/esp_openthread_platform.cpp
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(openthread): update openthread submodule and border router lib
  components/openthread/include/esp_openthread_border_router.h
  components/openthread/include/esp_openthread_types.h
  components/openthread/include/esp_radio_spinel.h
  components/openthread/include/esp_radio_spinel_platform.h
  components/openthread/private_include/openthread-core-esp32x-ftd-config.h
  components/openthread/private_include/openthread-core-esp32x-spinel-config.h
  components/openthread/sbom_openthread.yml
  components/openthread/src/esp_openthread_netif_glue.c
  components/openthread/src/port/esp_openthread_radio_spinel.cpp
  components/openthread/src/spinel/esp_radio_spinel.cpp
  examples/openthread/ot_ci_function.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

enable openthread coap client for mtd
  components/openthread/private_include/openthread-core-esp32x-mtd-config.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(usb_host): return ESP_ERR_NO_MEM on failed alloc in client register
  components/usb/usb_host.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Support AES IV with random value in esptouch v2
  docs/en/api-reference/network/esp_smartconfig.rst
  docs/zh_CN/api-reference/network/esp_smartconfig.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(tools): autocomplete @-arguments of idf.py with file names
  tools/idf.py
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(wifi/espnow): Update the description for ESP-NOW frame
  components/esp_wifi/include/esp_now.h
  docs/en/api-reference/network/esp_now.rst
  docs/zh_CN/api-reference/network/esp_now.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Fix for crash while receiving deauth in esp32c2 ECO4
  components/esp_rom/esp32c2/ld/esp32c2.rom.eco4.ld
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_rom): Comment out unused function pointers in esp32c2 eco4 linker file
  components/esp_rom/esp32c2/ld/esp32c2.rom.eco4.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

Update slave.c to fix the mode
  examples/protocols/modbus/serial/mb_slave/main/slave.c
Due: none

docs(sbom): add basic description about SBOM for ESP-IDF projects
  docs/en/api-guides/tools/idf-sbom.rst
  docs/en/api-guides/tools/index.rst
  docs/zh_CN/api-guides/tools/idf-sbom.rst
  docs/zh_CN/api-guides/tools/index.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(tusb_msc): Fixed sdmmc init on ESP32P4
  examples/peripherals/usb/device/tusb_msc/main/Kconfig.projbuild
  examples/peripherals/usb/device/tusb_msc/main/tusb_msc_main.c
Due: none

change(esp32): undo forcing two slots in I2S
  components/esp_driver_i2s/i2s_tdm.c
  components/hal/i2s_hal.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: remove gitlab api call while generating pytest target-test child pipeline
  tools/ci/dynamic_pipelines/scripts/generate_target_test_child_pipeline.py
  tools/ci/dynamic_pipelines/templates/known_generate_test_child_pipeline_warnings.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: generate new report if old one failed to be updated
  tools/ci/dynamic_pipelines/report.py
Due: gen_integration_pipeline, child_integration_test_pipeline

examples/ledc_check.c: Check freq and duty.
  examples/peripherals/ledc/ledc_check/CMakeLists.txt
  examples/peripherals/ledc/ledc_check/main/CMakeLists.txt
  examples/peripherals/ledc/ledc_check/main/ledc_check.c
Due: none

docs: Provide CN translation for file system considerations in IDF
  docs/en/api-guides/file-system-considerations.rst
  docs/zh_CN/api-guides/file-system-considerations.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(i2s): support i2s retention on C61
  components/soc/esp32c61/i2s_periph.c
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/retention_periph_defs.h
  components/soc/esp32c61/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(i2s): suplimemt of c61 i2s ll
  components/esp_driver_i2s/test_apps/i2s_multi_dev/main/test_i2s_multi_dev.c
  components/hal/esp32c5/include/hal/i2s_ll.h
  components/hal/esp32c61/include/hal/etm_ll.h
  components/hal/esp32c61/include/hal/i2s_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci(i2s): fix i2s_multi_dev failed case
  components/esp_driver_i2s/test_apps/i2s_multi_dev/main/test_i2s_multi_dev.c
  components/soc/esp32c5/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): Fixed the incorrect error code returned
  components/bt/host/bluedroid/stack/avrc/avrc_pars_tg.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_psram): add support for QEMU 16MB and 32MB QPI PSRAM
  components/esp_psram/device/esp_psram_impl_ap_quad.c
  components/esp_psram/device/esp_quad_psram_defs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
