Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

fix(esp_https_ota): add component dependencies for esp_https_ota component
  components/esp_https_ota/CMakeLists.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

Adding a possibility to execute docker command in the same shell as entrypoint
  tools/docker/README.md
  tools/docker/entrypoint.sh
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_wifi): Add DS parameter in probe requests from STA
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix current leakage if ext32k slow clock source not exists
  components/esp_hw_support/port/esp32/include/soc/rtc.h
  components/esp_hw_support/port/esp32/rtc_clk.c
  components/esp_hw_support/port/esp32c2/include/soc/rtc.h
  components/esp_hw_support/port/esp32c2/rtc_clk.c
  components/esp_hw_support/port/esp32c3/include/soc/rtc.h
  components/esp_hw_support/port/esp32c3/rtc_clk.c
  components/esp_hw_support/port/esp32c5/include/soc/rtc.h
  components/esp_hw_support/port/esp32c5/rtc_clk.c
  components/esp_hw_support/port/esp32c6/include/soc/rtc.h
  components/esp_hw_support/port/esp32c6/rtc_clk.c
  components/esp_hw_support/port/esp32c61/include/soc/rtc.h
  components/esp_hw_support/port/esp32c61/rtc_clk.c
  components/esp_hw_support/port/esp32h2/include/soc/rtc.h
  components/esp_hw_support/port/esp32h2/rtc_clk.c
  components/esp_hw_support/port/esp32h21/include/soc/rtc.h
  components/esp_hw_support/port/esp32h21/rtc_clk.c
  components/esp_hw_support/port/esp32h4/include/soc/rtc.h
  components/esp_hw_support/port/esp32h4/rtc_clk.c
  components/esp_hw_support/port/esp32s2/include/soc/rtc.h
  components/esp_hw_support/port/esp32s2/rtc_clk.c
  components/esp_hw_support/port/esp32s3/include/soc/rtc.h
  components/esp_hw_support/port/esp32s3/rtc_clk.c
  components/esp_system/port/soc/esp32/clk.c
  components/esp_system/port/soc/esp32c2/clk.c
  components/esp_system/port/soc/esp32c3/clk.c
  components/esp_system/port/soc/esp32c5/clk.c
  components/esp_system/port/soc/esp32c6/clk.c
  components/esp_system/port/soc/esp32c61/clk.c
  components/esp_system/port/soc/esp32h2/clk.c
  components/esp_system/port/soc/esp32h21/clk.c
  components/esp_system/port/soc/esp32h4/clk.c
  components/esp_system/port/soc/esp32s2/clk.c
  components/esp_system/port/soc/esp32s3/clk.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Code cleanup for PR#15550 PR#15551
  components/wpa_supplicant/esp_supplicant/include/esp_eap_client.h
  components/wpa_supplicant/esp_supplicant/src/crypto/tls_mbedtls.c
  components/wpa_supplicant/esp_supplicant/src/esp_eap_client.c
  components/wpa_supplicant/port/include/os.h
  components/wpa_supplicant/src/eap_peer/eap.c
  components/wpa_supplicant/src/eap_peer/eap.h
  examples/wifi/wifi_enterprise/main/Kconfig.projbuild
  examples/wifi/wifi_enterprise/main/wifi_enterprise_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Flush PMK when EAP config is changed
  components/wpa_supplicant/esp_supplicant/src/esp_eap_client.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Fixed BLE_FEAT_CREATE_SYNC_ENH define error in bluedroid host
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/bta/include/bta/bta_api.h
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_ble.c
  components/bt/host/bluedroid/stack/btm/btm_ble_5_gap.c
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
  examples/bluetooth/bluedroid/ble_50/periodic_sync/tutorial/Periodic_Sync_Example_Walkthrough.md
Due: check_readme_links, build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix: Apply pre-commit hooks
  components/wpa_supplicant/esp_supplicant/include/esp_eap_client.h
  components/wpa_supplicant/esp_supplicant/src/crypto/tls_mbedtls.c
  components/wpa_supplicant/esp_supplicant/src/esp_eap_client.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(version): Update version to 5.3.3
  .gitlab/ci/common.yml
  components/esp_common/include/esp_idf_version.h
  tools/cmake/version.cmake
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(esp_tee): Refactor the TEE heap-related APIs
  components/esp_tee/subproject/main/common/multi_heap.c
  components/esp_tee/subproject/main/core/esp_tee_init.c
  components/esp_tee/subproject/main/include/multi_heap.h
  components/esp_tee/test_apps/tee_test_fw/components/test_sec_srv/src/test_dummy_srv.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_tee): Use the ROM TLSF implementation for the TEE build
  components/esp_rom/CMakeLists.txt
  components/esp_rom/include/esp_rom_tlsf.h
  components/esp_rom/patches/esp_rom_tlsf.c
  components/esp_tee/subproject/main/CMakeLists.txt
  components/esp_tee/subproject/main/common/multi_heap.c
  components/esp_tee/test_apps/tee_test_fw/sdkconfig.ci.ota
  components/esp_tee/test_apps/tee_test_fw/sdkconfig.defaults
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci(esp_tee): Verify the malloc-write-free cycle in the TEE heap
  components/esp_tee/test_apps/tee_test_fw/components/test_sec_srv/CMakeLists.txt
  components/esp_tee/test_apps/tee_test_fw/components/test_sec_srv/include/esp_tee_test.h
  components/esp_tee/test_apps/tee_test_fw/components/test_sec_srv/sec_srv_tbl_test.yml
  components/esp_tee/test_apps/tee_test_fw/components/test_sec_srv/src/test_heap.c
  components/esp_tee/test_apps/tee_test_fw/main/test_esp_tee_ctx_switch.c
  components/esp_tee/test_apps/tee_test_fw/pytest_esp_tee_ut.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(esp32c61): update bus_monitor registers for C61
  components/soc/esp32c61/register/soc/assist_debug_reg.h
  components/soc/esp32c61/register/soc/assist_debug_struct.h
  components/soc/esp32c61/register/soc/mem_monitor_reg.h
  components/soc/esp32c61/register/soc/mem_monitor_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(esp32c61): bus_monitor backward compatible refactor
  components/bootloader/subproject/main/ld/esp32c2/bootloader.ld
  components/bootloader/subproject/main/ld/esp32c3/bootloader.ld
  components/bootloader/subproject/main/ld/esp32c5/bootloader.ld
  components/bootloader/subproject/main/ld/esp32c6/bootloader.ld
  components/bootloader/subproject/main/ld/esp32c61/bootloader.ld
  components/bootloader/subproject/main/ld/esp32h2/bootloader.ld
  components/bootloader/subproject/main/ld/esp32h21/bootloader.ld
  components/bootloader/subproject/main/ld/esp32h4/bootloader.ld
  components/bootloader/subproject/main/ld/esp32p4/bootloader.ld
  components/hal/esp32c2/include/hal/assist_debug_ll.h
  components/hal/esp32c3/include/hal/assist_debug_ll.h
  components/hal/esp32c5/include/hal/assist_debug_ll.h
  components/hal/esp32c6/include/hal/assist_debug_ll.h
  components/hal/esp32c61/include/hal/assist_debug_ll.h
  components/hal/esp32h2/include/hal/assist_debug_ll.h
  components/hal/esp32p4/include/hal/assist_debug_ll.h
  components/riscv/CMakeLists.txt
  components/riscv/include/riscv/rv_utils.h
  components/riscv/linker.lf
  components/riscv/rv_utils.c
  components/soc/esp32c61/include/soc/assist_debug_reg.h
  components/soc/esp32c61/ld/esp32c61.peripherals.ld
  components/soc/esp32c61/register/soc/bus_monitor_reg.h
  components/soc/esp32c61/register/soc/bus_monitor_struct.h
  components/soc/esp32c61/register/soc/reg_base.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ulp): LP Timer interrupt support
  components/hal/esp32c5/include/hal/lp_timer_ll.h
  components/hal/esp32c6/include/hal/lp_timer_ll.h
  components/hal/esp32c61/include/hal/lp_timer_ll.h
  components/hal/esp32h2/include/hal/lp_timer_ll.h
  components/hal/esp32p4/include/hal/lp_timer_ll.h
  components/ulp/lp_core/lp_core/include/ulp_lp_core_utils.h
  components/ulp/lp_core/lp_core/lp_core_utils.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ulp): LP Timer interrupt example
  examples/system/ulp/lp_core/lp_timer_interrupt/CMakeLists.txt
  examples/system/ulp/lp_core/lp_timer_interrupt/README.md
  examples/system/ulp/lp_core/lp_timer_interrupt/main/CMakeLists.txt
  examples/system/ulp/lp_core/lp_timer_interrupt/main/lp_core/main.c
  examples/system/ulp/lp_core/lp_timer_interrupt/main/lp_interrupts_main.c
  examples/system/ulp/lp_core/lp_timer_interrupt/sdkconfig.defaults
Due: check_readme_links

feat(ble/bluedroid): Add sync_cte_type in creat_periodic_adv_sync function
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/bta/include/bta/bta_api.h
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_ble.c
  components/bt/host/bluedroid/stack/btm/btm_ble_5_gap.c
  components/bt/host/bluedroid/stack/hcic/hciblecmds.c
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
  components/bt/host/bluedroid/stack/include/stack/hcimsgs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(spi_flash): Add suspend check on esp32c6 and esp32h2 for some reason
  components/spi_flash/Kconfig
  components/spi_flash/esp_flash_api.c
  components/spi_flash/test_apps/esp_flash_stress/sdkconfig.ci.esp32c3_suspend
  components/spi_flash/test_apps/flash_suspend/sdkconfig.defaults
  examples/system/flash_suspend/sdkconfig.ci.flash_suspend
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble/bluedroid): report cte_type in periodic adv report if CTE feature is enabled
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_ble.c
  components/bt/host/bluedroid/stack/btu/btu_hcif.c
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt/controller): Fixed controller flash only bug if hci-uart is enabled
  components/bt/controller/esp32c3/Kconfig.in
  components/esp_rom/CMakeLists.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi):fix modem state rx bcn failed when tbtt update, support modem state for coexist
  components/esp_coex/include/private/esp_coexist_internal.h
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32c5/ld/esp32c5.rom.pp.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.pp.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.pp.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
  components/esp_wifi/esp32/esp_adapter.c
  components/esp_wifi/esp32c2/esp_adapter.c
  components/esp_wifi/esp32c3/esp_adapter.c
  components/esp_wifi/esp32c5/esp_adapter.c
  components/esp_wifi/esp32c6/esp_adapter.c
  components/esp_wifi/esp32c61/esp_adapter.c
  components/esp_wifi/esp32p4/esp_adapter.c
  components/esp_wifi/esp32s2/esp_adapter.c
  components/esp_wifi/esp32s3/esp_adapter.c
  components/esp_wifi/include/esp_private/wifi_os_adapter.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): add interface to calculate slow clock period by clock frequency
  components/esp_hw_support/port/esp32/include/soc/rtc.h
  components/esp_hw_support/port/esp32/rtc_time.c
  components/esp_hw_support/port/esp32c2/include/soc/rtc.h
  components/esp_hw_support/port/esp32c2/rtc_time.c
  components/esp_hw_support/port/esp32c3/include/soc/rtc.h
  components/esp_hw_support/port/esp32c3/rtc_time.c
  components/esp_hw_support/port/esp32c5/include/soc/rtc.h
  components/esp_hw_support/port/esp32c5/rtc_time.c
  components/esp_hw_support/port/esp32c6/include/soc/rtc.h
  components/esp_hw_support/port/esp32c6/rtc_time.c
  components/esp_hw_support/port/esp32c61/include/soc/rtc.h
  components/esp_hw_support/port/esp32c61/rtc_time.c
  components/esp_hw_support/port/esp32h2/include/soc/rtc.h
  components/esp_hw_support/port/esp32h2/rtc_time.c
  components/esp_hw_support/port/esp32h21/include/soc/rtc.h
  components/esp_hw_support/port/esp32h21/rtc_time.c
  components/esp_hw_support/port/esp32h4/include/soc/rtc.h
  components/esp_hw_support/port/esp32h4/rtc_time.c
  components/esp_hw_support/port/esp32p4/include/soc/rtc.h
  components/esp_hw_support/port/esp32p4/rtc_time.c
  components/esp_hw_support/port/esp32s2/include/soc/rtc.h
  components/esp_hw_support/port/esp32s2/rtc_time.c
  components/esp_hw_support/port/esp32s3/include/soc/rtc.h
  components/esp_hw_support/port/esp32s3/rtc_time.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_wifi): Improve handling group parameter A in H2E
  components/wpa_supplicant/esp_supplicant/src/crypto/crypto_mbedtls-ec.c
  components/wpa_supplicant/src/common/sae.c
  components/wpa_supplicant/src/crypto/crypto.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci(esp_wifi): Add h2e testcase
  components/wpa_supplicant/test_apps/main/CMakeLists.txt
  components/wpa_supplicant/test_apps/main/test_sae_h2e.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(bt): Add API to get profile status
  components/bt/common/btc/core/btc_task.c
  components/bt/host/bluedroid/api/esp_a2dp_api.c
  components/bt/host/bluedroid/api/esp_gap_bt_api.c
  components/bt/host/bluedroid/api/esp_hf_ag_api.c
  components/bt/host/bluedroid/api/esp_hf_client_api.c
  components/bt/host/bluedroid/api/esp_hidd_api.c
  components/bt/host/bluedroid/api/esp_hidh_api.c
  components/bt/host/bluedroid/api/esp_l2cap_bt_api.c
  components/bt/host/bluedroid/api/esp_sdp_api.c
  components/bt/host/bluedroid/api/esp_spp_api.c
  components/bt/host/bluedroid/api/include/api/esp_a2dp_api.h
  components/bt/host/bluedroid/api/include/api/esp_gap_bt_api.h
  components/bt/host/bluedroid/api/include/api/esp_hf_ag_api.h
  components/bt/host/bluedroid/api/include/api/esp_hf_client_api.h
  components/bt/host/bluedroid/api/include/api/esp_hidd_api.h
  components/bt/host/bluedroid/api/include/api/esp_hidh_api.h
  components/bt/host/bluedroid/api/include/api/esp_l2cap_bt_api.h
  components/bt/host/bluedroid/api/include/api/esp_sdp_api.h
  components/bt/host/bluedroid/api/include/api/esp_spp_api.h
  components/bt/host/bluedroid/btc/core/btc_dm.c
  components/bt/host/bluedroid/btc/profile/std/a2dp/btc_av.c
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_bt.c
  components/bt/host/bluedroid/btc/profile/std/hf_ag/btc_hf_ag.c
  components/bt/host/bluedroid/btc/profile/std/hf_client/btc_hf_client.c
  components/bt/host/bluedroid/btc/profile/std/hid/btc_hd.c
  components/bt/host/bluedroid/btc/profile/std/hid/btc_hh.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_av.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_gap_bt.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_hd.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_hf_ag.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_hf_client.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_hh.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_l2cap.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_sdp.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_spp.h
  components/bt/host/bluedroid/btc/profile/std/l2cap/btc_l2cap.c
  components/bt/host/bluedroid/btc/profile/std/sdp/btc_sdp.c
  components/bt/host/bluedroid/btc/profile/std/spp/btc_spp.c
  components/bt/host/bluedroid/stack/include/stack/dyn_mem.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

bugfix: Remove the broken link in wifi-expansion.rst
  docs/en/api-guides/wifi-expansion.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(fatfs): Mistake in Kconfig for FATFS_USE_DYN_BUFFERS
  components/fatfs/Kconfig
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix modem wakeup req always high caused by pmu min slp cycle update
  components/esp_hw_support/include/esp_private/esp_pmu.h
  components/esp_hw_support/port/esp32c5/pmu_sleep.c
  components/esp_hw_support/port/esp32c6/pmu_sleep.c
  components/esp_hw_support/port/esp32c61/pmu_sleep.c
  components/esp_hw_support/port/esp32h2/pmu_sleep.c
  components/esp_hw_support/port/esp32h21/pmu_sleep.c
  components/esp_hw_support/port/esp32p4/pmu_sleep.c
  components/esp_hw_support/sleep_modes.c
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(ldgen): extend section name regex to include '_' (e.g.: used by picolibc)
  tools/ldgen/ldgen/entity.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): enable auto clock gating for multi peripherals
  components/esp_system/port/soc/esp32p4/clk.c
  components/hal/esp32p4/include/hal/adc_ll.h
  components/hal/esp32p4/include/hal/emac_ll.h
  components/hal/esp32p4/include/hal/l2mem_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix esp32p4 xtal_xpd depends on TOP power domain
  components/esp_hw_support/sleep_modes.c
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h21/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h21/include/soc/soc_caps.h
  components/soc/esp32h4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline
