Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*

fix(build): fix build failure if CMAKE_EXECUTABLE_SUFFIX is set
  components/esptool_py/project_include.cmake
Due: none

change(codeowner): add storage to esp_driver_sdmmc
  .gitlab/CODEOWNERS
Due: none

refactor(sdmmc): dependency inversion to sdmmc component
  components/driver/CMakeLists.txt
  components/esp_driver_sd_common/CMakeLists.txt
  components/esp_driver_sd_common/README.md
  components/esp_driver_sdmmc/CMakeLists.txt
  components/esp_driver_sdmmc/include/driver/sdmmc_defs.h
  components/esp_driver_sdmmc/include/driver/sdmmc_host.h
  components/esp_driver_sdmmc/include/driver/sdmmc_types.h
  components/fatfs/CMakeLists.txt
  components/fatfs/diskio/diskio_sdmmc.h
  components/fatfs/vfs/esp_vfs_fat.h
  components/fatfs/vfs/vfs_fat_sdmmc.c
  components/sdmmc/CMakeLists.txt
  components/sdmmc/include/sd_protocol_defs.h
  components/sdmmc/include/sd_protocol_types.h
  components/sdmmc/include/sdmmc_cmd.h
  components/sdmmc/sdmmc_common.h
  examples/storage/.build-test-rules.yml
Due: build_docs_html_partial

refactor(sdmmc): move sdmmc test apps to tools/test_apps
  components/sdmmc/test_apps/.build-test-rules.yml
  components/sdmmc/test_apps/sdmmc_console/components/cmd_sdmmc/CMakeLists.txt
  tools/test_apps/.build-test-rules.yml
  tools/test_apps/storage/sdmmc_console/CMakeLists.txt
  tools/test_apps/storage/sdmmc_console/README.md
  tools/test_apps/storage/sdmmc_console/components/cmd_sdmmc/CMakeLists.txt
  tools/test_apps/storage/sdmmc_console/components/cmd_sdmmc/cmd_sdmmc.c
  tools/test_apps/storage/sdmmc_console/components/cmd_sdmmc/cmd_sdmmc.h
  tools/test_apps/storage/sdmmc_console/components/cmd_unity/CMakeLists.txt
  tools/test_apps/storage/sdmmc_console/components/cmd_unity/cmd_unity.c
  tools/test_apps/storage/sdmmc_console/components/cmd_unity/cmd_unity.h
  tools/test_apps/storage/sdmmc_console/components/sdmmc_test_board/CMakeLists.txt
  tools/test_apps/storage/sdmmc_console/components/sdmmc_test_board/Kconfig.projbuild
  tools/test_apps/storage/sdmmc_console/components/sdmmc_test_board/include/sdmmc_test_board.h
  tools/test_apps/storage/sdmmc_console/components/sdmmc_test_board/sdmmc_test_board.c
  tools/test_apps/storage/sdmmc_console/components/sdmmc_test_board/sdmmc_test_board_defs.c
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/CMakeLists.txt
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/sdmmc_test_begin_end.h
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/sdmmc_test_begin_end_sd.c
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/sdmmc_test_begin_end_spi.c
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/sdmmc_test_cd_wp_common.c
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/sdmmc_test_cd_wp_common.h
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/sdmmc_test_cd_wp_sd.c
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/sdmmc_test_cd_wp_spi.c
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/sdmmc_test_probe_sd.c
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/sdmmc_test_probe_spi.c
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/sdmmc_test_rw_common.c
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/sdmmc_test_rw_common.h
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/sdmmc_test_rw_sd.c
  tools/test_apps/storage/sdmmc_console/components/sdmmc_tests/sdmmc_test_rw_spi.c
  tools/test_apps/storage/sdmmc_console/main/CMakeLists.txt
  tools/test_apps/storage/sdmmc_console/main/sdmmc_console_main.c
  tools/test_apps/storage/sdmmc_console/partitions.csv
  tools/test_apps/storage/sdmmc_console/sdkconfig.defaults
Due: none

refactor(sdmmc): place sdmmc driver into a new component
  components/driver/CMakeLists.txt
  components/esp_driver_sd_common/CMakeLists.txt
  components/esp_driver_sd_common/README.md
  components/esp_driver_sd_common/include/driver/esp_sd_defs.h
  components/esp_driver_sd_common/include/driver/esp_sd_types.h
  components/esp_driver_sdmmc/CMakeLists.txt
  components/esp_driver_sdmmc/include/driver/sdmmc_default_configs.h
  components/esp_driver_sdmmc/include/driver/sdmmc_defs.h
  components/esp_driver_sdmmc/include/driver/sdmmc_host.h
  components/esp_driver_sdmmc/include/driver/sdmmc_types.h
  components/esp_driver_sdmmc/src/sdmmc_host.c
  components/esp_driver_sdmmc/src/sdmmc_private.h
  components/esp_driver_sdmmc/src/sdmmc_transaction.c
  docs/doxygen/Doxyfile
  docs/en/api-reference/storage/sdmmc.rst
  docs/en/migration-guides/release-5.x/5.3/peripherals.rst
  docs/zh_CN/api-reference/storage/sdmmc.rst
  docs/zh_CN/migration-guides/release-5.x/5.3/peripherals.rst
  examples/storage/.build-test-rules.yml
  tools/ci/check_copyright_config.yaml
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(tools/monitor): fix PRINT_FILTER env variable usage
  docs/en/api-guides/tools/idf-monitor.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: Update CN translation for api-guides/tools/idf-monitor.rst
  docs/en/api-guides/tools/idf-monitor.rst
  docs/zh_CN/api-guides/tools/idf-monitor.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(bt/bluedroid): support clear legacy advertising
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
  components/bt/host/bluedroid/bta/dm/bta_dm_api.c
  components/bt/host/bluedroid/bta/dm/bta_dm_main.c
  components/bt/host/bluedroid/bta/dm/include/bta_dm_int.h
  components/bt/host/bluedroid/bta/include/bta/bta_api.h
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_ble.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_gap_ble.h
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/btm/btm_devctl.c
  components/bt/host/bluedroid/stack/btm/include/btm_ble_int.h
  components/bt/host/bluedroid/stack/hcic/hciblecmds.c
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
  components/bt/host/bluedroid/stack/include/stack/hcidefs.h
  components/bt/host/bluedroid/stack/include/stack/hcimsgs.h
Due: build_docs_html_partial

fix(esp_hw_support): fix lightsleep current leakage on usb-phy controlled pad
  components/bootloader_support/src/bootloader_console.c
  components/driver/usb_serial_jtag/usb_serial_jtag.c
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/include/esp_private/sleep_console.h
  components/esp_hw_support/linker.lf
  components/esp_hw_support/sleep_console.c
  components/esp_hw_support/sleep_modes.c
  components/hal/esp32c3/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32c6/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32h2/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32s2/include/hal/usb_phy_ll.h
  components/hal/esp32s3/include/hal/usb_phy_ll.h
  components/hal/esp32s3/include/hal/usb_serial_jtag_ll.h
  components/hal/usb_phy_hal.c
  components/usb/usb_phy.c
Due: build_docs_html_partial

doc(sleep_mode): Added link to lightsleep example
  docs/en/api-reference/system/sleep_modes.rst
  docs/zh_CN/api-reference/system/sleep_modes.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix: don't use sizeof on pointer
  components/bt/esp_ble_mesh/core/access.c
  components/bt/esp_ble_mesh/core/cfg_srv.c
  components/bt/esp_ble_mesh/core/local.c
  components/bt/esp_ble_mesh/core/storage/settings.c
  components/bt/esp_ble_mesh/core/test.c
  docs/en/api-guides/esp-ble-mesh/ble-mesh-faq.rst
  docs/zh_CN/api-guides/esp-ble-mesh/ble-mesh-faq.rst
  examples/bluetooth/esp_ble_mesh/common_components/fast_prov/ble_mesh_fast_prov_operation.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

change(soc): rename SOC_CPU_WATCHPOINT_SIZE to SOC_CPU_WATCHPOINT_MAX_REGION_SIZE
  components/soc/esp32/include/soc/Kconfig.soc_caps.in
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c2/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

fix(riscv): supports 1 byte and larger than 64byte range watchpoint setting
  components/esp_hw_support/cpu.c
  components/esp_hw_support/include/esp_cpu.h
  components/riscv/include/riscv/csr.h
  components/riscv/include/riscv/rv_utils.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

feat(freertos/idf): Add config option for FreeRTOS Timer Task core affinity
  components/freertos/FreeRTOS-Kernel/idf_changes.md
  components/freertos/FreeRTOS-Kernel/timers.c
  components/freertos/Kconfig
  components/freertos/config/include/freertos/FreeRTOSConfig.h
  components/freertos/test_apps/freertos/sdkconfig.ci.freertos_options
Due: build_docs_html_partial

fix(mbedtls): move interrupt allocation during initialization phase
  components/esp-tls/test_apps/main/app_main.c
  components/mbedtls/port/aes/dma/esp_aes.c
  components/mbedtls/port/aes/dma/include/esp_aes_dma_priv.h
  components/mbedtls/port/aes/esp_aes_common.c
  components/mbedtls/port/bignum/esp_bignum.c
  components/mbedtls/test_apps/main/app_main.c
  tools/ci/check_copyright_ignore.txt
Due: build_docs_html_partial

fix(console): switch USB PHY to OTG when OTG is used for console
  components/bootloader_support/src/bootloader_console.c
Due: none

feat(touch): support touch driver on p4 (soc)
  components/driver/test_apps/.build-test-rules.yml
  components/driver/test_apps/touch_sensor_v2/main/test_touch_v2.c
  components/hal/esp32/include/hal/touch_sensor_ll.h
  components/hal/esp32p4/include/hal/touch_sensor_ll.h
  components/hal/esp32s2/include/hal/touch_sensor_ll.h
  components/hal/esp32s2/touch_sensor_hal.c
  components/hal/esp32s3/include/hal/touch_sensor_ll.h
  components/hal/esp32s3/touch_sensor_hal.c
  components/hal/include/hal/touch_sensor_types.h
  components/hal/touch_sensor_hal.c
  components/soc/esp32/include/soc/Kconfig.soc_caps.in
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/lp_analog_peri_struct.h
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32p4/include/soc/touch_sensor_channel.h
  components/soc/esp32p4/include/soc/touch_struct.h
  components/soc/esp32p4/ld/esp32p4.peripherals.ld
  components/soc/esp32p4/touch_sensor_periph.c
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
  docs/en/api-reference/peripherals/touch_pad.rst
  docs/zh_CN/api-reference/peripherals/touch_pad.rst
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/touch_sensor/touch_sensor_v2/touch_pad_interrupt/main/tp_interrupt_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(esp_hw_support): fix lightsleep current leakage on usb-phy controlled pad
  components/bootloader_support/src/bootloader_console.c
  components/driver/usb_serial_jtag/usb_serial_jtag.c
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/include/esp_private/sleep_console.h
  components/esp_hw_support/linker.lf
  components/esp_hw_support/sleep_console.c
  components/esp_hw_support/sleep_modes.c
  components/hal/esp32c3/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32c6/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32h2/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32s2/include/hal/usb_phy_ll.h
  components/hal/esp32s3/include/hal/usb_phy_ll.h
  components/hal/esp32s3/include/hal/usb_serial_jtag_ll.h
  components/hal/usb_phy_hal.c
  components/soc/esp32c2/ld/esp32c2.peripherals.ld
  components/soc/esp32c3/ld/esp32c3.peripherals.ld
  components/soc/esp32s3/ld/esp32s3.peripherals.ld
  components/usb/usb_phy.c
Due: build_docs_html_partial

fix(bt/bluedroid): Added dynamic memory allocation for HFP control blocks
  components/bt/host/bluedroid/btc/profile/std/hf_ag/btc_hf_ag.c
Due: none

Fix(dhcps):fix dhcp subnet option api dos not work issue
  components/esp_netif/lwip/esp_netif_lwip.c
Due: none

fix(soc/esp32c6): Fix llperi_rng_data field discrepancy
  components/soc/esp32c6/include/soc/lpperi_reg.h
  components/soc/esp32c6/include/soc/lpperi_struct.h
Due: build_docs_html_partial

fix(soc/esp32h2): Fix llperi_rng_data field discrepancy
  components/soc/esp32h2/include/soc/lpperi_reg.h
  components/soc/esp32h2/include/soc/lpperi_struct.h
Due: build_docs_html_partial
