Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    PYTHON_VER: 3.6.13
  script:
  - cd docs
  - pip install -r requirements.txt
  - build-docs gh-linkcheck

build_docs_html_fast:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    PYTHON_VER: 3.6.13
    DOC_BUILDERS: html
    DOCS_FAST_BUILD: 'yes'
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - pip install -r requirements.txt
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

spi_flash: refactor spi_flash.h to esp_rom_spiflash.h but keep the content in spi_flash.h
  components/app_update/test/test_switch_ota.c
  components/bootloader_support/CMakeLists.txt
  components/bootloader_support/bootloader_flash/include/bootloader_flash_override.h
  components/bootloader_support/bootloader_flash/include/bootloader_flash_priv.h
  components/bootloader_support/bootloader_flash/include/flash_qio_mode.h
  components/bootloader_support/bootloader_flash/src/bootloader_flash.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32c3.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32h2.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32s2.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32s3.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp8684.c
  components/bootloader_support/bootloader_flash/src/flash_qio_mode.c
  components/bootloader_support/src/esp8684/bootloader_esp8684.c
  components/efuse/src/esp_efuse_utility.c
  components/esp_rom/README.md
  components/esp_rom/esp32/ld/esp32.rom.api.ld
  components/esp_rom/esp32/ld/esp32.rom.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.api.ld
  components/esp_rom/esp32h2/ld/rev1/esp32h2.rom.api.ld
  components/esp_rom/esp32h2/ld/rev2/esp32h2.rom.api.ld
  components/esp_rom/esp32s2/ld/esp32s2.rom.api.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.api.ld
  components/esp_rom/esp8684/ld/esp8684.rom.api.ld
  components/esp_rom/include/esp32/rom/spi_flash.h
  components/esp_rom/include/esp32c3/rom/spi_flash.h
  components/esp_rom/include/esp32h2/rom/spi_flash.h
  components/esp_rom/include/esp32s2/rom/spi_flash.h
  components/esp_rom/include/esp32s3/rom/spi_flash.h
  components/esp_rom/include/esp8684/rom/spi_flash.h
  components/esp_rom/include/esp_rom_spiflash.h
  components/esp_rom/include/esp_rom_spiflash_defs.h
  components/esp_rom/patches/esp_rom_spiflash.c
  components/spi_flash/esp32s3/spi_flash_oct_flash_init.c
  components/spi_flash/sim/SpiFlash.h
  components/spi_flash/sim/flash_mock.cpp
  components/spi_flash/test/test_read_write.c
  components/spi_flash/test/test_spi_flash.c
  docs/en/migration-guides/peripherals.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

esp_rom: add README to describe the component layout
  components/esp_rom/README.md
Due: none

bootloader: move bootloader flash support to isolate folders
  components/app_update/test/test_switch_ota.c
  components/bootloader_support/CMakeLists.txt
  components/bootloader_support/bootloader_flash/include/bootloader_flash.h
  components/bootloader_support/bootloader_flash/include/bootloader_flash_config.h
  components/bootloader_support/include_bootloader/bootloader_flash_private/bootloader_flash_priv.h
  components/bootloader_support/include_bootloader/bootloader_flash_private/flash_qio_mode.h
  components/bootloader_support/src/flash_support/bootloader_flash.c
  components/bootloader_support/src/flash_support/bootloader_flash_config_esp32.c
  components/bootloader_support/src/flash_support/bootloader_flash_config_esp32c3.c
  components/bootloader_support/src/flash_support/bootloader_flash_config_esp32h2.c
  components/bootloader_support/src/flash_support/bootloader_flash_config_esp32s2.c
  components/bootloader_support/src/flash_support/bootloader_flash_config_esp32s3.c
  components/bootloader_support/src/flash_support/bootloader_flash_config_esp8684.c
  components/bootloader_support/src/flash_support/flash_qio_mode.c
  components/efuse/src/esp_efuse_utility.c
  components/esp_hw_support/port/esp32/spiram_psram.c
  components/esp_hw_support/port/esp32s2/spiram_psram.c
  components/esp_hw_support/port/esp32s3/opiram_psram.c
  components/esp_hw_support/port/esp32s3/spiram_psram.c
  components/esp_rom/include/esp32/rom/spi_flash.h
  components/esp_rom/include/esp32c3/rom/spi_flash.h
  components/esp_rom/include/esp32h2/rom/spi_flash.h
  components/esp_rom/include/esp32s2/rom/opi_flash.h
  components/esp_rom/include/esp32s2/rom/spi_flash.h
  components/esp_rom/include/esp32s3/rom/opi_flash.h
  components/esp_rom/include/esp32s3/rom/spi_flash.h
  components/esp_rom/include/esp8684/rom/spi_flash.h
  components/esp_rom/include/esp_rom_spiflash.h
  components/esp_rom/patches/esp_rom_spiflash.c
  components/fatfs/test_fatfs_host/Makefile.files
  components/spi_flash/esp32s3/spi_flash_oct_flash_init.c
  components/spi_flash/esp32s3/spi_timing_config.h
  components/spi_flash/flash_ops.c
  components/spi_flash/include/esp_private/spi_flash_os.h
  components/spi_flash/sim/Makefile.files
  components/spi_flash/sim/stubs/Makefile.files
  components/spi_flash/test/test_read_write.c
  components/spiffs/test_spiffs_host/Makefile.files
  components/wear_levelling/test_wl_host/Makefile.files
  docs/en/migration-guides/peripherals.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

esp8684: support GPIO peripheral, IO_MUX, GPIO matrix.
  components/driver/test/test_gpio.c
  components/hal/esp32c3/include/hal/gpio_ll.h
  components/hal/esp32s2/include/hal/gpio_ll.h
  components/hal/esp8684/include/hal/gpio_ll.h
  components/hal/include/hal/gpio_types.h
  components/soc/esp32c3/include/soc/io_mux_reg.h
  components/soc/esp32s2/gpio_periph.c
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/io_mux_reg.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s2/rtc_io_periph.c
  components/soc/esp32s3/include/soc/io_mux_reg.h
  components/soc/esp8684/gpio_periph.c
  components/soc/esp8684/include/soc/io_mux_reg.h
  components/soc/esp8684/include/soc/soc_caps.h
  examples/peripherals/gpio/generic_gpio/README.md
  examples/peripherals/gpio/generic_gpio/main/Kconfig.projbuild
  examples/peripherals/gpio/generic_gpio/main/gpio_example_main.c
  examples/system/deep_sleep/main/Kconfig.projbuild
  examples/system/deep_sleep/main/deep_sleep_example_main.c
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

components/bt: Fix bluedroid compile issue
  components/bt/host/bluedroid/stack/smp/smp_act.c
Due: none

docs: fix missing static file path
  docs/_static/js/version_table.js
  docs/_static/version_table.html
  docs/conf_common.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

Add message about alternative functions.
  components/vfs/include/esp_vfs_dev.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

docs: Add user-friendly guide about how to use ws_server_example_test.py
  examples/protocols/http_server/ws_echo_server/README.md
  examples/protocols/http_server/ws_echo_server/ws_server_example_test.py
  tools/ci/check_copyright_ignore.txt
Due: none

docs: update frontpage/general pages for ESP8684
  docs/TEMPLATE_EXAMPLE_README.md
  docs/docs_not_updated/esp8684.txt
  docs/en/COPYRIGHT.rst
  docs/en/about.rst
  docs/en/contribute/documenting-code.rst
  docs/en/contribute/install-pre-commit-hook.rst
  docs/en/index.rst
  docs/en/resources.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

fix fatfs_create_spiflash_image() feature (IDFGH-6383)
  components/fatfs/fatfsgen.py
  components/fatfs/fatfsgen_utils/fs_object.py
Due: none

Use bytes instead of strings in tests
  components/fatfs/test_fatfsgen/test_fatfsgen.py
Due: none

CI: Make public header checker print help/tips on failure
  tools/ci/check_public_headers.py
Due: none

Fixed copyright header
  tools/ci/check_copyright_ignore.txt
  tools/idf_monitor_base/ansi_color_converter.py
Due: none

Print buffer when reading an escape character
  tools/idf_monitor_base/ansi_color_converter.py
Due: none

CI: Make public header check verbose on *sll* failures
  tools/ci/check_copyright_ignore.txt
  tools/ci/check_public_headers.py
Due: none

i2c: fix buffer check when SPIRAM used as a heap
  components/driver/i2c.c
Due: none

Updated typehints from str values to bytes
  components/fatfs/fatfsgen.py
  components/fatfs/fatfsgen_utils/fs_object.py
  components/fatfs/fatfsgen_utils/utils.py
  components/fatfs/test_fatfsgen/test_fatfsgen.py
  components/fatfs/test_fatfsgen/test_wl_fatfsgen.py
  components/fatfs/wl_fatfsgen.py
Due: none

Fix compile isse when TinyUSB task is not enabled.
  components/tinyusb/additions/src/tusb_tasks.c
Due: none

code_owners: add peripherals to the owner of bootloader_flash
  .gitlab/CODEOWNERS
Due: none

esp_wifi: Miscellaneous FTM bugfixes
  examples/wifi/ftm/main/ftm_main.c
Due: none

tusb: update copyright header
  components/tinyusb/additions/include/tinyusb.h
  components/tinyusb/additions/include/tinyusb_types.h
  components/tinyusb/additions/include/tusb_cdc_acm.h
  components/tinyusb/additions/include/tusb_console.h
  components/tinyusb/additions/include/tusb_tasks.h
  components/tinyusb/additions/include/vfs_tinyusb.h
  components/tinyusb/additions/include_private/cdc.h
  components/tinyusb/additions/include_private/descriptors_control.h
  components/tinyusb/additions/include_private/usb_descriptors.h
  components/tinyusb/additions/src/cdc.c
  components/tinyusb/additions/src/descriptors_control.c
  components/tinyusb/additions/src/tusb_cdc_acm.c
  components/tinyusb/additions/src/tusb_console.c
  components/tinyusb/additions/src/tusb_tasks.c
  components/tinyusb/additions/src/usb_descriptors.c
  components/tinyusb/additions/src/vfs_tinyusb.c
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

ci: improve checks for Wi-Fi/PHYlibraries
  .gitlab/ci/build.yml
  .gitlab/ci/pre_check.yml
  components/esp_wifi/test_md5/test_md5.sh
  tools/ci/check_blobs.sh
Due: none

Zigbee example: add rcp and gateway
  examples/zigbee/esp_zigbee_gateway/CMakeLists.txt
  examples/zigbee/esp_zigbee_gateway/README.md
  examples/zigbee/esp_zigbee_gateway/main/CMakeLists.txt
  examples/zigbee/esp_zigbee_gateway/main/esp_zigbee_gateway.c
  examples/zigbee/esp_zigbee_gateway/main/esp_zigbee_gateway.h
  examples/zigbee/esp_zigbee_gateway/main/idf_component.yml
  examples/zigbee/esp_zigbee_gateway/partitions.csv
  examples/zigbee/esp_zigbee_gateway/sdkconfig.defaults
  examples/zigbee/esp_zigbee_rcp/CMakeLists.txt
  examples/zigbee/esp_zigbee_rcp/README.md
  examples/zigbee/esp_zigbee_rcp/main/CMakeLists.txt
  examples/zigbee/esp_zigbee_rcp/main/esp_zigbee_rcp.c
  examples/zigbee/esp_zigbee_rcp/main/esp_zigbee_rcp.h
  examples/zigbee/esp_zigbee_rcp/main/idf_component.yml
  examples/zigbee/esp_zigbee_rcp/partitions.csv
  examples/zigbee/esp_zigbee_rcp/sdkconfig.defaults
  examples/zigbee/light_sample/light_bulb/CMakeLists.txt
  examples/zigbee/light_sample/light_bulb/README.md
  examples/zigbee/light_sample/light_bulb/main/esp_zb_light.c
  examples/zigbee/light_sample/light_bulb/main/idf_component.yml
  examples/zigbee/light_sample/light_bulb/main/light_driver.c
  examples/zigbee/light_sample/light_coordinator/README.md
  examples/zigbee/light_sample/light_coordinator/main/esp_zb_coordinator.h
  examples/zigbee/light_sample/light_coordinator/main/idf_component.yml
  examples/zigbee/light_sample/light_switch/README.md
  examples/zigbee/light_sample/light_switch/main/esp_zb_switch.c
  examples/zigbee/light_sample/light_switch/main/esp_zb_switch.h
  examples/zigbee/light_sample/light_switch/main/idf_component.yml
  examples/zigbee/light_sample/light_switch/main/switch_driver.c
  tools/ci/check_copyright_config.yaml
  tools/ci/check_copyright_ignore.txt
Due: none

CI: update docs codeowners
  .gitlab/CODEOWNERS
Due: none

adc: make adc2_wifi share resource private
  components/driver/esp32c3/adc2_init_cal.c
  components/driver/esp32s2/adc2_init_cal.c
  components/driver/include/esp_private/adc2_wifi.h
  components/esp_wifi/src/wifi_init.c
  docs/en/migration-guides/peripherals.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

tusb: optional compile tusb_task
  components/tinyusb/CMakeLists.txt
  components/tinyusb/additions/src/tusb_tasks.c
Due: none

Fixed ESP32 EMAC driver `insufficient TX buffer size` which could followed esp_eth_stop and esp_eth_start sequence
  components/esp_eth/src/esp_eth.c
  components/esp_eth/src/esp_eth_mac_esp.c
  components/hal/emac_hal.c
  components/hal/esp32/include/hal/emac_ll.h
  components/hal/include/hal/emac_hal.h
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

hw_support: remove deprecated header files
  components/esp_hw_support/include/esp_intr.h
  components/xtensa/include/esp_panic.h
  docs/en/migration-guides/system.rst
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

esp-tls: remove redundant snippet from CMakeList
  components/esp-tls/CMakeLists.txt
Due: none

docs: add application example for esp-now
  docs/en/api-reference/network/esp_now.rst
  docs/zh_CN/api-reference/network/esp_now.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

openthread: sync lwip multicast groups to Thread stack
  components/lwip/port/esp32/netif/openthreadif.c
  examples/openthread/ot_cli/main/esp_ot_cli.c
  examples/openthread/ot_cli/main/esp_ot_cli_extension.c
  examples/openthread/ot_cli/main/esp_ot_udp_socket.c
  examples/openthread/ot_cli/main/esp_ot_udp_socket.h
Due: none

esp-tls: mark esp_tls_conn_delete API as deprecated
  components/esp-tls/esp_tls.c
  components/esp-tls/esp_tls.h
  docs/en/api-reference/protocols/esp_tls.rst
  examples/protocols/http2_request/components/sh2lib/sh2lib.c
  examples/protocols/https_request/main/https_request_example_main.c
  examples/protocols/https_x509_bundle/main/https_x509_bundle_example_main.c
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

update s3 doc
  docs/en/api-guides/wifi.rst
  docs/zh_CN/api-guides/wifi.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

usb: Extend CDC device with second CDC channel
  components/tinyusb/Kconfig
  components/tinyusb/additions/include/tusb_cdc_acm.h
  components/tinyusb/additions/include/tusb_config.h
  components/tinyusb/additions/include_private/cdc.h
  components/tinyusb/additions/include_private/descriptors_control.h
  components/tinyusb/additions/src/cdc.c
  components/tinyusb/additions/src/descriptors_control.c
  components/tinyusb/additions/src/tusb_console.c
  components/tinyusb/additions/src/usb_descriptors.c
  docs/en/api-reference/peripherals/usb_device.rst
  examples/peripherals/usb/device/tusb_console/CMakeLists.txt
  examples/peripherals/usb/device/tusb_console/README.md
  examples/peripherals/usb/device/tusb_console/main/CMakeLists.txt
  examples/peripherals/usb/device/tusb_console/main/tusb_console_main.c
  examples/peripherals/usb/device/tusb_console/sdkconfig.defaults
  examples/peripherals/usb/device/tusb_sample_descriptor/CMakeLists.txt
  examples/peripherals/usb/device/tusb_sample_descriptor/README.md
  examples/peripherals/usb/device/tusb_sample_descriptor/main/CMakeLists.txt
  examples/peripherals/usb/device/tusb_sample_descriptor/main/Kconfig.projbuild
  examples/peripherals/usb/device/tusb_sample_descriptor/main/tusb_sample_descriptor_main.c
  examples/peripherals/usb/device/tusb_sample_descriptor/sdkconfig.defaults
  examples/peripherals/usb/device/tusb_serial_device/CMakeLists.txt
  examples/peripherals/usb/device/tusb_serial_device/README.md
  examples/peripherals/usb/device/tusb_serial_device/main/CMakeLists.txt
  examples/peripherals/usb/device/tusb_serial_device/main/tusb_serial_device_main.c
  examples/peripherals/usb/device/tusb_serial_device/sdkconfig.ci.dualchannel
  examples/peripherals/usb/device/tusb_serial_device/sdkconfig.defaults
  examples/peripherals/usb/host/cdc/cdc_acm_host/README.md
  examples/peripherals/usb/tusb_sample_descriptor/README.md
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

docs: update performance guide docs with S3 information
  docs/en/api-guides/performance/ram-usage.rst
  docs/en/api-guides/performance/size.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

soc: updated soc_caps about rtc_io and the format
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp8684/include/soc/Kconfig.soc_caps.in
  components/soc/esp8684/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

http2_request_example: Change the target http2 server to `http2.github.io` and perform only a `GET` request.
  examples/protocols/http2_request/README.md
  examples/protocols/http2_request/example_test.py
  examples/protocols/http2_request/main/CMakeLists.txt
  examples/protocols/http2_request/main/golang_root_cert.pem
  examples/protocols/http2_request/main/http2_github_io_root_cert.pem
  examples/protocols/http2_request/main/http2_request_example_main.c
Due: none

docs: fix hard coded target name in essl doc
  docs/en/api-reference/protocols/esp_serial_slave_link.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_fast: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*
