Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

feat(ble): add sm count reserve cnt setting on ESP32-C5
  components/bt/controller/esp32c5/Kconfig.in
  components/bt/controller/esp32c5/esp_bt_cfg.h
  components/bt/include/esp32c5/include/esp_bt.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_crt): adds support for cross signed root certificates
  components/mbedtls/CMakeLists.txt
  components/mbedtls/Kconfig
  components/mbedtls/esp_crt_bundle/esp_crt_bundle.c
  docs/en/api-reference/protocols/esp_crt_bundle.rst
  examples/protocols/esp_http_client/sdkconfig.ci
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(ble): ensure internal malloc in ble log spi out
  components/bt/common/ble_log/ble_log_spi_out.c
  components/bt/common/ble_log/include/ble_log/ble_log_spi_out.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_netif): Fix reasigning static IP after netif down -> up
  components/esp_netif/lwip/esp_netif_lwip.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Set default ap mgmt cipher
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(nimble): Added two GATT features:
  components/bt/host/nimble/Kconfig.in
  components/bt/host/nimble/port/include/esp_nimble_cfg.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(tcp_transport): off-by-one buffer corruption when WS header buffer full
  components/tcp_transport/host_test/main/test_websocket_transport.cpp
  components/tcp_transport/transport_ws.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Added CI files for various configurations
  examples/bluetooth/nimble/blecent/main/main.c
  examples/bluetooth/nimble/blecent/sdkconfig.ci.central
  examples/bluetooth/nimble/blecent/sdkconfig.ci.no_broadcaster
  examples/bluetooth/nimble/blecent/sdkconfig.ci.no_peripheral
  examples/bluetooth/nimble/blecent/sdkconfig.ci.observer
  examples/bluetooth/nimble/bleprph/main/main.c
  examples/bluetooth/nimble/bleprph/sdkconfig.ci.broadcaster
  examples/bluetooth/nimble/bleprph/sdkconfig.ci.no_central
  examples/bluetooth/nimble/bleprph/sdkconfig.ci.no_observer
  examples/bluetooth/nimble/bleprph/sdkconfig.ci.peripheral
  examples/bluetooth/nimble/common/nimble_central_utils/peer.c
Due: none

fix(sdmmc): Legacy driver slot deinit set NULL after free
  components/esp_driver_sdmmc/legacy/src/sdmmc_host.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(sdmmc): Add ESP32-P4 eMMC test board definition
  components/esp_driver_sdmmc/test_apps/sd_test_utils/components/sdmmc_test_boards/Kconfig.projbuild
  components/esp_driver_sdmmc/test_apps/sd_test_utils/components/sdmmc_test_boards/sdmmc_test_board_defs.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(storage): Update emmc and perf_benchmark example to work with ESP32-P4
  examples/storage/.build-test-rules.yml
  examples/storage/emmc/README.md
  examples/storage/emmc/main/Kconfig.projbuild
  examples/storage/emmc/sdkconfig.defaults
  examples/storage/perf_benchmark/main/Kconfig.projbuild
  examples/storage/perf_benchmark/main/idf_component.yml
  examples/storage/perf_benchmark/main/perf_benchmark_example_main.c
  examples/storage/perf_benchmark/main/perf_benchmark_example_sd_utils.c
Due: check_readme_links

feat(transport_ws): buffer redir_host separately
  components/tcp_transport/transport_ws.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(transport_ws): add header callback hook
  components/tcp_transport/include/esp_transport_ws.h
  components/tcp_transport/transport_ws.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(transport_ws): Reject multiple Sec-WebSocket-Accept headers
  components/tcp_transport/transport_ws.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Added CVE-2025-52471 to vulnerabilities list
  docs/en/security/vulnerabilities.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

change(cache): updated cache registers
  components/soc/esp32h21/register/soc/cache_reg.h
  components/soc/esp32h21/register/soc/cache_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(sdmmc): Improve SD card state checking after write/read command
  components/sdmmc/include/sd_protocol_defs.h
  components/sdmmc/sdmmc_cmd.c
  components/sdmmc/sdmmc_mmc.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(sdmmc): Send status (CMD13) even if write/read command fails
  components/sdmmc/include/sd_protocol_defs.h
  components/sdmmc/sdmmc_cmd.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(soc): update modem syscon and lpcon register header and structure file for esp32c61
  components/soc/esp32c61/include/modem/modem_lpcon_reg.h
  components/soc/esp32c61/include/modem/modem_lpcon_struct.h
  components/soc/esp32c61/include/modem/modem_syscon_reg.h
  components/soc/esp32c61/include/modem/modem_syscon_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): update pmu sleep parameters and register header and structure file for esp32c61
  components/esp_hw_support/port/esp32c61/pmu_param.c
  components/soc/esp32c61/register/soc/pmu_reg.h
  components/soc/esp32c61/register/soc/pmu_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): fix some issues and update esp32c61 eco3 sleep features
  components/esp_hw_support/lowpower/port/esp32c61/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32c61/sleep_mmu.c
  components/esp_hw_support/sleep_modes.c
  components/esp_system/system_init_fn.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_phy): update phy retention context for esp32c61
  components/esp_phy/esp32c61/phy_init_data.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(openthread): disable esp32c61 support for ot_br example
  examples/openthread/.build-test-rules.yml
  examples/openthread/ot_br/README.md
Due: check_readme_links

feat(esp_hw_support): add new API to get all wakeup sources
  components/esp_hw_support/include/esp_sleep.h
  components/esp_hw_support/sleep_modes.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Added parameter in peer_init for included service allocation
  components/bt/host/nimble/Kconfig.in
  examples/bluetooth/nimble/ble_cts/cts_cent/main/main.c
  examples/bluetooth/nimble/ble_enc_adv_data/enc_adv_data_cent/main/main.c
  examples/bluetooth/nimble/ble_gattc_gatts_coex/main/main.c
  examples/bluetooth/nimble/ble_htp/htp_cent/main/main.c
  examples/bluetooth/nimble/ble_l2cap_coc/coc_blecent/main/main.c
  examples/bluetooth/nimble/ble_multi_conn/ble_multi_conn_cent/main/main.c
  examples/bluetooth/nimble/ble_periodic_sync/main/main.c
  examples/bluetooth/nimble/ble_phy/phy_cent/main/main.c
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_cent/main/main.c
  examples/bluetooth/nimble/ble_spp/spp_client/main/main.c
  examples/bluetooth/nimble/common/nimble_central_utils/peer.c
  examples/bluetooth/nimble/throughput_app/blecent_throughput/main/gattc.h
  examples/bluetooth/nimble/throughput_app/blecent_throughput/main/main.c
  examples/bluetooth/nimble/throughput_app/blecent_throughput/main/peer.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(io_mux): Fix io_mux register on c61
  components/soc/esp32c61/register/soc/io_mux_reg.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): deprecate esp_sleep_get_wakeup_cause with esp_sleep_get_wakeup_causes
  components/driver/test_apps/touch_sensor_v2/main/test_touch_v2.c
  components/esp_driver_gpio/test_apps/gpio/main/test_gpio.c
  components/esp_driver_uart/test_apps/uart/main/test_hp_uart_wakeup.c
  components/esp_hw_support/sleep_modes.c
  components/esp_hw_support/test_apps/rtc_8md256/main/test_rtc_8md256.c
  components/esp_hw_support/test_apps/rtc_power_modes/main/test_rtc_power.c
  components/esp_hw_support/test_apps/vad_wakeup/main/test_vad_wakeup.c
  components/esp_hw_support/test_apps/wakeup_tests/main/src/io_wakeup_cmd.c
  components/touch_element/touch_element.c
  components/ulp/test_apps/lp_core/lp_core_basic_tests/main/test_lp_core.c
  components/ulp/test_apps/ulp_fsm/main/test_ulp.c
  components/ulp/test_apps/ulp_riscv/main/test_ulp_riscv.c
  examples/bluetooth/nimble/throughput_app/blecent_throughput/components/cmd_system/cmd_system.c
  examples/lowpower/vbat/main/vbat_example_main.c
  examples/openthread/ot_sleepy_device/deep_sleep/main/esp_ot_sleepy_device.c
  examples/peripherals/touch_sensor/touch_sens_sleep/main/touch_sens_sleep.c
  examples/system/console/advanced/components/cmd_system/cmd_system_sleep.c
  examples/system/deep_sleep/main/deep_sleep_example_main.c
  examples/system/deep_sleep_wake_stub/main/wake_stub_example_main.c
  examples/system/light_sleep/main/light_sleep_example_main.c
  examples/system/ulp/lp_core/gpio/main/lp_core_gpio_example_main.c
  examples/system/ulp/lp_core/gpio_intr_pulse_counter/main/lp_core_pulse_counter_example_main.c
  examples/system/ulp/lp_core/gpio_wakeup/main/lp_core_gpio_wake_up_example_main.c
  examples/system/ulp/lp_core/lp_i2c/main/lp_i2c_main.c
  examples/system/ulp/lp_core/lp_spi/main/lp_spi_main.c
  examples/system/ulp/lp_core/lp_touch/main/lp_touch_main.c
  examples/system/ulp/lp_core/lp_uart/lp_uart_echo/main/lp_uart_main.c
  examples/system/ulp/lp_core/lp_uart/lp_uart_print/main/lp_uart_main.c
  examples/system/ulp/ulp_fsm/ulp/main/ulp_example_main.c
  examples/system/ulp/ulp_fsm/ulp_adc/main/ulp_adc_example_main.c
  examples/system/ulp/ulp_riscv/adc/main/ulp_riscv_adc_example_main.c
  examples/system/ulp/ulp_riscv/ds18b20_onewire/main/ulp_riscv_ds18b20_example_main.c
  examples/system/ulp/ulp_riscv/gpio/main/ulp_riscv_example_main.c
  examples/system/ulp/ulp_riscv/gpio_interrupt/main/ulp_riscv_gpio_intr_example_main.c
  examples/system/ulp/ulp_riscv/i2c/main/ulp_riscv_rtc_i2c_example_main.c
  examples/system/ulp/ulp_riscv/interrupts/main/ulp_riscv_example_main.c
  examples/system/ulp/ulp_riscv/touch/main/ulp_riscv_touch_example_main.c
  examples/system/ulp/ulp_riscv/uart_print/main/ulp_riscv_example_main.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(doc): add migration-guides for esp_sleep_get_wakeup_causes
  docs/en/migration-guides/release-6.x/6.0/system.rst
  docs/zh_CN/migration-guides/release-6.x/6.0/system.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(regi2c): add regi2c support for esp32h4
  components/bootloader_support/src/esp32h4/bootloader_esp32h4.c
  components/esp_rom/CMakeLists.txt
  components/esp_rom/patches/esp_rom_hp_regi2c_esp32h4.c
  components/esp_rom/patches/esp_rom_regi2c_esp32h4.c
  components/hal/esp32h4/include/hal/clk_tree_ll.h
  components/hal/esp32h4/include/hal/regi2c_ctrl_ll.h
  components/soc/esp32h4/include/modem/reg_base.h
  components/soc/esp32h4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h4/include/soc/i2c_ana_mst_reg.h
  components/soc/esp32h4/include/soc/reg_base.h
  components/soc/esp32h4/include/soc/regi2c_bbpll.h
  components/soc/esp32h4/include/soc/regi2c_bbtop.h
  components/soc/esp32h4/include/soc/regi2c_bias.h
  components/soc/esp32h4/include/soc/regi2c_brownout.h
  components/soc/esp32h4/include/soc/regi2c_dcdc.h
  components/soc/esp32h4/include/soc/regi2c_defs.h
  components/soc/esp32h4/include/soc/regi2c_dig_reg.h
  components/soc/esp32h4/include/soc/regi2c_pll.h
  components/soc/esp32h4/include/soc/regi2c_saradc.h
  components/soc/esp32h4/include/soc/regi2c_sdm.h
  components/soc/esp32h4/include/soc/regi2c_ulp.h
  components/soc/esp32h4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_key_mgr): Support HMAC key deployments using Key Manager
  components/esp_hw_support/include/esp_hmac.h
  components/esp_security/src/esp_key_mgr.c
  components/hal/esp32c5/include/hal/key_mgr_ll.h
  components/hal/hmac_hal.c
  components/hal/include/hal/hmac_types.h
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_key_mgr): Support Digital Signature key deployments using Key Manager
  components/esp_security/src/esp_ds.c
  components/esp_security/src/esp_key_mgr.c
  components/hal/ds_hal.c
  components/hal/esp32c5/include/hal/ds_ll.h
  components/hal/esp32c5/include/hal/key_mgr_ll.h
  components/hal/include/hal/ds_hal.h
  components/hal/include/hal/ds_types.h
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

change(esp_key_mgr): Refactor Key Manager driver to reduce logs
  components/esp_security/src/esp_key_mgr.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_security): Added support for key manager for esp32c5
  components/bootloader_support/src/esp32c5/flash_encryption_secure_features.c
  components/bootloader_support/src/esp32p4/flash_encryption_secure_features.c
  components/esp_hw_support/include/esp_crypto_lock.h
  components/esp_rom/esp32c5/include/esp32c5/rom/key_mgr.h
  components/esp_security/include/esp_key_mgr.h
  components/esp_security/src/esp_crypto_periph_clk.c
  components/esp_security/src/esp_key_mgr.c
  components/esp_security/test_apps/crypto_drivers/main/test_key_mgr.c
  components/hal/ecdsa_hal.c
  components/hal/esp32c5/include/hal/key_mgr_ll.h
  components/hal/esp32p4/include/hal/key_mgr_ll.h
  components/hal/include/hal/huk_types.h
  components/hal/include/hal/key_mgr_types.h
  components/hal/test_apps/crypto/main/key_manager/test_key_manager.c
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c5/register/soc/keymng_reg.h
  components/soc/esp32p4/register/soc/keymng_reg.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

test(crypto): Change partition address and update the test cases
  components/hal/test_apps/crypto/main/key_manager/gen_key_manager_test_cases.py
  components/hal/test_apps/crypto/main/key_manager/key_manager_test_cases.h
  components/hal/test_apps/crypto/main/key_manager/test_key_manager.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
