Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*

fix(wifi): allow some special igtk keyindx to workaround faulty APs
  components/wpa_supplicant/src/rsn_supp/wpa.c
Due: none

feat(lwip): support NA router farwording flag set
  components/lwip/Kconfig
  components/lwip/port/include/lwipopts.h
Due: build_docs_html_partial

change(soc): rename SOC_CPU_WATCHPOINT_SIZE to SOC_CPU_WATCHPOINT_MAX_REGION_SIZE
  components/soc/esp32/include/soc/Kconfig.soc_caps.in
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c2/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

fix(riscv): supports 1 byte and larger than 64byte range watchpoint setting
  components/esp_hw_support/cpu.c
  components/esp_hw_support/include/esp_cpu.h
  components/riscv/include/riscv/csr.h
  components/riscv/include/riscv/rv_utils.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

riscv: fix & refactor triggers add/delete
  components/riscv/include/riscv/csr.h
  components/riscv/include/riscv/rv_utils.h
Due: build_docs_html_partial

riscv: fix trigger add from trap handlers
  components/riscv/include/riscv/rv_utils.h
Due: build_docs_html_partial

riscv: remove outdated macros
  components/riscv/include/riscv/csr.h
  components/riscv/include/riscv/rv_utils.h
Due: build_docs_html_partial

change(soc): rename SOC_CPU_WATCHPOINT_SIZE to SOC_CPU_WATCHPOINT_MAX_REGION_SIZE
  components/soc/esp32/include/soc/Kconfig.soc_caps.in
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c2/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

fix(riscv): supports 1 byte and larger than 64byte range watchpoint setting
  components/esp_hw_support/cpu.c
  components/esp_hw_support/include/esp_cpu.h
  components/riscv/include/riscv/csr.h
  components/riscv/include/riscv/rv_utils.h
Due: build_docs_html_partial

Fix audio DAC, remove split buffers
  components/driver/dac/dac_continuous.c
Due: none

fix(usb/host): remove bInterval verification during pipe opening for INTR and ISOC EPs
  components/usb/hcd_dwc.c
Due: none

fix(bt/bluedroid): Avoided crash of LoadProhibited during HFP AG deinitialization
  components/bt/host/bluedroid/btc/profile/std/hf_ag/btc_hf_ag.c
Due: none

refactor(ana_cmpr): make analog comparator driver as component
  components/driver/CMakeLists.txt
  components/driver/Kconfig
  components/driver/linker.lf
  components/driver/test_apps/.build-test-rules.yml
  components/esp_driver_ana_cmpr/CMakeLists.txt
  components/esp_driver_ana_cmpr/Kconfig
  components/esp_driver_ana_cmpr/ana_cmpr.c
  components/esp_driver_ana_cmpr/ana_cmpr_etm.c
  components/esp_driver_ana_cmpr/ana_cmpr_private.h
  components/esp_driver_ana_cmpr/include/driver/ana_cmpr.h
  components/esp_driver_ana_cmpr/include/driver/ana_cmpr_etm.h
  components/esp_driver_ana_cmpr/include/driver/ana_cmpr_types.h
  components/esp_driver_ana_cmpr/linker.lf
  components/esp_driver_ana_cmpr/test_apps/.build-test-rules.yml
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/CMakeLists.txt
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/README.md
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/CMakeLists.txt
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_ana_cmpr.c
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_ana_cmpr.h
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_ana_cmpr_common.c
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_ana_cmpr_iram.c
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_app_main.c
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/pytest_ana_cmpr.py
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/sdkconfig.ci.iram_safe
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/sdkconfig.ci.release
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/sdkconfig.defaults
  components/esp_hw_support/test_apps/.build-test-rules.yml
  components/esp_hw_support/test_apps/etm/main/CMakeLists.txt
  docs/doxygen/Doxyfile
  docs/en/migration-guides/release-5.x/5.3/peripherals.rst
  docs/zh_CN/migration-guides/release-5.x/5.3/peripherals.rst
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/analog_comparator/CMakeLists.txt
  examples/peripherals/analog_comparator/main/CMakeLists.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(adc): fix h2 adc oneshot read zero and add delay after getting done signal v5.1
  components/hal/adc_oneshot_hal.c
  components/hal/esp32/include/hal/adc_ll.h
  components/hal/esp32c2/include/hal/adc_ll.h
  components/hal/esp32c3/include/hal/adc_ll.h
  components/hal/esp32c6/include/hal/adc_ll.h
  components/hal/esp32h2/include/hal/adc_ll.h
  components/hal/esp32s2/include/hal/adc_ll.h
  components/hal/esp32s3/include/hal/adc_ll.h
Due: build_docs_html_partial

ci(adc): add a test that adc read zero after getting done signal
  components/esp_adc/test_apps/adc/main/test_adc.c
Due: none

fix(bt/bluedroid): Fix the crash of invalid access to released resources
  components/bt/host/bluedroid/btc/profile/std/l2cap/btc_l2cap.c
  components/bt/host/bluedroid/btc/profile/std/spp/btc_spp.c
Due: none

fix(spi): correct some signals and dummy bits docs
  components/soc/esp32c2/spi_periph.c
  components/soc/esp32c3/spi_periph.c
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32c6/spi_periph.c
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h2/spi_periph.c
  components/soc/esp32s2/spi_periph.c
  components/soc/esp32s3/spi_periph.c
  docs/en/api-reference/protocols/esp_spi_slave_protocol.rst
  docs/zh_CN/api-reference/protocols/esp_spi_slave_protocol.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(spi): Correct REG_SPI_BASE(i) macro for all targets
  components/soc/esp32c2/include/soc/soc.h
  components/soc/esp32c2/include/soc/spi_reg.h
  components/soc/esp32c2/ld/esp32c2.peripherals.ld
  components/soc/esp32c3/include/soc/soc.h
  components/soc/esp32c3/include/soc/spi_reg.h
  components/soc/esp32c3/ld/esp32c3.peripherals.ld
  components/soc/esp32c6/include/soc/soc.h
  components/soc/esp32h2/include/soc/soc.h
  components/soc/esp32p4/include/soc/soc.h
  components/soc/esp32s2/include/soc/reg_base.h
  components/soc/esp32s2/include/soc/soc.h
  components/soc/esp32s2/include/soc/spi_mem_reg.h
  components/soc/esp32s2/include/soc/spi_reg.h
  components/soc/esp32s3/include/soc/soc.h
  components/soc/esp32s3/ld/esp32s3.peripherals.ld
  tools/ci/check_copyright_ignore.txt
Due: build_docs_html_partial

docs(soc): improved soc caps generation documentation
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c2/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/soc_caps.h
  components/soc/linux/include/soc/soc_caps.h
  tools/gen_soc_caps_kconfig/README.md
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

fix(bt/bluedroid): Fix the crash of invalid access to released resources
  components/bt/host/bluedroid/btc/profile/std/spp/btc_spp.c
Due: none

fix(pm/ext1): fix c6 h2 lp_aon_ll_ext1_set_wakeup_pins func
  components/hal/esp32c6/include/hal/lp_aon_ll.h
  components/hal/esp32h2/include/hal/lp_aon_ll.h
Due: build_docs_html_partial

refactor(ci): prevent memory leak message without memory leak
  components/unity/unity_utils_memory.c
Due: none

fix(ledc): fix ledc driver 100% duty cycle configuration
  components/driver/ledc/include/driver/ledc.h
  components/driver/ledc/ledc.c
  docs/en/api-reference/peripherals/ledc.rst
  docs/zh_CN/api-reference/peripherals/ledc.rst
  examples/peripherals/ledc/ledc_basic/README.md
  examples/peripherals/ledc/ledc_basic/main/ledc_basic_example_main.c
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(esp_hw_support): re-initialize icg map in modem_clock_module_enable
  components/esp_hw_support/include/esp_private/esp_modem_clock.h
  components/esp_hw_support/modem_clock.c
  components/esp_system/port/soc/esp32c6/clk.c
  components/esp_system/port/soc/esp32p4/clk.c
  components/hal/esp32c6/modem_clock_hal.c
  components/hal/esp32h2/modem_clock_hal.c
  components/hal/include/hal/modem_clock_types.h
Due: build_docs_html_partial

change(i2c): Add check for scl frequency for master_bus_add_device Closes https://github.com/espressif/esp-idf/issues/12598
  components/driver/i2c/i2c_master.c
Due: none

docs: add ECDSA peripheral chapter for H2/P4
  components/efuse/include/esp_efuse.h
  components/mbedtls/port/include/ecdsa/ecdsa_alt.h
  docs/conf_common.py
  docs/doxygen/Doxyfile
  docs/en/api-reference/peripherals/ecdsa.rst
  docs/en/api-reference/peripherals/index.rst
  docs/en/api-reference/protocols/esp_tls.rst
  docs/en/security/security.rst
  docs/zh_CN/api-reference/peripherals/ecdsa.rst
  docs/zh_CN/api-reference/peripherals/index.rst
  docs/zh_CN/api-reference/protocols/esp_tls.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(ecdsa): add a note about TRNG dependency for ECDSA peripheral
  docs/en/api-reference/peripherals/ecdsa.rst
  docs/en/api-reference/system/random.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(esp32h2): program use_hardware_k efuse bit for ECDSA key purpose
  components/efuse/src/efuse_controller/keys/with_key_purposes/esp_efuse_api_key.c
  components/esp_system/startup.c
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

fix(api-docs): include in the ECDSA APIs for doxygen build
  components/mbedtls/port/include/ecdsa/ecdsa_alt.h
Due: build_docs_html_partial

fix(ecdsa): remove unused k_mode from the ECDSA HAL/LL API
  components/hal/ecdsa_hal.c
  components/hal/esp32h2/include/hal/ecdsa_ll.h
  components/hal/esp32p4/include/hal/ecdsa_ll.h
  components/hal/include/hal/ecdsa_hal.h
  components/hal/include/hal/ecdsa_types.h
  components/hal/test_apps/crypto/main/ecdsa/test_ecdsa.c
  components/mbedtls/port/ecdsa/ecdsa_alt.c
Due: build_docs_html_partial

fix(ledc): fix ledc driver 100% duty cycle configuration
  components/driver/include/driver/ledc.h
  components/driver/ledc.c
  docs/en/api-reference/peripherals/ledc.rst
  docs/zh_CN/api-reference/peripherals/ledc.rst
  examples/peripherals/ledc/ledc_basic/README.md
  examples/peripherals/ledc/ledc_basic/main/ledc_basic_example_main.c
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(bt/bluedroid): Add new APIs for 32 and 128-bit UUIDs
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
  components/bt/host/bluedroid/bta/dm/include/bta_dm_int.h
  components/bt/host/bluedroid/bta/include/bta/bta_sys.h
  components/bt/host/bluedroid/bta/sys/bta_sys_conn.c
  components/bt/host/bluedroid/btc/profile/std/sdp/btc_sdp.c
  components/bt/host/bluedroid/stack/btm/btm_inq.c
  components/bt/host/bluedroid/stack/include/stack/btm_api.h
Due: build_docs_html_partial

fix(pm/ext1): ext1_wakeup_prepare func when s_config.wakeup_triggers & RTC_EXT1_TRIG_EN == false
  components/esp_hw_support/sleep_modes.c
Due: none

feat(pm/ext1): support esp_sleep_enable_io_ext1_wakeup and esp_sleep_disable_io_ext1_wakeup
  components/esp_hw_support/include/esp_sleep.h
  components/esp_hw_support/sleep_modes.c
  docs/en/api-reference/system/sleep_modes.rst
  docs/en/migration-guides/release-5.x/5.3/system.rst
  docs/zh_CN/api-reference/system/sleep_modes.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

change(pm/ext1): replace deprecated ext1 func
  components/esp_hw_support/include/esp_sleep.h
  components/esp_pm/test_apps/esp_pm/main/test_pm.c
  components/esp_system/test_apps/esp_system_unity_tests/main/test_sleep.c
  examples/bluetooth/nimble/throughput_app/blecent_throughput/components/cmd_system/cmd_system.c
  examples/openthread/ot_sleepy_device/deep_sleep/main/esp_ot_sleepy_device.c
  examples/system/console/advanced/components/cmd_system/cmd_system_sleep.c
  examples/system/deep_sleep/main/ext_wakeup.c
Due: build_docs_html_partial

docs(pm/ext1): support esp_sleep_enable_io_ext1_wakeup and esp_sleep_disable_io_ext1_wakeup
  docs/en/api-reference/system/sleep_modes.rst
  docs/en/migration-guides/release-5.x/5.3/index.rst
  docs/en/migration-guides/release-5.x/5.3/system.rst
  docs/zh_CN/api-reference/system/sleep_modes.rst
  docs/zh_CN/migration-guides/release-5.x/5.3/index.rst
  docs/zh_CN/migration-guides/release-5.x/5.3/system.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

change(pm): add ESP_PM_LOCK_MAX in esp_pm_lock_type_t and change some description for esp_pm_lock_create
  components/esp_pm/include/esp_pm.h
Due: build_docs_html_partial

fix(mcpwm): fault trigger test forget connect timer and operator
  components/driver/test_apps/mcpwm/main/test_mcpwm_gen.c
Due: none
