Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gptimer: support RC_FAST clock source
  components/driver/.build-test-rules.yml
  components/driver/gptimer/gptimer.c
  components/driver/include/driver/gptimer.h
  components/driver/test_apps/gptimer/main/test_gptimer.c
  components/driver/test_apps/gptimer/pytest_gptimer.py
  components/driver/test_apps/legacy_timer_driver/pytest_legacy_timer_driver.py
  components/hal/esp32c6/include/hal/timer_ll.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/clk_tree_defs.h
  components/soc/esp32c6/include/soc/soc_caps.h
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/timer_group/legacy_driver/pytest_timer_group.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

refactor(nvs): custom allocator for all objects allocated in NVS
  components/nvs_flash/src/nvs_api.cpp
  components/nvs_flash/src/nvs_handle_simple.hpp
  components/nvs_flash/src/nvs_item_hash_list.hpp
  components/nvs_flash/src/nvs_memory_management.hpp
  components/nvs_flash/src/nvs_page.hpp
  components/nvs_flash/src/nvs_partition.hpp
  components/nvs_flash/src/nvs_partition_manager.hpp
  components/nvs_flash/src/nvs_storage.hpp
  components/nvs_flash/test_nvs_host/test_nvs.cpp
Due: none

sleep: fix sleep time inaccurate bug when select 8MD256 as rtc slow clock on ESP32
  components/esp_hw_support/port/esp32/rtc_sleep.c
  components/soc/esp32/include/soc/rtc.h
  components/soc/esp32/include/soc/rtc_cntl_reg.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

ble_mesh:example:change position of vendor model and generic onoff model callback
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_adapter.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_model.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_cfg_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_gen_onoff_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_test_perf_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_register_cmd.c
Due: none

coredump: custom core dump stack is now supported on Xtensa targets
  components/espcoredump/include_core_dump/port/riscv/esp_core_dump_port_impl.h
  components/espcoredump/include_core_dump/port/xtensa/esp_core_dump_port_impl.h
  components/espcoredump/src/core_dump_common.c
  components/xtensa/include/xt_instr_macros.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

coredump: custom core dump stack is now supported on Xtensa targets
  components/espcoredump/Kconfig
  components/espcoredump/include_core_dump/port/riscv/esp_core_dump_port_impl.h
  components/espcoredump/include_core_dump/port/xtensa/esp_core_dump_port_impl.h
  components/espcoredump/src/core_dump_common.c
  components/xtensa/include/xt_instr_macros.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

docs:fix a typo in logging library
  components/log/README.rst
Due: none

doc: clarify num_symbols in the tx done event data
  components/driver/include/driver/rmt_types.h
  docs/en/api-reference/peripherals/rmt.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

esp_wifi: Add check for wps start state
  components/wpa_supplicant/esp_supplicant/src/esp_wps.c
  components/wpa_supplicant/esp_supplicant/src/esp_wps_i.h
  components/wpa_supplicant/src/wps/wps_enrollee.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

wpa_supplicant: Update WPS API documentation
  components/wpa_supplicant/esp_supplicant/include/esp_wps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

ulp-riscv: ULP RISC-V I2C example gets stuck on esp32s2
  components/ulp/ulp_riscv/ulp_core/ulp_riscv_utils.c
  components/ulp/ulp_riscv/ulp_riscv.c
  examples/system/ulp_riscv/i2c/main/bmp180_defs.h
  examples/system/ulp_riscv/i2c/main/ulp/main.c
  examples/system/ulp_riscv/i2c/main/ulp_riscv_rtc_i2c_example_main.c
Due: none

heap_trace: unify API to pass caps param to heap_trace_dump()
  components/app_trace/heap_trace_tohost.c
  components/heap/heap_trace_standalone.c
  components/heap/include/esp_heap_trace.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

heap-trace: Add missing tests for heap_trace_summary() and heap_trace_dump_caps()
  components/heap/test_apps/main/test_heap_trace.c
  components/heap/test_apps/pytest_heap.py
  components/heap/test_apps/sdkconfig.ci.heap_trace
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

ci: remove debug_backend dependency
  tools/ci/mypy_ignore_list.txt
  tools/ci/python_packages/ttfw_idf/DebugUtils.py
  tools/ci/python_packages/ttfw_idf/__init__.py
  tools/requirements/requirements.ttfw.txt
Due: none

Correct SSID copy length during WPS scan
  components/wpa_supplicant/src/eap_peer/eap_peap.c
  components/wpa_supplicant/src/esp_supplicant/esp_wps.c
Due: none

esp_wifi: Flush PMK caching if bss akm has changed
  components/wpa_supplicant/src/rsn_supp/wpa.c
Due: none

esp_wifi: Add changes to skip SAE handshake during WPS connection
  components/wpa_supplicant/src/esp_supplicant/esp_wpa3.c
  components/wpa_supplicant/src/esp_supplicant/esp_wps.c
Due: none

update phy and bb lib for temperature performance
  components/bt/controller/esp32c3/bt.c
Due: none

esp32c6: add SOC_MODEM_CLOCK_IS_INDEPENDENT soc_cap and more pd_caps
  components/esp_hw_support/include/esp_sleep.h
  components/esp_hw_support/sleep_modes.c
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

modem clock(ll): implemented the modem clock ll-layer (include modem syscon and lpcon) for esp32c6
  components/hal/esp32c6/include/hal/modem_lpcon_ll.h
  components/hal/esp32c6/include/hal/modem_syscon_ll.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

modem clock(hal): implemented the modem clock hal-layer for esp32c6
  components/hal/CMakeLists.txt
  components/hal/esp32c6/include/hal/modem_clock_hal.h
  components/hal/esp32c6/modem_clock_hal.c
  components/hal/include/hal/modem_clock_types.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

soc: regenerate modem header with regtool
  components/soc/esp32c6/include/modem/modem_lpcon_reg.h
  components/soc/esp32c6/include/modem/modem_lpcon_struct.h
  components/soc/esp32c6/include/modem/modem_syscon_reg.h
  components/soc/esp32c6/include/modem/modem_syscon_struct.h
  components/soc/esp32c6/include/modem/reg_base.h
  components/soc/esp32c6/ld/esp32c6.peripherals.ld
  tools/ci/check_public_headers.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

soc_caps: rename ESP_PD_DOMAIN_RTC8M to ESP_PD_DOMAIN_FOSC
  components/driver/ledc.c
  components/esp_hw_support/include/esp_sleep.h
  components/esp_hw_support/sleep_modes.c
  components/soc/esp32/include/soc/Kconfig.soc_caps.in
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c2/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

periph clock: implemented the modem module enable, disable and reset for esp32c6
  components/esp_hw_support/periph_ctrl.c
  components/esp_phy/src/phy_init.c
  components/esp_system/port/soc/esp32c6/system_internal.c
  components/hal/esp32c6/include/hal/clk_gate_ll.h
  components/soc/esp32c6/include/soc/periph_defs.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

modem clock(driver): implemented the modem clock driver for esp32c6
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/include/esp_private/esp_modem_clock.h
  components/esp_hw_support/modem_clock.c
  components/hal/include/hal/modem_clock_types.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

initialize the clock gating control signal of each modem clock domain
  components/esp_system/port/soc/esp32c6/clk.c
Due: none

Nimble: Removes global min/max definition causing problems with other libraries
  examples/bluetooth/nimble/blemesh/main/app_mesh.c
Due: none

esp_local_ctrl: Add support for insecure HTTP server transport
  components/esp_local_ctrl/CMakeLists.txt
  components/esp_local_ctrl/include/esp_local_ctrl.h
  components/esp_local_ctrl/src/esp_local_ctrl_transport_httpd.c
  examples/protocols/esp_local_ctrl/README.md
  examples/protocols/esp_local_ctrl/main/esp_local_ctrl_service.c
  examples/protocols/esp_local_ctrl/pytest_esp_local_ctrl.py
  examples/protocols/esp_local_ctrl/scripts/esp_local_ctrl.py
  examples/protocols/esp_local_ctrl/sdkconfig.ci.http
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

mbedtls: added SOC_AES_SUPPORT_AES_192 check in esp_aes_gcm_setkey()
  components/mbedtls/port/aes/esp_aes_gcm.c
Due: none

mbedtls: fix esp_aes_crypt_ctr writing to null stream block
  components/mbedtls/port/aes/esp_aes_gcm.c
Due: none

mbedtls: populate mbedtls_gcm_update() output_length paramater
  components/mbedtls/port/aes/esp_aes_gcm.c
  components/mbedtls/test_apps/main/test_aes_gcm.c
Due: none

test_aes_gcm: fix output_size paramter in mbedtls_get_update() mbedtls_get_update() returned MBEDTLS_ERR_GCM_BUFFER_TOO_SMALL, as 0 used to get passed in the output_size paramter.
  components/mbedtls/test_apps/main/test_aes_gcm.c
Due: none

mbedtls: fix `esp_aes_gcm_update_ad()` API implementation
  components/mbedtls/port/aes/esp_aes_gcm.c
Due: none

Fixed vulnerability attacks that could cause heap overflow in fragmented Blufi packet processing
  components/bt/common/api/include/api/esp_blufi_api.h
  components/bt/common/btc/profile/esp/blufi/blufi_prf.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

soc: add ieee8020154_only cap for esp32hx
  components/esp_hw_support/periph_ctrl.c
  components/esp_phy/CMakeLists.txt
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_rom: update H4/H2/C2/C6 rom rtc.h
  components/esp_rom/include/esp32c2/rom/rtc.h
  components/esp_rom/include/esp32c6/rom/rtc.h
  components/esp_rom/include/esp32h2/rom/rtc.h
  components/esp_rom/include/esp32h4/rom/rtc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*
