Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

check_readme_links:
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    GIT_STRATEGY: fetch
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs: []
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
    when: always
  script:
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  - gen_integration_pipeline
  variables:
    IDF_S3_SERVER: $IDF_S3_NEW_SERVER
    IDF_S3_ACCESS_KEY: $IDF_S3_NEW_ACCESS_KEY
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
  ...

check_powershell:
  stage: pre_check
  image: docker:latest
  services:
  - docker:dind
  tags:
  - dind
  - amd64
  - brew
  needs:
  - pipeline_variables
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 1
    SUBMODULES_TO_FETCH: none
  script:
  - apk add python3
  - apk add py3-pip
  - pip install pre-commit --break-system-packages
  ...

docs(ble): document BLE UART bridge usage
  tools/ble/ble_uart_bridge/README.md
  tools/ble/ble_uart_bridge/docs/PORTING.md
  tools/ble/ble_uart_bridge/docs/Profile-Compatibility.md
  tools/ble/ble_uart_bridge/docs/Quick-Start-BLE-UART-Console.md
  tools/ble/ble_uart_bridge/docs/Quick-Start-BLE-UART-Daemon.md
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): add BLE UART daemon notify API
  tools/ble/ble_uart_bridge/README.md
  tools/ble/ble_uart_bridge/docs/Quick-Start-BLE-UART-Daemon.md
  tools/ble/ble_uart_bridge/main.py
  tools/ble/ble_uart_bridge/src/__init__.py
  tools/ble/ble_uart_bridge/src/daemon/__init__.py
  tools/ble/ble_uart_bridge/src/daemon/api.py
  tools/ble/ble_uart_bridge/src/daemon/models.py
  tools/ble/ble_uart_bridge/src/daemon/server.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): add BLE UART bridge core
  tools/ble/ble_uart_bridge/requirements.txt
  tools/ble/ble_uart_bridge/src/core/__init__.py
  tools/ble/ble_uart_bridge/src/core/api.py
  tools/ble/ble_uart_bridge/src/core/bridge.py
  tools/ble/ble_uart_bridge/src/core/constants.py
  tools/ble/ble_uart_bridge/src/core/errors.py
  tools/ble/ble_uart_bridge/src/core/models.py
  tools/ble/ble_uart_bridge/src/core/probe.py
  tools/ble/ble_uart_bridge/src/core/scanner.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp32s31): add bootloader support
  components/esp_system/port/cpu_start.c
  docs/en/api-guides/bootloader.rst
  docs/zh_CN/api-guides/bootloader.rst
  examples/custom_bootloader/.build-test-rules.yml
  examples/custom_bootloader/bootloader_multiboot/README.md
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): add adv tx options on ESP32-H2
  components/bt/controller/esp32h2/Kconfig.in
  components/bt/controller/esp32h2/esp_bt_cfg.h
  components/bt/include/esp32h2/include/esp_bt.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): add adv tx options on ESP32-C6
  components/bt/controller/esp32c6/Kconfig.in
  components/bt/controller/esp32c6/esp_bt_cfg.h
  components/bt/include/esp32c6/include/esp_bt.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(https_request): enforce tls version for supported ciphersuite example
  examples/protocols/https_request/main/https_request_example_main.c
Due: none

fix(mbedtls): relaxes performance numbers for RSA operations
  components/idf_test/include/esp32s3/idf_performance_target.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix: fixes memory leak with subprotocols
  components/esp_http_server/include/esp_http_server.h
  components/esp_http_server/src/httpd_uri.c
  components/esp_http_server/test_apps/main/test_http_server.c
  components/esp_http_server/test_apps/sdkconfig.defaults
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix: fixes websocket server possible null dereference
  components/esp_http_server/src/httpd_ws.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(protocomm): fixes potential issues that can lead to crash during device provisioning
  components/mbedtls/port/include/mbedtls/esp_config.h
  components/protocomm/src/security/security1.c
  components/protocomm/src/security/security2.c
  components/protocomm/test_apps/main/test_security1.c
  components/protocomm/test_apps/main/test_security2.c
  components/protocomm/test_apps/sdkconfig.defaults
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi_provisioning): fixes memory leak on OOM
  components/wifi_provisioning/src/wifi_config.c
  components/wifi_provisioning/src/wifi_scan.c
  tools/ci/check_copyright_ignore.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi_provisioning): fixes potential null dereference on malformed packet
  components/wifi_provisioning/src/wifi_config.c
  components/wifi_provisioning/src/wifi_scan.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_local_ctrl): fixes a potential double free
  components/esp_local_ctrl/src/esp_local_ctrl.c
  components/esp_local_ctrl/src/esp_local_ctrl_transport_ble.c
  tools/ci/check_copyright_ignore.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_local_ctrl): adds basic unit test app
  components/esp_local_ctrl/src/esp_local_ctrl_transport_ble.c
  components/esp_local_ctrl/test_apps/.build-test-rules.yml
  components/esp_local_ctrl/test_apps/CMakeLists.txt
  components/esp_local_ctrl/test_apps/README.md
  components/esp_local_ctrl/test_apps/main/CMakeLists.txt
  components/esp_local_ctrl/test_apps/main/app_main.c
  components/esp_local_ctrl/test_apps/main/test_esp_local_ctrl.c
  components/esp_local_ctrl/test_apps/sdkconfig.defaults
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_http_server): adds check for crlf in response creation
  components/esp_http_server/src/httpd_txrx.c
  components/esp_http_server/test_apps/main/test_http_server.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt): fix A2DP bta component issues reported by AI review
  components/bt/host/bluedroid/bta/ar/bta_ar.c
  components/bt/host/bluedroid/bta/av/bta_av_aact.c
  components/bt/host/bluedroid/bta/av/bta_av_act.c
  components/bt/host/bluedroid/bta/av/bta_av_api.c
  components/bt/host/bluedroid/bta/av/bta_av_cfg.c
  components/bt/host/bluedroid/bta/av/bta_av_ci.c
  components/bt/host/bluedroid/bta/av/bta_av_main.c
  components/bt/host/bluedroid/bta/av/bta_av_sbc.c
  components/bt/host/bluedroid/bta/av/bta_av_ssm.c
  components/bt/host/bluedroid/bta/av/include/bta_av_int.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt): fix A2DP stack component issues reported by AI review
  components/bt/host/bluedroid/stack/a2dp/a2d_api.c
  components/bt/host/bluedroid/stack/a2dp/a2d_sbc.c
  components/bt/host/bluedroid/stack/avct/avct_api.c
  components/bt/host/bluedroid/stack/avct/avct_ccb.c
  components/bt/host/bluedroid/stack/avct/avct_l2c.c
  components/bt/host/bluedroid/stack/avct/avct_lcb.c
  components/bt/host/bluedroid/stack/avct/avct_lcb_act.c
  components/bt/host/bluedroid/stack/avdt/avdt_ad.c
  components/bt/host/bluedroid/stack/avdt/avdt_api.c
  components/bt/host/bluedroid/stack/avdt/avdt_ccb.c
  components/bt/host/bluedroid/stack/avdt/avdt_ccb_act.c
  components/bt/host/bluedroid/stack/avdt/avdt_l2c.c
  components/bt/host/bluedroid/stack/avdt/avdt_msg.c
  components/bt/host/bluedroid/stack/avdt/avdt_scb.c
  components/bt/host/bluedroid/stack/avdt/avdt_scb_act.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt): fix A2DP api and btc component issues reported by AI review
  components/bt/host/bluedroid/api/esp_a2dp_api.c
  components/bt/host/bluedroid/btc/profile/std/a2dp/bta_av_co.c
  components/bt/host/bluedroid/btc/profile/std/a2dp/btc_a2dp_control.c
  components/bt/host/bluedroid/btc/profile/std/a2dp/btc_a2dp_sink.c
  components/bt/host/bluedroid/btc/profile/std/a2dp/btc_a2dp_sink_ext_coedc.c
  components/bt/host/bluedroid/btc/profile/std/a2dp/btc_a2dp_source.c
  components/bt/host/bluedroid/btc/profile/std/a2dp/btc_a2dp_source_ext_codec.c
  components/bt/host/bluedroid/btc/profile/std/a2dp/btc_av.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: add wifi static tx buffer case
  .gitlab/ci/rules.yml
  .gitlab/ci/target-test.yml
  components/esp_wifi/test_apps/.build-test-rules.yml
  components/esp_wifi/test_apps/wifi_connect/pytest_wifi_connect.py
  components/esp_wifi/test_apps/wifi_connect/sdkconfig.ci.esp32c2_xtal26m_static_tx_buf
  components/esp_wifi/test_apps/wifi_connect/sdkconfig.ci.static_tx_buf
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nvs_flash): Skip nvs bootloader CI on ESP32-S31 bringup
  examples/storage/nvs/.build-test-rules.yml
  examples/storage/nvs/nvs_bootloader/pytest_nvs_bootloader.py
Due: none

fix(esp_hal_security): fixes failing hmac_hal_configure with efuse_key for p4 rev < 3
  components/hal/hmac_hal.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_security): Fixes incorrect key manager configuration for ESP32-P4 rev < 3
  components/esp_security/src/esp_ds.c
  components/hal/ecdsa_hal.c
  components/hal/test_apps/crypto/main/ds/test_ds.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_security): guard key manager APIs against unsupported chip revs
  components/esp_security/src/esp_key_mgr.c
  components/esp_security/test_apps/.build-test-rules.yml
  components/esp_security/test_apps/crypto_drivers/main/test_key_mgr.c
  components/esp_security/test_apps/crypto_drivers/pytest_crypto_drivers.py
  components/hal/test_apps/crypto/main/key_manager/test_key_manager.c
  components/hal/test_apps/crypto/pytest_crypto.py
  components/hal/test_apps/crypto/sdkconfig.ci.long_aes_operations_esp32p4_rev1
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(lp_core): fix LP UART IOMUX pin not bypassing LP GPIO Matrix for RX
  components/ulp/lp_core/lp_core_uart.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(lp_core): fix LP UART init parameter validation
  components/ulp/lp_core/lp_core_uart.c
  components/ulp/test_apps/lp_core/lp_core_basic_tests/main/test_lp_core_uart.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci(esp32p4): enable sysview_tracing test missed before
  examples/system/sysview_tracing/pytest_sysview_tracing.py
Due: none

fix(transport_ws): read full PING payload in one call when propagate_control_frames is set
  components/tcp_transport/transport_ws.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(transport_ws): flush oversized control frame payload before returning error
  components/tcp_transport/transport_ws.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(test_apps): fix bugs in phy tsens test apps
  tools/test_apps/phy/phy_tsens/main/wifi_cmd.c
  tools/test_apps/phy/phy_tsens/pytest_phy_tsens.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(lp_core): skip LP UART RTS/CTS pin setup when flow control is disabled
  components/ulp/lp_core/lp_core_uart.c
Due: gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml
