Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

check_readme_links:
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    GIT_STRATEGY: fetch
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs: []
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
    when: always
  script:
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  - gen_integration_pipeline
  variables:
    IDF_S3_SERVER: $IDF_S3_NEW_SERVER
    IDF_S3_ACCESS_KEY: $IDF_S3_NEW_ACCESS_KEY
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
  ...

check_powershell:
  stage: pre_check
  image: docker:latest
  services:
  - docker:dind
  tags:
  - dind
  - amd64
  - brew
  needs:
  - pipeline_variables
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 1
    SUBMODULES_TO_FETCH: none
  script:
  - apk add python3
  - apk add py3-pip
  - pip install pre-commit --break-system-packages
  ...

fix(fatfs): preserve access mode in VFS F_SETFL
  components/fatfs/test_apps/flash_wl/main/test_fatfs_flash_wl.c
  components/fatfs/test_apps/test_fatfs_common/test_fatfs_common.c
  components/fatfs/test_apps/test_fatfs_common/test_fatfs_common.h
  components/fatfs/vfs/vfs_fat.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci: revert custom ci_python_constraint_branch
  .gitlab/ci/common.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

change(mbedtls/crt_bundle): Unify gen_crt_bundle output with esp-pylib
  components/mbedtls/esp_crt_bundle/gen_crt_bundle.py
  components/mbedtls/esp_crt_bundle/test_gen_crt_bundle/test_gen_crt_bundle.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_tee): Reject re-entrant secure service calls from the REE
  components/esp_tee/subproject/main/arch/riscv/esp_tee_asm_utils.inc
  components/esp_tee/subproject/main/arch/riscv/esp_tee_vectors_clic.S
  components/esp_tee/subproject/main/arch/riscv/esp_tee_vectors_plic.S
  components/esp_tee/test_apps/tee_test_fw/main/test_esp_tee_interrupt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(mbedtls/crt_bundle): Update esp_crt_bundle certificates
  components/mbedtls/esp_crt_bundle/cacrt_all.pem
  components/mbedtls/esp_crt_bundle/cacrt_deprecated.pem
  docs/en/api-reference/protocols/esp_crt_bundle.rst
  docs/zh_CN/api-reference/protocols/esp_crt_bundle.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

docs(storage): clarify example READMEs and when to use each
  examples/storage/README.md
  examples/storage/custom_flash_driver/README.md
  examples/storage/emmc/README.md
  examples/storage/fatfs/bdl_wl/README.md
  examples/storage/fatfs/ext_flash/README.md
  examples/storage/fatfs/fatfsgen/README.md
  examples/storage/fatfs/fs_operations/README.md
  examples/storage/fatfs/getting_started/README.md
  examples/storage/littlefs/README.md
  examples/storage/nvs/nvs_bootloader/README.md
  examples/storage/nvs/nvs_console/README.md
  examples/storage/nvs/nvs_iteration/README.md
  examples/storage/nvs/nvs_rw_blob/README.md
  examples/storage/nvs/nvs_rw_value/README.md
  examples/storage/nvs/nvs_rw_value_cxx/README.md
  examples/storage/nvs/nvs_statistics/README.md
  examples/storage/nvs/nvsgen/README.md
  examples/storage/partition_api/partition_find/README.md
  examples/storage/partition_api/partition_mmap/README.md
  examples/storage/partition_api/partition_ops/README.md
  examples/storage/parttool/README.md
  examples/storage/perf_benchmark/README.md
  examples/storage/sd_card/sdmmc/README.md
  examples/storage/sd_card/sdspi/README.md
  examples/storage/semihost_vfs/README.md
  examples/storage/spiffs/README.md
  examples/storage/spiffsgen/README.md
  examples/storage/wear_levelling/README.md
Due: check_readme_links

feat(driver_twai): add usb<->twai candlelight example
  docs/en/api-reference/peripherals/twai.rst
  docs/zh_CN/api-reference/peripherals/twai.rst
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/twai/usb_twai_adapter/CMakeLists.txt
  examples/peripherals/twai/usb_twai_adapter/README.md
  examples/peripherals/twai/usb_twai_adapter/main/CMakeLists.txt
  examples/peripherals/twai/usb_twai_adapter/main/candlelight_internal.h
  examples/peripherals/twai/usb_twai_adapter/main/candlelight_main.c
  examples/peripherals/twai/usb_twai_adapter/main/candlelight_twai.c
  examples/peripherals/twai/usb_twai_adapter/main/gs_usb.c
  examples/peripherals/twai/usb_twai_adapter/main/gs_usb.h
  examples/peripherals/twai/usb_twai_adapter/main/idf_component.yml
  examples/peripherals/twai/usb_twai_adapter/sdkconfig.defaults
  examples/peripherals/twai/usb_twai_adapter/wireshark_can0_snap.png
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

docs(nvs_flash): correct public API docs for error code
  components/nvs_flash/include/nvs.h
  components/nvs_flash/include/nvs_handle.hpp
  components/nvs_flash/src/nvs_api.cpp
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(examples): use 'n' instead of '0'/'false' for bool Kconfig defaults
  examples/peripherals/twai/twai_utils/main/Kconfig.projbuild
  examples/wifi/scan/main/Kconfig.projbuild
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

refactor(ble_log): decouple runtime submission ownership
  components/bt/common/ble_log/src/ble_log_lbm.c
  components/bt/common/ble_log/src/ble_log_rt.c
  components/bt/common/ble_log/src/internal_include/ble_log_prph.h
  components/bt/common/ble_log/src/internal_include/ble_log_rt.h
  components/bt/common/ble_log/src/internal_include/ble_log_util.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(ble_log): close the lifecycle gate before teardown
  components/bt/common/ble_log/src/ble_log.c
  components/bt/common/ble_log/src/ble_log_lbm.c
  components/bt/common/ble_log/src/ble_log_rt.c
  components/bt/common/ble_log/src/ble_log_util.c
  components/bt/common/ble_log/src/internal_include/ble_log_lbm.h
  components/bt/common/ble_log/src/internal_include/ble_log_util.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(http_client): default Content-Type for post field
  components/esp_http_client/esp_http_client.c
  components/esp_http_client/test_apps/main/test_http_client.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(rgb_lcd): pass output color format in tests
  components/esp_lcd/test_apps/rgb_lcd/main/test_rgb_panel.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): update XTAL sleep FPU parameters
  components/esp_hw_support/port/esp32s31/pmu_sleep.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix esp32s31 stuck in phy_disable if mdoem module is not initialized
  components/esp_hw_support/modem/port/esp32s31/modem_clock_impl.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_system): support XTAL as RTC fast clock source
  components/esp_system/port/soc/esp32s31/clk.c
  components/ulp/test_apps/.build-test-rules.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(cmakev2): include config-selected default components
  components/esp_gdbstub/project_include.cmake
  components/espcoredump/project_include.cmake
  docs/en/api-guides/build-system-v2/creating-component.rst
  tools/cmakev2/idf.cmake
  tools/cmakev2/project.cmake
  tools/test_build_system/buildv2/test_default_components.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

docs(bt): clarify Bluedroid GATT signed write API comments
  components/bt/host/bluedroid/api/include/api/esp_gatt_defs.h
  components/bt/host/bluedroid/api/include/api/esp_gattc_api.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble_audio): Miscellaneous update for ISO & Audio examples
  components/bt/esp_ble_audio/host/common/init.c
  examples/bluetooth/esp_ble_audio/tmap/central/README.md
  examples/bluetooth/esp_ble_audio/tmap/central/main/CMakeLists.txt
  examples/bluetooth/esp_ble_audio/tmap/central/main/Kconfig.projbuild
  examples/bluetooth/esp_ble_audio/tmap/central/main/cap_initiator.c
  examples/bluetooth/esp_ble_audio/tmap/central/main/csip_set_coordinator.c
  examples/bluetooth/esp_ble_audio/tmap/central/main/main.c
  examples/bluetooth/esp_ble_audio/tmap/central/main/tmap_central.h
  examples/bluetooth/esp_ble_audio/tmap/central/main/vcp_vol_ctlr.c
  examples/bluetooth/esp_ble_audio/tmap/central/sdkconfig.defaults
  examples/bluetooth/esp_ble_audio/tmap/central/sdkconfig.defaults.nimble
  examples/bluetooth/esp_ble_audio/tmap/peripheral/README.md
  examples/bluetooth/esp_ble_audio/tmap/peripheral/main/Kconfig.projbuild
  examples/bluetooth/esp_ble_audio/tmap/peripheral/main/bap_unicast_sr.c
  examples/bluetooth/esp_ble_audio/tmap/peripheral/main/bluedroid/peripheral.c
  examples/bluetooth/esp_ble_audio/tmap/peripheral/main/csip_set_member.c
  examples/bluetooth/esp_ble_audio/tmap/peripheral/main/nimble/peripheral.c
  examples/bluetooth/esp_ble_audio/tmap/peripheral/main/tmap_peripheral.h
  examples/bluetooth/esp_ble_audio/tmap/peripheral/sdkconfig.defaults
  examples/bluetooth/esp_ble_iso/cis_central/README.md
  examples/bluetooth/esp_ble_iso/cis_central/main/main.c
  examples/bluetooth/esp_ble_iso/cis_central/sdkconfig.defaults
  examples/bluetooth/esp_ble_iso/cis_peripheral/README.md
  examples/bluetooth/esp_ble_iso/cis_peripheral/main/main.c
  examples/bluetooth/esp_ble_iso/cis_peripheral/sdkconfig.defaults
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): allow osi_event re-post during POSTING window
  components/bt/common/osi/thread.c
  components/bt/host/bluedroid/hci/hci_layer.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(hal): prevent overflow in fractional clock division
  components/hal/hal_utils.c
  components/hal/test_apps/hal_utils/main/test_calc_clk_div.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(bootloader): optimize bootloader size
  components/bootloader_support/src/bootloader_init.c
  components/bootloader_support/src/bootloader_sha.c
  components/bootloader_support/src/bootloader_utility.c
  components/bootloader_support/src/esp_image_format.c
  tools/test_apps/system/startup/sdkconfig.ci.flash_80m_qio
  tools/test_apps/system/unicore_bootloader/sdkconfig.defaults
Due: gen_integration_pipeline, child_integration_test_pipeline

tests: replace CLI-dependent xfail/skipif conditions
  components/esp_event/test_apps/pytest_esp_event.py
  docs/en/contribute/esp-idf-tests-with-pytest.rst
  docs/zh_CN/contribute/esp-idf-tests-with-pytest.rst
  tools/test_apps/system/panic/panic_base/pytest_panic.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

change(esp_libc): use C5 ECO4 ROM newlib functions
  components/esp_hw_support/port/esp32c5/Kconfig.hw_support
  components/esp_libc/Kconfig
  components/esp_rom/esp32c5/esp_rom_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

refactor(ble_log): remove obsolete unit test hooks
  components/bt/common/ble_log/src/ble_log_rt.c
  components/bt/common/ble_log/src/ble_log_util.c
  components/bt/common/ble_log/src/internal_include/ble_log_util.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat: Adopt rebuild optimization tool (configdep) in cmakev2
  tools/cmakev2/idf.cmake
  tools/cmakev2/kconfig.cmake
  tools/test_build_system/test_configdep.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix ESP32-S31 CPU/DFS clk_tree refcount and keep clock source during DFS
  components/esp_hal_clock/esp32s31/include/hal/clk_tree_ll.h
  components/esp_hal_mspi/esp32s31/include/hal/mspi_ll.h
  components/esp_hal_pmu/esp32s31/include/hal/pmu_ll.h
  components/esp_hw_support/include/esp_private/rtc_clk.h
  components/esp_hw_support/linker.lf
  components/esp_hw_support/port/esp32p4/CMakeLists.txt
  components/esp_hw_support/port/esp32p4/rtc_clk.c
  components/esp_hw_support/port/esp32s31/CMakeLists.txt
  components/esp_hw_support/port/esp32s31/esp_clk_tree.c
  components/esp_hw_support/port/esp32s31/include/soc/rtc.h
  components/esp_hw_support/port/esp32s31/pmu_init.c
  components/esp_hw_support/port/esp32s31/pmu_param.c
  components/esp_hw_support/port/esp32s31/rtc_clk.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Fix default value type of FATFS_PRINT_LLI and FATFS_PRINT_FLOAT
  components/fatfs/Kconfig
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

ci(buildv2): skip patching the fake_pass build child pipeline
  .gitlab/ci/host-test.yml
  .gitlab/ci/rules.yml
  tools/ci/dynamic_pipelines/scripts/patch_buildv2_child_pipeline.py
  tools/ci/dynamic_pipelines/tests/test_patch_buildv2_child_pipeline.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt_pbap): Fix some bugs in bluedroid PBAP
  components/bt/host/bluedroid/api/esp_pbac_api.c
  components/bt/host/bluedroid/bta/include/bta/bta_pba_client_api.h
  components/bt/host/bluedroid/bta/pba/bta_pba_client_act.c
  components/bt/host/bluedroid/bta/pba/bta_pba_client_api.c
  components/bt/host/bluedroid/bta/pba/bta_pba_client_main.c
  components/bt/host/bluedroid/bta/pba/bta_pba_client_sdp.c
  components/bt/host/bluedroid/bta/pba/include/bta_pba_client_int.h
  components/bt/host/bluedroid/btc/profile/std/pba/btc_pba_client.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(ble_log): simplify timestamp sync scheduling
  components/bt/common/ble_log/Kconfig.in
  components/bt/common/ble_log/src/ble_log_rt.c
  components/bt/common/ble_log/src/ble_log_ts.c
  components/bt/common/ble_log/src/internal_include/ble_log_rt.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): pmu_icg_mapping define mistake
  components/esp_hw_support/lowpower/port/esp32h4/sleep_clock_icg.c
  components/esp_hw_support/port/esp32h4/pmu_param.c
  components/soc/esp32h4/include/soc/pmu_icg_mapping.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): pmu_icg_mapping define mistake
  components/esp_hw_support/port/esp32h4/pmu_param.c
  components/soc/esp32h4/include/soc/pmu_icg_mapping.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(storage): Add support for large generic partition BDLs
  components/esp_blockdev_util/generic_partition.c
  components/esp_blockdev_util/include/esp_blockdev/generic_partition.h
  components/esp_blockdev_util/test_apps/generic_partition/main/test_generic_partition.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml
