Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*

lp_timer: add hal-layer codes for esp32c6
  components/esp_hw_support/port/esp32c6/CMakeLists.txt
  components/esp_hw_support/port/esp32c6/rtc_time.c
  components/esp_hw_support/sleep_wake_stub.c
  components/hal/CMakeLists.txt
  components/hal/esp32c6/include/hal/lp_timer_hal.h
  components/hal/esp32c6/include/hal/lp_timer_ll.h
  components/hal/esp32c6/lp_timer_hal.c
  components/hal/include/hal/lp_timer_types.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

cpu retention: refactor cpu retention and add cpu retention versions option in soc caps
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/include/esp_private/sleep_cpu.h
  components/esp_hw_support/include/esp_private/sleep_retention.h
  components/esp_hw_support/include/esp_sleep.h
  components/esp_hw_support/sleep_cpu.c
  components/esp_hw_support/sleep_modes.c
  components/esp_hw_support/sleep_retention.c
  components/esp_pm/linker.lf
  components/esp_pm/pm_impl.c
  components/esp_wifi/esp32c6/esp_adapter.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

cpu retention: software cpu retention support for esp32c6
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/include/esp_private/sleep_cpu.h
  components/esp_hw_support/sleep_cpu.c
  components/esp_hw_support/sleep_cpu_asm.S
  components/esp_rom/include/esp32c6/rom/rtc.h
  components/riscv/include/riscv/rvsleep-frames.h
  tools/ci/check_public_headers_exceptions.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

sleep: light sleep supported for esp32c6
  components/driver/test_apps/gpio/main/test_gpio.c
  components/esp_hw_support/Kconfig
  components/esp_hw_support/sleep_gpio.c
  components/esp_hw_support/sleep_modes.c
  components/esp_pm/Kconfig
  components/esp_system/system_init_fn.txt
  components/esp_system/test/test_sleep.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

example: bringup light sleep example for esp32c6
  components/hal/esp32c6/include/hal/uart_ll.h
  examples/system/.build-test-rules.yml
  examples/system/light_sleep/README.md
  examples/system/light_sleep/main/gpio_wakeup.c
  examples/system/light_sleep/pytest_light_sleep.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

codeclean: only S series chip VDDSDIO is configurable
  components/bootloader/Kconfig.projbuild
  components/esp_hw_support/linker.lf
  components/esp_hw_support/port/esp32c2/rtc_init.c
  components/esp_hw_support/port/esp32c3/rtc_init.c
  components/esp_hw_support/port/esp32h4/rtc_init.c
  components/esp_hw_support/sleep_modes.c
  components/esp_pm/linker.lf
  components/soc/esp32/include/soc/Kconfig.soc_caps.in
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c2/include/soc/rtc.h
  components/soc/esp32c3/include/soc/rtc.h
  components/soc/esp32c6/include/soc/rtc.h
  components/soc/esp32h2/include/soc/rtc.h
  components/soc/esp32h4/include/soc/rtc.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

codeclean: clean esp32c6 rtc_sleep related code
  components/bootloader_support/src/bootloader_clock_init.c
  components/esp_hw_support/port/esp32c6/rtc_sleep.c
  components/esp_hw_support/sleep_modes.c
  components/esp_hw_support/sleep_wake_stub.c
  components/hal/esp32c6/include/hal/rtc_cntl_ll.h
  components/soc/esp32c6/include/soc/rtc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

wpa_supplicant:Fix potential null pointer dereference
  components/wpa_supplicant/src/rsn_supp/wpa.c
  tools/ci/static-analysis-rules.yml
Due: none

lwip/sntp: Fix esp_sntp_ API races
  components/lwip/apps/sntp/sntp.c
Due: none

ci: fix typos tag naming of all flash_multi
  .gitlab/ci/target-test.yml
  components/driver/test_apps/spi/master/pytest_spi_master.py
  components/spi_flash/test_apps/esp_flash/pytest_esp_flash.py
  conftest.py
Due: none

Fixed hci uart tx long data error
  components/bt/porting/transport/uart/hci_uart.c
Due: none

gdma: correct the dma trigger of uart
  components/driver/include/esp_private/gdma.h
  components/soc/esp32c3/include/soc/gdma_channel.h
  components/soc/esp32h2/include/soc/gdma_channel.h
  components/soc/esp32s3/include/soc/gdma_channel.h
  examples/bluetooth/hci/controller_hci_uart_esp32c3_and_esp32s3/main/main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

gdma: correct the dma trigger of uart
  components/esp_hw_support/include/esp_private/gdma.h
  components/soc/esp32c2/include/soc/gdma_channel.h
  components/soc/esp32c3/include/soc/gdma_channel.h
  components/soc/esp32h2/include/soc/gdma_channel.h
  components/soc/esp32s3/include/soc/gdma_channel.h
  examples/bluetooth/hci/controller_hci_uart_esp32c3_and_esp32s3/main/main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

gdma: prevent mutli-channels connect to the same peripheral
  components/driver/i2s/i2s_common.c
  components/esp_hw_support/gdma.c
  components/esp_hw_support/include/esp_private/gdma.h
  components/esp_hw_support/port/async_memcpy_impl_gdma.c
  components/esp_hw_support/test/test_gdma.c
  components/hal/esp32c2/include/hal/gdma_ll.h
  components/hal/esp32c3/include/hal/gdma_ll.h
  components/hal/esp32h2/include/hal/gdma_ll.h
  components/hal/esp32s3/include/hal/gdma_ll.h
  components/hal/include/hal/gdma_types.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

gdma: prevent mutli-channels connect to the same peripheral
  components/driver/gdma.c
  components/driver/include/esp_private/gdma.h
  components/driver/test/test_gdma.c
  components/esp_hw_support/port/async_memcpy_impl_gdma.c
  components/hal/esp32c3/include/hal/gdma_ll.h
  components/hal/esp32h2/include/hal/gdma_ll.h
  components/hal/esp32s3/include/hal/gdma_ll.h
  components/hal/include/hal/gdma_types.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

i2c: support i2c on esp32h2
  components/driver/include/driver/i2c.h
  components/esp_lcd/.build-test-rules.yml
  components/hal/esp32h2/include/hal/i2c_ll.h
  components/soc/esp32c6/include/soc/clk_tree_defs.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/clk_tree_defs.h
  components/soc/esp32h2/include/soc/i2c_struct.h
  components/soc/esp32h2/include/soc/pcr_struct.h
  components/soc/esp32h2/include/soc/soc_caps.h
  docs/en/api-reference/peripherals/i2c.rst
  docs/zh_CN/api-reference/peripherals/i2c.rst
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/i2c/i2c_self_test/README.md
  examples/peripherals/i2c/i2c_self_test/main/Kconfig.projbuild
  examples/peripherals/i2c/i2c_simple/README.md
  examples/peripherals/i2c/i2c_simple/main/Kconfig.projbuild
  examples/peripherals/i2c/i2c_tools/README.md
  examples/peripherals/i2c/i2c_tools/main/cmd_i2ctools.c
  examples/peripherals/i2s/i2s_codec/i2s_es8311/README.md
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

bluedroid: add params in GATT connect event
  components/bt/host/bluedroid/api/include/api/esp_gattc_api.h
  components/bt/host/bluedroid/api/include/api/esp_gatts_api.h
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
  components/bt/host/bluedroid/bta/gatt/bta_gattc_utils.c
  components/bt/host/bluedroid/bta/gatt/bta_gatts_act.c
  components/bt/host/bluedroid/bta/gatt/include/bta_gattc_int.h
  components/bt/host/bluedroid/bta/include/bta/bta_gatt_api.h
  components/bt/host/bluedroid/btc/profile/std/gatt/btc_gattc.c
  components/bt/host/bluedroid/btc/profile/std/gatt/btc_gatts.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

wpa_supplicant:Fix potential null pointer dereference
  components/wpa_supplicant/src/rsn_supp/wpa.c
Due: none

wpa_supplicant : Correct scan results for GCMP RSN
  components/wpa_supplicant/src/common/wpa_common.c
Due: none

wpa_supplicant : fix invalid de-init of last_scan_res_used
  components/wpa_supplicant/esp_supplicant/src/esp_scan.c
Due: none

sntp/test: Fixed flaky example test
  examples/protocols/sntp/pytest_sntp.py
Due: none

freertos: Add linker fragments for common functions
  components/freertos/CMakeLists.txt
  components/freertos/FreeRTOS-openocd.c
  components/freertos/linker.lf
  components/freertos/linker_common.lf
  components/freertos/linker_smp.lf
Due: none

wpa_supplicant : Fix invalid de-init of last_scan_res_used
  components/wpa_supplicant/esp_supplicant/src/esp_scan.c
Due: none

freertos(SMP): Update SMP FreeRTOS linker fragment file
  components/freertos/esp_additions/include/freertos/FreeRTOSConfig.h
  components/freertos/linker_smp.lf
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

freertos(IDF): Update IDF FreeRTOS linker fragment file
  components/freertos/linker.lf
Due: none

wpa_supplicant : Prevent h2e config overwrite
  components/wpa_supplicant/esp_supplicant/src/esp_common.c
Due: none

zigbee: example API update
  examples/zigbee/esp_zigbee_gateway/main/idf_component.yml
  examples/zigbee/esp_zigbee_gateway/partitions.csv
  examples/zigbee/esp_zigbee_rcp/main/idf_component.yml
  examples/zigbee/esp_zigbee_rcp/partitions.csv
  examples/zigbee/light_sample/HA_on_off_light/main/idf_component.yml
  examples/zigbee/light_sample/HA_on_off_light/partitions.csv
  examples/zigbee/light_sample/HA_on_off_switch/main/esp_zb_switch.c
  examples/zigbee/light_sample/HA_on_off_switch/main/idf_component.yml
  examples/zigbee/light_sample/HA_on_off_switch/partitions.csv
Due: none

heap: Fix erroneous value returned by heap_caps_get_allocated_size() when poisoning is enabled
  components/heap/multi_heap_poisoning.c
  components/heap/test_apps/main/test_malloc.c
Due: none

bt: fix SDP event status overwritten by handle
  components/bt/host/bluedroid/bta/include/bta/bta_sdp_api.h
  components/bt/host/bluedroid/bta/sdp/bta_sdp_act.c
  components/bt/host/bluedroid/btc/profile/std/sdp/btc_sdp.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

feature: add ram loadable app support
  Kconfig
  components/bootloader_support/CMakeLists.txt
  components/bootloader_support/src/bootloader_init.c
  components/bootloader_support/src/esp32/bootloader_esp32.c
  components/bootloader_support/src/esp32c2/bootloader_esp32c2.c
  components/bootloader_support/src/esp32c3/bootloader_esp32c3.c
  components/bootloader_support/src/esp32c6/bootloader_esp32c6.c
  components/bootloader_support/src/esp32h2/bootloader_esp32h2.c
  components/bootloader_support/src/esp32h4/bootloader_esp32h4.c
  components/bootloader_support/src/esp32s2/bootloader_esp32s2.c
  components/bootloader_support/src/esp32s3/bootloader_esp32s3.c
  components/esp_hw_support/Kconfig
  components/esp_hw_support/port/esp32s3/rtc_init.c
  components/esp_psram/Kconfig
  components/esp_rom/esp32c6/ld/esp32c6.rom.api.ld
  components/esp_rom/esp32h2/ld/esp32h2.rom.api.ld
  components/esp_rom/esp32h4/ld/rev1/esp32h4.rom.api.ld
  components/esp_system/esp_err.c
  components/esp_system/ld/esp32c3/sections.ld.in
  components/esp_system/ld/esp32c6/sections.ld.in
  components/esp_system/ld/esp32h2/sections.ld.in
  components/esp_system/ld/esp32h4/sections.ld.in
  components/esp_system/ld/esp32s2/sections.ld.in
  components/esp_system/ld/esp32s3/sections.ld.in
  components/esp_system/ld/ld.common
  components/esp_system/port/cpu_start.c
  components/esp_system/port/panic_handler.c
  components/esp_system/startup.c
  components/hal/CMakeLists.txt
  components/hal/linker.lf
  components/newlib/assert.c
  components/openthread/CMakeLists.txt
  components/spi_flash/CMakeLists.txt
  components/spi_flash/Kconfig
  components/spi_flash/linker.lf
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

feature: add build framework support
  Kconfig
  components/esptool_py/CMakeLists.txt
  components/esptool_py/Kconfig.projbuild
  components/esptool_py/project_include.cmake
  components/partition_table/CMakeLists.txt
  sdkconfig.rename
  tools/ci/test_build_system_cmake.sh
  tools/cmake/project.cmake
  tools/cmake/project_description.json.in
  tools/test_apps/system/gdb_loadable_elf/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

example: add example for ram loadable app
  tools/test_apps/system/ram_loadable_app/CMakeLists.txt
  tools/test_apps/system/ram_loadable_app/README.md
  tools/test_apps/system/ram_loadable_app/main/CMakeLists.txt
  tools/test_apps/system/ram_loadable_app/main/ram_loadable_app_example_main.c
  tools/test_apps/system/ram_loadable_app/sdkconfig.defaults
Due: none

ci: add pytests for ram_loadable_app
  tools/ci/test_build_system_cmake.sh
  tools/test_apps/.build-test-rules.yml
  tools/test_apps/system/ram_loadable_app/conftest.py
  tools/test_apps/system/ram_loadable_app/pytest_ram_loadable_app.py
  tools/test_apps/system/ram_loadable_app/sdkconfig.ci.defaults
  tools/test_apps/system/ram_loadable_app/sdkconfig.ci.pure_ram
  tools/test_apps/system/ram_loadable_app/sdkconfig.defaults.esp32
  tools/test_apps/system/ram_loadable_app/test_ram_loadable_app_util/loadable_app_serial.py
Due: none

ci: add ci workaround for gdb_loadable_elf since flash config parameters are no longer generated when APP_BUILD_TYPE_RAM is enabled, this will cause load_ram in pytest_embedded_idf to fail
  tools/test_apps/system/gdb_loadable_elf/conftest.py
  tools/test_apps/system/gdb_loadable_elf/test_gdb_loadable_elf_util/loadable_app_serial.py
Due: none
