Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

fix(coex): fix esp32c2/esp32c5/esp32c61 coexist memory leakage issue
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(coex): optimize connectionless coexist pwr, optimize wifi pwr with bt idle
  components/esp_coex/include/private/esp_coexist_internal.h
  components/esp_rom/esp32c2/ld/esp32c2.rom.eco4.ld
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.coexist.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
  components/esp_wifi/esp32/esp_adapter.c
  components/esp_wifi/esp32c2/esp_adapter.c
  components/esp_wifi/esp32c3/esp_adapter.c
  components/esp_wifi/esp32c6/esp_adapter.c
  components/esp_wifi/esp32s2/esp_adapter.c
  components/esp_wifi/esp32s3/esp_adapter.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix modem_clock_module_enable mismatch issue
  components/esp_coex/src/coexist.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(coex): fix esp32c5 coexist hw timer issue
  components/esp_coex/esp32c2/esp_coex_adapter.c
  components/esp_coex/esp32c6/esp_coex_adapter.c
  components/esp_coex/esp32h2/esp_coex_adapter.c
  components/esp_coex/include/private/esp_coexist_adapter.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(coex): sync up coex head file
  components/esp_coex/test_md5/test_md5.sh
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix esp32c5 enable external coex fail issue
  components/esp_coex/src/coexist.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): esp32c5 esp32c61 support external coex
  components/esp_coex/src/coexist.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(coex): support GPIO debug
  components/esp_coex/CMakeLists.txt
  components/esp_coex/Kconfig
  components/esp_coex/esp32/esp_coex_adapter.c
  components/esp_coex/esp32c2/esp_coex_adapter.c
  components/esp_coex/esp32c3/esp_coex_adapter.c
  components/esp_coex/esp32c6/esp_coex_adapter.c
  components/esp_coex/esp32h2/esp_coex_adapter.c
  components/esp_coex/esp32s2/esp_coex_adapter.c
  components/esp_coex/esp32s3/esp_coex_adapter.c
  components/esp_coex/include/esp_coexist.h
  components/esp_coex/include/private/esp_coexist_adapter.h
  components/esp_coex/include/private/esp_coexist_debug.h
  components/esp_coex/src/coexist_debug.c
  components/esp_coex/src/coexist_debug_diagram.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(coex): fix some coexist debug issues
  components/esp_coex/Kconfig
  components/esp_coex/include/private/esp_coexist_debug.h
  components/esp_coex/src/coexist_debug.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_rom): Comment out unused function pointers in esp32c2 eco4 linker file
  components/esp_rom/esp32c2/ld/esp32c2.rom.eco4.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

test(parlio): dma can transmit PSRAM buffer
  components/esp_driver_parlio/Kconfig
  components/esp_driver_parlio/linker.lf
  components/esp_driver_parlio/test_apps/parlio/main/CMakeLists.txt
  components/esp_driver_parlio/test_apps/parlio/main/test_parlio_tx.c
  components/esp_driver_parlio/test_apps/parlio/sdkconfig.defaults.esp32c5
  components/esp_driver_parlio/test_apps/parlio/sdkconfig.defaults.esp32p4
  components/esp_hw_support/dma/Kconfig.dma
  components/esp_hw_support/dma/gdma_priv.h
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

change: Update ping-cmd component to v1.0.0
  examples/wifi/iperf/main/idf_component.yml
  examples/wifi/iperf/main/iperf_example_main.c
Due: none

feat(bt/bluedroid): Added BLE 5.0 throughput examples
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_client/CMakeLists.txt
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_client/README.md
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_client/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_client/main/Kconfig.projbuild
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_client/main/example_ble_client_throughput.c
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_client/sdkconfig.defaults
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_client/sdkconfig.defaults.esp32c2
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_client/sdkconfig.defaults.esp32c3
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_client/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_server/CMakeLists.txt
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_server/README.md
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_server/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_server/main/Kconfig.projbuild
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_server/main/example_ble_server_throughput.c
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_server/sdkconfig.defaults
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_server/sdkconfig.defaults.esp32c2
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_server/sdkconfig.defaults.esp32c3
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_server/sdkconfig.defaults.esp32s3
Due: check_readme_links

feat(esp_hw_support): extend sleep retention module bitmap bit width
  components/esp_hw_support/include/esp_private/esp_regdma.h
  components/esp_hw_support/include/esp_private/sleep_retention.h
  components/esp_hw_support/port/regdma_link.c
  components/esp_hw_support/sleep_retention.c
  components/soc/include/soc/regdma.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(soc): add sleep retention module total number definition
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/retention_periph_defs.h
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/retention_periph_defs.h
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/retention_periph_defs.h
  components/soc/esp32c61/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/retention_periph_defs.h
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/retention_periph_defs.h
  components/soc/esp32p4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

change(soc): define sleep retention module total number to 64 for esp32p4
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): update power domain pd allowed check logic
  components/esp_hw_support/lowpower/port/esp32c5/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32c6/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32c61/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32h2/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32p4/sleep_clock.c
  components/esp_hw_support/sleep_modem.c
  components/esp_hw_support/sleep_system_peripheral.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): update some modules sleep retention init dependency bitmap
  components/bt/controller/esp32c5/bt.c
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h2/bt.c
  components/driver/twai/twai.c
  components/esp_driver_gptimer/src/gptimer_common.c
  components/esp_driver_i2s/i2s_common.c
  components/esp_driver_ledc/src/ledc.c
  components/esp_driver_mcpwm/src/mcpwm_com.c
  components/esp_driver_parlio/src/parlio_common.c
  components/esp_driver_pcnt/src/pulse_cnt.c
  components/esp_driver_rmt/src/rmt_common.c
  components/esp_driver_spi/src/gpspi/spi_common.c
  components/esp_driver_tsens/src/temperature_sensor.c
  components/esp_driver_uart/src/uart.c
  components/esp_hw_support/dma/gdma_sleep_retention.c
  components/esp_hw_support/esp_etm.c
  components/esp_phy/src/btbb_init.c
  components/esp_phy/src/phy_init.c
  components/esp_system/int_wdt.c
  components/esp_system/task_wdt/task_wdt_impl_timergroup.c
  components/esp_wifi/src/wifi_init.c
  components/ieee802154/driver/esp_ieee802154_dev.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(newlib): support line endings modification only with VFS
  components/newlib/Kconfig
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(newlib): change line endings on standard input and output
  components/newlib/syscalls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(test_apps): do not check line endings in dut.expect
  tools/test_apps/system/mmu_page_size/pytest_mmu_page_size.py
  tools/test_apps/system/unicore_bootloader/pytest_unicore_bootloader.py
Due: gen_integration_pipeline, child_integration_test_pipeline

change(newlib): use a general console name in the new line conversion options
  components/newlib/Kconfig
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): fix some sleep retention build error
  components/esp_hw_support/sleep_retention.c
  components/soc/esp32c5/include/soc/retention_periph_defs.h
  components/soc/esp32c6/include/soc/retention_periph_defs.h
  components/soc/esp32c61/include/soc/retention_periph_defs.h
  components/soc/esp32h2/include/soc/retention_periph_defs.h
  components/soc/esp32p4/include/soc/retention_periph_defs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ix(wifi): fix esp32c2 eco4 in v5.0 extra ld issue
  components/esp_rom/esp32c2/ld/esp32c2.rom.eco4.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(wifi): support esp32c2 eco4 wifi bringup
  components/esp_wifi/include/esp_wifi_types.h
  components/esp_wifi/src/wifi_init.c
  components/wpa_supplicant/esp_supplicant/src/esp_wifi_driver.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix esp32c2 eco4 ld
  components/esp_rom/esp32c2/ld/esp32c2.rom.eco4.ld
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): Fixed the incorrect error code returned
  components/bt/host/bluedroid/stack/avrc/avrc_pars_tg.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_pm): fix missed ccompare update when another core is already in do_switch
  components/esp_pm/pm_impl.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: optimize `git diff` handling to address "Argument list too long" error
  .gitlab/ci/common.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Nimble Error logs in case of memory overflow/failure
  components/bt/porting/mem/bt_osi_mem.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): fix some sleep retention build error
  components/soc/esp32c5/include/soc/retention_periph_defs.h
  components/soc/esp32c6/include/soc/retention_periph_defs.h
  components/soc/esp32c61/include/soc/retention_periph_defs.h
  components/soc/esp32h2/include/soc/retention_periph_defs.h
  components/soc/esp32p4/include/soc/retention_periph_defs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
