Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG: en
      DOCTGT: esp32
    - DOCLANG: zh_CN
      DOCTGT: esp32c6
  artifacts:
    when: always
    paths:
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

fix(openthread): fix ot settings out of range issue
  components/openthread/src/port/esp_openthread_settings.c
Due: none

feat(nvs_flash): nvs_gen_partition_image CMake function
  components/nvs_flash/project_include.cmake
Due: none

Nimble: Add APIs to handle vs HCI commands and events
  components/bt/host/nimble/Kconfig.in
  components/bt/host/nimble/port/include/esp_nimble_cfg.h
Due: build_docs_html_partial

feat(nimble): Add support for PCL Set RSSI VSC and example code for its usage
  components/bt/porting/nimble/include/nimble/hci_common.h
  examples/bluetooth/nimble/blecent/main/main.c
Due: build_docs_html_partial

Update README.md
  examples/wifi/README.md
Due: check_readme_links

测试提交
  examples/wifi/README.md
Due: check_readme_links

spi_flash: rename spi_flash_os_func_app: spi_start, spi_end
  components/spi_flash/spi_flash_os_func_app.c
  components/spi_flash/test_apps/components/test_flash_utils/CMakeLists.txt
  components/spi_flash/test_apps/components/test_flash_utils/include/test_flash_utils.h
  components/spi_flash/test_apps/components/test_flash_utils/test_flash_utils.c
  components/spi_flash/test_apps/esp_flash_stress/CMakeLists.txt
  components/spi_flash/test_apps/esp_flash_stress/main/CMakeLists.txt
  components/spi_flash/test_apps/esp_flash_stress/main/test_app_main.c
  components/spi_flash/test_apps/esp_flash_stress/main/test_esp_flash_stress.c
Due: build_docs_html_partial

spiflash: fix not calling on_spi_acquired when CONFIG_SPI_FLASH_SHARE_SPI1_BUS issue
  components/spi_flash/spi_flash_os_func_app.c
Due: none

spiflash: added esp_flash API concurrency pressure test
  components/esp_hw_support/test_apps/mspi/main/test_app_main.c
  components/esp_hw_support/test_apps/mspi/main/test_mspi.c
  components/spi_flash/test_apps/esp_flash/main/test_app_main.c
  components/spi_flash/test_apps/esp_flash_stress/CMakeLists.txt
  components/spi_flash/test_apps/esp_flash_stress/README.md
  components/spi_flash/test_apps/esp_flash_stress/main/CMakeLists.txt
  components/spi_flash/test_apps/esp_flash_stress/main/test_app_main.c
  components/spi_flash/test_apps/esp_flash_stress/main/test_esp_flash_stress.c
  components/spi_flash/test_apps/esp_flash_stress/partitions.csv
  components/spi_flash/test_apps/esp_flash_stress/pytest_esp_flash_stress.py
  components/spi_flash/test_apps/esp_flash_stress/sdkconfig.ci.esp32c3_suspend
  components/spi_flash/test_apps/esp_flash_stress/sdkconfig.ci.esp32s3_f8r8
  components/spi_flash/test_apps/esp_flash_stress/sdkconfig.ci.esp32s3_rom_xip_psram
  components/spi_flash/test_apps/esp_flash_stress/sdkconfig.ci.release
  components/spi_flash/test_apps/esp_flash_stress/sdkconfig.defaults
  components/spi_flash/test_apps/flash_encryption/main/test_app_main.c
Due: build_docs_html_partial

spi_flash: fix concurrency issue when calling esp_flash apis under xip_psram or auto_suspen
  components/spi_flash/spi_flash_os_func_app.c
Due: none

feat(temperature_sensor_test): Add test for temperature sensor and phy
  components/driver/test_apps/temperature_sensor/CMakeLists.txt
  components/driver/test_apps/temperature_sensor/main/CMakeLists.txt
  components/driver/test_apps/temperature_sensor/main/test_app_main.c
  components/driver/test_apps/temperature_sensor/main/test_temperature_phy.c
  components/driver/test_apps/temperature_sensor/pytest_temperature_sensor.py
Due: none

docs(heap): fixed typo in heap trace docs
  components/heap/Kconfig
Due: build_docs_html_partial

spi_flash: rename spi_flash_os_func_app: spi_start, spi_end
  components/spi_flash/spi_flash_os_func_app.c
Due: none

protobuf-c: Update submodule to v1.4.1
  .gitmodules
Due: none

Optionally disable logs in espcoredump component
  components/espcoredump/Kconfig
  components/espcoredump/include_core_dump/esp_core_dump_types.h
Due: build_docs_html_partial

Added description to disable coredump logs to ram_usage.rst
  docs/en/api-guides/performance/ram-usage.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(ci): Fix declaration isn't a prototype issue
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h2/bt.c
Due: none

feat(ble): Add support to scan period refresh duplicate cache list
  components/bt/controller/esp32c6/Kconfig.in
  components/bt/controller/esp32c6/bt.c
Due: build_docs_html_partial

feat(ble): Add duplicate filter feature enable on ble for c6.
  components/bt/controller/esp32c6/Kconfig.in
  components/bt/controller/esp32c6/bt.c
  components/bt/include/esp32c6/include/esp_bt.h
Due: build_docs_html_partial

fix(ble): Fix duplicate var length issue
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h2/bt.c
Due: none

feat(ble): Add duplicate filter feature enable on ble for h2.
  components/bt/controller/esp32h2/Kconfig.in
  components/bt/controller/esp32h2/bt.c
  components/bt/include/esp32h2/include/esp_bt.h
Due: build_docs_html_partial

feat(ble): Add duplicate refersh function support for esp32h2
  components/bt/controller/esp32h2/Kconfig.in
  components/bt/controller/esp32h2/bt.c
Due: build_docs_html_partial

change(ble): Enable pdu type trig in duplicate in default mode as before
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h2/bt.c
Due: none

esp_rom: fix rom layout issues
  components/esp_rom/include/esp32c2/rom/rom_layout.h
  components/esp_rom/include/esp32c3/rom/rom_layout.h
  components/esp_rom/include/esp32c6/rom/rom_layout.h
  components/esp_rom/include/esp32h2/rom/rom_layout.h
  components/esp_rom/include/esp32s3/rom/rom_layout.h
  tools/ci/check_copyright_ignore.txt
Due: build_docs_html_partial

esp_rom: fix rom layout issues
  components/esp_rom/include/esp32c2/rom/rom_layout.h
  components/esp_rom/include/esp32c3/rom/rom_layout.h
  components/esp_rom/include/esp32s3/rom/rom_layout.h
  tools/ci/check_copyright_ignore.txt
Due: build_docs_html_partial

esp_rom: fix rom layout issues
  components/esp_rom/include/esp32c3/rom/rom_layout.h
  components/esp_rom/include/esp32s3/rom/rom_layout.h
Due: build_docs_html_partial

esp_rom: fix rom layout issues
  components/esp_rom/include/esp32c3/rom/rom_layout.h
Due: build_docs_html_partial

Nimble: Corrected conditional check during connection to handle failure case
  examples/bluetooth/nimble/ble_htp/htp_cent/main/main.c
  examples/bluetooth/nimble/ble_l2cap_coc/coc_blecent/main/main.c
  examples/bluetooth/nimble/ble_phy/phy_cent/main/main.c
  examples/bluetooth/nimble/ble_spp/spp_client/main/main.c
  examples/bluetooth/nimble/throughput_app/blecent_throughput/main/main.c
Due: none

Docs: add CN translation for security/security.rst
  docs/en/security/security.rst
  docs/zh_CN/security/security.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat (NimBLE): Add proximity sensor as a service
  components/bt/CMakeLists.txt
  examples/bluetooth/.build-test-rules.yml
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_cent/CMakeLists.txt
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_cent/README.md
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_cent/main/CMakeLists.txt
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_cent/main/Kconfig.projbuild
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_cent/main/ble_prox_cent.h
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_cent/main/main.c
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_cent/sdkconfig.defaults
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_cent/tutorial/Ble_Prox_Cent_Walkthrough.md
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_prph/CMakeLists.txt
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_prph/README.md
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_prph/main/CMakeLists.txt
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_prph/main/Kconfig.projbuild
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_prph/main/ble_prox_prph.h
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_prph/main/main.c
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_prph/sdkconfig.ci
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_prph/sdkconfig.defaults
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_prph/tutorial/Ble_Prox_Prph_Walkthrough.md
Due: check_readme_links

esp_phy: fix rtc_printf and libbtbb version print
  components/esp_phy/src/lib_printf.c
Due: none

esp_wifi: fix ret when setting channel at wifi not started, fix timer callback
  components/esp_coex/include/esp_coexist_internal.h
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_wifi/esp32/esp_adapter.c
  components/esp_wifi/esp32c2/esp_adapter.c
  components/esp_wifi/esp32c3/esp_adapter.c
  components/esp_wifi/esp32c6/esp_adapter.c
  components/esp_wifi/esp32s2/esp_adapter.c
  components/esp_wifi/esp32s3/esp_adapter.c
  components/esp_wifi/include/esp_wifi.h
  docs/en/api-guides/coexist.rst
  docs/en/api-guides/wifi.rst
  docs/zh_CN/api-guides/coexist.rst
  docs/zh_CN/api-guides/wifi.rst
  examples/wifi/espnow/main/Kconfig.projbuild
  examples/wifi/espnow/main/espnow_example_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

esp_wifi : Fix collection of issues during sta scan and roam.
  components/esp_wifi/include/esp_wifi_types.h
Due: build_docs_html_partial

fix(mm): correct mmap reserved irom and drom size
  components/esp_psram/mmu.c
  components/esp_system/ld/esp32/sections.ld.in
  components/esp_system/ld/esp32c2/sections.ld.in
  components/esp_system/ld/esp32c3/sections.ld.in
  components/esp_system/ld/esp32h2/sections.ld.in
  components/esp_system/ld/esp32s2/sections.ld.in
  components/esp_system/ld/esp32s3/sections.ld.in
Due: none

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
