Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_fast: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*

add test for checking memory segments with esptool.py
  tools/idf_size.py
  tools/test_idf_size/expected_output
  tools/test_idf_size/mem_test.py
  tools/test_idf_size/test.sh
Due: none

Docs: Remove the script for generating the version chart
  docs/generate_chart.py
  tools/ci/check_copyright_ignore.txt
  tools/ci/mypy_ignore_list.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

Add idf-component-manager python dependency
  requirements.txt
Due: none

examples: Add the component manager example
  examples/build_system/cmake/component_manager/CMakeLists.txt
  examples/build_system/cmake/component_manager/README.md
  examples/build_system/cmake/component_manager/main/CMakeLists.txt
  examples/build_system/cmake/component_manager/main/component_manager.c
  examples/build_system/cmake/component_manager/main/idf_component.yml
Due: none

docs: Add component manager documentation
  docs/en/api-guides/tools/idf-component-manager.rst
  docs/en/api-guides/tools/index.rst
  docs/zh_CN/api-guides/tools/idf-component-manager.rst
  docs/zh_CN/api-guides/tools/index.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

Build System: Don't track dependencies.lock
  tools/cmake/component.cmake
Due: none

ci: raise exception when pytest collect failed
  tools/ci/idf_ci_utils.py
Due: none

bugfix (nvs): fixed wrong pointer check
  components/nvs_flash/src/nvs_partition_manager.cpp
  components/nvs_flash/test_nvs_host/test_partition_manager.cpp
Due: none

build: fix unused tag string
  components/driver/ledc.c
  components/esp_common/include/esp_check.h
  components/esp_hw_support/esp_async_memcpy.c
  tools/test_apps/system/build_test/sdkconfig.ci.no_error_check
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

provisioning: Remove legacy examples section from README
  examples/provisioning/README.md
  tools/esp_prov/README.md
Due: none

esp_prov.py: Replaced deprecated function for loading modules
  tools/esp_prov/proto/__init__.py
Due: none

esp_wifi: Fixed issue of weak md for certificates in wifi_enterprise example.
  examples/wifi/wifi_enterprise/main/ca.pem
  examples/wifi/wifi_enterprise/main/client.crt
  examples/wifi/wifi_enterprise/main/client.key
  examples/wifi/wifi_enterprise/main/client.pem
  examples/wifi/wifi_enterprise/main/server.crt
  examples/wifi/wifi_enterprise/main/server.key
  examples/wifi/wifi_enterprise/main/server.pem
Due: none

esp_example: Enable MbedTLS for DPP enrollee by default
  components/wpa_supplicant/CMakeLists.txt
  components/wpa_supplicant/Kconfig
  components/wpa_supplicant/esp_supplicant/include/esp_dpp.h
  components/wpa_supplicant/esp_supplicant/src/esp_dpp.c
  examples/wifi/wifi_easy_connect/dpp-enrollee/sdkconfig.defaults
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

adjust espnow channel range
  examples/wifi/espnow/main/Kconfig.projbuild
Due: none

wpa_supplicant: Add WPS strict in config option
  components/wpa_supplicant/CMakeLists.txt
  components/wpa_supplicant/Kconfig
  components/wpa_supplicant/component.mk
  components/wpa_supplicant/src/esp_supplicant/esp_wps.c
  components/wpa_supplicant/src/wps/wps_attr_build.c
  components/wpa_supplicant/src/wps/wps_attr_parse.c
  components/wpa_supplicant/src/wps/wps_defs.h
  components/wpa_supplicant/src/wps/wps_validate.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

esp_wifi: Fixed issue of weak md for certificates in wifi_enterprise example.
  examples/wifi/wpa2_enterprise/main/wpa2_ca.pem
  examples/wifi/wpa2_enterprise/main/wpa2_client.crt
  examples/wifi/wpa2_enterprise/main/wpa2_client.key
  examples/wifi/wpa2_enterprise/main/wpa2_client.pem
  examples/wifi/wpa2_enterprise/main/wpa2_server.crt
  examples/wifi/wpa2_enterprise/main/wpa2_server.key
  examples/wifi/wpa2_enterprise/main/wpa2_server.pem
Due: none

esp_wifi: Fixes memory leak in wpa3 connection.
  components/wpa_supplicant/src/common/sae.c
Due: none

Merge branch 'bugfix/nimble_spp' into 'master'
  examples/bluetooth/nimble/ble_spp/spp_client/main/CMakeLists.txt
  examples/bluetooth/nimble/ble_spp/spp_server/main/CMakeLists.txt
Due: none

ci/mqtt: Make publish test-app message properties configurable
  tools/test_apps/protocols/mqtt/publish_connect_test/app_test.py
Due: none

Enable I2C Slave mode with input-only pin as SCL.
  components/driver/i2c.c
Due: none

components: correct abs() use for unsigned and 64-bit arguments
  components/esp_eth/src/esp_eth_mac_esp.c
  components/esp_timer/src/esp_timer_impl_frc_legacy.c
  components/esp_timer/src/esp_timer_impl_lac.c
  components/hal/i2s_hal.c
  tools/unit-test-app/components/test_utils/test/ccomp_timer_test_api.c
  tools/unit-test-app/components/test_utils/test/ccomp_timer_test_data.c
  tools/unit-test-app/components/test_utils/test/ccomp_timer_test_inst.c
Due: none

kconfig: also parse target specific sdkconfig.rename.TARGET files
  components/esp_hw_support/sdkconfig.rename
  components/esp_hw_support/sdkconfig.rename.esp32c3
  components/esp_system/sdkconfig.rename
  components/esp_system/sdkconfig.rename.esp32
  components/esp_system/sdkconfig.rename.esp32c3
  components/esp_system/sdkconfig.rename.esp32h2
  components/esp_system/sdkconfig.rename.esp32s2
  docs/en/api-reference/kconfig.rst
  tools/ci/test_build_system_cmake.sh
  tools/cmake/kconfig.cmake
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

kconfig: confgen.py now handles many-to-one config renames
  tools/ci/test_build_system_cmake.sh
  tools/kconfig_new/confgen.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

ds: update gen_digital_signature_tests.py to handle different max key sizes
  components/esp_hw_support/test/digital_signature_test_cases_3072.h
  components/esp_hw_support/test/digital_signature_test_cases_4096.h
  components/esp_hw_support/test/gen_digital_signature_tests.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

expat: upgrade to v2.4.3 release
  components/expat/port/include/expat_config.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

configure_ds.py: Fix the error for prod mode. They script now only verifies the purpose in the prod mode.
  examples/protocols/mqtt/ssl_ds/configure_ds.py
  tools/ci/check_copyright_ignore.txt
Due: none

Fix for mclk/bclk divisors #8326
  components/driver/i2s.c
Due: none

espcoredump: On device core dump parsing to generate summary
  components/espcoredump/CMakeLists.txt
  components/espcoredump/component.mk
  components/espcoredump/include/esp_core_dump.h
  components/espcoredump/include/port/riscv/esp_core_dump_summary_extra_info.h
  components/espcoredump/include/port/xtensa/esp_core_dump_summary_extra_info.h
  components/espcoredump/include_core_dump/esp_core_dump_port.h
  components/espcoredump/src/core_dump_elf.c
  components/espcoredump/src/port/riscv/core_dump_port.c
  components/espcoredump/src/port/xtensa/core_dump_port.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

espcoredump: Fix string truncation build failure
  components/espcoredump/src/core_dump_elf.c
Due: none

coredump: Parse backtrace info for RISCV
  components/espcoredump/Kconfig
  components/espcoredump/include/esp_core_dump.h
  components/espcoredump/include/port/riscv/esp_core_dump_summary_port.h
  components/espcoredump/include/port/xtensa/esp_core_dump_summary_port.h
  components/espcoredump/include_core_dump/esp_core_dump_port.h
  components/espcoredump/src/core_dump_elf.c
  components/espcoredump/src/port/riscv/core_dump_port.c
  components/espcoredump/src/port/xtensa/core_dump_port.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

espcoredump: Parse bt for instruction fetch prohibited cause
  components/espcoredump/src/port/xtensa/core_dump_port.c
Due: none

ci: temporarily disable MSPI_F8R8 test
  .gitlab/ci/target-test.yml
  tools/test_apps/system/flash_psram/app_test.py
Due: none
