Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_fast: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*

coap: Update examples to use latest features of libcoap component
  examples/protocols/coap_client/README.md
  examples/protocols/coap_client/main/coap_client_example_main.c
  examples/protocols/coap_client/sdkconfig.defaults
  examples/protocols/coap_server/README.md
  examples/protocols/coap_server/main/coap_server_example_main.c
  examples/protocols/coap_server/sdkconfig.defaults
Due: none

tools: Fix copyright check in pre-commit for windows
  .pre-commit-config.yaml
Due: none

esp_system: usb_console: fix restart when Wi-Fi is working
  components/esp_system/linker.lf
  components/esp_system/port/soc/esp32s2/usb_console.c
  components/esp_system/system_init_fn.txt
Due: none

esp_system, vfs: fix incomplete blocking reads in vfs_cdcacm
  components/esp_system/include/esp_private/usb_console.h
  components/esp_system/port/soc/esp32s2/usb_console.c
  components/vfs/vfs_cdcacm.c
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

Use the entire sharedbuffer space as the heap of the D/IRAM attribute
  components/heap/port/esp32c2/memory_layout.c
  components/heap/port/esp32c3/memory_layout.c
  components/heap/port/esp32h2/memory_layout.c
  components/heap/port/esp32s3/memory_layout.c
  components/soc/esp32c2/include/soc/soc.h
  components/soc/esp32c3/include/soc/soc.h
  components/soc/esp32h2/include/soc/soc.h
  components/soc/esp32s3/include/soc/soc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

update bootloader.ld rom_boot ram usage info
  components/bootloader/subproject/main/ld/esp32c2/bootloader.ld
  components/bootloader/subproject/main/ld/esp32c3/bootloader.ld
  components/bootloader/subproject/main/ld/esp32h2/bootloader.ld
  components/bootloader/subproject/main/ld/esp32s3/bootloader.ld
Due: none

bugfix: fix SOC_ROM_STACK_START defines
  components/soc/esp32c2/include/soc/soc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

update bootloader memory allocation
  components/bootloader/subproject/main/ld/esp32c2/bootloader.ld
  components/bootloader/subproject/main/ld/esp32c3/bootloader.ld
  components/bootloader/subproject/main/ld/esp32h2/bootloader.ld
Due: none

stack/dram is also IRAM0 accessible
  components/heap/port/esp32c2/memory_layout.c
  components/heap/port/esp32c3/memory_layout.c
  components/heap/port/esp32s3/memory_layout.c
Due: none

soc: fix register header files not self-contain
  components/esp_rom/include/esp32/rom/ets_sys.h
  components/esp_rom/include/esp32/rom/rtc.h
  components/esp_rom/include/esp32/rom/uart.h
  components/hal/esp32s2/touch_sensor_hal.c
  components/soc/esp32c2/include/soc/rtc_cntl_struct.h
  components/soc/esp32c2/include/soc/spi_mem_struct.h
  components/soc/esp32c2/include/soc/syscon_struct.h
  components/soc/esp32c3/include/soc/apb_ctrl_struct.h
  components/soc/esp32c3/include/soc/apb_saradc_struct.h
  components/soc/esp32c3/include/soc/efuse_struct.h
  components/soc/esp32c3/include/soc/ledc_struct.h
  components/soc/esp32c3/include/soc/rtc_cntl_struct.h
  components/soc/esp32c3/include/soc/rtc_i2c_struct.h
  components/soc/esp32c3/include/soc/spi_mem_struct.h
  components/soc/esp32c3/include/soc/spi_struct.h
  components/soc/esp32c3/include/soc/syscon_struct.h
  components/soc/esp32c3/include/soc/uart_struct.h
  components/soc/esp32c3/include/soc/uhci_struct.h
  components/soc/esp32s2/include/soc/apb_ctrl_struct.h
  components/soc/esp32s2/include/soc/apb_saradc_struct.h
  components/soc/esp32s2/include/soc/efuse_struct.h
  components/soc/esp32s2/include/soc/gpio_struct.h
  components/soc/esp32s2/include/soc/i2c_struct.h
  components/soc/esp32s2/include/soc/ledc_struct.h
  components/soc/esp32s2/include/soc/rtc_i2c_struct.h
  components/soc/esp32s2/include/soc/rtc_io_struct.h
  components/soc/esp32s2/include/soc/sens_struct.h
  components/soc/esp32s2/include/soc/soc_pins.h
  components/soc/esp32s2/include/soc/spi_mem_struct.h
  components/soc/esp32s2/include/soc/spi_struct.h
  components/soc/esp32s2/include/soc/syscon_struct.h
  components/soc/esp32s2/include/soc/uart_struct.h
  components/soc/esp32s2/include/soc/uhci_struct.h
  components/soc/esp32s3/include/soc/world_controller_struct.h
  components/soc/include/soc/spi_periph.h
  components/soc/include/soc/usb_periph.h
  tools/ci/check_copyright_ignore.txt
  tools/ci/check_public_headers_exceptions.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

ci: lift the restriction on pygdbmi in ttfw_idf
  tools/ci/python_packages/ttfw_idf/DebugUtils.py
  tools/ci/python_packages/ttfw_idf/requirements.txt
Due: none

ci: add the forgotten xtal 40mhz tag for c2 example pytest
  .gitlab/ci/target-test.yml
Due: none

FreeRTOS: Modifying a timeout is now protected on multi-core configuration
  components/freertos/FreeRTOS-Kernel/tasks.c
Due: none

Add ULP-RISCV print and bitbanged UART tx API
  components/ulp/Kconfig
  components/ulp/cmake/CMakeLists.txt
  components/ulp/ulp_riscv/ulp_core/include/ulp_riscv_print.h
  components/ulp/ulp_riscv/ulp_core/include/ulp_riscv_uart_ulp_core.h
  components/ulp/ulp_riscv/ulp_core/ulp_riscv_print.c
  components/ulp/ulp_riscv/ulp_core/ulp_riscv_uart.c
  docs/en/api-reference/system/ulp-risc-v.rst
  examples/system/.build-test-rules.yml
  examples/system/ulp_riscv/uart_print/CMakeLists.txt
  examples/system/ulp_riscv/uart_print/README.md
  examples/system/ulp_riscv/uart_print/main/CMakeLists.txt
  examples/system/ulp_riscv/uart_print/main/Kconfig.projbuild
  examples/system/ulp_riscv/uart_print/main/ulp/main.c
  examples/system/ulp_riscv/uart_print/main/ulp_riscv_example_main.c
  examples/system/ulp_riscv/uart_print/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

esp_system: Increase IPC stack size for ESP32-S3
  components/esp_system/Kconfig
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

CI: Do not need submodules in target test
  .gitlab/ci/target-test.yml
Due: none

fix the dependency error of macro for memory debug
  components/bt/common/include/bt_user_config.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

Clean IRAM and DRAM address space conversion macros
  components/esp_hw_support/include/soc/esp32c2/memprot.h
  components/hal/include/hal/memprot_types.h
  components/heap/port/esp32c2/memory_layout.c
  components/heap/port/esp32c3/memory_layout.c
  components/heap/port/esp32h2/memory_layout.c
  components/heap/port/esp32s3/memory_layout.c
  components/soc/esp32c2/include/soc/soc.h
  components/soc/esp32c3/include/soc/soc.h
  components/soc/esp32h2/include/soc/soc.h
  components/soc/esp32s2/include/soc/soc.h
  components/soc/esp32s3/include/soc/soc.h
  tools/test_apps/system/memprot/main/esp32s2/test_memprot_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

use enum and designated initializers in soc_memory_type define
  components/bootloader/subproject/main/ld/esp32c2/bootloader.ld
  components/bootloader/subproject/main/ld/esp32c3/bootloader.ld
  components/bootloader/subproject/main/ld/esp32h2/bootloader.ld
  components/heap/port/esp32c2/memory_layout.c
  components/heap/port/esp32c3/memory_layout.c
  components/heap/port/esp32h2/memory_layout.c
  components/heap/port/esp32s3/memory_layout.c
Due: none

ci: fix ci
  components/heap/test/test_realloc.c
Due: none

ci: setup 26mhz esp32c2 runner
  .gitlab/ci/target-test.yml
  components/esp_timer/test/test_esp_timer.c
  components/esp_timer/test/test_esp_timer_light_sleep.c
  components/esp_timer/test/test_ets_timer.c
  tools/ci/check_copyright_ignore.txt
  tools/unit-test-app/configs/default_c2_26mhz
  tools/unit-test-app/unit_test.py
Due: none

tools: update gdb version to '11.2_20220729'
  tools/tools.json
Due: none

fatfsparse.py/docs: Added missing cmd parameter to the docs
  docs/en/api-reference/storage/fatfs.rst
  docs/zh_CN/api-reference/storage/fatfs.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

support BLE with 26M xtal for esp32c2
  components/bt/controller/esp32c2/bt.c
  components/bt/include/esp32c2/include/esp_bt.h
  components/bt/include/esp32c2/include/esp_bt_cfg.h
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

esp_wifi: set default authmode as wpa2
  components/esp_wifi/include/esp_wifi_types.h
  examples/wifi/getting_started/station/main/Kconfig.projbuild
  examples/wifi/getting_started/station/main/station_example_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

ulp: fix missing cpp header guard
  components/ulp/ulp_riscv/include/ulp_riscv_adc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

build&config: lift property IDF_COMPONENT_MANAGER to root level
  tools/cmake/build.cmake
  tools/cmake/component.cmake
  tools/cmake/project.cmake
Due: none

ci: pip install idf-component-manager inside CI
  tools/ci/config/build.yml
Due: none

docs: Add IDF_COMPONENT_MANAGER build property
  docs/en/api-guides/build-system.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

docs: Enable the component manager by default in CMake
  docs/en/api-guides/tools/idf-component-manager.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

rgb_lcd: support mirror and swap axis
  components/esp_lcd/src/esp_lcd_rgb_panel.c
  components/esp_lcd/test_apps/rgb_lcd/main/test_rgb_panel.c
Due: none

fix: set IDF_COMPONENT_MANAGER property to 0 as default
  tools/cmake/build.cmake
Due: none

system: moved placement of disable rom log efuse in startup flow
  components/esp_system/port/cpu_start.c
  components/esp_system/startup.c
Due: none

components_bt/bluedroid: Fix Memory&String Copy Build Err
  components/bt/host/bluedroid/bta/av/bta_av_api.c
  components/bt/host/bluedroid/bta/av/bta_av_ci.c
  components/bt/host/bluedroid/bta/av/bta_av_main.c
  components/bt/host/bluedroid/bta/av/include/bta_av_int.h
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
  components/bt/host/bluedroid/bta/dm/bta_dm_api.c
  components/bt/host/bluedroid/bta/hf_ag/bta_ag_api.c
  components/bt/host/bluedroid/bta/hf_ag/bta_ag_cmd.c
  components/bt/host/bluedroid/bta/hf_client/bta_hf_client_api.c
  components/bt/host/bluedroid/stack/btm/btm_inq.c
  components/bt/host/bluedroid/stack/btm/btm_sec.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

nvs_partition_gen: Allow up to 4000 byte strings with NVS V2
  components/nvs_flash/nvs_partition_generator/nvs_partition_gen.py
Due: none
