Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
      - esp32c6
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG: en
      DOCTGT: esp32
    - DOCLANG: zh_CN
      DOCTGT: esp32p4
  needs:
  - job: fast_template_app
    artifacts: false
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
      - esp32c6
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - assign_test
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

feat(fatfs): Allow expanding files with seeking and truncating functions
  components/fatfs/test_apps/flash_wl/main/test_fatfs_flash_wl.c
  components/fatfs/test_apps/sdcard/main/test_fatfs_sdmmc.c
  components/fatfs/test_apps/test_fatfs_common/test_fatfs_common.c
  components/fatfs/test_apps/test_fatfs_common/test_fatfs_common.h
  components/fatfs/vfs/vfs_fat.c
  components/vfs/include/esp_vfs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix esp32c2 disconnect reason code wrong issue
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

change(psram): update voltage configurations
  components/bootloader_support/src/esp32p4/bootloader_esp32p4.c
  components/esp_hw_support/port/esp32p4/Kconfig.ldo
  components/hal/esp32p4/include/hal/clk_tree_ll.h
  components/soc/esp32p4/include/soc/regi2c_bias.h
  components/soc/esp32p4/include/soc/regi2c_mpll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(uart): add missing include for rom/uart.h
  components/esp_rom/include/esp32/rom/uart.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(hal): Fix Key Manager clock changes
  components/esp_hw_support/esp_key_mgr.c
  components/hal/esp32p4/include/hal/key_mgr_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): Update key manager locking mechanism
  components/esp_hw_support/esp_key_mgr.c
  components/esp_hw_support/port/esp32p4/esp_crypto_lock.c
Due: gen_integration_pipeline, child_integration_test_pipeline

esp_http_client: Fix reset errno to 0 before call esp_transport_read
  components/esp_http_client/esp_http_client.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_http_client): Add test case in esp_http_client example
  examples/protocols/esp_http_client/main/esp_http_client_example.c
  examples/protocols/esp_http_client/pytest_esp_http_client.py
Due: none

feat(i2c): Add I2C support on ESP32C5
  components/driver/i2c/i2c.c
  components/esp_driver_i2c/i2c_common.c
  components/hal/esp32c5/include/hal/i2c_ll.h
  components/soc/esp32c5/i2c_periph.c
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/clk_tree_defs.h
  components/soc/esp32c5/include/soc/i2c_struct.h
  components/soc/esp32c5/include/soc/pcr_struct.h
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c5/ld/esp32c5.peripherals.ld
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(jpeg): Add basic jpeg decoder support on esp32p4
  components/esp_driver_jpeg/CMakeLists.txt
  components/esp_driver_jpeg/Kconfig
  components/esp_driver_jpeg/include/driver/jpeg_decode.h
  components/esp_driver_jpeg/include/driver/jpeg_types.h
  components/esp_driver_jpeg/jpeg_common.c
  components/esp_driver_jpeg/jpeg_decode.c
  components/esp_driver_jpeg/jpeg_param.c
  components/esp_driver_jpeg/jpeg_parse_marker.c
  components/esp_driver_jpeg/jpeg_private.h
  components/esp_driver_jpeg/private/jpeg_param.h
  components/esp_driver_jpeg/private/jpeg_parse_marker.h
  components/esp_lcd/include/esp_lcd_types.h
  components/hal/CMakeLists.txt
  components/hal/esp32p4/include/hal/jpeg_ll.h
  components/hal/include/hal/color_types.h
  components/hal/include/hal/jpeg_defs.h
  components/hal/include/hal/jpeg_hal.h
  components/hal/include/hal/jpeg_types.h
  components/hal/jpeg_hal.c
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/jpeg_struct.h
  components/soc/esp32p4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(jpeg): Add jpeg decoder example for esp32p4
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/jpeg/jpeg_decode/CMakeLists.txt
  examples/peripherals/jpeg/jpeg_decode/README.md
  examples/peripherals/jpeg/jpeg_decode/main/CMakeLists.txt
  examples/peripherals/jpeg/jpeg_decode/main/Kconfig.projbuild
  examples/peripherals/jpeg/jpeg_decode/main/jpeg_decode_main.c
  examples/peripherals/jpeg/jpeg_decode/open_rgb.py
  examples/peripherals/jpeg/jpeg_decode/requirements.txt
  examples/peripherals/jpeg/jpeg_decode/resources/esp1080.jpg
  examples/peripherals/jpeg/jpeg_decode/resources/esp720.jpg
  examples/peripherals/jpeg/jpeg_decode/sdkconfig.defaults
Due: check_readme_links

test(jpeg): Add basic test_app for jpeg_decoder
  components/esp_driver_jpeg/test_apps/.build-test-rules.yml
  components/esp_driver_jpeg/test_apps/jpeg_test_apps/CMakeLists.txt
  components/esp_driver_jpeg/test_apps/jpeg_test_apps/README.md
  components/esp_driver_jpeg/test_apps/jpeg_test_apps/main/CMakeLists.txt
  components/esp_driver_jpeg/test_apps/jpeg_test_apps/main/idf_component.yml
  components/esp_driver_jpeg/test_apps/jpeg_test_apps/main/test_app_main.c
  components/esp_driver_jpeg/test_apps/jpeg_test_apps/main/test_jpeg_decode.c
  components/esp_driver_jpeg/test_apps/jpeg_test_apps/main/test_jpeg_performance.h
  components/esp_driver_jpeg/test_apps/jpeg_test_apps/pytest_jpeg.py
  components/esp_driver_jpeg/test_apps/jpeg_test_apps/sdkconfig.ci.release
  components/esp_driver_jpeg/test_apps/jpeg_test_apps/sdkconfig.defaults
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(uart): add HP/LP uart support on ESP32C5
  components/esp_driver_uart/src/uart.c
  components/esp_hw_support/port/esp32c5/esp_clk_tree.c
  components/hal/esp32c5/include/hal/uart_ll.h
  components/idf_test/include/esp32c5/idf_performance_target.h
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/clk_tree_defs.h
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c5/include/soc/uart_channel.h
  components/soc/esp32c5/include/soc/uart_pins.h
  components/soc/esp32c5/include/soc/uart_struct.h
  components/soc/esp32c5/uart_periph.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(uart): change fifo.byte to fifo.val when uart_ll_write_txfifo
  components/hal/esp32c2/include/hal/uart_ll.h
  components/hal/esp32c3/include/hal/uart_ll.h
  components/hal/esp32c5/include/hal/uart_ll.h
  components/hal/esp32c6/include/hal/uart_ll.h
  components/hal/esp32h2/include/hal/uart_ll.h
  components/hal/esp32p4/include/hal/uart_ll.h
  components/hal/esp32s3/include/hal/uart_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): update hmac toggle method due to discrepency in ROM code
  components/esp_hw_support/esp_hmac.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(usb): Fix bug where usbh_process() misses an event
  components/usb/usbh.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: Fix otatool example failure in CI for ESP32-C2
  examples/system/ota/otatool/pytest_otatool.py
  tools/ci/idf_pytest/constants.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(install.ps1): fix ReferenceError in install.ps1 script
  tools/idf_tools.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(openthread): add different led color for openthread devices
  examples/openthread/ot_br/main/esp_ot_br.c
  examples/openthread/ot_br/main/idf_component.yml
  examples/openthread/ot_cli/main/esp_ot_cli.c
  examples/openthread/ot_cli/main/idf_component.yml
  examples/openthread/ot_common_components/ot_led/CMakeLists.txt
  examples/openthread/ot_common_components/ot_led/Kconfig.projbuild
  examples/openthread/ot_common_components/ot_led/idf_component.yml
  examples/openthread/ot_common_components/ot_led/include/ot_led_strip.h
  examples/openthread/ot_common_components/ot_led/ot_led_strip.c
Due: none

docs(jpeg): Add basic programming guide for jpeg decoder
  components/esp_driver_jpeg/CMakeLists.txt
  components/esp_driver_jpeg/include/driver/jpeg_decode.h
  components/esp_driver_jpeg/jpeg_common.c
  components/esp_driver_jpeg/jpeg_decode.c
  components/esp_driver_jpeg/jpeg_private.h
  components/esp_driver_jpeg/private/jpeg_parse_marker.h
  components/esp_driver_jpeg/test_apps/jpeg_test_apps/main/test_jpeg_decode.c
  components/hal/esp32p4/include/hal/jpeg_ll.h
  components/hal/jpeg_hal.c
  docs/conf_common.py
  docs/doxygen/Doxyfile_esp32p4
  docs/en/api-reference/peripherals/index.rst
  docs/en/api-reference/peripherals/jpeg.rst
  docs/zh_CN/api-reference/peripherals/index.rst
  docs/zh_CN/api-reference/peripherals/jpeg.rst
  examples/peripherals/jpeg/jpeg_decode/main/jpeg_decode_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

ci: Added esp32p4 usb tests to CI:
  components/usb/test_apps/.build-test-rules.yml
  components/usb/test_apps/common/test_usb_mock_msc.c
  components/usb/test_apps/common/test_usb_mock_msc.h
  components/usb/test_apps/hcd/main/test_hcd_bulk.c
  components/usb/test_apps/hcd/main/test_hcd_common.c
  components/usb/test_apps/hcd/main/test_hcd_common.h
  components/usb/test_apps/hcd/main/test_usb_helpers.c
  components/usb/test_apps/hcd/pytest_usb_hcd.py
  components/usb/test_apps/usb_host/main/msc_client_async_dconn.c
  components/usb/test_apps/usb_host/main/msc_client_async_enum.c
  components/usb/test_apps/usb_host/main/msc_client_async_seq.c
  components/usb/test_apps/usb_host/main/test_usb_host_async.c
  components/usb/test_apps/usb_host/pytest_usb_host.py
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/usb/device/tusb_msc/pytest_usb_device_msc.py
  examples/peripherals/usb/host/msc/pytest_usb_host_msc.py
  examples/peripherals/usb/host/usb_host_lib/main/class_driver.c
  examples/peripherals/usb/host/usb_host_lib/pytest_usb_host_lib.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(console): Fix build issues when CONFIG_ESP_CONSOLE_NONE is enabled
  components/console/esp_console_repl.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(console): Add build test for no console output
  tools/test_apps/system/build_test/sdkconfig.ci.console_none_esp32c3
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Remove semicolon from SMARTCONFIG_START_CONFIG_DEFAULT
  components/esp_wifi/include/esp_smartconfig.h
  tools/ci/check_copyright_ignore.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Increase range of reattempt connection count
  components/bt/host/nimble/Kconfig.in
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(tools): Add additional Python installation checks
  tools/idf_tools.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(esp32): add warning about authenticity of pre-encrypted ota
  examples/system/ota/pre_encrypted_ota/README.md
Due: check_readme_links

ci: Add esp32s3 runner for usb device example tests
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/usb/device/tusb_composite_msc_serialdevice/pytest_usb_device_composite.py
  examples/peripherals/usb/device/tusb_console/pytest_usb_device_console.py
  examples/peripherals/usb/device/tusb_hid/pytest_usb_device_hid.py
  examples/peripherals/usb/device/tusb_midi/pytest_usb_device_midi.py
  examples/peripherals/usb/device/tusb_msc/pytest_usb_device_msc.py
  examples/peripherals/usb/device/tusb_ncm/pytest_usb_device_ncm.py
  examples/peripherals/usb/device/tusb_serial_device/pytest_usb_device_serial.py
  tools/ci/idf_pytest/constants.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(netif): Add missing SNTP get-reachablitiy API
  components/esp_netif/include/esp_netif_sntp.h
  components/esp_netif/lwip/esp_netif_sntp.c
  components/esp_netif/test_apps/test_app_esp_netif/main/esp_netif_test.c
  components/lwip/apps/sntp/sntp.c
  components/lwip/include/apps/esp_sntp.h
  components/lwip/test_apps/main/lwip_test.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_lcd): Flush rgb lcd PSRAM framebuffers after allocation
  components/esp_lcd/rgb/esp_lcd_panel_rgb.c
Due: gen_integration_pipeline, child_integration_test_pipeline

Add WICED make file for components/json
  components/json/json.mk
Due: gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
