Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

check_readme_links:
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    GIT_STRATEGY: fetch
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs: []
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
    when: always
  script:
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  - gen_integration_pipeline
  variables:
    IDF_S3_SERVER: $IDF_S3_NEW_SERVER
    IDF_S3_ACCESS_KEY: $IDF_S3_NEW_ACCESS_KEY
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
  ...

check_powershell:
  stage: pre_check
  image: docker:latest
  services:
  - docker:dind
  tags:
  - dind
  - amd64
  - brew
  needs:
  - pipeline_variables
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 1
    SUBMODULES_TO_FETCH: none
  script:
  - apk add python3
  - apk add py3-pip
  - pip install pre-commit --break-system-packages
  ...

fix(wifi): fix arp and dns affect signaling test issue
  components/esp_rom/esp32c2/ld/esp32c2.rom.eco4.ld
  components/esp_wifi/include/esp_wifi_types_generic.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci(gitlab): Force the update of esptool to the latest dev release
  .gitlab/ci/common.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ci): added example tests for HFP using external codec
  examples/bluetooth/bluedroid/classic_bt/hfp_ag/sdkconfig.ci.extcodec
  examples/bluetooth/bluedroid/classic_bt/hfp_hf/sdkconfig.ci.extcodec
  examples/bluetooth/bluedroid/classic_bt/pytest_classic_bt_test.py
Due: none

feat(touch): support touch sleep on ESP32-S31
  components/soc/esp32s31/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s31/include/soc/soc_caps.h
  docs/en/api-reference/peripherals/cap_touch_sens.rst
  docs/zh_CN/api-reference/peripherals/cap_touch_sens.rst
  examples/peripherals/touch_sensor/touch_sens_sleep/README.md
  examples/peripherals/touch_sensor/touch_sens_sleep/main/Kconfig.projbuild
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

ci: remove deprecated SHA update job
  .gitlab-ci.yml
  .gitlab/ci/deploy.yml
  .gitlab/ci/rules.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(examples): suppress perf_benchmark printf in CI
  examples/storage/perf_benchmark/main/perf_benchmark_example_tests.c
Due: none

ci: remove deprecated SHA update job
  .gitlab/ci/deploy.yml
  .gitlab/ci/rules.yml
Due: none

fix(examples): suppress perf_benchmark printf in CI
  examples/storage/perf_benchmark/main/tests.c
Due: none

fix(wifi): fix some wifi bugs 20260518 v5.3
  components/esp_rom/esp32c2/ld/esp32c2.rom.eco4.ld
  components/esp_wifi/include/esp_wifi_types_generic.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(tools): idf_tools.py uninstall: initialize archive_version before use
  tools/idf_tools.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(transport_ws): read full PING payload in one call when propagate_control_frames is set
  components/tcp_transport/transport_ws.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(transport_ws): flush oversized control frame payload before returning error
  components/tcp_transport/transport_ws.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix: Remove the check for recv and send being NULL
  components/bt/host/bluedroid/api/esp_hf_client_api.c
  components/bt/host/bluedroid/api/include/api/esp_hf_client_api.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(lcd): add configurable timeout for lcd i2c panel
  components/esp_lcd/i2c/esp_lcd_panel_io_i2c.c
  components/esp_lcd/include/esp_lcd_io_i2c.h
  components/esp_lcd/test_apps/i2c_lcd/main/test_i2c_lcd_panel.cpp
  docs/en/api-reference/peripherals/lcd/i2c_lcd.rst
  docs/zh_CN/api-reference/peripherals/lcd/i2c_lcd.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_system): remove intwdt config critical area for chips except esp32
  components/esp_system/int_wdt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_system): fix build err if int_wdt is not enabled on esp32
  components/esp_system/port/soc/esp32/CMakeLists.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(openthread): add ESP32-S31 support for examples build targets
  examples/openthread/.build-test-rules.yml
  examples/openthread/ot_br/README.md
  examples/openthread/ot_trel/README.md
Due: check_readme_links

fix(openthread): wait for all onlink GUAs to finish DAD before tests
  examples/openthread/ot_ci_function.py
  examples/openthread/pytest_otbr.py
Due: none

feat(wpa_supplicant): expose pbkdf2_sha256 for NAN crypto
  components/wpa_supplicant/esp_supplicant/src/crypto/crypto_mbedtls.c
  components/wpa_supplicant/src/crypto/sha256.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(wifi): NAN encrypted NDP example apps
  examples/wifi/wifi_aware/nan_publisher/main/Kconfig.projbuild
  examples/wifi/wifi_aware/nan_publisher/main/publisher_main.c
  examples/wifi/wifi_aware/nan_subscriber/main/Kconfig.projbuild
  examples/wifi/wifi_aware/nan_subscriber/main/subscriber_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

feat(wifi): NAN encrypted datapath (Wi-Fi Aware M1-M4 handshake)
  Kconfig
  components/esp_rom/esp32s31/ld/esp32s31.rom.net80211.ld
  components/esp_wifi/CMakeLists.txt
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/esp_wifi/remote/Kconfig.wifi.in
  components/esp_wifi/remote/Kconfig.wifi_is_remote.in
  components/esp_wifi/remote/include/injected/esp_wifi_types_generic.h
  components/esp_wifi/wifi_apps/nan_app/include/esp_nan.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
  components/esp_wifi/wifi_apps/nan_app/src/nan_i.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

test(wifi): NAN PMK derivation crypto test
  components/esp_wifi/test_apps/nan_crypto_test/CMakeLists.txt
  components/esp_wifi/test_apps/nan_crypto_test/README.md
  components/esp_wifi/test_apps/nan_crypto_test/main/CMakeLists.txt
  components/esp_wifi/test_apps/nan_crypto_test/main/Kconfig.projbuild
  components/esp_wifi/test_apps/nan_crypto_test/main/nan_pmk_test.c
  components/esp_wifi/test_apps/nan_crypto_test/main/nan_pmk_test.h
  components/esp_wifi/test_apps/nan_crypto_test/main/test_main.c
  components/esp_wifi/test_apps/nan_crypto_test/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

feat(wifi): NAN multi-credential discovery security
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/esp_wifi/remote/include/injected/esp_wifi_types_generic.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
  components/esp_wifi/wifi_apps/nan_app/src/nan_i.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
  examples/wifi/wifi_aware/nan_publisher/main/publisher_main.c
  examples/wifi/wifi_aware/nan_subscriber/main/subscriber_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): use constant-time compare and zeroize key material
  components/mbedtls/port/aes/esp_aes_common.c
  components/mbedtls/port/aes/esp_aes_gcm.c
  components/mbedtls/port/psa_driver/esp_mac/psa_crypto_driver_esp_cmac.c
  components/mbedtls/port/psa_driver/esp_mac/psa_crypto_driver_esp_hmac_opaque.c
  components/mbedtls/port/psa_driver/esp_mac/psa_crypto_driver_esp_hmac_transparent.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): fix ROM mbedTLS threading alt issues
  components/mbedtls/port/mbedtls_rom/mbedtls_rom_osi.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(fatfs): use per-case pytest dispatch for flash fatfs apps
  components/fatfs/test_apps/flash_ro/pytest_fatfs_flash_ro.py
  components/fatfs/test_apps/flash_wl/pytest_fatfs_flash_wl.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(coex): update test_md5.sh for esp32h4
  components/esp_coex/test_md5/test_md5.sh
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(coex): support esp32h4 coexist
  components/esp_coex/Kconfig
  components/esp_coex/esp32h4/esp_coex_adapter.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml
