Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*

Keep export.sh Bourne Shell compatible
  export.sh
Due: none

Test shellcheck in CI
  .pre-commit-config.yaml
  export.sh
  install.sh
Due: none

Fix shellcheck issues.
  export.sh
  install.sh
Due: none

Fix failing CI
  tools/ci/check_public_headers_exceptions.txt
Due: none

feat(esp_eth): added IRAM optimization option for internal EMAC
  components/esp_eth/CMakeLists.txt
  components/esp_eth/Kconfig
  components/esp_eth/linker.lf
  examples/ethernet/iperf/sdkconfig.defaults
Due: build_docs_html_partial

docs(esp_eth): added Ethernet to Improving Network Speed section
  docs/en/api-guides/performance/speed.rst
  examples/ethernet/iperf/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(nvs_flash): fixed failing nvs_page test
  components/nvs_flash/Kconfig
  components/nvs_flash/host_test/nvs_page_test/main/nvs_page_test.cpp
  components/nvs_flash/src/nvs_storage.cpp
  tools/ci/check_copyright_ignore.txt
Due: build_docs_html_partial

fix(nvs_flash): nvs_set with same key and different data type
  components/nvs_flash/.build-test-rules.yml
  components/nvs_flash/Kconfig
  components/nvs_flash/host_test/nvs_host_test/main/test_nvs.cpp
  components/nvs_flash/host_test/nvs_host_test/sdkconfig.ci.default_set_key
  components/nvs_flash/host_test/nvs_host_test/sdkconfig.ci.legacy_set_key
  components/nvs_flash/src/nvs_page.cpp
  components/nvs_flash/src/nvs_storage.cpp
  docs/en/api-reference/storage/nvs_flash.rst
  docs/zh_CN/api-reference/storage/nvs_flash.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: provide CN translation for api-reference/peripherals/sdspi_share.rst
  docs/en/api-reference/peripherals/sdspi_share.rst
  docs/zh_CN/api-reference/peripherals/sdspi_share.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(intr): always allocate memory from internal ram
  components/driver/rmt/rmt_tx.c
  components/driver/test_apps/rmt/main/test_util_rmt_encoders.c
  components/driver/test_apps/rmt/pytest_rmt.py
  components/driver/test_apps/rmt/sdkconfig.defaults.esp32s3
  components/esp_hw_support/intr_alloc.c
Due: build_docs_html_partial

fix(bt/bluedroid): ble fails to load bonded device info after reboot
  components/bt/host/bluedroid/btc/core/btc_ble_storage.c
  components/bt/host/bluedroid/btc/core/btc_dm.c
  components/bt/host/bluedroid/btc/core/btc_storage.c
  components/bt/host/bluedroid/btc/include/btc/btc_ble_storage.h
  components/bt/host/bluedroid/btc/include/btc/btc_storage.h
Due: build_docs_html_partial

feat(volt): chip auto adjust volt for esp32c6 & esp32h2
  components/esp_hw_support/include/esp_private/esp_pmu.h
  components/esp_hw_support/include/esp_private/esp_regdma.h
  components/esp_hw_support/include/esp_private/sleep_retention.h
  components/esp_hw_support/linker.lf
  components/esp_hw_support/port/esp32c6/CMakeLists.txt
  components/esp_hw_support/port/esp32c6/pmu_init.c
  components/esp_hw_support/port/esp32c6/pmu_param.c
  components/esp_hw_support/port/esp32c6/pmu_pvt_pump.c
  components/esp_hw_support/port/esp32c6/pmu_sleep.c
  components/esp_hw_support/port/esp32c6/rtc_clk.c
  components/esp_hw_support/port/esp32c6/rtc_clk_init.c
  components/esp_hw_support/port/esp32h2/CMakeLists.txt
  components/esp_hw_support/port/esp32h2/pmu_init.c
  components/esp_hw_support/port/esp32h2/pmu_param.c
  components/esp_hw_support/port/esp32h2/pmu_pvt_pump.c
  components/esp_hw_support/port/esp32h2/pmu_sleep.c
  components/esp_hw_support/port/esp32h2/rtc_clk.c
  components/esp_hw_support/port/esp32h2/rtc_clk_init.c
  components/esp_hw_support/sleep_system_peripheral.c
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/pvt_reg.h
  components/soc/esp32c6/include/soc/rtc.h
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/pvt_reg.h
  components/soc/esp32h2/include/soc/rtc.h
  components/soc/esp32h2/include/soc/soc.h
  components/soc/esp32h2/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

ci: add astyle pre-commit check
  .pre-commit-config.yaml
  docs/en/contribute/style-guide.rst
  tools/ci/astyle-rules.yml
  tools/ci/exclude_check_tools_files.txt
  tools/format-minimal.sh
  tools/format.sh
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(parlio_tx): fix wrong dma descriptor setup
  components/driver/parlio/parlio_tx.c
  components/hal/esp32c6/include/hal/parlio_ll.h
  components/hal/esp32h2/include/hal/parlio_ll.h
  components/hal/parlio_hal.c
Due: build_docs_html_partial

fix(phy): Fix PHY enabled enter WiFi RX state default
  components/esp_phy/include/esp_phy_init.h
  components/esp_phy/src/phy_init.c
  components/esp_wifi/esp32/esp_adapter.c
  components/esp_wifi/esp32c2/esp_adapter.c
  components/esp_wifi/esp32c3/esp_adapter.c
  components/esp_wifi/esp32c6/esp_adapter.c
  components/esp_wifi/esp32s2/esp_adapter.c
  components/esp_wifi/esp32s3/esp_adapter.c
  components/soc/esp32/include/soc/Kconfig.soc_caps.in
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c2/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

feat(phy): Add modem type to phy init
  components/esp_phy/include/esp_phy_init.h
  components/esp_phy/include/esp_private/phy.h
  components/esp_phy/src/phy_common.c
  components/esp_phy/src/phy_init.c
  components/esp_phy/src/phy_init_esp32hxx.c
  components/ieee802154/driver/esp_ieee802154_dev.c
  components/ieee802154/esp_ieee802154.c
Due: build_docs_html_partial

fix(phy): Fix ble phy_enable/disable api invoking issue for esp32c2,esp32h2 and esp32c6
  components/bt/controller/esp32c2/bt.c
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h2/bt.c
Due: none

fix(wifi): Support ESP32 PHY enabled not enter WiFi RX state by default
  components/esp_wifi/esp32/esp_adapter.c
Due: none

change(ble/controller): disable pll track by default in BLE controller on ESP32-C3 and ESP32-S3
  components/bt/controller/esp32c3/bt.c
Due: none

fix(CI): fix CI build
  components/bt/controller/esp32/bt.c
  components/bt/controller/esp32c3/bt.c
  components/esp_phy/include/esp_phy_init.h
  components/esp_phy/src/phy_common.c
  components/esp_phy/test/test_phy_rtc.c
  components/ieee802154/test_apps/test_ieee802154/main/test_app_main.c
Due: build_docs_html_partial

fix(phy): move phy tx power track to IDF
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: none

change(mspi): remove s3 120mhz sdr warning
  components/esp_hw_support/mspi_timing_tuning.c
Due: none

change(mspi): remove s3 120mhz sdr warning
  components/spi_flash/spi_flash_timing_tuning.c
Due: none

ci: replace internal clang-tidy runner with the pypi project
  .gitlab-ci.yml
  .gitlab/ci/static-code-analysis.yml
  docs/en/api-guides/tools/idf-clang-tidy.rst
  docs/zh_CN/api-guides/tools/idf-clang-tidy.rst
  tools/ci/utils.sh
  tools/requirements/requirements.core.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: Provide Chinese translation for api-reference/system/wdts.rst
  docs/en/api-reference/system/wdts.rst
  docs/zh_CN/api-reference/system/wdts.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(rmt): fixed unstable transfer during DFS
  components/driver/rmt/rmt_common.c
  components/driver/rmt/rmt_rx.c
  components/driver/rmt/rmt_tx.c
  components/driver/test_apps/rmt/main/test_rmt_tx.c
Due: none

Typo fix in dedic_gpio.rst: fasted->fastest.
  docs/en/api-reference/peripherals/dedic_gpio.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

workaround(phy): workaround c3 BT nimble 2M phy issue
  components/esp_phy/src/phy_init.c
Due: none

fix(examples): Reverted: Fix example build errors caused by the deep_sleep funcs are returnable
  examples/bluetooth/nimble/throughput_app/blecent_throughput/components/cmd_system/cmd_system.c
  examples/system/console/advanced/components/cmd_system/cmd_system.c
Due: none

fix(app_update): Reverted: Fix CI test_switch_ota by increasing deepsleep
  components/app_update/test_apps/main/test_switch_ota.c
  components/esp_hw_support/include/esp_sleep.h
  components/esp_hw_support/sleep_modes.c
Due: build_docs_html_partial

fix(hints): properly identify source component
  tools/idf_py_actions/hint_modules/component_requirements.py
  tools/test_idf_py/test_hints.py
Due: none

docs: Add documentation for using ECDSA peripheral with TLS
  docs/en/api-reference/protocols/esp_tls.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(bt/bluedroid): Fix the judgment condition for packet transmission status statistics
  components/bt/host/bluedroid/stack/btm/btm_sco.c
Due: none

fix(precommit): correct typo in astyle-format.yml file name
  .pre-commit-config.yaml
Due: none

Revert "Merge branch 'ci/perf_monitor_spiflash_build_test_enable_esp32p4' into 'master'"
  examples/storage/.build-test-rules.yml
  examples/storage/perf_benchmark/README.md
Due: check_readme_links

refactor(esp_lcd): reformat code with astyle_py
  components/esp_lcd/include/esp_lcd_panel_io.h
  components/esp_lcd/src/esp_lcd_panel_io_i2c_v1.c
  components/esp_lcd/src/esp_lcd_panel_io_i2c_v2.c
  components/esp_lcd/src/esp_lcd_panel_io_i80.c
  components/esp_lcd/src/esp_lcd_panel_io_spi.c
  components/esp_lcd/src/esp_lcd_panel_ssd1306.c
  components/esp_lcd/src/esp_lcd_panel_st7789.c
  components/esp_lcd/test_apps/i80_lcd/main/test_i80_lcd_panel.c
  components/esp_lcd/test_apps/rgb_lcd/main/test_rgb_panel.c
  tools/ci/astyle-rules.yml
Due: build_docs_html_partial

feat(dw_gdma): initial low level driver
  components/hal/CMakeLists.txt
  components/hal/dw_gdma_hal.c
  components/hal/esp32p4/include/hal/dw_gdma_ll.h
  components/hal/gdma_hal_ahb_v1.c
  components/hal/gdma_hal_ahb_v2.c
  components/hal/gdma_hal_axi.c
  components/hal/include/hal/adc_hal.h
  components/hal/include/hal/dw_gdma_hal.h
  components/soc/esp32p4/include/soc/dw_gdma_reg.h
  components/soc/esp32p4/include/soc/dw_gdma_struct.h
  components/soc/esp32p4/include/soc/gdma_struct.h
  components/soc/esp32p4/include/soc/interrupts.h
  components/soc/esp32p4/interrupts.c
  components/soc/esp32p4/ld/esp32p4.peripherals.ld
Due: build_docs_html_partial
