Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

NimbLE: Added multi advertising example
  examples/bluetooth/.build-test-rules.yml
  examples/bluetooth/nimble/ble_multi_adv/CMakeLists.txt
  examples/bluetooth/nimble/ble_multi_adv/README.md
  examples/bluetooth/nimble/ble_multi_adv/main/CMakeLists.txt
  examples/bluetooth/nimble/ble_multi_adv/main/gatt_svr.c
  examples/bluetooth/nimble/ble_multi_adv/main/main.c
  examples/bluetooth/nimble/ble_multi_adv/main/multi_adv.h
  examples/bluetooth/nimble/ble_multi_adv/sdkconfig.defaults
  examples/bluetooth/nimble/ble_multi_adv/sdkconfig.defaults.esp32c2
  examples/bluetooth/nimble/ble_multi_adv/sdkconfig.defaults.esp32c6
Due: none

modbus remove example tests
  .gitlab/ci/target-test.yml
  examples/protocols/modbus/serial/example_test.py
  examples/protocols/modbus/tcp/example_test.py
Due: none

i2s interrupt fix
  components/driver/i2s/i2s_common.c
  components/driver/i2s/i2s_pdm.c
  components/driver/i2s/i2s_private.h
  components/driver/i2s/i2s_std.c
  components/driver/i2s/i2s_tdm.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_wifi: improve station SA query procedure handling
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_wifi/include/esp_wifi_types.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Enable support for C++23 in esp-idf
  tools/cmake/build.cmake
Due: none

esp_wifi: bugfix RSNXE related changes
  components/wpa_supplicant/src/rsn_supp/wpa.c
Due: none

Change namespace variable to nvs_namespace to prevent expected unqualified-id before 'namespace' error
  examples/system/ulp_fsm/ulp/main/ulp_example_main.c
Due: none

zigbee: support esp32h2
  examples/zigbee/.build-test-rules.yml
  examples/zigbee/esp_zigbee_gateway/main/esp_zigbee_gateway.c
  examples/zigbee/esp_zigbee_gateway/main/esp_zigbee_gateway.h
  examples/zigbee/esp_zigbee_rcp/README.md
  examples/zigbee/light_sample/HA_on_off_light/README.md
  examples/zigbee/light_sample/HA_on_off_light/main/esp_zb_light.c
  examples/zigbee/light_sample/HA_on_off_light/main/esp_zb_light.h
  examples/zigbee/light_sample/HA_on_off_switch/README.md
  examples/zigbee/light_sample/HA_on_off_switch/main/esp_zb_switch.c
  examples/zigbee/light_sample/HA_on_off_switch/main/esp_zb_switch.h
Due: none

mspi: fix build failure under assertion disable
  components/hal/esp32s3/include/hal/mspi_timing_tuning_ll.h
  tools/test_apps/system/build_test/sdkconfig.ci.esp32s3_mspi_timing_assertion_disabled
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

pthread: Implemented POSIX unnamed semaphore
  components/pthread/CMakeLists.txt
  components/pthread/include/semaphore.h
  components/pthread/pthread_semaphore.c
  components/pthread/test_apps/pthread_unity_tests/main/CMakeLists.txt
  components/pthread/test_apps/pthread_unity_tests/main/test_app_main.c
  components/pthread/test_apps/pthread_unity_tests/main/test_pthread_semaphore.c
  docs/en/api-reference/system/pthread.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

spi_slave: add multi board test case for spi slave hd append mode
  components/driver/test_apps/components/test_driver_utils/include/test_spi_utils.h
  components/driver/test_apps/spi/slave_hd/main/test_spi_slave_hd.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

spi_slave: support spi slave hd append mode on chips other than s2
  components/driver/include/esp_private/spi_common_internal.h
  components/driver/spi/gpspi/spi_common.c
  components/driver/spi/gpspi/spi_slave_hd.c
  components/hal/include/hal/spi_slave_hd_hal.h
  components/hal/spi_slave_hd_hal.c
  examples/peripherals/spi_slave_hd/append_mode/master/main/app_main.c
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

coex: fix unused macro on esp32h2
  components/esp_coex/esp32c6/esp_coex_adapter.c
  components/esp_coex/esp32h2/esp_coex_adapter.c
  components/esp_coex/include/esp_coexist_adapter.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_flash: correct veriable 'size' description
  components/spi_flash/esp_flash_spi_init.c
  components/spi_flash/include/esp_flash.h
  components/spi_flash/spi_flash_chip_generic.c
  components/spi_flash/spi_flash_chip_mxic.c
  components/spi_flash/test_apps/flash_encryption/sdkconfig.ci.release_f8r8
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

add(ci:danger) Check MR area labels
  .gitlab/dangerjs/dangerfile.js
  .gitlab/dangerjs/mrAreaLabels.js
Due: none

Nimble: Added Walkthrough tutorial for phy_cent example
  examples/bluetooth/nimble/ble_phy/phy_cent/tutorial/Ble_Phy_Central_Example_Walkthrough.md
Due: none

ble_mesh: example: remove unnecessary macro of esp32h2 for ble_mesh_wifi_coexist
  examples/bluetooth/esp_ble_mesh/ble_mesh_wifi_coexist/main/board.h
Due: none

esp_netif/lwip: Fix core-locking config (v4.4)
  components/esp_netif/include/esp_netif.h
  components/esp_netif/lwip/esp_netif_lwip.c
  components/esp_netif/lwip/esp_netif_lwip_internal.h
  components/lwip/Kconfig
  components/lwip/apps/sntp/sntp.c
  components/lwip/include/apps/esp_sntp.h
  components/lwip/include/apps/sntp/sntp.h
  components/lwip/port/esp32/freertos/sys_arch.c
  components/lwip/port/esp32/include/arch/sys_arch.h
  components/lwip/port/esp32/include/lwip_default_hooks.h
  components/lwip/port/esp32/include/lwipopts.h
  components/lwip/test_afl_host/sdkconfig.defaults
  docs/en/api-guides/lwip.rst
  docs/en/api-reference/system/system_time.rst
  examples/protocols/http2_request/main/http2_request_example_main.c
  examples/protocols/sntp/main/sntp_example_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

lwip/sntp: Fix esp_sntp_ API races (v4.4)
  components/lwip/apps/sntp/sntp.c
Due: none

lwip: Add missing esp_sntp_enabled()
  components/lwip/apps/sntp/sntp.c
  components/lwip/include/apps/esp_sntp.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

docs: CN translation for system_time.rst (v5.0)
  docs/en/api-reference/system/system_time.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

lwip/sntp: Fix esp_sntp_ API races (v5.0)
  components/lwip/apps/sntp/sntp.c
Due: none

esp_netif/lwip: Fix core-locking config (v5.0)
  components/esp_netif/CMakeLists.txt
  components/esp_netif/include/esp_netif.h
  components/esp_netif/lwip/esp_netif_lwip.c
  components/esp_netif/lwip/esp_netif_lwip_internal.h
  components/esp_netif/private_include/esp_netif_private.h
  components/lwip/Kconfig
  components/lwip/apps/sntp/sntp.c
  components/lwip/include/apps/esp_sntp.h
  components/lwip/include/apps/sntp/sntp.h
  components/lwip/port/esp32/freertos/sys_arch.c
  components/lwip/port/esp32/include/arch/sys_arch.h
  components/lwip/port/esp32/include/lwip_default_hooks.h
  components/lwip/port/esp32/include/lwipopts.h
  components/lwip/test_afl_host/sdkconfig.defaults
  docs/en/api-guides/lwip.rst
  docs/en/api-reference/system/system_time.rst
  docs/zh_CN/api-reference/system/system_time.rst
  examples/protocols/http2_request/main/http2_request_example_main.c
  examples/protocols/https_request/main/time_sync.c
  examples/protocols/sntp/main/sntp_example_main.c
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

lwip: Fix lwiopts macro expansion and dhcps-test
  components/lwip/port/esp32/include/lwipopts.h
  components/lwip/test/test_lwip_apps.c
  examples/protocols/mqtt/ssl/sdkconfig.ci
  examples/protocols/mqtt/tcp/sdkconfig.ci
  examples/protocols/mqtt/ws/sdkconfig.ci
  examples/protocols/mqtt/wss/sdkconfig.ci
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

docs: translate kconfig.rst
  docs/en/api-reference/kconfig.rst
  docs/zh_CN/api-reference/kconfig.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Nimble: Added Walkthrough tutorial for phy_prph example.
  examples/bluetooth/nimble/ble_phy/phy_prph/tutorial/Ble_Phy_Peripheral_Example_Walkthrough.md
Due: none

Added custom gatt server functionality and encryption.
  examples/bluetooth/nimble/blecent/README.md
  examples/bluetooth/nimble/blecent/main/Kconfig.projbuild
  examples/bluetooth/nimble/blecent/main/main.c
  examples/bluetooth/nimble/bleprph/README.md
  examples/bluetooth/nimble/bleprph/main/Kconfig.projbuild
  examples/bluetooth/nimble/bleprph/main/gatt_svr.c
  examples/bluetooth/nimble/bleprph/main/main.c
Due: none

tools: Add OpenOCD v0.12.0-esp32-20230313 binaries for win64 platform
  tools/tools.json
Due: none

esp_eth: allowed DM9051 to receive multicast packets
  components/esp_eth/src/dm9051.h
  components/esp_eth/src/esp_eth_mac_dm9051.c
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_eth: allowed DM9051 to receive multicast packets
  components/esp_eth/src/dm9051.h
  components/esp_eth/src/esp_eth_mac_dm9051.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_eth: DM9051 stop/start issue fixed
  components/esp_eth/src/esp_eth_mac_dm9051.c
Due: none

examples: Remove a duplicate Kconfig option
  examples/system/deep_sleep/sdkconfig.ci.esp32_singlecore
Due: none

bootloader_support: Adds API to detect Factory reset has happened
  components/app_update/test_apps/main/test_switch_ota.c
  components/bootloader/Kconfig.projbuild
  components/bootloader/subproject/main/bootloader_start.c
  components/bootloader_support/include/bootloader_common.h
  components/bootloader_support/include/esp_image_format.h
  components/bootloader_support/src/bootloader_common_loader.c
  components/bootloader_support/src/bootloader_utility.c
  components/esp_system/ld/esp32/memory.ld.in
  components/esp_system/ld/esp32c3/memory.ld.in
  components/esp_system/ld/esp32c6/memory.ld.in
  components/esp_system/ld/esp32h2/memory.ld.in
  components/esp_system/ld/esp32h4/memory.ld.in
  components/esp_system/ld/esp32s2/memory.ld.in
  components/esp_system/ld/esp32s3/memory.ld.in
  docs/en/api-guides/bootloader.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

tools: idf.py: remove esp32c6 and esp32h2 from preview targets list
  tools/idf_py_actions/constants.py
Due: none

docs: update README to mention the production version of ESP32-H2
  README.md
  README_CN.md
Due: none

docs: remove v4.1 EoL release from the chip support status in README
  README.md
  README_CN.md
Due: none

doc: optimize deep_sleep_wake_stub README
  examples/system/deep_sleep_wake_stub/README.md
Due: none

ble_mesh: add BQB LOG
  components/bt/esp_ble_mesh/mesh_core/cfg_srv.c
  components/bt/esp_ble_mesh/mesh_core/net.c
  components/bt/esp_ble_mesh/mesh_core/provisioner_prov.c
  components/bt/esp_ble_mesh/mesh_core/proxy_server.c
  components/bt/esp_ble_mesh/mesh_core/transport.c
Due: none

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*
