Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml

test(usb_serial_jtag): pin console uart to ttyUSBx port
  examples/system/app_trace_basic/pytest_app_trace_basic.py
  examples/system/esp_trace/pytest_esp_trace.py
  examples/system/gcov/pytest_gcov.py
  examples/system/sysview_tracing/pytest_sysview_tracing.py
  examples/system/sysview_tracing_heap_log/pytest_sysview_tracing_heap_log.py
  examples/system/ulp/lp_core/debugging/pytest_lp_core_debugging.py
  tools/test_apps/system/gdb/pytest_gdb.py
Due: gen_integration_pipeline, child_integration_test_pipeline

change(sysview_heap_log): use esp sysview_mcore command for the JTAG capture
  examples/system/sysview_tracing_heap_log/README.md
  examples/system/sysview_tracing_heap_log/gdbinit
  examples/system/sysview_tracing_heap_log/pytest_sysview_tracing_heap_log.py
Due: check_readme_links

change(ci): enable esp32s31 jtag tests
  examples/system/.build-test-rules.yml
  examples/system/app_trace_basic/pytest_app_trace_basic.py
  examples/system/esp_trace/pytest_esp_trace.py
  examples/system/gcov/pytest_gcov.py
  examples/system/sysview_tracing/pytest_sysview_tracing.py
  examples/system/sysview_tracing_heap_log/pytest_sysview_tracing_heap_log.py
Due: none

fix(sysview): add prefix to the example sysview module desc
  examples/system/sysview_tracing/main/sysview_tracing.c
Due: none

fix(esp_trace): limit USB-Serial-JTAG trace flush timeout
  components/esp_trace/adapters/transport/adapter_transport_usb_serial_jtag.c
  examples/system/sysview_tracing/pytest_sysview_tracing.py
Due: gen_integration_pipeline, child_integration_test_pipeline

test(sysview): trim trace capture to the STOP record to drop post-reset UART noise
  examples/system/sysview_tracing/pytest_sysview_tracing.py
Due: none

fix(sysview): handle variable-length timestamp in TRACE_STOP validation
  examples/system/sysview_tracing/pytest_sysview_tracing.py
Due: none

change(sysview): use esp sysview_mcore command for sysview_tracing JTAG capture
  examples/system/sysview_tracing/README.md
  examples/system/sysview_tracing/gdbinit
  examples/system/sysview_tracing/pytest_sysview_tracing.py
Due: check_readme_links

test(sysview_tracing): wait for apptrace stop before validating capture
  examples/system/sysview_tracing/pytest_sysview_tracing.py
Due: none

fix(i2c): update u8g2 for GCC 16 build
  examples/peripherals/i2c/i2c_u8g2/main/idf_component.yml
Due: none

fix(bootloader): handle extra component dirs in v1 subproject
  components/bootloader/subproject/CMakeLists.txt
  examples/custom_bootloader/bootloader_extra_dir/CMakeLists.txt
  examples/custom_bootloader/bootloader_extra_dir/README.md
  examples/custom_bootloader/bootloader_extra_dir/bootloader_components/my_boot_hooks/CMakeLists.txt
  examples/custom_bootloader/bootloader_extra_dir/check_bootloader_component.cmake
  examples/custom_bootloader/bootloader_extra_dir/extra_bootloader_components/extra_component/CMakeLists.txt
  examples/custom_bootloader/bootloader_extra_dir/extra_bootloader_components/extra_component1/CMakeLists.txt
  examples/custom_bootloader/bootloader_extra_dir/extra_bootloader_components/extra_component1/extra_component1.c
  examples/custom_bootloader/bootloader_extra_dir/extra_bootloader_components/extra_component2/CMakeLists.txt
  examples/custom_bootloader/bootloader_extra_dir/extra_bootloader_components/extra_component2/extra_component2.c
  examples/custom_bootloader/bootloader_extra_dir/extra_bootloader_components/extra_component3/CMakeLists.txt
  examples/custom_bootloader/bootloader_extra_dir/extra_bootloader_components/extra_component3/extra_component3.c
  examples/custom_bootloader/bootloader_extra_dir/extra_component4/CMakeLists.txt
  examples/custom_bootloader/bootloader_extra_dir/extra_component4/extra_component4.c
  examples/custom_bootloader/bootloader_extra_dir/extra_component5/CMakeLists.txt
  examples/custom_bootloader/bootloader_extra_dir/extra_component5/extra_component5.c
Due: check_readme_links, build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ana_cmpr): Fix swapped POS/NEG cross interrupt masks on ESP32-C5/P4/C61
  components/esp_hal_ana_cmpr/esp32c5/include/hal/ana_cmpr_ll.h
  components/esp_hal_ana_cmpr/esp32c61/include/hal/ana_cmpr_ll.h
  components/esp_hal_ana_cmpr/esp32p4/include/hal/ana_cmpr_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(ana_cmpr): Add edge-specific interrupt direction test case
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_ana_cmpr.cpp
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_ana_cmpr.h
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_ana_cmpr_utils.cpp
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble): fix Bluedroid log compression for newly added modules
  components/bt/common/ble_log/extension/log_compression/scripts/ble_log_compress.py
  components/bt/common/ble_log/extension/log_compression/scripts/module_scripts/bluedroid/make_bluedroid_log_macro.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): split log compression Kconfig into separate mesh and host files
  components/bt/common/ble_log/extension/log_compression/Kconfig.host.bluedroid.in
  components/bt/common/ble_log/extension/log_compression/Kconfig.host.in
  components/bt/common/ble_log/extension/log_compression/Kconfig.host.nimble.in
  components/bt/common/ble_log/extension/log_compression/Kconfig.in
  components/bt/common/ble_log/extension/log_compression/Kconfig.mesh.in
  components/bt/common/ble_log/extension/log_compression/Kconfig.mesh.tags.in
  components/bt/common/ble_log/extension/log_compression/cmake/ble_host_bluedroid_tags.cmake
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(coex): move 15.4 register configuration to 15.4 init
  components/esp_coex/include/esp_coex_i154.h
  components/ieee802154/driver/esp_ieee802154_dev.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wpa_supplicant): guard pbkdf2_sha256 for PSA-provided SHA-256
  components/wpa_supplicant/esp_supplicant/src/crypto/crypto_mbedtls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_pm): add kconfig option for REGDMA sleep clock ICG
  components/esp_hw_support/linker.lf
  components/esp_hw_support/port/esp32p4/CMakeLists.txt
  components/esp_hw_support/port/esp32p4/pmu_sleep.c
  components/esp_hw_support/sleep_modes.c
  components/esp_pm/Kconfig
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): Fix unchecked p_ctrl_cback and p_msg_cback in AVRC
  components/bt/host/bluedroid/stack/avct/avct_ccb.c
  components/bt/host/bluedroid/stack/avct/avct_lcb_act.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): Fix missing NULL check on p_cfg in AVDT_ReconfigReq
  components/bt/host/bluedroid/stack/avdt/avdt_api.c
Due: gen_integration_pipeline, child_integration_test_pipeline

test(ana_cmpr): Add edge-specific interrupt direction test case
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_ana_cmpr.c
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_ana_cmpr.h
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_ana_cmpr_utils.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ana_cmpr): Fix swapped POS/NEG cross interrupt masks on ESP32-C5/P4/C61
  components/hal/esp32c5/include/hal/ana_cmpr_ll.h
  components/hal/esp32c61/include/hal/ana_cmpr_ll.h
  components/hal/esp32p4/include/hal/ana_cmpr_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(ci): enable -Werror=unused-but-set-variable
  components/bt/common/osi/config.c
  components/bt/host/bluedroid/stack/l2cap/l2c_api.c
  components/esp_driver_cam/test_apps/csi/CMakeLists.txt
  components/esp_hw_support/sleep_retention.c
  components/esp_libc/test_apps/newlib/main/test_time.c
  components/lwip/CMakeLists.txt
  components/wpa_supplicant/CMakeLists.txt
  examples/bluetooth/esp_ble_mesh/aligenie_demo/components/vendor_model/genie_event.c
  examples/bluetooth/nimble/ble_dynamic_service/main/gatt_svr.c
  examples/bluetooth/nimble/ble_spi_slave/main/main.c
  examples/peripherals/camera/common_components/sensor_init/CMakeLists.txt
  examples/peripherals/i2s/i2s_advance/i2s_usb/CMakeLists.txt
  examples/peripherals/i2s/i2s_codec/i2s_es7210_tdm/CMakeLists.txt
  examples/peripherals/i2s/i2s_codec/i2s_es8311/CMakeLists.txt
  examples/peripherals/isp/multi_pipelines/CMakeLists.txt
  examples/peripherals/lcd/i2c_oled/CMakeLists.txt
  examples/peripherals/lcd/i80_controller/CMakeLists.txt
  examples/peripherals/lcd/mipi_dsi/CMakeLists.txt
  examples/peripherals/lcd/parlio_simulate/CMakeLists.txt
  examples/peripherals/lcd/rgb_panel/CMakeLists.txt
  examples/peripherals/lcd/spi_lcd_touch/CMakeLists.txt
  examples/peripherals/parlio/parlio_tx/advanced_rgb_led_matrix/CMakeLists.txt
  examples/peripherals/parlio/parlio_tx/simple_rgb_led_matrix/CMakeLists.txt
  examples/protocols/mqtt/CMakeLists.txt
  examples/protocols/mqtt5/CMakeLists.txt
  tools/ci/check_copyright_ignore.txt
  tools/ci/configure_ci_environment.sh
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt): clarify BR/EDR TX power behavior in menuconfig help
  components/bt/porting_btdm/controller/bredr/Kconfig.in
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(bt): validate BR/EDR TX power against chip-supported range
  components/bt/include/esp32s31/include/esp_bt.h
  components/bt/porting_btdm/controller/bredr/Kconfig.in
  components/bt/porting_btdm/controller/bredr/src/bredr.c
  components/bt/porting_btdm/controller/btdm_common/include/btdm_external.h
  components/bt/porting_btdm/controller/btdm_common/src/btdm_external.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

feat(tools): Add 'check' field to idf.py actions
  tools/idf.py
  tools/idf_py_actions/dfu_ext.py
  tools/idf_py_actions/tools.py
  tools/test_build_system/test_build.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(soc): add USB DFU and OTG console caps
  components/esp_stdio/Kconfig
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
  docs/conf_common.py
  docs/en/api-guides/index.rst
  docs/en/api-guides/stdio.rst
  docs/zh_CN/api-guides/index.rst
  docs/zh_CN/api-guides/stdio.rst
  tools/idf_py_actions/dfu_ext.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

test(freertos): strengthen IDF additions WithCaps coverage
  components/freertos/test_apps/freertos/misc/test_idf_additions.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nvs_flash): zeroize XTS contexts when encrypted partition is destroyed
  components/nvs_flash/src/nvs_encrypted_partition.cpp
  components/nvs_flash/src/nvs_encrypted_partition.hpp
Due: gen_integration_pipeline, child_integration_test_pipeline

test(freertos): harden WithCaps OOM sizing and leak checks
  components/freertos/test_apps/freertos/misc/test_idf_additions.c
Due: gen_integration_pipeline, child_integration_test_pipeline
