Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*

gdma: support etm extension
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/dma/async_memcpy_impl_cp_dma.c
  components/esp_hw_support/dma/async_memcpy_impl_gdma.c
  components/esp_hw_support/dma/esp_async_memcpy.c
  components/esp_hw_support/dma/gdma.c
  components/esp_hw_support/dma/gdma_etm.c
  components/esp_hw_support/dma/gdma_priv.h
  components/esp_hw_support/include/esp_async_memcpy.h
  components/esp_hw_support/include/esp_private/gdma.h
  components/esp_hw_support/port/include/esp_async_memcpy_impl.h
  components/esp_hw_support/test_apps/etm/main/CMakeLists.txt
  components/esp_hw_support/test_apps/etm/main/test_gdma_etm.c
  components/hal/esp32c6/include/hal/gdma_ll.h
  components/hal/include/hal/gdma_types.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/gdma_channel.h
  components/soc/esp32c6/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

doc: add api reference for etm driver
  components/esp_hw_support/README.md
  docs/_static/diagrams/etm/etm_channel.diag
  docs/conf_common.py
  docs/docs_not_updated/esp32c6.txt
  docs/doxygen/Doxyfile
  docs/en/api-reference/peripherals/etm.rst
  docs/en/api-reference/peripherals/gptimer.rst
  docs/en/api-reference/peripherals/index.rst
  docs/en/api-reference/system/async_memcpy.rst
  docs/en/api-reference/system/esp_timer.rst
  docs/zh_CN/api-reference/peripherals/etm.rst
  docs/zh_CN/api-reference/peripherals/gptimer.rst
  docs/zh_CN/api-reference/peripherals/index.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

gptimer: added etm example
  components/driver/gptimer/gptimer.c
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/timer_group/gptimer_capture_hc_sr04/CMakeLists.txt
  examples/peripherals/timer_group/gptimer_capture_hc_sr04/README.md
  examples/peripherals/timer_group/gptimer_capture_hc_sr04/main/CMakeLists.txt
  examples/peripherals/timer_group/gptimer_capture_hc_sr04/main/gptimer_capture_hc_sr04.c
  examples/peripherals/timer_group/gptimer_capture_hc_sr04/pytest_gptimer_capture_example.py
Due: none

systimer: support etm event
  components/esp_hw_support/test_apps/etm/main/CMakeLists.txt
  components/esp_hw_support/test_apps/etm/main/test_systimer_etm.c
  components/esp_rom/esp32c6/ld/esp32c6.rom.ld
  components/esp_rom/patches/esp_rom_systimer.c
  components/esp_system/CMakeLists.txt
  components/esp_system/include/esp_systick_etm.h
  components/esp_system/systick_etm.c
  components/esp_timer/CMakeLists.txt
  components/esp_timer/include/esp_timer.h
  components/esp_timer/src/esp_timer_etm.c
  components/hal/esp32c6/include/hal/systimer_ll.h
  components/hal/systimer_hal.c
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  tools/mocks/esp_hw_support/include/esp_etm.h
  tools/mocks/esp_timer/CMakeLists.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

RISC-V: Create a wrapper around FreeRTOS Tasks to detect the ones returning
  components/esp_system/panic.c
  components/freertos/FreeRTOS-Kernel-SMP/portable/riscv/port.c
  components/freertos/FreeRTOS-Kernel/portable/riscv/port.c
Due: none

cleaned up
  components/esp_common/test_apps/esp_common/main/test_attr.c
  components/esp_common/test_apps/esp_common/sdkconfig.ci.esp32_psram
  components/esp_common/test_apps/esp_common/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

RISC-V: fix PC not saved when using backtrace
  components/freertos/FreeRTOS-Kernel-SMP/portable/riscv/port.c
  components/freertos/FreeRTOS-Kernel/portable/riscv/port.c
Due: none

tcp_transport: Fix error propagation on tcp_read()
  components/tcp_transport/transport_ssl.c
Due: none

update wifi reason code
  components/esp_wifi/include/esp_wifi_types.h
  docs/en/api-guides/wifi.rst
  docs/zh_CN/api-guides/wifi.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

update doc for set channel
  components/esp_wifi/include/esp_wifi.h
  docs/en/api-guides/wifi.rst
  docs/zh_CN/api-guides/wifi.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

esp_wifi: Modify wifi scan return value. 1. Modify wifi scan return value same to docs. 2. Change some logs' log level wo avoid misunderstanding. 3. Fix connect fail return wrong error code issue
  docs/en/api-guides/wifi.rst
  docs/zh_CN/api-guides/wifi.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Apply suggestions to 2 files
  docs/en/api-guides/wifi.rst
  docs/zh_CN/api-guides/wifi.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

ble_mesh: stack: Fix exceptional list parameters check issue
  components/bt/esp_ble_mesh/mesh_core/bluedroid_host/mesh_bearer_adapt.c
  components/bt/esp_ble_mesh/mesh_core/include/mesh_bearer_adapt.h
  components/bt/esp_ble_mesh/mesh_core/main.c
  components/bt/esp_ble_mesh/mesh_core/net.c
  components/bt/esp_ble_mesh/mesh_core/prov.c
  components/bt/esp_ble_mesh/mesh_core/provisioner_prov.c
  components/bt/esp_ble_mesh/mesh_core/proxy_client.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_register_cmd.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

lwip:optimization dns ipv4 ipv6 timeir
  components/lwip/port/esp32/include/lwipopts.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bt:Fixed the use of invalid configuration when the peer device configures the stream, and returned an incorrect error code
  components/bt/host/bluedroid/bta/av/bta_av_aact.c
  components/bt/host/bluedroid/btc/profile/std/a2dp/bta_av_co.c
  components/bt/host/bluedroid/stack/a2dp/a2d_sbc.c
  components/bt/host/bluedroid/stack/avdt/avdt_scb_act.c
Due: none

bt: Update A2DP version to v1.4
  components/bt/host/bluedroid/bta/av/bta_av_main.c
  components/bt/host/bluedroid/stack/include/stack/a2d_api.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bt: Update HFP version to v1.8
  components/bt/host/bluedroid/bta/hf_ag/bta_ag_main.c
  components/bt/host/bluedroid/bta/hf_ag/bta_ag_sdp.c
  components/bt/host/bluedroid/bta/hf_ag/include/bta_ag_int.h
  components/bt/host/bluedroid/bta/hf_client/bta_hf_client_sdp.c
  components/bt/host/bluedroid/bta/hf_client/include/bta_hf_client_int.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

fixed build errors with Secure Simple Paring disabled
  examples/bluetooth/esp_hid_device/main/esp_hid_gap.c
  examples/bluetooth/esp_hid_host/main/esp_hid_gap.c
Due: none

1. changed pin_type of Legacy Paring from FIXED to VARIABLE to avoid authentication failure 2. provide compatibilities with devices that do not support Secure Simple Paring
  examples/bluetooth/esp_hid_host/main/esp_hid_gap.c
Due: none

clear EIE INTIE instead of non-existent EIR INTIE
  examples/ethernet/enc28j60/components/eth_enc28j60/esp_eth_mac_enc28j60.c
Due: none

soc: remove unused macro in ext_mem_defs.h
  components/soc/esp32c2/include/soc/ext_mem_defs.h
  components/soc/esp32c3/include/soc/ext_mem_defs.h
  components/soc/esp32c6/include/soc/ext_mem_defs.h
  components/soc/esp32h4/include/soc/ext_mem_defs.h
  components/soc/esp32s3/include/soc/ext_mem_defs.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Increase BtI2STask stack depth to avoid stack overflow
  examples/bluetooth/bluedroid/classic_bt/a2dp_sink/main/bt_app_core.c
Due: none

optimized a2dp_sink audio datapath
  components/bt/host/bluedroid/btc/profile/std/a2dp/btc_a2dp_sink.c
  examples/bluetooth/bluedroid/classic_bt/a2dp_sink/main/bt_app_av.c
  examples/bluetooth/bluedroid/classic_bt/a2dp_sink/main/bt_app_core.c
Due: none

test_apps: fix IRAM overflow in build test apps
  tools/unit-test-app/configs/default
Due: none

esp-tls: Fix esp-cryptoauthlib built dependency when secure element support is enabled
  components/esp-tls/CMakeLists.txt
Due: none

optimized a2dp_sink audio datapath
  components/bt/host/bluedroid/btc/profile/std/a2dp/btc_a2dp_sink.c
  examples/bluetooth/bluedroid/classic_bt/a2dp_sink/main/bt_app_core.c
Due: none
