Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG: en
      DOCTGT: esp32
    - DOCLANG: zh_CN
      DOCTGT: esp32c6
  artifacts:
    when: always
    paths:
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - assign_test
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

ci(system): fixed and enabled misc system build tests
  components/bootloader_support/test_apps/.build-test-rules.yml
  components/bootloader_support/test_apps/rtc_custom_section/README.md
  components/esp_rom/esp32/Kconfig.soc_caps.in
  components/esp_rom/esp32/esp_rom_caps.h
  components/esp_rom/esp32c2/Kconfig.soc_caps.in
  components/esp_rom/esp32c2/esp_rom_caps.h
  components/esp_rom/esp32c3/Kconfig.soc_caps.in
  components/esp_rom/esp32c3/esp_rom_caps.h
  components/esp_rom/esp32c6/Kconfig.soc_caps.in
  components/esp_rom/esp32c6/esp_rom_caps.h
  components/esp_rom/esp32h2/Kconfig.soc_caps.in
  components/esp_rom/esp32h2/esp_rom_caps.h
  components/esp_rom/esp32s2/Kconfig.soc_caps.in
  components/esp_rom/esp32s2/esp_rom_caps.h
  components/esp_rom/esp32s3/Kconfig.soc_caps.in
  components/esp_rom/esp32s3/esp_rom_caps.h
  components/esp_rom/test_apps/.build-test-rules.yml
  components/esp_rom/test_apps/rom_tests/README.md
  components/esp_rom/test_apps/rom_tests/main/test_libgcc.c
  components/esp_system/port/soc/esp32p4/cache_err_int.c
  components/esp_system/port/soc/esp32p4/reset_reason.c
  components/hal/include/hal/systimer_hal.h
  components/hal/systimer_hal.c
  tools/test_apps/.build-test-rules.yml
  tools/test_apps/system/build_test/README.md
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wpa_supplicant): Fix a crash in esp_wifi_wps_disable
  components/wpa_supplicant/esp_supplicant/src/esp_wps.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix: fixed build issue in flash encryption example with certain config
  examples/security/flash_encryption/sdkconfig.defaults
Due: none

feat(esp32c5): add esp32c5 target in kconfig and tools
  Kconfig
  tools/cmake/dfu.cmake
  tools/cmake/toolchain-esp32c5.cmake
  tools/idf_py_actions/constants.py
  tools/tools.json
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(build_test_rules): invert the logic to avoid involving preview target
  Kconfig
  components/bootloader_support/src/bootloader_random_esp32c5.c
  examples/system/.build-test-rules.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp32c5): introduce target esp32c5
  Kconfig
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32c5.c
  components/bootloader_support/include/esp_app_format.h
  components/bt/controller/esp32c5/Kconfig.in
  components/esp_adc/esp32c5/include/.gitkeep
  components/esp_hw_support/include/esp_chip_info.h
  components/esp_hw_support/include/soc/esp32c5/.gitkeep
  components/esp_hw_support/port/esp32c5/CMakeLists.txt
  components/esp_hw_support/port/esp32c5/cpu_region_protect.c
  components/esp_hw_support/port/esp32c5/esp_clk_tree.c
  components/esp_hw_support/port/esp32c5/io_mux.c
  components/esp_mm/port/esp32c5/ext_mem_layout.c
  components/esp_phy/esp32c5/include/.gitkeep
  components/esp_rom/esp32c5/.gitkeep
  components/esp_rom/include/esp32c5/rom/.gitkeep
  components/esp_system/ld/esp32c5/memory.ld.in
  components/esp_system/port/soc/esp32c5/CMakeLists.txt
  components/esp_system/port/soc/esp32c5/Kconfig.cpu
  components/esp_system/port/soc/esp32c5/Kconfig.system
  components/hal/esp32c5/include/.gitkeep
  components/heap/port/esp32c5/memory_layout.c
  components/idf_test/include/esp32c5/.gitkeep
  components/soc/esp32c5/gpio_periph.c
  components/soc/esp32c5/interrupts.c
  components/soc/esp32c5/uart_periph.c
  tools/ci/check_build_test_rules.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(storage/fatfs): add sbom file for FatFs
  components/fatfs/sbom.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

brownout: Disable the hardware BOD when BOD interrupt is enabled
  components/esp_system/README.md
  components/hal/esp32c3/brownout_hal.c
  components/hal/esp32h2/brownout_hal.c
  components/hal/esp32s3/brownout_hal.c
Due: gen_integration_pipeline, child_integration_test_pipeline

brownout: Disable the hardware BOD when BOD interrupt is enabled
  components/esp_system/README.md
  components/hal/esp32c3/brownout_hal.c
  components/hal/esp32s3/brownout_hal.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(tools/coredump): do not detect port when core file is used
  tools/idf_py_actions/debug_ext.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wpa_supplicant): Move concurrent wps and dpp check to before creating task
  components/wpa_supplicant/esp_supplicant/src/esp_wps.c
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(freertos/idf): Refactor FreeRTOS suspend-resume tests
  components/freertos/test_apps/freertos/kernel/CMakeLists.txt
  components/freertos/test_apps/freertos/kernel/tasks/test_task_suspend_resume.c
  components/freertos/test_apps/freertos/kernel/tasks/test_vTaskSuspendAll_xTaskResumeAll.c
  components/freertos/test_apps/freertos/misc/CMakeLists.txt
  components/freertos/test_apps/freertos/misc/test_idf_additions.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs: move the output log of targets to .inc files
  docs/en/get-started/esp32_output_log.inc
  docs/en/get-started/esp32c2_output_log.inc
  docs/en/get-started/esp32c3_output_log.inc
  docs/en/get-started/esp32c6_output_log.inc
  docs/en/get-started/esp32h2_output_log.inc
  docs/en/get-started/esp32p4_output_log.inc
  docs/en/get-started/esp32s2_output_log.inc
  docs/en/get-started/esp32s3_output_log.inc
  docs/en/get-started/start-project.rst
  docs/zh_CN/get-started/esp32_output_log.inc
  docs/zh_CN/get-started/esp32c2_output_log.inc
  docs/zh_CN/get-started/esp32c3_output_log.inc
  docs/zh_CN/get-started/esp32c6_output_log.inc
  docs/zh_CN/get-started/esp32h2_output_log.inc
  docs/zh_CN/get-started/esp32p4_output_log.inc
  docs/zh_CN/get-started/esp32s2_output_log.inc
  docs/zh_CN/get-started/esp32s3_output_log.inc
  docs/zh_CN/get-started/start-project.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Fixes to properly run idf.py gdb from windows
  tools/idf_py_actions/debug_ext.py
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(pm):add uart wakeup description when pd top
  docs/en/api-reference/system/sleep_modes.rst
  docs/zh_CN/api-reference/system/sleep_modes.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(pm):add gpio wakeup description when pd top
  docs/en/api-reference/system/sleep_modes.rst
  docs/zh_CN/api-reference/system/sleep_modes.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(pm):change_deepsleep_example_readme
  examples/system/deep_sleep/README.md
Due: check_readme_links

fix(nimble): Add support for VSC to clear legacy adv memory
  components/bt/porting/nimble/include/nimble/hci_common.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix wifi deinit s_wifi_modem_sleep_lock
  components/esp_wifi/src/wifi_init.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix build with CONFIG_ESP_CONSOLE_UART=n on C6
  components/esp_hw_support/sleep_modes.c
Due: gen_integration_pipeline, child_integration_test_pipeline

examples: re-enable console examples for C2, C6, H2
  examples/system/.build-test-rules.yml
  examples/system/console/advanced/README.md
  examples/system/console/advanced/components/cmd_system/CMakeLists.txt
  examples/system/console/advanced/components/cmd_system/cmd_system.c
  examples/system/console/advanced/components/cmd_system/cmd_system_common.c
  examples/system/console/advanced/components/cmd_system/cmd_system_sleep.c
  examples/system/console/advanced/main/console_example_main.c
  examples/system/console/basic/README.md
  examples/system/console/basic/main/console_example_main.c
Due: check_readme_links

ci(system): re-enable build test app for C2 and C6, clean up configs
  tools/test_apps/.build-test-rules.yml
  tools/test_apps/system/build_test/README.md
  tools/test_apps/system/build_test/sdkconfig.ci.esp32c2_without_rom_impl_components
  tools/test_apps/system/build_test/sdkconfig.ci.esp32c6_with_rom_impl_components
  tools/test_apps/system/build_test/sdkconfig.ci.esp32c6_without_rom_impl_components
  tools/test_apps/system/build_test/sdkconfig.ci.esp32c6_without_rvfplib
  tools/test_apps/system/build_test/sdkconfig.ci.esp32h2_with_rom_impl_components
  tools/test_apps/system/build_test/sdkconfig.ci.no_rom_impl_components
  tools/test_apps/system/build_test/sdkconfig.ci.no_rvfplib
  tools/test_apps/system/build_test/sdkconfig.ci.rom_impl_components
  tools/test_apps/system/build_test/sdkconfig.ci.usb_console_ets_printf
  tools/test_apps/system/build_test/sdkconfig.ci.usb_serial_jtag
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(coredump): save isr context to coredump elf file
  components/espcoredump/include_core_dump/esp_core_dump_port.h
  components/espcoredump/src/core_dump_common.c
  components/espcoredump/src/port/riscv/core_dump_port.c
  components/espcoredump/src/port/xtensa/core_dump_port.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(unity): upgrade to 2.6.0-RC1
  .gitmodules
  components/esp_eth/test_apps/main/esp_eth_test_apps.c
  components/esp_http_server/test_apps/main/test_http_server.c
  components/freertos/test_apps/freertos/kernel/queue/test_freertos_backported_functions.c
  components/freertos/test_apps/freertos/kernel/queue/test_freertos_debug_functions.c
  components/freertos/test_apps/freertos/kernel/tasks/test_freertos_trace_utilities.c
  components/unity/CMakeLists.txt
  components/unity/include/unity_config.h
  components/unity/unity_compat.c
  components/wpa_supplicant/test_apps/main/test_sae.c
  docs/en/COPYRIGHT.rst
  docs/en/migration-guides/release-5.x/5.3/system.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

refactor(soc): SOC_USB_PERIPH_NUM option
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
  examples/peripherals/.build-test-rules.yml
  examples/system/.build-test-rules.yml
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(usb/host): Do not abort on string descriptor overflow
  components/usb/hub.c
  examples/peripherals/usb/host/usb_host_lib/main/class_driver.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(usb/host): remove bInterval verification during pipe opening for INTR and ISOC EPs
  components/usb/hcd_dwc.c
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(hal/usb_dwc): Add DWC OTG configuration values
  components/hal/include/hal/usb_dwc_hal.h
  components/hal/include/hal/usb_dwc_ll.h
  components/hal/usb_dwc_hal.c
  components/usb/hcd_dwc.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ulp/lp_core): Added basic support for building and running a LP-Core app on ESP32P4
  components/esp_rom/esp32p4/Kconfig.soc_caps.in
  components/esp_rom/esp32p4/esp_rom_caps.h
  components/hal/esp32c6/include/hal/lp_core_ll.h
  components/hal/esp32p4/include/hal/lp_core_ll.h
  components/hal/esp32p4/include/hal/lp_timer_ll.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/lp_timer_struct.h
  components/soc/esp32p4/include/soc/soc_caps.h
  components/ulp/CMakeLists.txt
  components/ulp/Kconfig
  components/ulp/cmake/CMakeLists.txt
  components/ulp/ld/lp_core_riscv.ld
  components/ulp/lp_core/lp_core.c
  components/ulp/lp_core/lp_core/lp_core_i2c.c
  components/ulp/lp_core/lp_core/lp_core_utils.c
  components/ulp/test_apps/lp_core/README.md
  components/ulp/test_apps/lp_core/main/CMakeLists.txt
  components/ulp/test_apps/lp_core/main/test_lp_core.c
  components/ulp/ulp_common/include/esp32p4/ulp_common_defs.h
  docs/doxygen/Doxyfile_esp32p4
  docs/en/api-reference/peripherals/gpio.rst
  docs/zh_CN/api-reference/peripherals/gpio.rst
  examples/system/.build-test-rules.yml
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

doc(sdmmc): update emmc states
  docs/en/api-reference/peripherals/sdmmc_host.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

doc(sdmmc): doc(sdmmc): updated sdmmc programming guide for esp32p4
  docs/_static/diagrams/sd/sd_arch.diag
  docs/_static/diagrams/sd/sd_arch.png
  docs/docs_not_updated/esp32p4.txt
  docs/en/api-reference/peripherals/sdmmc_host.rst
  docs/en/api-reference/storage/sdmmc.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(usb/uvc): Add negotiation retry for some cameras
  examples/peripherals/usb/device/tusb_composite_msc_serialdevice/sdkconfig.defaults
  examples/peripherals/usb/host/uvc/README.md
  examples/peripherals/usb/host/uvc/main/CMakeLists.txt
  examples/peripherals/usb/host/uvc/main/Kconfig.projbuild
  examples/peripherals/usb/host/uvc/main/idf_component.yml
  examples/peripherals/usb/host/uvc/main/main.c
  examples/peripherals/usb/host/uvc/sdkconfig.defaults
  tools/ci/ignore_build_warnings.txt
Due: check_readme_links, gen_integration_pipeline, child_integration_test_pipeline

change(sdspi): disabled some tests (needs check/re-enable future)
  components/esp_driver_sdspi/test_apps/sdspi/components/sdspi_tests/sdmmc_test_probe_spi.c
  components/esp_driver_sdspi/test_apps/sdspi/components/sdspi_tests/sdmmc_test_rw_spi.c
Due: gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
