Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

ld: fix rtc.data rtc.bss section issues
  components/esp_system/ld/esp32/sections.ld.in
  components/esp_system/ld/esp32c3/sections.ld.in
  components/esp_system/ld/esp32h2/sections.ld.in
  components/esp_system/ld/esp32s2/sections.ld.in
  components/esp_system/ld/esp32s3/sections.ld.in
Due: none

freertos: Add GetStaticBuffer functions
  components/freertos/FreeRTOS-Kernel-SMP/event_groups.c
  components/freertos/FreeRTOS-Kernel-SMP/include/freertos/event_groups.h
  components/freertos/FreeRTOS-Kernel-SMP/include/freertos/message_buffer.h
  components/freertos/FreeRTOS-Kernel-SMP/include/freertos/queue.h
  components/freertos/FreeRTOS-Kernel-SMP/include/freertos/semphr.h
  components/freertos/FreeRTOS-Kernel-SMP/include/freertos/stream_buffer.h
  components/freertos/FreeRTOS-Kernel-SMP/include/freertos/task.h
  components/freertos/FreeRTOS-Kernel-SMP/include/freertos/timers.h
  components/freertos/FreeRTOS-Kernel-SMP/queue.c
  components/freertos/FreeRTOS-Kernel-SMP/stream_buffer.c
  components/freertos/FreeRTOS-Kernel-SMP/tasks.c
  components/freertos/FreeRTOS-Kernel-SMP/timers.c
  components/freertos/FreeRTOS-Kernel/event_groups.c
  components/freertos/FreeRTOS-Kernel/include/freertos/event_groups.h
  components/freertos/FreeRTOS-Kernel/include/freertos/message_buffer.h
  components/freertos/FreeRTOS-Kernel/include/freertos/queue.h
  components/freertos/FreeRTOS-Kernel/include/freertos/semphr.h
  components/freertos/FreeRTOS-Kernel/include/freertos/stream_buffer.h
  components/freertos/FreeRTOS-Kernel/include/freertos/task.h
  components/freertos/FreeRTOS-Kernel/include/freertos/timers.h
  components/freertos/FreeRTOS-Kernel/queue.c
  components/freertos/FreeRTOS-Kernel/stream_buffer.c
  components/freertos/FreeRTOS-Kernel/tasks.c
  components/freertos/FreeRTOS-Kernel/timers.c
  components/freertos/esp_additions/include/freertos/idf_additions.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

freertos: Add unit tests for ...WithCaps() functions
  components/freertos/test_apps/freertos/misc/test_idf_additions.c
Due: none

freertos: Fix idf_additions.h include order error
  components/freertos/FreeRTOS-Kernel-SMP/include/freertos/FreeRTOS.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

freertos: Add wrapper functions to create objects with capabilities
  components/freertos/CMakeLists.txt
  components/freertos/esp_additions/idf_additions.c
  components/freertos/esp_additions/include/freertos/idf_additions.h
  components/freertos/linker_common.lf
  docs/doxygen/Doxyfile
  docs/en/api-reference/system/freertos_additions.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

bootloader: removed unavailable rtc features
  components/bootloader_support/src/esp32/bootloader_soc.c
  components/bootloader_support/src/esp32s2/bootloader_soc.c
Due: none

bootloader: fixed super watchdog not enabled issue on C3, S3, H4
  components/bootloader_support/src/esp32c3/bootloader_esp32c3.c
  components/bootloader_support/src/esp32c3/bootloader_soc.c
  components/bootloader_support/src/esp32s3/bootloader_esp32s3.c
  components/bootloader_support/src/esp32s3/bootloader_soc.c
  components/soc/esp32c3/include/soc/rtc_cntl_reg.h
  components/soc/esp32s3/include/soc/rtc_cntl_reg.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bootloader: cleanup ana reset config code
  components/bootloader_support/src/esp32c3/bootloader_esp32c3.c
Due: none

bootloader: enable super WDT and BOD reset on C2
  components/bootloader_support/src/esp32c2/bootloader_esp32c2.c
  components/bootloader_support/src/esp32c2/bootloader_soc.c
  components/soc/esp32c2/include/soc/rtc_cntl_reg.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_mm: removed empty kconfig files
  components/esp_mm/Kconfig
  components/esp_mm/Kconfig.mmap
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

sdmmc: I/O phase adjustments
  components/driver/sdmmc/sdmmc_host.c
  components/driver/sdmmc/sdmmc_transaction.c
  components/soc/esp32/include/soc/sdmmc_struct.h
  components/soc/esp32s3/include/soc/sdmmc_struct.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

sdmmc: in/out phase adapted to esp32 and esp32s3
  .gitlab/ci/target-test.yml
  components/driver/sdmmc/sdmmc_host.c
  examples/storage/emmc/main/emmc_example_main.c
  examples/storage/sd_card/sdmmc/pytest_sdmmc_card_example.py
Due: none

sdmmc: add an example communicating with eMMC chip on S3
  .gitlab/ci/target-test.yml
  conftest.py
  examples/storage/.build-test-rules.yml
  examples/storage/emmc/CMakeLists.txt
  examples/storage/emmc/README.md
  examples/storage/emmc/main/CMakeLists.txt
  examples/storage/emmc/main/Kconfig.projbuild
  examples/storage/emmc/main/emmc_example_main.c
  examples/storage/emmc/pytest_emmc_example.py
  examples/storage/emmc/sdkconfig.ci.1line
  examples/storage/emmc/sdkconfig.ci.4line
  examples/storage/emmc/sdkconfig.ci.8line
  examples/storage/emmc/sdkconfig.defaults
Due: none

Update the ESP-NOW frame length in docs
  docs/en/api-reference/network/esp_now.rst
  docs/zh_CN/api-reference/network/esp_now.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

esp_wifi: update phy_init_data.h for c6 mcs 8 9 power issue
  components/esp_phy/esp32c6/include/phy_init_data.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_wifi: Install keys after successful transmission of EAPOL 4/4 Message
  components/wpa_supplicant/esp_supplicant/src/esp_wifi_driver.h
  components/wpa_supplicant/src/rsn_supp/wpa.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_wifi: espnow support using 11ax rate to send frame
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.pp.ld
  components/esp_wifi/include/esp_now.h
  components/esp_wifi/include/esp_wifi_types.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_wifi:Enable wpsreg to initialize in APSTA mode
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/esp_supplicant/src/esp_hostpad_wps.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpa2.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
  components/wpa_supplicant/esp_supplicant/src/esp_wps.c
  components/wpa_supplicant/src/rsn_supp/wpa_i.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

system: fix esp32 chip info not listing esp32 pico v3-02 as having embedded spiram
  components/esp_hw_support/port/esp32/chip_info.c
Due: none

docs: update out-of-sync api reference docs
  docs/en/api-reference/system/ulp-risc-v.rst
  docs/zh_CN/api-reference/peripherals/ledc.rst
  docs/zh_CN/api-reference/provisioning/index.rst
  docs/zh_CN/api-reference/system/power_management.rst
  docs/zh_CN/api-reference/system/ulp-risc-v.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

mbedtls: replace low-level sha apis with md apis in esp_ssl_tls
  components/mbedtls/port/dynamic/esp_ssl_tls.c
Due: none

mbedtls: Update config options as per release/v3.4.0
  components/mbedtls/Kconfig
  components/mbedtls/port/include/mbedtls/esp_config.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

mbedtls: fix ci failures for update v3.4.0
  components/mbedtls/CMakeLists.txt
Due: none

usb_host: better debugging information during hcd_pipe_alloc() when usb_host_interface_claim() is being fulfiled.
  components/usb/hcd_dwc.c
Due: none

ci: fix build script when no test script found
  tools/ci/idf_ci_utils.py
Due: none

esp-tls: Added getter/setter function for the conn_state. * Added the setter function to set the connection sockfd value Closes https://github.com/espressif/esp-idf/issues/10871
  components/esp-tls/esp_tls.c
  components/esp-tls/esp_tls.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*
