Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG: en
      DOCTGT: esp32
    - DOCLANG: zh_CN
      DOCTGT: esp32c6
  artifacts:
    when: always
    paths:
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

enabling a partition in front of partition table
  components/esp_partition/partition_target.c
  components/partition_table/gen_esp32part.py
Due: none

feat(adc_cali): Add ADC calibration support for ESP32H2
  components/driver/test_apps/legacy_adc_driver/main/test_legacy_adc.c
  components/efuse/esp32h2/esp_efuse_rtc_calib.c
  components/efuse/esp32h2/include/esp_efuse_rtc_calib.h
  components/esp_adc/esp32h2/curve_fitting_coefficients.c
  components/esp_adc/esp32h2/include/adc_cali_schemes.h
  components/esp_adc/test_apps/adc/main/test_common_adc.h
  components/hal/esp32h2/include/hal/adc_ll.h
  components/idf_test/include/esp32h2/idf_performance_target.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/regi2c_saradc.h
  components/soc/esp32h2/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

fix(wifi): wpa3 softap fix deauth when assoc req recv before sae is finished
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
Due: none

refactor(emac): use clock_output driver for configuring RMII reference clock
  components/esp_eth/src/esp_eth_mac_esp.c
  components/esp_hw_support/clkout_channel.h
  components/esp_hw_support/esp_clock_output.c
  components/esp_hw_support/include/esp_clock_output.h
Due: build_docs_html_partial

fix(bt/bluedroid): Optimize compatibility with Android 10 and later devices
  components/esp_hid/src/ble_hidd.c
  examples/bluetooth/esp_hid_device/main/esp_hid_device_main.c
Due: none

fix(bt/bluedroid): Fix max BLE gattc notify number to improve compatibility
  examples/bluetooth/esp_hid_host/sdkconfig.defaults
Due: none

fix(bt/bluedroid): Fix key size check in BLE smp
  components/bt/host/bluedroid/bta/dm/bta_dm_co.c
Due: none

feat(bt/bluedroid): Support hid device control point
  examples/bluetooth/esp_hid_device/main/esp_hid_device_main.c
Due: none

feat(bt/bluedroid): Display BLE permission check handle in error trace
  components/bt/host/bluedroid/stack/gatt/gatt_db.c
Due: none

feat(bt/bluedroid): Support BLE gattc notify registration number
  components/bt/host/bluedroid/Kconfig.in
  components/bt/host/bluedroid/bta/gatt/bta_gattc_api.c
  components/bt/host/bluedroid/bta/gatt/include/bta_gattc_int.h
  components/bt/host/bluedroid/common/include/common/bluedroid_user_config.h
  components/bt/host/bluedroid/common/include/common/bt_target.h
Due: build_docs_html_partial

fix(bt/bluedroid): Optimize compatibility with IOS and MACOS devices
  components/esp_hid/src/ble_hidd.c
  examples/bluetooth/esp_hid_device/main/esp_hid_device_main.c
  examples/bluetooth/esp_hid_device/main/esp_hid_gap.c
Due: none

feat(freertos/idf): Add configRUN_TIME_COUNTER_TYPE option
  components/freertos/Kconfig
  components/freertos/config/include/freertos/FreeRTOSConfig.h
  components/freertos/test_apps/freertos/sdkconfig.ci.freertos_options
Due: build_docs_html_partial

fix(rom): fix wifi rom ld
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.eco7.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.net80211.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.pp.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
Due: none

change(freertos): Update real_time_stats example to use configRUN_TIME_COUNTER_TYPE
  examples/system/freertos/real_time_stats/main/real_time_stats_example_main.c
  examples/system/freertos/real_time_stats/sdkconfig.ci
  examples/system/freertos/real_time_stats/sdkconfig.defaults
Due: none

fix(spi): fixed undesired touching to DMA
  components/hal/spi_hal.c
  components/hal/spi_slave_hal.c
  components/hal/spi_slave_hd_hal.c
Due: none

fix(wifi): Fix bug using CONFIG_WIFI_ENABLED macro
  components/esp_phy/src/phy_common.c
  components/esp_phy/test/test_phy_rtc.c
  examples/bluetooth/bluedroid/classic_bt/bt_spp_acceptor/sdkconfig.defaults
  examples/bluetooth/bluedroid/classic_bt/bt_spp_initiator/sdkconfig.defaults
  examples/bluetooth/bluedroid/classic_bt/bt_spp_vfs_acceptor/sdkconfig.defaults
  examples/bluetooth/bluedroid/classic_bt/bt_spp_vfs_initiator/sdkconfig.defaults
Due: none

Fix(lwip):bugfix for add config for tcp ooseq bufs
  components/lwip/Kconfig
  components/lwip/port/include/lwipopts.h
Due: build_docs_html_partial

ble: update c2 rom.ld
  components/bt/controller/esp32c2/bt.c
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: none

manager: fixing unwinding protocom endpoints, on prov_stop. This enables starting and stopping provisioning on a pre started http server
  components/wifi_provisioning/src/manager.c
Due: none

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
