Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

fix(esp_wifi): Disable WPS timers once WPS succeed
  components/wpa_supplicant/esp_supplicant/src/esp_wps.c
Due: gen_integration_pipeline, child_integration_test_pipeline

test(bt/bluedroid): Support to disable BLE address resolution
  components/bt/host/bluedroid/stack/btm/btm_ble_addr.c
  components/bt/host/bluedroid/stack/btm/btm_main.c
  components/bt/host/bluedroid/stack/btm/include/btm_int.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(ble/bluedroid): Optimize BLE example documentation
  examples/bluetooth/bluedroid/ble/gatt_client/main/gattc_demo.c
  examples/bluetooth/bluedroid/ble/gatt_client/tutorial/Gatt_Client_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble/gatt_security_client/main/example_ble_sec_gattc_demo.c
  examples/bluetooth/bluedroid/ble_50/ble50_security_client/main/ble50_sec_gattc_demo.c
  examples/bluetooth/bluedroid/ble_50/multi-adv/main/multi_adv_demo.c
  examples/bluetooth/bluedroid/ble_50/periodic_adv/main/periodic_adv_demo.c
  examples/bluetooth/bluedroid/ble_50/periodic_adv/tutorial/Periodic_adv_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble_50/periodic_sync/main/periodic_sync_demo.c
Due: check_readme_links

change(soc): enable wifi soc wakeup and support wifi legacy sleep for esp32c61
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Prevent memory overflow in WPS
  components/wpa_supplicant/esp_supplicant/src/esp_wps.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(test): reduce gdb_loadable_elf binary size
  tools/test_apps/system/gdb_loadable_elf/sdkconfig.defaults
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: add manual job to make sure soc caps are parsed seamlessly
  .gitlab/ci/host-test.yml
  .gitlab/ci/rules.yml
  tools/ci/exclude_check_tools_files.txt
  tools/ci/idf_build_apps_dump_soc_caps.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): esp32c5 esp32c61 support external coex
  components/esp_coex/src/coexist.c
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix esp32c5 enable external coex fail issue
  components/esp_coex/src/coexist.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): update modem clock retention configure and support modem domain power down for esp32c61
  components/esp_hw_support/lowpower/port/esp32c61/sleep_clock.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): enable wifi beacon wakeup and support wifi modem state for esp32c61
  components/esp_hw_support/lowpower/port/esp32c61/sleep_modem_state.c
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): update modem to active state backup clock source for esp32c61
  components/esp_hw_support/port/esp32c61/pmu_param.c
  components/esp_hw_support/port/esp32c61/private_include/pmu_param.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ci): some modify for ci pass
  examples/wifi/.build-test-rules.yml
  examples/wifi/power_save/README.md
  examples/wifi/power_save/pytest_wifi_power_save.py
Due: check_readme_links

change(esp_phy): support phy sleep for esp32c61
  components/esp_phy/src/phy_override.c
  components/esp_rom/esp32c61/ld/esp32c61.rom.phy.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(lp_wdt): update low power wdt for C61
  components/hal/esp32c61/include/hal/lpwdt_ll.h
  components/hal/esp32c61/include/hal/rwdt_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix modem_clock_module_enable mismatch issue
  components/esp_coex/src/coexist.c
Due: gen_integration_pipeline, child_integration_test_pipeline

SAE: Reject invalid Rejected Groups element in the parser
  components/wpa_supplicant/src/common/sae.c
Due: gen_integration_pipeline, child_integration_test_pipeline

SAE: Check that peer's rejected groups are not enabled
  components/wpa_supplicant/esp_supplicant/src/esp_wpa3.c
Due: gen_integration_pipeline, child_integration_test_pipeline

SAE: Check that peer's rejected groups are not enabled in AP
  components/wpa_supplicant/src/ap/ieee802_11.c
  components/wpa_supplicant/src/common/sae.c
Due: gen_integration_pipeline, child_integration_test_pipeline

SAE: Check for invalid Rejected Groups element length explicitly
  components/wpa_supplicant/src/ap/ieee802_11.c
Due: gen_integration_pipeline, child_integration_test_pipeline

SAE: Check for invalid Rejected Groups element length explicitly on STA
  components/wpa_supplicant/esp_supplicant/src/esp_wpa3.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(rmt): support sleep retention by regdma on esp32c5
  components/esp_driver_rmt/include/driver/rmt_rx.h
  components/esp_driver_rmt/include/driver/rmt_tx.h
  components/esp_driver_rmt/src/rmt_common.c
  components/esp_driver_rmt/src/rmt_rx.c
  components/esp_driver_rmt/src/rmt_tx.c
  components/esp_driver_rmt/test_apps/rmt/main/test_rmt_sleep.c
  components/hal/esp32c5/include/hal/rmt_ll.h
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c5/rmt_periph.c
  components/soc/esp32c6/rmt_periph.c
  components/soc/esp32h2/rmt_periph.c
  components/soc/esp32p4/rmt_periph.c
  docs/en/api-reference/peripherals/rmt.rst
  docs/zh_CN/api-reference/peripherals/rmt.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

refactor(rmt): deprecate io_loop_back
  components/esp_driver_gpio/README.md
  components/esp_driver_rmt/src/rmt_rx.c
  components/esp_driver_rmt/src/rmt_tx.c
  components/esp_driver_rmt/test_apps/rmt/main/test_rmt_common.c
  components/esp_driver_rmt/test_apps/rmt/main/test_rmt_iram.c
  components/esp_driver_rmt/test_apps/rmt/main/test_rmt_rx.c
  components/esp_driver_rmt/test_apps/rmt/main/test_rmt_sleep.c
  docs/en/api-reference/peripherals/rmt.rst
  docs/zh_CN/api-reference/peripherals/rmt.rst
  tools/unit-test-app/components/test_utils/ref_clock_impl_rmt_pcnt.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

docs: provide CN translation for storage/vfs updates
  docs/en/api-reference/storage/vfs.rst
  docs/zh_CN/api-reference/storage/vfs.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview
