Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_fast: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*

freertos: Xtensa FreeRTOS saves threadptr in solicited stack frame
  components/freertos/port/xtensa/portasm.S
  components/xtensa/include/xtensa/xtensa_context.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

freertos-smp: fix pytest_esp_timer test with FreeRTOS SMP enabled
  examples/system/esp_timer/pytest_esp_timer.py
Due: none

fixing build problem
  components/esp_system/port/arch/riscv/panic_arch.c
Due: none

install script for wolfssl component
  components/wolfssl/wolfSSL_README.md
  components/wolfssl/wolfssl_setup.cmd
Due: none

move init func to nimble
  components/bt/host/nimble/port/include/esp_nimble_main.h
  components/bt/host/nimble/port/src/esp_nimble_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

update head files for nimble Remove some useless error printing display
  components/bt/porting/nimble/include/nimble/nimble_port.h
  components/bt/porting/npl/freertos/include/nimble/nimble_port_freertos.h
  components/bt/porting/npl/freertos/src/npl_os_freertos.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

docs: fix all doxygen warnings
  components/app_update/include/esp_ota_ops.h
  components/esp_eth/include/esp_eth_mac.h
  components/esp_https_server/include/esp_https_server.h
  components/esp_hw_support/include/esp_mac.h
  components/esp_lcd/include/esp_lcd_panel_io.h
  components/esp_lcd/include/esp_lcd_panel_rgb.h
  components/esp_lcd/include/esp_lcd_panel_vendor.h
  components/esp_netif/include/esp_netif_ip_addr.h
  components/esp_netif/include/esp_netif_types.h
  components/esp_phy/include/esp_phy_init.h
  components/freertos/include/freertos/queue.h
  components/freertos/include/freertos/task.h
  components/hal/include/hal/adc_types.h
  components/protocomm/include/transports/protocomm_ble.h
  components/soc/esp32/include/soc/soc_caps.h
  components/touch_element/include/touch_element/touch_element.h
  components/touch_element/include/touch_element/touch_matrix.h
  components/touch_element/include/touch_element/touch_slider.h
  components/usb/include/usb/usb_host.h
  components/usb/include/usb/usb_types_ch9.h
  components/usb/include/usb/usb_types_stack.h
  docs/conf_common.py
  docs/doxygen-known-warnings.txt
  docs/doxygen/Doxyfile
  docs/doxygen/Doxyfile_esp32s3
  docs/requirements.txt
  docs/sphinx-known-warnings.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

Icmp: get tos parameter in icmp reply
  components/lwip/apps/ping/ping_sock.c
  components/lwip/include/apps/ping/ping_sock.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

bugfix for add ttl for ping socket
  components/lwip/apps/ping/esp_ping.c
  components/lwip/apps/ping/ping_sock.c
  components/lwip/include/apps/ping/ping_sock.h
  examples/protocols/icmp_echo/main/echo_example_main.c
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

ci: add support nightly jobs for pytest cases
  conftest.py
  pytest.ini
Due: none

(Xtensa) Build: add .xt.prop and .xt.lit to the compiled ELF file
  components/bootloader/subproject/main/ld/esp32/bootloader.ld
  components/bootloader/subproject/main/ld/esp32s2/bootloader.ld
  components/bootloader/subproject/main/ld/esp32s3/bootloader.ld
  components/esp_system/ld/esp32/sections.ld.in
  components/esp_system/ld/esp32s2/sections.ld.in
  components/esp_system/ld/esp32s3/sections.ld.in
Due: none

freertos-smp: Fix spi_speed test for FreeRTOS SMP
  components/idf_test/include/esp32c3/idf_performance_target.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

esp_system: TWDT needs to deregister idle hook callback on esp_task_wdt_deinit()
  components/esp_system/task_wdt.c
Due: none

Heap: heap_caps_*_prefer functions now properly call alloc_failed callback
  components/heap/heap_caps.c
Due: none

refactor (soc, esp_rom)!: removed target-specific ROM dependencies
  components/esp_rom/include/esp32/rom/lldesc.h
  components/esp_rom/include/esp32c2/rom/lldesc.h
  components/esp_rom/include/esp32c3/rom/lldesc.h
  components/esp_rom/include/esp32h2/rom/lldesc.h
  components/esp_rom/include/esp32s2/rom/lldesc.h
  components/esp_rom/include/esp32s3/rom/lldesc.h
  components/esp_rom/include/esp_rom_lldesc.h
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/memprot_defs.h
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/include/soc/lldesc.h
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

wifi:bugfix for wrong configuration of static txbuf
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: none

freertos: Fix stack and TCB allocation order in SMP FreeRTOS
  components/freertos/FreeRTOS-Kernel-SMP/portable/riscv/port.c
  components/freertos/FreeRTOS-Kernel-SMP/portable/xtensa/port.c
Due: none

Update esp32h2 beta2 lib to master
  components/bt/controller/esp32h2/bt.c
  components/bt/include/esp32h2/include/esp_bt.h
  components/esp_rom/esp32h2/ld/rev2/esp32h2.rom.ld
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

Bluedroid: fix channel map of ext adv params check
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
Due: none

Increase timeout in advanced OTA example test
  examples/system/ota/advanced_https_ota/pytest_advanced_ota.py
Due: none

Fix OTA example test to fix CI failures
  examples/system/ota/advanced_https_ota/pytest_advanced_ota.py
  examples/system/ota/native_ota_example/pytest_native_ota.py
  examples/system/ota/pre_encrypted_ota/pytest_pre_encrypted_ota.py
  examples/system/ota/simple_ota_example/pytest_simple_ota.py
Due: none

ulp: remove ESP32 ULP TSENS references
  components/ulp/test/ulp_fsm/test_ulp.c
  components/ulp/ulp_fsm/include/esp32/ulp.h
  docs/en/api-reference/system/ulp_instruction_set.rst
  examples/system/deep_sleep/main/Kconfig.projbuild
  examples/system/deep_sleep/main/deep_sleep_example_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

efuse: Fix burn operation when data was written directly to regs
  components/efuse/src/esp32/esp_efuse_utility.c
Due: none

support c2 26M/32M xtal for bbpll
  components/esp_hw_support/port/esp32c2/rtc_clk.c
  components/hal/esp32c2/include/hal/clk_tree_ll.h
  components/soc/esp32c2/include/soc/rtc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

uart: Add a new API to get the free space size of tx buffer
  components/driver/include/driver/uart.h
  components/driver/test/test_uart.c
  components/driver/uart.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

improve docs about flash power-down
  docs/en/api-reference/system/sleep_modes.rst
  docs/zh_CN/api-reference/system/sleep_modes.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

freertos-smp: Update performance threshold for esp_event performance test with FreeRTOS SMP
  components/idf_test/include/idf_performance.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

freertos-smp: Update performance thresholds for VFS Open, Write, Close test with FreeRTOS SMP
  components/idf_test/include/idf_performance.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

fix wrong params of get_report_by_id_and_type in bt_hidd.c
  components/esp_hid/src/bt_hidd.c
  tools/ci/check_copyright_ignore.txt
Due: none
