Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

fix(bt/bluedroid): Fixed incorrect types of some variables in SDP
  components/bt/host/bluedroid/api/esp_sdp_api.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt): Fix incorrect type returned when searching SAP record
  components/bt/host/bluedroid/bta/sdp/bta_sdp_act.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt): Fix the incorrect record found using uuid16 search
  components/bt/host/bluedroid/bta/sdp/bta_sdp_act.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): fixed the format error of passkey printing
  examples/bluetooth/bluedroid/classic_bt/a2dp_sink/main/main.c
  examples/bluetooth/bluedroid/classic_bt/a2dp_source/main/main.c
  examples/bluetooth/bluedroid/classic_bt/bt_hid_mouse_device/main/main.c
  examples/bluetooth/bluedroid/classic_bt/bt_l2cap_client/main/main.c
  examples/bluetooth/bluedroid/classic_bt/bt_l2cap_server/main/main.c
  examples/bluetooth/bluedroid/classic_bt/bt_spp_acceptor/main/main.c
  examples/bluetooth/bluedroid/classic_bt/bt_spp_initiator/main/main.c
  examples/bluetooth/bluedroid/classic_bt/bt_spp_vfs_acceptor/main/main.c
  examples/bluetooth/bluedroid/classic_bt/bt_spp_vfs_initiator/main/main.c
  examples/bluetooth/bluedroid/classic_bt/hfp_hf/main/main.c
  examples/bluetooth/bluedroid/coex/a2dp_gatts_coex/main/main.c
  examples/bluetooth/esp_hid_device/main/esp_hid_gap.c
  examples/bluetooth/esp_hid_host/main/esp_hid_gap.c
Due: none

fix(bt): Fixed SDP record integrity check bug
  components/bt/host/bluedroid/api/esp_sdp_api.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_system): add missing `arrays` attribute in the ESP32-P4 linker script
  components/esp_system/ld/esp32p4/sections.ld.in
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): support esp ble controller spi output interface for ESP32-C2
  components/bt/controller/esp32c2/Kconfig.in
  components/bt/controller/esp32c2/bt.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): support esp ble controller spi output interface for ESP32-C6
  components/bt/controller/esp32c6/Kconfig.in
  components/bt/controller/esp32c6/bt.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): support esp ble controller spi output interface for ESP32-H2
  components/bt/controller/esp32h2/Kconfig.in
  components/bt/controller/esp32h2/bt.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): add spi output interface for esp ble controller log
  components/bt/CMakeLists.txt
  components/bt/common/ble_log/ble_log_spi_out.c
  components/bt/common/ble_log/include/ble_log/ble_log_spi_out.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(ble): update esp32c2 rom ld file
  components/esp_rom/esp32c2/ld/esp32c2.rom.ble-eco4.ld
  components/esp_rom/esp32c2/ld/esp32c2.rom.ble.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(docs): re-organize security docs for better navigation
  docs/en/security/index.rst
  docs/en/security/security.rst
  docs/zh_CN/security/index.rst
  docs/zh_CN/security/security.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(ldgen): don't emit intermediate placements without sections
  tools/ldgen/ldgen/generation.py
  tools/ldgen/test/data/libsoc.a.txt
  tools/ldgen/test/test_generation.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Fix stack curruption in btm task (v5.3)
  components/wpa_supplicant/esp_supplicant/src/esp_common.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Fix stack curruption in btm task (v5.2)
  components/wpa_supplicant/esp_supplicant/src/esp_common.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Modify authmode to sta for sta connect event
  components/esp_wifi/include/esp_wifi_types_generic.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_system): Skip populating and checking the image header for pure RAM apps
  components/esp_system/port/cpu_start.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_system): Correct address used to fetch application image header
  components/esp_system/port/cpu_start.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(phy): add gpio cmd for cert test
  examples/phy/cert_test/main/cmd_phy.c
  examples/phy/cert_test/main/cmd_phy.h
Due: none

ci: set app_list to empty list when not None
  tools/ci/idf_pytest/plugin.py
Due: gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
