Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

Fixed vulnerability attacks that could cause heap overflow in fragmented Blufi packet processing
  components/bt/common/api/include/api/esp_blufi_api.h
  components/bt/common/btc/profile/esp/blufi/blufi_prf.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

ble: Fixed flow control count error on ESP32-C2
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: none

Correct typo in referenced function name
  docs/en/api-reference/peripherals/uart.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

esp_mm: fix dependency to esp_psram
  components/esp_mm/cache_esp32.c
  components/esp_mm/esp_mmu_map.c
  components/esp_mm/include/esp_private/esp_cache_esp32_private.h
  components/esp_mm/linker.lf
  components/esp_psram/esp_psram.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

mbedtls: updated to use default gdma psram alignment
  components/mbedtls/port/crypto_shared_gdma/esp_crypto_shared_gdma.c
Due: none

gdma: fix potential unaligned cache writeback issue
  components/esp_hw_support/dma/gdma.c
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_mm: cache_msync API
  components/esp_lcd/CMakeLists.txt
  components/esp_lcd/src/esp_lcd_panel_rgb.c
  components/esp_mm/CMakeLists.txt
  components/esp_mm/esp_cache.c
  components/esp_mm/include/esp_cache.h
  components/esp_mm/linker.lf
  components/esp_mm/test_apps/mm/CMakeLists.txt
  components/esp_mm/test_apps/mm/README.md
  components/esp_mm/test_apps/mm/main/CMakeLists.txt
  components/esp_mm/test_apps/mm/main/test_app_main.c
  components/esp_mm/test_apps/mm/main/test_cache_msync.c
  components/esp_mm/test_apps/mm/main/test_mmap.c
  components/esp_mm/test_apps/mm/partitions.csv
  components/esp_mm/test_apps/mm/pytest_mmap.py
  components/esp_mm/test_apps/mm/sdkconfig.ci.psram_release
  components/esp_mm/test_apps/mm/sdkconfig.ci.release
  components/esp_mm/test_apps/mm/sdkconfig.ci.xip_psram
  components/esp_mm/test_apps/mm/sdkconfig.defaults
  components/esp_mm/test_apps/mmap_hw/CMakeLists.txt
  components/esp_mm/test_apps/mmap_hw/README.md
  components/esp_mm/test_apps/mmap_hw/main/CMakeLists.txt
  components/esp_mm/test_apps/mmap_hw/main/test_app_main.c
  components/esp_mm/test_apps/mmap_hw/main/test_mmap_hw.c
  components/esp_mm/test_apps/mmap_hw/partitions.csv
  components/esp_mm/test_apps/mmap_hw/pytest_mmap_hw.py
  components/esp_mm/test_apps/mmap_hw/sdkconfig.ci.release
  components/esp_mm/test_apps/mmap_hw/sdkconfig.defaults
  components/hal/cache_hal.c
  components/hal/include/hal/cache_hal.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

mcpwm: fix h2 mcpwm legacy test
  components/driver/.build-test-rules.yml
  components/driver/test_apps/legacy_mcpwm_driver/main/test_app_main.c
  components/driver/test_apps/legacy_mcpwm_driver/main/test_legacy_mcpwm.c
  components/driver/test_apps/legacy_mcpwm_driver/pytest_legacy_mcpwm.py
Due: none

spi: enable h2 spi multi board test
  .gitlab/ci/target-test.yml
Due: none

http_client: fixed looping caused when disable_auto_redirect enabled
  components/esp_http_client/esp_http_client.c
  components/esp_http_client/include/esp_http_client.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

IEEE802154: replace esp32h4 with esp32c6 for IEEE802.15.4 CI test
  .gitlab/ci/build.yml
  .gitlab/ci/rules.yml
  .gitlab/ci/target-test.yml
  components/ieee802154/.build-test-rules.yml
  components/ieee802154/test_apps/test_ieee802154/README.md
  components/ieee802154/test_apps/test_ieee802154/pytest_test_ieee802154.py
  components/ieee802154/test_apps/test_ieee802154/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

[Heap Trace] Perf: use hash map to speed up leaks mode
  components/heap/heap_trace_standalone.c
  components/heap/include/esp_heap_trace.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Fix DangerJS check for MR title - exact match WIP and DRAFT
  .gitlab/dangerfile.js
Due: none

esp_adc: fix continuous mode pm lock release fail issue and add tests
  components/esp_adc/adc_continuous.c
  components/esp_adc/test_apps/adc/pytest_adc.py
  components/esp_adc/test_apps/adc/sdkconfig.ci.pm_enable
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bluedroid: support ble privacy by controller
  components/bt/host/bluedroid/stack/btm/btm_ble.c
  components/bt/host/bluedroid/stack/btm/btm_ble_5_gap.c
  components/bt/host/bluedroid/stack/btm/btm_ble_addr.c
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/btm/btm_ble_privacy.c
  components/bt/host/bluedroid/stack/btm/btm_sec.c
  components/bt/host/bluedroid/stack/btm/include/btm_ble_int.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

examples: fix ble address type of adv and scan params
  examples/bluetooth/bluedroid/ble/ble_ancs/main/ble_ancs_demo.c
  examples/bluetooth/bluedroid/ble/gatt_security_client/main/example_ble_sec_gattc_demo.c
  examples/bluetooth/bluedroid/ble/gatt_security_server/main/example_ble_sec_gatts_demo.c
  examples/bluetooth/bluedroid/coex/a2dp_gatts_coex/main/main.c
Due: none

bluedroid: add params in GATT connect event
  components/bt/host/bluedroid/api/include/api/esp_gattc_api.h
  components/bt/host/bluedroid/api/include/api/esp_gatts_api.h
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
  components/bt/host/bluedroid/bta/gatt/bta_gattc_utils.c
  components/bt/host/bluedroid/bta/gatt/bta_gatts_act.c
  components/bt/host/bluedroid/bta/gatt/include/bta_gattc_int.h
  components/bt/host/bluedroid/bta/include/bta/bta_gatt_api.h
  components/bt/host/bluedroid/btc/profile/std/gatt/btc_gattc.c
  components/bt/host/bluedroid/btc/profile/std/gatt/btc_gatts.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

efuse: Updates efuse table for esp32c6
  .gitlab/ci/host-test.yml
  components/efuse/esp32c6/esp_efuse_rtc_calib.c
  components/efuse/esp32c6/esp_efuse_table.c
  components/efuse/esp32c6/esp_efuse_table.csv
  components/efuse/esp32c6/include/esp_efuse_table.h
  components/hal/esp32c6/efuse_hal.c
  components/hal/esp32c6/include/hal/efuse_ll.h
  components/soc/esp32c6/include/soc/efuse_defs.h
  components/soc/esp32c6/include/soc/efuse_reg.h
  components/soc/esp32c6/include/soc/efuse_struct.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Reformulated "missing JIRA links" message
  .gitlab/dangerfile.js
Due: none

tools: Docker: add build-essentials needed for linux targets
  tools/docker/Dockerfile
Due: none

Nimble:Re-run ext adv after completion
  examples/bluetooth/nimble/bleprph/main/main.c
Due: none

ledc: Fix improper fade parameters for one-time duty set
  components/driver/ledc/ledc.c
Due: none

Tools: gdbgui is not supported on Python 3.11
  requirements.txt
  tools/idf_py_actions/debug_ext.py
Due: none

esp_ringbuf: Replace internal semaphores with task event lists
  components/esp_ringbuf/include/freertos/ringbuf.h
  components/esp_ringbuf/linker.lf
  components/esp_ringbuf/ringbuf.c
  docs/en/api-reference/system/freertos_additions.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

esp_ringbuf: Clarify behavior when sending items of 0 size
  components/esp_ringbuf/include/freertos/ringbuf.h
  components/esp_ringbuf/ringbuf.c
  components/esp_ringbuf/test_apps/main/test_ringbuf.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_dpp: Fix retry with esp_supp_dpp_start_listen after failure
  components/wpa_supplicant/esp_supplicant/src/esp_dpp.c
Due: none

Create manual.yml
  .github/workflows/manual.yml
Due: none

adding qemu workflow
  .github/workflows/manual.yml
Due: none

Revert "adding qemu workflow"
  .github/workflows/manual.yml
Due: none

Revert "Create manual.yml"
  .github/workflows/manual.yml
Due: none

doc: initial parallel IO programming guide
  docs/conf_common.py
  docs/doxygen/Doxyfile
  docs/en/api-reference/peripherals/gpio/esp32h2.inc
  docs/en/api-reference/peripherals/index.rst
  docs/en/api-reference/peripherals/parlio.rst
  docs/zh_CN/api-reference/peripherals/gpio/esp32h2.inc
  docs/zh_CN/api-reference/peripherals/index.rst
  docs/zh_CN/api-reference/peripherals/parlio.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

parlio: add simple rgb led matrix example
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/parlio/simple_rgb_led_matrix/CMakeLists.txt
  examples/peripherals/parlio/simple_rgb_led_matrix/README.md
  examples/peripherals/parlio/simple_rgb_led_matrix/main/CMakeLists.txt
  examples/peripherals/parlio/simple_rgb_led_matrix/main/idf_component.yml
  examples/peripherals/parlio/simple_rgb_led_matrix/main/lvgl_demo_ui.c
  examples/peripherals/parlio/simple_rgb_led_matrix/main/rgb_led_matrix_example_main.c
  examples/peripherals/parlio/simple_rgb_led_matrix/pytest_simple_rgb_led_matrix.py
  examples/peripherals/parlio/simple_rgb_led_matrix/sdkconfig.defaults
Due: none

driver: fix typo "destroy"
  components/driver/gptimer/gptimer.c
  components/driver/mcpwm/mcpwm_cap.c
  components/driver/mcpwm/mcpwm_cmpr.c
  components/driver/mcpwm/mcpwm_fault.c
  components/driver/mcpwm/mcpwm_gen.c
  components/driver/mcpwm/mcpwm_oper.c
  components/driver/mcpwm/mcpwm_sync.c
  components/driver/mcpwm/mcpwm_timer.c
  components/driver/pcnt/pulse_cnt.c
  components/driver/rmt/rmt_rx.c
  components/driver/rmt/rmt_tx.c
  components/driver/sigma_delta/sdm.c
Due: none

ld: fixed bootloader and app potential overlap issue
  components/bootloader/subproject/main/ld/esp32c2/bootloader.ld
  components/bootloader/subproject/main/ld/esp32c3/bootloader.ld
  components/bootloader/subproject/main/ld/esp32c6/bootloader.ld
  components/bootloader/subproject/main/ld/esp32h2/bootloader.ld
  components/esp_system/ld/esp32c2/memory.ld.in
  components/esp_system/ld/esp32c3/memory.ld.in
  components/esp_system/ld/esp32c6/memory.ld.in
  components/esp_system/ld/esp32h2/memory.ld.in
Due: none

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*
