Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*

espcoredump: enable tests for esp32c2 target
  components/espcoredump/test/esp32c2/coredump.b64
  components/espcoredump/test/esp32c2/expected_output
  components/espcoredump/test/test_espcoredump.py
  components/espcoredump/test/test_espcoredump.sh
  components/espcoredump/test/test_sections.c
Due: none

ci: update coredump elf repository tag
  .gitlab/ci/host-test.yml
Due: none

example: fixed spi_slave_hd and sdio hosts should pull essl package of compatible versions
  examples/peripherals/sdio/host/main/idf_component.yml
  examples/peripherals/spi_slave_hd/append_mode/master/main/idf_component.yml
  examples/peripherals/spi_slave_hd/segment_mode/seg_master/main/idf_component.yml
Due: none

1.add ldo parameters in efuse table; 2.set ldo based on pvt-efuse; 3.ldo voltage is changed based on cpu freq
  components/efuse/esp32s3/esp_efuse_table.c
  components/efuse/esp32s3/esp_efuse_table.csv
  components/efuse/esp32s3/include/esp_efuse_table.h
  components/esp_hw_support/port/esp32s3/rtc_clk.c
  components/esp_hw_support/port/esp32s3/rtc_init.c
  components/soc/esp32s3/include/soc/rtc.h
  components/soc/esp32s3/include/soc/rtc_cntl_reg.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

openthread: Add some flash optimization options for openthread component
  components/openthread/CMakeLists.txt
  components/openthread/Kconfig
  components/openthread/private_include/openthread-core-esp32x-ftd-config.h
  components/openthread/private_include/openthread-core-esp32x-mtd-config.h
  components/openthread/src/esp_openthread_stubs.c
  examples/openthread/ot_br/main/idf_component.yml
  examples/openthread/ot_cli/main/esp_ot_cli.c
  examples/openthread/ot_cli/main/idf_component.yml
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

heap: update esp32c6 memory layout
  components/heap/port/esp32c6/memory_layout.c
  components/soc/esp32c6/include/soc/soc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bootloader: update bootloader memory map
  components/bootloader/subproject/main/ld/esp32c6/bootloader.ld
Due: none

rom: update freeze rom and ld (20220919)
  components/esp_rom/esp32c6/ld/esp32c6.rom.coexist.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.heap.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.libgcc.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.net80211.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.newlib-normal.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.newlib.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.phy.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.pp.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.rvfp.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.spiflash.ld
Due: none

esptool: (re)populate the secure boot signing key path
  components/esptool_py/project_include.cmake
Due: none

wifi_prov_mgr: Add support for re-provisioning
  components/wifi_provisioning/include/wifi_provisioning/manager.h
  components/wifi_provisioning/src/manager.c
  examples/provisioning/wifi_prov_mgr/main/Kconfig.projbuild
  examples/provisioning/wifi_prov_mgr/main/app_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

protocomm: `MBEDTLS_PRIVATE` & `MBEDTLS_ALLOW_PRIVATE_ACCESS`-related cleanup
  components/protocomm/src/security/security1.c
  components/protocomm/test_apps/main/test_protocomm.c
Due: none

mbedtls: `MBEDTLS_PRIVATE` & `MBEDTLS_ALLOW_PRIVATE_ACCESS`-related cleanup
  components/mbedtls/port/dynamic/esp_mbedtls_dynamic_impl.c
  components/mbedtls/port/dynamic/esp_mbedtls_dynamic_impl.h
  components/mbedtls/port/dynamic/esp_ssl_cli.c
  components/mbedtls/port/dynamic/esp_ssl_srv.c
  components/mbedtls/port/ecc/ecc_alt.c
  components/mbedtls/port/esp_timing.c
  components/mbedtls/test_apps/main/test_ecp.c
  components/protocomm/test_apps/main/test_protocomm.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

intr_alloc: Fixed missing portEXIT_CRITICAL_SAFE
  components/esp_hw_support/intr_alloc.c
Due: none

sdio/example: fixed the essl return type issue
  examples/peripherals/sdio/host/main/app_main.c
Due: none

essl: move from esp-idf component to extra component
  components/driver/test/CMakeLists.txt
  components/driver/test/esp_serial_slave_link/CMakeLists.txt
  components/driver/test/esp_serial_slave_link/LICENSE
  components/driver/test/esp_serial_slave_link/README.md
  components/driver/test/esp_serial_slave_link/essl.c
  components/driver/test/esp_serial_slave_link/essl_internal.h
  components/driver/test/esp_serial_slave_link/essl_sdio.c
  components/driver/test/esp_serial_slave_link/essl_spi.c
  components/driver/test/esp_serial_slave_link/include/esp_serial_slave_link/essl.h
  components/driver/test/esp_serial_slave_link/include/esp_serial_slave_link/essl_sdio.h
  components/driver/test/esp_serial_slave_link/include/esp_serial_slave_link/essl_spi.h
  components/driver/test/esp_serial_slave_link/include/essl_spi/esp32c2_defs.h
  components/driver/test/esp_serial_slave_link/include/essl_spi/esp32c3_defs.h
  components/driver/test/esp_serial_slave_link/include/essl_spi/esp32s2_defs.h
  components/driver/test/esp_serial_slave_link/include/essl_spi/esp32s3_defs.h
  components/driver/test/test_sdio.c
  components/esp_serial_slave_link/CMakeLists.txt
  docs/doxygen/Doxyfile
  docs/en/migration-guides/release-5.x/removed-components.rst
  examples/peripherals/i2s/i2s_codec/i2s_es8311/README.md
  examples/peripherals/sdio/README.md
  examples/peripherals/sdio/host/main/app_main.c
  examples/peripherals/sdio/host/main/idf_component.yml
  examples/peripherals/spi_slave_hd/append_mode/README.md
  examples/peripherals/spi_slave_hd/append_mode/master/main/app_main.c
  examples/peripherals/spi_slave_hd/append_mode/master/main/idf_component.yml
  examples/peripherals/spi_slave_hd/append_mode/slave/main/app_main.c
  examples/peripherals/spi_slave_hd/segment_mode/seg_master/main/idf_component.yml
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Fixed the issue that master sends retransmitted data incorrectly on ESP32C2
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: none

spi_flash: Add documents for flash optional features
  docs/en/api-reference/storage/auto_suspend.inc
  docs/en/api-reference/storage/spi_flash.rst
  docs/en/api-reference/storage/spi_flash_concurrency.rst
  docs/en/api-reference/storage/spi_flash_optional_feature.rst
  docs/zh_CN/api-reference/storage/auto_suspend.inc
  docs/zh_CN/api-reference/storage/spi_flash.rst
  docs/zh_CN/api-reference/storage/spi_flash_concurrency.rst
  docs/zh_CN/api-reference/storage/spi_flash_optional_feature.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

spi_flash: Fix bug that in bootloader dummy is 0 when mosi is 0
  components/bootloader_support/src/bootloader_flash.c
Due: none

spi_flash: Building a framework to enable HPM when flash works under high speed mode
  components/bootloader_support/include_bootloader/bootloader_flash_priv.h
  components/bootloader_support/src/bootloader_flash.c
  components/bootloader_support/src/flash_qio_mode.c
  components/spi_flash/CMakeLists.txt
  components/spi_flash/flash_ops.c
  components/spi_flash/include/esp_private/spi_flash_os.h
  components/spi_flash/include/spi_flash/spi_flash_defs.h
  components/spi_flash/include/spi_flash_override.h
  components/spi_flash/linker.lf
  components/spi_flash/spi_flash_hpm_enable.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

spi_flash: remove xmc hpm support, because there is some compatible issue with ROM, Closes https://github.com/espressif/esp-idf/issues/8560
  components/bootloader_support/src/flash_qio_mode.c
  components/spi_flash/spi_flash_hpm_enable.c
Due: none

lwip: Migrate unit tests to test_apps
  components/lwip/test/CMakeLists.txt
  components/lwip/test_apps/.build-test-rules.yml
  components/lwip/test_apps/CMakeLists.txt
  components/lwip/test_apps/README.md
  components/lwip/test_apps/main/CMakeLists.txt
  components/lwip/test_apps/main/lwip_test.c
  components/lwip/test_apps/pytest_lwip.py
  components/lwip/test_apps/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

spi_flash: fix hpm dummy error when using 80m flash and psram
  components/spi_flash/esp32s3/spi_timing_config.c
Due: none

fatfs: unittest fatfs ignores leading spaces
  components/fatfs/test/test_fatfs_common.c
  components/fatfs/test/test_fatfs_common.h
  components/fatfs/test/test_fatfs_spiflash.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_wifi: Remove unnecessary function pointer from wpa_sm_init
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpas_glue.c
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa_i.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

CI: fix upload submodule cache for runners using mirror server
  .gitlab/ci/upload_cache.yml
Due: none

fatfs: enabled reading sector size and sectors count from boot sector in rawflash
  components/fatfs/diskio/diskio_rawflash.c
  components/fatfs/fatfs_utils/utils.py
  components/fatfs/fatfsgen.py
  components/fatfs/wl_fatfsgen.py
  tools/ci/check_copyright_ignore.txt
Due: none

fatfsgen.py: omit cluster allocation when the file is empty
  components/fatfs/fatfs_utils/fs_object.py
  components/fatfs/fatfsgen.py
  components/fatfs/fatfsparse.py
Due: none

added at25 family SPI flash driver
  components/spi_flash/CMakeLists.txt
  components/spi_flash/Kconfig
  components/spi_flash/include/spi_flash_chip_at25.h
  components/spi_flash/linker.lf
  components/spi_flash/spi_flash_chip_at25.c
  components/spi_flash/spi_flash_chip_drivers.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

ci: Fix mqtt broker is not available
  examples/protocols/mqtt5/sdkconfig.ci
  tools/unit-test-app/configs/mqtt
Due: none

openthread: support Ethernet based Thread BR
  examples/openthread/ot_br/README.md
  examples/openthread/ot_br/main/esp_ot_br.c
Due: none

spi_flash: Add several flash chips HPM(120M) support
  components/bootloader_support/include_bootloader/bootloader_flash_priv.h
  components/esptool_py/Kconfig.projbuild
  components/spi_flash/Kconfig
  components/spi_flash/esp32s3/spi_timing_config.c
  components/spi_flash/esp_flash_spi_init.c
  components/spi_flash/include/esp_flash.h
  components/spi_flash/include/esp_private/spi_flash_os.h
  components/spi_flash/include/spi_flash/spi_flash_defs.h
  components/spi_flash/include/spi_flash_override.h
  components/spi_flash/spi_flash_chip_generic.c
  components/spi_flash/spi_flash_hpm_enable.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

re-enable some dummy based HPM flash chips
  components/bootloader_support/include_bootloader/bootloader_flash_priv.h
  components/bootloader_support/src/bootloader_flash.c
  components/bootloader_support/src/esp32s3/bootloader_esp32s3.c
  components/esptool_py/project_include.cmake
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

update controller lib for bugfix on light-sleep
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: none

fix ble compilation error
  components/bt/controller/esp32c2/bt.c
Due: none

esp_wifi:added hash key length validation
  components/wpa_supplicant/esp_supplicant/src/crypto/crypto_mbedtls-rsa.c
Due: none
