Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

feat(esp_tee): Support for ESP32-C5 - the `esp_tee` component
  components/esp_tee/CMakeLists.txt
  components/esp_tee/Kconfig.projbuild
  components/esp_tee/include/private/esp_tee_binary.h
  components/esp_tee/scripts/esp32c5/sec_srv_tbl_default.yml
  components/esp_tee/src/esp_secure_service_wrapper.c
  components/esp_tee/src/esp_tee_u2m_switch.S
  components/esp_tee/subproject/components/attestation/esp_att_utils_part_info.c
  components/esp_tee/subproject/main/CMakeLists.txt
  components/esp_tee/subproject/main/arch/riscv/esp_tee_vector_table_clic.S
  components/esp_tee/subproject/main/arch/riscv/esp_tee_vector_table_plic.S
  components/esp_tee/subproject/main/arch/riscv/esp_tee_vectors_clic.S
  components/esp_tee/subproject/main/arch/riscv/esp_tee_vectors_plic.S
  components/esp_tee/subproject/main/common/multi_heap.c
  components/esp_tee/subproject/main/common/panic/esp_tee_panic.c
  components/esp_tee/subproject/main/common/panic/panic_helper_riscv.c
  components/esp_tee/subproject/main/core/esp_secure_services.c
  components/esp_tee/subproject/main/core/esp_secure_services_iram.c
  components/esp_tee/subproject/main/core/esp_tee_intr.c
  components/esp_tee/subproject/main/idf_component.yml
  components/esp_tee/subproject/main/ld/esp32c5/esp_tee.ld.in
  components/esp_tee/subproject/main/soc/esp32c5/esp_tee_apm_prot_cfg.c
  components/esp_tee/subproject/main/soc/esp32c5/esp_tee_pmp_pma_prot_cfg.c
  components/esp_tee/subproject/main/soc/esp32c5/esp_tee_secure_sys_cfg.c
  components/esp_tee/subproject/main/soc/esp32c5/include/esp_tee_intr_defs.h
  components/esp_tee/subproject/main/soc/esp32c5/include/esp_tee_rv_utils.h
  components/esp_tee/subproject/main/soc/esp32h2/esp_tee_secure_sys_cfg.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_tee): Support for ESP32-C5 - the rest of the components
  components/esp_hw_support/include/esp_cpu.h
  components/esp_hw_support/mspi_timing_tuning/port/esp32c5/mspi_timing_tuning_configs.h
  components/esp_hw_support/port/esp32c5/CMakeLists.txt
  components/esp_hw_support/port/esp32c5/cpu_region_protect.c
  components/esp_hw_support/port/esp32c5/esp_cpu_intr.c
  components/esp_hw_support/port/esp32c6/esp_cpu_intr.c
  components/esp_hw_support/port/esp32h2/cpu_region_protect.c
  components/esp_hw_support/port/esp32h2/esp_cpu_intr.c
  components/esp_mm/port/esp32c5/ext_mem_layout.c
  components/esp_rom/CMakeLists.txt
  components/esp_rom/esp32c5/ld/esp32c5.rom.ld
  components/esp_rom/include/esp_rom_tlsf.h
  components/esp_rom/patches/esp_rom_cache_esp32c5.c
  components/esp_rom/patches/esp_rom_sys.c
  components/esp_system/ld/esp32c5/memory.ld.in
  components/esp_system/ld/esp32c5/sections.ld.in
  components/esp_system/port/cpu_start.c
  components/esp_system/port/soc/esp32c5/clk.c
  components/hal/spi_flash_hal_common.inc
  components/hal/test_apps/tee/components/pms_and_cpu_intr/priv_include/esp32c5/test_rv_utils.h
  components/hal/test_apps/tee/components/pms_and_cpu_intr/priv_include/esp32c61/test_rv_utils.h
  components/heap/port/esp32c5/memory_layout.c
  components/mbedtls/esp_tee/esp_tee_crypto_shared_gdma.c
  components/mbedtls/esp_tee/esp_tee_mbedtls_config.h
  components/riscv/CMakeLists.txt
  components/riscv/include/esp_private/interrupt_clic.h
  components/riscv/include/riscv/interrupt.h
  components/riscv/include/riscv/rv_utils.h
  components/riscv/interrupt_clic.c
  components/riscv/vectors.S
  components/soc/esp32c5/register/soc/tee_reg.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci(esp_tee): Refactor the ESP-TEE test-cases
  components/esp_tee/test_apps/tee_test_fw/components/test_sec_srv/include/esp_tee_test.h
  components/esp_tee/test_apps/tee_test_fw/components/test_sec_srv/sec_srv_tbl_test.yml
  components/esp_tee/test_apps/tee_test_fw/components/test_sec_srv/src/test_dummy_srv.c
  components/esp_tee/test_apps/tee_test_fw/components/test_sec_srv/src/test_dummy_srv_wrapper.c
  components/esp_tee/test_apps/tee_test_fw/components/test_sec_srv/src/test_interrupt.c
  components/esp_tee/test_apps/tee_test_fw/components/test_sec_srv/src/test_sec_srv.c
  components/esp_tee/test_apps/tee_test_fw/main/test_esp_tee_ctx_switch.c
  components/esp_tee/test_apps/tee_test_fw/main/test_esp_tee_interrupt.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci(esp_tee): Enable the TEE test-apps for ESP32-C5
  components/esp_tee/test_apps/.build-test-rules.yml
  components/esp_tee/test_apps/tee_cli_app/README.md
  components/esp_tee/test_apps/tee_cli_app/main/tee_srv_ota.c
  components/esp_tee/test_apps/tee_cli_app/pytest_tee_cli.py
  components/esp_tee/test_apps/tee_cli_app/sdkconfig.defaults
  components/esp_tee/test_apps/tee_cli_app/test_certs/server_cert.pem
  components/esp_tee/test_apps/tee_cli_app/test_certs/server_key.pem
  components/esp_tee/test_apps/tee_test_fw/README.md
  components/esp_tee/test_apps/tee_test_fw/conftest.py
  components/esp_tee/test_apps/tee_test_fw/main/test_esp_tee_flash_prot.c
  components/esp_tee/test_apps/tee_test_fw/main/test_esp_tee_panic.c
  components/esp_tee/test_apps/tee_test_fw/pytest_esp_tee_ut.py
  components/esp_tee/test_apps/tee_test_fw/sdkconfig.defaults
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(panic_handler): Fixed a issue where the system reboots before halt
  components/esp_system/panic.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): correct a description error in the GAP header file
  components/bt/host/bluedroid/api/include/api/esp_gap_bt_api.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt/controller): fixed some controller bugs
  components/esp_rom/esp32/ld/esp32.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(driver_twai): remove self test example since it's meanless
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/twai/twai_self_test/CMakeLists.txt
  examples/peripherals/twai/twai_self_test/README.md
  examples/peripherals/twai/twai_self_test/main/CMakeLists.txt
  examples/peripherals/twai/twai_self_test/main/Kconfig.projbuild
  examples/peripherals/twai/twai_self_test/main/twai_self_test_example_main.c
  examples/peripherals/twai/twai_self_test/pytest_twai_self_test_example.py
Due: check_readme_links

feat(driver_twai): update error recover example using new driver
  components/esp_driver_twai/test_apps/test_twai/main/CMakeLists.txt
  components/esp_driver_twai/test_apps/test_twai/main/test_twai_common.c
  components/hal/twai_hal_sja1000.c
  docs/en/api-reference/peripherals/twai.rst
  docs/zh_CN/api-reference/peripherals/twai.rst
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/twai/twai_alert_and_recovery/README.md
  examples/peripherals/twai/twai_alert_and_recovery/main/CMakeLists.txt
  examples/peripherals/twai/twai_alert_and_recovery/main/Kconfig.projbuild
  examples/peripherals/twai/twai_alert_and_recovery/main/twai_alert_and_recovery_example_main.c
  examples/peripherals/twai/twai_alert_and_recovery/pytest_twai_alert_recovery_example.py
  examples/peripherals/twai/twai_error_recovery/CMakeLists.txt
  examples/peripherals/twai/twai_error_recovery/README.md
  examples/peripherals/twai/twai_error_recovery/main/CMakeLists.txt
  examples/peripherals/twai/twai_error_recovery/main/twai_recovery_main.c
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(driver_twai): update and simplify network example using new driver
  components/esp_driver_twai/esp_twai_onchip.c
  docs/en/api-reference/peripherals/twai.rst
  docs/zh_CN/api-reference/peripherals/twai.rst
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/twai/twai_network/README.md
  examples/peripherals/twai/twai_network/pytest_twai_network.py
  examples/peripherals/twai/twai_network/pytest_twai_network_example.py
  examples/peripherals/twai/twai_network/twai_listen_only/CMakeLists.txt
  examples/peripherals/twai/twai_network/twai_listen_only/main/CMakeLists.txt
  examples/peripherals/twai/twai_network/twai_listen_only/main/Kconfig.projbuild
  examples/peripherals/twai/twai_network/twai_listen_only/main/twai_listen_only.c
  examples/peripherals/twai/twai_network/twai_network_listen_only/CMakeLists.txt
  examples/peripherals/twai/twai_network/twai_network_listen_only/main/CMakeLists.txt
  examples/peripherals/twai/twai_network/twai_network_listen_only/main/Kconfig.projbuild
  examples/peripherals/twai/twai_network/twai_network_listen_only/main/twai_network_example_listen_only_main.c
  examples/peripherals/twai/twai_network/twai_network_master/main/CMakeLists.txt
  examples/peripherals/twai/twai_network/twai_network_master/main/Kconfig.projbuild
  examples/peripherals/twai/twai_network/twai_network_master/main/twai_network_example_master_main.c
  examples/peripherals/twai/twai_network/twai_network_slave/main/CMakeLists.txt
  examples/peripherals/twai/twai_network/twai_network_slave/main/Kconfig.projbuild
  examples/peripherals/twai/twai_network/twai_network_slave/main/twai_network_example_slave_main.c
  examples/peripherals/twai/twai_network/twai_sender/CMakeLists.txt
  examples/peripherals/twai/twai_network/twai_sender/main/CMakeLists.txt
  examples/peripherals/twai/twai_network/twai_sender/main/Kconfig.projbuild
  examples/peripherals/twai/twai_network/twai_sender/main/twai_sender.c
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(gpio): fix ESP32 GPIO sleep mode handling
  components/hal/esp32/gpio_hal_workaround.c
  components/hal/esp32/include/hal/gpio_ll.h
  components/hal/esp32/include/hal/rtc_io_ll.h
  components/soc/esp32/rtc_io_periph.c
  components/soc/esp32c5/rtc_io_periph.c
  components/soc/esp32c6/rtc_io_periph.c
  components/soc/esp32c61/rtc_io_periph.c
  components/soc/esp32h2/rtc_io_periph.c
  components/soc/esp32h21/rtc_io_periph.c
  components/soc/esp32p4/rtc_io_periph.c
  components/soc/esp32s2/rtc_io_periph.c
  components/soc/esp32s3/rtc_io_periph.c
  components/soc/include/soc/rtc_io_periph.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(gpio): Avoid error message when calling reset on an input only pin.
  components/esp_driver_gpio/src/gpio.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(lp_io): w1ts/w1tc register access performance is improved
  components/hal/esp32/include/hal/rtc_io_ll.h
  components/hal/esp32c5/include/hal/rtc_io_ll.h
  components/hal/esp32c6/include/hal/rtc_io_ll.h
  components/hal/esp32c61/include/hal/rtc_io_ll.h
  components/hal/esp32p4/include/hal/rtc_io_ll.h
  components/hal/esp32s2/include/hal/rtc_io_ll.h
  components/hal/esp32s3/include/hal/rtc_io_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ci): add ci test for gpio etm test cases
  components/esp_driver_gpio/test_apps/gpio_extensions/main/test_gpio_etm.c
  components/esp_driver_gpio/test_apps/gpio_extensions/pytest_gpio_extensions.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(gpio): remove GPIO_OUTPUT_SET macro for ESP32P4
  components/esp_rom/esp32/include/esp32/rom/gpio.h
  components/esp_rom/esp32c2/include/esp32c2/rom/gpio.h
  components/esp_rom/esp32c3/include/esp32c3/rom/gpio.h
  components/esp_rom/esp32c5/include/esp32c5/rom/gpio.h
  components/esp_rom/esp32c6/include/esp32c6/rom/gpio.h
  components/esp_rom/esp32c61/include/esp32c61/rom/gpio.h
  components/esp_rom/esp32h2/include/esp32h2/rom/gpio.h
  components/esp_rom/esp32h21/include/esp32h21/rom/gpio.h
  components/esp_rom/esp32h4/include/esp32h4/rom/gpio.h
  components/esp_rom/esp32p4/include/esp32p4/rom/gpio.h
  components/esp_rom/esp32s2/include/esp32s2/rom/gpio.h
  components/esp_rom/esp32s3/include/esp32s3/rom/gpio.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(gpio): fix ESP32 GPIO sleep mode handling
  components/hal/esp32/gpio_hal_workaround.c
  components/hal/esp32/include/hal/gpio_ll.h
  components/hal/esp32/include/hal/rtc_io_ll.h
  components/soc/esp32/rtc_io_periph.c
  components/soc/esp32c5/rtc_io_periph.c
  components/soc/esp32c6/rtc_io_periph.c
  components/soc/esp32c61/rtc_io_periph.c
  components/soc/esp32h2/rtc_io_periph.c
  components/soc/esp32p4/rtc_io_periph.c
  components/soc/esp32s2/rtc_io_periph.c
  components/soc/esp32s3/rtc_io_periph.c
  components/soc/include/soc/rtc_io_periph.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(gpio): Avoid error message when calling reset on an input only pin
  components/esp_driver_gpio/src/gpio.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(mbedtls/ecdsa): The ECDSA module of ESP32-H2 ECO5 does not use MPI module
  components/esp_security/src/esp_crypto_lock.c
  components/hal/esp32h2/include/hal/ecdsa_ll.h
  components/hal/esp32p4/include/hal/ecdsa_ll.h
  components/hal/test_apps/crypto/main/ecdsa/test_ecdsa.c
  components/mbedtls/port/ecdsa/ecdsa_alt.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(gpio): remove GPIO_OUTPUT_SET macro for ESP32P4
  components/esp_rom/esp32/include/esp32/rom/gpio.h
  components/esp_rom/esp32c2/include/esp32c2/rom/gpio.h
  components/esp_rom/esp32c3/include/esp32c3/rom/gpio.h
  components/esp_rom/esp32c5/include/esp32c5/rom/gpio.h
  components/esp_rom/esp32c6/include/esp32c6/rom/gpio.h
  components/esp_rom/esp32c61/include/esp32c61/rom/gpio.h
  components/esp_rom/esp32h2/include/esp32h2/rom/gpio.h
  components/esp_rom/esp32p4/include/esp32p4/rom/gpio.h
  components/esp_rom/esp32s2/include/esp32s2/rom/gpio.h
  components/esp_rom/esp32s3/include/esp32s3/rom/gpio.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(gpio): fix ESP32 GPIO sleep mode handling
  components/hal/esp32/gpio_hal_workaround.c
  components/hal/esp32/include/hal/gpio_ll.h
  components/hal/esp32/include/hal/rtc_io_ll.h
  components/soc/esp32/rtc_io_periph.c
  components/soc/esp32c6/rtc_io_periph.c
  components/soc/esp32h2/rtc_io_periph.c
  components/soc/esp32p4/rtc_io_periph.c
  components/soc/esp32s2/rtc_io_periph.c
  components/soc/esp32s3/rtc_io_periph.c
  components/soc/include/soc/rtc_io_periph.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(panic_handler): Added unit test to verify panic handler can halt
  tools/test_apps/system/panic/main/include/test_panic.h
  tools/test_apps/system/panic/main/test_app_main.c
  tools/test_apps/system/panic/main/test_panic.c
  tools/test_apps/system/panic/pytest_panic.py
  tools/test_apps/system/panic/sdkconfig.ci.panic_halt
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(esp_http_client): document default timeout behaviour
  components/esp_http_client/include/esp_http_client.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(mbedtls/ecdsa): The ECDSA module of ESP32-H2 ECO5 does not use MPI module
  components/esp_hw_support/port/esp32h2/esp_crypto_lock.c
  components/esp_hw_support/port/esp32p4/esp_crypto_lock.c
  components/hal/esp32h2/include/hal/ecdsa_ll.h
  components/hal/esp32p4/include/hal/ecdsa_ll.h
  components/hal/test_apps/crypto/main/ecdsa/test_ecdsa.c
  components/mbedtls/port/ecdsa/ecdsa_alt.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(pthread): Adds timed locks for pthread_rwlock
  components/pthread/pthread_rwlock.c
  components/pthread/test_apps/pthread_unity_tests/main/test_pthread_rwlock.c
  docs/en/api-reference/system/pthread.rst
  docs/zh_CN/api-reference/system/pthread.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(ble): disabled get lc ts for ESP32-C3 and ESP32-S3
  components/bt/common/ble_log/ble_log_spi_out.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): ble log spi out dev phase 5
  components/bt/common/Kconfig.in
  components/bt/common/ble_log/ble_log_spi_out.c
  components/bt/common/ble_log/include/ble_log/ble_log_spi_out.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(rmt): allow to set init level before any tx transmission
  components/esp_driver_rmt/include/driver/rmt_tx.h
  components/esp_driver_rmt/src/rmt_tx.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(rmt): deal with spurious RX done interrupts on ESP32
  components/driver/deprecated/rmt_legacy.c
  components/esp_driver_rmt/src/rmt_rx.c
  components/esp_driver_rmt/src/rmt_tx.c
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h21/include/soc/soc_caps.h
  components/soc/esp32h4/include/soc/soc_caps.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(rmt): deal with spurious RX done interrupts on ESP32
  components/driver/deprecated/rmt_legacy.c
  components/esp_driver_rmt/src/rmt_rx.c
  components/esp_driver_rmt/src/rmt_tx.c
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(rmt): deal with spurious RX done interrupts on ESP32
  components/driver/deprecated/rmt_legacy.c
  components/esp_driver_rmt/src/rmt_rx.c
  components/esp_driver_rmt/src/rmt_tx.c
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c5/beta3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/beta3/include/soc/soc_caps.h
  components/soc/esp32c5/mp/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/mp/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
