Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

refactor: move bootloader_init_spi_flash to bootloader_flash_config_{target}.c
  components/bootloader_support/bootloader_flash/include/esp_private/bootloader_flash_internal.h
  components/bootloader_support/bootloader_flash/src/bootloader_flash.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32c2.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32c3.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32c6.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32h2.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32h4.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32s2.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32s3.c
  components/bootloader_support/src/esp32/bootloader_esp32.c
  components/bootloader_support/src/esp32c2/bootloader_esp32c2.c
  components/bootloader_support/src/esp32c3/bootloader_esp32c3.c
  components/bootloader_support/src/esp32c6/bootloader_esp32c6.c
  components/bootloader_support/src/esp32h2/bootloader_esp32h2.c
  components/bootloader_support/src/esp32h4/bootloader_esp32h4.c
  components/bootloader_support/src/esp32s2/bootloader_esp32s2.c
  components/bootloader_support/src/esp32s3/bootloader_esp32s3.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bugfix: dual core chip haven't started the pro cpu in the bootloader, so no workaround is needed
  components/bootloader_support/src/esp32/bootloader_sha.c
Due: none

Add maximum speed to I2C slave config in docs
  docs/en/api-reference/peripherals/i2c.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

esp_netif/tests: Consolidate test_apps/unit_test
  components/esp_netif/.build-test-rules.yml
  components/esp_netif/test/CMakeLists.txt
  components/esp_netif/test/test_esp_netif.c
  components/esp_netif/test_apps/test_app_esp_netif/README.md
  components/esp_netif/test_apps/test_app_esp_netif/main/esp_netif_test.c
  tools/test_apps/.build-test-rules.yml
  tools/test_apps/protocols/esp_netif/build_config/README.md
  tools/unit-test-app/configs/default_2_c2
  tools/unit-test-app/configs/default_2_c6
Due: none

tools: allow to use hints for debug targets
  tools/idf_py_actions/debug_ext.py
Due: none

ci: Fix false positive err-logs on static-assert check
  tools/ci/check_public_headers.py
Due: none

ci: add pattern for esp flash
  .gitlab/ci/dependencies/dependencies.yml
  .gitlab/ci/rules.yml
  .gitlab/ci/target-test.yml
Due: none

ci: fix pattern sdio prefix issue
  .gitlab/ci/rules.yml
  .gitlab/ci/target-test.yml
Due: none

docs: sync up translation for api-reference
  docs/en/api-reference/peripherals/mcpwm.rst
  docs/en/api-reference/peripherals/spi_flash/index.rst
  docs/en/api-reference/protocols/esp_http_server.rst
  docs/en/api-reference/storage/index.rst
  docs/en/migration-guides/release-5.x/5.0/networking.rst
  docs/zh_CN/api-reference/peripherals/spi_flash/index.rst
  docs/zh_CN/api-reference/protocols/esp_http_server.rst
  docs/zh_CN/api-reference/storage/index.rst
  docs/zh_CN/api-reference/storage/partition.rst
  docs/zh_CN/migration-guides/release-5.x/5.0/networking.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: allow to use SPDX LicenseRef-[idstring] indentifier
  docs/en/contribute/copyright-guide.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

ci: Fix pre-commit hook per isort deps deprecation
  .pre-commit-config.yaml
Due: none

openthread: add ci for esp32c6
  .gitlab/ci/dependencies/dependencies.yml
  .gitlab/ci/target-test.yml
  conftest.py
  examples/openthread/.build-test-rules.yml
  examples/openthread/ot_ci_function.py
  examples/openthread/ot_cli/sdkconfig.ci.cli_c6
  examples/openthread/pytest_otbr.py
Due: none

tcp_transport: Add authorization header for websocket client
  components/tcp_transport/include/esp_transport_ws.h
  components/tcp_transport/transport_ws.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

mqtt/docs: Mention removal of user_context in 5.x migration guide
  docs/en/migration-guides/release-5.x/5.0/protocols.rst
  docs/zh_CN/migration-guides/release-5.x/5.0/protocols.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

mcpwm: support esp32h2
  components/driver/deprecated/driver/mcpwm.h
  components/driver/deprecated/mcpwm_legacy.c
  components/driver/mcpwm/mcpwm_com.c
  components/driver/test_apps/legacy_mcpwm_driver/README.md
  components/driver/test_apps/legacy_mcpwm_driver/main/test_legacy_mcpwm.c
  components/driver/test_apps/legacy_mcpwm_driver/pytest_legacy_mcpwm.py
  components/driver/test_apps/mcpwm/README.md
  components/driver/test_apps/mcpwm/pytest_mcpwm.py
  components/hal/esp32h2/include/hal/clk_gate_ll.h
  components/hal/esp32h2/include/hal/mcpwm_ll.h
  components/soc/esp32/include/soc/Kconfig.soc_caps.in
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/periph_defs.h
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h2/ld/esp32h2.peripherals.ld
  components/soc/esp32h2/mcpwm_periph.c
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
  docs/docs_not_updated/esp32h2.txt
  examples/peripherals/mcpwm/mcpwm_bdc_speed_control/README.md
  examples/peripherals/mcpwm/mcpwm_bldc_hall_control/README.md
  examples/peripherals/mcpwm/mcpwm_capture_hc_sr04/README.md
  examples/peripherals/mcpwm/mcpwm_capture_hc_sr04/pytest_hc_sr04.py
  examples/peripherals/mcpwm/mcpwm_servo_control/README.md
  examples/peripherals/mcpwm/mcpwm_servo_control/pytest_servo_mg996r.py
  examples/peripherals/mcpwm/mcpwm_sync/README.md
  examples/peripherals/mcpwm/mcpwm_sync/pytest_mcpwm_sync.py
  examples/peripherals/rmt/dshot_esc/main/dshot_esc_example_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

NimBLE: Added custom gatt server functionality
  examples/bluetooth/nimble/blecent/README.md
  examples/bluetooth/nimble/blecent/main/Kconfig.projbuild
  examples/bluetooth/nimble/blecent/main/main.c
  examples/bluetooth/nimble/bleprph/README.md
  examples/bluetooth/nimble/bleprph/main/Kconfig.projbuild
  examples/bluetooth/nimble/bleprph/main/bleprph.h
  examples/bluetooth/nimble/bleprph/main/gatt_svr.c
  examples/bluetooth/nimble/bleprph/main/main.c
Due: none

Nimble: Fix runtime assertion in bleprph due to two disconnect events
  examples/bluetooth/nimble/bleprph/main/main.c
Due: none

bt: fix SDP event status overwritten by handle
  components/bt/host/bluedroid/bta/include/bta/bta_sdp_api.h
  components/bt/host/bluedroid/bta/sdp/bta_sdp_act.c
  components/bt/host/bluedroid/btc/profile/std/sdp/btc_sdp.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp32c2: support rtc time feature depend on rtc memory, since c2 does not have rtc memory
  components/esp_hw_support/esp_clk.c
  components/esp_hw_support/intr_alloc.c
  components/esp_hw_support/port/esp32c2/rtc_sleep.c
  components/esp_hw_support/sleep_modes.c
  components/esp_rom/include/esp32c2/rom/rtc.h
  components/esp_system/port/soc/esp32c2/reset_reason.c
  components/hal/esp32c2/include/hal/clk_tree_ll.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

UT/esp32c2: reenable pm and sleep related UT
  components/esp_pm/test_apps/esp_pm/main/test_pm.c
  components/esp_system/.build-test-rules.yml
  components/esp_system/test/CMakeLists.txt
  components/esp_system/test/test_sleep.c
  components/esp_system/test_apps/rtc_8md256/main/test_rtc_8md256.c
  components/esp_system/test_apps/rtc_8md256/pytest_rtc_8md256.py
  examples/system/.build-test-rules.yml
  examples/system/light_sleep/README.md
  examples/system/light_sleep/main/light_sleep_example_main.c
  examples/system/light_sleep/pytest_light_sleep.py
Due: none

UT/esp32c2: reenable rtc clk calibration compensation UT
  components/esp_hw_support/test_apps/rtc_clk/main/test_rtc_clk.c
Due: none

esp32c2/rtc: fix 8md256 as rtc slow clk not work properly during deep sleep
  components/esp_hw_support/port/esp32c2/rtc_sleep.c
  components/soc/esp32c2/include/soc/rtc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

ble_mesh:example:change position of vendor model and generic onoff model callback(v4.4)
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_adapter.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_model.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_cfg_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_gen_onoff_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_test_perf_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_register_cmd.c
Due: none

esp_wifi: softap: buffer deauth, disassoc, action frames for connected station in sleep mode
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: none

esp_wifi: Add check for wps start state
  components/wpa_supplicant/src/esp_supplicant/esp_wps.c
  components/wpa_supplicant/src/wps/wps.h
  components/wpa_supplicant/src/wps/wps_enrollee.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bluetooth: fix that functions "coex_enable" and "coex_disable" are not used in pairs on ESP32-C3
  components/bt/controller/esp32c3/bt.c
Due: none

mbedtls: enable RSA support for esp32c6
  components/mbedtls/.build-test-rules.yml
  components/mbedtls/port/esp32c6/bignum.c
  components/mbedtls/test_apps/pytest_mbedtls_ut.py
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

wpa_supplicant:BDSA related patch updates
  components/wpa_supplicant/esp_supplicant/src/esp_common.c
  components/wpa_supplicant/esp_supplicant/src/esp_common_i.h
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
  components/wpa_supplicant/src/ap/wpa_auth.c
  components/wpa_supplicant/src/common/wpa_common.c
  components/wpa_supplicant/src/common/wpa_common.h
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa.h
  components/wpa_supplicant/src/rsn_supp/wpa_i.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

add NIMBLE_GAP_17021 to kownIssues (4.4)
  tools/ci/integration_test/KnownIssues
Due: none

openthread: set ot-netif as the default netif for cli example
  examples/openthread/ot_cli/main/esp_ot_cli.c
Due: none

esp_eth: possible start/stop issue fixed
  components/esp_eth/src/esp_eth.c
  components/esp_eth/src/esp_eth_mac_esp.c
  components/esp_eth/src/esp_eth_phy_802_3.c
  components/esp_eth/src/esp_eth_phy_ksz8851snl.c
  components/esp_eth/src/esp_eth_phy_w5500.c
  components/hal/emac_hal.c
  components/hal/esp32/include/hal/emac_ll.h
  examples/ethernet/enc28j60/components/eth_enc28j60/esp_eth_phy_enc28j60.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_eth: improved L2 test stability
  components/esp_eth/test_apps/main/esp_eth_test_l2.c
  components/esp_eth/test_apps/pytest_esp_eth.py
Due: none

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*
