Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

check_readme_links:
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    GIT_STRATEGY: fetch
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs: []
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
    when: always
  script:
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  - gen_integration_pipeline
  variables:
    IDF_S3_SERVER: $IDF_S3_NEW_SERVER
    IDF_S3_ACCESS_KEY: $IDF_S3_NEW_ACCESS_KEY
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
  ...

check_powershell:
  stage: pre_check
  image: docker:latest
  services:
  - docker:dind
  tags:
  - dind
  - amd64
  - brew
  needs:
  - pipeline_variables
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 1
    SUBMODULES_TO_FETCH: none
  script:
  - apk add python3
  - apk add py3-pip
  - pip install pre-commit --break-system-packages
  ...

ci: update check-version tags
  .gitlab/ci/pre_check.yml
Due: none

fix(bt/example): Add log in the failure path for avrcp_ct_metadata example
  examples/bluetooth/bluedroid/classic_bt/avrcp_ct_metadata/main/main.c
  examples/bluetooth/bluedroid/classic_bt/common/bt_app_core_utils/bt_app_core_utils.c
Due: none

fix(csi): move csi_fsm init before resource allocation to fix err-path leak
  components/esp_driver_cam/csi/src/esp_cam_ctlr_csi.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(adc): add missing input validation for channel and ret_handle
  components/esp_adc/adc_cali_curve_fitting.c
  components/esp_adc/adc_filter.c
  components/esp_adc/esp32/adc_cali_line_fitting.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(i2c): release platform mutex on intr/pm_lock delete failure
  components/esp_driver_i2c/i2c_common.c
  components/esp_driver_i2c/i2c_master.c
  components/esp_driver_i2c/i2c_slave.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(sdspi): reject oversized pre-read data before block receive
  components/esp_driver_sdspi/src/sdspi_host.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(jpeg): release platform mutex on semaphore/pm-lock allocation failure
  components/esp_driver_jpeg/jpeg_common.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(spi_slave): free DMA-private buffers when transaction queue is full
  components/esp_driver_spi/src/gpspi/spi_slave.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix: fixed image header segment count check
  components/esp_system/port/image_process.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix/modify_SPI_LBM
  ble_log_test_report.md
  components/bt/common/ble_log/BLE_LOG_UNIFIED_BUFFER_POOL_DESIGN.md
  components/bt/common/ble_log/Kconfig.in
  components/bt/common/ble_log/include/ble_log.h
  components/bt/common/ble_log/src/ble_log_lbm.c
  components/bt/common/ble_log/src/ble_log_rt.c
  components/bt/common/ble_log/src/internal_include/ble_log_lbm.h
  components/bt/common/ble_log/src/internal_include/ble_log_prph.h
  components/bt/common/ble_log/src/internal_include/ble_log_rt.h
  components/bt/common/ble_log/src/prph/ble_log_prph_dummy.c
  components/bt/common/ble_log/src/prph/ble_log_prph_spi_master_dma.c
  components/bt/common/ble_log/src/prph/ble_log_prph_uart_dma.c
  examples/bluetooth/bluedroid/ble/gatt_client/main/gattc_demo.c
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_client/main/example_ble_client_throughput.c
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_server/main/example_ble_server_throughput.c
  examples/bluetooth/nimble/throughput_app/gatt/blecent_throughput/main/main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix xtal unstable when carry 154 and ble cases
  components/esp_hw_support/port/esp32h21/private_include/pmu_param.h
  components/esp_hw_support/port/esp32h4/private_include/pmu_param.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt): fix unused-but-set-variable warnings
  components/bt/common/osi/config.c
  components/bt/host/bluedroid/stack/l2cap/l2c_api.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_tee): enforce MMU-map vaddr validity at the REE->TEE boundary
  components/esp_tee/subproject/main/core/esp_secure_services_iram.c
  components/hal/include/hal/mmu_hal.h
  components/hal/mmu_hal.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_tee): fixes IV length check for TEE AEAD operations
  components/esp_tee/subproject/components/tee_sec_storage/include/esp_tee_sec_storage.h
  components/esp_tee/subproject/components/tee_sec_storage/tee_sec_storage.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_tee): ensure hal assert is enabled for tee builds
  components/esp_tee/include/private/esp_tee_binary.h
  components/esp_tee/subproject/main/core/esp_secure_services_iram.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(i2c): clarify the value for device addresses
  docs/en/api-reference/peripherals/i2c.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

fix(esp_timer): add target test for long dump lines
  components/esp_timer/test_apps/main/test_esp_timer.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mocks): add missing `esp_hal_*` includes
  tools/mocks/driver/CMakeLists.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(console): Clamp linenoise cols field to 80 if getColums returns less than that
  components/console/linenoise/linenoise.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_http_client): check http_parser errno after execute to avoid DoS loop
  components/esp_http_client/esp_http_client.c
  components/esp_http_server/src/httpd_parse.c
  components/http_parser/http_parser.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp-tls): reject NULL host/url in plain-TCP and async HTTP connect
  components/esp-tls/esp_tls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hal_security): clamp tag_len in aes_hal_gcm_read_tag to prevent OOB
  components/esp_hal_security/aes_hal.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_tee): fix DS-lock leak, intr-matrix OOB, calloc overflow, attestation leak
  components/esp_tee/subproject/components/attestation/esp_att_utils_crypto.c
  components/esp_tee/subproject/main/common/multi_heap.c
  components/mbedtls/port/aes/esp_aes_gcm.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(app_update): close OOB read, rollback-guard gap, and length underflow
  components/app_update/esp_ota_ops.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_http_server): close UAF/double-free, buffer underflows, and OOB read
  components/esp_http_server/src/httpd_parse.c
  components/esp_http_server/src/httpd_uri.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bootloader_support): guard NULL efuse digest slot in secure-boot verify
  components/bootloader_support/src/secure_boot_v2/secure_boot_signatures_app.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_https_server): free TLS session on transport_ctx OOM in httpd_ssl_open
  components/esp_https_server/src/https_server.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): validate crypto input lengths (TEE OOB, auth-bypass, overflows)
  components/mbedtls/esp_crt_bundle/esp_crt_bundle.c
  components/mbedtls/port/aes/esp_aes.c
  components/mbedtls/port/aes/esp_aes_gcm.c
  components/mbedtls/port/ecc/esp_ecc.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_http_client): fix digest-auth leaks and credential/handle use-after-free
  components/esp_http_client/esp_http_client.c
  components/esp_http_client/lib/http_auth.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(i2c): remove unused but set variables
  components/esp_driver_i2c/i2c_master.c
  components/esp_driver_i2c/i2c_private.h
  components/soc/esp32/include/soc/dac_channel.h
  components/soc/esp32s2/include/soc/dac_channel.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(i2s): allow config tx sync params while tx channel is running
  components/esp_driver_i2s/i2s_common.c
  components/esp_driver_i2s/i2s_private.h
  components/esp_driver_i2s/include/driver/i2s_common.h
  components/esp_driver_i2s/test_apps/i2s/main/test_app_main.c
  components/esp_driver_i2s/test_apps/i2s/main/test_i2s.c
  components/esp_driver_i2s/test_apps/i2s_multi_dev/main/test_i2s_multi_dev.c
  docs/en/api-reference/peripherals/i2s.rst
  docs/zh_CN/api-reference/peripherals/i2s.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

refactor(i2s): combine separate callback registers into single one
  components/esp_driver_i2s/i2s_common.c
  components/esp_driver_i2s/i2s_pdm.c
  components/esp_driver_i2s/i2s_private.h
  components/esp_driver_i2s/i2s_std.c
  components/esp_driver_i2s/i2s_tdm.c
  components/esp_driver_i2s/include/driver/i2s_common.h
  components/esp_driver_i2s/include/driver/i2s_types.h
  components/esp_driver_i2s/linker.lf
  components/esp_driver_i2s/test_apps/i2s/main/test_i2s.c
  docs/en/api-reference/peripherals/i2s.rst
  docs/zh_CN/api-reference/peripherals/i2s.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(i2s): release i2s tx sync APIs
  components/esp_driver_i2s/i2s_common.c
  components/esp_driver_i2s/i2s_etm.c
  components/esp_driver_i2s/i2s_private.h
  components/esp_driver_i2s/include/driver/i2s_common.h
  components/esp_driver_i2s/include/driver/i2s_types.h
  components/esp_driver_i2s/include/esp_private/i2s_sync.h
  components/esp_driver_i2s/linker.lf
  components/esp_driver_i2s/test_apps/i2s/main/CMakeLists.txt
  components/esp_driver_i2s/test_apps/i2s/main/test_i2s.c
  components/esp_hal_i2s/esp32h4/include/hal/i2s_ll.h
  components/esp_hal_i2s/esp32s31/include/hal/i2s_ll.h
  components/esp_hal_i2s/include/hal/i2s_types.h
  docs/en/api-reference/peripherals/i2s.rst
  docs/zh_CN/api-reference/peripherals/i2s.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(i2s): support TX FIFO sync on esp32s31
  components/esp_driver_i2s/i2s_common.c
  components/esp_driver_i2s/i2s_etm.c
  components/esp_hal_i2s/esp32s31/include/hal/i2s_ll.h
  components/soc/esp32s31/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s31/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_timer): avoid dump buffer overflow
  components/esp_timer/src/esp_timer.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_timer): enable dump overflow test on linux
  components/esp_timer/test_apps/main/CMakeLists.txt
  components/esp_timer/test_apps/main/test_esp_timer.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(jpeg): JPEG can encode and decode in encryption situation
  components/esp_driver_jpeg/jpeg_common.c
  components/esp_driver_jpeg/jpeg_decode.c
  components/esp_driver_jpeg/jpeg_encode.c
  components/esp_driver_jpeg/jpeg_private.h
  docs/en/api-reference/peripherals/jpeg.rst
  docs/zh_CN/api-reference/peripherals/jpeg.rst
  examples/peripherals/jpeg/jpeg_decode/main/jpeg_decode_example_main.c
  examples/peripherals/jpeg/jpeg_decode/pytest_jpeg_decode.py
  examples/peripherals/jpeg/jpeg_decode/sdkconfig.ci.default
  examples/peripherals/jpeg/jpeg_decode/sdkconfig.ci.flash_enc
  examples/peripherals/jpeg/jpeg_encode/main/jpeg_encode_example_main.c
  examples/peripherals/jpeg/jpeg_encode/pytest_jpeg_encode.py
  examples/peripherals/jpeg/jpeg_encode/sdkconfig.ci.default
  examples/peripherals/jpeg/jpeg_encode/sdkconfig.ci.flash_enc
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(psram): Add unencrypted region for psram for esp32s31
  components/esp_psram/system_layer/esp_psram.c
  components/hal/esp32s31/include/hal/mmu_ll.h
  components/soc/esp32s31/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s31/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix/modify_SPI_LBM
  components/bt/common/ble_log/Kconfig.in
  components/bt/common/ble_log/include/ble_log.h
  components/bt/common/ble_log/src/ble_log_lbm.c
  components/bt/common/ble_log/src/ble_log_rt.c
  components/bt/common/ble_log/src/internal_include/ble_log_lbm.h
  components/bt/common/ble_log/src/internal_include/ble_log_prph.h
  components/bt/common/ble_log/src/internal_include/ble_log_rt.h
  components/bt/common/ble_log/src/prph/ble_log_prph_dummy.c
  components/bt/common/ble_log/src/prph/ble_log_prph_spi_master_dma.c
  components/bt/common/ble_log/src/prph/ble_log_prph_uart_dma.c
  examples/bluetooth/bluedroid/ble/gatt_client/main/gattc_demo.c
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_client/main/example_ble_client_throughput.c
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_server/main/example_ble_server_throughput.c
  examples/bluetooth/nimble/throughput_app/gatt/blecent_throughput/main/main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml
