Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml

update(pm_sleep): update modem_wait_target_cycle for s31
  components/esp_hw_support/port/esp32s31/pmu_sleep.c
Due: gen_integration_pipeline, child_integration_test_pipeline

update(pmu_param): update mdoem icg func clk
  components/esp_hw_support/port/esp32s31/pmu_param.c
  components/esp_hw_support/port/esp32s31/pmu_sleep.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(openthread): replace all malloc calls with calloc to avoid hidden uninitialized memory issues
  components/openthread/src/esp_openthread_platform.cpp
  components/openthread/src/port/esp_openthread_spi_slave.c
  components/openthread/src/port/esp_openthread_trel.c
  components/openthread/src/port/esp_openthread_udp.c
  components/openthread/src/port/esp_spi_spinel_interface.cpp
  components/openthread/src/spinel/esp_radio_spinel.cpp
  components/openthread/src/spinel/esp_radio_spinel_uart_interface.cpp
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(pm): fix coexist force wake behaviour with offchannel to optimize performance at returning home channel (90f24784)
  components/esp_wifi/Kconfig
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

feat(ci): add sleep cache safe check for wifi power save
  examples/wifi/power_save/pytest_wifi_power_save.py
  examples/wifi/power_save/sdkconfig.ci.c2_xtal26m
  examples/wifi/power_save/sdkconfig.ci.esp32c2_rev2_xtal26m
  examples/wifi/power_save/sdkconfig.ci.pd_modem
  examples/wifi/power_save/sdkconfig.ci.pd_top
Due: none

fix(wifi): IRAM for regdma path used in modem pd light sleep
  components/esp_hw_support/linker.lf
  components/esp_hw_support/port/regdma_link.c
  components/esp_wifi/esp32c6/esp_adapter.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix modem sleep flag clear failed
  components/esp_hw_support/include/esp_private/esp_pau.h
  components/esp_hw_support/include/esp_private/sleep_modem.h
  components/esp_hw_support/include/esp_private/sleep_retention.h
  components/esp_hw_support/port/pau_regdma.c
  components/esp_hw_support/sleep_modem.c
  components/esp_hw_support/sleep_retention.c
  components/esp_phy/src/phy_init.c
  components/hal/esp32c5/include/hal/pau_ll.h
  components/hal/esp32c5/pau_hal.c
  components/hal/include/hal/pau_hal.h
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(pm): fix crash when dtim=0, support coex beacon drop
  components/esp_rom/esp32c61/ld/esp32c61.rom.eco4.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.pp.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt): skip unknown codecs when parsing AT+BAC
  components/bt/host/bluedroid/bta/hf_ag/bta_ag_cmd.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(openthread): use spi slave tx_length/rx_length and remove rx DMA bounce buffer
  components/openthread/src/port/esp_openthread_spi_slave.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_common/esp_fault): make ESP_FAULT_ASSERT survive optimization
  .gitlab/ci/build.yml
  components/bootloader/subproject/main/ld/esp32p4/bootloader.memory.ld.in
  components/esp_common/include/esp_fault.h
  components/esp_security/test_apps/.build-test-rules.yml
  components/esp_security/test_apps/fault_assert_opt_check/CMakeLists.txt
  components/esp_security/test_apps/fault_assert_opt_check/README.md
  components/esp_security/test_apps/fault_assert_opt_check/check_fault_asserts.py
  components/esp_security/test_apps/fault_assert_opt_check/main/CMakeLists.txt
  components/esp_security/test_apps/fault_assert_opt_check/main/test_fault_assert.c
  components/esp_security/test_apps/fault_assert_opt_check/sdkconfig.ci.opt_perf
  components/esp_security/test_apps/fault_assert_opt_check/sdkconfig.ci.opt_size
  components/esp_security/test_apps/fault_assert_opt_check/sdkconfig.defaults
  components/esp_system/ld/esp32p4/memory.ld.in
  components/esp_tee/test_apps/tee_cli_app/sdkconfig.ci.default
  components/esp_tee/test_apps/tee_cli_app/sdkconfig.ci.release
  components/esp_tee/test_apps/tee_cli_app/sdkconfig.ci.sb_fe
  components/esp_tee/test_apps/tee_test_fw/sdkconfig.ci.tee_ota
  components/spi_flash/test_apps/flash_encryption/partitions.csv
  components/spi_flash/test_apps/flash_encryption/sdkconfig.defaults
  examples/system/efuse/sdkconfig.ci.virt_secure_boot_v2.esp32c5
  examples/system/efuse/sdkconfig.ci.virt_secure_boot_v2.esp32p4
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(cmakev2): Export public API in the generated build system v2 reference
  tools/cmakev2/build.cmake
  tools/cmakev2/component.cmake
  tools/cmakev2/esp_docs_cmakev2_extension.py
  tools/cmakev2/idf.cmake
  tools/cmakev2/kconfig.cmake
  tools/cmakev2/project.cmake
  tools/cmakev2/utilities.cmake
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(test_build_system): require components in ioctl overlap checker tests
  tools/test_build_system/buildv2/test_blockdev_ioctl.py
  tools/test_build_system/test_blockdev_ioctl.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_common/esp_fault): make ESP_FAULT_ASSERT survive optimization
  components/bootloader/subproject/main/ld/esp32p4/bootloader.memory.ld.in
  components/esp_common/include/esp_fault.h
  components/esp_system/ld/esp32p4/memory.ld.in
  components/esp_tee/test_apps/tee_cli_app/sdkconfig.ci.default
  components/esp_tee/test_apps/tee_cli_app/sdkconfig.ci.release
  components/esp_tee/test_apps/tee_cli_app/sdkconfig.ci.sb_fe
  components/esp_tee/test_apps/tee_test_fw/sdkconfig.ci.tee_ota
  components/spi_flash/test_apps/flash_encryption/partitions.csv
  components/spi_flash/test_apps/flash_encryption/sdkconfig.defaults
  examples/system/efuse/sdkconfig.ci.virt_secure_boot_v2.esp32c5
  examples/system/efuse/sdkconfig.ci.virt_secure_boot_v2.esp32p4
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_http_server): report truncation when header value length matches buffer size
  components/esp_http_server/src/httpd_parse.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_common/esp_fault): make ESP_FAULT_ASSERT survive optimization
  components/esp_common/include/esp_fault_internal.h
  components/spi_flash/test_apps/flash_encryption/partitions.csv
  components/spi_flash/test_apps/flash_encryption/sdkconfig.defaults
  examples/system/efuse/sdkconfig.ci.virt_sb_v2_and_fe.esp32.qemu
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(heap): reset alloc_stat before realloc lookup
  components/heap/heap_task_info.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(soc): enable zb* extensions for esp32p4 greater v3
  components/soc/project_include.cmake
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(freertos): remove extra vTaskDelete call in prvTaskDeleteWithCaps
  components/freertos/esp_additions/idf_additions.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(version): Update version to 6.0.2
  .gitlab/ci/common.yml
  components/esp_common/include/esp_idf_version.h
  tools/cmake/version.cmake
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(secure_boot): mark ECDSA based Secure Boot V2 as insecure on affected SoCs
  components/bootloader/Kconfig.projbuild
  docs/en/security/secure-boot-v2.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

change(secure_boot): mark ECDSA based Secure Boot V2 as insecure on affected SoCs
  components/bootloader/Kconfig.projbuild
  docs/en/security/secure-boot-v2.rst
  tools/test_apps/build_system/bootloader/sdkconfig.ci.secure_boot.ecdsa.esp32h2
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

change(secure_boot): mark ECDSA based Secure Boot V2 as insecure on affected SoCs
  components/bootloader/Kconfig.projbuild
  docs/en/security/secure-boot-v2.rst
  docs/zh_CN/security/secure-boot-v2.rst
  tools/test_apps/build_system/bootloader/sdkconfig.ci.secure_boot.ecdsa.esp32h2
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_security): harden crypto peripheral error handling
  components/esp_security/src/esp_dpa_protection.c
  components/esp_security/src/esp_ds.c
  components/esp_security/src/esp_hmac.c
  components/esp_security/src/esp_key_mgr.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(lp_core): fix build for CONFIG_ULP_NORESET_UNDER_DEBUG=n
  components/ulp/lp_core/lp_core.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(fatfs): Fix esp_vfs_fat_unregister_path leak if esp_vfs_unregister fails
  components/fatfs/vfs/vfs_fat.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(vfs): Fix incorrect check in esp_vfs_register_fs_common and optimize memory
  components/vfs/linker.lf
  components/vfs/private_include/esp_vfs_private.h
  components/vfs/vfs.c
  components/vfs/vfs_calls.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): Enable hardware CRT for RSA-4096 via base reduction
  components/mbedtls/port/bignum/esp_bignum.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): Fix cached Rinv size mismatch under private exponent blinding
  components/mbedtls/port/bignum/esp_bignum.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bootloader): sync IDF_TARGET env in subproject
  components/bootloader/subproject/CMakeLists.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): validate handle in esp_ble_gattc_register_for_notify
  components/bt/host/bluedroid/api/include/api/esp_gattc_api.h
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
  components/bt/host/bluedroid/bta/gatt/bta_gattc_api.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt): Suppress gattc drop-notif warning for unregistered gatt_if
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
  components/bt/host/bluedroid/bta/gatt/bta_gattc_utils.c
  components/bt/host/bluedroid/bta/gatt/include/bta_gattc_int.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(freertos): make FREERTOS_PORT_THREAD_SAFE_CLAIM optinal
  components/esp_hw_support/sleep_modes.c
  components/freertos/FreeRTOS-Kernel-SMP/portable/riscv/include/freertos/portmacro.h
  components/freertos/FreeRTOS-Kernel-SMP/portable/riscv/port.c
  components/freertos/FreeRTOS-Kernel-SMP/portable/xtensa/include/freertos/portmacro.h
  components/freertos/FreeRTOS-Kernel-SMP/portable/xtensa/port.c
  components/freertos/FreeRTOS-Kernel-SMP/tasks.c
  components/freertos/FreeRTOS-Kernel/portable/riscv/include/freertos/portmacro.h
  components/freertos/FreeRTOS-Kernel/portable/riscv/port.c
  components/freertos/FreeRTOS-Kernel/portable/xtensa/include/freertos/portmacro.h
  components/freertos/FreeRTOS-Kernel/portable/xtensa/port.c
  components/freertos/Kconfig
  components/freertos/test_apps/freertos/include/freertos_performance.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

docs(ble): add BLE UART tutorial and opencode bridge demo
  examples/bluetooth/ble_uart_service/OPENCODE_COMPANION.md
  examples/bluetooth/ble_uart_service/OPENCODE_COMPANION_CN.md
  examples/bluetooth/ble_uart_service/README.md
  examples/bluetooth/ble_uart_service/assets/ESP-VoCat-Asking-For-Permission.png
  examples/bluetooth/ble_uart_service/assets/ESP-VoCat-Working-With-OpenCode.png
  examples/bluetooth/ble_uart_service/main/main.c
  examples/bluetooth/common/ble_uart/Kconfig
  examples/bluetooth/common/ble_uart/PORTING.md
  examples/bluetooth/common/ble_uart/ble_uart.h
  examples/bluetooth/common/ble_uart/ble_uart_bluedroid.c
  examples/bluetooth/common/ble_uart/ble_uart_nimble.c
  tools/ble/ble_uart_bridge/README.md
  tools/ble/ble_uart_bridge/demos/opencode/README.md
  tools/ble/ble_uart_bridge/demos/opencode/src/ble-daemon-client.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/config.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/opencode-ble-uart-bridge.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/opencode-permission-reply.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/permission-payload.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/permission-queue.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/types.ts
  tools/ble/ble_uart_bridge/docs/PORTING.md
  tools/ble/ble_uart_bridge/docs/Profile-Compatibility.md
  tools/ble/ble_uart_bridge/docs/Quick-Start-BLE-UART-Console.md
  tools/ble/ble_uart_bridge/docs/Quick-Start-BLE-UART-Daemon.md
  tools/ble/ble_uart_bridge/src/console/api.py
  tools/ble/ble_uart_bridge/src/console/console.py
  tools/ble/ble_uart_bridge/src/core/api.py
  tools/ble/ble_uart_bridge/src/core/errors.py
  tools/ble/ble_uart_bridge/src/daemon/api.py
  tools/ble/ble_uart_bridge/src/daemon/server.py
  tools/ci/mypy_ignore_list.txt
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline
