Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

docs: Explain revocation of unused but compromised keys
  docs/en/security/secure-boot-v2.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat: Enable ESP32-C61 stub
  components/esptool_py/Kconfig.projbuild
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(bt/bluedroid): Report sniff interval to application layer
  components/bt/host/bluedroid/api/include/api/esp_gap_bt_api.h
  components/bt/host/bluedroid/bta/dm/bta_dm_pm.c
  components/bt/host/bluedroid/bta/include/bta/bta_api.h
  components/bt/host/bluedroid/btc/core/btc_dm.c
  examples/bluetooth/bluedroid/classic_bt/a2dp_sink/main/main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(efuse): fix efuse examples not compiling on c2
  examples/system/efuse/main/efuse_main.c
Due: none

feat(examples): Increases partition table offset for P4 and C5
  examples/system/efuse/sdkconfig.ci.virt_sb_v2_and_fe.esp32p4
  examples/system/efuse/sdkconfig.ci.virt_secure_boot_v2.esp32p4
Due: none

fix(examples): Fix SB and FE tests, type of sign
  examples/system/efuse/pytest_system_efuse_example.py
Due: none

feat(examples): Get offsets for efuses from espefuse.py
  examples/system/efuse/conftest.py
  examples/system/efuse/pytest_system_efuse_example.py
Due: none

fix(examples): Fix codespell check for efuse example
  examples/system/efuse/main/efuse_main.c
Due: none

Fix memory leak in mbedtls by adjusting RX buffer size (issue #14444)
  components/mbedtls/port/dynamic/esp_mbedtls_dynamic_impl.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(lcd): add Kconfig to assign default GPIO for RGB LCD example
  examples/peripherals/camera/camera_dsi/components/dsi_init/include/example_dsi_init_config.h
  examples/peripherals/lcd/mipi_dsi/README.md
  examples/peripherals/lcd/mipi_dsi/main/Kconfig.projbuild
  examples/peripherals/lcd/mipi_dsi/main/idf_component.yml
  examples/peripherals/lcd/mipi_dsi/main/mipi_dsi_lcd_example_main.c
  examples/peripherals/lcd/rgb_panel/README.md
  examples/peripherals/lcd/rgb_panel/main/Kconfig.projbuild
  examples/peripherals/lcd/rgb_panel/main/idf_component.yml
  examples/peripherals/lcd/rgb_panel/main/lvgl_demo_ui.c
  examples/peripherals/lcd/rgb_panel/main/rgb_lcd_example_main.c
  examples/peripherals/lcd/rgb_panel/pytest_rgb_panel_lvgl.py
  examples/peripherals/lcd/rgb_panel/sdkconfig.defaults.esp32s3
Due: check_readme_links

docs(network): Updates network/proto API ref and guide for esp32-c5
  docs/docs_not_updated/esp32c5.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

refactor(esp_wifi): Cleanup of wifi crypto funcs within wifi libs
  components/esp_wifi/include/esp_wifi_crypto_types.h
  components/wpa_supplicant/src/crypto/crypto_ops.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ieee802154): add frame type checking for hw autoack feature
  components/ieee802154/driver/esp_ieee802154_frame.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(heap): Update heap tests on external memory
  components/heap/test_apps/heap_tests/main/test_aligned_alloc_caps.c
  components/heap/test_apps/heap_tests/main/test_malloc.c
  components/heap/test_apps/heap_tests/pytest_heap.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(usb_serial_jtag): Add select functionality to the driver
  components/esp_driver_usb_serial_jtag/CMakeLists.txt
  components/esp_driver_usb_serial_jtag/include/driver/usb_serial_jtag.h
  components/esp_driver_usb_serial_jtag/include/driver/usb_serial_jtag_select.h
  components/esp_driver_usb_serial_jtag/linker.lf
  components/esp_driver_usb_serial_jtag/src/usb_serial_jtag.c
  components/esp_driver_usb_serial_jtag/src/usb_serial_jtag_vfs.c
  components/esp_driver_usb_serial_jtag/test_apps/.build-test-rules.yml
  components/esp_driver_usb_serial_jtag/test_apps/usb_serial_jtag_vfs/CMakeLists.txt
  components/esp_driver_usb_serial_jtag/test_apps/usb_serial_jtag_vfs/README.md
  components/esp_driver_usb_serial_jtag/test_apps/usb_serial_jtag_vfs/main/CMakeLists.txt
  components/esp_driver_usb_serial_jtag/test_apps/usb_serial_jtag_vfs/main/test_app_main.c
  components/esp_driver_usb_serial_jtag/test_apps/usb_serial_jtag_vfs/main/test_vfs_usb_serial_jtag.c
  components/esp_driver_usb_serial_jtag/test_apps/usb_serial_jtag_vfs/pytest_usb_serial_jtag_vfs.py
  components/esp_driver_usb_serial_jtag/test_apps/usb_serial_jtag_vfs/sdkconfig.ci.release
  components/esp_driver_usb_serial_jtag/test_apps/usb_serial_jtag_vfs/sdkconfig.defaults
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(hal): Add countermeasure for ECDSA generate signature
  components/hal/Kconfig
  components/hal/ecdsa_hal.c
  components/hal/include/hal/ecdsa_hal.h
  components/mbedtls/CMakeLists.txt
  components/mbedtls/Kconfig
  components/mbedtls/port/ecdsa/ecdsa_alt.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(spi_flash): Add new xmc chip id
  components/bootloader_support/bootloader_flash/src/bootloader_flash.c
  components/spi_flash/flash_brownout_hook.c
  components/spi_flash/spi_flash_hpm_enable.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(version): Update version to 5.2.3
  .gitlab/ci/common.yml
  components/esp_common/include/esp_idf_version.h
  tools/cmake/version.cmake
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Fixed deinit sequence in blufi
  components/bt/common/btc/profile/esp/blufi/nimble_host/esp_blufi.c
  examples/bluetooth/blufi/main/blufi_init.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(uf2): Ignore ESPBAUD, ESPPORT when calling idf.py uf2[-app]
  components/esptool_py/project_include.cmake
  tools/cmake/project.cmake
  tools/cmake/run_uf2_cmds.cmake
  tools/test_idf_py/test_idf_py.py
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: Increase CONFIG_FATFS_VFS_FSTAT_BLKSIZE size for auto_fsync case
  components/fatfs/test_apps/flash_wl/README.md
  components/fatfs/test_apps/flash_wl/sdkconfig.ci.auto_fsync
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(gdbstub_runtime): fix test gdbstub_runtime which requiers elf file
  tools/ci/idf_pytest/constants.py
Due: gen_integration_pipeline, child_integration_test_pipeline

docs: fix a typo in gpio.rst
  docs/zh_CN/api-reference/peripherals/gpio.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: update application examples for esp_http_server.rst, esp_https_server.rst, and mbedtls.rst
  docs/en/api-reference/protocols/esp_crt_bundle.rst
  docs/en/api-reference/protocols/esp_http_client.rst
  docs/en/api-reference/protocols/esp_http_server.rst
  docs/en/api-reference/protocols/esp_https_server.rst
  docs/en/api-reference/protocols/esp_local_ctrl.rst
  docs/en/api-reference/protocols/mbedtls.rst
  docs/zh_CN/api-reference/protocols/esp_crt_bundle.rst
  docs/zh_CN/api-reference/protocols/esp_http_client.rst
  docs/zh_CN/api-reference/protocols/esp_http_server.rst
  docs/zh_CN/api-reference/protocols/esp_https_server.rst
  docs/zh_CN/api-reference/protocols/esp_local_ctrl.rst
  docs/zh_CN/api-reference/protocols/mbedtls.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(esp_hw_support): fix bad submode setting logic in rtc_slow selection
  components/esp_hw_support/port/esp32/rtc_clk.c
  components/esp_hw_support/port/esp32c2/rtc_clk.c
  components/esp_hw_support/port/esp32c3/rtc_clk.c
  components/esp_hw_support/port/esp32s2/rtc_clk.c
  components/esp_hw_support/port/esp32s3/rtc_clk.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble): unified ble memory allocation method
  components/bt/porting/npl/freertos/src/npl_os_freertos.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): add case to test slow clock switching
  components/esp_hw_support/test_apps/rtc_clk/main/test_rtc_clk.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(driver_spi): fixed slave no dma rx overwrite when trans_len below or over
  components/driver/test_apps/components/test_driver_utils/test_spi_utils.c
  components/esp_driver_spi/test_apps/slave/main/test_spi_slave.c
  components/hal/include/hal/spi_slave_hal.h
  components/hal/spi_slave_hal_iram.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(gdma): add retention support for esp32p4, esp32c5, esp32c61
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/dma/gdma.c
  components/esp_hw_support/dma/gdma_sleep_retention.c
  components/esp_hw_support/dma/include/esp_private/gdma.h
  components/esp_hw_support/test_apps/dma/main/CMakeLists.txt
  components/esp_hw_support/test_apps/dma/main/gdma_test_utils.c
  components/esp_hw_support/test_apps/dma/main/gdma_test_utils.h
  components/esp_hw_support/test_apps/dma/main/test_gdma.c
  components/esp_hw_support/test_apps/dma/sdkconfig.ci.release
  components/esp_system/port/soc/esp32c6/clk.c
  components/esp_system/port/soc/esp32h2/clk.c
  components/hal/esp32c2/include/hal/gdma_ll.h
  components/hal/esp32c3/include/hal/gdma_ll.h
  components/hal/esp32c5/include/hal/ahb_dma_ll.h
  components/hal/esp32c5/include/hal/gdma_ll.h
  components/hal/esp32c6/include/hal/gdma_ll.h
  components/hal/esp32c61/include/hal/ahb_dma_ll.h
  components/hal/esp32c61/include/hal/gdma_ll.h
  components/hal/esp32h2/include/hal/gdma_ll.h
  components/hal/esp32p4/include/hal/gdma_ll.h
  components/hal/esp32s3/include/hal/gdma_ll.h
  components/soc/esp32c5/gdma_periph.c
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c6/gdma_periph.c
  components/soc/esp32c61/gdma_periph.c
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/reg_base.h
  components/soc/esp32c61/include/soc/retention_periph_defs.h
  components/soc/esp32c61/include/soc/soc_caps.h
  components/soc/esp32h2/gdma_periph.c
  components/soc/esp32p4/gdma_periph.c
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/retention_periph_defs.h
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/include/soc/gdma_periph.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): modify some SOC_WIFI_SUPPORT_5G to CONFIG_SOC_WIFI_SUPPORT_5G
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/wpa_supplicant/src/common/ieee802_11_common.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(soc): add missing reset reasons for the ESP32-C61
  components/esp_rom/esp32c61/include/esp32c61/rom/rtc.h
  components/esp_system/port/soc/esp32c61/reset_reason.c
  components/soc/esp32c61/include/soc/reset_reasons.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ieee802154): fix a bug in the usage of a macro
  components/ieee802154/driver/esp_ieee802154_dev.c
  components/ieee802154/driver/esp_ieee802154_util.c
  components/ieee802154/private_include/esp_ieee802154_util.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
