Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
      - esp32c6
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG: en
      DOCTGT: esp32
    - DOCLANG: zh_CN
      DOCTGT: esp32p4
  needs:
  - job: fast_template_app
    artifacts: false
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
      - esp32c6
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - assign_test
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

feat(parlio_tx): support non-blocking transaction queue
  components/driver/parlio/include/driver/parlio_tx.h
  components/driver/parlio/parlio_common.c
  components/driver/parlio/parlio_private.h
  components/driver/parlio/parlio_tx.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_wifi): Update Wi-Fi WPA3 authmodes as per WPA Specification v3.3
  components/esp_wifi/include/esp_wifi_types_generic.h
  examples/wifi/scan/main/scan.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix: fix s3 bbpll cali fail bug
  components/esp_hw_support/port/esp32s3/rtc_clk.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Fix wpa3 crash for station added without sta lock
  components/wpa_supplicant/esp_supplicant/src/esp_hostap.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpa3.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
  components/wpa_supplicant/src/ap/sta_info.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat: enable RSA support for c5
  components/hal/esp32c5/include/hal/mpi_ll.h
  components/soc/esp32c5/beta3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/beta3/include/soc/soc_caps.h
  components/soc/esp32c5/beta3/mpi_periph.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_system/esp32c5): revised cypto clock to be used
  components/esp_system/port/soc/esp32c5/clk.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(storage/fatfs): make wl_fatfsgen.py safe mode aware
  components/fatfs/fatfs_utils/utils.py
  components/fatfs/wl_fatfsgen.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ulp-riscv): Add convenience print function that supports different widths
  components/ulp/ulp_riscv/ulp_core/include/ulp_riscv_print.h
  components/ulp/ulp_riscv/ulp_core/ulp_riscv_print.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci: run full pipeline while testing constraint file
  .gitlab/ci/pre_check.yml
Due: none

fix(wifi): Avoid dereferencing a dangling function pointer in WPS supplicant
  components/wpa_supplicant/src/ap/wps_hostapd.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(system): refactor linker scripts
  components/esp_system/ld/esp32/sections.ld.in
  components/esp_system/ld/esp32c2/sections.ld.in
  components/esp_system/ld/esp32c3/sections.ld.in
  components/esp_system/ld/esp32c5/beta3/sections.ld.in
  components/esp_system/ld/esp32c5/mp/sections.ld.in
  components/esp_system/ld/esp32c6/sections.ld.in
  components/esp_system/ld/esp32h2/sections.ld.in
  components/esp_system/ld/esp32p4/sections.ld.in
  components/esp_system/ld/esp32s2/sections.ld.in
  components/esp_system/ld/esp32s3/memory.ld.in
  components/esp_system/ld/esp32s3/sections.ld.in
  components/esp_system/ld/ld.common
  components/freertos/FreeRTOS-Kernel-SMP/portable/riscv/port.c
  components/freertos/FreeRTOS-Kernel/portable/riscv/port.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Fixed compilation issues on disabling security
  components/bt/host/nimble/Kconfig.in
  components/bt/host/nimble/port/include/esp_nimble_cfg.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Fix compilation issues and Minor enhancements to esp_hid
  examples/bluetooth/esp_hid_device/main/esp_hid_gap.c
  examples/bluetooth/esp_hid_host/main/esp_hid_gap.c
Due: none

fix: component manager load all component dirs even set(COMPONENTS ...)
  tools/cmake/build.cmake
  tools/cmake/component.cmake
  tools/test_build_system/test_component_manager.py
Due: gen_integration_pipeline, child_integration_test_pipeline

test: improve test_dependency_lock test case
  tools/test_build_system/test_component_manager.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(storage/fatfs): move fatfs related scripts under control of the storage team
  .gitlab/CODEOWNERS
Due: none

feat(coex): improve Wi-Fi connecting compatibility at coexistence
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.eco7.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.pp.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

example: add custom partition table for mesh manual networking
  examples/mesh/manual_networking/partitions.csv
  examples/mesh/manual_networking/sdkconfig.defaults
Due: none

refactor(idf_tools): IDF version is acquired only from version or header file
  tools/idf_tools.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(freertos): Fixed an issue where accessing task lists could overrun memory
  components/freertos/esp_additions/freertos_tasks_c_additions.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(bt/bluedroid): Use BTC util to convert HCI status to ESP status
  components/bt/host/bluedroid/btc/core/btc_dm.c
  components/bt/host/bluedroid/btc/core/btc_util.c
Due: gen_integration_pipeline, child_integration_test_pipeline

EAP peer: External server certificate chain validation
  components/wpa_supplicant/src/common/defs.h
  components/wpa_supplicant/src/eap_peer/eap.c
  components/wpa_supplicant/src/eap_peer/eap_peap.c
  components/wpa_supplicant/src/eap_peer/eap_tls.c
  components/wpa_supplicant/src/eap_peer/eap_ttls.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

EAP-TTLS: Fix possible memory leak in eap_ttls_phase2_request_mschap()
  components/wpa_supplicant/src/eap_peer/eap_ttls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

EAP-TLS peer: Determine whether TLS v1.3 or newer is used
  components/wpa_supplicant/src/eap_peer/eap_tls_common.c
  components/wpa_supplicant/src/eap_peer/eap_tls_common.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

EAP-TLS peer: Allow NewSessionTicket after Client Finished with TLS v1.3
  components/wpa_supplicant/src/eap_peer/eap_tls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

EAP-TLS peer: Support fragmentation of last message
  components/wpa_supplicant/src/eap_peer/eap_tls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

EAP-TLS: Update key derivation label per draft-ietf-emu-eap-tls13-00
  components/wpa_supplicant/src/eap_peer/eap_tls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

EAP-TLS peer: MSK/EMSK derivation with TLS v1.3
  components/wpa_supplicant/src/eap_peer/eap_tls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

EAP-TLS: Derive Session-Id using TLS-Exporter when TLS v1.3 is used
  components/wpa_supplicant/src/eap_peer/eap_tls_common.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wpa_supplicant): Update cipher suite list for TLSv1.3 suiteb and some refactoring
  components/esp_wifi/Kconfig
  components/wpa_supplicant/esp_supplicant/src/crypto/tls_mbedtls.c
  components/wpa_supplicant/src/eap_peer/eap_peap.c
  components/wpa_supplicant/src/eap_peer/eap_tls.c
  components/wpa_supplicant/src/eap_peer/eap_ttls.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

EAP-PEAP: Key derivation per draft-ietf-emu-tls-eap-types-00
  components/wpa_supplicant/src/eap_peer/eap_peap.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wpa_supplicant): Add bugfixes related to ciphersuites in wifi enterprise
  components/esp_wifi/Kconfig
  components/wpa_supplicant/esp_supplicant/src/crypto/tls_mbedtls.c
  examples/wifi/wifi_enterprise/README.md
Due: check_readme_links, build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

EAP peer: Clear temporary message buffers before freeing
  components/wpa_supplicant/src/eap_peer/eap_fast.c
  components/wpa_supplicant/src/eap_peer/eap_peap.c
  components/wpa_supplicant/src/eap_peer/eap_ttls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

EAP-TTLS/PEAP peer: Fix failure when using session tickets under TLS 1.3
  components/wpa_supplicant/src/eap_peer/eap_peap.c
  components/wpa_supplicant/src/eap_peer/eap_ttls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
