Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

feat(openthread): update OT upstream to 3b3dd203b
  components/openthread/CMakeLists.txt
  components/openthread/include/esp_radio_spinel.h
  components/openthread/sbom_openthread.yml
  components/openthread/src/port/esp_openthread_radio.c
  components/openthread/src/port/esp_openthread_radio_spinel.cpp
  components/openthread/src/spinel/esp_radio_spinel.cpp
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bootloader_support): Allow pre-programmed XTS-AES psuedo round level efuses
  components/bootloader/Kconfig.projbuild
  components/bootloader_support/include/esp_flash_encrypt.h
  components/bootloader_support/src/esp32c5/flash_encryption_secure_features.c
  components/bootloader_support/src/esp32c61/flash_encryption_secure_features.c
  components/bootloader_support/src/esp32h2/flash_encryption_secure_features.c
  components/bootloader_support/src/flash_encrypt.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): get wakeup cause when wake up on ESP32-C2
  components/bt/controller/esp32c2/bt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): get wakeup cause when wake up on ESP32-C6
  components/bt/controller/esp32c6/bt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): get wakeup cause when wake up on ESP32-C5
  components/bt/controller/esp32c5/bt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): get wakeup cause when wake up on ESP32-H2
  components/bt/controller/esp32h2/bt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Fix issues with offchannel action tx and ROC operations
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/wpa_supplicant/esp_supplicant/src/esp_wifi_driver.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Formatting calls to ROC API to match new prototype
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/wpa_supplicant/esp_supplicant/src/esp_dpp.c
  components/wpa_supplicant/test_apps/main/test_offchannel.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Making action tx and roc API's public and modifying os_time_t datatype for platform and compiler independence
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_wifi/include/esp_wifi.h
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/wpa_supplicant/esp_supplicant/src/esp_dpp.c
  components/wpa_supplicant/port/include/os.h
  components/wpa_supplicant/test_apps/main/test_offchannel.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi) : Commented out few ld file functions corresponding to offchan changes
  components/esp_rom/esp32c3/ld/esp32c3.rom.eco7.ld
  components/esp_rom/esp32c5/ld/esp32c5.rom.pp.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.pp.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

docs: Fix some typos in docs/en and zh_CN directories
  .codespellrc
  docs/en/api-reference/peripherals/ecdsa.rst
  docs/en/libraries-and-frameworks/libs-frameworks.rst
  docs/zh_CN/api-guides/jtag-debugging/debugging-examples.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(bootloader_support): Reorder write disabling ECDSA_CURVE_MODE
  components/bootloader_support/src/esp32h2/secure_boot_secure_features.c
  components/bootloader_support/src/esp32h21/secure_boot_secure_features.c
  components/esp_security/src/init.c
  docs/en/security/security-features-enablement-workflows.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

docs: Add the updated CN translation
  docs/en/security/flash-encryption.rst
  docs/en/security/security-features-enablement-workflows.rst
  docs/zh_CN/security/flash-encryption.rst
  docs/zh_CN/security/security-features-enablement-workflows.rst
  docs/zh_CN/security/security.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

refactor(rng): refactor to use hal/ll apis for S2
  components/bootloader_support/src/bootloader_random_esp32s2.c
  components/hal/esp32s2/include/hal/adc_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(usb/host): Use ESP_INTR_FLAG_LOWMED interrupt priority for USB examples
  examples/peripherals/usb/host/cdc/cdc_acm_host/main/usb_cdc_example_main.c
  examples/peripherals/usb/host/cdc/cdc_acm_vcp/main/cdc_acm_vcp_example_main.cpp
  examples/peripherals/usb/host/hid/main/hid_host_example.c
  examples/peripherals/usb/host/msc/main/msc_example_main.c
  examples/peripherals/usb/host/usb_host_lib/main/usb_host_lib_main.c
  examples/peripherals/usb/host/uvc/main/main.c
Due: none

feat(usb_device): Update examples to esp_tinyusb v2.0.0
  examples/peripherals/usb/device/tusb_composite_msc_serialdevice/main/idf_component.yml
  examples/peripherals/usb/device/tusb_composite_msc_serialdevice/main/tusb_composite_main.c
  examples/peripherals/usb/device/tusb_console/main/idf_component.yml
  examples/peripherals/usb/device/tusb_console/main/tusb_console_main.c
  examples/peripherals/usb/device/tusb_hid/main/idf_component.yml
  examples/peripherals/usb/device/tusb_hid/main/tusb_hid_example_main.c
  examples/peripherals/usb/device/tusb_midi/main/idf_component.yml
  examples/peripherals/usb/device/tusb_midi/main/tusb_midi_main.c
  examples/peripherals/usb/device/tusb_msc/main/idf_component.yml
  examples/peripherals/usb/device/tusb_msc/main/tusb_msc_main.c
  examples/peripherals/usb/device/tusb_ncm/main/idf_component.yml
  examples/peripherals/usb/device/tusb_ncm/main/tusb_ncm_main.c
  examples/peripherals/usb/device/tusb_ncm/sdkconfig.defaults.esp32s3
  examples/peripherals/usb/device/tusb_serial_device/main/idf_component.yml
  examples/peripherals/usb/device/tusb_serial_device/main/tusb_serial_device_main.c
Due: none

feat(network): Update sta2eth example to esp_tinyusb v2.0.0
  examples/network/sta2eth/main/idf_component.yml
  examples/network/sta2eth/main/usb_ncm_iface.c
  examples/network/sta2eth/sdkconfig.defaults.esp32s3
Due: none

feat(mbedtls/aes): Add config to support AES block and DMA modes during runtime
  components/mbedtls/CMakeLists.txt
  components/mbedtls/Kconfig
  components/mbedtls/esp_tee/esp_tee_mbedtls.cmake
  components/mbedtls/port/aes/block/esp_aes.c
  components/mbedtls/port/aes/dma/esp_aes.c
  components/mbedtls/port/aes/esp_aes.c
  components/mbedtls/port/include/aes/esp_aes.h
  components/mbedtls/port/sha/core/esp_sha1.c
  components/mbedtls/port/sha/core/esp_sha256.c
  components/mbedtls/port/sha/core/esp_sha512.c
  docs/en/api-guides/performance/size.rst
  docs/zh_CN/api-guides/performance/size.rst
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

test(hal/crypto): Update AES test app to remove redundant block operation
  components/hal/test_apps/crypto/CMakeLists.txt
  components/hal/test_apps/crypto/main/CMakeLists.txt
  components/hal/test_apps/crypto/main/aes/aes_block.c
  components/hal/test_apps/crypto/main/aes/aes_block.h
  components/hal/test_apps/crypto/main/aes/test_aes.c
  components/hal/test_apps/crypto/main/aes/test_params.h
  components/hal/test_apps/crypto/sdkconfig.defaults
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(mbedtls/port): Wrap headers with relevant soc_caps
  components/mbedtls/Kconfig
  components/mbedtls/port/aes/dma/include/esp_aes_dma_priv.h
  components/mbedtls/port/include/esp_crypto_shared_gdma.h
  components/soc/esp32h4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Add depenedency of 192 bit config on wifi enterprise
  components/esp_wifi/Kconfig
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(docs): Improved RNG documentation
  docs/_static/esp_rng_noise_source_rf_available.png
  docs/_static/esp_rng_noise_source_rf_unavailable.png
  docs/en/api-reference/system/random.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(docs): Added svg file for the RNG
  docs/_static/esp_rng_noise_source_rf_available.png
  docs/_static/esp_rng_noise_source_rf_available.svg
  docs/_static/esp_rng_noise_source_rf_unavailable.png
  docs/_static/esp_rng_noise_source_rf_unavailable.svg
  docs/en/api-reference/system/random.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(ble): Support ble log compression(draft)
  components/bt/CMakeLists.txt
  components/bt/common/ble_log/Kconfig.in
  components/bt/common/ble_log/extension/log_compression/CMakeLists.txt
  components/bt/common/ble_log/extension/log_compression/Kconfig.in
  components/bt/common/ble_log/extension/log_compression/README.cn.md
  components/bt/common/ble_log/extension/log_compression/README.en.md
  components/bt/common/ble_log/extension/log_compression/ble_log_compression.c
  components/bt/common/ble_log/extension/log_compression/cmake/ble_host_bluedroid_tags.cmake
  components/bt/common/ble_log/extension/log_compression/cmake/ble_mesh_log_tags.cmake
  components/bt/common/ble_log/extension/log_compression/cmake/tag_table_function.cmake
  components/bt/common/ble_log/extension/log_compression/include/log_compression/utils.h
  components/bt/common/ble_log/extension/log_compression/scripts/LogDBManager.py
  components/bt/common/ble_log/extension/log_compression/scripts/ble_log_compress.py
  components/bt/common/ble_log/extension/log_compression/scripts/c_format_parse.py
  components/bt/common/ble_log/extension/log_compression/scripts/configs/module_info.yml.in
  components/bt/common/ble_log/extension/log_compression/scripts/env_check.py
  components/bt/common/ble_log/extension/log_compression/scripts/inttypes_map.py
  components/bt/common/ble_log/extension/log_compression/scripts/requirements.txt
  components/bt/common/ble_log/include/ble_log/ble_log_spi_out.h
  components/bt/esp_ble_mesh/common/include/mesh/trace.h
  components/bt/host/bluedroid/common/include/common/bt_trace.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): add libraries related to ble log compression
  tools/requirements/requirements.core.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

ci(adc): add adc oneshot/continuous work with temp_sensor
  components/esp_adc/test_apps/adc/main/test_adc_tsens.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(tsens): fix temp_sensor affect by adc reset
  components/bootloader_support/src/bootloader_random_esp32c5.c
  components/bootloader_support/src/bootloader_random_esp32c6.c
  components/bootloader_support/src/bootloader_random_esp32c61.c
  components/bootloader_support/src/bootloader_random_esp32h2.c
  components/bootloader_support/src/bootloader_random_esp32p4.c
  components/esp_adc/adc_continuous.c
  components/esp_adc/test_apps/adc/main/test_adc_tsens.c
  components/esp_hw_support/adc_share_hw_ctrl.c
  components/esp_hw_support/include/esp_private/sar_periph_ctrl.h
  components/esp_hw_support/port/esp32/sar_periph_ctrl.c
  components/esp_hw_support/port/esp32c2/sar_periph_ctrl.c
  components/esp_hw_support/port/esp32c3/sar_periph_ctrl.c
  components/esp_hw_support/port/esp32c5/sar_periph_ctrl.c
  components/esp_hw_support/port/esp32c6/sar_periph_ctrl.c
  components/esp_hw_support/port/esp32c61/sar_periph_ctrl.c
  components/esp_hw_support/port/esp32h2/sar_periph_ctrl.c
  components/esp_hw_support/port/esp32p4/sar_periph_ctrl.c
  components/esp_hw_support/port/esp32s2/sar_periph_ctrl.c
  components/esp_hw_support/port/esp32s3/sar_periph_ctrl.c
  components/esp_hw_support/sar_tsens_ctrl.c
  components/hal/esp32c3/include/hal/temperature_sensor_ll.h
  components/hal/esp32c5/include/hal/temperature_sensor_ll.h
  components/hal/esp32c6/include/hal/temperature_sensor_ll.h
  components/hal/esp32c61/include/hal/temperature_sensor_ll.h
  components/hal/esp32h2/include/hal/temperature_sensor_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(cache): no use sdkconfig in cache/mmu hal
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32c2.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32c3.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32c5.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32c6.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32c61.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32h2.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32h21.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32h4.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32p4.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32s2.c
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32s3.c
  components/bootloader_support/private_include/bootloader_init.h
  components/bootloader_support/src/bootloader_init.c
  components/bootloader_support/src/esp32/bootloader_esp32.c
  components/bootloader_support/src/esp32c2/bootloader_esp32c2.c
  components/bootloader_support/src/esp32c3/bootloader_esp32c3.c
  components/bootloader_support/src/esp32c5/bootloader_esp32c5.c
  components/bootloader_support/src/esp32c6/bootloader_esp32c6.c
  components/bootloader_support/src/esp32c61/bootloader_esp32c61.c
  components/bootloader_support/src/esp32h2/bootloader_esp32h2.c
  components/bootloader_support/src/esp32h21/bootloader_esp32h21.c
  components/bootloader_support/src/esp32h4/bootloader_esp32h4.c
  components/bootloader_support/src/esp32p4/bootloader_esp32p4.c
  components/bootloader_support/src/esp32s2/bootloader_esp32s2.c
  components/bootloader_support/src/esp32s3/bootloader_esp32s3.c
  components/esp_system/port/cpu_start.c
  components/hal/cache_hal.c
  components/hal/esp32/cache_hal_esp32.c
  components/hal/include/hal/cache_hal.h
  components/hal/include/hal/mmu_hal.h
  components/hal/mmu_hal.c
  tools/ci/sg_rules/no_kconfig_in_hal_component.yml
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(isp): support BLC driver
  components/esp_driver_isp/CMakeLists.txt
  components/esp_driver_isp/include/driver/isp.h
  components/esp_driver_isp/include/driver/isp_blc.h
  components/esp_driver_isp/include/driver/isp_lsc.h
  components/esp_driver_isp/include/esp_private/isp_private.h
  components/esp_driver_isp/src/isp_blc.c
  components/esp_driver_isp/src/isp_lsc.c
  components/hal/esp32p4/include/hal/isp_ll.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  docs/doxygen/Doxyfile_esp32p4
  docs/en/api-reference/peripherals/isp.rst
  docs/zh_CN/api-reference/peripherals/isp.rst
  examples/peripherals/isp/multi_pipelines/README.md
  examples/peripherals/isp/multi_pipelines/main/isp_dsi_main.c
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(http_server): Corrected initialization value for lru_counter at http session creation
  components/esp_http_server/src/httpd_sess.c
Due: gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
