Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*

example/deep_sleep: add example of EXT0 and using internal pullups
  examples/system/deep_sleep/main/Kconfig.projbuild
  examples/system/deep_sleep/main/deep_sleep_example_main.c
Due: none

lwip:bugfix for increase ping task stack size
  components/esp_system/include/esp_task.h
  components/lwip/include/apps/ping/ping_sock.h
  tools/ci/check_copyright_ignore.txt
  tools/mocks/esp_system/include/esp_task.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Blufi: use blufi_env.conn_id instead of local variable
  components/bt/common/btc/profile/esp/blufi/nimble_host/esp_blufi.c
Due: none

Blufi: Add function for blufi management inside custom gap event handler
  components/bt/common/btc/profile/esp/blufi/include/esp_blufi.h
  components/bt/common/btc/profile/esp/blufi/nimble_host/esp_blufi.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

docs: add commands to updating esp-idf versions in windows system
  docs/en/versions.rst
  docs/zh_CN/versions.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Nimble: Added check to allocate memory for extended adv reports from lower prioirty buffers instead of high prioirty pool.
  components/bt/host/nimble/esp-hci/src/esp_nimble_hci.c
Due: none

examples: support spi master lcd examples on esp32s3
  examples/peripherals/spi_master/lcd/README.md
  examples/peripherals/spi_master/lcd/main/spi_master_example_main.c
Due: none

Coexistence: remove reset for esp32's modem when PU to avoid SoftAP fail to work in some cases
  components/esp_phy/src/phy_init.c
Due: none

esp_rom: add rom tlsf function prototype instead of void *
  components/esp_rom/include/esp32c2/rom/tlsf.h
  components/esp_rom/include/esp_rom_tlsf.h
  components/esp_rom/patches/esp_rom_tlsf.c
  components/heap/multi_heap_poisoning.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_event: increase default stack size in user_event_loop example
  examples/system/esp_event/user_event_loops/main/main.c
Due: none

NimBLE : Init deinit nimble stack in a loop
  examples/bluetooth/nimble/blecent/main/Kconfig.projbuild
  examples/bluetooth/nimble/blecent/main/main.c
Due: none

bluedroid: correct the length of att read by type pdu
  components/bt/host/bluedroid/stack/gatt/att_protocol.c
Due: none

esp_wifi: Fix deauth and disassoc issues for SoftAP PMF
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: none

backup dma: force clear reset signal to fix the backup dma operation failure caused by RTC_SW_CPU_RST
  components/esp_system/port/soc/esp32s3/clk.c
Due: none

mcpwm: default clock cource is PLL160M
  components/soc/esp32/include/soc/clk_tree_defs.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

mcpwm: new function to fetch capture resolution
  components/driver/include/driver/mcpwm_cap.h
  components/driver/mcpwm/mcpwm_cap.c
  components/driver/test_apps/mcpwm/main/test_mcpwm_cap.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

mcpwm: fix wrong return value in the legacy driver
  components/driver/deprecated/driver/mcpwm.h
  components/driver/deprecated/mcpwm_legacy.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

doc: update mcpwm for esp32c6
  docs/docs_not_updated/esp32c6.txt
  docs/en/api-reference/peripherals/mcpwm.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

mcpwm: support esp32c6
  components/driver/deprecated/driver/mcpwm.h
  components/driver/deprecated/mcpwm_legacy.c
  components/driver/mcpwm/mcpwm_cap.c
  components/driver/mcpwm/mcpwm_com.c
  components/driver/mcpwm/mcpwm_private.h
  components/driver/mcpwm/mcpwm_timer.c
  components/driver/test_apps/legacy_mcpwm_driver/main/test_legacy_mcpwm.c
  components/driver/test_apps/mcpwm/main/test_mcpwm_oper.c
  components/hal/esp32/include/hal/mcpwm_ll.h
  components/hal/esp32c6/include/hal/clk_gate_ll.h
  components/hal/esp32c6/include/hal/mcpwm_ll.h
  components/soc/esp32/include/soc/Kconfig.soc_caps.in
  components/soc/esp32/include/soc/clk_tree_defs.h
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c6/CMakeLists.txt
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/clk_tree_defs.h
  components/soc/esp32c6/include/soc/mcpwm_struct.h
  components/soc/esp32c6/include/soc/periph_defs.h
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32c6/ld/esp32c6.peripherals.ld
  components/soc/esp32c6/mcpwm_periph.c
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/clk_tree_defs.h
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Revert "fixed the issue iOS devices cannot initiate connection"
  components/bt/host/bluedroid/stack/btm/btm_acl.c
  components/bt/host/bluedroid/stack/btm/btm_sec.c
  components/bt/host/bluedroid/stack/l2cap/l2c_link.c
Due: none

bt: Fixed esp_spp_write() crash when len is 0
  components/bt/host/bluedroid/api/esp_spp_api.c
Due: none

pytest_efuse: Update conftest
  examples/system/efuse/conftest.py
  examples/system/efuse/pytest_efuse.py
Due: none

efuse_exmple_test: Update to pytest framework
  examples/system/efuse/conftest.py
  examples/system/efuse/pytest_efuse.py
Due: none

esp_http_client: free cached data in case connection gets closed for redirection
  components/esp_http_client/esp_http_client.c
Due: none

[Argtable3] stack corruption for long arguments
  components/console/argtable3/argtable3.c
Due: none

partition_table: Improve an error msg and doc
  components/partition_table/gen_esp32part.py
  components/partition_table/test_gen_esp32part_host/gen_esp32part_tests.py
  docs/en/api-guides/partition-tables.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

mcpwm: fix wrong return value in the legacy driver
  components/driver/include/driver/mcpwm.h
  components/driver/mcpwm.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

test: add a script for supporting multi-dev and multi-stage case
  conftest.py
  tools/ci/exclude_check_tools_files.txt
  tools/ci/idf_unity_tester.py
Due: none

ci: install pytest packages if job name has _pytest_
  .gitlab-ci.yml
Due: none

ci: fix import path
  tools/test_apps/system/panic/conftest.py
Due: none

ci: add parallel count for pytest target test jobs based on dashboard analysis
  .gitlab/ci/target-test.yml
Due: none

ci: support one pipeline must based on commmits
  .gitlab-ci.yml
  tools/ci/config/build.yml
  tools/ci/config/pre_check.yml
  tools/ci/utils.sh
Due: none

ci: support one pipeline must based on commmits
  .gitlab-ci.yml
  tools/ci/config/build.yml
  tools/ci/config/deploy.yml
  tools/ci/config/post_check.yml
  tools/ci/utils.sh
Due: none

refactor(freertos): streamlined freertos CMakeLists.txt
  components/freertos/CMakeLists.txt
Due: none
