Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

check_readme_links:
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    GIT_STRATEGY: fetch
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs: []
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
    when: always
  script:
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  - gen_integration_pipeline
  variables:
    IDF_S3_SERVER: $IDF_S3_NEW_SERVER
    IDF_S3_ACCESS_KEY: $IDF_S3_NEW_ACCESS_KEY
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
  ...

check_powershell:
  stage: pre_check
  image: docker:latest
  services:
  - docker:dind
  tags:
  - dind
  - amd64
  - brew
  needs:
  - pipeline_variables
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 1
    SUBMODULES_TO_FETCH: none
  script:
  - apk add python3
  - apk add py3-pip
  - pip install pre-commit --break-system-packages
  ...

fix(storage/fatfs): clamp exFAT volume-label length in f_getlabel() (CVE-2026-6687)
  components/fatfs/sbom.yml
  components/fatfs/src/ff.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(storage/fatfs): guard dirty-cache refill against unsigned LBA wrap (CVE-2026-6685)
  components/fatfs/sbom.yml
  components/fatfs/src/ff.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(storage/fatfs): reject empty exFAT cluster heap (CVE-2026-6683)
  components/fatfs/sbom.yml
  components/fatfs/src/ff.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci(uart): enable test for esp32h4
  components/esp_driver_uart/test_apps/uart/pytest_uart.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix esp32s31 mpll initialization
  components/bootloader_support/src/esp32s31/bootloader_esp32s31.c
  components/esp_hal_clock/esp32s31/include/hal/clk_tree_ll.h
  components/esp_hal_mspi/esp32s31/include/hal/psram_ctrlr_ll.h
  components/esp_hal_pmu/esp32s31/include/hal/ldo_ll.h
  components/esp_hw_support/ldo/esp_ldo_regulator.c
  components/esp_hw_support/ldo/include/esp_ldo_regulator.h
  components/esp_hw_support/port/esp32p4/Kconfig.ldo
  components/esp_hw_support/port/esp32s31/Kconfig.ldo
  components/esp_hw_support/port/esp32s31/pmu_param.c
  components/esp_hw_support/port/esp_clk_tree_common.c
  components/esp_psram/device/esp_psram_impl_ap_oct.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

feat(soc): update PMU & PAU register description
  components/soc/esp32c61/register/soc/pau_reg.h
  components/soc/esp32c61/register/soc/pau_struct.h
  components/soc/esp32c61/register/soc/pmu_reg.h
  components/soc/esp32c61/register/soc/pmu_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(storage/fatfs): record non-applicable runZero 2026 CVEs in SBOM
  components/fatfs/sbom.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

test(vfs): reformat WL FATFS in setup to avoid stale-partition flakes
  components/vfs/test_apps/main/test_vfs_access.c
  components/vfs/test_apps/main/test_vfs_append.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ulp): validate bss_size before zeroing ULP BSS region
  components/ulp/ulp_fsm/include/ulp_fsm_common.h
  components/ulp/ulp_fsm/ulp.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(psram): Add unencrypted region for psram for esp32s31
  components/esp_psram/system_layer/esp_psram.c
  components/hal/esp32s31/include/hal/mmu_ll.h
  components/soc/esp32s31/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s31/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(jpeg): JPEG can encode and decode in encryption situation
  components/esp_driver_jpeg/jpeg_common.c
  components/esp_driver_jpeg/jpeg_decode.c
  components/esp_driver_jpeg/jpeg_encode.c
  components/esp_driver_jpeg/jpeg_private.h
  docs/en/api-reference/peripherals/jpeg.rst
  docs/zh_CN/api-reference/peripherals/jpeg.rst
  examples/peripherals/jpeg/jpeg_decode/main/jpeg_decode_example_main.c
  examples/peripherals/jpeg/jpeg_decode/pytest_jpeg_decode.py
  examples/peripherals/jpeg/jpeg_decode/sdkconfig.ci.default
  examples/peripherals/jpeg/jpeg_decode/sdkconfig.ci.flash_enc
  examples/peripherals/jpeg/jpeg_encode/main/jpeg_encode_example_main.c
  examples/peripherals/jpeg/jpeg_encode/pytest_jpeg_encode.py
  examples/peripherals/jpeg/jpeg_encode/sdkconfig.ci.default
  examples/peripherals/jpeg/jpeg_encode/sdkconfig.ci.flash_enc
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

test(esp_system): relocate FreeRTOS tick hook test
  components/esp_system/test_apps/esp_system_unity_tests/main/CMakeLists.txt
  components/esp_system/test_apps/esp_system_unity_tests/main/test_freertos_tick_hooks.c
  components/freertos/test_apps/freertos/misc/test_idf_additions.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): support weak func for wifi lmac assert
  components/esp_wifi/include/esp_private/wifi.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(coex): remove unsupported external coex soc caps
  components/soc/esp32c2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c2/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h21/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h21/include/soc/soc_caps.h
  components/soc/esp32h4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_eth): use stored base_increment when computing PTP addend
  components/hal/emac_hal.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(temperature_sensor): Add temperature sensor support for esp32h21
  components/esp_driver_tsens/esp32h21/temperature_sensor_retention.c
  components/esp_driver_tsens/test_apps/temperature_sensor/README.md
  components/esp_hal_ana_conv/esp32h21/include/hal/temperature_sensor_ll.h
  components/esp_hal_ana_conv/esp32h21/temperature_sensor_periph.c
  components/esp_hw_support/port/esp32h21/sar_periph_ctrl.c
  components/soc/esp32h21/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h21/include/soc/clk_tree_defs.h
  components/soc/esp32h21/include/soc/interrupts.h
  components/soc/esp32h21/include/soc/soc_caps.h
  components/soc/esp32h21/register/soc/apb_saradc_reg.h
  examples/peripherals/temperature_sensor/temp_sensor/README.md
  examples/peripherals/temperature_sensor/temp_sensor_monitor/README.md
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(bt): clarify BR/EDR TX power behavior in menuconfig help
  components/bt/porting_btdm/controller/bredr/Kconfig.in
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(storage): stabilize parttool pytest serial handoff
  examples/storage/parttool/pytest_parttool_example.py
Due: none

fix(wifi): update wifi scan threshold doc
  components/esp_wifi/include/esp_wifi_types_generic.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): update auth mode threshold doc
  components/esp_wifi/include/esp_wifi_types_generic.h
  docs/en/api-guides/wifi-driver/overview.rst
  docs/zh_CN/api-guides/wifi-driver/overview.rst
  docs/zh_CN/api-guides/wifi-driver/station-scenarios.rst
  examples/phy/antenna/main/antenna_switch_example_main.c
  examples/wifi/getting_started/station/main/station_example_main.c
  examples/wifi/softap_sta/main/softap_sta.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

ci: remove pip-cache
  .gitlab/ci/common.yml
  .gitlab/ci/host-test.yml
  .gitlab/ci/rules.yml
  .gitlab/ci/test-win.yml
  .gitlab/ci/upload_cache.yml
  tools/ci/dynamic_pipelines/templates/.dynamic_jobs.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: remove build report and failed job report
  .gitlab/ci/post_deploy.yml
  .idf_ci.toml
  tools/ci/dynamic_pipelines/constants.py
  tools/ci/dynamic_pipelines/models.py
  tools/ci/dynamic_pipelines/report.py
  tools/ci/dynamic_pipelines/scripts/generate_report.py
  tools/ci/dynamic_pipelines/templates/report.template.html
  tools/ci/dynamic_pipelines/templates/scripts.js
  tools/ci/dynamic_pipelines/templates/styles.css
  tools/ci/dynamic_pipelines/templates/test_child_pipeline.yml
  tools/ci/dynamic_pipelines/utils.py
  tools/ci/exclude_check_tools_files.txt
  tools/ci/idf_ci_local/app.py
  tools/ci/idf_ci_utils.py
  tools/ci/previous_stage_job_status.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix missing CPU retention register range macros for ESP32S31
  components/esp_hw_support/lowpower/port/esp32s31/sleep_cpu_static.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(openthread): add APIs to clear a single src match short and extended entry in esp radio spinel
  components/openthread/include/esp_radio_spinel.h
  components/openthread/src/spinel/esp_radio_spinel.cpp
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml
