Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

change(bt): increase BTDM_MODEM_WAKE_UP_DELAY
  components/bt/controller/esp32/bt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_timer): make esp_timer timming drift always be negative
  components/esp_hw_support/port/esp32/rtc_clk.c
  components/esp_timer/test_apps/main/test_esp_timer_dfs.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): config lact in critical
  components/esp_pm/pm_impl.c
  components/esp_timer/src/esp_timer_impl_lac.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: Use new release-zips-action with shallow history
  .github/workflows/release_zips.yml
Due: none

fix(esp_adc): Release the peripheral after calibration
  components/esp_adc/adc_common.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(migration-guides): add CN translation for build-system.rst
  docs/en/migration-guides/release-6.x/6.0/build-system.rst
  docs/zh_CN/migration-guides/release-6.x/6.0/build-system.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(esp_eth): Enable EEE (802.3az) on DM9051
  components/esp_eth/src/spi/dm9051/dm9051.h
  components/esp_eth/src/spi/dm9051/esp_eth_mac_dm9051.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_tls): fix failing build with TLS1.3 only and dynamic buffer
  components/esp-tls/esp_tls_mbedtls.c
  components/mbedtls/port/dynamic/esp_ssl_tls.c
  examples/protocols/https_request/pytest_https_request.py
  examples/protocols/https_request/sdkconfig.ci.ssldyn_tls1_3_only
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(temperature_sensor): Remove legacy temperature sensor driver
  components/driver/CMakeLists.txt
  components/driver/Kconfig
  components/driver/deprecated/driver/temp_sensor.h
  components/driver/deprecated/driver/temp_sensor_types_legacy.h
  components/driver/deprecated/rtc_temperature_legacy.c
  components/driver/test_apps/.build-test-rules.yml
  components/driver/test_apps/legacy_rtc_temp_driver/CMakeLists.txt
  components/driver/test_apps/legacy_rtc_temp_driver/README.md
  components/driver/test_apps/legacy_rtc_temp_driver/main/CMakeLists.txt
  components/driver/test_apps/legacy_rtc_temp_driver/main/test_app_main.c
  components/driver/test_apps/legacy_rtc_temp_driver/main/test_rtc_temp_driver.c
  components/driver/test_apps/legacy_rtc_temp_driver/pytest_legacy_temp_sensor_driver.py
  components/driver/test_apps/legacy_rtc_temp_driver/sdkconfig.ci.release
  components/driver/test_apps/legacy_rtc_temp_driver/sdkconfig.defaults
  docs/en/migration-guides/release-5.x/5.0/peripherals.rst
  docs/en/migration-guides/release-6.x/6.0/peripherals.rst
  docs/zh_CN/migration-guides/release-5.x/5.0/peripherals.rst
  docs/zh_CN/migration-guides/release-6.x/6.0/peripherals.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

refactor(temperature_sensor): Move calibration function from efuse to hal
  components/efuse/esp32c2/esp_efuse_rtc_calib.c
  components/efuse/esp32c2/include/esp_efuse_rtc_calib.h
  components/efuse/esp32c3/esp_efuse_rtc_calib.c
  components/efuse/esp32c3/include/esp_efuse_rtc_calib.h
  components/efuse/esp32c5/esp_efuse_rtc_calib.c
  components/efuse/esp32c5/include/esp_efuse_rtc_calib.h
  components/efuse/esp32c6/esp_efuse_rtc_calib.c
  components/efuse/esp32c6/include/esp_efuse_rtc_calib.h
  components/efuse/esp32c61/esp_efuse_rtc_calib.c
  components/efuse/esp32c61/include/esp_efuse_rtc_calib.h
  components/efuse/esp32h2/esp_efuse_rtc_calib.c
  components/efuse/esp32h2/include/esp_efuse_rtc_calib.h
  components/efuse/esp32h21/esp_efuse_rtc_calib.c
  components/efuse/esp32h21/include/esp_efuse_rtc_calib.h
  components/efuse/esp32p4/esp_efuse_rtc_calib.c
  components/efuse/esp32p4/include/esp_efuse_rtc_calib.h
  components/efuse/esp32s2/esp_efuse_rtc_calib.c
  components/efuse/esp32s2/include/esp_efuse_rtc_calib.h
  components/efuse/esp32s2/sources.cmake
  components/efuse/esp32s3/esp_efuse_rtc_calib.c
  components/efuse/esp32s3/include/esp_efuse_rtc_calib.h
  components/esp_driver_tsens/src/temperature_sensor.c
  components/hal/esp32c2/include/hal/temperature_sensor_ll.h
  components/hal/esp32c3/include/hal/temperature_sensor_ll.h
  components/hal/esp32c5/include/hal/temperature_sensor_ll.h
  components/hal/esp32c6/include/hal/temperature_sensor_ll.h
  components/hal/esp32c61/include/hal/temperature_sensor_ll.h
  components/hal/esp32h2/include/hal/temperature_sensor_ll.h
  components/hal/esp32p4/include/hal/temperature_sensor_ll.h
  components/hal/esp32s2/include/hal/temperature_sensor_ll.h
  components/hal/esp32s3/include/hal/temperature_sensor_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(soc): Fix wrong efuse register on esp32c61
  components/esp_driver_tsens/src/temperature_sensor.c
  components/hal/esp32c2/include/hal/temperature_sensor_ll.h
  components/hal/esp32c3/include/hal/temperature_sensor_ll.h
  components/hal/esp32c5/include/hal/temperature_sensor_ll.h
  components/hal/esp32c6/include/hal/temperature_sensor_ll.h
  components/hal/esp32c61/include/hal/temperature_sensor_ll.h
  components/hal/esp32h2/include/hal/temperature_sensor_ll.h
  components/hal/esp32p4/include/hal/temperature_sensor_ll.h
  components/hal/esp32s2/include/hal/temperature_sensor_ll.h
  components/hal/esp32s3/include/hal/temperature_sensor_ll.h
  components/soc/esp32c61/register/soc/efuse_struct.h
  docs/en/migration-guides/release-6.x/6.0/peripherals.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat: enable support for deterministic mode for esp32h2
  components/hal/ecdsa_hal.c
  components/hal/esp32c5/include/hal/ecdsa_ll.h
  components/hal/esp32c61/include/hal/ecdsa_ll.h
  components/hal/esp32h2/include/hal/ecdsa_ll.h
  components/hal/esp32h21/include/hal/ecdsa_ll.h
  components/hal/esp32p4/include/hal/ecdsa_ll.h
  components/hal/test_apps/crypto/main/ecdsa/test_ecdsa.c
  components/mbedtls/port/ecdsa/ecdsa_alt.c
  components/mbedtls/test_apps/main/test_mbedtls_ecdsa.c
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat: enabled ECDSA-P192 support for ESP32H2
  components/bootloader_support/src/esp32h2/secure_boot_secure_features.c
  components/bootloader_support/src/secure_boot.c
  components/efuse/src/esp_efuse_fields.c
  components/hal/esp32h2/efuse_hal.c
  components/hal/esp32h2/include/hal/ecdsa_ll.h
  components/hal/esp32h2/include/hal/efuse_hal.h
  components/hal/esp32h2/include/hal/efuse_ll.h
  components/hal/esp32h21/efuse_hal.c
  components/hal/esp32h21/include/hal/ecdsa_ll.h
  components/hal/esp32h21/include/hal/efuse_hal.h
  components/hal/test_apps/crypto/main/Kconfig.projbuild
  components/mbedtls/test_apps/main/test_mbedtls_ecdsa.c
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  docs/en/api-reference/peripherals/ecdsa.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

docs: Update CN translation for ecdsa.rst
  docs/en/api-reference/peripherals/ecdsa.rst
  docs/zh_CN/api-reference/peripherals/ecdsa.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(cache): fixed SOC_CACHE_FREEZE_SUPPORTED not defined on c3/c2 issue
  components/hal/esp32c2/include/hal/cache_ll.h
  components/hal/esp32c3/include/hal/cache_ll.h
  components/soc/esp32c2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c2/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): Fixes failing TLS 1.3 server handshake
  components/mbedtls/port/esp_ds/esp_rsa_sign_alt.c
  examples/protocols/https_server/simple/pytest_https_server_simple.py
  examples/protocols/https_server/simple/sdkconfig.ci.tls1_3
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(jpeg): Fix wrong parameter in jpeg encoder msync
  components/esp_driver_jpeg/jpeg_encode.c
Due: gen_integration_pipeline, child_integration_test_pipeline

bugfix(jpeg): eliminate random black line on jpeg decoder
  components/esp_driver_jpeg/jpeg_decode.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(hw_support): move call_start_cpu0 into flash to save IRAM
  components/esp_system/port/cpu_start.c
  components/esp_system/startup.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt): Fixed HFP AG data callback cleared after profile is re-initialized
  components/bt/common/btc/core/btc_task.c
  components/bt/host/bluedroid/btc/profile/std/hf_ag/btc_hf_ag.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_hf_ag.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
