Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

Unify controller internal error code on ESP32-C2
  components/bt/controller/esp32c2/bt.c
  components/bt/porting/nimble/src/os_msys_init.c
Due: none

ble: remove redundant pm lock on ble
  components/bt/controller/esp32c2/bt.c
Due: none

bt:Modify the member variable *arg in struct btc_msg to arg[0]
  components/bt/common/btc/core/btc_task.c
  components/bt/common/btc/include/btc/btc_task.h
  components/bt/host/bluedroid/btc/core/btc_dm.c
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_bt.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bt: Fixed incorrect parameters in switching to BTC context
  components/bt/common/btc/core/btc_task.c
Due: none

[BT] btc_spp_write mem leak
  components/bt/host/bluedroid/bta/include/bta/bta_sys.h
  components/bt/host/bluedroid/bta/jv/bta_jv_api.c
  components/bt/host/bluedroid/bta/sys/bta_sys_main.c
  components/bt/host/bluedroid/btc/profile/std/spp/btc_spp.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

ci: use different tag for runners to run the cache jobs
  .gitlab/ci/upload_cache.yml
Due: none

mspi_tuning: fix psram timing tuning bug
  components/esp_psram/test_apps/psram/sdkconfig.ci.esp32s3_octal_advanced
  components/spi_flash/spi_flash_timing_tuning.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

[BT] list fix
  components/bt/common/osi/list.c
Due: none

system: don't disable cache if Flash .text and .rodata are moved to PSRAM
  components/spi_flash/spi_flash_os_func_app.c
Due: none

Ethernet examples: added warning that ENC28J60 is not recommended for new designs using ESP32 series of chips
  examples/ethernet/enc28j60/README.md
Due: none

pytest: Expect "Calling app_main()" to indicate start of application
  components/freertos/app_startup.c
  examples/build_system/cmake/plugins/pytest_plugins.py
  examples/system/efuse/pytest_system_efuse_example.py
  examples/system/eventfd/pytest_eventfd.py
  examples/system/select/pytest_select.py
Due: none

esp_eth: receive buffer allocation optimization
  components/esp_eth/src/esp_eth_mac_dm9051.c
  components/esp_eth/src/esp_eth_mac_esp.c
  components/esp_eth/src/esp_eth_mac_ksz8851snl.c
  components/esp_eth/src/esp_eth_mac_w5500.c
  components/hal/emac_hal.c
  components/hal/include/hal/emac_hal.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Improved emac rx task code to suppress Coverity false positive memory leak indication
  components/esp_eth/src/esp_eth_mac_dm9051.c
  components/esp_eth/src/esp_eth_mac_esp.c
  components/esp_eth/src/esp_eth_mac_ksz8851snl.c
  components/esp_eth/src/esp_eth_mac_w5500.c
Due: none

Nimble: Support maximum number of connections to 9 on ESP32-C3 and ESP32-S3
  components/bt/host/nimble/Kconfig.in
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

usb_host: hid example
  examples/peripherals/usb/host/hid/CMakeLists.txt
  examples/peripherals/usb/host/hid/README.md
  examples/peripherals/usb/host/hid/components/hid/CMakeLists.txt
  examples/peripherals/usb/host/hid/components/hid/hid_host.c
  examples/peripherals/usb/host/hid/components/hid/include/hid.h
  examples/peripherals/usb/host/hid/components/hid/include/hid_host.h
  examples/peripherals/usb/host/hid/components/hid/include/hid_usage_keyboard.h
  examples/peripherals/usb/host/hid/components/hid/include/hid_usage_mouse.h
  examples/peripherals/usb/host/hid/components/hid/test_apps/hid_basic/CMakeLists.txt
  examples/peripherals/usb/host/hid/components/hid/test_apps/hid_basic/README.md
  examples/peripherals/usb/host/hid/components/hid/test_apps/hid_basic/main/CMakeLists.txt
  examples/peripherals/usb/host/hid/components/hid/test_apps/hid_basic/main/test_app_main.c
  examples/peripherals/usb/host/hid/components/hid/test_apps/hid_basic/main/test_hid_basic.c
  examples/peripherals/usb/host/hid/components/hid/test_apps/hid_basic/main/test_hid_basic.h
  examples/peripherals/usb/host/hid/components/hid/test_apps/hid_basic/main/test_hid_err_handling.c
  examples/peripherals/usb/host/hid/components/hid/test_apps/hid_basic/main/test_hid_usb_driver.c
  examples/peripherals/usb/host/hid/components/hid/test_apps/hid_basic/pytest_hid_basic.py
  examples/peripherals/usb/host/hid/components/hid/test_apps/hid_basic/sdkconfig.ci.defaults
  examples/peripherals/usb/host/hid/main/CMakeLists.txt
  examples/peripherals/usb/host/hid/main/hid_host_example.c
Due: none

versions: Update to v4.1.4
  components/esp_common/include/esp_idf_version.h
  make/version.mk
  tools/cmake/version.cmake
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Test Commit: Trace macro user def.
  components/freertos/esp_additions/include/freertos/FreeRTOSConfig.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

trace macro redefinition
  components/freertos/esp_additions/include/freertos/FreeRTOSConfig.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_flash_encrypt: If it is supported then Enable secure download mode in release mode instead of disabling it completely.
  components/bootloader_support/src/flash_encrypt.c
Due: none

Fixed incorrect parameters in switching to BTC context
  components/bt/common/btc/core/btc_task.c
  components/bt/host/bluedroid/api/esp_hf_ag_api.c
Due: none

system: fix printf format errors in all system and cxx examples
  examples/cxx/experimental/esp_mqtt_cxx/components/esp_mqtt_cxx/CMakeLists.txt
  examples/cxx/experimental/esp_mqtt_cxx/components/esp_mqtt_cxx/esp_mqtt_cxx.cpp
  examples/cxx/experimental/esp_mqtt_cxx/ssl/main/CMakeLists.txt
  examples/cxx/experimental/esp_mqtt_cxx/ssl/main/mqtt_ssl_example.cpp
  examples/cxx/experimental/esp_mqtt_cxx/tcp/main/CMakeLists.txt
  examples/cxx/experimental/esp_mqtt_cxx/tcp/main/mqtt_tcp_example.cpp
  examples/system/console/advanced/components/cmd_nvs/CMakeLists.txt
  examples/system/console/advanced/components/cmd_nvs/cmd_nvs.c
  examples/system/console/advanced/components/cmd_system/CMakeLists.txt
  examples/system/console/advanced/components/cmd_system/cmd_system.c
  examples/system/deep_sleep/main/CMakeLists.txt
  examples/system/deep_sleep/main/deep_sleep_example_main.c
  examples/system/flash_suspend/main/CMakeLists.txt
  examples/system/flash_suspend/main/app_main.c
  examples/system/freertos/real_time_stats/main/CMakeLists.txt
  examples/system/freertos/real_time_stats/main/real_time_stats_example_main.c
  examples/system/himem/main/CMakeLists.txt
  examples/system/himem/main/himem_example_main.c
  examples/system/ipc/ipc_isr/main/CMakeLists.txt
  examples/system/ipc/ipc_isr/main/main.c
  examples/system/ota/advanced_https_ota/main/CMakeLists.txt
  examples/system/ota/advanced_https_ota/main/advanced_https_ota_example.c
  examples/system/ota/advanced_https_ota/main/ble_helper/bluedroid_gatts.c
  examples/system/ota/native_ota_example/main/CMakeLists.txt
  examples/system/ota/native_ota_example/main/native_ota_example.c
  examples/system/pthread/main/CMakeLists.txt
  examples/system/pthread/main/pthread_example.c
  examples/system/sysview_tracing/main/CMakeLists.txt
  examples/system/sysview_tracing/main/sysview_tracing.c
  examples/system/sysview_tracing_heap_log/main/CMakeLists.txt
  examples/system/sysview_tracing_heap_log/main/sysview_heap_log.c
  examples/system/ulp_fsm/ulp/main/CMakeLists.txt
  examples/system/ulp_fsm/ulp/main/ulp_example_main.c
  examples/system/ulp_fsm/ulp_adc/main/CMakeLists.txt
  examples/system/ulp_fsm/ulp_adc/main/ulp_adc_example_main.c
  examples/system/ulp_riscv/adc/main/CMakeLists.txt
  examples/system/ulp_riscv/adc/main/ulp_riscv_adc_example_main.c
  examples/system/ulp_riscv/i2c/main/CMakeLists.txt
  examples/system/ulp_riscv/i2c/main/ulp_riscv_rtc_i2c_example_main.c
Due: none

rmt: fix bad config initializer
  components/driver/deprecated/driver/rmt_types_legacy.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

seperate ble wifi environment and support ci esp32c2 (backport v5.0)
  .gitlab/ci/README.md
  .gitlab/ci/assign-test.yml
  .gitlab/ci/dependencies/dependencies.yml
  .gitlab/ci/rules.yml
  .gitlab/ci/target-test.yml
  tools/ci/integration_test/KnownIssues
  tools/ci/integration_test/README.md
  tools/ci/integration_test/prepare_test_bins.py
  tools/ci/integration_test/test_configs/nvs_compatible_test_.yml
Due: none

system: fix printf format errors in all system and cxx examples
  examples/cxx/experimental/esp_mqtt_cxx/components/esp_mqtt_cxx/CMakeLists.txt
  examples/cxx/experimental/esp_mqtt_cxx/components/esp_mqtt_cxx/esp_mqtt_cxx.cpp
  examples/cxx/experimental/esp_mqtt_cxx/ssl/main/CMakeLists.txt
  examples/cxx/experimental/esp_mqtt_cxx/ssl/main/mqtt_ssl_example.cpp
  examples/cxx/experimental/esp_mqtt_cxx/tcp/main/CMakeLists.txt
  examples/cxx/experimental/esp_mqtt_cxx/tcp/main/mqtt_tcp_example.cpp
  examples/system/console/advanced/components/cmd_nvs/CMakeLists.txt
  examples/system/console/advanced/components/cmd_nvs/cmd_nvs.c
  examples/system/console/advanced/components/cmd_system/CMakeLists.txt
  examples/system/console/advanced/components/cmd_system/cmd_system.c
  examples/system/deep_sleep/main/CMakeLists.txt
  examples/system/deep_sleep/main/deep_sleep_example_main.c
  examples/system/flash_suspend/main/CMakeLists.txt
  examples/system/flash_suspend/main/app_main.c
  examples/system/freertos/real_time_stats/main/CMakeLists.txt
  examples/system/freertos/real_time_stats/main/real_time_stats_example_main.c
  examples/system/himem/main/CMakeLists.txt
  examples/system/himem/main/himem_example_main.c
  examples/system/ipc/ipc_isr/main/CMakeLists.txt
  examples/system/ipc/ipc_isr/main/main.c
  examples/system/ota/advanced_https_ota/main/CMakeLists.txt
  examples/system/ota/advanced_https_ota/main/advanced_https_ota_example.c
  examples/system/ota/advanced_https_ota/main/ble_helper/bluedroid_gatts.c
  examples/system/ota/native_ota_example/main/CMakeLists.txt
  examples/system/ota/native_ota_example/main/native_ota_example.c
  examples/system/pthread/main/CMakeLists.txt
  examples/system/pthread/main/pthread_example.c
  examples/system/sysview_tracing/main/CMakeLists.txt
  examples/system/sysview_tracing/main/sysview_tracing.c
  examples/system/sysview_tracing_heap_log/main/CMakeLists.txt
  examples/system/sysview_tracing_heap_log/main/sysview_heap_log.c
  examples/system/ulp_fsm/ulp/main/CMakeLists.txt
  examples/system/ulp_fsm/ulp/main/ulp_example_main.c
  examples/system/ulp_fsm/ulp_adc/main/CMakeLists.txt
  examples/system/ulp_fsm/ulp_adc/main/ulp_adc_example_main.c
  examples/system/ulp_riscv/adc/main/CMakeLists.txt
  examples/system/ulp_riscv/adc/main/ulp_riscv_adc_example_main.c
Due: none

esp_wifi:BDSA related patch updates
  components/wpa_supplicant/esp_supplicant/src/esp_common.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
  components/wpa_supplicant/src/ap/wpa_auth.c
  components/wpa_supplicant/src/common/wpa_common.h
  components/wpa_supplicant/src/rsn_supp/wpa.c
  components/wpa_supplicant/src/rsn_supp/wpa.h
  components/wpa_supplicant/src/rsn_supp/wpa_i.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

mcpwm: support not reset GPIO config at exit
  components/driver/include/driver/mcpwm_cap.h
  components/driver/mcpwm/mcpwm_cap.c
  components/driver/mcpwm/mcpwm_private.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Nimble: Update documentation to include distinction between upstream mesh example and ESP-BLE-MESH
  components/bt/host/nimble/Kconfig.in
  examples/bluetooth/nimble/blemesh/README.md
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Tools: gdbgui is not supported on Python 3.11
  tools/requirements/requirements.gdbgui.txt
Due: none

Enforce that SPI Flash pins are not for regular usage.
  docs/en/hw-reference/esp32/get-started-wrover-kit.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

cxx: fixed stack smash test case failing due to changed output
  components/cxx/test_apps/general/pytest_cxx_general.py
Due: none

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*
