Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*

soc: H4/H2/C6 support SOC_PM_SUPPORT_DEEPSLEEP_CHECK_STUB_ONLY
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h4/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_hw_support: support riscv call
  components/esp_hw_support/sleep_modes.c
Due: none

doc: update wifi amsdu docs
  docs/en/api-guides/wifi.rst
  docs/zh_CN/api-guides/wifi.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: split spi_flash api-reference documents to peripherals folder
  components/spi_flash/include/esp_flash.h
  docs/en/api-reference/peripherals/index.rst
  docs/en/api-reference/peripherals/spi_flash/auto_suspend.inc
  docs/en/api-reference/peripherals/spi_flash/spi_flash.rst
  docs/en/api-reference/peripherals/spi_flash/spi_flash_concurrency.rst
  docs/en/api-reference/peripherals/spi_flash/spi_flash_optional_feature.rst
  docs/en/api-reference/peripherals/spi_flash/spi_flash_override_driver.rst
  docs/en/api-reference/peripherals/spi_flash/xip_from_psram.inc
  docs/en/api-reference/storage/index.rst
  docs/en/api-reference/storage/partition.rst
  docs/en/api-reference/system/ota.rst
  docs/en/api-reference/system/wdts.rst
  docs/page_redirects.txt
  docs/sphinx-known-warnings.txt
  docs/zh_CN/api-reference/peripherals/index.rst
  docs/zh_CN/api-reference/peripherals/spi_flash/auto_suspend.inc
  docs/zh_CN/api-reference/peripherals/spi_flash/spi_flash.rst
  docs/zh_CN/api-reference/peripherals/spi_flash/spi_flash_concurrency.rst
  docs/zh_CN/api-reference/peripherals/spi_flash/spi_flash_optional_feature.rst
  docs/zh_CN/api-reference/peripherals/spi_flash/spi_flash_override_driver.rst
  docs/zh_CN/api-reference/peripherals/spi_flash/xip_from_psram.inc
  docs/zh_CN/api-reference/storage/index.rst
  docs/zh_CN/api-reference/storage/partition.rst
  docs/zh_CN/api-reference/storage/spi_flash_optional_feature.rst
  docs/zh_CN/api-reference/storage/spi_flash_override_driver.rst
  docs/zh_CN/api-reference/system/ota.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: fix driver sphinx warnings
  components/driver/include/driver/rmt_encoder.h
  components/driver/include/driver/spi_master.h
  components/driver/include/driver/spi_slave.h
  docs/sphinx-known-warnings.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

index
  docs/en/api-guides/build-system.rst
  docs/en/api-reference/peripherals/index.rst
  docs/en/api-reference/peripherals/spi_flash/index.rst
  docs/en/api-reference/storage/index.rst
  docs/en/api-reference/storage/partition.rst
  docs/en/api-reference/system/ota.rst
  docs/en/api-reference/system/wdts.rst
  docs/page_redirects.txt
  docs/zh_CN/api-guides/build-system.rst
  docs/zh_CN/api-reference/peripherals/index.rst
  docs/zh_CN/api-reference/peripherals/spi_flash/index.rst
  docs/zh_CN/api-reference/storage/index.rst
  docs/zh_CN/api-reference/storage/partition.rst
  docs/zh_CN/api-reference/system/ota.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

esp_hw_support(esp32): If the MAC_FACTORY CRC check fails, then esp_efuse_mac_get_default returns INVALID_CRC instead of abort
  components/esp_hw_support/Kconfig
  components/esp_hw_support/mac_addr.c
  components/esp_phy/src/phy_init.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

ESP32H2: Add small CI test for ESP32H2
  .gitlab/ci/dependencies/dependencies.yml
  .gitlab/ci/pre_check.yml
  .gitlab/ci/rules.yml
  examples/build_system/cmake/idf_as_lib/CMakeLists.txt
  examples/build_system/cmake/idf_as_lib/build-esp32h2.sh
  examples/build_system/cmake/idf_as_lib/run-esp32h2.sh
  tools/ci/build_template_app.sh
  tools/ci/check_build_test_rules.py
  tools/ci/test_build_system_cmake.sh
  tools/idf_size_yaml/esp32h2_data_info.yaml
  tools/test_apps/.build-test-rules.yml
  tools/test_apps/system/build_test/sdkconfig.ci.esp32h2_with_rom_impl_components
  tools/test_apps/system/build_test/sdkconfig.ci.esp32h2_without_rom_impl_components
  tools/test_apps/system/g0_components/CMakeLists.txt
  tools/test_apps/system/g0_components/README.md
  tools/tools.json
Due: none

rmt: no auto light sleep if xtal is working as the clock source
  components/driver/rmt/rmt_common.c
Due: none

esp32c6: enable wifi
  components/esp_hw_support/sleep_modes.c
  components/esp_wifi/esp32c6/esp_adapter.c
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp32c6: support wifi 6
  components/esp_common/src/esp_err_to_name.c
  components/esp_rom/esp32c6/ld/esp32c6.rom.pp.ld
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_private/esp_wifi_he_private.h
  components/esp_wifi/include/esp_private/esp_wifi_he_types_private.h
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/include/esp_private/wifi_os_adapter.h
  components/esp_wifi/include/esp_wifi.h
  components/esp_wifi/include/esp_wifi_he.h
  components/esp_wifi/include/esp_wifi_he_types.h
  components/esp_wifi/include/esp_wifi_types.h
  components/lwip/Kconfig
  components/lwip/port/esp32/include/lwipopts.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  examples/common_components/iperf/CMakeLists.txt
  examples/common_components/iperf/include/wifi_cmd.h
  examples/common_components/iperf/include/wifi_stats.h
  examples/common_components/iperf/iperf.c
  examples/common_components/iperf/wifi_cmd.c
  examples/common_components/iperf/wifi_stats.c
  examples/common_components/iperf/wifi_twt.c
  examples/wifi/iperf/main/cmd_wifi.c
  examples/wifi/iperf/sdkconfig.defaults.esp32c6
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

rom: sync with the rebase
  components/esp_rom/esp32c6/ld/esp32c6.rom.pp.ld
Due: none

esp32c6: add itwt example
  examples/wifi/itwt/CMakeLists.txt
  examples/wifi/itwt/README.md
  examples/wifi/itwt/main/CMakeLists.txt
  examples/wifi/itwt/main/Kconfig.projbuild
  examples/wifi/itwt/main/itwt.c
  examples/wifi/itwt/sdkconfig.defaults
  examples/wifi/itwt/sdkconfig.defaults.esp32c6
Due: none

style(freertos/linux): improved docs and coding style
  components/freertos/FreeRTOS-Kernel/portable/linux/include/freertos/portmacro.h
  components/freertos/FreeRTOS-Kernel/portable/linux/port.c
  components/freertos/esp_additions/include/freertos/FreeRTOSConfig.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

wifi: update wifi libs to support wifi6 features and fix build error
  components/esp_hw_support/sleep_modes.c
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_private/esp_wifi_he_private.h
  components/esp_wifi/include/esp_private/esp_wifi_he_types_private.h
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/include/esp_wifi_he_types.h
  components/esp_wifi/include/esp_wifi_types.h
  examples/common_components/iperf/CMakeLists.txt
  examples/common_components/iperf/include/wifi_stats.h
  examples/common_components/iperf/iperf.c
  examples/common_components/iperf/wifi_cmd.c
  examples/common_components/iperf/wifi_stats.c
  examples/wifi/.build-test-rules.yml
  examples/wifi/iperf/main/cmd_wifi.c
  examples/wifi/itwt/main/CMakeLists.txt
  examples/wifi/itwt/main/itwt.c
  examples/wifi/itwt/sdkconfig.defaults
  examples/wifi/itwt/sdkconfig.defaults.esp32c6
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

clk: initialize wifi lp_clk in esp_perip_clk_init
  components/esp_system/port/soc/esp32c6/clk.c
Due: none

io_mux: can set different clock source
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/include/esp_private/io_mux.h
  components/esp_hw_support/port/esp32/io_mux.c
  components/esp_hw_support/port/esp32c2/io_mux.c
  components/esp_hw_support/port/esp32c3/io_mux.c
  components/esp_hw_support/port/esp32c6/io_mux.c
  components/esp_hw_support/port/esp32h2/io_mux.c
  components/esp_hw_support/port/esp32h4/io_mux.c
  components/esp_hw_support/port/esp32s2/io_mux.c
  components/esp_hw_support/port/esp32s3/io_mux.c
  components/hal/esp32c6/include/hal/clk_tree_ll.h
  components/hal/esp32c6/include/hal/gpio_ll.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

glitch_filter: support derive clock source form IO MUX
  components/driver/gpio/glitch_filter_priv.h
  components/driver/gpio/gpio_flex_glitch_filter.c
  components/driver/gpio/gpio_pin_glitch_filter.c
  components/driver/include/driver/gpio_filter.h
  components/driver/test_apps/gpio/main/test_gpio_filter.c
  components/hal/include/hal/glitch_filter_types.h
  components/soc/esp32c2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c2/include/soc/clk_tree_defs.h
  components/soc/esp32c2/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/clk_tree_defs.h
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/clk_tree_defs.h
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/clk_tree_defs.h
  components/soc/esp32h4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h4/include/soc/clk_tree_defs.h
  components/soc/esp32h4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/clk_tree_defs.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/clk_tree_defs.h
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

sdm: support derive clock source from IO MUX
  components/driver/sdm.c
  components/soc/esp32/include/soc/Kconfig.soc_caps.in
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/clk_tree_defs.h
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
  tools/unit-test-app/components/test_utils/ref_clock_impl_rmt_pcnt.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

gpio: combine sdm, glitch filter, fast gpio tests into one app
  components/driver/.build-test-rules.yml
  components/driver/test_apps/gpio/main/CMakeLists.txt
  components/driver/test_apps/gpio/pytest_gpio.py
  components/driver/test_apps/gpio_extensions/CMakeLists.txt
  components/driver/test_apps/gpio_extensions/README.md
  components/driver/test_apps/gpio_extensions/main/CMakeLists.txt
  components/driver/test_apps/gpio_extensions/main/test_app_main.c
  components/driver/test_apps/gpio_extensions/main/test_dedicated_gpio.c
  components/driver/test_apps/gpio_extensions/main/test_gpio_filter.c
  components/driver/test_apps/gpio_extensions/main/test_sdm.c
  components/driver/test_apps/gpio_extensions/pytest_gpio_extensions.py
  components/driver/test_apps/gpio_extensions/sdkconfig.ci.iram_safe
  components/driver/test_apps/gpio_extensions/sdkconfig.ci.release
  components/driver/test_apps/gpio_extensions/sdkconfig.defaults
  components/driver/test_apps/sdm/README.md
  components/driver/test_apps/sdm/main/CMakeLists.txt
  components/driver/test_apps/sdm/pytest_sdm.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

i2s_pdm: fix tx frequency limitation
  components/driver/deprecated/i2s_legacy.c
  components/driver/i2s/i2s_pdm.c
  components/driver/include/driver/i2s_pdm.h
  components/hal/esp32/include/hal/i2s_ll.h
  components/hal/esp32c3/include/hal/i2s_ll.h
  components/hal/esp32c6/include/hal/i2s_ll.h
  components/hal/esp32h4/include/hal/i2s_ll.h
  components/hal/esp32s3/include/hal/i2s_ll.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

i2s: fix some typos
  components/driver/deprecated/dac_common_legacy.c
  components/driver/i2s/i2s_common.c
  components/driver/i2s/i2s_pdm.c
  components/driver/i2s/i2s_private.h
  components/driver/i2s/i2s_std.c
  components/driver/i2s/i2s_tdm.c
  components/driver/include/driver/i2s_common.h
  components/driver/include/driver/i2s_pdm.h
  components/driver/include/driver/i2s_std.h
  components/driver/include/driver/i2s_tdm.h
  docs/en/api-reference/peripherals/i2s.rst
  examples/peripherals/i2s/common/format_wav.h
  examples/peripherals/i2s/i2s_basic/i2s_pdm/main/i2s_pdm_tx.c
  examples/peripherals/i2s/i2s_codec/i2s_es7210_tdm/README.md
  examples/peripherals/i2s/i2s_codec/i2s_es7210_tdm/main/i2s_es7210_record_example.c
  examples/peripherals/i2s/i2s_codec/i2s_es8311/main/i2s_es8311_example.c
  examples/peripherals/i2s/i2s_recorder/pytest_i2s_record.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

ble_mesh:example:change position of vendor model and generic onoff model callback(v4.3)
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_adapter.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_model.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_cfg_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_gen_onoff_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_test_perf_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_register_cmd.c
Due: none

ulp-riscv-i2c: Updated API documentation about sub register address usage
  components/ulp/ulp_riscv/include/ulp_riscv_i2c.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

openthread: add 802.15.4 and Thread support lib for ESP32-C6
  components/openthread/CMakeLists.txt
  components/openthread/Kconfig
  components/openthread/include/esp_openthread_lock.h
  examples/openthread/.build-test-rules.yml
  examples/openthread/ot_cli/README.md
  examples/openthread/ot_cli/main/esp_ot_cli.c
  examples/openthread/ot_cli/main/esp_ot_config.h
  examples/openthread/ot_cli/sdkconfig.defaults
  examples/openthread/ot_rcp/README.md
  examples/openthread/ot_rcp/main/esp_ot_rcp.c
  examples/openthread/ot_rcp/sdkconfig.defaults
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Removed sha384 hash for certs > 2k
  components/wpa_supplicant/esp_supplicant/src/crypto/tls_mbedtls.c
Due: none

esp_wifi: Update wifi libs
  components/esp_wifi/include/esp_wifi_types.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_http_server: Added support for esp_events
  components/esp_http_server/CMakeLists.txt
  components/esp_http_server/include/esp_http_server.h
  components/esp_http_server/src/esp_httpd_priv.h
  components/esp_http_server/src/httpd_main.c
  components/esp_http_server/src/httpd_parse.c
  components/esp_http_server/src/httpd_sess.c
  components/esp_http_server/src/httpd_txrx.c
  docs/en/api-reference/protocols/esp_http_server.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

ble_mesh:example:change position of vendor model and generic onoff model callback(v4.2)
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_adapter.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_model.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_cfg_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_gen_onoff_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_test_perf_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_register_cmd.c
Due: none

CI: fix fast template app due to function unused.
  components/esp_hw_support/sleep_modes.c
Due: none

ieee802154: Add linkage target library
  components/ieee802154/CMakeLists.txt
Due: none

openthread: remove port libs
  components/openthread/CMakeLists.txt
  components/openthread/Kconfig
  components/openthread/include/esp_openthread_lock.h
  components/openthread/port/esp_openthread_netif_glue.c
  components/openthread/port/esp_openthread_radio.c
  components/openthread/port/esp_openthread_uart.c
  examples/openthread/ot_cli/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

openthread: open source openthread port layer
  components/ieee802154/Kconfig
  components/openthread/CMakeLists.txt
  components/openthread/include/esp_openthread_lock.h
  components/openthread/port/esp_openthread.cpp
  components/openthread/port/esp_openthread_alarm.c
  components/openthread/port/esp_openthread_cli.c
  components/openthread/port/esp_openthread_dns64.c
  components/openthread/port/esp_openthread_flash.c
  components/openthread/port/esp_openthread_lock.c
  components/openthread/port/esp_openthread_logging.c
  components/openthread/port/esp_openthread_lwip_netif.c
  components/openthread/port/esp_openthread_memory.c
  components/openthread/port/esp_openthread_misc.c
  components/openthread/port/esp_openthread_ncp.cpp
  components/openthread/port/esp_openthread_netif_glue.c
  components/openthread/port/esp_openthread_platform.cpp
  components/openthread/port/esp_openthread_radio.c
  components/openthread/port/esp_openthread_radio_uart.cpp
  components/openthread/port/esp_openthread_task_queue.c
  components/openthread/port/esp_openthread_uart.c
  components/openthread/port/esp_openthread_udp.c
  components/openthread/port/esp_uart_spinel_interface.cpp
  components/openthread/private_include/esp_openthread_alarm.h
  components/openthread/private_include/esp_openthread_common_macro.h
  components/openthread/private_include/esp_openthread_flash.h
  components/openthread/private_include/esp_openthread_ncp.h
  components/openthread/private_include/esp_openthread_netif_glue_priv.h
  components/openthread/private_include/esp_openthread_platform.h
  components/openthread/private_include/esp_openthread_radio.h
  components/openthread/private_include/esp_openthread_task_queue.h
  components/openthread/private_include/esp_openthread_uart.h
  components/openthread/private_include/esp_uart_spinel_interface.hpp
  components/openthread/src/esp_openthread_stubs.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

openthread: remove the NCP vendor hook for OTA
  components/openthread/port/esp_openthread_ncp.cpp
  components/openthread/port/esp_openthread_radio_uart.cpp
  components/openthread/private_include/esp_openthread_ncp.h
  components/openthread/private_include/openthread-core-esp32x-ftd-config.h
  components/openthread/private_include/openthread-core-esp32x-mtd-config.h
  components/openthread/private_include/openthread-core-esp32x-radio-config.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

workaround: workaround_for_esp32c6 bad mspi freq on hs mode reset
  components/bootloader_support/src/esp32c6/bootloader_esp32c6.c
Due: none

Changed wifi provisioning scan method
  components/wifi_provisioning/Kconfig
  components/wifi_provisioning/src/handlers.c
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Reference code fixed.
  docs/zh_CN/api-reference/protocols/esp_http_server.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview
