Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_fast: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*

minor styling changes
  components/esp_hid/src/ble_hidd.c
Due: none

spacing styling correction
  components/esp_hid/src/ble_hidd.c
Due: none

wpa_supplicant: Correct task deletion for RRM and DPP tasks
  components/wpa_supplicant/esp_supplicant/src/esp_common.c
  components/wpa_supplicant/esp_supplicant/src/esp_dpp.c
Due: none

freertos: Fix prvTaskIsTaskSuspended check
  components/freertos/tasks.c
Due: none

tools: upgrade openocd-esp32 to 0.11.0
  tools/tools.json
Due: none

Update tools.json
  tools/tools.json
Due: none

tools: Updates OpenOCD version to 'v0.11.0-esp32-20211220'
  tools/tools.json
Due: none

freertos: Fix SMP round robin scheduling
  components/freertos/tasks.c
  components/freertos/test/test_freertos_scheduling_round_robin.c
  docs/_static/freertos-ready-task-list-smp-pxIndex.png
  docs/_static/freertos-ready-task-list-smp.png
  docs/_static/freertos-ready-task-list.png
  docs/en/api-guides/freertos-smp.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

UART: RX interrupts are now properly restored after a flush
  components/driver/test/test_uart.c
  components/driver/uart.c
Due: none

docs/sdspi: add documentation about sharing SPI bus among SD card and other devices
  docs/en/api-reference/peripherals/sdspi_host.rst
  docs/en/api-reference/peripherals/sdspi_share.rst
  docs/zh_CN/api-reference/peripherals/sdspi_host.rst
  docs/zh_CN/api-reference/peripherals/sdspi_share.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

wifi_prov_mgr: Added check for passphrase length in softAP scheme
  components/wifi_provisioning/src/scheme_softap.c
  examples/provisioning/wifi_prov_mgr/main/app_main.c
Due: none

feat (bootloader): added rng sampling
  components/bootloader/subproject/main/ld/esp32s3/bootloader.ld
  components/bootloader_support/src/bootloader_random.c
  components/bootloader_support/src/bootloader_random_esp32s3.c
  components/esp_hw_support/hw_random.c
  components/esp_hw_support/port/esp32s3/private_include/regi2c_saradc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

usb_serial_jtag: can print when wifi enabled by default Closes https://github.com/espressif/esp-idf/issues/8131
  components/esp_phy/Kconfig
  components/esp_phy/src/phy_init.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

ringbuf: Fix bug where comparision between a signed and unsigned operand resulted in incorrect free size for no-split/allow-split buffers
  components/esp_ringbuf/ringbuf.c
  components/esp_ringbuf/test/test_ringbuf.c
Due: none

Documentation: added ESP32S3 interrupt allocation doc
  docs/en/api-guides/hlinterrupts.rst
  docs/en/api-reference/system/intr_alloc.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

freertos: fix build warnings with -Wsign-conversion CFLAG
  components/freertos/FreeRTOS-Kernel/portable/riscv/include/freertos/portmacro.h
  components/freertos/FreeRTOS-Kernel/portable/riscv/include/freertos/portmacro_deprecated.h
  components/freertos/FreeRTOS-Kernel/portable/xtensa/include/freertos/portmacro.h
  components/hal/esp32c3/include/hal/cpu_ll.h
  components/hal/esp32h2/include/hal/cpu_ll.h
  components/hal/esp8684/include/hal/cpu_ll.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

fix(ci): use pathlib do glob pattern match
  tools/ci/check_tools_files_patterns.py
  tools/ci/exclude_check_tools_files.txt
  tools/ci/idf_ci_utils.py
Due: none

fix(ci): exclude patterns python files while checking tools pattern
  .gitlab/ci/rules.yml
  tools/ci/check_tools_files_patterns.py
  tools/ci/exclude_check_tools_files.txt
Due: none

freemodbus: fix port contains lgpl licensed files
  components/freemodbus/modbus/functions/mbfuncdisc.c
  components/freemodbus/port/port.c
  components/freemodbus/port/port.h
  components/freemodbus/port/portevent_m.c
  components/freemodbus/port/portserial.c
  components/freemodbus/port/portserial_m.c
  components/freemodbus/port/porttimer_m.c
  docs/en/COPYRIGHT.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

CI: change ap authmode from number to string
  .gitlab-ci.yml
  .gitlab/ci/target-test.yml
  components/idf_test/integration_test/KnownIssues
Due: none

CI: change ap authmode from number to string (backport v4.4)
  .gitlab-ci.yml
  .gitlab/ci/target-test.yml
  components/idf_test/integration_test/KnownIssues
Due: none

CI: change ap authmode from number to string (backport v4.3)
  .gitlab-ci.yml
  components/idf_test/integration_test/KnownIssues
  tools/ci/config/target-test.yml
Due: none

bugfix: set authmode by switching number to string (backport v4.2)
  .gitlab-ci.yml
  components/idf_test/integration_test/KnownIssues
  tools/ci/config/target-test.yml
Due: none

bugfix: set authmode by switching number to string (backport v4.1)
  .gitlab-ci.yml
  components/idf_test/integration_test/KnownIssues
  tools/ci/config/target-test.yml
Due: none

bootloader: print MMU info after 2nd bootloader banner
  components/bootloader_support/src/esp8684/bootloader_esp8684.c
Due: none

fast_gpio: support esp32c2/esp8684
  components/driver/CMakeLists.txt
  components/driver/include/driver/dedic_gpio.h
  components/driver/pcnt.c
  components/driver/test/test_dedicated_gpio.c
  components/soc/esp8684/CMakeLists.txt
  components/soc/esp8684/dedic_gpio_periph.c
  components/soc/esp8684/include/soc/Kconfig.soc_caps.in
  components/soc/esp8684/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

component/bt: fix periodic adv parameters detection issue
  components/bt/host/bluedroid/hci/hci_packet_parser.c
  components/bt/host/bluedroid/stack/btm/btm_ble_5_gap.c
Due: none

esp_wifi: Fixes memory leak in wpa3 connection.
  components/wpa_supplicant/src/common/sae.c
Due: none

initial commit
  examples/mesh/nonmesh_ip_internal_network/CMakeLists.txt
  examples/mesh/nonmesh_ip_internal_network/README.md
  examples/mesh/nonmesh_ip_internal_network/docs/esp_mesh_architecture
  examples/mesh/nonmesh_ip_internal_network/docs/esp_mesh_architecture.png
  examples/mesh/nonmesh_ip_internal_network/main/CMakeLists.txt
  examples/mesh/nonmesh_ip_internal_network/main/Kconfig.projbuild
  examples/mesh/nonmesh_ip_internal_network/main/include/mesh_netif.h
  examples/mesh/nonmesh_ip_internal_network/main/mesh_main.c
  examples/mesh/nonmesh_ip_internal_network/main/mesh_netif.c
  examples/mesh/nonmesh_ip_internal_network/main/mesh_ping.c
  examples/mesh/nonmesh_ip_internal_network/main/mesh_utils.c
  examples/mesh/nonmesh_ip_internal_network/partitions.csv
  examples/mesh/nonmesh_ip_internal_network/sdkconfig.defaults
Due: none

bugfix: Conflicting declaration error with include<esp_efuse.h>, and Unified secure_boot.h include guard to "pragma once".
  components/esp_rom/include/esp32/rom/secure_boot.h
  components/esp_rom/include/esp32c3/rom/secure_boot.h
  components/esp_rom/include/esp32h2/rom/secure_boot.h
  components/esp_rom/include/esp32s2/rom/secure_boot.h
  components/esp_rom/include/esp32s3/rom/secure_boot.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

Fix copyright headers for few include files
  components/esp_rom/include/esp32/rom/secure_boot.h
  components/esp_rom/include/esp32c3/rom/secure_boot.h
  components/esp_rom/include/esp32h2/rom/secure_boot.h
  components/esp_rom/include/esp32s2/rom/secure_boot.h
  components/esp_rom/include/esp32s3/rom/secure_boot.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

component/bt: Support set HW CCA threshold value
  components/bt/controller/esp32c3/Kconfig.in
  components/bt/controller/esp32s3/Kconfig.in
  components/bt/include/esp32c3/include/esp_bt.h
  components/bt/include/esp32s3/include/esp_bt.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

doc: update usb pins and provide a note in api-reference/uart
  docs/en/api-guides/usb-serial-jtag-console.rst
  docs/en/api-reference/peripherals/uart.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

increased mesh association timeout for entrypoint node, added pnat in the netif callback
  examples/mesh/nonmesh_ip_internal_network/main/mesh_main.c
  examples/mesh/nonmesh_ip_internal_network/main/mesh_netif.c
Due: none
