Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - assign_test
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

feat(wifi): Document WiFi expansion on wifi-less chips
  docs/en/api-guides/index.rst
  docs/en/api-guides/wifi-expansion.rst
  docs/en/libraries-and-frameworks/libs-frameworks.rst
  docs/zh_CN/api-guides/index.rst
  docs/zh_CN/api-guides/wifi-expansion.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(jtag): update OpenOCD related sections
  components/xtensa/trax/test/gdbinit
  docs/en/api-guides/jtag-debugging/esp32.inc
  docs/en/api-guides/jtag-debugging/esp32p4.inc
  docs/en/api-guides/jtag-debugging/index.rst
  docs/en/api-guides/jtag-debugging/tips-and-quirks.rst
  docs/zh_CN/api-guides/jtag-debugging/esp32.inc
  docs/zh_CN/api-guides/jtag-debugging/esp32p4.inc
  docs/zh_CN/api-guides/jtag-debugging/index.rst
  docs/zh_CN/api-guides/jtag-debugging/tips-and-quirks.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(esp-tls): async server_session_create for esp_tls and wolfssl
  components/esp-tls/esp_tls.c
  components/esp-tls/esp_tls_mbedtls.c
  components/esp-tls/esp_tls_wolfssl.c
  components/esp-tls/private_include/esp_tls_mbedtls.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix some macro definition not correct
  examples/wifi/power_save/main/Kconfig.projbuild
  examples/wifi/power_save/main/power_save.c
Due: none

fix(mbedtls): Fix the MBEDTLS_FS_IO dependency on vfs
  components/mbedtls/Kconfig
  components/mbedtls/port/include/mbedtls/esp_config.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(i2s): support sleep retention
  components/esp_driver_i2s/i2s_common.c
  components/esp_driver_i2s/i2s_private.h
  components/esp_driver_i2s/include/driver/i2s_common.h
  components/esp_driver_i2s/test_apps/i2s/main/CMakeLists.txt
  components/esp_driver_i2s/test_apps/i2s/main/test_i2s.c
  components/esp_driver_i2s/test_apps/i2s/main/test_i2s_slp_retention.c
  components/esp_driver_i2s/test_apps/i2s/pytest_i2s.py
  components/esp_driver_i2s/test_apps/i2s/sdkconfig.ci.release
  components/esp_driver_i2s/test_apps/i2s/sdkconfig.defaults
  components/soc/esp32/i2s_periph.c
  components/soc/esp32c3/i2s_periph.c
  components/soc/esp32c5/i2s_periph.c
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/retention_periph_defs.h
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c6/i2s_periph.c
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/retention_periph_defs.h
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/i2s_periph.c
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/retention_periph_defs.h
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32p4/i2s_periph.c
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/retention_periph_defs.h
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32s2/i2s_periph.c
  components/soc/esp32s3/i2s_periph.c
  components/soc/include/soc/i2s_periph.h
  components/soc/include/soc/regdma.h
  docs/en/api-reference/system/power_management.rst
  docs/zh_CN/api-reference/system/power_management.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(gdma): fixed GDMA retention on C5
  components/esp_hw_support/port/esp32c5/pmu_param.c
  components/esp_hw_support/port/esp32c61/pmu_param.c
  components/soc/esp32c5/i2s_periph.c
  components/soc/esp32c6/i2s_periph.c
  components/soc/esp32h2/i2s_periph.c
  components/soc/esp32p4/i2s_periph.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(i2s): enable i2s test on c5
  components/esp_driver_i2s/i2s_common.c
  components/esp_driver_i2s/i2s_private.h
  components/esp_driver_i2s/include/driver/i2s_common.h
  components/esp_driver_i2s/test_apps/.build-test-rules.yml
  components/esp_driver_i2s/test_apps/i2s/main/CMakeLists.txt
  components/esp_driver_i2s/test_apps/i2s/main/test_i2s.c
  components/esp_driver_i2s/test_apps/i2s/main/test_i2s_sleep.c
  components/esp_driver_i2s/test_apps/i2s/main/test_i2s_slp_retention.c
  components/esp_driver_i2s/test_apps/i2s/pytest_i2s.py
  components/soc/esp32c5/i2s_periph.c
  components/soc/esp32c6/i2s_periph.c
  components/soc/esp32h2/i2s_periph.c
  components/soc/esp32p4/i2s_periph.c
  components/soc/include/soc/i2s_periph.h
  docs/en/api-reference/peripherals/i2s.rst
  docs/zh_CN/api-reference/peripherals/i2s.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat: add component_source property to component targets
  docs/en/api-guides/build-system.rst
  docs/zh_CN/api-guides/build-system.rst
  tools/cmake/build.cmake
  tools/cmake/component.cmake
  tools/cmake/project.cmake
  tools/cmake/scripts/component_get_requirements.cmake
  tools/test_build_system/conftest.py
  tools/test_build_system/pytest.ini
  tools/test_build_system/test_components.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Remove PYTHON_VER=3.7.10 from .gitlab-ci.yml as it breaks test_build_system_cmake_macos on ARM
  .gitlab-ci.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(i2s): fix multi-dev test failure
  components/esp_driver_i2s/test_apps/i2s_multi_dev/main/test_i2s_multi_dev.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(i2s): fix i2s half sample rate issue
  components/hal/esp32/include/hal/i2s_ll.h
  components/hal/esp32c3/include/hal/i2s_ll.h
  components/hal/esp32c5/include/hal/i2s_ll.h
  components/hal/esp32c6/include/hal/i2s_ll.h
  components/hal/esp32h2/include/hal/i2s_ll.h
  components/hal/esp32p4/include/hal/i2s_ll.h
  components/hal/esp32s2/include/hal/i2s_ll.h
  components/hal/esp32s3/include/hal/i2s_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(macos): ccache: re-enable, show stats, set CCACHE_DIR, limit CCACHE_MAXSIZE
  .gitlab/ci/build.yml
  .gitlab/ci/common.yml
  tools/ci/dynamic_pipelines/templates/.dynamic_jobs.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(macos): ccache: re-enable, show stats, set CCACHE_DIR, limit CCACHE_MAXSIZE
  .gitlab/ci/build.yml
  .gitlab/ci/common.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(docs): Fix secure boot v2 documentation
  docs/en/security/secure-boot-v2.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(build): fix orphan sections warning kconfig variable
  Kconfig
  tools/cmake/project.cmake
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(cmake/signing): do not clean up the CONFIG_SECURE_BOOT_VERIFICATION_KEY file provided separately
  components/bootloader_support/CMakeLists.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp-coredump): fix build error when mbedtls hardware sha disabled
  components/espcoredump/src/core_dump_sha.c
Due: gen_integration_pipeline, child_integration_test_pipeline

test(esp-coredump): add test for the soft sha config
  tools/test_apps/system/panic/pytest_panic.py
  tools/test_apps/system/panic/sdkconfig.ci.coredump_flash_elf_soft_sha
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(freertos): Fix freertos example pytest script
  examples/system/freertos/basic_freertos_smp_usage/main/lock_example.c
  examples/system/freertos/basic_freertos_smp_usage/pytest_smp_examples.py
Due: none

fix(esp_wifi): Add null pointer checks to WiFi-netif APIs
  components/esp_netif/test_apps/test_app_esp_netif/main/esp_netif_test_lwip.c
  components/esp_wifi/src/wifi_netif.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(tools): Add auto color to monitor and disable colors from chip logs
  components/bootloader/Kconfig.log.format
  components/log/Kconfig.format
  docs/en/migration-guides/release-5.x/5.4/system.rst
  examples/storage/semihost_vfs/README.md
  examples/storage/semihost_vfs/pytest_semihost_vfs.py
  tools/idf_py_actions/serial_ext.py
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(partitions): Adds new partition types and subtypes for bootloader and partition_table
  components/bootloader_support/include/esp_flash_partitions.h
  components/bootloader_support/src/bootloader_utility.c
  components/esp_partition/include/esp_partition.h
  components/esp_partition/partition_linux.c
  components/partition_table/gen_esp32part.py
  docs/en/api-guides/partition-tables.rst
  tools/test_apps/build_system/bootloader/sdkconfig.ci.verbose_logging
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(provisioning): Addded api to set Authmode in provisioning
  components/wifi_provisioning/include/wifi_provisioning/manager.h
  components/wifi_provisioning/src/manager.c
  examples/provisioning/wifi_prov_mgr/main/Kconfig.projbuild
  examples/provisioning/wifi_prov_mgr/main/app_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(uf2): Ignore ESPBAUD, ESPPORT when calling idf.py uf2[-app]
  components/esptool_py/project_include.cmake
  tools/cmake/project.cmake
  tools/cmake/run_uf2_cmds.cmake
  tools/test_idf_py/test_idf_py.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(nvs): Add raw_data variable to NVS_Partition class in nvs_parser.py
  components/nvs_flash/nvs_partition_tool/nvs_parser.py
Due: gen_integration_pipeline, child_integration_test_pipeline

remove(nvs_flash/test_nvs_host): Old make based host tests removed after complete migration
  .gitlab/ci/host-test.yml
  components/nvs_flash/host_test/nvs_host_test/CMakeLists.txt
  components/nvs_flash/host_test/nvs_host_test/README.md
  components/nvs_flash/host_test/nvs_host_test/main/CMakeLists.txt
  components/nvs_flash/host_test/nvs_host_test/main/test_nvs.cpp
  components/nvs_flash/test_nvs_host/Makefile
  components/nvs_flash/test_nvs_host/README.md
  components/nvs_flash/test_nvs_host/main.cpp
  components/nvs_flash/test_nvs_host/sdkconfig.h
  components/nvs_flash/test_nvs_host/spi_flash_emulation.cpp
  components/nvs_flash/test_nvs_host/spi_flash_emulation.h
  components/nvs_flash/test_nvs_host/test_compressed_enum_table.cpp
  components/nvs_flash/test_nvs_host/test_fixtures.hpp
  components/nvs_flash/test_nvs_host/test_intrusive_list.cpp
  components/nvs_flash/test_nvs_host/test_nvs.cpp
  components/nvs_flash/test_nvs_host/test_nvs_partition.cpp
  components/nvs_flash/test_nvs_host/test_partition_manager.cpp
  components/nvs_flash/test_nvs_host/test_spi_flash_emulation.cpp
  tools/ci/check_copyright_ignore.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(newlib): sbom: add CVE-2024-30949 to cve-exclude-list
  components/newlib/sbom.yml
  docs/en/security/vulnerabilities.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

build: Reduce verbosity of disabled component manager warning
  tools/cmake/build.cmake
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(tools): ninja tool download - use .tar.gz insead of .zip
  tools/tools.json
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(security): Fix host based security workflow doc
  docs/en/security/host-based-security-workflows.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
