Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

check_readme_links:
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    GIT_STRATEGY: fetch
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs: []
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
    when: always
  script:
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  - gen_integration_pipeline
  variables:
    IDF_S3_SERVER: $IDF_S3_NEW_SERVER
    IDF_S3_ACCESS_KEY: $IDF_S3_NEW_ACCESS_KEY
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
  ...

check_powershell:
  stage: pre_check
  image: docker:latest
  services:
  - docker:dind
  tags:
  - dind
  - amd64
  - brew
  needs:
  - pipeline_variables
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 1
    SUBMODULES_TO_FETCH: none
  script:
  - apk add python3
  - apk add py3-pip
  - pip install pre-commit --break-system-packages
  ...

feat(ble/bluedroid): Add BLE SMP support for multi-ADV with static random addresses
  components/bt/host/bluedroid/stack/btm/btm_acl.c
  components/bt/host/bluedroid/stack/btm/btm_ble.c
  components/bt/host/bluedroid/stack/btm/btm_ble_5_gap.c
  components/bt/host/bluedroid/stack/btm/include/btm_ble_int.h
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
  components/bt/host/bluedroid/stack/smp/smp_utils.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci(adc): remove ADC runner and move ADC tests to generic
  components/esp_adc/test_apps/adc/main/test_common_adc.h
  components/esp_adc/test_apps/adc/pytest_adc.py
  examples/peripherals/adc/continuous_read/pytest_adc_continuous.py
  examples/peripherals/adc/oneshot_read/pytest_adc_oneshot.py
  examples/peripherals/dac/dac_cosine_wave/pytest_dac_cosine_wave.py
  pytest.ini
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(peripherals): avoid using esp private feature in examples
  components/esp_driver_dac/dac_common.c
  examples/peripherals/gpio/matrix_keyboard/components/matrix_keyboard/src/matrix_keyboard.c
  examples/peripherals/mcpwm/mcpwm_bdc_speed_control/main/idf_component.yml
  examples/peripherals/mcpwm/mcpwm_bdc_speed_control/main/mcpwm_bdc_control_example_main.c
  examples/peripherals/mcpwm/mcpwm_capture_hc_sr04/main/mcpwm_capture_hc_sr04.c
  tools/ci/sg_rules/no_esp_private_header_in_examples.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble): fix OpenCode BLE UART bridge plugin for v1.17+ compatibility
  tools/ble/ble_uart_bridge/demos/opencode/README.md
  tools/ble/ble_uart_bridge/demos/opencode/src/ble-daemon-client.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/config.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/logging.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/opencode-ble-uart-bridge.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/opencode-permission-reply.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/permission-payload.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/permission-queue.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/types.ts
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(bt/ble_uart): Support ble uart more interfaces
  examples/bluetooth/.build-test-rules.yml
  examples/bluetooth/ble_uart_service/README.md
  examples/bluetooth/ble_uart_service/main/Kconfig.projbuild
  examples/bluetooth/ble_uart_service/main/main.c
  examples/bluetooth/ble_uart_service/sdkconfig.ci.bluedroid
  examples/bluetooth/ble_uart_service/sdkconfig.ci.nimble
  examples/bluetooth/common/ble_uart/PORTING.md
  examples/bluetooth/common/ble_uart/ble_uart.h
  examples/bluetooth/common/ble_uart/ble_uart_bluedroid.c
  examples/bluetooth/common/ble_uart/ble_uart_nimble.c
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

fix(esp_psram): repeated call to init should return invalid state error
  components/esp_psram/system_layer/esp_psram.c
  components/esp_psram/test_apps/psram/main/test_psram_no_boot_init.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ulp): use SoC RC_FAST frequency for LP core delay
  components/ulp/lp_core/shared/include/ulp_lp_core_cpu_freq_shared.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(psram): allow PSRAM to enter halfsleep mode during light sleep
  components/esp_driver_gpio/test_apps/gpio/sdkconfig.defaults.esp32p4
  components/esp_driver_i2s/test_apps/i2s/sdkconfig.defaults.esp32p4
  components/esp_hal_mspi/esp32p4/include/hal/psram_ctrlr_ll.h
  components/esp_hw_support/port/esp32p4/pmu_sleep.c
  components/esp_hw_support/port/esp32p4/rtc_time.c
  components/esp_hw_support/sleep_modes.c
  components/esp_pm/Kconfig
  components/esp_psram/CMakeLists.txt
  components/esp_psram/device/esp_psram_impl_ap_hex.c
  components/esp_psram/device/esp_psram_impl_ap_quad.c
  components/esp_psram/device/include/esp_private/esp_psram_impl.h
  components/esp_psram/esp32/esp_psram_impl_quad.c
  components/esp_psram/esp32s2/esp_psram_impl_quad.c
  components/esp_psram/esp32s3/esp_psram_impl_octal.c
  components/esp_psram/test_apps/psram/main/test_psram.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix psram data corrupt after lightsleep if halfsleep is enabled
  components/esp_hw_support/sleep_modes.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): adjust PSRAM half-sleep resume handling for CONFIG_SPIRAM_XIP_FROM_PSRAM
  components/esp_hw_support/sleep_modes.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): check psram data is not corrupted after lightsleep
  components/esp_psram/test_apps/psram/main/test_psram.c
  components/esp_system/test_apps/esp_system_unity_tests/main/test_sleep.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_psram): wakeup PSRAM by CE# force control instead of dummy write
  components/esp_hal_mspi/esp32p4/include/hal/psram_ctrlr_ll.h
  components/esp_psram/device/esp_psram_impl_ap_hex.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ulp): use RC_FAST approximation for LP core fallback
  components/ulp/lp_core/shared/include/ulp_lp_core_cpu_freq_shared.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(mbedtls): Support custom storage backend for persistent PSA keys
  components/mbedtls/CMakeLists.txt
  components/mbedtls/Kconfig
  components/mbedtls/port/psa_crypto_storage/esp_psa_its.c
  components/mbedtls/port/psa_crypto_storage/esp_psa_key_file.c
  components/mbedtls/port/psa_crypto_storage/include/esp_psa_its.h
  components/mbedtls/port/psa_crypto_storage/include/esp_psa_key_file.h
  docs/en/api-reference/protocols/mbedtls.rst
  docs/zh_CN/api-reference/protocols/mbedtls.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(examples/security): Add example to demonstrate the usage of custom key storages with PSA
  examples/security/.build-test-rules.yml
  examples/security/psa_its_custom_backend/CMakeLists.txt
  examples/security/psa_its_custom_backend/README.md
  examples/security/psa_its_custom_backend/main/CMakeLists.txt
  examples/security/psa_its_custom_backend/main/app_main.c
  examples/security/psa_its_custom_backend/main/custom_nvs_its_backend.c
  examples/security/psa_its_custom_backend/main/custom_nvs_its_backend.h
  examples/security/psa_its_custom_backend/partitions_example.csv
  examples/security/psa_its_custom_backend/pytest_psa_its_custom_backend.py
  examples/security/psa_its_custom_backend/sdkconfig.defaults
Due: check_readme_links

feat(mbedtls/psa_esp_rsa_ds): Expose persistent key buffer format/parse helpers
  components/mbedtls/port/psa_driver/esp_rsa_ds/psa_crypto_driver_esp_rsa_ds.c
  components/mbedtls/port/psa_driver/include/psa_crypto_driver_esp_rsa_ds.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci: twai runner setup
  components/driver/test_apps/legacy_twai/pytest_twai.py
  components/esp_driver_twai/test_apps/test_twai/pytest_driver_twai.py
  examples/peripherals/twai/twai_network/pytest_twai_network.py
  examples/peripherals/twai/twai_utils/pytest_twai_utils.py
  pytest.ini
Due: gen_integration_pipeline, child_integration_test_pipeline

test(ulp): check LP core apps avoid soft-float helpers
  components/ulp/test_apps/lp_core/lp_core_basic_tests/check_lp_core_no_soft_float.py
  components/ulp/test_apps/lp_core/lp_core_basic_tests/main/CMakeLists.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(802.15.4): avoid missing abort reason for multievents in 154 debug
  components/ieee802154/private_include/esp_ieee802154_util.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

The position of "import ctypes" has been changed.
  tools/ldgen/ldgen.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble): fix Bluedroid log compression for newly added modules
  components/bt/common/ble_log/extension/log_compression/scripts/ble_log_compress.py
  components/bt/common/ble_log/extension/log_compression/scripts/module_scripts/bluedroid/make_bluedroid_log_macro.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): reorganize log compression Kconfig and add ISO
  components/bt/common/ble_log/extension/log_compression/Kconfig.in
  components/bt/common/ble_log/extension/log_compression/host/Kconfig.host.bluedroid.in
  components/bt/common/ble_log/extension/log_compression/host/Kconfig.host.in
  components/bt/common/ble_log/extension/log_compression/host/Kconfig.host.nimble.in
  components/bt/common/ble_log/extension/log_compression/iso/audio/Kconfig.iso.in
  components/bt/common/ble_log/extension/log_compression/iso/audio/Kconfig.iso.tags.in
  components/bt/common/ble_log/extension/log_compression/profile/mesh/Kconfig.mesh.in
  components/bt/common/ble_log/extension/log_compression/profile/mesh/Kconfig.mesh.tags.in
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): split log compression Kconfig into separate mesh and host files
  components/bt/common/ble_log/extension/log_compression/Kconfig.host.bluedroid.in
  components/bt/common/ble_log/extension/log_compression/Kconfig.host.in
  components/bt/common/ble_log/extension/log_compression/Kconfig.host.nimble.in
  components/bt/common/ble_log/extension/log_compression/Kconfig.in
  components/bt/common/ble_log/extension/log_compression/Kconfig.mesh.in
  components/bt/common/ble_log/extension/log_compression/Kconfig.mesh.tags.in
  components/bt/common/ble_log/extension/log_compression/cmake/ble_host_bluedroid_tags.cmake
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

feat(ci): add sleep cache safe check for wifi power save
  examples/wifi/power_save/pytest_wifi_power_save.py
  examples/wifi/power_save/sdkconfig.ci.c2_xtal26m
  examples/wifi/power_save/sdkconfig.ci.c2eco4_xtal26m
  examples/wifi/power_save/sdkconfig.ci.pd_modem
  examples/wifi/power_save/sdkconfig.ci.pd_top
Due: none

fix(wifi): IRAM for regdma path used in modem pd light sleep
  components/esp_hw_support/linker.lf
  components/esp_hw_support/port/regdma_link.c
  components/esp_wifi/esp32c6/esp_adapter.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(psram): allow PSRAM to enter halfsleep mode during light sleep
  components/esp_driver_gpio/test_apps/gpio/sdkconfig.defaults.esp32p4
  components/esp_driver_i2s/test_apps/i2s/sdkconfig.defaults.esp32p4
  components/esp_hw_support/port/esp32p4/pmu_sleep.c
  components/esp_hw_support/port/esp32p4/rtc_time.c
  components/esp_hw_support/sleep_modes.c
  components/esp_pm/Kconfig
  components/esp_psram/CMakeLists.txt
  components/esp_psram/device/esp_psram_impl_ap_hex.c
  components/esp_psram/device/esp_psram_impl_ap_quad.c
  components/esp_psram/device/include/esp_private/esp_psram_impl.h
  components/esp_psram/esp32/esp_psram_impl_quad.c
  components/esp_psram/esp32s2/esp_psram_impl_quad.c
  components/esp_psram/esp32s3/esp_psram_impl_octal.c
  components/esp_psram/test_apps/psram/main/test_psram.c
  components/hal/esp32p4/include/hal/psram_ctrlr_ll.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_psram): wakeup PSRAM by CE# force control instead of dummy write
  components/esp_psram/device/esp_psram_impl_ap_hex.c
  components/hal/esp32p4/include/hal/psram_ctrlr_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(pm): fix coexist force wake behaviour with offchannel to optimize performance at returning home channel
  components/esp_wifi/Kconfig
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): add vibe_indicator device support to OpenCode bridge
  tools/ble/ble_uart_bridge/demos/opencode/README.md
  tools/ble/ble_uart_bridge/demos/opencode/src/binding-store.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/device-detection.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/indicator-control.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/logging.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/opencode-ble-uart-bridge.ts
  tools/ble/ble_uart_bridge/demos/opencode/src/opencode-permission-reply.ts
Due: gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml
