Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

check_readme_links:
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    GIT_STRATEGY: fetch
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs: []
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
    when: always
  script:
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  - gen_integration_pipeline
  variables:
    IDF_S3_SERVER: $IDF_S3_NEW_SERVER
    IDF_S3_ACCESS_KEY: $IDF_S3_NEW_ACCESS_KEY
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
  ...

check_powershell:
  stage: pre_check
  image: docker:latest
  services:
  - docker:dind
  tags:
  - dind
  - amd64
  - brew
  needs:
  - pipeline_variables
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 1
    SUBMODULES_TO_FETCH: none
  script:
  - apk add python3
  - apk add py3-pip
  - pip install pre-commit --break-system-packages
  ...

feat(ble/bluedroid): Support bluedroid LE COC and EATT features
  components/bt/common/btc/core/btc_task.c
  components/bt/common/btc/include/btc/btc_task.h
  components/bt/host/bluedroid/CMakeLists.txt
  components/bt/host/bluedroid/Kconfig.in
  components/bt/host/bluedroid/api/esp_ble_l2cap_api.c
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
  components/bt/host/bluedroid/api/include/api/esp_ble_l2cap_api.h
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/btc/core/btc_main.c
  components/bt/host/bluedroid/btc/profile/std/ble_l2cap/btc_ble_l2cap.c
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_ble.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_ble_l2cap.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_gap_ble.h
  components/bt/host/bluedroid/common/include/common/bluedroid_user_config.h
  components/bt/host/bluedroid/common/include/common/bt_target.h
  components/bt/host/bluedroid/hci/packet_fragmenter.c
  components/bt/host/bluedroid/stack/btm/btm_pm.c
  components/bt/host/bluedroid/stack/btu/btu_init.c
  components/bt/host/bluedroid/stack/gatt/att_protocol.c
  components/bt/host/bluedroid/stack/gatt/gatt_api.c
  components/bt/host/bluedroid/stack/gatt/gatt_auth.c
  components/bt/host/bluedroid/stack/gatt/gatt_cl.c
  components/bt/host/bluedroid/stack/gatt/gatt_eatt.c
  components/bt/host/bluedroid/stack/gatt/gatt_main.c
  components/bt/host/bluedroid/stack/gatt/gatt_sr.c
  components/bt/host/bluedroid/stack/gatt/gatt_utils.c
  components/bt/host/bluedroid/stack/gatt/include/gatt_eatt_int.h
  components/bt/host/bluedroid/stack/gatt/include/gatt_int.h
  components/bt/host/bluedroid/stack/include/stack/gatt_api.h
  components/bt/host/bluedroid/stack/include/stack/l2c_api.h
  components/bt/host/bluedroid/stack/include/stack/l2cdefs.h
  components/bt/host/bluedroid/stack/l2cap/include/l2c_int.h
  components/bt/host/bluedroid/stack/l2cap/l2c_api.c
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
  components/bt/host/bluedroid/stack/l2cap/l2c_ble_ecfc.c
  components/bt/host/bluedroid/stack/l2cap/l2c_ble_le_coc.c
  components/bt/host/bluedroid/stack/l2cap/l2c_link.c
  components/bt/host/bluedroid/stack/l2cap/l2c_main.c
  components/bt/host/bluedroid/stack/l2cap/l2c_utils.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

docs(ble/bluedroid): fix markdown formatting in example docs
  examples/bluetooth/bluedroid/ble/ble_compatibility_test/ble_compatibility_test_case.md
  examples/bluetooth/bluedroid/ble/gatt_client/README.md
  examples/bluetooth/bluedroid/ble/gatt_client/tutorial/Gatt_Client_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble/gatt_security_client/README.md
  examples/bluetooth/bluedroid/ble/gatt_security_server/README.md
  examples/bluetooth/bluedroid/ble/gatt_server/README.md
  examples/bluetooth/bluedroid/ble/gatt_server/tutorial/Gatt_Server_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble/gatt_server_service_table/README.md
  examples/bluetooth/bluedroid/ble/gatt_server_service_table/tutorial/Gatt_Server_Service_Table_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble/gattc_multi_connect/tutorial/Gatt_Client_Multi_Connection_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble_50/ble50_security_client/README.md
  examples/bluetooth/bluedroid/ble_50/ble50_security_client/tutorial/ble50_security_client_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble_50/ble50_security_server/README.md
  examples/bluetooth/bluedroid/ble_50/multi-adv/README.md
  examples/bluetooth/bluedroid/ble_50/multi-adv/tutorial/Mulit_Adv_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble_50/periodic_adv/README.md
  examples/bluetooth/bluedroid/ble_50/periodic_adv/tutorial/Periodic_adv_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble_50/periodic_sync/README.md
  examples/bluetooth/bluedroid/ble_50/periodic_sync/tutorial/Periodic_Sync_Example_Walkthrough.md
  examples/bluetooth/bluedroid/classic_bt/bt_discovery/README.md
  examples/bluetooth/bluedroid/classic_bt/bt_spp_initiator/README.md
  examples/bluetooth/bluedroid/classic_bt/bt_spp_vfs_initiator/README.md
Due: check_readme_links

fix(ble/bluedroid): add GATT resource-cleanup helpers
  components/bt/host/bluedroid/stack/gatt/gatt_utils.c
  components/bt/host/bluedroid/stack/gatt/include/gatt_int.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): fix GATT service lifecycle leaks
  components/bt/host/bluedroid/stack/gatt/gatt_api.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): fix GATT server busy errors and sr_cmd handling
  components/bt/host/bluedroid/stack/gatt/gatt_sr.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): fix GATT teardown and service-change flow
  components/bt/host/bluedroid/stack/gatt/gatt_main.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): cap Read By Type length and free failed service decl
  components/bt/host/bluedroid/stack/gatt/gatt_db.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): validate GATT client discovery handles
  components/bt/host/bluedroid/stack/gatt/gatt_cl.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): re-lookup GATT TCB after enc-complete callback
  components/bt/host/bluedroid/stack/gatt/gatt_auth.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): fix GATT long read and Service Changed CCC
  components/bt/host/bluedroid/stack/gatt/gatt_attr.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): validate ATT PDU sizes
  components/bt/host/bluedroid/stack/gatt/att_protocol.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): route ATT indication-conf timeout separately
  components/bt/host/bluedroid/stack/btu/btu_task.c
  components/bt/host/bluedroid/stack/include/stack/btu.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): validate SMP pair-fail reason and OOB device
  components/bt/host/bluedroid/stack/smp/smp_act.c
  components/bt/host/bluedroid/stack/smp/smp_api.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): validate BLE confirm/OOB and sec-check device
  components/bt/host/bluedroid/stack/btm/btm_ble.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): fix direct-connect cleanup and adv bounds
  components/bt/host/bluedroid/stack/btm/btm_ble_bgconn.c
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/btm/include/btm_ble_int.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): clean up LE CoC connect on CCB alloc failure
  components/bt/host/bluedroid/stack/l2cap/include/l2c_int.h
  components/bt/host/bluedroid/stack/l2cap/l2c_api.c
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(ble/bluedroid): note ISO BIG HCI alloc failure not checked
  components/bt/host/bluedroid/stack/btm/btm_ble_iso.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): use BOOLEAN for BLE HCI command builders
  components/bt/host/bluedroid/stack/hcic/hciblecmds.c
  components/bt/host/bluedroid/stack/include/stack/hcimsgs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml
