Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - assign_test
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

change(examples): set the ili9881c version to 0.2.x
  components/esp_lcd/test_apps/mipi_dsi_lcd/main/idf_component.yml
  examples/peripherals/camera/camera_dsi/components/dsi_init/idf_component.yml
  examples/peripherals/camera/camera_dsi/main/idf_component.yml
  examples/peripherals/isp/auto_focus/main/idf_component.yml
  examples/peripherals/lcd/mipi_dsi/main/idf_component.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(spi_flash): Add external flash support on esp32c6,esp32h2,esp32p4
  components/hal/esp32c5/include/hal/gpspi_flash_ll.h
  components/hal/esp32c6/include/hal/gpspi_flash_ll.h
  components/hal/esp32c61/include/hal/gpspi_flash_ll.h
  components/hal/esp32h2/include/hal/gpspi_flash_ll.h
  components/hal/esp32p4/include/hal/gpspi_flash_ll.h
  components/hal/spi_flash_hal_common.inc
  components/spi_flash/esp_flash_spi_init.c
  components/spi_flash/test_apps/esp_flash/main/test_esp_flash_def.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat: enable secure boot feature for esp32c61
  components/bootloader_support/include/esp_secure_boot.h
  components/bootloader_support/private_include/bootloader_signature.h
  components/bootloader_support/src/esp32c61/secure_boot_secure_features.c
  components/bootloader_support/src/secure_boot_v2/secure_boot_signature_priv.h
  components/efuse/esp32c61/esp_efuse_table.c
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/soc_caps.h
  examples/system/efuse/pytest_system_efuse_example.py
  examples/system/efuse/sdkconfig.ci.virt_sb_v2_and_fe.esp32c61
  examples/system/efuse/sdkconfig.ci.virt_secure_boot_v2.esp32c61
  tools/test_apps/security/secure_boot/README.md
  tools/test_apps/security/secure_boot/conftest.py
  tools/test_apps/security/secure_boot/pytest_secure_boot.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat: enabled support for ecdsa in esp32c61
  components/hal/esp32c61/include/hal/ecdsa_ll.h
  components/hal/test_apps/crypto/main/ecdsa/test_ecdsa.c
  components/mbedtls/port/ecdsa/ecdsa_alt.c
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): support esp32p4 psram retention
  components/esp_hw_support/port/esp32p4/mspi_timing_config.c
  components/esp_hw_support/port/esp32p4/pmu_sleep.c
  components/esp_hw_support/sleep_system_peripheral.c
  components/hal/esp32p4/include/hal/psram_ctrlr_ll.h
  components/soc/esp32c6/include/soc/system_periph_retention.h
  components/soc/esp32c6/system_retention_periph.c
  components/soc/esp32h2/include/soc/system_periph_retention.h
  components/soc/esp32h2/system_retention_periph.c
  components/soc/esp32p4/include/soc/system_periph_retention.h
  components/soc/esp32p4/system_retention_periph.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): reorder light/deep sleep test cases and wrapper with corresponding support macros
  components/esp_driver_gptimer/test_apps/gptimer/main/test_gptimer_sleep.c
  components/esp_driver_rmt/test_apps/rmt/main/test_rmt_sleep.c
  components/esp_system/test_apps/esp_system_unity_tests/main/CMakeLists.txt
  components/esp_system/test_apps/esp_system_unity_tests/main/test_sleep.c
  components/esp_system/test_apps/esp_system_unity_tests/main/test_task_wdt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): add case to test PSRAM survives after lightsleep
  components/esp_system/test_apps/.build-test-rules.yml
  components/esp_system/test_apps/esp_system_unity_tests/main/CMakeLists.txt
  components/esp_system/test_apps/esp_system_unity_tests/main/test_sleep.c
  components/esp_system/test_apps/esp_system_unity_tests/pytest_esp_system_unity_tests.py
  components/esp_system/test_apps/esp_system_unity_tests/sdkconfig.ci.default
  components/esp_system/test_apps/esp_system_unity_tests/sdkconfig.ci.psram_with_pd_top
  components/esp_system/test_apps/esp_system_unity_tests/sdkconfig.defaults
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Modify Advertising Tx power levels
  components/bt/host/nimble/port/include/esp_nimble_cfg.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(uart): support uart on ESP32C61
  components/esp_driver_uart/test_apps/.build-test-rules.yml
  components/esp_driver_uart/test_apps/rs485/README.md
  components/esp_driver_uart/test_apps/uart/README.md
  components/hal/esp32c61/include/hal/uart_ll.h
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/soc_caps.h
  components/soc/esp32c61/include/soc/uart_channel.h
  components/soc/esp32c61/include/soc/uart_pins.h
  components/soc/esp32c61/include/soc/uart_struct.h
  components/soc/esp32c61/uart_periph.c
  docs/docs_not_updated/esp32c61.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(bt): Update bt lib for ESP32-C3 and ESP32-S3(4e58df9)
  components/bt/controller/esp32c3/bt.c
  components/bt/include/esp32c3/include/esp_bt.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble-mesh): don't use dangling pointer in nimble gatt service
  components/bt/esp_ble_mesh/core/nimble_host/adapter.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(tools): fixed spelling mistakes in idf.py hints
  tools/idf_py_actions/hints.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

docs: Delete ESP32-S2-Kaluga-Kit related user guide files
  docs/en/get-started/index.rst
  docs/en/hw-reference/esp32s2/user-guide-esp-lyrap-cam-v1.0.rst
  docs/en/hw-reference/esp32s2/user-guide-esp-lyrap-cam-v1.1.rst
  docs/en/hw-reference/esp32s2/user-guide-esp-lyrap-lcd32-v1.1.rst
  docs/en/hw-reference/esp32s2/user-guide-esp-lyrap-lcd32-v1.2.rst
  docs/en/hw-reference/esp32s2/user-guide-esp-lyrap-toucha-v1.1.rst
  docs/en/hw-reference/esp32s2/user-guide-esp-lyrat-8311a_v1.2.rst
  docs/en/hw-reference/esp32s2/user-guide-esp-lyrat-8311a_v1.3.rst
  docs/en/hw-reference/esp32s2/user-guide-esp32-s2-kaluga-1-kit-v1.2.rst
  docs/en/hw-reference/esp32s2/user-guide-esp32-s2-kaluga-1-kit.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-esp-lyrap-cam-v1.0.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-esp-lyrap-cam-v1.1.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-esp-lyrap-lcd32-v1.1.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-esp-lyrap-lcd32-v1.2.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-esp-lyrap-toucha-v1.1.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-esp-lyrat-8311a_v1.2.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-esp-lyrat-8311a_v1.3.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-esp32-s2-kaluga-1-kit-v1.2.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-esp32-s2-kaluga-1-kit.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

ci: fast_pipeline yml branch
  .gitlab/ci/build.yml
  .gitlab/ci/common.yml
  .gitlab/ci/pre_check.yml
  .gitlab/merge_request_templates/Minimal_Template.md
  tools/ci/ci_process_description.py
  tools/ci/dynamic_pipelines/scripts/generate_build_child_pipeline.py
  tools/ci/dynamic_pipelines/scripts/generate_target_test_child_pipeline.py
  tools/ci/dynamic_pipelines/templates/fast_pipeline.yml
  tools/ci/dynamic_pipelines/templates/generate_target_test_report.yml
  tools/ci/dynamic_pipelines/templates/test_child_pipeline.yml
  tools/ci/exclude_check_tools_files.txt
  tools/ci/previous_stage_job_status.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(bt/bluedroid): Add print and assert when failed to alloc memory
  components/bt/common/include/bt_common.h
  components/bt/common/include/bt_user_config.h
  components/bt/common/osi/allocator.c
  components/bt/common/osi/include/osi/allocator.h
  components/bt/host/bluedroid/Kconfig.in
  components/bt/host/bluedroid/common/include/common/bluedroid_user_config.h
  components/bt/host/bluedroid/common/include/common/bt_target.h
  components/bt/host/bluedroid/hci/hci_hal_h4.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs: remove user guide for esp32-ethernet-kit migration
  docs/_static/esp32-ethernet-kit-a-v1.0-layout.png
  docs/_static/esp32-ethernet-kit-a-v1.1-layout.png
  docs/_static/esp32-ethernet-kit-a-v1.2-layout.jpg
  docs/_static/esp32-ethernet-kit-b-v1.0-layout.png
  docs/_static/esp32-ethernet-kit-block-diagram.png
  docs/_static/esp32-ethernet-kit-rmii-clk-from-phy.png
  docs/_static/esp32-ethernet-kit-rmii-clk-to-phy.png
  docs/_static/esp32-ethernet-kit-v1.0.png
  docs/_static/esp32-ethernet-kit-v1.1-block-diagram.png
  docs/_static/esp32-ethernet-kit-v1.1.png
  docs/_static/esp32-ethernet-kit-v1.2-overview.png
  docs/_static/esp32-ethernet-kit-v1.2.jpg
  docs/en/api-reference/network/esp_eth.rst
  docs/en/get-started/index.rst
  docs/en/hw-reference/esp32/get-started-ethernet-kit-v1.0.rst
  docs/en/hw-reference/esp32/get-started-ethernet-kit-v1.1.rst
  docs/en/hw-reference/esp32/get-started-ethernet-kit.rst
  docs/zh_CN/api-reference/network/esp_eth.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/hw-reference/esp32/get-started-ethernet-kit-v1.0.rst
  docs/zh_CN/hw-reference/esp32/get-started-ethernet-kit-v1.1.rst
  docs/zh_CN/hw-reference/esp32/get-started-ethernet-kit.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: fix found warnings and errors by rstfmt
  docs/en/api-guides/flash_psram_config.rst
  docs/en/api-reference/system/pthread.rst
  docs/zh_CN/api-guides/flash_psram_config.rst
  docs/zh_CN/api-reference/system/pthread.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(spi_flash): Add external flash support on esp32c6,esp32h2
  components/hal/esp32c6/include/hal/gpspi_flash_ll.h
  components/hal/esp32h2/include/hal/gpspi_flash_ll.h
  components/hal/esp32p4/include/hal/gpspi_flash_ll.h
  components/hal/spi_flash_hal_common.inc
  components/spi_flash/esp_flash_spi_init.c
  components/spi_flash/test_apps/esp_flash/main/test_esp_flash_def.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Fixed assert issue in proximity_sensor example
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_prph/main/main.c
Due: none

fix(bt/bluedroid): Add PCM configuration about pcm frame sync signal shape
  components/bt/include/esp32/include/esp_bt.h
  examples/bluetooth/bluedroid/classic_bt/hfp_ag/README.md
  examples/bluetooth/bluedroid/classic_bt/hfp_ag/image/Channel_Mode.png
  examples/bluetooth/bluedroid/classic_bt/hfp_hf/README.md
Due: check_readme_links, build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble-mesh): don't use dangling pointer in nimble gatt service
  components/bt/esp_ble_mesh/mesh_core/nimble_host/mesh_bearer_adapt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

adc_oneshot_chan_cfg_t config: Fix attributes order in example to match the declaration
  examples/peripherals/adc/oneshot_read/main/oneshot_read_main.c
Due: none

fix(wifi): fix wifi example itwt build fail issue
  examples/wifi/itwt/main/wifi_stats_cmd.c
Due: none

feat(tools): update openocd version to v0.12.0-esp32-20240726
  tools/tools.json
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
