Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml

fix(newlib): Remove definitions of raise()
  components/esp_libc/src/syscalls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix: set sufficient buffer limit for idf.py confserver
  tools/idf_py_actions/core_ext.py
  tools/idf_py_actions/tools.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix TOP domain to CNNT domian dependency
  components/esp_hw_support/sleep_modes.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(tools): update openocd version to v0.12.0-esp32-20251215
  tools/tools.json
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(freertos): add task count and pointer width to OpenOCD debug table
  components/freertos/esp_additions/freertos_tasks_c_additions.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(driver_spi): fix some master test apps
  components/esp_driver_spi/test_apps/master/main/test_spi_master.c
  components/esp_driver_spi/test_apps/master/main/test_spi_sio.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_eth): fixes EMAC MDC out of the range issue
  components/esp_eth/include/esp_eth_mac_esp.h
  components/esp_eth/src/mac/esp_eth_mac_esp.c
  components/esp_hw_support/port/esp32p4/esp_clk_tree.c
  components/hal/emac_hal.c
  components/hal/esp32/include/hal/emac_ll.h
  components/hal/esp32p4/clk_tree_hal.c
  components/hal/esp32p4/include/hal/emac_ll.h
  components/hal/include/hal/clk_tree_hal.h
  components/hal/include/hal/emac_hal.h
  components/soc/esp32p4/include/soc/clk_tree_defs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(sdmmc): sdmmc_get_blockdev fix potential overflow before widen
  components/sdmmc/sdmmc_blockdev.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(sdspi): esp_driver_sdpsi test app increase timeout to 180
  components/esp_driver_sdspi/test_apps/sdspi/pytest_sdspi.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(storage): Add support for SDMMC BDL
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/CMakeLists.txt
  components/sdmmc/CMakeLists.txt
  components/sdmmc/include/sdmmc_cmd.h
  components/sdmmc/sdmmc_blockdev.c
  components/sdmmc/test_apps/.build-test-rules.yml
  components/sdmmc/test_apps/CMakeLists.txt
  components/sdmmc/test_apps/README.md
  components/sdmmc/test_apps/main/CMakeLists.txt
  components/sdmmc/test_apps/main/test_sdmmc_app.c
  components/sdmmc/test_apps/pytest_sdmmc_extra.py
  components/sdmmc/test_apps/sdkconfig.defaults
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(sdspi): Add an option to modify wait time for MISO before sending next command
  components/esp_driver_sdspi/include/driver/sdspi_host.h
  components/esp_driver_sdspi/src/sdspi_host.c
  components/esp_driver_sdspi/test_apps/sdspi/components/sdspi_tests/sdmmc_test_begin_end_spi.c
  components/esp_driver_sdspi/test_apps/sdspi/components/sdspi_tests/sdmmc_test_begin_end_spi.h
  components/esp_driver_sdspi/test_apps/sdspi/components/sdspi_tests/sdmmc_test_erase_spi.c
  components/esp_driver_sdspi/test_apps/sdspi/components/sdspi_tests/sdmmc_test_probe_spi.c
  components/esp_driver_sdspi/test_apps/sdspi/components/sdspi_tests/sdmmc_test_rw_spi.c
  examples/storage/sd_card/sdspi/README.md
Due: check_readme_links, build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Add NULL checks in GATT APIs
  components/bt/host/bluedroid/api/esp_gattc_api.c
  components/bt/host/bluedroid/api/esp_gatts_api.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bt): Add NULL check in esp_hid_host example
  examples/bluetooth/esp_hid_host/main/esp_hid_host_main.c
Due: none

fix(ble/bluedroid): Fix security issues in GAP module
  components/bt/host/bluedroid/stack/gap/gap_ble.c
  components/bt/host/bluedroid/stack/gap/gap_conn.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Add NULL check in esp_ble_gap_add_device_to_resolving_list
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Fix potential CVE-2024-0039 out-of-bounds write in attp_build_value_cmd
  components/bt/host/bluedroid/stack/gatt/att_protocol.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Fix potential out-of-bounds issue
  components/bt/host/bluedroid/bta/gatt/bta_gatts_api.c
  components/bt/host/bluedroid/bta/hd/bta_hd_api.c
  components/bt/host/bluedroid/bta/hh/bta_hh_utils.c
  components/bt/host/bluedroid/hci/hci_hal_h4.c
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Add NULL checks in esp_gap_ble_api
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bt): Add NULL check in esp_hid_device example
  examples/bluetooth/esp_hid_device/main/esp_hid_gap.c
Due: none

fix(ble/bluedroid): Fix potential CVE-2020-0022 in reassemble_and_dispatch
  components/bt/host/bluedroid/hci/packet_fragmenter.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Add boundary check for adv_handle in btm_ble_adv_set_terminated_evt
  components/bt/host/bluedroid/stack/btm/btm_ble_5_gap.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/blufi): Add DH param length validation
  examples/bluetooth/blufi/main/blufi_security.c
Due: none

fix(ble/bluedroid): Use snprintf in ble_eddystone example
  examples/bluetooth/bluedroid/ble/ble_eddystone_receiver/main/esp_eddystone_api.c
Due: none

fix(ble/bluedroid): Add length check in prepare write response
  components/bt/host/bluedroid/stack/gatt/gatt_cl.c
  components/bt/host/bluedroid/stack/smp/include/smp_int.h
  components/bt/host/bluedroid/stack/smp/smp_l2c.c
  components/bt/host/bluedroid/stack/smp/smp_utils.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Fix security issues in GATT module
  components/bt/host/bluedroid/stack/gatt/gatt_db.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Fix security issues in HCI module
  components/bt/host/bluedroid/hci/hci_layer.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Fix VLA in a2dp_gatts_coex example
  examples/bluetooth/bluedroid/coex/a2dp_gatts_coex/main/main.c
Due: none

fix(spi_flash): limit CPU clock to 160MHz for encrypted flash writes
  components/spi_flash/esp_flash_api.c
Due: gen_integration_pipeline, child_integration_test_pipeline

Revert "fix(esp_system): limit CPU clock to 160MHz in ESP32-C5 for flash encryption"
  components/esp_security/src/init.c
  components/esp_system/port/soc/esp32c5/Kconfig.cpu
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(hal): correct PHY selection logic in usb_wrap_ll.h
  components/esp_hal_usb/esp32p4/include/hal/usb_wrap_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(hal): correct PHY selection logic in usb_wrap_ll.h
  components/hal/esp32p4/include/hal/usb_wrap_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
