Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

fix(wpa_supplicant): Improve execution flow for WPS registrar public APIs
  components/wpa_supplicant/esp_supplicant/src/esp_hostpad_wps.c
  components/wpa_supplicant/esp_supplicant/src/esp_wps.c
  components/wpa_supplicant/esp_supplicant/src/esp_wps_i.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Avoid dereferencing a dangling function pointer in WPS supplicant
  components/wpa_supplicant/src/ap/wps_hostapd.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(i2c_master): Add lp_i2c support in i2c master driver
  components/driver/i2c/i2c.c
  components/driver/test_apps/legacy_i2c_driver/main/test_i2c.c
  components/esp_driver_i2c/i2c_common.c
  components/esp_driver_i2c/i2c_master.c
  components/esp_driver_i2c/i2c_private.h
  components/esp_driver_i2c/i2c_slave.c
  components/esp_driver_i2c/include/driver/i2c_master.h
  components/hal/esp32c6/include/hal/i2c_ll.h
  components/hal/include/hal/i2c_types.h
  components/soc/esp32/include/soc/Kconfig.soc_caps.in
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c2/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c5/beta3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/beta3/include/soc/soc_caps.h
  components/soc/esp32c5/mp/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/mp/include/soc/soc_caps.h
  components/soc/esp32c6/i2c_periph.c
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/rtc_io_channel.h
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/soc_caps.h
  components/soc/esp32h2/i2c_periph.c
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32p4/i2c_periph.c
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
  components/soc/include/soc/i2c_periph.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

test(i2c_master): Add test for lp_i2c support in i2c master driver
  components/esp_driver_i2c/test_apps/i2c_test_apps/main/CMakeLists.txt
  components/esp_driver_i2c/test_apps/i2c_test_apps/main/test_board.h
  components/esp_driver_i2c/test_apps/i2c_test_apps/main/test_i2c_common.c
  components/esp_driver_i2c/test_apps/i2c_test_apps/main/test_i2c_multi.c
  components/esp_driver_i2c/test_apps/i2c_test_apps/main/test_lp_i2c.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(i2c_master): Add docs for lp_i2c support in i2c master driver
  docs/en/api-reference/peripherals/i2c.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Nimble: Add APIs to handle vs HCI commands and events
  components/bt/host/nimble/Kconfig.in
  components/bt/host/nimble/port/include/esp_nimble_cfg.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(nimble): Added blecsc profile support for nimble examples
  .codespellrc
  examples/bluetooth/nimble/blecsc/CMakeLists.txt
  examples/bluetooth/nimble/blecsc/README.md
  examples/bluetooth/nimble/blecsc/main/CMakeLists.txt
  examples/bluetooth/nimble/blecsc/main/blecsc_sens.h
  examples/bluetooth/nimble/blecsc/main/gatt_svr.c
  examples/bluetooth/nimble/blecsc/main/main.c
  examples/bluetooth/nimble/blecsc/sdkconfig.defaults
  examples/bluetooth/nimble/blecsc/tutorial/blecsc_walkthrough.md
  tools/ci/check_copyright_ignore.txt
Due: check_readme_links, gen_integration_pipeline, child_integration_test_pipeline

change(spi): remove no longer public spi reg
  components/soc/esp32/include/soc/spi_reg.h
  components/soc/esp32/include/soc/spi_struct.h
  tools/ci/check_copyright_ignore.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_wifi): Refactor and improve FTM code
  components/esp_wifi/include/esp_wifi.h
  components/esp_wifi/include/esp_wifi_types.h
  examples/wifi/ftm/main/ftm_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): move deepsleep phy callback before PLL disable
  components/esp_hw_support/include/esp_private/esp_sleep_internal.h
  components/esp_hw_support/sleep_modes.c
  components/esp_phy/src/phy_init.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(ci): temporarily skip failures in macOS tests
  .gitlab/ci/build.yml
Due: none

Add ESP_RETURN_VOID_ON_* checks
  components/esp_common/include/esp_check.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Rename macros to ESP_EXIT_ON_*
  components/esp_common/include/esp_check.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Remove extra whiteline
  components/esp_common/include/esp_check.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Sort and add _ISR version
  components/esp_common/include/esp_check.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Apply suggestions from code review
  components/esp_common/include/esp_check.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Some more cleanups
  components/esp_common/include/esp_check.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Add missing _ISR version
  components/esp_common/include/esp_check.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Another missing...
  components/esp_common/include/esp_check.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

You guassed it..
  components/esp_common/include/esp_check.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Final whitespaces
  components/esp_common/include/esp_check.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(driver): Add docs and driver fix for the case where a full EP does not cause the host to pickup the data
  components/driver/usb_serial_jtag/usb_serial_jtag.c
  components/hal/esp32c3/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32c6/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32h2/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32s3/include/hal/usb_serial_jtag_ll.h
  components/vfs/vfs_usb_serial_jtag.c
  docs/en/api-guides/usb-serial-jtag-console.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(usb_serial_jtag): Fix issue that buffer seems not flush when TX buffer is full and flush slow, Closes https://github.com/espressif/esp-idf/issues/12628
  components/driver/usb_serial_jtag/usb_serial_jtag.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(usb_serial_jtag): Add a usb_serial_jtag echo example for how to use usb_serial_jtag APIs,
  .gitlab/ci/target-test.yml
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/usb_serial_jtag/usb_serial_jtag_echo/CMakeLists.txt
  examples/peripherals/usb_serial_jtag/usb_serial_jtag_echo/README.md
  examples/peripherals/usb_serial_jtag/usb_serial_jtag_echo/main/CMakeLists.txt
  examples/peripherals/usb_serial_jtag/usb_serial_jtag_echo/main/usb_serial_echo_main.c
  examples/peripherals/usb_serial_jtag/usb_serial_jtag_echo/pytest_usj_echo_example.py
  examples/peripherals/usb_serial_jtag/usb_serial_jtag_echo/sdkconfig.defaults
  tools/ci/idf_pytest/constants.py
Due: check_readme_links, gen_integration_pipeline, child_integration_test_pipeline

fix(bt): Update bt lib for ESP32-C3 and ESP32-S3(5274796)
  components/bt/controller/esp32c3/Kconfig.in
  components/bt/include/esp32c3/include/esp_bt.h
  components/esp_rom/esp32c3/ld/esp32c3.rom.eco7.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci: fix pytest generic env markers
  components/esp_timer/test_apps/pytest_esp_timer_ut.py
  components/fatfs/test_apps/flash_ro/pytest_fatfs_flash_ro.py
  components/fatfs/test_apps/flash_wl/pytest_fatfs_flash_wl.py
  components/pthread/test_apps/pthread_psram_tests/pytest_pthread_psram_tests.py
  examples/protocols/http_server/file_serving/pytest_http_server_file_serving.py
  examples/protocols/http_server/file_serving/sdkconfig.ci.spiffs
  examples/storage/fatfsgen/pytest_fatfsgen_example.py
  examples/storage/nvsgen/pytest_nvsgen_example.py
  examples/storage/partition_api/partition_find/pytest_partition_find_example.py
  examples/storage/partition_api/partition_mmap/pytest_partition_mmap_example.py
  examples/storage/partition_api/partition_ops/pytest_partition_ops_example.py
  examples/storage/parttool/pytest_parttool_example.py
  examples/storage/spiffs/pytest_spiffs_example.py
  examples/storage/spiffsgen/pytest_spiffsgen_example.py
  tools/ci/dynamic_pipelines/templates/known_generate_test_child_pipeline_warnings.yml
  tools/test_apps/system/panic/pytest_panic.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): Fix the flash I/DROM region PMP protection
  components/esp_hw_support/port/esp32c6/cpu_region_protect.c
  components/esp_hw_support/port/esp32h2/cpu_region_protect.c
  components/esp_system/port/arch/riscv/panic_arch.c
  tools/test_apps/system/panic/pytest_panic.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): Fix the flash I/DROM region PMP protection
  components/esp_hw_support/port/esp32c6/cpu_region_protect.c
  components/esp_hw_support/port/esp32h2/cpu_region_protect.c
  tools/test_apps/system/panic/pytest_panic.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(dns): Config for dynamic DNS sorting so AF_UNSPEC works in IPv6-only network
  components/lwip/Kconfig
  components/lwip/port/include/lwipopts.h
  examples/protocols/https_request/README.md
  examples/protocols/https_request/main/https_request_example_main.c
  examples/protocols/https_request/sdkconfig.defaults
Due: check_readme_links, build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(gcov): fix exceptions on gcov task_tick_hook
  components/app_trace/gcov/gcov_rtio.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix esp332p4 stuck in dfs issue
  components/esp_hw_support/lowpower/cpu_retention/port/esp32p4/sleep_cpu.c
  components/esp_hw_support/mspi_timing_tuning.c
  components/esp_hw_support/sleep_modes.c
  components/esp_pm/test_apps/esp_pm/main/test_pm.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(freertos): Fix broken portable macro portTRY_ENTER_CRITICAL_SAFE()
  components/freertos/FreeRTOS-Kernel/portable/riscv/include/freertos/portmacro.h
  components/freertos/FreeRTOS-Kernel/portable/xtensa/include/freertos/portmacro.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ws_transport): fix first fragment losting during websocket connection
  components/tcp_transport/transport_ws.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_rom): add esp_rom_libc_stubs.h
  components/app_trace/gcov/gcov_rtio.c
  components/esp_rom/include/esp_rom_libc_stubs.h
  components/newlib/newlib_init.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(readme): Update the chip support matrix in the README
  README.md
  README_CN.md
Due: none

feat(soc/usb): Add USB UTMI PHY struct and LL for the ESP32-P4
  components/hal/esp32p4/include/hal/usb_utmi_ll.h
  components/soc/esp32p4/include/soc/usb_utmi_struct.h
  components/soc/esp32p4/ld/esp32p4.peripherals.ld
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(hal/usb): Update USB WRAP and USJ LL, add missing ESP32-P4 LL
  components/esp_driver_usb_serial_jtag/src/usb_serial_jtag.c
  components/esp_system/port/soc/esp32c3/clk.c
  components/esp_system/port/soc/esp32s3/clk.c
  components/hal/CMakeLists.txt
  components/hal/esp32c3/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32c6/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32h2/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32p4/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32p4/include/hal/usb_wrap_ll.h
  components/hal/esp32s3/include/hal/usb_serial_jtag_ll.h
  components/hal/esp32s3/include/hal/usb_wrap_ll.h
  components/hal/include/hal/usb_serial_jtag_types.h
  components/hal/include/hal/usb_wrap_hal.h
  components/hal/include/hal/usb_wrap_types.h
  components/hal/usb_wrap_hal.c
  components/soc/esp32p4/include/soc/usb_wrap_struct.h
  components/usb/usb_phy.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(hal/usb): Add new USB PHY related HAL API
  components/hal/CMakeLists.txt
  components/hal/include/hal/usb_serial_jtag_hal.h
  components/hal/include/hal/usb_wrap_hal.h
  components/hal/usb_serial_jtag_hal.c
  components/hal/usb_wrap_hal.c
  components/usb/usb_phy.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
