Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml

Revert "feat(wifi): enable pll clk in modem state"
  components/esp_hw_support/lowpower/port/esp32s31/sleep_clock.c
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(uhci): rename set_eof_mode to enable_eof_modes with bool en param
  components/bt/porting/transport/driver/uart/hci_driver_uart_dma.c
  components/bt/porting_btdm/transport/driver/uart/hci_driver_uart_dma.c
  components/esp_driver_uart/src/uhci.c
  components/esp_hal_uart/esp32c3/include/hal/uhci_ll.h
  components/esp_hal_uart/esp32c5/include/hal/uhci_ll.h
  components/esp_hal_uart/esp32c6/include/hal/uhci_ll.h
  components/esp_hal_uart/esp32h2/include/hal/uhci_ll.h
  components/esp_hal_uart/esp32h21/include/hal/uhci_ll.h
  components/esp_hal_uart/esp32h4/include/hal/uhci_ll.h
  components/esp_hal_uart/esp32p4/include/hal/uhci_ll.h
  components/esp_hal_uart/esp32s3/include/hal/uhci_ll.h
  components/esp_hal_uart/esp32s31/include/hal/uhci_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(lcd): rename delay_ticks to delay_mode to match register semantics
  components/esp_hal_cam/esp32p4/include/hal/cam_ll.h
  components/esp_hal_cam/esp32s3/include/hal/cam_ll.h
  components/esp_hal_cam/esp32s31/include/hal/cam_ll.h
  components/esp_hal_lcd/esp32p4/include/hal/lcd_ll.h
  components/esp_hal_lcd/esp32s3/include/hal/lcd_ll.h
  components/esp_hal_lcd/esp32s31/include/hal/lcd_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(wifi): sel pll clk when sleep to modem
  components/esp_hw_support/lowpower/port/esp32s31/sleep_clock.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble_mesh): supported get lib version
  components/bt/esp_ble_mesh/CMakeLists.txt
  components/bt/esp_ble_mesh/lib/ext.c
  components/bt/esp_ble_mesh/lib/include/mesh_v1.1/utils.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(sdmmc): Minor changes in sdmmc
  components/sdmmc/sdmmc_cmd.c
  components/sdmmc/sdmmc_mmc.c
  components/sdmmc/sdmmc_sd.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nan): Fix bug bounty reported and discovered vulnerabilities in NAN Rx
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_eth): drop frames failing Rx checksum offload verification
  components/esp_eth/src/mac/esp_eth_mac_esp_dma.c
  components/esp_hal_emac/emac_hal.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(lwip): expose TCP checksum check and checksum generation in Kconfig
  components/lwip/Kconfig
  components/lwip/port/include/lwipopts.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Restore throughput after switching from LE Coded PHY
  examples/bluetooth/nimble/throughput_app/l2cap_coc/l2cap_coc_cent/README.md
  examples/bluetooth/nimble/throughput_app/l2cap_coc/l2cap_coc_cent/main/main.c
  examples/bluetooth/nimble/throughput_app/l2cap_coc/l2cap_coc_cent/sdkconfig.defaults
  examples/bluetooth/nimble/throughput_app/l2cap_coc/l2cap_coc_prph/README.md
  examples/bluetooth/nimble/throughput_app/l2cap_coc/l2cap_coc_prph/main/main.c
Due: check_readme_links

fix(nvs_flash): delete leftover handles on partition deinit
  components/nvs_flash/host_test/nvs_host_test/main/test_nvs.cpp
  components/nvs_flash/include/nvs_flash.h
  components/nvs_flash/src/nvs_api.cpp
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(regi2c): skip regi2c operations when running on FPGA
  components/esp_hal_regi2c/include/hal/regi2c_impl.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Added security related fixes
  components/protocomm/src/simple_ble/simple_ble.c
  components/protocomm/src/transports/protocomm_ble.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Added security related fixes
  components/protocomm/src/simple_ble/simple_ble.c
  components/protocomm/src/transports/protocomm_ble.c
  components/protocomm/src/transports/protocomm_nimble.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_libc): provide picolibc timespec_get
  components/esp_libc/CMakeLists.txt
  components/esp_libc/src/picolibc/timespec_get.c
  components/esp_libc/test_apps/newlib/main/test_time.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_libc): limit timespec_get test to picolibc
  components/esp_libc/test_apps/newlib/main/test_time.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(bt): Add host-agnostic BT OSAL and shared BLE profile task
  components/bt/CMakeLists.txt
  components/bt/Kconfig
  components/bt/ble_profiles/CMakeLists.txt
  components/bt/ble_profiles/Kconfig.in
  components/bt/ble_profiles/common/Kconfig.in
  components/bt/ble_profiles/common/include/bt_prf_task.h
  components/bt/ble_profiles/common/src/bt_prf_task.c
  components/bt/common/CMakeLists.txt
  components/bt/common/Kconfig.in
  components/bt/common/osal/include/bt_osal.h
  components/bt/common/osal/include/bt_osal_freertos.h
  components/bt/common/osal/include/bt_osal_os.h
  components/bt/common/osal/src/bt_osal_freertos.c
  components/bt/host/bluedroid/api/esp_bt_main.c
  components/bt/test_apps/basic_unit_test/main/CMakeLists.txt
  components/bt/test_apps/basic_unit_test/main/test_osal.c
  components/bt/test_apps/basic_unit_test/main/test_prf_task.c
  components/bt/test_apps/basic_unit_test/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

feat(ble_audio): Add specific libs for BLE Audio log compression
  components/bt/common/Kconfig.in
  components/bt/esp_ble_audio/CMakeLists.txt
  components/bt/esp_ble_audio/Kconfig.in
  components/bt/esp_ble_audio/host/adapter/nimble/server.c
  components/bt/esp_ble_audio/host/common/init.c
  components/bt/esp_ble_audio/host/services/ots/ots.c
  components/bt/esp_ble_audio/host/services/ots/ots_client.c
  components/bt/esp_ble_audio/host/services/ots/ots_dir_list.c
  components/bt/esp_ble_audio/host/services/ots/ots_l2cap.c
  components/bt/esp_ble_audio/host/services/ots/ots_oacp.c
  components/bt/esp_ble_audio/host/services/ots/ots_olcp.c
  components/bt/esp_ble_iso/Kconfig.in
  components/bt/esp_ble_iso/host/adapter/bluedroid/gatt/gatt.c
  components/bt/esp_ble_iso/host/common/gatt.c
  components/bt/esp_ble_iso/host/utils/timer.c
  examples/bluetooth/esp_ble_audio/bap/broadcast_sink/sdkconfig.defaults
  examples/bluetooth/esp_ble_audio/bap/broadcast_source/sdkconfig.defaults
  examples/bluetooth/esp_ble_audio/bap/unicast_client/sdkconfig.defaults
  examples/bluetooth/esp_ble_audio/bap/unicast_server/sdkconfig.defaults
  examples/bluetooth/esp_ble_audio/cap/acceptor/sdkconfig.defaults
  examples/bluetooth/esp_ble_audio/cap/initiator/sdkconfig.defaults
  examples/bluetooth/esp_ble_audio/tmap/bmr/sdkconfig.defaults
  examples/bluetooth/esp_ble_audio/tmap/bms/sdkconfig.defaults
  examples/bluetooth/esp_ble_audio/tmap/central/sdkconfig.defaults
  examples/bluetooth/esp_ble_audio/tmap/peripheral/sdkconfig.defaults
  examples/bluetooth/esp_ble_iso/big_broadcaster/sdkconfig.defaults
  examples/bluetooth/esp_ble_iso/big_receiver/sdkconfig.defaults
  examples/bluetooth/esp_ble_iso/cis_central/sdkconfig.defaults
  examples/bluetooth/esp_ble_iso/cis_peripheral/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline
