Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml

fix(ble): fix ble retention dependency order
  components/bt/controller/esp32c5/bt.c
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h2/bt.c
  components/bt/porting_btdm/controller/btdm_common/src/btdm_lp.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): use dynamic memory allocation for retention module instances
  components/esp_hw_support/sleep_retention.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix regdma link dump to print module number
  components/esp_hw_support/port/regdma_link.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): optimize sleep_phy retention static RAM cost
  components/esp_hw_support/lowpower/port/esp32c5/sleep_modem_state.c
  components/esp_hw_support/lowpower/port/esp32c6/sleep_modem_state.c
  components/esp_hw_support/lowpower/port/esp32c61/sleep_modem_state.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(examples): Add ESP32-S31 support to network/sta2eth example
  examples/network/sta2eth/README.md
  examples/network/sta2eth/main/Kconfig.projbuild
  examples/network/sta2eth/main/hints.yml
  examples/network/sta2eth/main/idf_component.yml
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

feat(efuse): Adds efuse ADC calibration support for ESP32S31
  components/efuse/esp32s31/esp_efuse_table.c
  components/efuse/esp32s31/esp_efuse_table.csv
  components/efuse/esp32s31/include/esp_efuse_table.h
  components/soc/esp32s31/register/soc/efuse_reg.h
  components/soc/esp32s31/register/soc/efuse_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): restore brownout after deep sleep rejection on ESP32-S2
  components/esp_hw_support/sleep_modes.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(bt): Add Kconfig option to build the BT OSAL conditionally
  components/bt/ble_profiles/common/Kconfig.in
  components/bt/common/CMakeLists.txt
  components/bt/common/Kconfig.in
  components/bt/common/osal/include/bt_osal_freertos.h
  components/bt/test_apps/basic_unit_test/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Preserve roam_config ABI and clamp roam diff
  components/esp_wifi/wifi_apps/roaming_app/include/esp_roaming.h
  components/esp_wifi/wifi_apps/roaming_app/src/roaming_app.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Require RSSI gain before low-RSSI roam
  components/esp_wifi/wifi_apps/roaming_app/include/esp_roaming.h
  components/esp_wifi/wifi_apps/roaming_app/src/Kconfig.roaming
  components/esp_wifi/wifi_apps/roaming_app/src/esp_roaming_i.h
  components/esp_wifi/wifi_apps/roaming_app/src/roaming_app.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi) : Added more reason codes for blacklist roam
  components/esp_wifi/wifi_apps/roaming_app/src/roaming_app.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(uart): reduce current consumption in sleep mode
  components/esp_driver_ledc/test_apps/ledc/main/test_ledc.cpp
  components/esp_driver_uart/src/uart.c
  components/esp_hw_support/sleep_gpio.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(examples): add C++ linkage guards to mcpwm foc svpwm example headers
  examples/peripherals/mcpwm/mcpwm_foc_svpwm_open_loop/main/foc/esp_foc.h
  examples/peripherals/mcpwm/mcpwm_foc_svpwm_open_loop/main/svpwm/esp_svpwm.h
Due: none

fix(ppa): decide engine idleness under the engine spinlock
  components/esp_driver_ppa/src/ppa_core.c
  components/esp_driver_ppa/src/ppa_priv.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(sysview_tracing): validate TRACE_STOP per core
  conftest.py
  examples/system/tracing/sysview_tracing/pytest_sysview_tracing.py
Due: none

fix(esp_system): break into the debugger only on the first panic entry
  components/esp_system/panic.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(app_trace): remove GPIO range from UART trace pin config
  components/app_trace/Kconfig.apptrace
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_trace): send trace data over usb-serial-jtag reliably
  components/app_trace/app_trace_membufs_proto.c
  components/esp_trace/adapters/transport/adapter_transport_usb_serial_jtag.c
  components/esp_trace/include/esp_trace_util.h
  components/esp_trace/src/ports/port_utils.c
  examples/system/tracing/esp_trace_custom_library/components/ext_trace_lib/include/trace_FreeRTOS.h
  examples/system/tracing/esp_trace_custom_library/components/ext_trace_lib/src/adapter_encoder_ext_trace_lib.c
  examples/system/tracing/esp_trace_custom_library/components/ext_trace_lib/src/trace_FreeRTOS.c
  examples/system/tracing/esp_trace_custom_library/main/app_main.c
  examples/system/tracing/esp_trace_custom_library/pytest_esp_trace_custom_library.py
  examples/system/tracing/sysview_tracing/pytest_sysview_tracing.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_trace): increase usj tx buffer size in both examples
  components/esp_trace/Kconfig
  examples/system/tracing/esp_trace_custom_library/sdkconfig.defaults
  examples/system/tracing/sysview_tracing/sdkconfig.ci.sysview_usj
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

test(esp_http_client): keep-alive reuse and state sequence characterization
  components/esp_http_client/test_apps/main/test_http_client_lifecycle.c
  components/esp_http_client/test_apps/pytest_stage0_qemu.py
Due: gen_integration_pipeline, child_integration_test_pipeline

test(esp_http_client): async EAGAIN characterization tests
  components/esp_http_client/test_apps/main/test_http_client_async.c
  components/esp_http_client/test_apps/pytest_stage0_qemu.py
Due: gen_integration_pipeline, child_integration_test_pipeline

test(esp_http_client): chunked decode and mid-chunk FIN characterization
  components/esp_http_client/test_apps/main/test_http_client_chunked.c
  components/esp_http_client/test_apps/mock_transport/test_http_client_mock_transport.c
  components/esp_http_client/test_apps/mock_transport/test_http_client_mock_transport.h
  components/esp_http_client/test_apps/pytest_stage0_qemu.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(esp_http_client): extend mock transport with async, EAGAIN injection, response queue
  components/esp_http_client/test_apps/mock_transport/test_http_client_mock_transport.c
  components/esp_http_client/test_apps/mock_transport/test_http_client_mock_transport.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(esp_http_client): add mock transport and basic characterization tests
  components/esp_http_client/test_apps/main/CMakeLists.txt
  components/esp_http_client/test_apps/main/test_http_client.c
  components/esp_http_client/test_apps/main/test_http_client_basic.c
  components/esp_http_client/test_apps/mock_transport/test_http_client_mock_transport.c
  components/esp_http_client/test_apps/mock_transport/test_http_client_mock_transport.h
  components/esp_http_client/test_apps/pytest_stage0_qemu.py
  components/esp_http_client/test_apps/sdkconfig.ci.default
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(esp_http_client): redirect characterization tests
  components/esp_http_client/test_apps/main/test_http_client_redirect.c
  components/esp_http_client/test_apps/pytest_stage0_qemu.py
Due: gen_integration_pipeline, child_integration_test_pipeline

test(esp_http_client): 401 auth retry characterization
  components/esp_http_client/test_apps/main/test_http_client_async.c
  components/esp_http_client/test_apps/main/test_http_client_auth.c
  components/esp_http_client/test_apps/main/test_http_client_basic.c
  components/esp_http_client/test_apps/pytest_stage0_qemu.py
  components/esp_http_client/test_apps/sdkconfig.ci.default
  components/esp_http_client/test_apps/sdkconfig.ci.strict_header
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(esp_http_client): final review fixes for characterization suite
  components/esp_http_client/test_apps/main/CMakeLists.txt
  components/esp_http_client/test_apps/main/test_http_client.c
  components/esp_http_client/test_apps/main/test_http_client_auth.c
  components/esp_http_client/test_apps/main/test_http_client_basic.c
  components/esp_http_client/test_apps/main/test_http_client_lifecycle.c
  components/esp_http_client/test_apps/main/test_http_client_streaming.c
  components/esp_http_client/test_apps/mock_transport/test_http_client_mock_transport.h
  components/esp_http_client/test_apps/pytest_stage0_qemu.py
  components/esp_http_client/test_apps/sdkconfig.ci.default
  components/esp_http_client/test_apps/sdkconfig.defaults
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(esp_http_client): QEMU runner for characterization suite
  components/esp_http_client/test_apps/pytest_stage0_qemu.py
Due: gen_integration_pipeline, child_integration_test_pipeline

test(esp_http_client): streaming API and error path characterization
  components/esp_http_client/test_apps/main/test_http_client_streaming.c
  components/esp_http_client/test_apps/mock_transport/test_http_client_mock_transport.c
  components/esp_http_client/test_apps/mock_transport/test_http_client_mock_transport.h
  components/esp_http_client/test_apps/pytest_stage0_qemu.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt): fixed use of wrong function to get BR/EDR power table on ESP32-S31
  components/bt/porting_btdm/controller/btdm_common/src/btdm_external.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_security): don't reset DS peripheral in esp_hmac_calculate
  components/esp_security/src/esp_hmac.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble_audio): Allow empty reading value for BLE Audio implementation
  components/bt/esp_ble_iso/host/adapter/bluedroid/gatt/gatt.c
  components/bt/esp_ble_iso/host/common/include/common/gatt.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
