Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

check_readme_links:
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    GIT_STRATEGY: fetch
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs: []
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
    when: always
  script:
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  - gen_integration_pipeline
  variables:
    IDF_S3_SERVER: $IDF_S3_NEW_SERVER
    IDF_S3_ACCESS_KEY: $IDF_S3_NEW_ACCESS_KEY
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
  ...

check_powershell:
  stage: pre_check
  image: docker:latest
  services:
  - docker:dind
  tags:
  - dind
  - amd64
  - brew
  needs:
  - pipeline_variables
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 1
    SUBMODULES_TO_FETCH: none
  script:
  - apk add python3
  - apk add py3-pip
  - pip install pre-commit --break-system-packages
  ...

fix(app_update): close partition-table OOB read and rollback-guard gap
  components/app_update/esp_ota_ops.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bootloader_support): guard NULL efuse digest slot in secure-boot verify
  components/bootloader_support/src/secure_boot_v2/secure_boot_signatures_app.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_http_client): fix digest-auth leaks and credential/handle use-after-free
  components/esp_http_client/esp_http_client.c
  components/esp_http_client/lib/http_auth.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_https_server): free TLS session on transport_ctx OOM in httpd_ssl_open
  components/esp_https_server/src/https_server.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt_obex): fix some bugs in bluedroid obex
  components/bt/host/bluedroid/bta/av/bta_av_ca_act.c
  components/bt/host/bluedroid/stack/goep/goepc_api.c
  components/bt/host/bluedroid/stack/goep/goepc_main.c
  components/bt/host/bluedroid/stack/obex/obex_api.c
  components/bt/host/bluedroid/stack/obex/obex_main.c
  components/bt/host/bluedroid/stack/obex/obex_tl_l2cap.c
  components/bt/host/bluedroid/stack/obex/obex_tl_rfcomm.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ftm): tolerate small t2/t3 inversion in measurement validation
  components/esp_wifi/include/esp_private/ftm_calibration_data.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(adc): move channel count to adc LL
  components/efuse/esp32c5/esp_efuse_rtc_calib.c
  components/efuse/esp32c6/esp_efuse_rtc_calib.c
  components/efuse/esp32c61/esp_efuse_rtc_calib.c
  components/efuse/esp32h2/esp_efuse_rtc_calib.c
  components/efuse/esp32p4/esp_efuse_rtc_calib.c
  components/esp_adc/adc_cali_curve_fitting.c
  components/esp_adc/adc_common.c
  components/esp_adc/adc_continuous.c
  components/esp_adc/adc_oneshot.c
  components/esp_adc/test_apps/adc/main/test_adc_driver.c
  components/esp_adc/test_apps/adc/main/test_adc_tsens.c
  components/esp_adc/test_apps/adc/main/test_common_adc.c
  components/esp_hal_ana_conv/esp32/include/hal/adc_ll.h
  components/esp_hal_ana_conv/esp32c2/include/hal/adc_ll.h
  components/esp_hal_ana_conv/esp32c3/include/hal/adc_ll.h
  components/esp_hal_ana_conv/esp32c5/include/hal/adc_ll.h
  components/esp_hal_ana_conv/esp32c6/include/hal/adc_ll.h
  components/esp_hal_ana_conv/esp32c61/include/hal/adc_ll.h
  components/esp_hal_ana_conv/esp32h2/include/hal/adc_ll.h
  components/esp_hal_ana_conv/esp32h21/include/hal/adc_ll.h
  components/esp_hal_ana_conv/esp32h4/include/hal/adc_ll.h
  components/esp_hal_ana_conv/esp32p4/include/hal/adc_ll.h
  components/esp_hal_ana_conv/esp32s2/include/hal/adc_ll.h
  components/esp_hal_ana_conv/esp32s3/include/hal/adc_ll.h
  components/esp_hal_ana_conv/esp32s31/include/hal/adc_ll.h
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c2/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32c61/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h21/include/soc/soc_caps.h
  components/soc/esp32h4/include/soc/soc_caps.h
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/soc_caps.h
  components/soc/esp32s31/include/soc/soc_caps.h
  components/ulp/lp_core/shared/ulp_lp_core_lp_adc_shared.c
  components/ulp/test_apps/lp_core/lp_core_basic_tests/main/test_lp_core_adc.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(heap): use critical section for task tracking locks
  components/heap/heap_task_info.c
  components/heap/test_apps/heap_tests/main/CMakeLists.txt
  components/heap/test_apps/heap_tests/main/test_task_tracking.c
  components/heap/test_apps/heap_tests/sdkconfig.ci.no_poisoning
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(efuse): correct MAC_EXT byte order on ESP32-C5 and ESP32-H21
  components/efuse/esp32c5/esp_efuse_table.c
  components/efuse/esp32c5/esp_efuse_table.csv
  components/efuse/esp32c5/include/esp_efuse_table.h
  components/efuse/esp32h21/esp_efuse_table.c
  components/efuse/esp32h21/esp_efuse_table.csv
  components/efuse/esp32h21/include/esp_efuse_table.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(efuse): correct MAC_EXT byte order on ESP32-C5 and ESP32-H21
  components/efuse/esp32c5/esp_efuse_table.c
  components/efuse/esp32c5/esp_efuse_table.csv
  components/efuse/esp32c5/include/esp_efuse_table.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): Memory region protection for ESP32-H4
  components/esp_hw_support/port/esp32h4/cpu_region_protect.c
  components/esp_rom/esp32h4/include/esp32h4/rom/rom_layout.h
  components/soc/esp32h4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h4/include/soc/soc.h
  components/soc/esp32h4/include/soc/soc_caps.h
  tools/test_apps/system/panic/panic_base/pytest_panic.py
  tools/test_apps/system/panic/panic_base/sdkconfig.ci.memprot_esp32h4
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): rework ESP32-H4 region protection to the application-owned layout
  components/esp_hw_support/port/esp32h4/cpu_region_protect.c
  tools/test_apps/system/panic/panic_base/pytest_panic.py
  tools/test_apps/system/panic/panic_base/sdkconfig.ci.memprot_spiram_xip_esp32h4
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(soc): make SOC_RAM_ICACHE1_HIGH an exclusive bound on ESP32-H4
  components/esp_hw_support/port/esp32h4/cpu_region_protect.c
  components/soc/esp32h4/include/soc/soc.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(freertos): cover xTaskCreatePinnedToCore pinning semantics
  components/freertos/test_apps/freertos/misc/test_idf_additions.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): bound PAwR synced connect retries in the example
  examples/bluetooth/nimble/ble_pawr_adv_conn/ble_pawr_adv_conn/main/main.c
Due: none

fix(mbedtls): bound *iv_off in DMA esp_aes_crypt_ofb to prevent OOB read
  components/mbedtls/port/aes/dma/esp_aes.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_tee): guard calloc overflow and attestation leak
  components/esp_tee/subproject/components/attestation/esp_att_utils_crypto.c
  components/esp_tee/subproject/main/common/multi_heap.c
  components/mbedtls/port/aes/esp_aes_gcm.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): validate crypto input lengths (TEE OOB, auth-bypass, overflows)
  components/mbedtls/esp_crt_bundle/esp_crt_bundle.c
  components/mbedtls/port/aes/block/esp_aes.c
  components/mbedtls/port/aes/dma/esp_aes.c
  components/mbedtls/port/aes/esp_aes_gcm.c
  components/mbedtls/port/ecc/esp_ecc.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_http_client): return an error when append_string realloc fails
  components/esp_http_client/lib/http_utils.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(kconfig): use 'n' instead of '0'/'false' for bool defaults
  components/bt/controller/esp32/Kconfig.in
  components/bt/host/nimble/Kconfig.in
  examples/peripherals/twai/twai_utils/main/Kconfig.projbuild
  examples/wifi/scan/main/Kconfig.projbuild
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

change(bt/bluedroid): Used dynamic osi event to reduce lock cost
  components/bt/common/osi/include/osi/thread.h
  components/bt/common/osi/thread.c
  components/bt/host/bluedroid/btc/profile/std/hid/btc_hh.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_hh.h
  components/bt/test_apps/basic_unit_test/main/CMakeLists.txt
  components/bt/test_apps/basic_unit_test/main/test_osi_event.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(gpio): removed strapping description in programming guide
  docs/en/api-reference/peripherals/gpio/esp32.inc
  docs/en/api-reference/peripherals/gpio/esp32c2.inc
  docs/en/api-reference/peripherals/gpio/esp32c3.inc
  docs/en/api-reference/peripherals/gpio/esp32c5.inc
  docs/en/api-reference/peripherals/gpio/esp32c6.inc
  docs/en/api-reference/peripherals/gpio/esp32c61.inc
  docs/en/api-reference/peripherals/gpio/esp32h2.inc
  docs/en/api-reference/peripherals/gpio/esp32h21.inc
  docs/en/api-reference/peripherals/gpio/esp32h4.inc
  docs/en/api-reference/peripherals/gpio/esp32p4.inc
  docs/en/api-reference/peripherals/gpio/esp32s2.inc
  docs/en/api-reference/peripherals/gpio/esp32s3.inc
  docs/en/api-reference/peripherals/gpio/esp32s31.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32c2.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32c3.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32c5.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32c6.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32c61.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32h2.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32h21.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32h4.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32p4.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32s2.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32s3.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32s31.inc
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

fix(spi_flash): keep program and erase paths in IRAM
  components/esp_hal_mspi/esp32c2/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32c3/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32c5/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32c6/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32c61/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32h2/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32h21/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32h4/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32p4/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/esp32s3/include/hal/spimem_flash_ll.h
  components/esp_hal_mspi/spi_flash_hal_common.inc
  components/spi_flash/linker.lf
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(jpeg): validate encoder buffer sizes before header/DMA access
  components/esp_driver_jpeg/jpeg_emit_marker.c
  components/esp_driver_jpeg/jpeg_encode.c
  components/esp_driver_jpeg/jpeg_private.h
  components/esp_driver_jpeg/test_apps/jpeg_test_apps/main/test_jpeg_encode.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(mbedtls): add partial-block PSRAM coverage for AES and AES-GCM
  components/mbedtls/test_apps/mbedtls_ut/main/test_aes_params.h
  components/mbedtls/test_apps/mbedtls_ut/main/test_psa_aes.c
  components/mbedtls/test_apps/mbedtls_ut/main/test_psa_aes_gcm.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls/aes): fix ESP32-S2 Crypto DMA stall on PSRAM output with partial blocks
  components/esp_hal_security/esp32s2/include/hal/crypto_dma_ll.h
  components/mbedtls/port/aes/dma/esp_aes_dma_core.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt): Fix compatibility with A2DP API legacy usage methods
  components/bt/host/bluedroid/api/esp_a2dp_api.c
  examples/bluetooth/bluedroid/classic_bt/a2dp_sink_stream/main/main.c
  examples/bluetooth/bluedroid/classic_bt/a2dp_sink_stream_aac/main/main.c
  examples/bluetooth/bluedroid/classic_bt/a2dp_source_aac/main/main.c
  examples/bluetooth/bluedroid/classic_bt/avrcp_absolute_volume/main/main.c
  examples/bluetooth/bluedroid/classic_bt/avrcp_ct_cover_art/main/bt_app_av.c
  examples/bluetooth/bluedroid/classic_bt/avrcp_ct_cover_art/main/main.c
  examples/bluetooth/bluedroid/classic_bt/avrcp_ct_metadata/main/main.c
  examples/bluetooth/bluedroid/classic_bt/pytest_classic_bt_test.py
  examples/bluetooth/bluedroid/coex/a2dp_gatts_coex/main/bt_app_av.c
  examples/bluetooth/bluedroid/coex/a2dp_gatts_coex/main/main.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(storage): clarify example READMEs and when to use each
  examples/storage/README.md
  examples/storage/custom_flash_driver/README.md
  examples/storage/emmc/README.md
  examples/storage/fatfs/bdl_wl/README.md
  examples/storage/fatfs/ext_flash/README.md
  examples/storage/fatfs/fatfsgen/README.md
  examples/storage/fatfs/fs_operations/README.md
  examples/storage/fatfs/getting_started/README.md
  examples/storage/littlefs/README.md
  examples/storage/nvs/nvs_bootloader/README.md
  examples/storage/nvs/nvs_console/README.md
  examples/storage/nvs/nvs_iteration/README.md
  examples/storage/nvs/nvs_rw_blob/README.md
  examples/storage/nvs/nvs_rw_value/README.md
  examples/storage/nvs/nvs_rw_value_cxx/README.md
  examples/storage/nvs/nvs_statistics/README.md
  examples/storage/nvs/nvsgen/README.md
  examples/storage/partition_api/partition_find/README.md
  examples/storage/partition_api/partition_mmap/README.md
  examples/storage/partition_api/partition_ops/README.md
  examples/storage/parttool/README.md
  examples/storage/perf_benchmark/README.md
  examples/storage/sd_card/sdmmc/README.md
  examples/storage/sd_card/sdspi/README.md
  examples/storage/semihost_vfs/README.md
  examples/storage/spiffs/README.md
  examples/storage/spiffsgen/README.md
  examples/storage/wear_levelling/README.md
Due: check_readme_links

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml
