Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*

esp_lcd: Add function for register on color done callback.
  components/esp_lcd/include/esp_lcd_panel_io.h
  components/esp_lcd/interface/esp_lcd_panel_io_interface.h
  components/esp_lcd/src/esp_lcd_panel_io.c
  components/esp_lcd/src/esp_lcd_panel_io_i2c.c
  components/esp_lcd/src/esp_lcd_panel_io_i2s.c
  components/esp_lcd/src/esp_lcd_panel_io_i80.c
  components/esp_lcd/src/esp_lcd_panel_io_spi.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

test: make 'test_common_spi' as a components named 'test_utils_spi'
  components/driver/test/CMakeLists.txt
  components/driver/test_apps/components/test_driver_utils/CMakeLists.txt
  components/driver/test_apps/components/test_driver_utils/include/param_test.h
  components/driver/test_apps/components/test_driver_utils/include/test_spi_utils.h
  components/driver/test_apps/components/test_driver_utils/param_test.c
  components/driver/test_apps/components/test_driver_utils/test_spi_utils.c
  tools/unit-test-app/CMakeLists.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

wifi/bt: fix part of modem module not reset when power up
  components/esp_phy/src/phy_init.c
  components/esp_system/port/soc/esp32/system_internal.c
  components/esp_system/port/soc/esp32s2/system_internal.c
  components/hal/esp32/include/hal/clk_gate_ll.h
  components/hal/esp32s2/include/hal/clk_gate_ll.h
  components/soc/esp32/include/soc/dport_reg.h
  components/soc/esp32c3/include/soc/syscon_reg.h
  components/soc/esp32s2/include/soc/syscon_reg.h
  components/soc/esp32s3/include/soc/syscon_reg.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

freertos: Add Amazon SMP FreeRTOS unit test configuration
  components/freertos/test_apps/freertos/port/test_spinlocks.c
  components/freertos/test_apps/freertos/pytest_freertos.py
  components/freertos/test_apps/freertos/sdkconfig.ci.smp
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

test: move 'driver/test/esp_serial_slave_link' to 'driver/test-apps/components' and make it be a component
  components/driver/test/CMakeLists.txt
  components/driver/test/esp_serial_slave_link/CMakeLists.txt
  components/driver/test_apps/components/esp_serial_slave_link/CMakeLists.txt
  components/driver/test_apps/components/esp_serial_slave_link/LICENSE
  components/driver/test_apps/components/esp_serial_slave_link/README.md
  components/driver/test_apps/components/esp_serial_slave_link/essl.c
  components/driver/test_apps/components/esp_serial_slave_link/essl_internal.h
  components/driver/test_apps/components/esp_serial_slave_link/essl_sdio.c
  components/driver/test_apps/components/esp_serial_slave_link/essl_spi.c
  components/driver/test_apps/components/esp_serial_slave_link/include/esp_serial_slave_link/essl.h
  components/driver/test_apps/components/esp_serial_slave_link/include/esp_serial_slave_link/essl_sdio.h
  components/driver/test_apps/components/esp_serial_slave_link/include/esp_serial_slave_link/essl_spi.h
  components/driver/test_apps/components/esp_serial_slave_link/include/essl_spi/esp32c2_defs.h
  components/driver/test_apps/components/esp_serial_slave_link/include/essl_spi/esp32c3_defs.h
  components/driver/test_apps/components/esp_serial_slave_link/include/essl_spi/esp32s2_defs.h
  components/driver/test_apps/components/esp_serial_slave_link/include/essl_spi/esp32s3_defs.h
  docs/doxygen/Doxyfile
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

CI: remove unused spi related unit-test job
  .gitlab/ci/rules.yml
  .gitlab/ci/target-test.yml
Due: none

test: move spi related unit-test into pytest app
  .gitlab/ci/target-test.yml
  components/driver/test/CMakeLists.txt
  components/driver/test/test_sdio.c
  components/driver/test_apps/spi/master/CMakeLists.txt
  components/driver/test_apps/spi/master/README.md
  components/driver/test_apps/spi/master/main/CMakeLists.txt
  components/driver/test_apps/spi/master/main/test_app_main.c
  components/driver/test_apps/spi/master/main/test_spi_bus_lock.c
  components/driver/test_apps/spi/master/main/test_spi_master.c
  components/driver/test_apps/spi/master/main/test_spi_sio.c
  components/driver/test_apps/spi/master/partition_table_esp32_flash.csv
  components/driver/test_apps/spi/master/pytest_spi_master.py
  components/driver/test_apps/spi/master/sdkconfig.defaults
  components/driver/test_apps/spi/master/sdkconfig.defaults.esp32
  components/driver/test_apps/spi/master/sdkconfig.defaults.esp32s2
  components/driver/test_apps/spi/master/sdkconfig.defaults.esp32s3
  components/driver/test_apps/spi/param/CMakeLists.txt
  components/driver/test_apps/spi/param/README.md
  components/driver/test_apps/spi/param/main/CMakeLists.txt
  components/driver/test_apps/spi/param/main/test_app_main.c
  components/driver/test_apps/spi/param/main/test_spi_param.c
  components/driver/test_apps/spi/param/pytest_spi_param.py
  components/driver/test_apps/spi/param/sdkconfig.defaults
  components/driver/test_apps/spi/slave/CMakeLists.txt
  components/driver/test_apps/spi/slave/README.md
  components/driver/test_apps/spi/slave/main/CMakeLists.txt
  components/driver/test_apps/spi/slave/main/test_app_main.c
  components/driver/test_apps/spi/slave/main/test_spi_slave.c
  components/driver/test_apps/spi/slave/pytest_spi_slave.py
  components/driver/test_apps/spi/slave/sdkconfig.defaults
  components/driver/test_apps/spi/slave_hd/CMakeLists.txt
  components/driver/test_apps/spi/slave_hd/README.md
  components/driver/test_apps/spi/slave_hd/main/CMakeLists.txt
  components/driver/test_apps/spi/slave_hd/main/test_app_main.c
  components/driver/test_apps/spi/slave_hd/main/test_spi_slave_hd.c
  components/driver/test_apps/spi/slave_hd/pytest_spi_slave_hd.py
  components/driver/test_apps/spi/slave_hd/sdkconfig.defaults
  tools/ci/idf_unity_tester.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

add missing osi_mutex_unlock
  components/bt/host/bluedroid/btc/profile/std/spp/btc_spp.c
Due: none

bootloader_support: fix uart1 no printing in the 2nd bootloader stage
  components/bootloader_support/src/bootloader_console.c
Due: none

cleanup
  components/bt/host/bluedroid/btc/profile/std/spp/btc_spp.c
Due: none

esp_rom: add rom api esp_rom_uart_set_as_console for riscv chips
  components/esp_rom/esp32c2/ld/esp32c2.rom.api.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.api.ld
  components/esp_rom/esp32h4/ld/rev1/esp32h4.rom.api.ld
  components/esp_rom/esp32h4/ld/rev2/esp32h4.rom.api.ld
  components/esp_rom/patches/esp_rom_uart.c
Due: none

console: argtable3: upgrade to v3.2.1
  components/console/argtable3/LICENSE
  components/console/argtable3/arg_cmd.c
  components/console/argtable3/arg_date.c
  components/console/argtable3/arg_dbl.c
  components/console/argtable3/arg_dstr.c
  components/console/argtable3/arg_end.c
  components/console/argtable3/arg_file.c
  components/console/argtable3/arg_hashtable.c
  components/console/argtable3/arg_int.c
  components/console/argtable3/arg_lit.c
  components/console/argtable3/arg_rem.c
  components/console/argtable3/arg_rex.c
  components/console/argtable3/arg_str.c
  components/console/argtable3/arg_utils.c
  components/console/argtable3/argtable3.c
  components/console/argtable3/argtable3.h
  components/console/argtable3/argtable3_private.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

console: argtable3: update build system for v3.2.1
  components/console/CMakeLists.txt
  components/console/component.mk
Due: none

console: argtable3: add SPDX copyright headers
  components/console/argtable3/arg_cmd.c
  components/console/argtable3/arg_date.c
  components/console/argtable3/arg_dbl.c
  components/console/argtable3/arg_dstr.c
  components/console/argtable3/arg_end.c
  components/console/argtable3/arg_file.c
  components/console/argtable3/arg_hashtable.c
  components/console/argtable3/arg_int.c
  components/console/argtable3/arg_lit.c
  components/console/argtable3/arg_rem.c
  components/console/argtable3/arg_rex.c
  components/console/argtable3/arg_str.c
  components/console/argtable3/arg_utils.c
  components/console/argtable3/argtable3.c
  components/console/argtable3/argtable3.h
  components/console/argtable3/argtable3_private.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

console: argtable3: sync arg_end argument name
  components/console/argtable3/argtable3.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

docs: update copyrights list for argtable3
  docs/en/COPYRIGHT.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

console: argtable3: re-introduce arg_print_formatted function
  components/console/argtable3/argtable3.c
  components/console/argtable3/argtable3.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

console: argtable3: fix -Wwrite-strings warnings
  components/console/argtable3/argtable3.c
Due: none

console: argtable3: use newlib getopt, disable logs
  components/console/argtable3/argtable3.h
  components/console/argtable3/argtable3_private.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

console: argtable3: upgrade to v3.2.2
  components/console/argtable3/arg_rex.c
  components/console/argtable3/argtable3.c
Due: none

freertos(IDF): Provide default value to configTHREAD_LOCAL_STORAGE_DELETE_CALLBACKS
  components/freertos/FreeRTOS-Kernel/include/freertos/FreeRTOS.h
  components/freertos/FreeRTOS-Kernel/include/freertos/task.h
  components/freertos/FreeRTOS-Kernel/tasks.c
  components/freertos/esp_additions/include/freertos/FreeRTOSConfig.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

freertos(IDF): Sync cosmetic differences to v10.4.3
  components/freertos/FreeRTOS-Kernel/include/freertos/FreeRTOS.h
  components/freertos/FreeRTOS-Kernel/include/freertos/mpu_wrappers.h
  components/freertos/FreeRTOS-Kernel/include/freertos/semphr.h
  components/freertos/FreeRTOS-Kernel/include/freertos/task.h
  components/freertos/FreeRTOS-Kernel/include/freertos/timers.h
  components/freertos/FreeRTOS-Kernel/list.c
  components/freertos/FreeRTOS-Kernel/stream_buffer.c
  components/freertos/FreeRTOS-Kernel/tasks.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

ledc: explain the callback return value
  components/driver/include/driver/ledc.h
  docs/en/api-reference/peripherals/ledc.rst
  docs/zh_CN/api-reference/peripherals/ledc.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

freertos-smp: Enabled static task cleanup for RISC-V targets with FreeRTOS SMP
  components/freertos/FreeRTOS-Kernel-SMP/portable/riscv/port.c
Due: none

pytest: use case_tester for multi-device tests
  components/esp_wifi/test_apps/wifi_connect/pytest_wifi_connect.py
  conftest.py
  tools/ci/idf_unity_tester.py
Due: none

esp_rom: update esp_rom_caps.h
  components/esp_rom/esp32c2/ld/esp32c2.rom.api.ld
  components/esp_rom/esp32c3/Kconfig.soc_caps.in
  components/esp_rom/esp32c3/esp_rom_caps.h
  components/esp_rom/esp32h2/Kconfig.soc_caps.in
  components/esp_rom/esp32h2/esp_rom_caps.h
  components/esp_rom/patches/esp_rom_sys.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_rom: fix esp32s3 rom ets_printf bug
  components/bootloader_support/src/bootloader_console.c
  components/esp_rom/esp32s3/Kconfig.soc_caps.in
  components/esp_rom/esp32s3/esp_rom_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_rom: remove ESP_ROM_SUPPORT_MULTIPLE_UART
  components/bootloader_support/src/bootloader_console.c
  components/esp_rom/esp32/Kconfig.soc_caps.in
  components/esp_rom/esp32/esp_rom_caps.h
  components/esp_rom/esp32s2/Kconfig.soc_caps.in
  components/esp_rom/esp32s2/esp_rom_caps.h
  components/esp_rom/esp32s3/Kconfig.soc_caps.in
  components/esp_rom/esp32s3/esp_rom_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_rom: add rom api esp_rom_uart_set_as_console for riscv chips
  components/esp_rom/esp32c2/ld/esp32c2.rom.api.ld
  components/esp_rom/esp32h2/ld/rev1/esp32h2.rom.api.ld
  components/esp_rom/esp32h2/ld/rev2/esp32h2.rom.api.ld
  components/esp_rom/patches/esp_rom_uart.c
Due: none

tools: support download espidf constraints files from mirror url
  tools/idf_tools.py
Due: none

esp_rom: fix esp32s3 rom ets_printf bug
  components/bootloader_support/src/bootloader_console.c
  components/esp_rom/esp32c3/esp_rom_caps.h
  components/esp_rom/esp32h2/esp_rom_caps.h
  components/esp_rom/esp32s3/esp_rom_caps.h
  components/esp_rom/patches/esp_rom_sys.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_rom: remove ESP_ROM_SUPPORT_MULTIPLE_UART
  components/bootloader_support/src/bootloader_console.c
  components/esp_rom/esp32/esp_rom_caps.h
  components/esp_rom/esp32s2/esp_rom_caps.h
  components/esp_rom/esp32s3/esp_rom_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

tools: idf extra wheels url can be set by environment variables
  tools/idf_tools.py
Due: none

esp_https_ota: Send data to event handler
  components/esp_https_ota/include/esp_https_ota.h
  components/esp_https_ota/src/esp_https_ota.c
  examples/system/ota/advanced_https_ota/main/advanced_https_ota_example.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_wifi: fix some connectionless related issue and add connectionless power save guide
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_wifi.h
  docs/en/api-guides/coexist.rst
  docs/en/api-guides/wifi.rst
  docs/en/api-reference/network/esp_now.rst
  docs/zh_CN/api-guides/coexist.rst
  docs/zh_CN/api-guides/wifi.rst
  docs/zh_CN/api-reference/network/esp_now.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

psram: remove CS/CLK pin settings in kconfig on ESP32S2/S3
  components/esp_psram/esp32s2/Kconfig.spiram
  components/esp_psram/esp32s2/esp_psram_impl_quad.c
  components/esp_psram/esp32s3/Kconfig.spiram
  components/esp_psram/esp32s3/esp_psram_impl_octal.c
  components/esp_psram/esp32s3/esp_psram_impl_quad.c
  components/esp_psram/sdkconfig.rename.esp32s2
  components/esp_psram/sdkconfig.rename.esp32s3
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

openthread: add service_discovery and NAT64 cases for openthread CI
  examples/openthread/ot_br/main/idf_component.yml
  examples/openthread/ot_ci_function.py
  examples/openthread/ot_cli/main/idf_component.yml
  examples/openthread/pytest_otbr.py
Due: none

uart: force inline ll functions
  components/hal/esp32c2/include/hal/uart_ll.h
  components/hal/esp32c3/include/hal/uart_ll.h
  components/hal/esp32h4/include/hal/uart_ll.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf
