Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

check_readme_links:
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    GIT_STRATEGY: fetch
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs: []
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
    when: always
  script:
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  - gen_integration_pipeline
  variables:
    IDF_S3_SERVER: $IDF_S3_NEW_SERVER
    IDF_S3_ACCESS_KEY: $IDF_S3_NEW_ACCESS_KEY
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
  ...

check_powershell:
  stage: pre_check
  image: docker:latest
  services:
  - docker:dind
  tags:
  - dind
  - amd64
  - brew
  needs:
  - pipeline_variables
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 1
    SUBMODULES_TO_FETCH: none
  script:
  - apk add python3
  - apk add py3-pip
  - pip install pre-commit --break-system-packages
  ...

feat(esp_tee): Add support for TEE image anti-rollback protection
  components/bootloader/Kconfig.app_rollback
  components/bootloader_support/bootloader_flash/src/bootloader_flash.c
  components/bootloader_support/include/esp_image_format.h
  components/bootloader_support/private_include/bootloader_utility.h
  components/bootloader_support/src/bootloader_utility.c
  components/bootloader_support/src/bootloader_utility_tee.c
  components/efuse/include/esp_efuse.h
  components/efuse/src/esp_efuse_fields.c
  components/esp_image_verify/src/esp_image_format.c
  components/esp_tee/Kconfig.projbuild
  components/esp_tee/subproject/components/attestation/esp_att_utils_json.c
  components/esp_tee/subproject/components/attestation/esp_att_utils_part_info.c
  components/esp_tee/subproject/components/attestation/private_include/esp_attestation_utils.h
  components/esp_tee/subproject/components/tee_ota_ops/esp_tee_ota_ops.c
  components/esp_tee/subproject/main/common/esp_app_desc_tee.c
  components/esp_tee/subproject/main/core/esp_tee_init.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

ci(esp_tee): Update test-apps and docs for TEE image anti-rollback protection support
  components/esp_tee/test_apps/tee_cli_app/README.md
  components/esp_tee/test_apps/tee_test_fw/conftest.py
  components/esp_tee/test_apps/tee_test_fw/main/CMakeLists.txt
  components/esp_tee/test_apps/tee_test_fw/main/test_esp_tee_ota.c
  components/esp_tee/test_apps/tee_test_fw/partitions_tee_ota.csv
  components/esp_tee/test_apps/tee_test_fw/pytest_esp_tee_ut.py
  components/esp_tee/test_apps/tee_test_fw/sdkconfig.ci.tee_ota
  docs/en/api-reference/system/ota.rst
  docs/en/security/tee/tee-attestation.rst
  docs/en/security/tee/tee-ota.rst
  docs/zh_CN/api-reference/system/ota.rst
  examples/security/tee/tee_attestation/README.md
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

style(esp_rom): apply ruff format and lint fixes
  components/esp_rom/gen_gdbinit.py
  components/esp_rom/test_esp_rom.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(nan): Update documentation for nan security and pairing
  docs/en/api-guides/wifi-driver/wifi-modes.rst
  docs/en/api-guides/wifi-security.rst
  docs/en/api-reference/network/esp_nan.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

feat(nan): Extend NAN Security to NAN console
  examples/wifi/wifi_aware/nan_console/README.md
  examples/wifi/wifi_aware/nan_console/main/nan_main.c
  examples/wifi/wifi_aware/nan_console/sdkconfig.defaults
Due: check_readme_links

fix(esp_libc): provide nanosleep implementation
  components/esp_libc/src/time.c
  components/esp_libc/test_apps/newlib/main/test_time.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(vfs): roll back the VFS upper bound when fd-range registration collides
  components/vfs/include/esp_private/socket.h
  components/vfs/test_apps/main/test_vfs_fd.c
  components/vfs/vfs.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(tools): include idf.py stdout in mcp-server failure messages
  tools/idf_py_actions/mcp_ext.py
  tools/test_idf_py/test_mcp_ext.py
Due: gen_integration_pipeline, child_integration_test_pipeline

change(examples): use json_parser and json_generator in the RESTful server
  examples/protocols/http_server/restful_server/main/idf_component.yml
  examples/protocols/http_server/restful_server/main/rest_server.c
Due: none

change(examples): use json_parser in the I2C slave network sensor
  examples/peripherals/i2c/i2c_slave_network_sensor/main/i2c_slave_main.c
  examples/peripherals/i2c/i2c_slave_network_sensor/main/idf_component.yml
Due: none

change(esp_tee): use json_parser in the attestation test, json_generator 2.0.0
  components/esp_tee/subproject/main/idf_component.yml
  components/esp_tee/test_apps/tee_test_fw/main/idf_component.yml
  components/esp_tee/test_apps/tee_test_fw/main/test_esp_tee_att.c
  examples/protocols/http_server/restful_server/main/idf_component.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(storage/fatfs): add CPE to SBOM manifest and lowercase the version
  components/fatfs/sbom.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(storage): Update generic_partition_bdl example (dependency update)
  examples/storage/generic_partition_bdl/README.md
  examples/storage/generic_partition_bdl/main/generic_partition_bdl_main.c
  examples/storage/generic_partition_bdl/main/idf_component.yml
Due: check_readme_links

fix(esp_blockdev_util): don't log an error when the parent BDL has no ioctl
  components/esp_blockdev_util/generic_partition.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(sysview): decode data sample event
  tools/esp_app_trace/espytrace/sysview.py
Due: gen_integration_pipeline, child_integration_test_pipeline

Allow enabling insecure ECDSA peripheral on pre v3.x ESP32-P4 revision chips
  components/esp_hal_security/Kconfig.hal_security
  components/esp_hal_security/esp32p4/include/hal/ecdsa_ll.h
  components/hal/platform_port/include/hal/config.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

Explicitly disable P384 on pre-v3.x ESP32-P4 revisions
  components/esp_hal_security/Kconfig.hal_security
  components/esp_hal_security/esp32p4/include/hal/ecdsa_ll.h
  components/mbedtls/port/psa_driver/esp_ecdsa/psa_crypto_driver_esp_ecdsa.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hal_debug_assist): add riscv_trace_ll_get_mem_start_addr
  components/esp_hal_debug_assist/esp32c5/include/hal/riscv_trace_ll.h
  components/esp_hal_debug_assist/esp32c6/include/hal/riscv_trace_ll.h
  components/esp_hal_debug_assist/esp32c61/include/hal/riscv_trace_ll.h
  components/esp_hal_debug_assist/esp32h2/include/hal/riscv_trace_ll.h
  components/esp_hal_debug_assist/esp32h21/include/hal/riscv_trace_ll.h
  components/esp_hal_debug_assist/esp32h4/include/hal/riscv_trace_ll.h
  components/esp_hal_debug_assist/esp32p4/include/hal/riscv_trace_ll.h
  components/esp_hal_debug_assist/esp32s31/include/hal/riscv_trace_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_riscv_trace): add trace encoder interrupt handler
  components/esp_riscv_trace/include/esp_riscv_trace.h
  components/esp_riscv_trace/src/esp_riscv_trace.c
  components/esp_riscv_trace/src/esp_riscv_trace_priv.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): place pmu_sleep_shutdown_dcdc in IRAM on ESP32-P4
  components/esp_hw_support/port/esp32p4/pmu_sleep.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci(mqtt): Improve timeout on mqtt5 example testing
  examples/protocols/mqtt5/pytest_mqtt5.py
Due: none

feat(esp-tls): allow the TLS supported groups list to be configured
  components/esp-tls/esp_tls.c
  components/esp-tls/esp_tls.h
  components/esp-tls/esp_tls_custom_stack.c
  components/esp-tls/esp_tls_custom_stack.h
  components/esp-tls/esp_tls_mbedtls.c
  components/esp-tls/private_include/esp_tls_mbedtls.h
  components/esp_http_client/esp_http_client.c
  components/esp_http_client/include/esp_http_client.h
  components/esp_https_server/include/esp_https_server.h
  components/esp_https_server/src/https_server.c
  components/tcp_transport/include/esp_transport_ssl.h
  components/tcp_transport/transport_ssl.c
  docs/en/api-reference/protocols/esp_http_client.rst
  docs/en/api-reference/protocols/esp_https_server.rst
  docs/en/api-reference/protocols/esp_tls.rst
  examples/protocols/esp_http_client/README.md
  examples/protocols/esp_http_client/main/CMakeLists.txt
  examples/protocols/esp_http_client/main/esp_http_client_example.c
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_libc): provide nanosleep implementation
  components/esp_libc/src/time.c
  components/esp_libc/test_apps/newlib/main/test_time.c
  docs/en/api-reference/system/pthread.rst
  docs/zh_CN/api-reference/system/pthread.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(mac): format utilities for OUI
  components/esp_hw_support/include/esp_mac.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci(freertos): run unicore self-delete test with clang
  .gitlab/ci/build.yml
  components/freertos/test_apps/.build-test-rules.yml
  components/freertos/test_apps/task_self_delete/pytest_task_self_delete.py
  components/freertos/test_apps/task_self_delete/sdkconfig.ci.clang
  tools/ci/dynamic_pipelines/templates/test_child_pipeline.yml
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(freertos): explain immediate unicore self-delete yield
  components/freertos/FreeRTOS-Kernel/tasks.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(freertos): yield immediately after unicore self deletion
  components/freertos/FreeRTOS-Kernel/tasks.c
Due: gen_integration_pipeline, child_integration_test_pipeline

test(freertos): add unicore self-delete regression test
  components/freertos/test_apps/task_self_delete/CMakeLists.txt
  components/freertos/test_apps/task_self_delete/README.md
  components/freertos/test_apps/task_self_delete/main/CMakeLists.txt
  components/freertos/test_apps/task_self_delete/main/task_self_delete_main.cpp
  components/freertos/test_apps/task_self_delete/pytest_task_self_delete.py
  components/freertos/test_apps/task_self_delete/sdkconfig.ci
  components/freertos/test_apps/task_self_delete/sdkconfig.defaults
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): reject AES-ECB updates whose output would overtake the input
  components/mbedtls/port/include/mbedtls/esp_config.h
  components/mbedtls/port/psa_driver/esp_aes/psa_crypto_driver_esp_aes.c
  components/mbedtls/test_apps/mbedtls_ut/main/test_psa_aes.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(tools): Run idf.py monitor from the directory idf.py was invoked in
  tools/idf_py_actions/serial_ext.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(fatfs): prefer valid MBR over stale whole-device FAT header
  components/fatfs/host_test/main/CMakeLists.txt
  components/fatfs/host_test/main/test_fatfs_partition.cpp
  components/fatfs/src/ff.c
  docs/en/api-reference/storage/fatfs.rst
  docs/zh_CN/api-reference/storage/fatfs.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(storage/vfs): copy fs ops in id and fd range registration
  components/vfs/include/esp_vfs_ops.h
  components/vfs/test_apps/main/test_vfs_minified.c
  components/vfs/vfs.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(examples): add a bootloader boot decision policy example
  examples/custom_bootloader/.build-test-rules.yml
  examples/custom_bootloader/README.md
  examples/custom_bootloader/bootloader_policy/CMakeLists.txt
  examples/custom_bootloader/bootloader_policy/README.md
  examples/custom_bootloader/bootloader_policy/bootloader_components/boot_policy/CMakeLists.txt
  examples/custom_bootloader/bootloader_policy/bootloader_components/boot_policy/boot_policy.c
  examples/custom_bootloader/bootloader_policy/bootloader_components/boot_policy/policy_core.c
  examples/custom_bootloader/bootloader_policy/bootloader_components/boot_policy/policy_core.h
  examples/custom_bootloader/bootloader_policy/main/CMakeLists.txt
  examples/custom_bootloader/bootloader_policy/main/Kconfig.projbuild
  examples/custom_bootloader/bootloader_policy/main/main.c
  examples/custom_bootloader/bootloader_policy/partitions.csv
  examples/custom_bootloader/bootloader_policy/pytest_bootloader_policy.py
  examples/custom_bootloader/bootloader_policy/sdkconfig.defaults
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

fix(examples): correct otadata validity and journal ring geometry
  examples/custom_bootloader/bootloader_policy/bootloader_components/boot_policy/boot_policy.c
  examples/custom_bootloader/bootloader_policy/main/main.c
  examples/custom_bootloader/bootloader_policy/pytest_bootloader_policy.py
Due: none

fix(esp_rom): load gen_gdbinit.py from the test directory
  components/esp_rom/test_esp_rom.py
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: remove rules from build_clang_test_apps_esp32s3
  .gitlab/ci/build.yml
Due: none

fix(esp_hal_mspi): define PSRAM_CTRLR_LL_PMS_INT_SUPPORTED on C5 and C61
  components/esp_hal_mspi/esp32c5/include/hal/psram_ctrlr_ll.h
  components/esp_hal_mspi/esp32c61/include/hal/psram_ctrlr_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(cmake): detect toolchain response-file recursion via path prefix
  tools/cmake/toolchain.cmake
  tools/cmake/toolchain_flags.cmake
  tools/test_build_system/test_cmake.py
Due: gen_integration_pipeline, child_integration_test_pipeline

test(transport_ws): add host tests for fragmented message validation
  components/tcp_transport/host_test/main/test_websocket_transport.cpp
Due: gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml
