Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

fix(interrupt): fixed interrupt thresholds not working on C5
  components/riscv/include/esp_private/interrupt_clic.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix some wifi bugs (Backport v5.1)
  components/esp_wifi/include/esp_wifi_he_types.h
  components/esp_wifi/include/esp_wifi_types.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(gdma): add GDMA support for ESP32C5 MP
  components/bootloader_support/src/bootloader_mem.c
  components/esp_hw_support/test_apps/dma/main/test_gdma.c
  components/hal/CMakeLists.txt
  components/hal/esp32c5/beta3/include/hal/gdma_beta3_ll.h
  components/hal/esp32c5/include/hal/gdma_ll.h
  components/hal/esp32c5/mp/include/hal/ahb_dma_ll.h
  components/soc/esp32c5/mp/gdma_periph.c
  components/soc/esp32c5/mp/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/mp/include/soc/ahb_dma_struct.h
  components/soc/esp32c5/mp/include/soc/gdma_channel.h
  components/soc/esp32c5/mp/include/soc/reg_base.h
  components/soc/esp32c5/mp/include/soc/retention_periph_defs.h
  components/soc/esp32c5/mp/include/soc/soc_caps.h
  components/soc/esp32c5/mp/ld/esp32c5.peripherals.ld
  components/soc/esp32c6/gdma_periph.c
  components/soc/esp32h2/gdma_periph.c
  components/soc/esp32p4/include/soc/ahb_dma_struct.h
  components/soc/include/soc/gdma_periph.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(bt/controller): Parse out the correct packet types from Host parameters
  components/esp_rom/esp32/ld/esp32.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp32c61): update for rom freeze
  components/bootloader/subproject/main/ld/esp32c61/bootloader.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.api.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.coexist.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.heap.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.libgcc.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.net80211.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.newlib-nano.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.newlib.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.phy.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.pp.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.rvfp.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.spiflash.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.version.ld
  components/esp_system/ld/esp32c61/memory.ld.in
Due: gen_integration_pipeline, child_integration_test_pipeline

feat: added ecc peripheral support for esp32c5 for mp version
  components/hal/esp32c5/include/hal/ecc_ll.h
  components/soc/esp32c5/mp/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/mp/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat: Enable app_update test app for ESP32P4
  components/app_update/test_apps/.build-test-rules.yml
  components/app_update/test_apps/README.md
  components/app_update/test_apps/pytest_app_update_ut.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(soc): Refactor variable names for MPI operations and block bases
  components/hal/esp32/include/hal/mpi_ll.h
  components/hal/esp32c3/include/hal/mpi_ll.h
  components/hal/esp32c5/include/hal/mpi_ll.h
  components/hal/esp32c6/include/hal/mpi_ll.h
  components/hal/esp32h2/include/hal/mpi_ll.h
  components/hal/esp32p4/include/hal/mpi_ll.h
  components/hal/esp32s2/include/hal/mpi_ll.h
  components/hal/esp32s3/include/hal/mpi_ll.h
  components/soc/esp32/mpi_periph.c
  components/soc/esp32c3/mpi_periph.c
  components/soc/esp32c5/beta3/mpi_periph.c
  components/soc/esp32c6/mpi_periph.c
  components/soc/esp32h2/mpi_periph.c
  components/soc/esp32p4/mpi_periph.c
  components/soc/esp32s2/mpi_periph.c
  components/soc/esp32s3/mpi_periph.c
  components/soc/include/soc/mpi_periph.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Fix issues in NAN datapath establishment
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_eth): added example to deinit Ethernet
  examples/ethernet/basic/components/ethernet_init/CMakeLists.txt
  examples/ethernet/basic/components/ethernet_init/ethernet_init.c
  examples/ethernet/basic/main/Kconfig.projbuild
  examples/ethernet/basic/main/ethernet_example_main.c
Due: none

fix(hal/test_apps): Fix build failure of the crypto hal test app for ESP32-P4
  .gitlab/CODEOWNERS
  components/hal/test_apps/crypto/main/CMakeLists.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt): Update bt lib for ESP32-C3 and ESP32-S3(eca46a0)
  components/bt/controller/esp32c3/bt.c
  components/esp_hw_support/port/esp32c3/esp_cpu_intr.c
  components/esp_hw_support/port/esp32s3/esp_cpu_intr.c
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
  tools/test_apps/system/esp_intr_dump/expected_output/esp32c3.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): some system peripherals to use a retention module number
  components/esp_hw_support/include/esp_private/sleep_retention.h
  components/esp_hw_support/include/esp_private/sleep_sys_periph.h
  components/esp_hw_support/sleep_system_peripheral.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): modify system and modem clock to support modem domain power down
  components/esp_hw_support/include/esp_private/sleep_clock.h
  components/esp_hw_support/sleep_clock.c
  components/esp_hw_support/sleep_modem.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): modify the style of module argument from bitmap to number
  components/esp_hw_support/include/esp_private/sleep_retention.h
  components/esp_hw_support/sleep_clock.c
  components/esp_hw_support/sleep_modem.c
  components/esp_hw_support/sleep_retention.c
  components/esp_hw_support/sleep_system_peripheral.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): rename sleep retention module to created module
  components/esp_hw_support/sleep_retention.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): rename interface name of get modules bitmap to get created modules
  components/esp_hw_support/include/esp_private/sleep_retention.h
  components/esp_hw_support/sleep_clock.c
  components/esp_hw_support/sleep_modem.c
  components/esp_hw_support/sleep_retention.c
  components/esp_hw_support/sleep_system_peripheral.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): implement of sleep retention module initialize and dependency management
  components/esp_hw_support/include/esp_private/sleep_retention.h
  components/esp_hw_support/sleep_retention.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(wifi): use new retention api to implement wifi mac and bb retention
  components/esp_phy/src/phy_init.c
  components/esp_wifi/esp32c6/esp_adapter.c
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/include/esp_private/wifi_os_adapter.h
  components/esp_wifi/src/wifi_init.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): use new retention api to implement gdma retention
  components/esp_hw_support/dma/gdma_sleep_retention.c
  components/esp_hw_support/port/esp32c6/private_include/sleep_gdma_retention_context.inc
  components/esp_hw_support/port/esp32h2/private_include/sleep_gdma_retention_context.inc
  components/hal/esp32c6/include/hal/gdma_ll.h
  components/hal/esp32h2/include/hal/gdma_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): add adc retention module and it is dependencies on the clock modem
  components/esp_hw_support/include/esp_private/sleep_retention.h
  components/esp_hw_support/sleep_modes.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix: modify some typos to ensure CI pipeline run pass
  components/esp_hw_support/include/esp_private/esp_regdma.h
  components/esp_hw_support/sleep_retention.c
  components/esp_phy/src/phy_init.c
  components/esp_wifi/include/esp_private/wifi.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix: add ESP_ERR_NOT_ALLOWED error code to esp_err.h
  components/esp_common/include/esp_err.h
  components/esp_common/src/esp_err_to_name.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(example): fixed app partition is too small for binary size
  examples/bluetooth/esp_hid_device/sdkconfig.defaults
  examples/bluetooth/esp_hid_host/sdkconfig.defaults
  examples/mesh/ip_internal_network/sdkconfig.defaults
Due: none

change(ieee802154): add sleep deinit API
  components/ieee802154/driver/esp_ieee802154_dev.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(bt): use new retention api to implement BT mac and bb retention
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h2/bt.c
  components/esp_phy/src/btbb_init.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(ieee802154): use new sleep retention api to implement ieee802154 mac retention
  components/ieee802154/driver/esp_ieee802154_dev.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): use power down peripheral in light sleep option to determine TOP to off
  components/esp_hw_support/sleep_system_peripheral.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): dump sleep retention context to io stream
  components/esp_hw_support/include/esp_private/esp_regdma.h
  components/esp_hw_support/include/esp_private/sleep_retention.h
  components/esp_hw_support/port/regdma_link.c
  components/esp_hw_support/sleep_retention.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

air-222_esp_ota_fail_message_improvements
  components/esp_https_ota/include/esp_https_ota.h
  components/esp_https_ota/src/esp_https_ota.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(brownout): fixed brownout isr crashing if cache disabled
  components/esp_system/port/brownout.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(lp_core_test): fixed race-condition in lp core tests
  components/ulp/test_apps/lp_core/main/lp_core/test_main.c
  components/ulp/test_apps/lp_core/main/test_lp_core.c
Due: gen_integration_pipeline, child_integration_test_pipeline
