Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

check_readme_links:
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    GIT_STRATEGY: fetch
  tags:
  - check_doc_links
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL_PY39}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL_PY39}; fi
  - cd docs
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    GIT_STRATEGY: clone
    GIT_DEPTH: 0
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    GIT_STRATEGY: fetch
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs: []
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
    when: always
  script:
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  - gen_integration_pipeline
  variables:
    IDF_S3_SERVER: $IDF_S3_NEW_SERVER
    IDF_S3_ACCESS_KEY: $IDF_S3_NEW_ACCESS_KEY
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
  ...

check_powershell:
  stage: pre_check
  image: docker:latest
  services:
  - docker:dind
  tags:
  - dind
  - amd64
  - brew
  needs:
  - pipeline_variables
  variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: 1
    SUBMODULES_TO_FETCH: none
  script:
  - apk add python3
  - apk add py3-pip
  - pip install pre-commit --break-system-packages
  ...

disable some parameters check in CTE APIs
  components/bt/host/bluedroid/api/esp_ble_cte_api.c
  components/bt/host/bluedroid/btc/profile/std/cte/btc_ble_cte.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Fixed privacy callback triggering multiple times
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
  components/bt/host/bluedroid/bta/dm/include/bta_dm_gap.h
  components/bt/host/bluedroid/stack/btm/btm_ble_addr.c
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/btm/btm_ble_privacy.c
  components/bt/host/bluedroid/stack/btm/include/btm_ble_int.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Null/range checks, crypto cleanup and API consistency
  components/bt/host/bluedroid/stack/include/stack/smp_api.h
  components/bt/host/bluedroid/stack/smp/include/smp_int.h
  components/bt/host/bluedroid/stack/smp/p_256_ecc_pp.c
  components/bt/host/bluedroid/stack/smp/p_256_multprecision.c
  components/bt/host/bluedroid/stack/smp/smp_act.c
  components/bt/host/bluedroid/stack/smp/smp_api.c
  components/bt/host/bluedroid/stack/smp/smp_cmac.c
  components/bt/host/bluedroid/stack/smp/smp_keys.c
  components/bt/host/bluedroid/stack/smp/smp_l2c.c
  components/bt/host/bluedroid/stack/smp/smp_main.c
  components/bt/host/bluedroid/stack/smp/smp_utils.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): BLE credit, reject when p_rcb NULL, timeout and leak fixes
  components/bt/host/bluedroid/stack/l2cap/include/l2c_int.h
  components/bt/host/bluedroid/stack/l2cap/l2c_api.c
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
  components/bt/host/bluedroid/stack/l2cap/l2c_link.c
  components/bt/host/bluedroid/stack/l2cap/l2c_main.c
  components/bt/host/bluedroid/stack/l2cap/l2c_utils.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Change BLE mesh adapter to use BTA APIs
  components/bt/esp_ble_mesh/core/bluedroid_host/adapter.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): Fixed AddCharacteristic failed when attr_len is zero for AUTO_RSP
  components/bt/host/bluedroid/bta/gatt/bta_gatts_api.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Fixed bluedrodi CI build error
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
  components/bt/host/bluedroid/stack/btm/btm_acl.c
  components/bt/host/bluedroid/stack/btm/btm_ble_bgconn.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): optimize bluedroid host and fix GAP, memory, status and BTM API issues
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
  components/bt/host/bluedroid/bta/dm/bta_dm_api.c
  components/bt/host/bluedroid/bta/dm/bta_dm_main.c
  components/bt/host/bluedroid/bta/dm/include/bta_dm_gap.h
  components/bt/host/bluedroid/bta/dm/include/bta_dm_int.h
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
  components/bt/host/bluedroid/bta/include/bta/bta_api.h
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_ble.c
  components/bt/host/bluedroid/hci/hci_layer.c
  components/bt/host/bluedroid/stack/btm/btm_acl.c
  components/bt/host/bluedroid/stack/btm/btm_ble.c
  components/bt/host/bluedroid/stack/btm/btm_ble_5_gap.c
  components/bt/host/bluedroid/stack/btm/btm_ble_addr.c
  components/bt/host/bluedroid/stack/btm/btm_ble_bgconn.c
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/btm/btm_ble_privacy.c
  components/bt/host/bluedroid/stack/btm/btm_devctl.c
  components/bt/host/bluedroid/stack/btm/btm_main.c
  components/bt/host/bluedroid/stack/btm/include/btm_ble_int.h
  components/bt/host/bluedroid/stack/btm/include/btm_int.h
  components/bt/host/bluedroid/stack/btu/btu_hcif.c
  components/bt/host/bluedroid/stack/gatt/gatt_utils.c
  components/bt/host/bluedroid/stack/hcic/hciblecmds.c
  components/bt/host/bluedroid/stack/include/stack/btm_api.h
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
  components/bt/host/bluedroid/stack/include/stack/btu.h
  components/bt/host/bluedroid/stack/include/stack/hcimsgs.h
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(kconfig): add KCONFIG_PROMPTLESS_NO_WARN to config.env.in
  tools/kconfig_new/config.env.in
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(uhci): fix uhci cache issue on ESP32-P4
  components/esp_driver_uart/src/uhci.c
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/uart/uart_dma_ota/pytest_uart_dma_ota.py
  examples/peripherals/uart/uart_dma_ota/sdkconfig.ci.defaults.esp32c5
  examples/peripherals/uart/uart_dma_ota/sdkconfig.ci.defaults.esp32p4
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(bss_max_idle): optimization of the max BSS idle mechanism
  components/esp_rom/esp32c2/ld/esp32c2.rom.eco4.ld
  components/esp_rom/esp32c5/ld/esp32c5.rom.eco3.ld
  components/esp_rom/esp32c5/ld/esp32c5.rom.pp.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.eco4.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.pp.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ci): fix ci issue related to bss max idle test
  components/esp_wifi/test_apps/wifi_connect/main/test_bss_max_idle.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci(github): fix permissions for GitHub-dangerjs (to content read)
  .github/workflows/dangerjs.yml
Due: none

test(uhci): enable uhci ota test on C5 and P4
  components/esp_driver_uart/src/uhci.c
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/uart/uart_dma_ota/pytest_uart_dma_ota.py
  examples/peripherals/uart/uart_dma_ota/sdkconfig.ci.defaults.esp32c5
  examples/peripherals/uart/uart_dma_ota/sdkconfig.ci.defaults.esp32p4
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(nimble): Support NimBLE log compression and decompression over SPI
  components/bt/CMakeLists.txt
  components/bt/common/ble_log/deprecated/ble_log_spi_out.c
  components/bt/common/ble_log/extension/log_compression/CMakeLists.txt
  components/bt/common/ble_log/extension/log_compression/Kconfig.in
  components/bt/common/ble_log/extension/log_compression/ble_log_compression.c
  components/bt/common/ble_log/extension/log_compression/scripts/ble_log_compress.py
  components/bt/common/ble_log/extension/log_compression/scripts/log_decompression/README.md
  components/bt/common/ble_log/extension/log_compression/scripts/log_decompression/ble_log_decompress.py
  components/bt/common/ble_log/extension/log_compression/scripts/module_scripts/nimble/make_nimble_log_macro.py
  components/bt/common/ble_log/extension/log_compression/scripts/requirements.txt
  components/bt/common/ble_log/src/prph/ble_log_prph_spi_master_dma.c
  examples/bluetooth/nimble/ble_spi_slave/CMakeLists.txt
  examples/bluetooth/nimble/ble_spi_slave/README.md
  examples/bluetooth/nimble/ble_spi_slave/main/CMakeLists.txt
  examples/bluetooth/nimble/ble_spi_slave/main/ble_spi_slave.h
  examples/bluetooth/nimble/ble_spi_slave/main/main.c
  examples/bluetooth/nimble/ble_spi_slave/sdkconfig.defaults
  examples/provisioning/wifi_prov_mgr/partitions.csv
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): clean up fragment rx flow
  components/wpa_supplicant/esp_supplicant/src/esp_wps.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Backport some fixes to v6.0
  components/wpa_supplicant/esp_supplicant/src/crypto/crypto_mbedtls-ec.c
  components/wpa_supplicant/test_apps/main/test_dpp.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble_mesh): fix Friend queue losing segmented messages for LPN
  components/bt/esp_ble_mesh/core/friend.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(soc): add SOC_USB_FSLS_PHY_NUM for USB-OTG targets
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(fatfs): fix a memory leak bug when FF_USE_DYN_BUFFER was enabled
  components/fatfs/host_test/main/test_fatfs.cpp
  components/fatfs/src/ff.c
  components/fatfs/test_apps/dyn_buffers/main/CMakeLists.txt
  components/fatfs/test_apps/dyn_buffers/main/test_fatfs_dyn_buffers.c
  components/fatfs/test_apps/dyn_buffers/pytest_fatfs_dyn_buffers.py
  components/fatfs/vfs/vfs_fat.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt): fix A2DP stack component issues reported by AI review
  components/bt/host/bluedroid/stack/a2dp/a2d_api.c
  components/bt/host/bluedroid/stack/a2dp/a2d_sbc.c
  components/bt/host/bluedroid/stack/avct/avct_api.c
  components/bt/host/bluedroid/stack/avct/avct_ccb.c
  components/bt/host/bluedroid/stack/avct/avct_l2c.c
  components/bt/host/bluedroid/stack/avct/avct_lcb.c
  components/bt/host/bluedroid/stack/avct/avct_lcb_act.c
  components/bt/host/bluedroid/stack/avdt/avdt_ad.c
  components/bt/host/bluedroid/stack/avdt/avdt_api.c
  components/bt/host/bluedroid/stack/avdt/avdt_ccb.c
  components/bt/host/bluedroid/stack/avdt/avdt_ccb_act.c
  components/bt/host/bluedroid/stack/avdt/avdt_l2c.c
  components/bt/host/bluedroid/stack/avdt/avdt_msg.c
  components/bt/host/bluedroid/stack/avdt/avdt_scb.c
  components/bt/host/bluedroid/stack/avdt/avdt_scb_act.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt): fix A2DP bta component issues reported by AI review
  components/bt/host/bluedroid/bta/ar/bta_ar.c
  components/bt/host/bluedroid/bta/av/bta_av_aact.c
  components/bt/host/bluedroid/bta/av/bta_av_act.c
  components/bt/host/bluedroid/bta/av/bta_av_api.c
  components/bt/host/bluedroid/bta/av/bta_av_cfg.c
  components/bt/host/bluedroid/bta/av/bta_av_ci.c
  components/bt/host/bluedroid/bta/av/bta_av_main.c
  components/bt/host/bluedroid/bta/av/bta_av_sbc.c
  components/bt/host/bluedroid/bta/av/bta_av_ssm.c
  components/bt/host/bluedroid/bta/av/include/bta_av_int.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(soc): add SOC_USB_FSLS_PHY_NUM for USB-OTG targets
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Disconnect before sending WPS success event
  components/wpa_supplicant/esp_supplicant/src/esp_wps.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Address review comments on MR
  components/wpa_supplicant/esp_supplicant/src/esp_dpp.c
  components/wpa_supplicant/esp_supplicant/src/esp_hostpad_wps.c
  components/wpa_supplicant/esp_supplicant/src/esp_wps.c
  components/wpa_supplicant/esp_supplicant/src/esp_wps_i.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Address some issues in esp_supplicant WPS states
  components/wpa_supplicant/esp_supplicant/src/esp_hostpad_wps.c
  components/wpa_supplicant/esp_supplicant/src/esp_wps.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wps): harden enrollee WSC fragment handling
  components/wpa_supplicant/esp_supplicant/src/esp_wps.c
  components/wpa_supplicant/esp_supplicant/src/esp_wps_i.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wpa_supplicant): Add optimizations in fastpsk
  components/wpa_supplicant/CMakeLists.txt
  components/wpa_supplicant/esp_supplicant/src/crypto/crypto_mbedtls.c
  components/wpa_supplicant/esp_supplicant/src/crypto/fastpsk.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml
