Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

fix(wifi): fixed disable gcmp choose pairwise cipher wrong issue
  components/esp_wifi/include/esp_wifi.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(i2s): clean up DMA buffer allocation
  components/driver/deprecated/i2s_legacy.c
  components/esp_driver_i2s/i2s_common.c
  components/esp_driver_i2s/i2s_private.h
  examples/peripherals/parlio/parlio_rx/logic_analyzer/components/esp_probe/hw_impl/esp_probe_impl_parlio.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(enum): Added description for Enumeration process (Enum Driver)
  docs/_static/usb_host/stack-overview.png
  docs/conf_common.py
  docs/docs_not_updated/esp32c5.txt
  docs/docs_not_updated/esp32p4.txt
  docs/en/api-reference/peripherals/usb_host/usb_host_notes_enum.rst
  docs/en/api-reference/peripherals/usb_host/usb_host_notes_index.rst
  docs/zh_CN/api-reference/peripherals/usb_host/usb_host_notes_enum.rst
  docs/zh_CN/api-reference/peripherals/usb_host/usb_host_notes_index.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

refactor(enum): Curved out Enumeration process from Hub Driver
  components/usb/CMakeLists.txt
  components/usb/enum.c
  components/usb/hub.c
  components/usb/private_include/enum.h
  components/usb/private_include/hub.h
  components/usb/private_include/usb_private.h
  components/usb/usb_host.c
  examples/peripherals/usb/host/usb_host_lib/main/class_driver.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(adc): support ADC continuous mode on ESP32P4
  components/driver/deprecated/adc_dma_legacy.c
  components/driver/deprecated/adc_legacy.c
  components/driver/test_apps/.build-test-rules.yml
  components/driver/test_apps/legacy_adc_driver/pytest_legacy_adc.py
  components/esp_adc/CMakeLists.txt
  components/esp_adc/adc_continuous.c
  components/esp_adc/adc_continuous_internal.h
  components/esp_adc/test_apps/.build-test-rules.yml
  components/esp_adc/test_apps/adc/main/test_adc_performance.c
  components/esp_pm/linker.lf
  components/hal/adc_hal.c
  components/hal/adc_oneshot_hal.c
  components/hal/esp32/include/hal/adc_ll.h
  components/hal/esp32c6/include/hal/adc_ll.h
  components/hal/esp32h2/include/hal/adc_ll.h
  components/hal/esp32p4/include/hal/adc_ll.h
  components/hal/esp32p4/include/hal/sar_ctrl_ll.h
  components/hal/esp32s2/include/hal/adc_ll.h
  components/hal/esp32s3/include/hal/rtc_io_ll.h
  components/idf_test/include/esp32p4/idf_performance_target.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/adc_reg.h
  components/soc/esp32p4/include/soc/adc_struct.h
  components/soc/esp32p4/include/soc/clk_tree_defs.h
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/include/soc/rtc_io_periph.h
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/adc/continuous_read/README.md
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Optimize BLE stack connect callback name
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/btm/include/btm_int.h
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
  examples/bluetooth/bluedroid/ble/gatt_client/main/gattc_demo.c
  examples/bluetooth/bluedroid/ble/gatt_server/main/gatts_demo.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(802.15.4): fixed ieee802154 will sleep when only pm enabled
  components/ieee802154/driver/esp_ieee802154_dev.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(802154): log `buffer full` message in debug mode only
  components/ieee802154/driver/esp_ieee802154_debug.c
  components/ieee802154/driver/esp_ieee802154_dev.c
  components/ieee802154/driver/esp_ieee802154_frame.c
  components/ieee802154/driver/esp_ieee802154_timer.c
  components/ieee802154/private_include/esp_ieee802154_dev.h
  components/ieee802154/private_include/esp_ieee802154_util.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Fix issues in NAN datapath establishment
  components/esp_wifi/wifi_apps/src/nan_app.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(hal_utils): added float to fixed point function
  components/hal/hal_utils.c
  components/hal/include/hal/hal_utils.h
  components/hal/test_apps/hal_utils/main/CMakeLists.txt
  components/hal/test_apps/hal_utils/main/test_fmt_convert.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(isp_awb): support isp auto white balance
  components/esp_driver_isp/CMakeLists.txt
  components/esp_driver_isp/include/driver/isp.h
  components/esp_driver_isp/include/driver/isp_af.h
  components/esp_driver_isp/include/driver/isp_awb.h
  components/esp_driver_isp/include/driver/isp_types.h
  components/esp_driver_isp/include/esp_private/isp_private.h
  components/esp_driver_isp/src/isp_awb.c
  components/esp_driver_isp/test_apps/isp/main/test_isp_driver.c
  components/hal/esp32p4/include/hal/isp_ll.h
  components/hal/include/hal/isp_hal.h
  components/hal/include/hal/isp_types.h
  components/hal/isp_hal.c
  examples/peripherals/isp/auto_focus/main/isp_af_dsi_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(isp_awb): add isp awb programming guide
  components/esp_driver_isp/include/driver/isp_af.h
  components/esp_driver_isp/include/driver/isp_types.h
  components/esp_driver_isp/src/isp_awb.c
  components/esp_driver_isp/test_apps/isp/main/test_isp_driver.c
  components/hal/esp32p4/include/hal/isp_ll.h
  components/hal/include/hal/isp_hal.h
  components/hal/include/hal/isp_types.h
  components/hal/isp_hal.c
  docs/en/api-reference/peripherals/isp.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(kconfig): fixed peripheral driver kconfig inconsistencies
  components/driver/Kconfig
  components/esp_driver_dac/Kconfig
  components/esp_driver_i2s/Kconfig
  components/esp_driver_pcnt/Kconfig
  components/esp_driver_sdm/Kconfig
  components/esp_driver_tsens/Kconfig
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(isp): reverted only raw8 input limits
  components/esp_driver_isp/src/isp_core.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(isp): change isp_af_window_t to isp_window_t
  components/esp_driver_isp/include/driver/isp_af.h
  components/esp_driver_isp/src/isp_af.c
  components/hal/include/hal/isp_hal.h
  components/hal/include/hal/isp_types.h
  components/hal/isp_hal.c
  examples/peripherals/isp/auto_focus/main/isp_af_dsi_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci(pre-commit): update codespell version
  .pre-commit-config.yaml
Due: none

fix(brownout): fixed brownout isr crashing if cache disabled
  components/esp_system/port/brownout.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble_mesh): Make alarm number configurable
  components/bt/Kconfig
  components/bt/common/Kconfig.in
  components/bt/common/include/bt_user_config.h
  components/bt/common/osi/include/osi/alarm.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat: enable flash encryption support for c5
  components/bootloader_support/src/flash_encryption/flash_encrypt.c
  components/hal/esp32c5/include/hal/spi_flash_encrypted_ll.h
  components/soc/esp32c5/beta3/include/soc/soc_caps.h
  components/soc/esp32c5/mp/include/soc/soc_caps.h
  components/spi_flash/test_apps/.build-test-rules.yml
  components/spi_flash/test_apps/flash_encryption/README.md
  docs/docs_not_updated/esp32c5.txt
  docs/en/security/esp32c5_log.inc
  docs/zh_CN/security/esp32c5_log.inc
  examples/security/.build-test-rules.yml
  examples/security/flash_encryption/README.md
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(ble_mesh):Fixed a compatibility issue with the provisioner
  components/bt/esp_ble_mesh/mesh_core/provisioner_prov.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bootloader_support): Add missing c linkage to some headers
  components/bootloader_support/include/esp_app_format.h
  components/bootloader_support/private_include/bootloader_console.h
  components/bootloader_support/private_include/bootloader_init.h
  components/bootloader_support/private_include/bootloader_sha.h
  components/bootloader_support/private_include/bootloader_signature.h
  components/bootloader_support/private_include/bootloader_soc.h
  components/bootloader_support/private_include/bootloader_utility.h
  tools/ci/check_public_headers_exceptions.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_eth): Do not produce error when insufficient TX buffer size happens
  components/esp_eth/src/mac/esp_eth_mac_esp.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt): Overwrite a function in esp32c3 eco7 rom
  components/esp_rom/esp32c3/ld/esp32c3.rom.eco7.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(usb): Update USBH event callback arguments
  components/usb/private_include/usbh.h
  components/usb/usb_host.c
  components/usb/usbh.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(usb): Remove USBH control transfer callback
  components/usb/private_include/usbh.h
  components/usb/usb_host.c
  components/usb/usbh.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(usb_host): Added chapter11 header, refactor chapter9 header
  components/usb/include/usb/usb_helpers.h
  components/usb/include/usb/usb_types_ch11.h
  components/usb/include/usb/usb_types_ch9.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(usb/host): Add missing sync types from USB specification
  components/usb/include/usb/usb_types_ch9.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(usb_host): Added KConfig parameter for External HUB support enable
  components/usb/Kconfig
  components/usb/include/usb/usb_helpers.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(usb_host): Renamed hub_driver_state to root_port_state
  components/usb/hub.c
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(hcd_dwc): Added mps request from hcd_dwc
  components/usb/hcd_dwc.c
  components/usb/private_include/hcd.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(usb/host): Simplify USBH and Hub interaction
  components/usb/hub.c
  components/usb/private_include/hub.h
  components/usb/private_include/usbh.h
  components/usb/usb_host.c
  components/usb/usbh.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(usb/host): Refactor USBH function grouping
  components/usb/private_include/usbh.h
  components/usb/usbh.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
