Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml

fix(esp_wifi): Correct igtk key installation in ft
  components/wpa_supplicant/src/rsn_supp/wpa_ft.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_crt_bundle): fixes a potential memory leak with cross signed certificates
  components/mbedtls/esp_crt_bundle/esp_crt_bundle.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(http_request): shifts to HTTP/1.1 in example pytest
  examples/protocols/http_request/pytest_http_request.py
Due: none

fix(esp_crt_bundle): fixes verification with cross signed cert
  components/mbedtls/esp_crt_bundle/esp_crt_bundle.c
  components/mbedtls/test_apps/mbedtls_ut/main/crts/prvtkey.pem
  components/mbedtls/test_apps/mbedtls_ut/main/crts/server_cert_bundle
  components/mbedtls/test_apps/mbedtls_ut/main/crts/server_cert_chain.pem
  components/mbedtls/test_apps/mbedtls_ut/main/crts/server_root.pem
  components/mbedtls/test_apps/mbedtls_ut/main/test_esp_crt_bundle.c
  components/mbedtls/test_apps/mbedtls_ut/pytest_mbedtls_ut.py
  components/mbedtls/test_apps/mbedtls_ut/sdkconfig.ci.cross_signed
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): update ble power save sdkconfig on ESP32-H21
  examples/bluetooth/nimble/power_save/README.md
  examples/bluetooth/nimble/power_save/sdkconfig.32m.esp32h21
Due: check_readme_links

fix(ble): use default frequency for ble power save example
  examples/bluetooth/nimble/power_save/main/Kconfig.projbuild
  examples/bluetooth/nimble/power_save/main/main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full

feat(ble): update ble power save sdkconfig on ESP32-S31
  examples/bluetooth/nimble/power_save/sdkconfig.40m.esp32c61
  examples/bluetooth/nimble/power_save/sdkconfig.defaults.esp32c61
Due: none

feat(ble): update ble power save sdkconfig on ESP32-c5
  examples/bluetooth/nimble/power_save/sdkconfig.48m.esp32c5
  examples/bluetooth/nimble/power_save/sdkconfig.defaults.esp32c5
Due: none

feat(ble): update ble power save sdkconfig on ESP32-H4
  examples/bluetooth/nimble/power_save/sdkconfig.32m.esp32h4
  examples/bluetooth/nimble/power_save/sdkconfig.defaults.esp32h4
Due: none

feat(ble): update ble power save sdkconfig on ESP32-S31
  examples/bluetooth/nimble/power_save/sdkconfig.40m.esp32s31
  examples/bluetooth/nimble/power_save/sdkconfig.defaults.esp32s31
Due: none

doc(lcd_cam): added pclk suggested value for lcd and dvp
  docs/en/api-reference/peripherals/camera_driver.rst
  docs/en/api-reference/peripherals/lcd/i80_lcd.rst
  docs/en/api-reference/peripherals/lcd/rgb_lcd.rst
  docs/zh_CN/api-reference/peripherals/camera_driver.rst
  docs/zh_CN/api-reference/peripherals/lcd/i80_lcd.rst
  docs/zh_CN/api-reference/peripherals/lcd/rgb_lcd.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

fix(cache): fixed cache error not working on H4
  components/hal/esp32h4/include/hal/cache_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Revert "fix(freertos): close vTaskDeleteWithCaps cross-core delete race on SMP preview kernel"
  components/freertos/esp_additions/idf_additions.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(isp): enable esp32p4_rev1 unit test
  components/esp_driver_isp/test_apps/isp/pytest_isp.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(isp): fix ccm test case for esp32p4-rev1
  components/esp_driver_isp/test_apps/isp/main/test_isp_driver.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_system): add esp_sys_event framework
  components/esp_system/CMakeLists.txt
  components/esp_system/esp_sys_event.c
  components/esp_system/esp_system.c
  components/esp_system/include/esp_private/esp_sys_event.h
  components/esp_system/include/esp_private/esp_sys_event_internal.h
  components/esp_system/include/esp_private/esp_sys_event_system_init.h
  components/esp_system/include/esp_private/startup_internal.h
  components/esp_system/include/esp_sys_event_list.inc
  components/esp_system/include/esp_system.h
  components/esp_system/ld/esp32/sections.ld.in
  components/esp_system/ld/esp32s2/sections.ld.in
  components/esp_system/ld/esp32s3/sections.ld.in
  components/esp_system/ld/ld.flash.sections
  components/esp_system/ld/linux/sections.ld
  components/esp_system/linker.lf
  components/esp_system/startup.c
  components/esp_system/test_apps/.build-test-rules.yml
  components/esp_system/test_apps/esp_sys_event/CMakeLists.txt
  components/esp_system/test_apps/esp_sys_event/README.md
  components/esp_system/test_apps/esp_sys_event/main/CMakeLists.txt
  components/esp_system/test_apps/esp_sys_event/main/test_app_main.c
  components/esp_system/test_apps/esp_sys_event/main/test_esp_sys_event.c
  components/esp_system/test_apps/esp_sys_event/pytest_esp_sys_event.py
  components/esp_system/test_apps/esp_sys_event/sdkconfig.defaults
  components/esp_system/test_apps/linux_apis/main/esp_system_test.c
  components/esp_system/test_apps/sys_init_fn/main/test_init_fn_defs.c
  components/esp_timer/src/system_time.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): optimize pmu param for h21
  components/esp_hw_support/port/esp32h21/private_include/pmu_param.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): optimize active clk power for h21
  components/esp_hal_clock/esp32h21/include/hal/clk_gate_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): use xtalx2 in retention for h21
  components/esp_hw_support/port/esp32h21/pmu_param.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(i2s): add note for the restriction of MCLK on esp32
  components/esp_driver_i2s/i2s_common.c
  docs/en/api-reference/peripherals/i2s.rst
  docs/zh_CN/api-reference/peripherals/i2s.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

test(pcnt): fix test failure on s31 after AXI raise to 106M
  components/esp_driver_pcnt/test_apps/pulse_cnt/main/test_pulse_cnt_board.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(ble_log): move spi tx callback to flash when spi isr in iram disabled
  components/bt/common/ble_log/src/prph/ble_log_prph_spi_master_dma.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(ble_log): reverted default ble log buffer size to 2048 bytes
  components/bt/common/ble_log/Kconfig.in
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

feat(ble_iso): Minor update for some ISO internal functions
  components/bt/esp_ble_iso/host/adapter/bluedroid/gap.c
  components/bt/esp_ble_iso/host/adapter/bluedroid/include/bluedroid/gap.h
  components/bt/esp_ble_iso/host/adapter/bluedroid/include/bluedroid/iso.h
  components/bt/esp_ble_iso/host/adapter/bluedroid/iso.c
  components/bt/esp_ble_iso/host/adapter/nimble/gap.c
  components/bt/esp_ble_iso/host/adapter/nimble/include/nimble/gap.h
  components/bt/esp_ble_iso/host/adapter/nimble/include/nimble/iso.h
  components/bt/esp_ble_iso/host/adapter/nimble/iso.c
  components/bt/esp_ble_iso/host/common/hci.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(async_crc): limit the blocking API only accept infinite timeout
  components/esp_driver_dma/include/esp_async_crc.h
  components/esp_driver_dma/src/async_crc_gdma.c
  components/esp_driver_dma/src/esp_async_crc.c
  docs/en/api-reference/peripherals/async_crc.rst
  docs/zh_CN/api-reference/peripherals/async_crc.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline
