Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml

fix(bt/bluedroid): prefer disconnected peers when evicting overflow bonds
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/btc/core/btc_ble_storage.c
  components/bt/host/bluedroid/btc/core/btc_storage.c
  components/bt/host/bluedroid/btc/include/btc/btc_ble_storage.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(doc): fix uart output handling doc format
  docs/en/api-reference/system/sleep_modes.rst
  docs/zh_CN/api-reference/system/sleep_modes.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

fix(esp_crt_bundle): match memory allocator in cross-signed callback
  components/mbedtls/esp_crt_bundle/esp_crt_bundle.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ieee802154): fix teardown order
  components/ieee802154/esp_ieee802154.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(coex): support phy grant protect
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_rom/esp32c5/ld/esp32c5.rom.coexist.ld
  components/esp_rom/esp32c5/ld/esp32c5.rom.eco3.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.coexist.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.coexist.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.eco4.ld
  components/esp_rom/esp32s31/ld/esp32s31.rom.coexist.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

docs: Update idf-monitor fast reflash shortcut documentation
  docs/en/api-guides/tools/idf-monitor.rst
  docs/zh_CN/api-guides/tools/idf-monitor.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

fix(nimble): Fix for BLERP attack
  components/bt/host/nimble/Kconfig.in
  components/bt/host/nimble/port/include/esp_nimble_cfg.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): wait DS/ECDSA idle before restore its PCR on wakeup
  components/esp_hw_support/lowpower/port/esp32c6/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32c61/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32h2/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32h21/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32p4/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32s31/sleep_clock.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): ungate security clock in retention since ds/ecdsa auto working after PU
  components/esp_hw_support/lowpower/port/esp32h21/sleep_clock_icg.c
  components/esp_hw_support/lowpower/port/esp32s31/sleep_clock_icg.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(phy): log PLL tracking results
  components/esp_phy/src/phy_common.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): fixed OOB read dring mSBC sync word check
  components/bt/host/bluedroid/btc/profile/std/hf_ag/bta_ag_co.c
  components/bt/host/bluedroid/btc/profile/std/hf_client/bta_hf_client_co.c
  components/bt/host/bluedroid/stack/btm/btm_sco.c
Due: gen_integration_pipeline, child_integration_test_pipeline

test(touch): Add touch sensor deep sleep wake-up ci test
  components/esp_driver_touch_sens/test_apps/touch_sens/main/test_helper.h
  components/esp_driver_touch_sens/test_apps/touch_sens/main/test_touch_sens_common.cpp
  components/esp_driver_touch_sens/test_apps/touch_sens/pytest_touch_sens.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

esp_phy: move used time tracking to debug module
  components/esp_phy/CMakeLists.txt
  components/esp_phy/include/esp_private/phy_debug.h
  components/esp_phy/src/phy_debug.c
  components/esp_phy/src/phy_init.c
  components/esp_phy/src/phy_init_esp32hxx.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(i2c): fixed potential multi-core race in I2C read
  components/esp_driver_i2c/i2c_master.c
Due: gen_integration_pipeline, child_integration_test_pipeline

test(sysview_tracing): validate TRACE_STOP per core
  conftest.py
  examples/system/tracing/sysview_tracing/pytest_sysview_tracing.py
Due: none

fix(esp_trace): send trace data over usb-serial-jtag reliably
  components/app_trace/app_trace_membufs_proto.c
  components/esp_trace/adapters/transport/adapter_transport_usb_serial_jtag.c
  components/esp_trace/include/esp_trace_util.h
  components/esp_trace/src/ports/port_utils.c
  examples/system/tracing/esp_trace_custom_library/components/ext_trace_lib/include/trace_FreeRTOS.h
  examples/system/tracing/esp_trace_custom_library/components/ext_trace_lib/src/adapter_encoder_ext_trace_lib.c
  examples/system/tracing/esp_trace_custom_library/components/ext_trace_lib/src/trace_FreeRTOS.c
  examples/system/tracing/esp_trace_custom_library/main/app_main.c
  examples/system/tracing/esp_trace_custom_library/pytest_esp_trace_custom_library.py
  examples/system/tracing/sysview_tracing/pytest_sysview_tracing.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_trace): increase usj tx buffer size in both examples
  components/esp_trace/Kconfig
  examples/system/tracing/esp_trace_custom_library/sdkconfig.defaults
  examples/system/tracing/sysview_tracing/sdkconfig.ci.sysview_usj
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_system): break into the debugger only on the first panic entry
  components/esp_system/panic.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mcpwm): correct the wrong capture prescale
  components/esp_driver_mcpwm/include/driver/mcpwm_cap.h
  components/esp_driver_mcpwm/src/mcpwm_cap.c
  components/esp_driver_mcpwm/test_apps/mcpwm/main/test_mcpwm_cap.c
  components/esp_hal_mcpwm/esp32/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32c5/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32c6/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32h2/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32h21/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32h4/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32p4/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32s3/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32s31/include/hal/mcpwm_ll.h
  docs/_static/mcpwm/capture_prescale_both.svg
  docs/_static/mcpwm/capture_prescale_falling.svg
  docs/_static/mcpwm/capture_prescale_rising.svg
  docs/en/api-reference/peripherals/mcpwm.rst
  docs/zh_CN/api-reference/peripherals/mcpwm.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(mcpwm): correct the wrong capture prescale
  components/esp_driver_mcpwm/include/driver/mcpwm_cap.h
  components/esp_driver_mcpwm/src/mcpwm_cap.c
  components/esp_driver_mcpwm/test_apps/mcpwm/main/test_mcpwm_cap.c
  components/esp_hal_mcpwm/esp32/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32c5/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32c6/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32h2/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32h4/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32p4/include/hal/mcpwm_ll.h
  components/esp_hal_mcpwm/esp32s3/include/hal/mcpwm_ll.h
  docs/_static/mcpwm/capture_prescale_both.svg
  docs/_static/mcpwm/capture_prescale_falling.svg
  docs/_static/mcpwm/capture_prescale_rising.svg
  docs/en/api-reference/peripherals/mcpwm.rst
  docs/zh_CN/api-reference/peripherals/mcpwm.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(mcpwm): correct the wrong capture prescale
  components/esp_driver_mcpwm/include/driver/mcpwm_cap.h
  components/esp_driver_mcpwm/src/mcpwm_cap.c
  components/esp_driver_mcpwm/test_apps/mcpwm/main/test_mcpwm_cap.c
  components/hal/esp32/include/hal/mcpwm_ll.h
  components/hal/esp32c5/include/hal/mcpwm_ll.h
  components/hal/esp32c6/include/hal/mcpwm_ll.h
  components/hal/esp32h2/include/hal/mcpwm_ll.h
  components/hal/esp32p4/include/hal/mcpwm_ll.h
  components/hal/esp32s3/include/hal/mcpwm_ll.h
  docs/_static/mcpwm/capture_prescale_both.svg
  docs/_static/mcpwm/capture_prescale_falling.svg
  docs/_static/mcpwm/capture_prescale_rising.svg
  docs/en/api-reference/peripherals/mcpwm.rst
  docs/zh_CN/api-reference/peripherals/mcpwm.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): use pointer-width types for dynamic buffer msg offsets
  components/mbedtls/port/dynamic/esp_mbedtls_dynamic_impl.c
Due: gen_integration_pipeline, child_integration_test_pipeline

test(mbedtls): add test for unaligned multipart AES-GCM streaming
  components/mbedtls/test_apps/mbedtls_ut/main/test_psa_aes_gcm.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): preserve AES-GCM stream state across multipart updates
  components/mbedtls/port/aes/esp_aes_gcm.c
  components/mbedtls/port/include/aes/esp_aes_gcm.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): bound public-key coordinate copy in esp ecp_check_pubkey
  components/mbedtls/port/ecc/ecc_alt.c
Due: gen_integration_pipeline, child_integration_test_pipeline
