Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*

docs: Provide CN translation for wear-levelling.rst
  docs/en/api-reference/storage/wear-levelling.rst
  docs/zh_CN/api-reference/storage/fatfs.rst
  docs/zh_CN/api-reference/storage/wear-levelling.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(fatfs): Move mentioned APIs to a separate API reference section
  components/fatfs/vfs/esp_vfs_fat.h
  docs/en/api-reference/storage/fatfs.rst
  docs/en/api-reference/storage/wear-levelling.rst
  docs/sphinx-known-warnings.txt
  docs/zh_CN/api-reference/storage/fatfs.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(tools): idf_monitor: support for loadable hint provider modules
  tools/idf_py_actions/tools.py
Due: none

feat(tools): idf.py: implement hints for component reqs
  tools/idf_py_actions/hint_modules/component_requirements.py
Due: none

ci(tools): add tests for component_requirements.py hints module
  tools/test_idf_py/test_hints.py
Due: none

ci(tools): fix test_hints.py to run on windows
  tools/test_idf_py/test_hints.py
Due: none

feat(tools): add global build context
  tools/idf_py_actions/tools.py
Due: none

docs: add release notes to versions
  docs/_static/js/version_table.js
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(twai): Add twai linker.lf to control the placement of driver and hal
  components/driver/CMakeLists.txt
  components/driver/twai/linker.lf
  components/driver/twai/twai.c
  components/hal/linker.lf
Due: none

fix(i80_lcd): reset cs gpio on exit
  components/esp_lcd/src/esp_lcd_panel_io_i2s.c
  components/esp_lcd/src/esp_lcd_panel_io_i80.c
Due: none

change(esp_hw_support): improve ESP_SLEEP_PSRAM/FLASH_LEAKAGE_WORKAROUND help doc in Kconfig
  components/esp_hw_support/Kconfig
Due: build_docs_html_partial

docs: Provide CN translation for contribute/copyright-guide and install-pre-commit-hook
  docs/en/contribute/copyright-guide.rst
  docs/en/contribute/install-pre-commit-hook.rst
  docs/zh_CN/contribute/copyright-guide.rst
  docs/zh_CN/contribute/install-pre-commit-hook.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: organize header files of Bluetooth Controller
  docs/doxygen/Doxyfile
  docs/doxygen/Doxyfile_esp32
  docs/doxygen/Doxyfile_esp32c2
  docs/doxygen/Doxyfile_esp32c3
  docs/doxygen/Doxyfile_esp32c6
  docs/doxygen/Doxyfile_esp32h2
  docs/doxygen/Doxyfile_esp32s3
  docs/en/api-reference/bluetooth/controller_vhci.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(tools): check_python_version accept dev releases as requirement
  tools/check_python_dependencies.py
  tools/test_idf_tools/test_idf_tools_python_env.py
Due: none

bugfix(temperature_sensor): Fix issue that get the value is negative
  components/driver/esp32c3/rtc_tempsensor.c
  components/driver/esp32s2/rtc_tempsensor.c
Due: none

bugfix(temperature_sensor): Fix issue that get the value is negative
  components/driver/deprecated/rtc_temperature_legacy.c
  components/driver/temperature_sensor.c
Due: none

fix(tools): Keep the original Python environment when idf_tools.py tests are run
  tools/test_idf_tools/test_idf_tools_python_env.py
Due: none

fix(tools): idf_tools.py tests should keep the original constraint file
  tools/test_idf_tools/test_idf_tools_python_env.py
Due: none

fix(tools): Increase timeout in idf_tools.py Python tests
  tools/test_idf_tools/test_idf_tools_python_env.py
Due: none

feat(mesh): Add support for Duplicate Exception list update VSC for Nimble
  components/bt/esp_ble_mesh/Kconfig.in
  components/bt/esp_ble_mesh/mesh_core/nimble_host/mesh_bearer_adapt.c
  components/bt/porting/nimble/include/nimble/hci_common.h
Due: build_docs_html_partial

fix(mpi): fixed missing include in mpi_ll.h for P4
  components/hal/esp32p4/include/hal/mpi_ll.h
Due: build_docs_html_partial

examples: system/deep_sleep 1. Fix EXT0 wakeup pin error on ESP32: GPIO3 is not a RTC IO, change to use GPIO25. 2. Add ESP_ERROR_CHECK to explicitly show the runtime error 3. Improve example README
  examples/system/deep_sleep/README.md
  examples/system/deep_sleep/main/Kconfig.projbuild
  examples/system/deep_sleep/main/deep_sleep_example_main.c
Due: check_readme_links

gpio: Fix IO hold function related problems 1. Fix deep sleep wakeup IOs can not be unhold issue 2. Correct hold related APIs' description 3. Fix gpio_force_hold_all API
  components/driver/gpio.c
  components/driver/include/driver/gpio.h
  components/driver/include/driver/rtc_io.h
  components/esp_system/include/esp_sleep.h
  components/esp_system/port/cpu_start.c
  components/esp_system/sleep_modes.c
  components/hal/esp32/include/hal/rtc_cntl_ll.h
  components/hal/esp32/include/hal/rtc_io_ll.h
  components/hal/esp32c3/include/hal/gpio_ll.h
  components/hal/esp32c3/include/hal/rtc_cntl_ll.h
  components/hal/esp32s2/include/hal/rtc_cntl_ll.h
  components/hal/esp32s2/include/hal/rtc_io_ll.h
  components/hal/esp32s3/include/hal/rtc_cntl_ll.h
  components/hal/esp32s3/include/hal/rtc_io_ll.h
  components/hal/include/hal/gpio_hal.h
  components/hal/include/hal/rtc_hal.h
  components/hal/include/hal/rtc_io_hal.h
  components/soc/esp32s3/include/soc/rtc_gpio_channel.h
  docs/en/api-reference/system/sleep_modes.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

rtcio: Add a test case to test RTCIO's hold ability after deep sleep wakeup
  components/driver/test/test_rtcio.c
Due: none

fix(gptimer): hal function placement under wrong condition
  components/driver/Kconfig
  components/driver/gptimer/Kconfig.gptimer
  components/driver/gptimer/gptimer.c
  components/driver/gptimer/linker.lf
  docs/en/api-reference/peripherals/gptimer.rst
  docs/zh_CN/api-reference/peripherals/gptimer.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(driver): updated drivers to use CreateWithCaps() API
  components/driver/dac/dac_continuous.c
  components/driver/i2c/i2c.c
  components/driver/i2s/i2s_common.c
  components/driver/i2s/i2s_private.h
  components/driver/parlio/parlio_tx.c
  components/driver/rmt/rmt_private.h
  components/driver/rmt/rmt_tx.c
  components/driver/twai/twai.c
  components/driver/uart/uart.c
Due: build_docs_html_partial

fix: Fixed wrong filename in ota example readme
  examples/system/ota/README.md
  examples/system/ota/simple_ota_example/pytest_simple_ota.py
Due: check_readme_links

feat(mbedtls): support ecp fixed-point multiplication configurable
  components/mbedtls/Kconfig
  components/mbedtls/port/include/mbedtls/esp_config.h
Due: build_docs_html_partial

docs: add new mbedtls configuration option in optimize size
  docs/en/api-guides/performance/size.rst
  docs/zh_CN/api-guides/performance/size.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

ble: move phy enabled/disable to controller enable/disable
  components/bt/controller/esp32c2/Kconfig.in
  components/bt/controller/esp32c2/bt.c
Due: build_docs_html_partial

docs: fix typos in esp_adc/include/esp_adc/adc_continuous.h
  components/esp_adc/include/esp_adc/adc_continuous.h
Due: build_docs_html_partial

fix(build_system): Allow dots in the name of an app binary
  tools/cmake/build.cmake
Due: none

fix(lp_i2c): Fixed a bug where the LP_I2C did not send NACK for 16-byte reads
  components/hal/esp32c6/include/hal/i2c_ll.h
  components/ulp/lp_core/lp_core_i2c.c
Due: build_docs_html_partial

fix(lp_i2c): Fixed incorrect clock setting for LP_I2C
  components/ulp/lp_core/lp_core_i2c.c
Due: none

fix(lp_i2c): Fixed a bug where LP I2C write got stuck
  components/ulp/lp_core/lp_core/lp_core_i2c.c
Due: none

feat: Drop Python 3.7 support
  .gitlab-ci.yml
  .pre-commit-config.yaml
  docs/en/api-guides/build-system.rst
  docs/en/api-guides/tools/idf-docker-image.rst
  docs/en/contribute/install-pre-commit-hook.rst
  docs/en/get-started/start-project.rst
  docs/zh_CN/api-guides/build-system.rst
  docs/zh_CN/api-guides/tools/idf-docker-image.rst
  docs/zh_CN/contribute/install-pre-commit-hook.rst
  docs/zh_CN/get-started/start-project.rst
  tools/detect_python.fish
  tools/detect_python.sh
  tools/python_version_checker.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview
