Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml

feat(esp32c6): auto adjust LDO voltage using pvt function
  components/esp_hw_support/port/esp32c6/CMakeLists.txt
  components/esp_hw_support/port/esp32c6/include/soc/rtc.h
  components/esp_hw_support/port/esp32c6/pmu_init.c
  components/esp_hw_support/port/esp32c6/pmu_param.c
  components/esp_hw_support/port/esp32c6/pmu_pvt.c
  components/esp_hw_support/port/esp32c6/pmu_sleep.c
  components/esp_hw_support/port/esp32c6/private_include/pmu_param.h
  components/esp_hw_support/port/esp32c6/rtc_clk.c
  components/esp_hw_support/port/esp32c6/rtc_clk_init.c
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/pvt_reg.h
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/system_periph_retention.h
  components/soc/esp32c6/system_retention_periph.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Fix VLA in a2dp_gatts_coex example
  examples/bluetooth/bluedroid/coex/a2dp_gatts_coex/main/main.c
Due: none

fix(ble/bluedroid): Fix potential CVE-2020-0022 in reassemble_and_dispatch
  components/bt/host/bluedroid/hci/packet_fragmenter.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Fix potential CVE-2024-0039 out-of-bounds write in attp_build_value_cmd
  components/bt/host/bluedroid/stack/gatt/att_protocol.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Fix potential out-of-bounds issue
  components/bt/host/bluedroid/bta/gatt/bta_gatts_api.c
  components/bt/host/bluedroid/bta/hd/bta_hd_api.c
  components/bt/host/bluedroid/bta/hh/bta_hh_utils.c
  components/bt/host/bluedroid/hci/hci_hal_h4.c
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(fatfs): In vfs_fat_* calls, add _lock_acquire in missing places
  components/fatfs/vfs/vfs_fat.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt/blurdoird): fixed an OOB write in bta_dm_sdp_result
  components/bt/common/include/bt_common.h
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(sdmmc): support multi-block read/writes
  components/sdmmc/Kconfig
  components/sdmmc/include/sd_protocol_types.h
  components/sdmmc/sdmmc_cmd.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix : apply the suggestion from doc team
  docs/en/security/flash-encryption.rst
  docs/en/security/security-features-enablement-workflows.rst
  docs/zh_CN/security/flash-encryption.rst
  docs/zh_CN/security/security-features-enablement-workflows.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

docs: fix some description in security guide docs
  docs/en/security/flash-encryption.rst
  docs/en/security/security-features-enablement-workflows.rst
  docs/en/security/security.rst
  docs/zh_CN/security/flash-encryption.rst
  docs/zh_CN/security/secure-boot-v2.rst
  docs/zh_CN/security/security-features-enablement-workflows.rst
  docs/zh_CN/security/security.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

docs: implement comments
  docs/en/security/security-features-enablement-workflows.rst
  docs/zh_CN/security/security-features-enablement-workflows.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview

fix(adc): fix wrong adc periph num on C2/P4
  components/soc/esp32c2/include/soc/adc_channel.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

dma: fixed issue that DMA are not reset when CPU reset
  components/esp_system/port/soc/esp32/system_internal.c
  components/esp_system/port/soc/esp32c6/system_internal.c
  components/esp_system/port/soc/esp32h2/system_internal.c
  components/esp_system/port/soc/esp32s3/system_internal.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(i2s): fix the auto port failure when use simplex on ESP32
  components/esp_driver_i2s/i2s_common.c
  components/esp_driver_i2s/i2s_private.h
  components/esp_driver_i2s/i2s_std.c
  components/esp_driver_i2s/i2s_tdm.c
  components/esp_driver_i2s/test_apps/i2s/main/test_i2s.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble_mesh): add proper memory cleanup in composition data parsing
  examples/bluetooth/esp_ble_mesh/remote_provisioning/rpr_client/main/main.c
Due: none

fix(i2s): fix the auto port failure when use simplex on ESP32
  components/driver/i2s/i2s_common.c
  components/driver/i2s/i2s_private.h
  components/driver/i2s/i2s_std.c
  components/driver/i2s/i2s_tdm.c
  components/driver/test_apps/i2s_test_apps/i2s/main/test_i2s.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(tools): test_idf_tools.py ruff changes
  tools/test_idf_tools/test_idf_tools.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(tools): Updated ccache 4.11.2 -> 4.12.1
  tools/test_idf_tools/test_idf_tools.py
  tools/tools.json
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(parlio_rx): refactor to support unaligned user payload buffer
  components/esp_driver_parlio/include/driver/parlio_rx.h
  components/esp_driver_parlio/linker.lf
  components/esp_driver_parlio/src/parlio_rx.c
  components/esp_driver_parlio/src/parlio_tx.c
  components/esp_driver_parlio/test_apps/parlio/main/test_parlio_rx.c
  components/esp_hw_support/dma/esp_dma_utils.c
  components/esp_hw_support/dma/gdma_link.c
  components/esp_hw_support/dma/include/esp_private/gdma_link.h
  components/esp_lcd/rgb/esp_lcd_panel_rgb.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(pm): updated i2s pm lock type in DFS
  components/esp_driver_touch_sens/common/touch_sens_common.c
  docs/en/api-reference/system/power_management.rst
  docs/zh_CN/api-reference/system/power_management.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(i2s): fixed divide-by-zero coverity issue
  components/esp_driver_i2s/i2s_common.c
  components/esp_driver_i2s/i2s_pdm.c
  components/esp_driver_i2s/i2s_std.c
  components/esp_driver_i2s/i2s_tdm.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(touch): make the gpio init symmetric
  components/esp_driver_touch_sens/common/touch_sens_common.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(parlio_rx): support to force trigger eof
  components/esp_driver_parlio/include/esp_private/parlio_rx_private.h
  components/esp_driver_parlio/src/parlio_rx.c
  components/esp_driver_parlio/test_apps/parlio/main/test_parlio_rx.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(parlio_rx): support to receive data into external ram
  components/esp_driver_parlio/src/parlio_rx.c
  components/esp_driver_parlio/test_apps/parlio/main/test_parlio_rx.c
Due: gen_integration_pipeline, child_integration_test_pipeline

test(parlio): fix sleep test issue
  components/esp_driver_parlio/include/esp_private/parlio_rx_private.h
  components/esp_driver_parlio/include/esp_private/parlio_tx_private.h
  components/esp_driver_parlio/src/parlio_rx.c
  components/esp_driver_parlio/test_apps/parlio/main/test_parlio_rx.c
  components/esp_driver_parlio/test_apps/parlio/main/test_parlio_sleep.c
  components/esp_lcd/parl/esp_lcd_panel_io_parl.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
