Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

fix(esp_wifi): Enable EAP workarounds by default
  components/wpa_supplicant/esp_supplicant/src/esp_eap_client.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Address few coverity reported issues
  components/bt/common/osi/pkt_queue.c
  components/wifi_provisioning/src/scheme_ble.c
Due: gen_integration_pipeline, child_integration_test_pipeline

Update slave.c to fix the mode
  examples/protocols/modbus/serial/mb_slave/main/slave.c
Due: none

fix(modbus): Fix the mode setup in modbus slave
  examples/protocols/modbus/serial/mb_slave/main/slave.c
Due: none

fix(newlib): usleep returning early
  components/newlib/src/time.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(twai): TWAI_GENERAL_CONFIG_DEFAULT_V2 initialize general_flags
  components/driver/twai/include/driver/twai.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): wait pll calibration done in regdma link instead of wait fixed value
  components/esp_hw_support/lowpower/port/esp32c5/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32c6/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32c61/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32h2/sleep_clock.c
  components/esp_hw_support/lowpower/port/esp32p4/sleep_clock.c
  components/esp_hw_support/port/esp32c5/private_include/pmu_param.h
  components/esp_hw_support/port/esp32c6/private_include/pmu_param.h
  components/esp_hw_support/port/esp32c61/private_include/pmu_param.h
  components/esp_hw_support/port/esp32h2/private_include/pmu_param.h
  components/esp_hw_support/port/esp32p4/private_include/pmu_param.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): switch to sleep_flags earlier to identify sleep state
  components/esp_hw_support/include/esp_private/esp_pmu.h
  components/esp_hw_support/port/esp32c5/pmu_sleep.c
  components/esp_hw_support/port/esp32c5/private_include/pmu_param.h
  components/esp_hw_support/port/esp32c6/pmu_sleep.c
  components/esp_hw_support/port/esp32c6/private_include/pmu_param.h
  components/esp_hw_support/port/esp32c61/pmu_sleep.c
  components/esp_hw_support/port/esp32c61/private_include/pmu_param.h
  components/esp_hw_support/port/esp32h2/pmu_sleep.c
  components/esp_hw_support/port/esp32h2/private_include/pmu_param.h
  components/esp_hw_support/port/esp32p4/pmu_sleep.c
  components/esp_hw_support/port/esp32p4/private_include/pmu_param.h
  components/esp_hw_support/sleep_modes.c
  components/esp_pm/linker.lf
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix lp/hp clock wait time calculation
  components/esp_hw_support/port/esp32c5/pmu_sleep.c
  components/esp_hw_support/port/esp32c6/pmu_sleep.c
  components/esp_hw_support/port/esp32c61/pmu_sleep.c
  components/esp_hw_support/port/esp32h2/pmu_sleep.c
  components/esp_hw_support/port/esp32p4/pmu_sleep.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(15.4): support setting 15.4 txrx pti when coex is enabled
  components/esp_coex/include/esp_coex_i154.h
  components/ieee802154/CMakeLists.txt
  components/ieee802154/driver/esp_ieee802154_util.c
  components/ieee802154/esp_ieee802154.c
  components/ieee802154/include/esp_ieee802154.h
  components/ieee802154/private_include/esp_ieee802154_util.h
  components/openthread/CMakeLists.txt
  components/openthread/private_include/esp_openthread_ncp.h
  components/openthread/private_include/esp_openthread_radio.h
  components/openthread/private_include/openthread-core-esp32x-ftd-config.h
  components/openthread/private_include/openthread-core-esp32x-spinel-config.h
  components/openthread/src/ncp/esp_openthread_ncp.cpp
  components/openthread/src/port/esp_openthread_radio.c
  components/openthread/src/port/esp_openthread_radio_spinel.cpp
  components/openthread/src/port/esp_openthread_state.c
  examples/openthread/ot_cli/sdkconfig.ci.ext_coex
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(openthread): fix a naming error of kconfig
  components/openthread/Kconfig
  examples/openthread/ot_br/sdkconfig.ci.spiram
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(openthread): fix openthread radio spinel deinit
  components/esp_coex/include/esp_coexist.h
  components/esp_coex/src/coexist.c
  components/openthread/src/port/esp_openthread_radio_spinel.cpp
  examples/openthread/.build-test-rules.yml
  examples/openthread/ot_br/sdkconfig.ci.ext_coex
  examples/openthread/ot_br/sdkconfig.ci.native_radio
  examples/openthread/ot_rcp/sdkconfig.ci.ext_coex
  examples/openthread/ot_trel/CMakeLists.txt
  examples/openthread/ot_trel/sdkconfig.defaults
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ldo): support output rail voltage (3.3V)
  components/esp_hw_support/ldo/esp_ldo_regulator.c
  components/esp_hw_support/ldo/include/esp_ldo_regulator.h
  components/esp_hw_support/test_apps/esp_hw_support_unity_tests/main/test_ldo.c
  components/hal/esp32p4/include/hal/ldo_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(adc): support ADC calibration on ESP32P4
  components/bootloader_support/src/bootloader_random_esp32p4.c
  components/driver/test_apps/.build-test-rules.yml
  components/driver/test_apps/legacy_adc_driver/main/test_legacy_adc.c
  components/driver/test_apps/legacy_adc_driver/pytest_legacy_adc.py
  components/efuse/esp32p4/esp_efuse_rtc_calib.c
  components/efuse/esp32p4/include/esp_efuse_rtc_calib.h
  components/esp_adc/esp32p4/curve_fitting_coefficients.c
  components/esp_adc/esp32p4/include/adc_cali_schemes.h
  components/esp_adc/test_apps/adc/main/test_common_adc.h
  components/hal/esp32p4/include/hal/adc_ll.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/regi2c_saradc.h
  components/soc/esp32p4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/blufi): Fixed blufi example security issue
  components/bt/common/btc/profile/esp/blufi/blufi_prf.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(ble/bluedroid): Optimize doc for registering BLE callback functions
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/api/include/api/esp_gattc_api.h
  components/bt/host/bluedroid/api/include/api/esp_gatts_api.h
  examples/bluetooth/bluedroid/ble/gatt_client/main/gattc_demo.c
  examples/bluetooth/bluedroid/ble/gatt_server/main/gatts_demo.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(ble/bluedroid): Added BLE log when bond info was deleted
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
  components/bt/host/bluedroid/btc/core/btc_dm.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Fixed BLE feature selection configuration
  components/bt/host/bluedroid/Kconfig.in
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(tests): add paragraph linking to gh-esp-test-template project
  docs/en/api-guides/unit-tests.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(adc): add ADC calibration docs on ESP32P4
  docs/docs_not_updated/esp32p4.txt
  docs/en/api-reference/peripherals/adc_calibration.rst
  docs/zh_CN/api-reference/peripherals/adc_calibration.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(esp_hw_support): fix esp32c5 and esp32c61 wakeup failed when TOP rejects PD
  components/esp_hw_support/sleep_gpio.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(uart): fix esp32c61 light sleep uart wakeup failed
  components/hal/esp32c61/include/hal/uart_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
