Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

feat(ble/bluedroid): Support anonymous address type for white list
  components/bt/host/bluedroid/api/include/api/esp_bt_defs.h
  components/bt/host/bluedroid/stack/btm/btm_ble_bgconn.c
  components/bt/host/bluedroid/stack/include/stack/bt_types.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): Fixed BLE connection active count getting
  components/bt/host/bluedroid/btc/core/btc_main.c
  components/bt/host/bluedroid/stack/btm/btm_main.c
  components/bt/host/bluedroid/stack/gatt/gatt_main.c
  components/bt/host/bluedroid/stack/l2cap/include/l2c_int.h
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
  components/bt/host/bluedroid/stack/l2cap/l2c_utils.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble/bluedroid): Support BLE vendor event reporting with params
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_ble.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_gap_ble.h
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/include/stack/hcidefs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble/bluedroid): Add config for BLE vendor hci command and event
  components/bt/host/bluedroid/Kconfig.in
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
  components/bt/host/bluedroid/bta/dm/bta_dm_api.c
  components/bt/host/bluedroid/bta/dm/bta_dm_main.c
  components/bt/host/bluedroid/bta/dm/include/bta_dm_int.h
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_ble.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_gap_ble.h
  components/bt/host/bluedroid/common/include/common/bluedroid_user_config.h
  components/bt/host/bluedroid/common/include/common/bt_target.h
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/hcic/hciblecmds.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Add chip dependancy flag for Flow control feature
  components/bt/host/nimble/Kconfig.in
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Add support for minimilistic builds
  components/bt/host/nimble/Kconfig.in
  components/bt/host/nimble/port/include/esp_nimble_cfg.h
  examples/bluetooth/blufi/main/blufi_init.c
  examples/bluetooth/blufi/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_cts/cts_cent/main/main.c
  examples/bluetooth/nimble/ble_cts/cts_cent/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_cts/cts_prph/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_dynamic_service/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_enc_adv_data/enc_adv_data_cent/main/main.c
  examples/bluetooth/nimble/ble_enc_adv_data/enc_adv_data_cent/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_enc_adv_data/enc_adv_data_prph/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_htp/htp_cent/main/main.c
  examples/bluetooth/nimble/ble_htp/htp_cent/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_htp/htp_prph/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_l2cap_coc/coc_blecent/main/main.c
  examples/bluetooth/nimble/ble_l2cap_coc/coc_blecent/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_l2cap_coc/coc_bleprph/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_multi_adv/main/main.c
  examples/bluetooth/nimble/ble_multi_adv/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_periodic_adv/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_periodic_sync/main/main.c
  examples/bluetooth/nimble/ble_periodic_sync/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_phy/phy_cent/main/main.c
  examples/bluetooth/nimble/ble_phy/phy_cent/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_phy/phy_prph/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_cent/main/main.c
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_cent/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_proximity_sensor/proximity_sensor_prph/sdkconfig.defaults.mini
  examples/bluetooth/nimble/ble_spp/spp_client/main/main.c
  examples/bluetooth/nimble/ble_spp/spp_server/sdkconfig.defaults.mini
  examples/bluetooth/nimble/blecent/main/main.c
  examples/bluetooth/nimble/blecent/sdkconfig.defaults.mini
  examples/bluetooth/nimble/blecsc/sdkconfig.defaults.mini
  examples/bluetooth/nimble/blehr/sdkconfig.defaults.mini
  examples/bluetooth/nimble/bleprph/main/main.c
  examples/bluetooth/nimble/bleprph/sdkconfig.defaults.mini
  examples/bluetooth/nimble/power_save/main/main.c
  examples/bluetooth/nimble/power_save/sdkconfig.defaults.mini
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Added CI files for various configurations
  examples/bluetooth/nimble/blecent/main/main.c
  examples/bluetooth/nimble/blecent/sdkconfig.ci.central
  examples/bluetooth/nimble/blecent/sdkconfig.ci.no_broadcaster
  examples/bluetooth/nimble/blecent/sdkconfig.ci.no_peripheral
  examples/bluetooth/nimble/blecent/sdkconfig.ci.observer
  examples/bluetooth/nimble/bleprph/main/main.c
  examples/bluetooth/nimble/bleprph/sdkconfig.ci.broadcaster
  examples/bluetooth/nimble/bleprph/sdkconfig.ci.no_central
  examples/bluetooth/nimble/bleprph/sdkconfig.ci.no_observer
  examples/bluetooth/nimble/bleprph/sdkconfig.ci.peripheral
  examples/bluetooth/nimble/common/nimble_central_utils/peer.c
Due: none

docs: Update CN for idf-monitor.rst
  docs/en/api-guides/tools/idf-monitor.rst
  docs/zh_CN/api-guides/tools/idf-monitor.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(tools/idf-monitor): Add note about autocoloring limitation on multiline logs
  components/log/Kconfig.format
  docs/en/api-guides/tools/idf-monitor.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

change(gen_soc_caps_kconfig): check if config options have the same type
  components/soc/esp32/include/soc/Kconfig.soc_caps.in
  components/soc/esp32/include/soc/soc_caps.h
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
  tools/gen_soc_caps_kconfig/README.md
  tools/gen_soc_caps_kconfig/gen_soc_caps_kconfig.py
  tools/gen_soc_caps_kconfig/test/test_gen_soc_caps_kconfig.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(psram): fixed psram ptr check under xip_psram condition
  components/esp_psram/system_layer/esp_psram.c
  components/esp_psram/test_apps/psram/main/test_psram.c
  components/esp_psram/xip_impl/include/esp_private/mmu_psram_flash.h
  components/esp_psram/xip_impl/mmu_psram_flash.c
  components/esp_psram/xip_impl/mmu_psram_flash_v2.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(memory-utils): Add _instruction_reserved_start/end to esp_psram_check_ptr_addr
  components/esp_psram/system_layer/esp_psram.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(freertos): Use ESP_EARLY_LOGE in vPortTLSPointersDelCb for RISCV
  components/freertos/FreeRTOS-Kernel-SMP/portable/riscv/port.c
  components/freertos/FreeRTOS-Kernel/portable/riscv/port.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(mmu): use cache freeze for mmap apis
  components/esp_mm/CMakeLists.txt
  components/esp_mm/esp_cache_msync.c
  components/esp_mm/esp_cache_utils.c
  components/esp_mm/esp_mmu_map.c
  components/esp_mm/include/esp_private/esp_cache_private.h
  components/esp_mm/linker.lf
  components/esp_mm/test_apps/mm/main/CMakeLists.txt
  components/esp_mm/test_apps/mm/main/idf_component.yml
  components/esp_mm/test_apps/mm/main/test_cache_utils.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(efuse): Adds 3-bit field for wafer major version in ESP32-P4
  components/efuse/esp32p4/esp_efuse_table.c
  components/efuse/esp32p4/esp_efuse_table.csv
  components/efuse/esp32p4/include/esp_efuse_table.h
  components/hal/esp32p4/include/hal/efuse_ll.h
  components/soc/esp32p4/register/soc/efuse_reg.h
  components/soc/esp32p4/register/soc/efuse_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(parlio_tx): support to use dma eof on esp32c5
  components/esp_driver_parlio/src/parlio_tx.c
  components/esp_driver_parlio/test_apps/parlio/main/CMakeLists.txt
  components/esp_driver_parlio/test_apps/parlio/main/test_parlio_tx.c
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
  docs/en/api-reference/peripherals/parlio/parlio_tx.rst
  docs/zh_CN/api-reference/peripherals/parlio/parlio_tx.rst
  examples/peripherals/lcd/parlio_simulate/main/parlio_simulate_example_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(parlio_tx): update gpio state in delete function
  components/esp_driver_parlio/src/parlio_priv.h
  components/esp_driver_parlio/src/parlio_tx.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(parlio_tx): add cache safe test
  components/esp_driver_parlio/test_apps/parlio/main/CMakeLists.txt
  components/esp_driver_parlio/test_apps/parlio/main/test_parlio_tx_cache_safe.c
Due: gen_integration_pipeline, child_integration_test_pipeline

test(pcnt): with malloc comes from PSRAM by default
  components/esp_driver_pcnt/test_apps/pulse_cnt/main/CMakeLists.txt
  components/esp_driver_pcnt/test_apps/pulse_cnt/sdkconfig.defaults.esp32p4
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

remove(legacy_pcnt): remove legacy pcnt driver in IDF v6.0
  components/driver/CMakeLists.txt
  components/driver/deprecated/driver/pcnt.h
  components/driver/deprecated/driver/pcnt_types_legacy.h
  components/driver/deprecated/pcnt_legacy.c
  components/driver/test_apps/.build-test-rules.yml
  components/driver/test_apps/legacy_pcnt_driver/CMakeLists.txt
  components/driver/test_apps/legacy_pcnt_driver/README.md
  components/driver/test_apps/legacy_pcnt_driver/main/CMakeLists.txt
  components/driver/test_apps/legacy_pcnt_driver/main/test_app_main.c
  components/driver/test_apps/legacy_pcnt_driver/main/test_legacy_pcnt.c
  components/driver/test_apps/legacy_pcnt_driver/pytest_legacy_pcnt.py
  components/driver/test_apps/legacy_pcnt_driver/sdkconfig.ci.release
  components/driver/test_apps/legacy_pcnt_driver/sdkconfig.defaults
  docs/en/migration-guides/release-5.x/5.0/peripherals.rst
  docs/en/migration-guides/release-6.x/6.0/peripherals.rst
  docs/zh_CN/migration-guides/release-5.x/5.0/peripherals.rst
  docs/zh_CN/migration-guides/release-6.x/6.0/peripherals.rst
  tools/idf_py_actions/hints.yml
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

ci: disable idf-ci plugin
  components/nvs_flash/nvs_partition_tool/pytest.ini
  pytest.ini
  tools/ci/idf_pytest/pytest.ini
  tools/ci/test_autocomplete/pytest.ini
  tools/test_build_system/pytest.ini
  tools/test_idf_py/pytest.ini
  tools/test_idf_size/pytest.ini
  tools/test_mkdfu/pytest.ini
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: disable idf-ci plugin
  components/nvs_flash/nvs_partition_tool/pytest.ini
  pytest.ini
  tools/ci/idf_pytest/pytest.ini
  tools/ci/test_autocomplete/pytest.ini
  tools/test_bsasm/pytest.ini
  tools/test_build_system/pytest.ini
  tools/test_idf_diag/pytest.ini
  tools/test_idf_py/pytest.ini
  tools/test_idf_size/pytest.ini
  tools/test_mkdfu/pytest.ini
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(driver_twai): new driver add programming guide
  components/driver/twai/twai.c
  components/esp_driver_twai/esp_twai_onchip.c
  components/esp_driver_twai/include/esp_twai_onchip.h
  components/esp_driver_twai/include/esp_twai_types.h
  components/hal/include/hal/twai_types.h
  components/hal/twai_hal_sja1000.c
  docs/_static/diagrams/twai/acceptance_filter_dual.diag
  docs/_static/diagrams/twai/acceptance_filter_single.diag
  docs/_static/diagrams/twai/base_flow.drawio.svg
  docs/_static/diagrams/twai/bit_timing.diag
  docs/_static/diagrams/twai/bit_timing.svg
  docs/_static/diagrams/twai/controller_signals.diag
  docs/_static/diagrams/twai/frame_struct.svg
  docs/_static/diagrams/twai/full_flow.drawio.svg
  docs/_static/diagrams/twai/hw_connection.svg
  docs/_static/diagrams/twai/state_transition.diag
  docs/docs_not_updated/esp32c5.txt
  docs/doxygen/Doxyfile
  docs/en/api-reference/peripherals/gptimer.rst
  docs/en/api-reference/peripherals/twai.rst
  docs/en/migration-guides/release-5.x/5.5/peripherals.rst
  docs/sphinx-known-warnings.txt
  docs/zh_CN/api-reference/peripherals/gptimer.rst
  docs/zh_CN/api-reference/peripherals/twai.rst
  docs/zh_CN/migration-guides/release-5.x/5.5/peripherals.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(tools): Enabled removing requirements.* files
  tools/check_python_dependencies.py
  tools/idf_tools.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(wifi_prov_mgr): Updated the README.md for reprovisioning usage
  examples/provisioning/wifi_prov_mgr/README.md
  examples/provisioning/wifi_prov_mgr/main/app_main.c
Due: check_readme_links
