Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

docs(system/esp_https_ota): adds ECIES-256 to pre-enc ota design doc
  docs/en/api-reference/system/esp_https_ota.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(pm): fix c5 tx pkt failed
  components/esp_hw_support/port/esp32c5/rtc_clk.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(mbedtls): update to version 3.6.4
  components/mbedtls/Kconfig
  components/mbedtls/port/include/mbedtls/esp_config.h
  docs/en/api-reference/protocols/mbedtls.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

doc(temperature_sensor): Update temperature snesor docs, remove inaccurate part
  docs/en/api-reference/peripherals/temp_sensor.rst
  docs/zh_CN/api-reference/peripherals/temp_sensor.rst
  examples/peripherals/temperature_sensor/temp_sensor/README.md
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(wifi): update ld files of esp32c5
  components/esp_rom/esp32c5/ld/esp32c5.rom.pp.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(twt): fix some issus related itwt
  examples/wifi/itwt/main/Kconfig.projbuild
  examples/wifi/itwt/main/itwt_main.c
Due: none

use 240MHz PLL when necessary
  components/esp_hw_support/port/esp32c5/rtc_clk.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(sleep): Fix CPU clk src when restoring CPU frequency after wakeup for c5
  components/esp_hw_support/port/esp32c5/rtc_clk.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ulp): Rework wakeup source cause collection and usage
  components/ulp/lp_core/lp_core/include/ulp_lp_core_utils.h
  components/ulp/lp_core/lp_core/lp_core_startup.c
  components/ulp/lp_core/lp_core/lp_core_utils.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(sdmmc): fixed dma desc on psram issue on s3
  components/esp_driver_sdmmc/include/esp_private/sd_host_private.h
  components/esp_driver_sdmmc/src/sd_host_sdmmc.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(i3c): sync controller data structure with trm
  components/hal/esp32p4/include/hal/i3c_master_ll.h
  components/hal/include/hal/i3c_master_types.h
  components/soc/esp32p4/register/soc/i3c_mst_mem_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(cam): add camera buffer alloc function
  components/esp_driver_cam/csi/src/esp_cam_ctlr_csi.c
  components/esp_driver_cam/dvp/private_include/esp_cam_ctlr_dvp_dma.h
  components/esp_driver_cam/dvp/src/esp_cam_ctlr_dvp_cam.c
  components/esp_driver_cam/dvp/src/esp_cam_ctlr_dvp_gdma.c
  components/esp_driver_cam/esp_cam_ctlr.c
  components/esp_driver_cam/include/esp_cam_ctlr.h
  components/esp_driver_cam/interface/esp_cam_ctlr_interface.h
  components/esp_driver_cam/isp_dvp/src/esp_cam_ctlr_isp_dvp.c
  docs/en/api-reference/peripherals/camera_driver.rst
  docs/zh_CN/api-reference/peripherals/camera_driver.rst
  examples/peripherals/camera/dvp_dsi/main/dvp_dsi_main.c
  examples/peripherals/camera/dvp_isp_dsi/main/dvp_isp_dsi_main.c
  examples/peripherals/camera/dvp_spi_lcd/main/dvp_spi_lcd_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(mbedtls): adds support for RSA decryption with DS peripheral
  components/esp-tls/esp_tls_mbedtls.c
  components/mbedtls/CMakeLists.txt
  components/mbedtls/port/esp_ds/esp_ds_common.c
  components/mbedtls/port/esp_ds/esp_ds_common.h
  components/mbedtls/port/esp_ds/esp_rsa_dec_alt.c
  components/mbedtls/port/esp_ds/esp_rsa_sign_alt.c
  components/mbedtls/port/include/esp_ds/esp_ds_rsa.h
  components/mbedtls/port/include/rsa_dec_alt.h
  components/mbedtls/test_apps/main/CMakeLists.txt
  components/mbedtls/test_apps/main/test_ds_sign_and_decrypt.c
  components/mbedtls/test_apps/pytest_mbedtls_ut.py
  components/mbedtls/test_apps/sdkconfig.ci.ds_rsa
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs: Sync CN translation with EN
  docs/en/migration-guides/release-5.x/5.0/peripherals.rst
  docs/en/migration-guides/release-5.x/5.2/wifi.rst
  docs/en/migration-guides/release-6.x/6.0/peripherals.rst
  docs/en/migration-guides/release-6.x/6.0/system.rst
  docs/zh_CN/api-reference/peripherals/spi_flash/spi_flash_idf_vs_rom.rst
  docs/zh_CN/migration-guides/release-5.x/5.2/wifi.rst
  docs/zh_CN/migration-guides/release-5.x/5.4/wifi.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(cam): add esp32s3 dvp cam support
  components/esp_driver_cam/dvp/src/esp_cam_ctlr_dvp_cam.c
  components/esp_driver_cam/dvp/src/esp_cam_ctlr_dvp_gdma.c
  components/esp_driver_cam/test_apps/dvp/README.md
  components/esp_driver_cam/test_apps/dvp/main/test_dvp_driver.c
  components/esp_driver_cam/test_apps/dvp/pytest_dvp.py
  components/esp_driver_cam/test_apps/dvp/sdkconfig.defaults
  components/esp_driver_cam/test_apps/dvp/sdkconfig.defaults.esp32s3
  components/hal/esp32s3/include/hal/cam_ll.h
  components/soc/esp32s3/cam_periph.c
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/clk_tree_defs.h
  components/soc/esp32s3/include/soc/soc_caps.h
  examples/bluetooth/nimble/ble_ancs/README.md
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(cam): add dvp example for ESP32S3-EYE
  components/esp_driver_cam/dvp/src/esp_cam_ctlr_dvp_gdma.c
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/camera/common_components/sensor_init/idf_component.yml
  examples/peripherals/camera/dvp_spi_lcd/CMakeLists.txt
  examples/peripherals/camera/dvp_spi_lcd/README.md
  examples/peripherals/camera/dvp_spi_lcd/main/CMakeLists.txt
  examples/peripherals/camera/dvp_spi_lcd/main/Kconfig.projbuild
  examples/peripherals/camera/dvp_spi_lcd/main/dvp_spi_lcd_main.c
  examples/peripherals/camera/dvp_spi_lcd/main/example_config.h
  examples/peripherals/camera/dvp_spi_lcd/main/idf_component.yml
  examples/peripherals/camera/dvp_spi_lcd/pytest_dvp_spi_lcd.py
  examples/peripherals/camera/dvp_spi_lcd/sdkconfig.defaults
  examples/peripherals/camera/dvp_spi_lcd/sdkconfig.defaults.esp32p4
  examples/peripherals/camera/dvp_spi_lcd/sdkconfig.defaults.esp32s3
Due: check_readme_links, gen_integration_pipeline, child_integration_test_pipeline

feat(lcd_cam): add lc_dma_int value atomic protect for lcd and cam
  components/esp_lcd/i80/esp_lcd_panel_io_i80.c
  components/esp_lcd/rgb/esp_lcd_panel_rgb.c
  components/hal/esp32p4/include/hal/cam_ll.h
  components/hal/esp32p4/include/hal/lcd_ll.h
  components/hal/esp32s3/include/hal/cam_ll.h
  components/hal/esp32s3/include/hal/lcd_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(cam): fix camera kconfig about dw_gdma
  components/esp_driver_cam/Kconfig
  components/esp_driver_cam/test_apps/dvp/sdkconfig.ci.cache_safe
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(i2c_master): Fix that master multi-read failed,
  components/esp_driver_i2c/i2c_master.c
  components/esp_driver_i2c/include/driver/i2c_types.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(i2c_master): Add test for master multi read job
  components/esp_driver_i2c/test_apps/i2c_test_apps/main/test_i2c_multi.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs: Update CN translation for provisioning.rst
  docs/en/migration-guides/release-6.x/6.0/provisioning.rst
  docs/zh_CN/migration-guides/release-6.x/6.0/provisioning.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(mqtt): Adds sdkconfig to use test broker
  components/mqtt/test_apps/test_mqtt/sdkconfig.ci.default
  components/mqtt/test_apps/test_mqtt5/sdkconfig.ci.default
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(spi_lcd): detect the bus mode automatically
  components/esp_lcd/include/esp_lcd_io_spi.h
  components/esp_lcd/spi/esp_lcd_panel_io_spi.c
  components/esp_lcd/test_apps/spi_lcd/main/test_spi_lcd_panel.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(lcd): fix the wrong hyperlink in readme
  docs/page_redirects.txt
  examples/peripherals/lcd/i2c_oled/README.md
  examples/peripherals/lcd/spi_lcd_touch/README.md
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

change(ble): removed esp log to save code size
  components/bt/common/ble_log/ble_log_spi_out.c
  components/bt/common/ble_log/include/ble_log/ble_log_spi_out.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): support ble mesh log module
  components/bt/common/Kconfig.in
  components/bt/common/ble_log/ble_log_spi_out.c
  components/bt/common/ble_log/include/ble_log/ble_log_spi_out.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(ble): updated ble log spi out ts sync module
  components/bt/common/Kconfig.in
  components/bt/common/ble_log/ble_log_spi_out.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(ble): implemented log module template
  components/bt/common/ble_log/ble_log_spi_out.c
Due: gen_integration_pipeline, child_integration_test_pipeline
