Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

ci: support trigger full pipeline by components
  tools/ci/dynamic_pipelines/scripts/generate_build_child_pipeline.py
  tools/ci/idf_pytest/constants.py
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: use host mapping volumes to improve the ccache hits
  .gitlab/ci/common.yml
  tools/ci/configure_ci_environment.sh
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(openthread): add max csmabackoffs for transmission
  components/openthread/Kconfig
  components/openthread/include/esp_radio_spinel.h
  components/openthread/private_include/openthread-core-esp32x-ftd-config.h
  components/openthread/private_include/openthread-core-esp32x-mtd-config.h
  components/openthread/private_include/openthread-core-esp32x-radio-config.h
  components/openthread/private_include/openthread-core-esp32x-spinel-config.h
  components/openthread/src/spinel/esp_radio_spinel.cpp
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(docker): add note about group ID when host device is added to container
  docs/en/api-guides/tools/idf-docker-image.rst
  docs/zh_CN/api-guides/tools/idf-docker-image.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

refactor(idf_tools): IDF version is acquired only from version or header file
  tools/idf_tools.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Assign IPv6 addresses in basic Ethernet example when enabled in menuconfig.
  examples/ethernet/basic/main/ethernet_example_main.c
Due: none

fix(esp_system): Fix build when ANTI_ROLLBACK=y and PANIC_SILENT_REBOOT=y
  components/esp_system/CMakeLists.txt
  tools/test_apps/system/build_test/partitions.csv
  tools/test_apps/system/build_test/sdkconfig.ci.panic_silent_reboot_anti_rollback
Due: gen_integration_pipeline, child_integration_test_pipeline

update invalid links in the ble mesh example documentation
  components/bt/esp_ble_mesh/README.md
  examples/bluetooth/esp_ble_mesh/fast_provisioning/fast_prov_server/tutorial/EspBleMesh.md
Due: check_readme_links, gen_integration_pipeline, child_integration_test_pipeline

bugfix(ble_mesh): Avoid provisioner handling messages from nodes that have already left the network.
  components/bt/esp_ble_mesh/core/net.c
Due: gen_integration_pipeline, child_integration_test_pipeline

bugfix(ble_mesh): Avoid provisioner handling messages from nodes that have already left the network.
  components/bt/esp_ble_mesh/mesh_core/net.c
Due: gen_integration_pipeline, child_integration_test_pipeline

update invalid links in the ble mesh example documentation
  components/bt/esp_ble_mesh/README.md
  examples/bluetooth/esp_ble_mesh/ble_mesh_fast_provision/fast_prov_server/tutorial/EspBleMesh.md
Due: check_readme_links, gen_integration_pipeline, child_integration_test_pipeline

feat(esp32c61): new chip add system and esp_timer support
  components/esp_rom/include/esp32c61/rom/libc_stubs.h
  components/esp_system/fpga_overrides_clk.c
  components/esp_system/ld/esp32c61/memory.ld.in
  components/esp_system/ld/esp32c61/sections.ld.in
  components/esp_system/port/arch/riscv/panic_arch.c
  components/esp_system/port/brownout.c
  components/esp_system/port/cpu_start.c
  components/esp_system/port/soc/esp32c61/CMakeLists.txt
  components/esp_system/port/soc/esp32c61/Kconfig.cpu
  components/esp_system/port/soc/esp32c61/cache_err_int.c
  components/esp_system/port/soc/esp32c61/clk.c
  components/esp_system/port/soc/esp32c61/reset_reason.c
  components/esp_system/port/soc/esp32c61/system_internal.c
  components/esp_system/system_time.c
  components/esp_timer/src/esp_timer.c
  components/esp_timer/src/ets_timer_legacy.c
  components/esp_timer/src/system_time.c
  components/freertos/FreeRTOS-Kernel/portable/riscv/include/freertos/portmacro.h
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(i2c_master): Fix issue that i2c clock got wrong after reset,
  components/esp_driver_i2c/i2c_master.c
  components/esp_driver_i2c/test_apps/i2c_test_apps/main/test_i2c_multi.c
  components/hal/esp32/include/hal/i2c_ll.h
  components/hal/esp32c2/include/hal/i2c_ll.h
  components/hal/esp32c3/include/hal/i2c_ll.h
  components/hal/esp32s2/include/hal/i2c_ll.h
  components/hal/esp32s3/include/hal/i2c_ll.h
  components/hal/i2c_hal.c
  components/hal/include/hal/i2c_hal.h
  components/hal/include/hal/i2c_types.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_eth): add support for ch395(SPI and UART dual stack)
  components/esp_eth/CMakeLists.txt
  components/esp_eth/Kconfig
  components/esp_eth/include/esp_eth_mac.h
  components/esp_eth/include/esp_eth_phy.h
  components/esp_eth/src/ch395.h
  components/esp_eth/src/esp_eth_mac_ch395.c
  components/esp_eth/src/esp_eth_phy_ch395.c
  examples/ethernet/basic/components/ethernet_init/Kconfig.projbuild
  examples/ethernet/basic/components/ethernet_init/ethernet_init.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_eth): update intr_priority in eth_esp32_emac_config_t
  components/esp_eth/include/esp_eth_mac.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_rom): patch heap walker to the ROM implementation
  components/esp_rom/CMakeLists.txt
  components/esp_rom/esp32c2/Kconfig.soc_caps.in
  components/esp_rom/esp32c2/esp_rom_caps.h
  components/esp_rom/esp32c5/Kconfig.soc_caps.in
  components/esp_rom/esp32c5/beta3/esp32c5/Kconfig.soc_caps.in
  components/esp_rom/include/esp_rom_multi_heap.h
  components/esp_rom/patches/esp_rom_multi_heap.c
  components/esp_rom/patches/esp_rom_tlsf.c
  components/heap/Kconfig
  components/heap/include/esp_heap_caps.h
  components/heap/include/multi_heap.h
  components/heap/test_apps/heap_tests/main/test_walker.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(log): Fixed incorrect argument type in hexdump log functions
  components/log/host_test/log_test/main/log_test.cpp
  components/log/log_buffers.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: check idf version excluding qa tags
  tools/ci/check_idf_version.sh
Due: gen_integration_pipeline, child_integration_test_pipeline

fix: mark .exception_vectors* as executable and allocatable
  components/riscv/vectors.S
  components/riscv/vectors_intc.S
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp32c5mp): support to run hello world on esp32c5 mp
  .gitlab/ci/docs.yml
  Kconfig
  components/bootloader_support/src/esp32c5/bootloader_esp32c5.c
  components/esp_mm/port/esp32c5/ext_mem_layout.c
  components/esp_phy/esp32c5/include/.gitkeep
  components/esp_system/ld/esp32c5/mp/memory.ld.in
  components/esp_system/ld/esp32c5/mp/sections.ld.in
  components/hal/esp32c5/include/hal/rmt_ll.h
  components/hal/esp32c5/modem_clock_hal.c
  components/hal/include/hal/modem_clock_hal.h
  components/heap/port/esp32c5/memory_layout.c
  components/riscv/include/riscv/rv_utils.h
  components/soc/esp32c5/mp/include/soc/gdma_channel.h
  components/soc/esp32c5/mp/include/soc/gpio_struct.h
  components/soc/esp32c5/mp/include/soc/soc_caps.h
  docs/doxygen/Doxyfile_esp32c5
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(log): Fixed incorrect argument type in hexdump log functions
  components/log/log_buffers.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci(esp32c5): support to build template app for beta3 and mp
  tools/ci/build_template_app.sh
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(console): made help command sorting depend on Kconfig option
  components/console/Kconfig
  components/console/commands.c
  components/console/test_apps/.build-test-rules.yml
  components/console/test_apps/console/README.md
  components/console/test_apps/console/main/test_console.c
  components/console/test_apps/console/pytest_console.py
  components/console/test_apps/console/sdkconfig.ci.defaults
  components/console/test_apps/console/sdkconfig.ci.defaults.linux
  components/console/test_apps/console/sdkconfig.ci.sorted
  components/console/test_apps/console/sdkconfig.ci.sorted.linux
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(lcd): add api reference for mipi dsi lcd
  docs/conf_common.py
  docs/docs_not_updated/esp32p4.txt
  docs/doxygen/Doxyfile_esp32p4
  docs/en/api-reference/peripherals/i2s.rst
  docs/en/api-reference/peripherals/index.rst
  docs/en/api-reference/peripherals/lcd.rst
  docs/en/api-reference/peripherals/lcd/dsi_lcd.rst
  docs/en/api-reference/peripherals/lcd/i2c_lcd.rst
  docs/en/api-reference/peripherals/lcd/i80_lcd.rst
  docs/en/api-reference/peripherals/lcd/index.rst
  docs/en/api-reference/peripherals/lcd/rgb_lcd.rst
  docs/en/api-reference/peripherals/lcd/spi_lcd.rst
  docs/zh_CN/api-reference/peripherals/i2s.rst
  docs/zh_CN/api-reference/peripherals/index.rst
  docs/zh_CN/api-reference/peripherals/lcd.rst
  docs/zh_CN/api-reference/peripherals/lcd/dsi_lcd.rst
  docs/zh_CN/api-reference/peripherals/lcd/i2c_lcd.rst
  docs/zh_CN/api-reference/peripherals/lcd/i80_lcd.rst
  docs/zh_CN/api-reference/peripherals/lcd/index.rst
  docs/zh_CN/api-reference/peripherals/lcd/rgb_lcd.rst
  docs/zh_CN/api-reference/peripherals/lcd/spi_lcd.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

change(mipi_dsi): allow cache sync with unaligned size
  components/esp_lcd/dsi/esp_lcd_panel_dpi.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(system): esp32p4: support hw stack guard
  components/esp_system/hw_stack_guard.c
  components/esp_system/linker.lf
  components/esp_system/port/arch/riscv/panic_arch.c
  components/esp_system/port/include/private/esp_private/hw_stack_guard.h
  components/esp_system/port/panic_handler.c
  components/hal/esp32c2/include/hal/assist_debug_ll.h
  components/hal/esp32c3/include/hal/assist_debug_ll.h
  components/hal/esp32c6/include/hal/assist_debug_ll.h
  components/hal/esp32h2/include/hal/assist_debug_ll.h
  components/hal/esp32p4/include/hal/assist_debug_ll.h
  components/riscv/vectors_clic.S
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/assist_debug_reg.h
  components/soc/esp32p4/include/soc/periph_defs.h
  components/soc/esp32p4/include/soc/soc.h
  components/soc/esp32p4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(system): esp32p4: support panic tests
  tools/test_apps/.build-test-rules.yml
  tools/test_apps/system/build_test/sdkconfig.ci.no_hwsg
  tools/test_apps/system/panic/README.md
  tools/test_apps/system/panic/main/include/test_panic.h
  tools/test_apps/system/panic/main/test_app_main.c
  tools/test_apps/system/panic/main/test_panic.c
  tools/test_apps/system/panic/pytest_panic.py
  tools/test_apps/system/panic/test_panic_util/panic_dut.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_system): allow .data to spill over into L2MEM above 0x4ff40000
  components/esp_system/ld/esp32p4/sections.ld.in
  components/heap/port/esp32p4/memory_layout.c
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(usb_host): Renamed hub_driver_state to root_port_state
  components/usb/hub.c
Due: gen_integration_pipeline, child_integration_test_pipeline
