Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - assign_test
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

ci: add minio as pytest requirement
  tools/requirements/requirements.pytest.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: upload sdkconfig file
  tools/ci/artifacts_handler.py
  tools/ci/dynamic_pipelines/scripts/child_pipeline_build_apps.py
  tools/ci/idf_ci/uploader.py
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: fix size.json path for app
  tools/ci/idf_ci/uploader.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(rmt): support sleep retention
  components/esp_driver_rmt/include/driver/rmt_rx.h
  components/esp_driver_rmt/include/driver/rmt_tx.h
  components/esp_driver_rmt/src/rmt_common.c
  components/esp_driver_rmt/src/rmt_encoder.c
  components/esp_driver_rmt/src/rmt_private.h
  components/esp_driver_rmt/src/rmt_rx.c
  components/esp_driver_rmt/src/rmt_tx.c
  components/esp_driver_rmt/test_apps/rmt/main/CMakeLists.txt
  components/esp_driver_rmt/test_apps/rmt/main/test_rmt_sleep.c
  components/esp_driver_rmt/test_apps/rmt/sdkconfig.ci.release
  components/esp_hw_support/sleep_system_peripheral.c
  components/hal/esp32c6/include/hal/rmt_ll.h
  components/hal/esp32h2/include/hal/rmt_ll.h
  components/soc/esp32/rmt_periph.c
  components/soc/esp32c3/rmt_periph.c
  components/soc/esp32c5/beta3/rmt_periph.c
  components/soc/esp32c5/mp/rmt_periph.c
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/retention_periph_defs.h
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32c6/rmt_periph.c
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/retention_periph_defs.h
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h2/rmt_periph.c
  components/soc/esp32p4/rmt_periph.c
  components/soc/esp32s2/rmt_periph.c
  components/soc/esp32s3/rmt_periph.c
  components/soc/include/soc/regdma.h
  components/soc/include/soc/rmt_periph.h
  docs/en/api-reference/peripherals/rmt.rst
  docs/en/api-reference/system/power_management.rst
  docs/zh_CN/api-reference/peripherals/rmt.rst
  docs/zh_CN/api-reference/system/power_management.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

change(ci): Update code owners for USB Host maintainer docs
  .gitlab/CODEOWNERS
Due: none

refactor(linux): Improved error reporting
  components/freertos/CMakeLists.txt
  components/freertos/FreeRTOS-Kernel/portable/linux/port_idf.c
  docs/en/api-guides/host-apps.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

docs: Update the process of Bluetooth entering sleep in the sleep_modes.rst
  docs/en/api-reference/system/sleep_modes.rst
  docs/zh_CN/api-reference/system/sleep_modes.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: Provide CN translation for documents under api-reference
  docs/en/api-reference/peripherals/spi_flash/spi_flash_idf_vs_rom.rst
  docs/en/api-reference/system/ulp_macros.rst
  docs/zh_CN/api-reference/peripherals/spi_flash/spi_flash_idf_vs_rom.rst
  docs/zh_CN/api-reference/system/ulp_macros.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: Provide translation for system.rst in migration-guides
  docs/en/migration-guides/release-5.x/5.3/system.rst
  docs/zh_CN/migration-guides/release-5.x/5.3/system.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: Provide translation for c.rst
  docs/en/api-guides/c.rst
  docs/zh_CN/api-guides/c.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

change(gdma): improve the test cases to be target agnostic
  components/esp_hw_support/test_apps/dma/main/CMakeLists.txt
  components/esp_hw_support/test_apps/dma/main/test_async_memcpy.c
  components/esp_hw_support/test_apps/dma/main/test_dw_gdma.c
  components/esp_hw_support/test_apps/dma/main/test_gdma.c
  components/esp_hw_support/test_apps/dma/main/test_gdma_crc.c
  components/esp_hw_support/test_apps/dma/main/test_gdma_etm.c
  components/esp_hw_support/test_apps/etm/main/CMakeLists.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

docs: Provide CN Translation for mm_sync.rst in api-reference
  docs/en/api-reference/system/mm_sync.rst
  docs/zh_CN/api-reference/system/mm_sync.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(log): Refactoring buffer log APIs
  components/log/CMakeLists.txt
  components/log/host_test/log_test/main/log_test.cpp
  components/log/include/esp_log.h
  components/log/include/esp_log_buffer.h
  components/log/include/esp_log_internal.h
  components/log/include/esp_log_level.h
  components/log/include/esp_private/log_util.h
  components/log/src/buffer/log_buffers.c
  components/log/src/util.c
  docs/doxygen/Doxyfile
  docs/en/api-reference/system/log.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(log): Refactoring buffer log APIs (2)
  components/log/host_test/log_test/main/log_test.cpp
  components/log/include/esp_private/log_util.h
  components/log/src/buffer/log_buffers.c
  components/log/src/util.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(performance): Add esp32p4/c5 relevant information to the performance guides
  docs/docs_not_updated/esp32c5.txt
  docs/docs_not_updated/esp32p4.txt
  docs/en/api-guides/performance/ram-usage.rst
  docs/en/api-guides/performance/speed.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(ble/bluedroid): Fixed BLE GATT max length of an attribute value
  components/bt/host/bluedroid/api/include/api/esp_gatt_defs.h
  components/bt/host/bluedroid/stack/include/stack/gatt_api.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Optimize BLE documentation comments to comply with Doxygen syntax
  components/bt/host/bluedroid/api/include/api/esp_gatt_defs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Optimized BLE SPP example for improved compatibility
  examples/bluetooth/bluedroid/ble/ble_spp_server/main/ble_spp_server_demo.c
Due: none

fix(ble/bluedroid): Optimize the BLE documentation
  examples/bluetooth/bluedroid/ble/gatt_server/README.md
  examples/bluetooth/bluedroid/ble/gatt_server/tutorial/Gatt_Server_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble_50/ble50_security_server/tutorial/ble50_security_server_Example_Walkthrough.md
Due: check_readme_links

feat(ble/bluedroid): Support create BLE static random address and NRPA
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble/bluedroid): Support set resolvable provate address timeout by api
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
  components/bt/host/bluedroid/bta/dm/bta_dm_api.c
  components/bt/host/bluedroid/bta/dm/bta_dm_main.c
  components/bt/host/bluedroid/bta/dm/include/bta_dm_int.h
  components/bt/host/bluedroid/bta/include/bta/bta_api.h
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_ble.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_gap_ble.h
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/btm/btm_ble_privacy.c
  components/bt/host/bluedroid/stack/btm/include/btm_ble_int.h
  components/bt/host/bluedroid/stack/btm/include/btm_int.h
  components/bt/host/bluedroid/stack/btu/btu_hcif.c
  components/bt/host/bluedroid/stack/include/stack/btm_api.h
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble/bluedroid): Support BLE add device to resolving list
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
  components/bt/host/bluedroid/api/include/api/esp_bt_defs.h
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
  components/bt/host/bluedroid/bta/dm/bta_dm_api.c
  components/bt/host/bluedroid/bta/dm/bta_dm_main.c
  components/bt/host/bluedroid/bta/dm/include/bta_dm_int.h
  components/bt/host/bluedroid/bta/include/bta/bta_api.h
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_ble.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_gap_ble.h
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/btm/btm_ble_privacy.c
  components/bt/host/bluedroid/stack/btm/include/btm_int.h
  components/bt/host/bluedroid/stack/include/stack/bt_types.h
  components/bt/host/bluedroid/stack/include/stack/btm_api.h
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
  components/bt/host/bluedroid/stack/include/stack/hcimsgs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci(pre-commit): Exclude sample_project readme from checking against build-test-rules
  tools/ci/check_build_test_rules.py
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: quote spec character in url
  conftest.py
Due: none

fix(esp_eth): made access to PHY registers for DM9051 more robust
  components/esp_eth/src/esp_eth_mac_dm9051.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mmap): fixed spi_flash_cache2phys return addr in PSRAM issue
  components/spi_flash/flash_mmap.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(mipi_dsi): support isr iram safe
  components/esp_hw_support/dma/Kconfig.dma
  components/esp_hw_support/dma/linker.lf
  components/esp_lcd/Kconfig
  components/esp_lcd/dsi/esp_lcd_panel_dpi.c
  components/esp_lcd/dsi/mipi_dsi_priv.h
  components/esp_lcd/test_apps/.build-test-rules.yml
  components/esp_lcd/test_apps/mipi_dsi_lcd/CMakeLists.txt
  components/esp_lcd/test_apps/mipi_dsi_lcd/main/CMakeLists.txt
  components/esp_lcd/test_apps/mipi_dsi_lcd/main/test_mipi_dsi_iram.c
  components/esp_lcd/test_apps/mipi_dsi_lcd/pytest_mipi_dsi_lcd.py
  components/esp_lcd/test_apps/mipi_dsi_lcd/sdkconfig.ci.iram_safe
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(mipi_dsi): add pm lock for clock source
  components/esp_lcd/dsi/esp_lcd_mipi_dsi_bus.c
  components/esp_lcd/dsi/esp_lcd_panel_dpi.c
  components/esp_lcd/dsi/mipi_dsi_priv.h
  components/esp_lcd/test_apps/mipi_dsi_lcd/sdkconfig.ci.release
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(gpio): add gpio support on ESP32C5 MP version
  components/esp_driver_gpio/test_apps/.build-test-rules.yml
  components/esp_driver_gpio/test_apps/gpio/README.md
  components/esp_driver_gpio/test_apps/gpio/main/test_gpio.c
  components/esp_pm/Kconfig
  components/hal/esp32c5/include/hal/gpio_ll.h
  components/hal/esp32p4/include/hal/gpio_ll.h
  components/soc/esp32c5/beta3/include/soc/io_mux_struct.h
  components/soc/esp32c5/beta3/ld/esp32c5.peripherals.ld
  components/soc/esp32c5/mp/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/mp/include/soc/io_mux_reg.h
  components/soc/esp32c5/mp/include/soc/io_mux_struct.h
  components/soc/esp32c5/mp/include/soc/soc_caps.h
  components/soc/esp32c5/mp/ld/esp32c5.peripherals.ld
  components/soc/esp32p4/include/soc/io_mux_struct.h
  examples/peripherals/.build-test-rules.yml
  examples/peripherals/gpio/generic_gpio/README.md
  examples/storage/.build-test-rules.yml
  examples/storage/nvs_rw_blob/README.md
  examples/system/.build-test-rules.yml
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

docs: Improve sample project example
  docs/TEMPLATE_EXAMPLE_README.md
  examples/README.md
  examples/get-started/sample_project/CMakeLists.txt
  examples/get-started/sample_project/README.md
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

change(esp_system): trigger digital system reset in brownout isr
  components/esp_system/port/brownout.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(camera): change esp_cam_del_ctlr to esp_cam_ctlr_del
  components/esp_driver_cam/esp_cam_ctlr.c
  components/esp_driver_cam/include/esp_cam_ctlr.h
  components/esp_driver_cam/test_apps/csi/main/test_csi_driver.c
  docs/en/api-reference/peripherals/camera_driver.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(ble/bluedroid): Support BLE command status debug log
  components/bt/host/bluedroid/stack/btu/btu_hcif.c
Due: gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
