Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

feat(tools): Inform user about IDF_PATH set/change in install/export scripts
  docs/en/api-guides/tools/idf-tools.rst
  export.bat
  export.fish
  export.ps1
  export.sh
  install.bat
  install.fish
  install.ps1
  install.sh
  tools/activate.py
  tools/export_utils/activate_venv.py
  tools/export_utils/utils.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(bt/bluedroid): added events to indicate the profile states of HFP
  components/bt/host/bluedroid/api/include/api/esp_hf_ag_api.h
  components/bt/host/bluedroid/api/include/api/esp_hf_client_api.h
  components/bt/host/bluedroid/api/include/api/esp_hf_defs.h
  components/bt/host/bluedroid/btc/profile/std/hf_ag/btc_hf_ag.c
  components/bt/host/bluedroid/btc/profile/std/hf_client/btc_hf_client.c
  examples/bluetooth/bluedroid/classic_bt/hfp_ag/main/bt_app_hf.c
  examples/bluetooth/bluedroid/classic_bt/hfp_hf/main/bt_app_hf.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_netif): Allows user to set route priority after netif creation
  components/esp_netif/include/esp_netif.h
  components/esp_netif/lwip/esp_netif_lwip.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(tools): Imporve activate.py debug information
  tools/activate.py
  tools/export_utils/activate_venv.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(openthread): support using custom header file
  components/openthread/CMakeLists.txt
  components/openthread/Kconfig
  components/openthread/private_include/openthread-core-esp32x-ftd-config.h
  components/openthread/private_include/openthread-core-esp32x-mtd-config.h
  components/openthread/private_include/openthread-core-esp32x-radio-config.h
  components/openthread/private_include/openthread-core-esp32x-spinel-config.h
  components/openthread/src/spinel/esp_radio_spinel.cpp
  docs/en/api-guides/openthread.rst
  docs/en/api-reference/network/esp_openthread.rst
  docs/zh_CN/api-guides/openthread.rst
  docs/zh_CN/api-reference/network/esp_openthread.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(openthread): adjusted the default macro configurations of openthread
  components/openthread/private_include/openthread-core-esp32x-ftd-config.h
  components/openthread/private_include/openthread-core-esp32x-mtd-config.h
  components/openthread/private_include/openthread-core-esp32x-radio-config.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(log): fix file name for esp_log_level_get_timeout
  components/log/linker.lf
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(log): Modified linker script to move functions from flash to iram
  components/log/linker.lf
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(heap): Fix wrong config to enable MALLOC_CAP_EXEC in memory_layout.c
  components/heap/port/esp32c2/memory_layout.c
  components/heap/port/esp32c61/memory_layout.c
  components/heap/test_apps/heap_tests/main/test_diram.c
  components/heap/test_apps/heap_tests/main/test_malloc_caps.c
  components/heap/test_apps/heap_tests/main/test_realloc.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix external coex build fail issue
  components/esp_coex/src/coexist.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: increase test_wifi_power_save got ip timeout
  examples/wifi/power_save/pytest_wifi_power_save.py
Due: none

fix(ble): change ld for ble scan coex issue
  components/esp_rom/esp32c2/ld/esp32c2.rom.ble-eco4.ld
  components/esp_rom/esp32c2/ld/esp32c2.rom.ble.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble): fix ble light sleep error on esp32c2
  components/bt/controller/esp32c2/bt.c
  components/esp_rom/esp32c2/ld/esp32c2.rom.ble-eco4.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(efuse): Adds efuse ADC calib data for ESP32-C61
  components/efuse/esp32c61/esp_efuse_table.c
  components/efuse/esp32c61/esp_efuse_table.csv
  components/efuse/esp32c61/include/esp_efuse_table.h
  components/soc/esp32c61/include/soc/efuse_reg.h
  components/soc/esp32c61/include/soc/efuse_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(spi_flash): Fix Test esp_flash_write
  components/spi_flash/test_apps/mspi_test/main/test_read_write.c
Due: gen_integration_pipeline, child_integration_test_pipeline

test(sd): no uhs1 runner
  components/esp_driver_sdmmc/test_apps/sd_test_utils/components/sdmmc_test_boards/sdmmc_test_board_defs.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci(sd): use uart0 as usj always serial noise on ci on p4
  components/esp_driver_sdmmc/test_apps/sdmmc/sdkconfig.defaults.esp32p4
  components/esp_driver_sdspi/test_apps/sdspi/sdkconfig.defaults.esp32c5
  components/esp_driver_sdspi/test_apps/sdspi/sdkconfig.defaults.esp32p4
  examples/storage/sd_card/sdspi/sdkconfig.defaults.esp32c5
  examples/storage/sd_card/sdspi/sdkconfig.defaults.esp32p4
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(emmc): disabled emmc tests on p4
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_begin_end_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_begin_end_sd.h
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_cd_wp_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_discard_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_erase_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_probe_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_rw_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_sanitize_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_trim_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_various_cmds.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble/example): Removed unused sdkconfig files
  examples/bluetooth/ble_get_started/nimble/NimBLE_Connection/sdkconfig.defaults.esp32s2
  examples/bluetooth/ble_get_started/nimble/NimBLE_GATT_Server/sdkconfig.defaults.esp32s2
  examples/bluetooth/ble_get_started/nimble/NimBLE_Security/sdkconfig.defaults.esp32s2
Due: none

change(soc): update lp_ana_peri soc header on C5
  components/bootloader_support/src/esp32c5/bootloader_soc.c
  components/soc/esp32c5/register/soc/lp_analog_peri_reg.h
  components/soc/esp32c5/register/soc/lp_analog_peri_struct.h
  components/soc/esp32c6/register/soc/lp_analog_peri_reg.h
  components/soc/esp32c6/register/soc/lp_analog_peri_struct.h
  components/soc/esp32h2/register/soc/lp_analog_peri_reg.h
  components/soc/esp32h2/register/soc/lp_analog_peri_struct.h
  components/soc/esp32p4/register/soc/lp_analog_peri_reg.h
  components/soc/esp32p4/register/soc/lp_analog_peri_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Optimize BLE API "esp_ble_gattc_enh_open"
  components/bt/host/bluedroid/api/esp_gattc_api.c
  components/bt/host/bluedroid/api/include/api/esp_gattc_api.h
  components/esp_hid/src/ble_hidh.c
  examples/bluetooth/bluedroid/ble/ble_ancs/main/ble_ancs_demo.c
  examples/bluetooth/bluedroid/ble/ble_spp_client/main/spp_client_demo.c
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_client/main/example_ble_client_throughput.c
  examples/bluetooth/bluedroid/ble/gatt_client/main/gattc_demo.c
  examples/bluetooth/bluedroid/ble/gatt_client/tutorial/Gatt_Client_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble/gatt_security_client/main/example_ble_sec_gattc_demo.c
  examples/bluetooth/bluedroid/ble/gattc_multi_connect/main/gattc_multi_connect.c
  examples/bluetooth/bluedroid/ble/gattc_multi_connect/tutorial/Gatt_Client_Multi_Connection_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble_50/ble50_security_client/main/ble50_sec_gattc_demo.c
  examples/bluetooth/bluedroid/coex/gattc_gatts_coex/main/gattc_gatts_coex.c
Due: check_readme_links, build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble/bluedroid): Support setting connection params when creating connection
  components/bt/controller/esp32/bt.c
  components/bt/controller/esp32c3/bt.c
  components/bt/esp_ble_mesh/core/bluedroid_host/adapter.c
  components/bt/host/bluedroid/api/esp_gattc_api.c
  components/bt/host/bluedroid/api/include/api/esp_bt_defs.h
  components/bt/host/bluedroid/api/include/api/esp_gatt_defs.h
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
  components/bt/host/bluedroid/bta/dm/include/bta_dm_int.h
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
  components/bt/host/bluedroid/bta/gatt/bta_gattc_api.c
  components/bt/host/bluedroid/bta/gatt/include/bta_gattc_int.h
  components/bt/host/bluedroid/bta/hh/bta_hh_le.c
  components/bt/host/bluedroid/bta/include/bta/bta_gatt_api.h
  components/bt/host/bluedroid/btc/profile/std/gatt/btc_gattc.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_gattc.h
  components/bt/host/bluedroid/stack/btm/include/btm_ble_int.h
  components/bt/host/bluedroid/stack/hcic/hciblecmds.c
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
  components/bt/include/esp32/include/esp_bt.h
  components/bt/include/esp32c3/include/esp_bt.h
  components/esp_hid/src/ble_hidh.c
  examples/bluetooth/bluedroid/ble/ble_ancs/main/ble_ancs_demo.c
  examples/bluetooth/bluedroid/ble/ble_spp_client/main/spp_client_demo.c
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_client/main/example_ble_client_throughput.c
  examples/bluetooth/bluedroid/ble/gatt_client/main/gattc_demo.c
  examples/bluetooth/bluedroid/ble/gatt_client/tutorial/Gatt_Client_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble/gatt_security_client/main/example_ble_sec_gattc_demo.c
  examples/bluetooth/bluedroid/ble/gattc_multi_connect/main/gattc_multi_connect.c
  examples/bluetooth/bluedroid/ble/gattc_multi_connect/tutorial/Gatt_Client_Multi_Connection_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble_50/ble50_security_client/main/ble50_sec_gattc_demo.c
  examples/bluetooth/bluedroid/ble_50/ble50_throughput/throughput_client/main/example_ble_client_throughput.c
  examples/bluetooth/bluedroid/coex/gattc_gatts_coex/main/gattc_gatts_coex.c
Due: check_readme_links, build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(usb_cdc): Add select functionality
  components/esp_system/include/esp_private/esp_vfs_cdcacm_select.h
  components/esp_system/include/esp_private/usb_console.h
  components/esp_system/port/usb_console.c
  components/esp_vfs_console/test_apps/.build-test-rules.yml
  components/esp_vfs_console/test_apps/usb_cdc_vfs/CMakeLists.txt
  components/esp_vfs_console/test_apps/usb_cdc_vfs/README.md
  components/esp_vfs_console/test_apps/usb_cdc_vfs/main/CMakeLists.txt
  components/esp_vfs_console/test_apps/usb_cdc_vfs/main/test_app_main.c
  components/esp_vfs_console/test_apps/usb_cdc_vfs/pytest_usb_cdc_vfs.py
  components/esp_vfs_console/test_apps/usb_cdc_vfs/sdkconfig.ci
  components/esp_vfs_console/test_apps/usb_cdc_vfs/sdkconfig.ci.release
  components/esp_vfs_console/test_apps/usb_cdc_vfs/sdkconfig.defaults
  components/esp_vfs_console/vfs_cdcacm.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix esp32c6 can receive data frames where the SA (Source Address) matches its own address
  components/esp_rom/esp32c5/ld/esp32c5.rom.pp.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.pp.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

ci(ram_app): use uart0 config
  tools/test_apps/system/ram_loadable_app/sdkconfig.defaults.esp32c5
  tools/test_apps/system/ram_loadable_app/sdkconfig.defaults.esp32p4
Due: gen_integration_pipeline, child_integration_test_pipeline

test(emmc): disabled emmc tests on p4
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_begin_end_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_begin_end_sd.h
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_cd_wp_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_discard_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_erase_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_probe_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_rw_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_sanitize_sd.c
  components/esp_driver_sdmmc/test_apps/sdmmc/components/sdmmc_tests/sdmmc_test_trim_sd.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(sysview): support single/dual core targets in heap_trace_log test
  examples/system/sysview_tracing_heap_log/README.md
  examples/system/sysview_tracing_heap_log/gdbinit
  examples/system/sysview_tracing_heap_log/pytest_sysview_tracing_heap_log.py
  examples/system/sysview_tracing_heap_log/sdkconfig.defaults
Due: check_readme_links
