Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*

cmake: remove unused defines from several host test apps
  components/esp_event/host_test/esp_event_unit_test/CMakeLists.txt
  examples/cxx/experimental/experimental_cpp_component/host_test/gpio/CMakeLists.txt
  examples/cxx/experimental/experimental_cpp_component/host_test/i2c/CMakeLists.txt
  examples/cxx/experimental/experimental_cpp_component/host_test/spi/CMakeLists.txt
  tools/mocks/driver/CMakeLists.txt
Due: none

cmake: strip -D prefix from COMPILE_DEFINITIONS property values
  tools/cmake/build.cmake
Due: none

fix on data len change cmd malfunction
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
Due: none

mbuf copy hci data error fix
  components/bt/controller/esp32c2/bt.c
  components/bt/host/bluedroid/hci/hci_hal_h4.c
Due: none

fix err using rpa for confirmation calculation
  components/bt/host/bluedroid/stack/btm/btm_ble.c
Due: none

docs: Provide instructions on how to resolve issue with 'raggedright' when building openocd from sources
  docs/en/api-guides/jtag-debugging/building-openocd-macos.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

ble_mesh: stack: Add option for lpn auto sub all-nodes.
  components/bt/esp_ble_mesh/Kconfig.in
  components/bt/esp_ble_mesh/mesh_core/main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Docs: Updated ESP32-S2-DevKitM-1 User Guide for ECO1
  docs/_static/esp32-s2-devkitm-1-v1-block-diagram.png
  docs/en/get-started/index.rst
  docs/en/hw-reference/esp32s2/user-guide-devkitm-1-v1.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-devkitm-1-v1.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Fixed first character in LVGL OLED example.
  examples/peripherals/lcd/i2c_oled/main/lvgl_demo_ui.c
Due: none

add: data classes for parsing NVS binary data add: functions to print formatted NVS data add: color support via ANSI escape sequences add: documentation
  components/nvs_flash/nvs_partition_parser/README.rst
  components/nvs_flash/nvs_partition_parser/README_CN.rst
  components/nvs_flash/nvs_partition_parser/nvs_read.py
  docs/en/api-reference/storage/index.rst
  docs/en/api-reference/storage/nvs_partition_parse.rst
  docs/zh_CN/api-reference/storage/index.rst
  docs/zh_CN/api-reference/storage/nvs_partition_parse.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Docs: Add CN translation for nvs_partition_parser/README.rst
  components/nvs_flash/nvs_partition_parser/README.rst
  components/nvs_flash/nvs_partition_parser/README_CN.rst
Due: none

BLE_MESH: Added missing state changes event in cfg srv model
  components/bt/esp_ble_mesh/api/models/include/esp_ble_mesh_config_model_api.h
  components/bt/esp_ble_mesh/mesh_core/cfg_srv.c
  components/bt/esp_ble_mesh/mesh_core/foundation.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_rom: migrate ut to pytest
  components/esp_rom/.build-test-rules.yml
  components/esp_rom/test/CMakeLists.txt
  components/esp_rom/test/logo.jpg
  components/esp_rom/test_apps/CMakeLists.txt
  components/esp_rom/test_apps/README.md
  components/esp_rom/test_apps/main/CMakeLists.txt
  components/esp_rom/test_apps/main/test_app_main.c
  components/esp_rom/test_apps/main/test_libgcc.c
  components/esp_rom/test_apps/main/test_miniz.c
  components/esp_rom/test_apps/pytest_esp_rom.py
  components/esp_rom/test_apps/sdkconfig.defaults
  tools/unit-test-app/configs/default_2_c2
  tools/unit-test-app/configs/default_3_c2
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_hw_support/clk_cali: fix xtal32k error detect
  components/esp_hw_support/port/esp32/rtc_time.c
  components/esp_hw_support/port/esp32c2/rtc_init.c
  components/esp_hw_support/port/esp32c2/rtc_time.c
  components/esp_hw_support/port/esp32c3/rtc_time.c
  components/esp_hw_support/port/esp32h2/rtc_time.c
  components/esp_hw_support/port/esp32s2/rtc_time.c
  components/esp_hw_support/port/esp32s3/rtc_time.c
  components/esp_hw_support/test/test_rtc_clk.c
  components/esp_system/port/soc/esp32c2/clk.c
  components/soc/esp32/include/soc/rtc.h
  components/soc/esp32c2/include/soc/clk_tree_defs.h
  components/soc/esp32c2/include/soc/rtc.h
  components/soc/esp32c3/include/soc/rtc.h
  components/soc/esp32h2/include/soc/rtc.h
  components/soc/esp32s2/include/soc/rtc.h
  components/soc/esp32s3/include/soc/rtc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_hw_support/clk_cali: remove redundant check for cali value
  components/esp_system/port/soc/esp32/clk.c
  components/esp_system/port/soc/esp32c2/clk.c
  components/esp_system/port/soc/esp32c3/clk.c
  components/esp_system/port/soc/esp32h2/clk.c
  components/esp_system/port/soc/esp32s2/clk.c
  components/esp_system/port/soc/esp32s3/clk.c
Due: none

gdbstub: fixed build-error due to potentially uninitialized variable on -O2
  components/esp_gdbstub/src/gdbstub.c
Due: none

ble_mesh: stack: Fix friend relay lpn message when relay disable.
  components/bt/esp_ble_mesh/mesh_core/net.c
Due: none

spi_flash: Add several flash chips HPM(120M) support
  components/spi_flash/include/spi_flash_override.h
  components/spi_flash/spi_flash_hpm_enable.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

spi_slave: add a flag SPI_SLAVE_NO_RETURN_RESULT to bypass return descriptor from ISR
  components/driver/include/driver/spi_master.h
  components/driver/include/driver/spi_slave.h
  components/driver/spi_master.c
  components/driver/spi_slave.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Docs: Updated ESP32-S2-DevKitC-1 User Guide for ECO1
  docs/_static/esp32-s2-devkitc-1-v1-block-diags.png
  docs/_static/esp32-s2-devkitc-1-v1-pinout.png
  docs/en/hw-reference/esp32s2/user-guide-s2-devkitc-1.rst
  docs/zh_CN/hw-reference/esp32s2/user-guide-s2-devkitc-1.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

esp_hw_support/esp32c2/rtc: take a safer xtal buf wait
  components/soc/esp32c2/include/soc/rtc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

update ble controller lib for bugfix on esp32c2
  components/bt/include/esp32c2/include/esp_bt.h
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_hw_support/clk_cali: fix xtal32k error detect
  components/esp_hw_support/port/esp32/rtc_time.c
  components/esp_hw_support/port/esp32c3/rtc_time.c
  components/esp_hw_support/port/esp32h2/rtc_time.c
  components/esp_hw_support/port/esp32s2/rtc_time.c
  components/esp_hw_support/port/esp32s3/rtc_time.c
  components/soc/esp32/include/soc/rtc.h
  components/soc/esp32c3/include/soc/rtc.h
  components/soc/esp32h2/include/soc/rtc.h
  components/soc/esp32s2/include/soc/rtc.h
  components/soc/esp32s3/include/soc/rtc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_hw_support/clk_cali: remove redundant check for cali value
  components/esp_system/port/soc/esp32/clk.c
  components/esp_system/port/soc/esp32c3/clk.c
  components/esp_system/port/soc/esp32h2/clk.c
  components/esp_system/port/soc/esp32s2/clk.c
  components/esp_system/port/soc/esp32s3/clk.c
Due: none

ci: fix ci error(insufficient internal ram link error)
  components/esp_adc/test_apps/adc/sdkconfig.ci.iram_safe
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_hw_support/clk_cali: fix xtal32k error detect
  components/esp_hw_support/port/esp32/rtc_time.c
  components/esp_hw_support/port/esp32c3/rtc_time.c
  components/esp_hw_support/port/esp32s2/rtc_time.c
  components/esp_hw_support/port/esp32s3/rtc_time.c
  components/soc/esp32/include/soc/rtc.h
  components/soc/esp32c3/include/soc/rtc.h
  components/soc/esp32s2/include/soc/rtc.h
  components/soc/esp32s3/include/soc/rtc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_hw_support/clk_cali: remove redundant check for cali value
  components/esp_system/port/soc/esp32/clk.c
  components/esp_system/port/soc/esp32c3/clk.c
  components/esp_system/port/soc/esp32s2/clk.c
  components/esp_system/port/soc/esp32s3/clk.c
Due: none

hal: fix CONFIG_TWAI_ISR_IN_IRAM not taking effect for C3/H2
  components/hal/linker.lf
Due: none

ci: optimize UT job counts, increase for S3 (quad_psram) and remove redundant ones
  .gitlab/ci/target-test.yml
Due: none

ci: remove redundant test_apps and example_tests jobs
  .gitlab/ci/target-test.yml
Due: none
