Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

fix(esp_security/ds): Clean up DS trying to re-acquire MPI lock post common crypto lock layer
  components/esp_security/src/esp_ds.c
  components/esp_security/test_apps/crypto_drivers/main/test_app_main.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Added BT_HCI_LOG_INCLUDED macro according to nimble nomenclature
  components/bt/host/nimble/port/include/esp_nimble_cfg.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Added BT_HCI_LOG_INCLUDED macros according to nimble nomenclature
  components/bt/host/nimble/port/include/esp_nimble_cfg.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble): fixed ble controller issues on ESP32-C6
  components/bt/controller/esp32c6/bt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble): fixed ble controller issues on ESP32-H2
  components/bt/controller/esp32h2/bt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(tools): venv detection use VIRTUAL_ENV environ
  tools/idf_tools.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix: S3: configure external oscillator correctly
  components/hal/esp32s3/include/hal/clk_tree_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(bootloader): support to check efuse block revision
  components/bootloader_support/include/bootloader_common.h
  components/bootloader_support/src/bootloader_common_loader.c
  components/bootloader_support/src/bootloader_init.c
  components/bootloader_support/src/esp_image_format.c
  components/esp_app_format/esp_app_desc.c
  components/esp_app_format/include/esp_app_desc.h
  components/esp_hw_support/port/esp32/Kconfig.hw_support
  components/esp_hw_support/port/esp32c2/Kconfig.hw_support
  components/esp_hw_support/port/esp32c3/Kconfig.hw_support
  components/esp_hw_support/port/esp32c5/Kconfig.hw_support
  components/esp_hw_support/port/esp32c6/Kconfig.hw_support
  components/esp_hw_support/port/esp32c61/Kconfig.hw_support
  components/esp_hw_support/port/esp32h2/Kconfig.hw_support
  components/esp_hw_support/port/esp32p4/Kconfig.hw_support
  components/esp_hw_support/port/esp32s2/Kconfig.hw_support
  components/esp_hw_support/port/esp32s3/Kconfig.hw_support
  components/esp_hw_support/port/linux/Kconfig.hw_support
  components/hal/efuse_hal.c
  components/hal/esp32/include/hal/efuse_ll.h
  components/hal/include/hal/efuse_hal.h
  components/soc/include/soc/chip_revision.h
  docs/en/api-reference/system/chip_revision.rst
  docs/zh_CN/api-reference/system/chip_revision.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

refactor(bootloader): lower down the log level to reduce the bootloader size
  components/esp_hw_support/port/esp32c3/Kconfig.hw_support
  components/esp_hw_support/port/esp32s2/Kconfig.hw_support
  docs/zh_CN/api-reference/system/chip_revision.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

docs(chip_revision): update eFuse block revision info
  docs/en/api-reference/system/chip_revision.rst
  docs/zh_CN/api-reference/system/chip_revision.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(system): fixed warnings related to ununsed var if asserts disabled
  Kconfig
  components/bootloader_support/bootloader_flash/src/bootloader_flash.c
  components/esp_hw_support/dma/esp_dma_utils.c
  components/esp_hw_support/include/spinlock.h
  components/esp_mm/esp_cache.c
  components/esp_pm/pm_impl.c
  components/esp_ringbuf/ringbuf.c
  components/esp_system/port/arch/riscv/debug_stubs.c
  components/esp_system/task_wdt/task_wdt.c
  components/freertos/FreeRTOS-Kernel/event_groups.c
  components/freertos/FreeRTOS-Kernel/stream_buffer.c
  components/freertos/esp_additions/idf_additions.c
  components/freertos/esp_additions/idf_additions_event_groups.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

test(i2c): Enable all i2c test on esp32p4, esp32c5
  components/driver/test_apps/.build-test-rules.yml
  components/driver/test_apps/legacy_i2c_driver/README.md
  components/driver/test_apps/legacy_i2c_driver/main/test_i2c.c
  components/driver/test_apps/legacy_i2c_driver/pytest_i2c_legacy.py
  components/esp_driver_i2c/test_apps/i2c_test_apps/pytest_i2c.py
Due: gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): collect retention link priority definition
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h2/bt.c
  components/esp_hw_support/dma/gdma_sleep_retention.c
  components/esp_hw_support/include/esp_private/esp_regdma.h
  components/esp_hw_support/sleep_clock.c
  components/esp_hw_support/sleep_system_peripheral.c
  components/esp_phy/src/btbb_init.c
  components/ieee802154/driver/esp_ieee802154_dev.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(esp_hw_support): collect retention link priority definition
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h2/bt.c
  components/driver/uart/uart.c
  components/esp_hw_support/dma/gdma_sleep_retention.c
  components/esp_hw_support/include/esp_private/esp_regdma.h
  components/esp_hw_support/sleep_clock.c
  components/esp_hw_support/sleep_system_peripheral.c
  components/esp_phy/src/btbb_init.c
  components/ieee802154/driver/esp_ieee802154_dev.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(system): add cpu lock up description
  components/esp_system/include/esp_system.h
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/soc_caps.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  docs/en/api-guides/fatal-errors.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(bt/bluedroid): Add print and assert when failed to alloc memory
  components/bt/common/include/bt_common.h
  components/bt/common/include/bt_user_config.h
  components/bt/common/osi/allocator.c
  components/bt/common/osi/include/osi/allocator.h
  components/bt/host/bluedroid/Kconfig.in
  components/bt/host/bluedroid/common/include/common/bluedroid_user_config.h
  components/bt/host/bluedroid/common/include/common/bt_target.h
  components/bt/host/bluedroid/hci/hci_hal_h4.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(bt/bluedroid): Report HCI error code to app when command fails
  components/bt/host/bluedroid/api/include/api/esp_bt_defs.h
  components/bt/host/bluedroid/btc/core/btc_util.c
  components/bt/host/bluedroid/stack/btm/btm_ble_5_gap.c
  components/bt/host/bluedroid/stack/include/stack/btm_api.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): Fixed BLE create conn cancel when conn already exist
  components/bt/host/bluedroid/stack/btm/btm_ble.c
  components/bt/host/bluedroid/stack/btm/include/btm_int.h
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): Fixed work queue delete when create thread failed
  components/bt/common/osi/thread.c
  examples/bluetooth/bluedroid/ble_50/ble50_security_client/main/ble50_sec_gattc_demo.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(usb/device): Update USB device docs for ESP32-P4
  docs/docs_not_updated/esp32p4.txt
  docs/en/api-reference/peripherals/usb_device.rst
  docs/zh_CN/api-reference/peripherals/usb_device.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(usb/host): Update USB host docs for ESP32-P4
  docs/docs_not_updated/esp32p4.txt
  docs/en/api-reference/peripherals/usb_host.rst
  docs/zh_CN/api-reference/peripherals/usb_host.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(usb/host): Use new cache aligned DMA alloc functions
  components/usb/hcd_dwc.c
  components/usb/test_apps/hcd/main/test_hcd_common.c
  components/usb/usb_private.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(usb/host): Update maintainer docs for ESP32-P4
  components/soc/esp32p4/include/soc/usb_dwc_cfg.h
  docs/docs_not_updated/esp32p4.txt
  docs/en/api-reference/peripherals/usb_host/usb_host_notes_arch.rst
  docs/en/api-reference/peripherals/usb_host/usb_host_notes_dwc_otg.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Fix wrong typecasting of sta_info while getting SPP Caps
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ringbuf): allow xRingbufferCreateWithCaps to pass in non-32-bit aligned size
  components/esp_ringbuf/ringbuf.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(cmake): Fixed linker not supporting -warn_commons for linux target on MacOS
  CMakeLists.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

ci(panic): add flash encrypted coredump tests
  tools/test_apps/system/panic/main/CMakeLists.txt
  tools/test_apps/system/panic/main/include/test_panic.h
  tools/test_apps/system/panic/main/test_app_main.c
  tools/test_apps/system/panic/main/test_panic.c
  tools/test_apps/system/panic/partitions_coredump_encrypted.csv
  tools/test_apps/system/panic/partitions_coredump_plain.csv
  tools/test_apps/system/panic/pytest_panic.py
  tools/test_apps/system/panic/sdkconfig.ci.coredump_flash_encrypted
  tools/test_apps/system/panic/sdkconfig.ci.coredump_flash_encrypted_coredump_plain
  tools/test_apps/system/panic/test_panic_util/panic_dut.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(coredump): fix buffer overflow inside esp_core_dump_get_summary
  components/espcoredump/src/core_dump_elf.c
  tools/test_apps/system/panic/main/test_panic.c
  tools/test_apps/system/panic/pytest_panic.py
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(lwip): add a config to set the size of ND6 table cache
  components/lwip/Kconfig
  components/lwip/port/include/lwipopts.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(802.15.4): support large scale pending table size
  components/ieee802154/driver/esp_ieee802154_ack.c
  components/ieee802154/private_include/esp_ieee802154_ack.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(isp_hist): Add ISP histogram support for esp32p4 (part1)
  components/esp_driver_isp/CMakeLists.txt
  components/esp_driver_isp/include/driver/isp.h
  components/esp_driver_isp/include/driver/isp_hist.h
  components/esp_driver_isp/include/driver/isp_types.h
  components/esp_driver_isp/include/esp_private/isp_private.h
  components/esp_driver_isp/src/isp_hist.c
  components/hal/esp32p4/include/hal/isp_ll.h
  components/hal/include/hal/isp_types.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/isp_struct.h
  components/soc/esp32p4/include/soc/soc_caps.h
  docs/en/api-reference/peripherals/isp.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline
