Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

hal: combine ecc hal test app into security peripherals test app
  components/hal/.build-test-rules.yml
  components/hal/test_apps/ecc/CMakeLists.txt
  components/hal/test_apps/ecc/README.md
  components/hal/test_apps/ecc/main/CMakeLists.txt
  components/hal/test_apps/ecc/main/app_main.c
  components/hal/test_apps/ecc/pytest_ecc.py
  components/hal/test_apps/ecc/sdkconfig.defaults
  components/hal/test_apps/security/README.md
  components/hal/test_apps/security/main/CMakeLists.txt
  components/hal/test_apps/security/main/app_main.c
  components/hal/test_apps/security/main/ecc/ecc_params.h
  components/hal/test_apps/security/main/ecc/test_ecc.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

vfs: VFS_MAX_COUNT should be non-zero even without IO support
  components/vfs/vfs.c
Due: none

Allow to config the maximum number of VFS entries.
  components/vfs/Kconfig
  components/vfs/vfs.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Docs: add CN translation for api-guides/perfomance/index.rst
  docs/en/api-guides/performance/index.rst
  docs/zh_CN/api-guides/performance/index.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

CI: fix multi dev case tester
  tools/ci/idf_unity_tester.py
Due: none

tools: fix control characters print if hints enabled
  tools/idf_py_actions/tools.py
Due: none

docs: update the description for check_speed_hz
  components/driver/spi/include/driver/spi_master.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_eth: fixed esp_eth_transmit_vargs to transmit only when link is up
  components/esp_eth/src/esp_eth.c
  components/esp_eth/test_apps/main/esp_eth_test_l2.c
Due: none

Nimble: Fixes for memory leak / optimization
  components/bt/host/nimble/Kconfig.in
  components/bt/host/nimble/esp-hci/src/esp_nimble_hci.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

wifi_prov: Exposed events for secure session establishment
  components/protocomm/include/security/protocomm_security.h
  components/protocomm/src/security/security1.c
  components/protocomm/src/security/security2.c
  examples/provisioning/wifi_prov_mgr/main/app_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

wifi_prov: Fix build issue when building only for `sec1` or `sec2`
  components/wifi_provisioning/include/wifi_provisioning/manager.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_event: fix build error related to format
  components/esp_event/esp_event.c
  components/esp_event/test_apps/sdkconfig.defaults.esp32
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Ethernet examples: removed configuration of SPI Input Delay which was introduced by a mistake
  examples/ethernet/basic/components/ethernet_init/ethernet_init.c
Due: none

nvs_flash: Added helper component `nvs_sec_provider` - For processing NVS encryption-related security configuration
  .gitlab/CODEOWNERS
  components/esp_common/src/esp_err_to_name.c
  components/nvs_sec_provider/CMakeLists.txt
  components/nvs_sec_provider/Kconfig
  components/nvs_sec_provider/include/nvs_sec_provider.h
  components/nvs_sec_provider/nvs_sec_provider.c
  components/partition_table/Kconfig.projbuild
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

nvs_partition_gen/mass_mfg: Support for HMAC-based scheme for generating NVS encr-keys
  components/nvs_flash/nvs_partition_generator/nvs_partition_gen.py
  components/nvs_flash/nvs_partition_generator/sample_val.csv
  components/nvs_flash/nvs_partition_generator/testdata/sample_encryption_keys_hmac.bin
  components/nvs_flash/nvs_partition_generator/testdata/sample_hmac_key.bin
  tools/mass_mfg/mfg_gen.py
  tools/mass_mfg/testdata/sample_encryption_keys_hmac.bin
  tools/mass_mfg/testdata/sample_hmac_key.bin
Due: none

docs: Update `nvs_flash` docs for the HMAC-based NVS encr-keys protection scheme - Also updated the `nvs_partition_generator` and `mass_mfg` tools documentation
  components/nvs_flash/nvs_partition_generator/README.rst
  docs/doxygen/Doxyfile
  docs/en/api-reference/storage/index.rst
  docs/en/api-reference/storage/nvs_encryption.rst
  docs/en/api-reference/storage/nvs_flash.rst
  docs/en/security/flash-encryption.rst
  docs/en/security/security.rst
  docs/zh_CN/api-reference/storage/index.rst
  docs/zh_CN/api-reference/storage/nvs_encryption.rst
  tools/mass_mfg/docs/README.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

nvs_flash: Extended test-app and host tests for the HMAC-based NVS encr-keys protection scheme
  .gitlab/ci/dependencies/dependencies.yml
  .gitlab/ci/rules.yml
  .gitlab/ci/target-test.yml
  components/nvs_flash/test_apps/main/CMakeLists.txt
  components/nvs_flash/test_apps/main/partition_encrypted_hmac.bin
  components/nvs_flash/test_apps/main/partition_plaintext.bin
  components/nvs_flash/test_apps/main/test_nvs.c
  components/nvs_flash/test_apps/partitions_nvs_encr_flash_enc.csv
  components/nvs_flash/test_apps/pytest_nvs_flash.py
  components/nvs_flash/test_apps/sdkconfig.ci.nvs_encr_flash_enc_esp32
  components/nvs_flash/test_apps/sdkconfig.ci.nvs_encr_flash_enc_esp32c3
  components/nvs_flash/test_apps/sdkconfig.ci.nvs_encr_hmac_esp32c3
  components/nvs_flash/test_nvs_host/Makefile
  components/nvs_flash/test_nvs_host/test_nvs.cpp
  conftest.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

security: Added example for HMAC-based NVS encr-keys protection scheme
  examples/security/.build-test-rules.yml
  examples/security/nvs_encryption_hmac/CMakeLists.txt
  examples/security/nvs_encryption_hmac/README.md
  examples/security/nvs_encryption_hmac/main/CMakeLists.txt
  examples/security/nvs_encryption_hmac/main/main.c
  examples/security/nvs_encryption_hmac/partitions_example.csv
  examples/security/nvs_encryption_hmac/pytest_nvs_encr_hmac.py
  examples/security/nvs_encryption_hmac/sdkconfig.ci.nvs_encr_hmac
  examples/security/nvs_encryption_hmac/sdkconfig.defaults
Due: none

esp_rom: fix rom layout issues
  components/esp_rom/include/esp32c2/rom/rom_layout.h
  components/esp_rom/include/esp32c3/rom/rom_layout.h
  components/esp_rom/include/esp32c6/rom/rom_layout.h
  components/esp_rom/include/esp32h2/rom/rom_layout.h
  components/esp_rom/include/esp32s3/rom/rom_layout.h
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Tools: Rewrite build system unit tests to python - sdkconfig, bootloader, components
  tools/test_build_system/MIGRATION.md
  tools/test_build_system/conftest.py
  tools/test_build_system/test_bootloader.py
  tools/test_build_system/test_build.py
  tools/test_build_system/test_build_system_helpers/idf_utils.py
  tools/test_build_system/test_common.py
  tools/test_build_system/test_components.py
  tools/test_build_system/test_sdkconfig.py
Due: none

docs: update links in mdns.rst_backport_v5.0
  docs/en/api-reference/protocols/mdns.rst
  docs/zh_CN/api-reference/protocols/mdns.rst
  docs/zh_CN/libraries-and-frameworks/libs-frameworks.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

esp_hw_support/bootloader: made ESP32-C6 and ESP32-H2 RNG available
  components/bootloader_support/src/bootloader_random.c
  components/bootloader_support/src/bootloader_random_esp32c6.c
  components/bootloader_support/src/bootloader_random_esp32h2.c
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/hw_random.c
  components/hal/CMakeLists.txt
  components/soc/esp32h2/include/soc/regi2c_saradc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

efuse(c6): Adds adc calib efuses
  components/efuse/esp32c6/esp_efuse_table.c
  components/efuse/esp32c6/esp_efuse_table.csv
  components/efuse/esp32c6/include/esp_efuse_table.h
  components/soc/esp32c6/include/soc/efuse_reg.h
  components/soc/esp32c6/include/soc/efuse_struct.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

adc_cali: supported adc calibration on esp32c6
  components/efuse/esp32c6/esp_efuse_rtc_calib.c
  components/efuse/esp32c6/include/esp_efuse_rtc_calib.h
  components/esp_adc/adc_cali_curve_fitting.c
  components/esp_adc/esp32c6/curve_fitting_coefficients.c
  components/esp_adc/esp32c6/include/adc_cali_schemes.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

adc_cali: supported channel compensation of adc calibration on esp32c6
  components/driver/deprecated/adc_dma_legacy.c
  components/driver/deprecated/adc_legacy.c
  components/driver/test_apps/legacy_adc_driver/main/test_legacy_adc.c
  components/efuse/esp32c6/esp_efuse_rtc_calib.c
  components/efuse/esp32c6/include/esp_efuse_rtc_calib.h
  components/esp_adc/adc_cali_curve_fitting.c
  components/esp_adc/adc_common.c
  components/esp_adc/adc_oneshot.c
  components/esp_adc/esp32c6/curve_fitting_coefficients.c
  components/esp_adc/include/esp_adc/adc_cali_scheme.h
  components/esp_adc/test_apps/adc/main/test_adc.c
  components/esp_adc/test_apps/adc/main/test_adc_performance.c
  components/esp_adc/test_apps/adc/main/test_common_adc.c
  components/esp_adc/test_apps/adc/main/test_common_adc.h
  components/esp_hw_support/adc_share_hw_ctrl.c
  components/esp_hw_support/include/esp_private/adc_share_hw_ctrl.h
  components/esp_hw_support/port/esp32c6/CMakeLists.txt
  components/esp_hw_support/port/esp32c6/ocode_init.c
  components/esp_hw_support/port/esp32c6/private_include/ocode_init.h
  components/esp_system/port/soc/esp32c6/clk.c
  components/hal/adc_hal_common.c
  components/hal/efuse_hal.c
  components/hal/esp32/include/hal/efuse_ll.h
  components/hal/esp32c6/include/hal/adc_ll.h
  components/hal/esp32c6/include/hal/efuse_ll.h
  components/hal/esp32h2/include/hal/adc_ll.h
  components/hal/include/hal/efuse_hal.h
  components/idf_test/include/esp32c6/idf_performance_target.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  docs/en/api-reference/peripherals/adc_calibration.rst
  examples/peripherals/adc/oneshot_read/main/oneshot_read_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

adc_oneshot: move power acquire back to adc_oneshot_new_unit
  components/esp_adc/adc_oneshot.c
Due: none

vfs: select sanity NULL check
  components/vfs/vfs.c
  components/vfs/vfs_console.c
Due: none

build system: more accurate error information for git_describe
  tools/cmake/project.cmake
  tools/cmake/third_party/GetGitRevisionDescription.cmake
Due: none

openthread: add kconfig for enabling mac filter
  components/openthread/Kconfig
  components/openthread/private_include/openthread-core-esp32x-ftd-config.h
  components/openthread/private_include/openthread-core-esp32x-mtd-config.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

openthread: fix frame counter when re-transmition
  components/openthread/port/esp_openthread_radio.c
Due: none

example: fix led strip memory overwrite before trans done
  examples/peripherals/rmt/led_strip/main/led_strip_example_main.c
Due: none

bootloader: add a config to enable flashing of bootloader using the command `idf.py flash` when secure boot v2 is enabled.
  components/bootloader/CMakeLists.txt
  components/bootloader/Kconfig.projbuild
  components/bootloader/subproject/CMakeLists.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

core-system/newlib: updated docs to reflect that tzset() needs to be called before localtime/mktime()
  docs/en/api-reference/system/system_time.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

adc: new feature adc digital monitor supported
  components/esp_adc/CMakeLists.txt
  components/esp_adc/adc_continuous_internal.h
  components/esp_adc/adc_monitor.c
  components/esp_adc/include/esp_adc/adc_monitor.h
  components/hal/esp32c2/include/hal/adc_ll.h
  components/hal/esp32c3/include/hal/adc_ll.h
  components/hal/esp32c6/include/hal/adc_ll.h
  components/hal/esp32h2/include/hal/adc_ll.h
  components/hal/esp32s2/include/hal/adc_ll.h
  components/hal/esp32s3/include/hal/adc_ll.h
  components/hal/include/hal/adc_types.h
  components/hal/include/hal/adc_types_private.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*
