Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG: en
      DOCTGT: esp32
    - DOCLANG: zh_CN
      DOCTGT: esp32c6
  artifacts:
    when: always
    paths:
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

fix(bt): Increased SDP maximum connections to avoid connection exhausted
  components/bt/host/bluedroid/common/include/common/bt_target.h
Due: build_docs_html_partial

fix(ble): Fix compile issue when disable duplicate config option in kconfig.
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h2/bt.c
Due: none

feat(pm/deepsleep): support pd hp aon domain in deepsleep
  components/esp_hw_support/sleep_modes.c
Due: none

bugfix(spi_flash): Add flash resuem in bootloader on esp32s3
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32s3.c
Due: none

feat(gptimer): support set interrupt priority
  components/driver/gptimer/gptimer.c
  components/driver/gptimer/gptimer_priv.h
  components/driver/gptimer/include/driver/gptimer.h
  components/driver/test_apps/gptimer/main/test_gptimer.c
  docs/en/api-reference/peripherals/gptimer.rst
  docs/zh_CN/api-reference/peripherals/gptimer.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

esp_eth: add loopback test, change chip drivers to reflect chip specific behaviour
  components/esp_eth/include/esp_eth_phy_802_3.h
  components/esp_eth/include/eth_phy_802_3_regs.h
  components/esp_eth/src/esp_eth_phy_802_3.c
  components/esp_eth/src/esp_eth_phy_dm9051.c
  components/esp_eth/src/esp_eth_phy_dp83848.c
  components/esp_eth/src/esp_eth_phy_ksz80xx.c
  components/esp_eth/src/esp_eth_phy_ksz8851snl.c
  components/esp_eth/src/esp_eth_phy_lan87xx.c
  components/esp_eth/src/esp_eth_phy_rtl8201.c
  components/esp_eth/test_apps/main/Kconfig.projbuild
  components/esp_eth/test_apps/main/esp_eth_test_apps.c
  components/esp_eth/test_apps/main/esp_eth_test_common.c
  components/esp_eth/test_apps/sdkconfig.ci.default_rtl8201
Due: build_docs_html_partial

docs: Refactor table for nvs_create_partition_image arguments
  docs/en/api-reference/storage/nvs_flash.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(esp_hw_support): manage i2c_ana_mst clock witch modem clock driver
  components/esp_hw_support/modem_clock.c
  components/esp_hw_support/port/esp32c6/rtc_clk.c
  components/esp_hw_support/port/esp32h2/rtc_clk.c
  components/esp_phy/src/phy_init_esp32hxx.c
  components/soc/esp32c6/include/soc/periph_defs.h
  components/soc/esp32h2/include/soc/periph_defs.h
Due: build_docs_html_partial

fix(gdbstub): skip xtensa_stepping_bug testcase until fixed
  tools/test_apps/system/gdbstub_runtime/pytest_runtime.py
Due: none

fix(light_sleep): suspend/resume cache correspondingly after light sleep
  components/esp_hw_support/sleep_modes.c
Due: none

fix(light_sleep): save vddsdio_config before lightsleep
  components/esp_hw_support/sleep_modes.c
Due: none

feat(gptimer): support set interrupt priority
  components/driver/gptimer.c
  components/driver/include/driver/gptimer.h
  components/driver/test_apps/gptimer/main/test_gptimer.c
  docs/en/api-reference/peripherals/gptimer.rst
  docs/zh_CN/api-reference/peripherals/gptimer.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(secure_ota): secure app verification issue without padding bytes
  components/bootloader_support/src/esp_image_format.c
Due: none

fix(tools): check_python_version accept dev releases as requirement
  tools/check_python_dependencies.py
  tools/test_idf_tools/test_idf_tools_python_env.py
Due: none

feat(examples): Add storage/nvsgen example
  docs/en/api-reference/storage/nvs_flash.rst
  examples/storage/.build-test-rules.yml
  examples/storage/nvsgen/CMakeLists.txt
  examples/storage/nvsgen/README.md
  examples/storage/nvsgen/main/CMakeLists.txt
  examples/storage/nvsgen/main/nvsgen_example_main.c
  examples/storage/nvsgen/nvs_data.csv
  examples/storage/nvsgen/partitions_example.csv
  examples/storage/nvsgen/pytest_nvsgen_example.py
  examples/storage/nvsgen/sdkconfig.defaults
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

update the term 1/4-line to 1-line or 4-line
  docs/en/api-reference/peripherals/sdmmc_host.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

change(ci): enable esp32p4 check public header
  .gitlab/ci/pre_check.yml
Due: none

fix(soc): fix ecc_mult_struct.h struct size check
  components/soc/esp32p4/include/soc/ecc_mult_struct.h
Due: build_docs_html_partial

change(header): modify p4 headers issues from check_header_py
  components/driver/deprecated/adc_i2s_deprecated.c
  components/driver/deprecated/adc_legacy.c
  components/driver/deprecated/driver/adc_types_legacy.h
  components/driver/deprecated/driver/timer_types_legacy.h
  components/esp_adc/adc_filter.c
  components/esp_adc/esp32p4/include/.gitkeep
  components/esp_adc/esp32p4/include/adc_cali_schemes.h
  components/esp_hw_support/adc_share_hw_ctrl.c
  components/esp_hw_support/port/esp32p4/systimer.c
  components/hal/esp32p4/include/hal/clk_gate_ll.h
  components/hal/esp32p4/include/hal/regi2c_ctrl_ll.h
  components/hal/esp32p4/include/hal/spimem_flash_ll.h
  components/hal/esp32p4/include/hal/uart_ll.h
  components/hal/include/hal/adc_hal.h
  components/hal/include/hal/adc_types.h
  components/hal/include/hal/aes_hal.h
  components/hal/include/hal/i2c_hal.h
  components/hal/include/hal/i2c_types.h
  components/hal/include/hal/ledc_hal.h
  components/hal/include/hal/rtc_hal.h
  components/hal/include/hal/spi_hal.h
  components/hal/include/hal/spi_slave_hal.h
  components/hal/include/hal/spi_slave_hd_hal.h
  components/hal/include/hal/timer_types.h
  components/soc/esp32p4/include/soc/clk_tree_defs.h
  components/soc/esp32p4/include/soc/hp_sys_clkrst_struct.h
  components/soc/esp32p4/ld/esp32p4.peripherals.ld
  examples/common_components/env_caps/esp32p4/Kconfig.env_caps
Due: build_docs_html_partial

fix(tools): check_python_version accept dev releases as requirement
  tools/check_python_dependencies.py
Due: none

Docs: provide CN translation for three short docs of api-guides
  docs/en/api-guides/RF_calibration.rst
  docs/en/api-guides/hlinterrupts.rst
  docs/en/api-guides/thread-local-storage.rst
  docs/zh_CN/api-guides/RF_calibration.rst
  docs/zh_CN/api-guides/hlinterrupts.rst
  docs/zh_CN/api-guides/thread-local-storage.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
