Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - assign_test
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

fix(vfs): fix nullfs open syscall
  components/vfs/nullfs.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(ble): Added BLE feature support status
  docs/conf_common.py
  docs/en/api-guides/ble/ble-feature-support-status.rst
  docs/en/api-guides/ble/host-feature-support-status.rst
  docs/en/api-guides/ble/index.rst
  docs/zh_CN/api-guides/ble/ble-feature-support-status.rst
  docs/zh_CN/api-guides/ble/host-feature-support-status.rst
  docs/zh_CN/api-guides/ble/index.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(mbedtls): link esp-cryptoauthlib to mbedcrypto library
  components/mbedtls/CMakeLists.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

change(wdt): create wdt_periph.c in soc component
  components/hal/esp32/include/hal/mwdt_ll.h
  components/hal/esp32c2/include/hal/mwdt_ll.h
  components/hal/esp32c3/include/hal/mwdt_ll.h
  components/hal/esp32c5/include/hal/mwdt_ll.h
  components/hal/esp32c6/include/hal/mwdt_ll.h
  components/hal/esp32c61/include/hal/mwdt_ll.h
  components/hal/esp32h2/include/hal/mwdt_ll.h
  components/hal/esp32p4/include/hal/mwdt_ll.h
  components/hal/esp32s2/include/hal/mwdt_ll.h
  components/hal/esp32s3/include/hal/mwdt_ll.h
  components/soc/CMakeLists.txt
  components/soc/esp32/wdt_periph.c
  components/soc/esp32c2/wdt_periph.c
  components/soc/esp32c3/wdt_periph.c
  components/soc/esp32c5/wdt_periph.c
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32c6/wdt_periph.c
  components/soc/esp32c61/wdt_periph.c
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h2/wdt_periph.c
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32p4/wdt_periph.c
  components/soc/esp32s2/wdt_periph.c
  components/soc/esp32s3/wdt_periph.c
  components/soc/include/soc/wdt_periph.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(gptimer): fix the regdma overwrite the reload configuration
  components/soc/esp32c6/timer_periph.c
  components/soc/esp32h2/timer_periph.c
  components/soc/esp32p4/timer_periph.c
  components/soc/include/soc/timer_periph.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(gptimer): sleep retention code clean up
  components/esp_driver_gptimer/CMakeLists.txt
  components/esp_driver_gptimer/src/gptimer.c
  components/esp_driver_gptimer/src/gptimer_common.c
  components/esp_driver_gptimer/src/gptimer_priv.c
  components/esp_driver_gptimer/src/gptimer_priv.h
  components/esp_driver_gptimer/test_apps/gptimer/main/CMakeLists.txt
  components/esp_driver_gptimer/test_apps/gptimer/main/test_gptimer.c
  components/esp_driver_gptimer/test_apps/gptimer/main/test_gptimer_sleep.c
  components/esp_driver_gptimer/test_apps/gptimer/sdkconfig.ci.release
  components/esp_driver_gptimer/test_apps/gptimer/sdkconfig.defaults
  components/hal/esp32c6/include/hal/timer_ll.h
  components/hal/esp32h2/include/hal/timer_ll.h
  components/hal/esp32p4/include/hal/timer_ll.h
  docs/en/api-reference/peripherals/gptimer.rst
  docs/en/api-reference/system/power_management.rst
  docs/zh_CN/api-reference/peripherals/gptimer.rst
  docs/zh_CN/api-reference/system/power_management.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Update requirements.gdbgui.txt
  tools/requirements/requirements.gdbgui.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

Update docker.yml
  .github/workflows/docker.yml
Due: none

fix(esp_eth): fix C++ invalid type conversion error
  components/esp_eth/include/esp_eth_mac_esp.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs: Update the application examples in pcnt.rst
  docs/en/api-reference/peripherals/pcnt.rst
  docs/zh_CN/api-reference/peripherals/pcnt.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(ci): add retry job functionality to dynamic pipeline report
  .gitlab-ci.yml
  .gitlab/ci/common.yml
  .gitlab/ci/retry_failed_jobs.yml
  tools/ci/dynamic_pipelines/constants.py
  tools/ci/dynamic_pipelines/models.py
  tools/ci/dynamic_pipelines/report.py
  tools/ci/dynamic_pipelines/templates/report.template.html
  tools/ci/dynamic_pipelines/templates/retry-jobs.png
  tools/ci/dynamic_pipelines/tests/test_report_generator/reports_sample_data/expected_job_report.html
  tools/ci/dynamic_pipelines/tests/test_report_generator/reports_sample_data/expected_target_test_report.html
  tools/ci/dynamic_pipelines/tests/test_report_generator/test_report_generator.py
  tools/ci/dynamic_pipelines/utils.py
  tools/ci/python_packages/gitlab_api.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(sdmmc): typo in docs Closes https://github.com/espressif/esp-idf/pull/14341
  components/sdmmc/include/sdmmc_cmd.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble/bluedroid): Support getting BLE address type in bond list
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/btc/core/btc_ble_storage.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt): Update bt lib for ESP32-C3 and ESP32-S3(f583012)
  components/esp_rom/esp32c3/ld/esp32c3.rom.eco7.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(bt): Update bt lib for ESP32-C3 and ESP32-S3(4e58df9)
  components/bt/controller/esp32c3/bt.c
  components/bt/include/esp32c3/include/esp_bt.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(ble/bluedroid): Optimize documentation for BLE connection parameter updates
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  examples/bluetooth/bluedroid/ble/ble_compatibility_test/main/ble_compatibility_test.c
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_client/main/example_ble_client_throughput.c
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_server/main/example_ble_server_throughput.c
  examples/bluetooth/bluedroid/ble/gatt_client/main/gattc_demo.c
  examples/bluetooth/bluedroid/ble/gatt_server/main/gatts_demo.c
  examples/bluetooth/bluedroid/ble/gatt_server/tutorial/Gatt_Server_Example_Walkthrough.md
  examples/bluetooth/bluedroid/ble/gatt_server_service_table/main/gatts_table_creat_demo.c
  examples/bluetooth/bluedroid/ble/gattc_multi_connect/main/gattc_multi_connect.c
  examples/bluetooth/bluedroid/ble_50/ble50_security_server/main/ble50_sec_gatts_demo.c
  examples/bluetooth/bluedroid/coex/a2dp_gatts_coex/main/main.c
  examples/bluetooth/bluedroid/coex/gattc_gatts_coex/main/gattc_gatts_coex.c
  examples/system/ota/advanced_https_ota/main/ble_helper/bluedroid_gatts.c
Due: check_readme_links, build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): Print out the BT mac when the controller is initialized
  components/bt/controller/esp32c2/bt.c
  components/bt/controller/esp32c5/bt.c
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h2/bt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): Print out the BT mac when the controller is initialized
  components/bt/controller/esp32c2/bt.c
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h2/bt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): Print out the BT mac when the controller is initialized
  components/bt/controller/esp32c2/bt.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(esp_hw_support): corrected outdated RNG docs
  components/esp_hw_support/include/esp_random.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(pthread): Fix cxx pthread example build for linux platform
  components/pthread/CMakeLists.txt
  components/pthread/port/linux/pthread.c
Due: gen_integration_pipeline, child_integration_test_pipeline

Revert "Merge branch 'add_openocd_stub_bins' into 'master'"
  components/esp_system/CMakeLists.txt
  components/esp_system/Kconfig
  components/esp_system/ld/esp32c6/sections.ld.in
  components/esp_system/ld/esp32h2/sections.ld.in
  components/esp_system/openocd_stub_bins/CMakeLists.txt
  components/esp_system/openocd_stub_bins/esp32c6/openocd_stub_flasher.c
  components/esp_system/openocd_stub_bins/esp32h2/openocd_stub_flasher.c
  components/esp_system/openocd_stub_bins/esp_riscv_stub_tramp.inc
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  docs/en/api-guides/performance/ram-usage.rst
  docs/zh_CN/api-guides/performance/ram-usage.rst
  tools/ci/astyle-rules.yml
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(freertos): Fixed critical section macro in vTaskPlaceOnEventListRestricted()
  components/freertos/FreeRTOS-Kernel-SMP/portable/riscv/port.c
  components/freertos/FreeRTOS-Kernel-SMP/portable/xtensa/port.c
  components/freertos/FreeRTOS-Kernel/portable/linux/port.c
  components/freertos/FreeRTOS-Kernel/portable/riscv/port.c
  components/freertos/FreeRTOS-Kernel/portable/xtensa/port.c
  components/freertos/FreeRTOS-Kernel/tasks.c
Due: gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
