Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

feat(soc): add Kconfig rev min option and increase max ver for H2 v1.2
  components/esp_hw_support/port/esp32h2/Kconfig.hw_support
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(efuse): Generate efuse source files for ESP32-H4
  components/efuse/efuse_table_gen.py
  components/efuse/esp32h4/esp_efuse_table.c
  components/efuse/esp32h4/include/esp_efuse_table.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(phy): add gpio cmd for cert test
  examples/phy/cert_test/main/cmd_phy.c
  examples/phy/cert_test/main/cmd_phy.h
Due: none

fix(ble): Update bt lib for ESP32(2a2631f)
  components/bt/controller/esp32/Kconfig.in
  components/bt/include/esp32/include/esp_bt.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt/controller): fixed some controller bugs on ESP32.
  components/esp_rom/esp32/ld/esp32.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(tools): Fix libc docker build issue
  .github/workflows/docker.yml
  tools/docker/Dockerfile
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix lightsleep destroys deepsleep rtc parameters
  components/esp_hw_support/port/esp32/include/soc/rtc.h
  components/esp_hw_support/port/esp32/rtc_sleep.c
  components/esp_hw_support/port/esp32c2/include/soc/rtc.h
  components/esp_hw_support/port/esp32c2/rtc_sleep.c
  components/esp_hw_support/port/esp32c3/include/soc/rtc.h
  components/esp_hw_support/port/esp32c3/rtc_sleep.c
  components/esp_hw_support/port/esp32s2/include/soc/rtc.h
  components/esp_hw_support/port/esp32s2/rtc_sleep.c
  components/esp_hw_support/port/esp32s3/include/soc/rtc.h
  components/esp_hw_support/port/esp32s3/rtc_sleep.c
  components/esp_hw_support/sleep_modes.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble): Fixed the bluetooth examples build rule
  components/bt/include/esp32c2/include/esp_bt.h
  examples/bluetooth/.build-test-rules.yml
  examples/bluetooth/hci/ble_adv_scan_combined/README.md
  examples/bluetooth/hci/controller_vhci_ble_adv/README.md
Due: check_readme_links, build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix lightsleep destroys deepsleep rtc parameters
  components/esp_hw_support/port/esp32/rtc_sleep.c
  components/esp_hw_support/port/esp32c2/rtc_sleep.c
  components/esp_hw_support/port/esp32c3/rtc_sleep.c
  components/esp_hw_support/port/esp32s2/rtc_sleep.c
  components/esp_hw_support/port/esp32s3/rtc_sleep.c
  components/esp_hw_support/sleep_modes.c
  components/soc/esp32/include/soc/rtc.h
  components/soc/esp32c2/include/soc/rtc.h
  components/soc/esp32c3/include/soc/rtc.h
  components/soc/esp32s2/include/soc/rtc.h
  components/soc/esp32s3/include/soc/rtc.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esptool): Fix flush output while flashing
  components/esptool_py/esptool/esptool.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix some wifi bugs 250226
  examples/wifi/iperf/main/idf_component.yml
Due: none

fix(usb/hal/dwc): Correct host channel number calculation
  components/hal/esp32p4/include/hal/usb_dwc_ll.h
  components/hal/esp32s2/include/hal/usb_dwc_ll.h
  components/hal/esp32s3/include/hal/usb_dwc_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs: Update CN translation for unit-tests.rst
  docs/zh_CN/api-guides/unit-tests.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(temperature_sensor): Add temperature sensor calibration support
  components/efuse/esp32c2/esp_efuse_rtc_calib.c
  components/efuse/esp32c5/esp_efuse_rtc_calib.c
  components/efuse/esp32c6/esp_efuse_rtc_calib.c
  components/efuse/esp32h2/esp_efuse_rtc_calib.c
  components/efuse/esp32p4/esp_efuse_rtc_calib.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(temperature_sensor): Add temperature sensor calibration support
  components/efuse/esp32c2/esp_efuse_rtc_calib.c
  components/efuse/esp32c6/esp_efuse_rtc_calib.c
  components/efuse/esp32h2/esp_efuse_rtc_calib.c
  components/efuse/esp32p4/esp_efuse_rtc_calib.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(temperature_sensor): Add temperature sensor calibration support
  components/efuse/esp32c2/esp_efuse_rtc_calib.c
  components/efuse/esp32c6/esp_efuse_rtc_calib.c
  components/efuse/esp32h2/esp_efuse_rtc_calib.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(version): Update version to 5.2.5
  .gitlab/ci/common.yml
  components/esp_common/include/esp_idf_version.h
  tools/cmake/version.cmake
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(spi_flash): optimize flash functions to save iram memory
  components/hal/linker.lf
  components/spi_flash/Kconfig
  components/spi_flash/esp_flash_api.c
  components/spi_flash/esp_flash_spi_init.c
  components/spi_flash/linker.lf
  components/spi_flash/spi_flash_os_func_app.c
  components/spi_flash/spi_flash_os_func_noos.c
  components/spi_flash/test_apps/esp_flash/pytest_esp_flash.py
  components/spi_flash/test_apps/flash_suspend/main/test_flash_suspend.c
  components/spi_flash/test_apps/flash_suspend/pytest_flash_auto_suspend.py
  components/spi_flash/test_apps/flash_suspend/sdkconfig.ci.text_in_flash_when_suspend
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(spi_flash): Add docs for spi_flash IRAM usage
  docs/en/api-guides/performance/ram-usage.rst
  docs/en/api-reference/peripherals/spi_flash/index.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(parlio_tx): add clock and fifo reset in disable function
  components/esp_driver_parlio/src/parlio_tx.c
  components/esp_driver_parlio/test_apps/parlio/main/test_parlio_tx.c
  components/hal/esp32c6/include/hal/parlio_ll.h
  components/hal/esp32h2/include/hal/parlio_ll.h
  components/hal/esp32p4/include/hal/parlio_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt/bluedroid): fixed memory leaks in SPP callback mode
  components/bt/host/bluedroid/btc/profile/std/spp/btc_spp.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(openthread): fix a bug of openthread uart init port
  components/openthread/src/port/esp_openthread_uart.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(hal): Make the ECDSA countermeasure dynamically applicable
  components/esp_hw_support/port/esp32h2/Kconfig.hw_support
  components/hal/Kconfig
  components/hal/ecdsa_hal.c
  components/hal/test_apps/crypto/main/CMakeLists.txt
  components/hal/test_apps/crypto/main/ecc/test_ecc.c
  components/hal/test_apps/crypto/main/idf_component.yml
  components/mbedtls/port/ecdsa/ecdsa_alt.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(soc): Fixed ECDSA register compatibility
  components/hal/ecdsa_hal.c
  components/hal/esp32h2/include/hal/ecc_ll.h
  components/hal/esp32h2/include/hal/ecdsa_ll.h
  components/hal/include/hal/ecdsa_hal.h
  components/hal/test_apps/crypto/main/ecc/test_ecc.c
  components/mbedtls/Kconfig
  components/soc/CMakeLists.txt
  components/soc/esp32h2/ecdsa_reg_addr.c
  components/soc/esp32h2/include/soc/ecdsa_reg.h
  components/soc/esp32h2/include/soc/ecdsa_rev_0_0_struct.h
  components/soc/esp32h2/include/soc/ecdsa_rev_1_2_struct.h
  components/soc/esp32h2/include/soc/ecdsa_struct.h
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h2/ld/esp32h2.peripherals.ld
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

refactor(ecdsa): rely on efuse to get chip revision
  components/soc/CMakeLists.txt
  components/soc/esp32h2/ecdsa_reg_addr.c
  components/soc/esp32h2/include/soc/chip_rev.h
  components/soc/esp32h2/include/soc/ecdsa_reg.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(hal): Fixed ecc_ll for esp32c5 beta3
  components/hal/esp32c5/include/hal/ecc_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(docs): Update minimizing binary size
  components/hal/Kconfig
  components/mbedtls/Kconfig
  docs/en/api-guides/performance/size.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

docs: Update CN translation for size.rst
  docs/zh_CN/api-guides/performance/size.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(esp_http_client): Unable to recognise http requests logs
  examples/protocols/esp_http_client/main/esp_http_client_example.c
Due: none

fix(esp_eth): init Ethernet after repl init in iperf example
  examples/ethernet/iperf/main/ethernet_iperf_main.c
Due: none

fix(storage/vfs): incorrect log level in esp_vfs_register_fd_range
  components/vfs/vfs.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix docker build
  .github/workflows/docker.yml
  tools/docker/Dockerfile
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Support SPI log output options for HCI
  components/bt/common/Kconfig.in
  components/bt/common/include/bt_common.h
  components/bt/common/include/bt_user_config.h
  components/bt/host/bluedroid/api/esp_bluedroid_hci.c
  components/bt/host/bluedroid/hci/hci_hal_h4.c
  components/bt/host/nimble/esp-hci/src/esp_nimble_hci.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Added SPI output support for Bluedroid host log
  components/bt/common/Kconfig.in
  components/bt/common/ble_log/ble_log_spi_out.c
  components/bt/common/ble_log/include/ble_log/ble_log_spi_out.h
  components/bt/common/include/bt_common.h
  components/bt/common/include/bt_user_config.h
  components/bt/host/bluedroid/common/include/common/bt_trace.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
