Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

fix(esp_timer): Force to go light sleep ignoring ESP_ERR_SLEEP_REJECT
  components/esp_timer/test_apps/main/test_esp_timer.c
  components/esp_timer/test_apps/main/test_esp_timer_light_sleep.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(pre-commit): add codespell to detect and fix typos
  .codespellrc
  .pre-commit-config.yaml
Due: none

change(bt/bluedroid): Use BTC util to convert HCI status to ESP status
  components/bt/host/bluedroid/btc/core/btc_dm.c
  components/bt/host/bluedroid/btc/core/btc_util.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): Handle missing free in application
  examples/bluetooth/nimble/ble_spp/spp_server/main/main.c
Due: none

fix(bt): fixed cmakelist error on c2
  components/bt/CMakeLists.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

fix bug where backspace erases the prompt in dumb mode
  components/console/linenoise/linenoise.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_https_ota): Add config to configure memory capability for OTA buffer
  components/esp_https_ota/include/esp_https_ota.h
  components/esp_https_ota/src/esp_https_ota.c
  docs/en/api-reference/system/ota.rst
  docs/en/migration-guides/release-5.x/5.3/index.rst
  docs/en/migration-guides/release-5.x/5.3/protocols.rst
  docs/zh_CN/migration-guides/release-5.x/5.3/index.rst
  docs/zh_CN/migration-guides/release-5.x/5.3/protocols.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_wifi): Add support for WPA3 transition disable and more updates
  components/esp_wifi/include/esp_wifi_types.h
  components/wpa_supplicant/esp_supplicant/src/esp_wifi_driver.h
  components/wpa_supplicant/esp_supplicant/src/esp_wpa3.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpas_glue.c
  components/wpa_supplicant/src/common/wpa_common.h
  examples/wifi/scan/main/scan.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(lp_core): fix kconfig not allowing using all of LP mem for P4 lp core
  components/ulp/Kconfig
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bootloader_support): Fix API not defined for application
  components/bootloader_support/CMakeLists.txt
  components/bootloader_support/include/esp_flash_encrypt.h
  components/bootloader_support/include/esp_secure_boot.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(rtc): rename sleep mode related regs defination
  components/esp_hw_support/lowpower/cpu_retention/port/esp32c5/sleep_cpu.c
  components/esp_hw_support/lowpower/cpu_retention/port/esp32c6/sleep_cpu.c
  components/esp_hw_support/lowpower/cpu_retention/port/esp32h2/sleep_cpu.c
  components/esp_hw_support/lowpower/cpu_retention/port/esp32p4/sleep_cpu.c
  components/esp_rom/include/esp32c5/beta3/esp32c5/rom/rtc.h
  components/esp_rom/include/esp32c6/rom/rtc.h
  components/esp_rom/include/esp32h2/rom/rtc.h
  components/esp_rom/include/esp32p4/rom/rtc.h
  components/hal/esp32c6/include/hal/lp_aon_ll.h
  components/hal/esp32h2/include/hal/lp_aon_ll.h
  components/hal/esp32p4/include/hal/lp_sys_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(idf_py): Describe the option to configure esptool.py with --extra-args
  docs/en/api-guides/tools/idf-py.rst
  docs/en/api-reference/storage/spiffs.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(esp_hw_support): fix pmu analog parameter configuration missing
  components/esp_hw_support/port/esp32c6/private_include/pmu_param.h
  components/esp_hw_support/port/esp32p4/pmu_sleep.c
  components/esp_hw_support/port/esp32p4/private_include/pmu_param.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(esp_hw_support): split pd_top clock retention initialization by target
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/include/esp_private/sleep_clock.h
  components/esp_hw_support/port/esp32c5/clock_retention_init.c
  components/esp_hw_support/port/esp32c6/clock_retention_init.c
  components/esp_hw_support/port/esp32h2/clock_retention_init.c
  components/esp_hw_support/sleep_clock.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): add esp32p4 pau initial support
  components/esp_hw_support/port/esp32p4/pmu_sleep.c
  components/esp_hw_support/port/pau_regdma.c
  components/esp_hw_support/port/regdma_link.c
  components/hal/esp32h2/include/hal/pau_ll.h
  components/hal/esp32p4/include/hal/clk_gate_ll.h
  components/hal/esp32p4/include/hal/lp_sys_ll.h
  components/hal/esp32p4/include/hal/pau_ll.h
  components/hal/esp32p4/pau_hal.c
  components/hal/include/hal/pau_hal.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/pau_struct.h
  components/soc/esp32p4/include/soc/periph_defs.h
  components/soc/esp32p4/include/soc/reg_base.h
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32p4/ld/esp32p4.peripherals.ld
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): support esp32p4 sleep clock retention
  components/esp_hw_support/port/esp32p4/clock_retention_init.c
  components/esp_hw_support/port/esp32p4/system_peripheral_retention_init.c
  components/esp_hw_support/sleep_modes.c
  components/esp_hw_support/sleep_system_peripheral.c
  components/esp_pm/Kconfig
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_hw_support): support esp32p4 sleep peripheral retention
  components/driver/i2c/i2c.c
  components/esp_driver_i2c/i2c_common.c
  components/esp_hw_support/dma/gdma.c
  components/esp_hw_support/include/esp_private/sleep_cpu.h
  components/esp_hw_support/port/esp32p4/system_peripheral_retention_init.c
  components/esp_hw_support/sleep_system_peripheral.c
  components/hal/include/hal/pmu_types.h
  components/soc/esp32p4/include/soc/retention_periph_defs.h
  components/soc/esp32p4/include/soc/system_periph_retention.h
  components/soc/esp32p4/system_retention_periph.c
  components/soc/include/soc/regdma.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_pm): applied spelling fixes by codespell
  components/esp_pm/Kconfig
  components/esp_pm/pm_impl.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(codeowners): add a codeowners entry for .codespellrc
  .gitlab/CODEOWNERS
Due: none

support linenoise maskmode
  components/console/linenoise/linenoise.c
  components/console/linenoise/linenoise.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(clk): clear all lpclk source at clk init
  components/esp_system/port/soc/esp32c2/clk.c
  components/esp_system/port/soc/esp32c3/clk.c
  components/esp_system/port/soc/esp32s2/clk.c
  components/esp_system/port/soc/esp32s3/clk.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(coex): improve Wi-Fi connecting compatibility at coexistence
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.eco7.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

example: add custom partition table for mesh manual networking
  examples/mesh/manual_networking/partitions.csv
  examples/mesh/manual_networking/sdkconfig.defaults
Due: none

change(console): drop the use of open_memstream()
  components/console/commands.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(coex): support to scan long time on channel, fix coexist sync issue
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.eco7.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix coex ld issue
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.eco7.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.coexist.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(usb_device): Fixed examples with esp_tinyusb v1.4.4
  examples/peripherals/usb/device/tusb_composite_msc_serialdevice/main/tusb_composite_main.c
  examples/peripherals/usb/device/tusb_console/main/tusb_console_main.c
  examples/peripherals/usb/device/tusb_hid/main/tusb_hid_example_main.c
  examples/peripherals/usb/device/tusb_midi/main/tusb_midi_main.c
  examples/peripherals/usb/device/tusb_msc/main/tusb_msc_main.c
  examples/peripherals/usb/device/tusb_serial_device/main/tusb_serial_device_main.c
Due: none

docs(usb_device): Added HighSpeed description for tinyusb config structure
  docs/en/api-reference/peripherals/usb_device.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

change(hal): control PAU bus clock by hal layer
  components/esp_hw_support/port/pau_regdma.c
  components/esp_system/port/soc/esp32c6/clk.c
  components/esp_system/port/soc/esp32h2/clk.c
  components/hal/esp32c6/include/hal/clk_gate_ll.h
  components/hal/esp32c6/include/hal/pau_ll.h
  components/hal/esp32c61/include/hal/clk_gate_ll.h
  components/hal/esp32h2/include/hal/clk_gate_ll.h
  components/hal/esp32h2/include/hal/pau_ll.h
  components/hal/esp32p4/include/hal/clk_gate_ll.h
  components/hal/esp32p4/include/hal/pau_ll.h
  components/hal/include/hal/pau_hal.h
  components/soc/esp32c6/include/soc/periph_defs.h
  components/soc/esp32c61/include/soc/periph_defs.h
  components/soc/esp32h2/include/soc/periph_defs.h
  components/soc/esp32p4/include/soc/periph_defs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
