Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_fast: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*

esp_eth/test_apps: test stability/performance improvement
  components/esp_eth/test_apps/main/esp_eth_test.c
  components/esp_eth/test_apps/pytest_esp_eth.py
Due: none

phy: Use htobe32 instead of htonl to decouple from lwip
  components/esp_phy/src/phy_init.c
Due: none

examples: Fix IP mesh implicit includes
  examples/mesh/ip_internal_network/main/mesh_netif.c
Due: none

esp_mesh: Document that hard-coded non-root nodes do not need TCP/IP
  components/esp_wifi/include/esp_mesh.h
  docs/en/api-reference/network/esp-wifi-mesh.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

wifi example:optimization example of wifi station
  examples/wifi/getting_started/station/main/Kconfig.projbuild
  examples/wifi/getting_started/station/main/station_example_main.c
Due: none

docs: provide CN translation for MR17066
  docs/en/api-reference/network/esp-wifi-mesh.rst
  docs/en/migration-guides/index.rst
  docs/en/migration-guides/tcpip-adapter.rst
  docs/zh_CN/api-reference/network/esp-wifi-mesh.rst
  docs/zh_CN/api-reference/network/index.rst
  docs/zh_CN/migration-guides/index.rst
  docs/zh_CN/migration-guides/tcpip-adapter.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

kconfig: Changed default values of bool configs - Some bool configs were using default values true and false, instead of y and n.
  components/mdns/host_test/components/esp_netif_linux/Kconfig
  components/mqtt/Kconfig
  examples/protocols/https_server/simple/main/Kconfig.projbuild
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

Created EMAC start/stop stress test under heavy traffic
  components/esp_eth/test_apps/README.md
  components/esp_eth/test_apps/component_ut_test.py
  components/esp_eth/test_apps/main/esp_eth_test.c
Due: none

esp_eth: EMAC start/stop optimization
  components/esp_eth/src/esp_eth.c
  components/esp_eth/src/esp_eth_mac_esp.c
  components/hal/emac_hal.c
  components/hal/esp32/include/hal/emac_ll.h
  components/hal/include/hal/emac_hal.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

examples: Fix implicit includes after legacy code removal
  examples/bluetooth/blufi/main/blufi_security.c
  examples/wifi/espnow/main/espnow_example_main.c
  tools/test_apps/protocols/mdns/main/mdns_test.c
Due: none

DOC:Correct IP_EVENT_STA_LOST_IP name
  docs/en/api-guides/wifi.rst
  docs/zh_CN/api-guides/wifi.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

esp_wifi: Reset event bits in ftm example to avoid repeated failures
  examples/wifi/ftm/main/ftm_main.c
Due: none

esp_wifi: Update wifi lib
  examples/wifi/ftm/main/ftm_main.c
Due: none

esp_wifi: Miscellaneous FTM bugfixes
  examples/wifi/ftm/main/ftm_main.c
Due: none

esp_wifi: Always connect Station in PMF mode if possible
  components/esp_wifi/include/esp_wifi_types.h
  components/wpa_supplicant/src/esp_supplicant/esp_dpp.c
  docs/en/api-guides/wifi-security.rst
  examples/bluetooth/nimble/bleprph_wifi_coex/main/main.c
  examples/wifi/getting_started/station/main/station_example_main.c
  examples/wifi/iperf/main/cmd_wifi.c
  examples/wifi/wifi_eap_fast/main/wifi_eap_fast_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

esp_https_ota: add user_ctx to decrypt_cb
  components/esp_https_ota/include/esp_https_ota.h
  components/esp_https_ota/src/esp_https_ota.c
  examples/system/ota/pre_encrypted_ota/main/pre_encrypted_ota.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

esp_common: Rename esp_macro.h to esp_macros.h
  components/esp_common/include/esp_macros.h
  components/freertos/FreeRTOS-Kernel-SMP/portable/xtensa/include/freertos/portmacro.h
  components/freertos/FreeRTOS-Kernel/portable/riscv/include/freertos/portmacro.h
  components/freertos/FreeRTOS-Kernel/portable/xtensa/include/freertos/portmacro.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

Add hint for exiting the idf.monitor.py
  tools/idf_monitor.py
Due: none

increased parallel count of UT_T1_1 test
  .gitlab/ci/target-test.yml
Due: none

spi flash: fix cache accessed while disabled issues at -O0
  components/driver/spi_bus_lock.c
  components/hal/esp32/include/hal/gpio_ll.h
  components/hal/esp32c3/include/hal/gpio_ll.h
  components/hal/esp32s2/include/hal/gpio_ll.h
  components/hal/esp32s3/include/hal/gpio_ll.h
  tools/ci/config/target-test.yml
  tools/unit-test-app/configs/no_optimization_c3
  tools/unit-test-app/configs/no_optimization_esp32
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

protocomm: Fix debug print on encrypting failure
  components/protocomm/src/common/protocomm.c
Due: none

protocomm: fix copyright header
  components/protocomm/src/common/protocomm.c
  tools/ci/check_copyright_ignore.txt
Due: none

lwip: Security fixes; PPPoS null-deref; NAPT ip-forward
  components/lwip/port/esp32/include/lwipopts.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

touch: fix the touch sensor wait cycle on s3
  components/esp_hw_support/port/esp32s2/rtc_init.c
  components/esp_hw_support/port/esp32s3/rtc_init.c
  components/esp_hw_support/port/esp32s3/rtc_sleep.c
Due: none

managed components: fix version references to allow implicit updates according to semver
  examples/build_system/cmake/component_manager/main/idf_component.yml
  examples/peripherals/usb/host/cdc/cdc_acm_bg96/main/idf_component.yml
  examples/protocols/cbor/main/idf_component.yml
  examples/protocols/coap_client/main/idf_component.yml
  examples/protocols/coap_server/main/idf_component.yml
  examples/protocols/http2_request/main/idf_component.yml
  examples/zigbee/esp_zigbee_gateway/main/idf_component.yml
  examples/zigbee/esp_zigbee_rcp/main/idf_component.yml
  examples/zigbee/light_sample/light_bulb/main/idf_component.yml
  examples/zigbee/light_sample/light_coordinator/main/idf_component.yml
  examples/zigbee/light_sample/light_switch/main/idf_component.yml
Due: none

docs: backport cn translation for mr16425
  docs/en/api-guides/fatal-errors.rst
  docs/zh_CN/api-guides/fatal-errors.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

Fix string on encrypting failure [with pre-commit]
  components/protocomm/src/common/protocomm.c
  tools/ci/check_copyright_ignore.txt
Due: none

Fix also reported value [with pre-commit]
  components/protocomm/src/common/protocomm.c
Due: none

Tools: Use default value in the Python detections scripts
  tools/detect_python.fish
  tools/detect_python.sh
Due: none

fatfsgen.py: enabled long names support
  components/fatfs/fatfsgen.py
  components/fatfs/fatfsgen_utils/cluster.py
  components/fatfs/fatfsgen_utils/entry.py
  components/fatfs/fatfsgen_utils/fs_object.py
  components/fatfs/fatfsgen_utils/long_filename_utils.py
  components/fatfs/fatfsgen_utils/utils.py
  components/fatfs/project_include.cmake
  components/fatfs/test_fatfsgen/test_fatfsgen.py
  components/fatfs/test_fatfsgen/test_utils.py
  components/fatfs/test_fatfsgen/test_wl_fatfsgen.py
  components/fatfs/wl_fatfsgen.py
  docs/en/api-reference/storage/fatfs.rst
  docs/zh_CN/api-reference/storage/fatfs.rst
  examples/storage/fatfsgen/fatfs_long_name_image/hellolongname.txt
  examples/storage/fatfsgen/fatfs_long_name_image/sublongnames/testlongfilenames.txt
  examples/storage/fatfsgen/fatfsgen_example_test.py
  examples/storage/fatfsgen/main/CMakeLists.txt
  examples/storage/fatfsgen/main/fatfsgen_example_main.c
  examples/storage/fatfsgen/sdkconfig.ci.test_read_only_partition_gen_ln
  examples/storage/fatfsgen/sdkconfig.ci.test_read_write_partition_gen_ln
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

doc/security: fix re-flashable bootloader section
  docs/en/security/secure-boot-v1.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

freertos_additions: add debug params table for openocd
  components/freertos/CMakeLists.txt
  components/freertos/FreeRTOS-openocd.c
  components/freertos/esp_additions/include/freertos_tasks_c_additions.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

CI: rename some tests to avoid duplicated test names
  components/driver/test_apps/legacy_rtc_temp_driver/main/test_rtc_temp_driver.c
  examples/peripherals/pcnt/rotary_encoder/pytest_rotary_encoder.py
  examples/protocols/modbus/serial/example_test.py
  examples/protocols/modbus/tcp/example_test.py
  examples/storage/sd_card/sdmmc/sd_card_example_test.py
  examples/storage/sd_card/sdspi/sd_card_example_test.py
  examples/system/console/basic/pytest_console_basic.py
  tools/test_apps/peripherals/i2c_wifi/pytest_i2c_wifi.py
  tools/test_apps/system/startup/app_test.py
Due: none

components/bt: Fix build-doc error
  components/bt/sdkconfig.rename
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

Fix bt init error with psram
  components/bt/controller/esp32/bt.c
Due: none
