Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

feat(phy): support to query phy used time
  components/esp_phy/Kconfig
  components/esp_phy/include/esp_phy_init.h
  components/esp_phy/src/phy_init.c
  components/esp_phy/src/phy_init_esp32hxx.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(version): Update version to 5.4.0
  .gitlab/ci/common.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nimble): fix memory leak issue in Blufi example
  components/bt/common/btc/profile/esp/blufi/include/esp_blufi.h
  components/bt/common/btc/profile/esp/blufi/nimble_host/esp_blufi.c
  examples/bluetooth/blufi/main/blufi_init.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(bt/bluedroid): Optimize BLE GATT related APIs reference
  components/bt/host/bluedroid/api/include/api/esp_gattc_api.h
  components/bt/host/bluedroid/api/include/api/esp_gatts_api.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(i2s): add check for the tdm frame bits num
  components/esp_driver_i2s/i2s_tdm.c
  components/hal/esp32c3/include/hal/i2s_ll.h
  components/hal/esp32c5/include/hal/i2s_ll.h
  components/hal/esp32c6/include/hal/i2s_ll.h
  components/hal/esp32c61/include/hal/i2s_ll.h
  components/hal/esp32h2/include/hal/i2s_ll.h
  components/hal/esp32p4/include/hal/i2s_ll.h
  components/hal/esp32s3/include/hal/i2s_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(i2s): fixed some missing content and updates
  components/esp_driver_i2s/i2s_pdm.c
  components/hal/esp32c61/include/hal/i2s_ll.h
  components/soc/esp32c61/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c61/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(rmt): add API to return the real clock resolution of a channel
  components/esp_driver_rmt/include/esp_private/rmt.h
  components/esp_driver_rmt/src/rmt_common.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(twai): don't panic if twai hal init fail
  components/driver/twai/twai.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(phy): fixed calibration warning infomation inaccurate issue
  components/esp_phy/include/esp_private/phy.h
  components/esp_phy/src/phy_init.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fixed blufi connect wep or wpa ap fail issue
  examples/bluetooth/blufi/main/Kconfig.projbuild
  examples/bluetooth/blufi/main/blufi_example_main.c
Due: none

ci(emmc): disable emmc tests on esp32
  .gitlab/ci/target-test.yml
Due: none

ci: Enabled https_request example pytest with config esp32c2_rom_mbedtls
  examples/protocols/.build-test-rules.yml
  examples/protocols/https_request/pytest_https_request.py
  examples/protocols/https_request/sdkconfig.ci.esp32c2_rom_mbedtls
Due: none

fix(esp_pm): configure timer wakeup source with auto light-sleep congiguration
  components/esp_pm/pm_impl.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix esp32p4 JTAG pad deepsleep current leakage
  components/esp_hw_support/port/esp32p4/pmu_sleep.c
  components/esp_hw_support/port/esp32p4/private_include/pmu_param.h
  components/hal/esp32/include/hal/gpio_ll.h
  components/hal/esp32c2/include/hal/gpio_ll.h
  components/hal/esp32c3/include/hal/gpio_ll.h
  components/hal/esp32c5/include/hal/gpio_ll.h
  components/hal/esp32c6/include/hal/gpio_ll.h
  components/hal/esp32c61/include/hal/gpio_ll.h
  components/hal/esp32h2/include/hal/gpio_ll.h
  components/hal/esp32p4/include/hal/gpio_ll.h
  components/hal/esp32p4/include/hal/pmu_ll.h
  components/hal/esp32s2/include/hal/gpio_ll.h
  components/hal/esp32s3/include/hal/gpio_ll.h
  components/hal/gpio_hal.c
  components/hal/include/hal/gpio_hal.h
  components/hal/linker.lf
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(openthread): add macros for ot_br
  examples/openthread/ot_br/main/esp_ot_br.c
Due: none

fix(isp): isp demosaic module should never be disabled for non-raw8 output format
  components/esp_driver_isp/src/isp_demosaic.c
Due: gen_integration_pipeline, child_integration_test_pipeline

Revert "change(isp): enable yuv submodules"
  components/esp_driver_isp/include/esp_private/isp_private.h
  components/esp_driver_isp/src/isp_af.c
  components/esp_driver_isp/src/isp_color.c
  components/esp_driver_isp/src/isp_core.c
  components/esp_driver_isp/src/isp_sharpen.c
  components/hal/esp32p4/include/hal/isp_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(isp): isp_dvp raw->rgb needs a workaround
  components/esp_driver_isp/src/isp_core.c
  components/hal/esp32p4/include/hal/isp_ll.h
  docs/en/api-reference/peripherals/isp.rst
  docs/zh_CN/api-reference/peripherals/isp.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(lcd): increase the upper limit of pclk frequency for RGB LCD
  components/esp_lcd/rgb/esp_lcd_panel_rgb.c
  components/hal/esp32p4/include/hal/lcd_ll.h
  components/hal/esp32s3/include/hal/lcd_ll.h
  components/hal/include/hal/lcd_hal.h
  components/hal/lcd_hal.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix modem power enable failed after modem state wakeup
  components/esp_hw_support/port/esp32c5/pmu_param.c
  components/esp_hw_support/port/esp32c6/pmu_param.c
  components/esp_hw_support/port/esp32c61/pmu_param.c
  components/esp_phy/include/esp_private/phy.h
  components/esp_phy/src/phy_common.c
  components/esp_phy/src/phy_init.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(rmt): add API to return the real clock resolution of a channel
  components/driver/include/esp_private/rmt.h
  components/driver/rmt/rmt_common.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(i2s): fixed incorrect buf size calculation
  components/esp_driver_i2s/i2s_common.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(example): added troubleshooting for i2s_es8311 example
  examples/peripherals/i2s/i2s_codec/i2s_es8311/README.md
  examples/peripherals/i2s/i2s_codec/i2s_es8311/main/Kconfig.projbuild
  examples/peripherals/i2s/i2s_codec/i2s_es8311/main/example_config.h
  examples/peripherals/i2s/i2s_codec/i2s_es8311/main/i2s_es8311_example.c
Due: check_readme_links

fix(i2s): return error when mclk_div is smaller than 2
  components/esp_driver_i2s/i2s_pdm.c
  components/esp_driver_i2s/i2s_std.c
  components/esp_driver_i2s/i2s_tdm.c
  components/esp_driver_i2s/test_apps/i2s/main/test_i2s.c
  components/esp_driver_i2s/test_apps/i2s_multi_dev/main/test_i2s_multi_dev.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(i2s): fix the es8311 example on P4
  examples/peripherals/i2s/i2s_codec/i2s_es8311/main/example_config.h
Due: none

refactor(i2s): refactor i2s examples common dependencies
  examples/peripherals/i2s/i2s_basic/i2s_pdm/main/CMakeLists.txt
  examples/peripherals/i2s/i2s_basic/i2s_pdm/main/idf_component.yml
  examples/peripherals/i2s/i2s_basic/i2s_std/main/CMakeLists.txt
  examples/peripherals/i2s/i2s_basic/i2s_std/main/idf_component.yml
  examples/peripherals/i2s/i2s_basic/i2s_tdm/main/CMakeLists.txt
  examples/peripherals/i2s/i2s_basic/i2s_tdm/main/idf_component.yml
  examples/peripherals/i2s/i2s_codec/i2s_es7210_tdm/main/CMakeLists.txt
  examples/peripherals/i2s/i2s_codec/i2s_es7210_tdm/main/idf_component.yml
  examples/peripherals/i2s/i2s_codec/i2s_es8311/main/idf_component.yml
  examples/peripherals/i2s/i2s_examples_common/CMakeLists.txt
  examples/peripherals/i2s/i2s_examples_common/format_wav.h
  examples/peripherals/i2s/i2s_examples_common/i2s_example_pins.h
  examples/peripherals/i2s/i2s_recorder/main/CMakeLists.txt
  examples/peripherals/i2s/i2s_recorder/main/idf_component.yml
Due: none

change(esp32): undo forcing two slots in I2S
  components/esp_driver_i2s/i2s_tdm.c
  components/hal/i2s_hal.c
Due: gen_integration_pipeline, child_integration_test_pipeline
