Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

feat(esp_http_client): Event to signal last header download
  components/esp_http_client/esp_http_client.c
  components/esp_http_client/include/esp_http_client.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat: trigger manual
  .github/workflows/test-release-zips.yml
Due: none

feat(dhcps): Support for multiple DNS servers
  components/esp_netif/lwip/esp_netif_lwip.c
  components/lwip/apps/dhcpserver/dhcpserver.c
  components/lwip/include/apps/dhcpserver/dhcpserver.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(dhcps): Fixed DNS server handling for previous breaking changes
  components/esp_netif/lwip/esp_netif_lwip.c
  components/lwip/apps/dhcpserver/dhcpserver.c
  components/lwip/include/apps/dhcpserver/dhcpserver.h
  components/lwip/test_apps/main/lwip_test.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix sleep iram safe code inlined to flash
  components/esp_common/include/esp_attr.h
  components/esp_hw_support/sleep_modes.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): Fix deepsleep leakage after initializing USB HS phy
  components/esp_hw_support/include/esp_private/sleep_usb.h
  components/esp_hw_support/sleep_usb.c
  components/hal/esp32p4/include/hal/usb_dwc_ll.h
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
  components/usb/usb_phy.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): always disable USJ pad in sleep to supress leakage
  components/esp_hw_support/sleep_console.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): Force function calibrate_ocode not inlined to flash
  components/esp_hw_support/port/esp32c5/ocode_init.c
  components/esp_hw_support/port/esp32c61/ocode_init.c
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor: move_ocode_to_pmu_init_c6_c5_c61
  components/esp_hw_support/port/esp32c5/pmu_init.c
  components/esp_hw_support/port/esp32c6/pmu_init.c
  components/esp_hw_support/port/esp32c61/pmu_init.c
  components/esp_system/port/soc/esp32c5/clk.c
  components/esp_system/port/soc/esp32c6/clk.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(uart): fixed coverity ininitialized scalar variable in uart_tcgetattr
  components/esp_driver_uart/src/uart_vfs.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(uart): improve set/get baud rate API docs
  components/esp_driver_uart/include/driver/uart.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(sleep): uart suspend/flush should also check if port is enabled on esp32
  components/esp_hw_support/sleep_modes.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(uart): correct C3/S3 module enable porcedure to avoid undesired line noise
  components/hal/esp32c3/include/hal/uart_ll.h
  components/hal/esp32s3/include/hal/uart_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(uart): fix nmea0183 example wrong knots to m/s unit conversion
  examples/peripherals/uart/nmea0183_parser/main/nmea_parser.c
Due: none

fix(dedic_gpio): fix calloc to heap_caps_calloc
  components/esp_driver_gpio/src/dedic_gpio.c
Due: gen_integration_pipeline, child_integration_test_pipeline

bugfix(wifi): Fix incorrect SAE-PK advertisement in assoc request
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
  components/wpa_supplicant/src/rsn_supp/wpa.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi) : Set rrm config condition in case RRM monitoring is enabled
  components/esp_wifi/wifi_apps/roaming_app/src/roaming_app.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): optimized macros readability
  components/bt/common/ble_log/ble_log_spi_out.c
  components/bt/common/ble_log/include/ble_log/ble_log_spi_out.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(nimble): Add demo example for gattc and gatts coex for nimble
  examples/bluetooth/nimble/ble_gattc_gatts_coex/CMakeLists.txt
  examples/bluetooth/nimble/ble_gattc_gatts_coex/README.md
  examples/bluetooth/nimble/ble_gattc_gatts_coex/main/CMakeLists.txt
  examples/bluetooth/nimble/ble_gattc_gatts_coex/main/blecoex.h
  examples/bluetooth/nimble/ble_gattc_gatts_coex/main/idf_component.yml
  examples/bluetooth/nimble/ble_gattc_gatts_coex/main/main.c
  examples/bluetooth/nimble/ble_gattc_gatts_coex/sdkconfig.defaults
  tools/ci/check_copyright_ignore.txt
Due: check_readme_links, gen_integration_pipeline, child_integration_test_pipeline

fix(pmu): fix deepsleep current too big bug for esp32c61
  components/bootloader_support/src/esp32c61/bootloader_soc.c
  components/esp_hw_support/port/esp32c61/rtc_clk_init.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(power_glich): support power_glitch of esp32c5_eco1 and above, eco32c61 eco2 and above
  components/bootloader_support/private_include/bootloader_soc.h
  components/bootloader_support/src/esp32c5/bootloader_esp32c5.c
  components/bootloader_support/src/esp32c5/bootloader_soc.c
  components/bootloader_support/src/esp32c61/bootloader_esp32c61.c
  components/bootloader_support/src/esp32c61/bootloader_soc.c
  components/soc/esp32c5/include/soc/regi2c_saradc.h
  components/soc/esp32c61/include/soc/regi2c_saradc.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): support hci log buffer separation
  components/bt/common/Kconfig.in
  components/bt/common/ble_log/ble_log_spi_out.c
  components/bt/common/ble_log/include/ble_log/ble_log_spi_out.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): provided dynamic spi enable/disable api
  components/bt/common/ble_log/ble_log_spi_out.c
  components/bt/common/ble_log/include/ble_log/ble_log_spi_out.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(mbedtls): Enable signature verification s/w fallback when ECDSA curve is disabled
  components/efuse/esp32h21/esp_efuse_fields.c
  components/efuse/esp32h21/include/esp_efuse_chip.h
  components/efuse/include/esp_efuse.h
  components/efuse/src/esp_efuse_fields.c
  components/hal/test_apps/crypto/main/ecdsa/test_ecdsa.c
  components/mbedtls/port/ecdsa/ecdsa_alt.c
  components/mbedtls/test_apps/main/test_mbedtls_ecdsa.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): refactored ll isr buffer append and buffer flush using event handler
  components/bt/common/ble_log/ble_log_spi_out.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(gpio): fix pu, pd, drv value incorrect from gpio_dump_io_configuration on esp32
  components/esp_driver_gpio/src/gpio.c
  components/esp_hw_support/esp_gpio_reserve.c
  components/hal/esp32/include/hal/gpio_ll.h
  components/hal/esp32/include/hal/rtc_io_ll.h
  components/hal/esp32c2/include/hal/gpio_ll.h
  components/hal/esp32c3/include/hal/gpio_ll.h
  components/hal/esp32c5/include/hal/gpio_ll.h
  components/hal/esp32c5/include/hal/rtc_io_ll.h
  components/hal/esp32c6/include/hal/gpio_ll.h
  components/hal/esp32c6/include/hal/rtc_io_ll.h
  components/hal/esp32c61/include/hal/gpio_ll.h
  components/hal/esp32c61/include/hal/rtc_io_ll.h
  components/hal/esp32h2/include/hal/gpio_ll.h
  components/hal/esp32p4/include/hal/gpio_ll.h
  components/hal/esp32p4/include/hal/rtc_io_ll.h
  components/hal/esp32s2/include/hal/gpio_ll.h
  components/hal/esp32s2/include/hal/rtc_io_ll.h
  components/hal/esp32s3/include/hal/gpio_ll.h
  components/hal/esp32s3/include/hal/rtc_io_ll.h
  components/hal/include/hal/rtc_io_hal.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(gpio): fix IO output enable control
  components/esp_driver_gpio/src/gpio.c
  components/hal/esp32/include/hal/gpio_ll.h
  components/hal/esp32c2/include/hal/gpio_ll.h
  components/hal/esp32c3/include/hal/gpio_ll.h
  components/hal/esp32c5/include/hal/gpio_ll.h
  components/hal/esp32c6/include/hal/gpio_ll.h
  components/hal/esp32c61/include/hal/gpio_ll.h
  components/hal/esp32h2/include/hal/gpio_ll.h
  components/hal/esp32p4/include/hal/gpio_ll.h
  components/hal/esp32s2/include/hal/gpio_ll.h
  components/hal/esp32s3/include/hal/gpio_ll.h
  components/hal/include/hal/gpio_hal.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(gpio): removed unnecessary step when routing input signal to a pin
  components/esp_driver_gpio/README.md
  components/esp_driver_parlio/src/parlio_rx.c
  components/esp_driver_parlio/src/parlio_tx.c
  components/esp_driver_uart/src/uart.c
  components/esp_driver_uart/test_apps/uart/main/test_uart.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(gpio): gpio_reset_pin should do IO reservation revoke
  components/esp_driver_gpio/include/esp_private/gpio.h
  components/esp_driver_gpio/src/gpio.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(gpio): fix 8/16-bit gpio, rtc/lp_io register access
  components/esp_driver_gpio/test_apps/gpio/CMakeLists.txt
  components/esp_driver_gpio/test_apps/gpio_extensions/main/CMakeLists.txt
  components/esp_driver_sdm/test_apps/sigma_delta/CMakeLists.txt
  components/hal/esp32c2/include/hal/gpio_ll.h
  components/hal/esp32c3/include/hal/gpio_ll.h
  components/hal/esp32c5/include/hal/gpio_ll.h
  components/hal/esp32c5/include/hal/rtc_io_ll.h
  components/hal/esp32c6/include/hal/gpio_ll.h
  components/hal/esp32c6/include/hal/rtc_io_ll.h
  components/hal/esp32h2/include/hal/gpio_ll.h
  components/hal/esp32p4/include/hal/gpio_ll.h
  components/hal/esp32s2/include/hal/gpio_ll.h
  components/hal/esp32s3/include/hal/gpio_ll.h
  components/soc/esp32c2/register/soc/gpio_struct.h
  components/soc/esp32c3/register/soc/gpio_struct.h
  components/soc/esp32c5/register/soc/lp_gpio_struct.h
  components/soc/esp32c6/register/soc/lp_io_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): refactored flush module and provided public flush api
  components/bt/common/ble_log/ble_log_spi_out.c
  components/bt/common/ble_log/include/ble_log/ble_log_spi_out.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(uart): fixed coverity ininitialized scalar variable in uart_tcgetattr
  components/vfs/vfs_uart.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(uart): improve set/get baud rate API docs
  components/driver/uart/include/driver/uart.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
