Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline, check_powershell

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h, **/Kconfig*)) and (any of: components/**/*.h, components/**/CMakeLists.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  check_powershell: any of: *.ps1, .gitlab/ci/pre_commit.yml

fix(ble_mesh): re-check scan dev-found cb before scan-rsp invocation
  components/bt/esp_ble_mesh/core/bluedroid_host/adapter.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat: enable tests and cleanup jira references for s31
  components/soc/esp32s31/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s31/include/soc/soc_caps.h
  components/spi_flash/test_apps/.build-test-rules.yml
  components/spi_flash/test_apps/flash_encryption/README.md
  examples/security/.build-test-rules.yml
  examples/security/flash_encryption/README.md
  examples/wifi/iperf/sdkconfig.defaults.esp32s31
  tools/test_apps/build_system/.build-test-rules.yml
  tools/test_apps/build_system/bootloader/README.md
  tools/test_apps/system/.build-test-rules.yml
  tools/test_apps/system/bootloader_sections/README.md
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(i2c): remove unused but set variables
  components/esp_driver_i2c/CMakeLists.txt
  components/esp_driver_i2c/i2c_master.c
  components/esp_driver_i2c/i2c_private.h
  components/soc/esp32/include/soc/dac_channel.h
  components/soc/esp32s2/include/soc/dac_channel.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix esp32s31 sleeping cache writeback logic
  components/esp_hw_support/include/esp_private/sleep_cache.h
  components/esp_hw_support/sleep_cache.c
  components/esp_hw_support/sleep_modes.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ppa): add sleep retention support for DMA2D and PPA
  components/esp_driver_ppa/include/driver/ppa.h
  components/esp_driver_ppa/src/ppa_core.c
  components/esp_driver_ppa/src/ppa_priv.h
  components/esp_driver_ppa/test_apps/main/CMakeLists.txt
  components/esp_driver_ppa/test_apps/main/test_ppa.c
  components/esp_driver_ppa/test_apps/sdkconfig.ci.release
  components/esp_driver_ppa/test_apps/sdkconfig.defaults
  components/esp_hw_support/dma/dma2d.c
  components/esp_hw_support/sleep_system_peripheral.c
  components/esp_hw_support/test_apps/dma2d/main/test_dma2d.c
  components/hal/esp32p4/include/hal/dma2d_ll.h
  components/hal/esp32p4/include/hal/ppa_ll.h
  components/soc/CMakeLists.txt
  components/soc/esp32p4/dma2d_periph.c
  components/soc/esp32p4/include/soc/retention_periph_defs.h
  components/soc/esp32p4/ppa_periph.c
  components/soc/esp32p4/system_retention_periph.c
  components/soc/include/soc/dma2d_periph.h
  components/soc/include/soc/ppa_periph.h
  components/soc/include/soc/regdma.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(heap): reserve DMA pool with low priority MALLOC_CAP_DEFAULT caps
  components/esp_psram/Kconfig.spiram.common
  components/esp_psram/include/esp_private/esp_psram_extram.h
  components/esp_psram/system_layer/esp_psram.c
  components/heap/port/esp32p4/memory_layout.c
  components/heap/test_apps/heap_tests/main/test_malloc.c
  docs/en/api-guides/external-ram.rst
  docs/zh_CN/api-guides/external-ram.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

feat(ppa): add sleep retention support for DMA2D and PPA
  components/esp_driver_dma/CMakeLists.txt
  components/esp_driver_dma/esp32p4/dma2d_retention.c
  components/esp_driver_dma/esp32s31/dma2d_retention.c
  components/esp_driver_dma/src/dma2d.c
  components/esp_driver_dma/src/dma2d_priv.h
  components/esp_driver_dma/test_apps/dma2d/main/test_dma2d.c
  components/esp_driver_ppa/CMakeLists.txt
  components/esp_driver_ppa/esp32p4/ppa_retention.c
  components/esp_driver_ppa/esp32s31/ppa_retention.c
  components/esp_driver_ppa/include/driver/ppa.h
  components/esp_driver_ppa/src/ppa_core.c
  components/esp_driver_ppa/src/ppa_priv.h
  components/esp_driver_ppa/test_apps/main/CMakeLists.txt
  components/esp_driver_ppa/test_apps/main/test_ppa.cpp
  components/esp_driver_ppa/test_apps/sdkconfig.ci.esp32p4_rev1
  components/esp_driver_ppa/test_apps/sdkconfig.ci.release
  components/esp_driver_ppa/test_apps/sdkconfig.defaults
  components/esp_hal_dma/esp32p4/include/hal/dma2d_ll.h
  components/esp_hal_dma/include/hal/dma2d_periph.h
  components/esp_hal_ppa/esp32p4/include/hal/ppa_ll.h
  components/esp_hw_support/port/esp32p4/peripheral_domain_pd.c
  components/esp_hw_support/port/esp32p4/system_periph_retention.c
  components/esp_hw_support/port/esp32s31/peripheral_domain_pd.c
  components/soc/esp32p4/include/soc/retention_periph_defs.h
  components/soc/esp32s31/include/soc/retention_periph_defs.h
  components/soc/include/soc/regdma.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ppa): add sleep retention support for DMA2D and PPA
  components/esp_driver_ppa/include/driver/ppa.h
  components/esp_driver_ppa/src/ppa_core.c
  components/esp_driver_ppa/src/ppa_priv.h
  components/esp_driver_ppa/test_apps/main/CMakeLists.txt
  components/esp_driver_ppa/test_apps/main/test_ppa.c
  components/esp_driver_ppa/test_apps/sdkconfig.ci.release
  components/esp_driver_ppa/test_apps/sdkconfig.defaults
  components/esp_hw_support/dma/dma2d.c
  components/esp_hw_support/port/esp32p4/system_periph_retention.c
  components/esp_hw_support/sleep_system_peripheral.c
  components/esp_hw_support/test_apps/dma2d/main/test_dma2d.c
  components/hal/esp32p4/include/hal/dma2d_ll.h
  components/hal/esp32p4/include/hal/ppa_ll.h
  components/soc/CMakeLists.txt
  components/soc/esp32p4/dma2d_periph.c
  components/soc/esp32p4/include/soc/retention_periph_defs.h
  components/soc/esp32p4/ppa_periph.c
  components/soc/include/soc/dma2d_periph.h
  components/soc/include/soc/ppa_periph.h
  components/soc/include/soc/regdma.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ppa): add sleep retention support for DMA2D and PPA
  components/esp_driver_dma/src/dma2d.c
  components/esp_driver_dma/test_apps/dma2d/main/test_dma2d.c
  components/esp_driver_ppa/include/driver/ppa.h
  components/esp_driver_ppa/src/ppa_core.c
  components/esp_driver_ppa/src/ppa_priv.h
  components/esp_driver_ppa/test_apps/main/CMakeLists.txt
  components/esp_driver_ppa/test_apps/main/test_ppa.cpp
  components/esp_driver_ppa/test_apps/sdkconfig.ci.release
  components/esp_driver_ppa/test_apps/sdkconfig.defaults
  components/esp_hal_dma/esp32p4/dma2d_periph.c
  components/esp_hal_dma/esp32p4/include/hal/dma2d_ll.h
  components/esp_hal_dma/include/hal/dma2d_periph.h
  components/esp_hal_ppa/CMakeLists.txt
  components/esp_hal_ppa/esp32p4/include/hal/ppa_ll.h
  components/esp_hal_ppa/esp32p4/ppa_periph.c
  components/esp_hal_ppa/include/hal/ppa_periph.h
  components/esp_hw_support/port/esp32p4/peripheral_domain_pd.c
  components/esp_hw_support/port/esp32p4/system_periph_retention.c
  components/soc/esp32p4/include/soc/retention_periph_defs.h
  components/soc/include/soc/regdma.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): Keep D-ROM PMP entry so newer apps boot on old bootloaders
  components/esp_hw_support/port/esp32c6/cpu_region_protect.c
  components/esp_hw_support/port/esp32h2/cpu_region_protect.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(lwip): Add IPv6 static neighbor cache entry support
  components/esp_netif/include/esp_netif.h
  components/esp_netif/lwip/esp_netif_lwip.c
  components/lwip/Kconfig
  components/lwip/port/include/lwipopts.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

fix(nan): restore SCIA length getter debug log
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nan): Move the required variables under the NAN_SYNC block
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): sync wifi-remote injected header for NAN group_mgmt_prot
  components/esp_wifi/remote/include/injected/esp_wifi_types_generic.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(wifi): astyle-format wifi_netif.c
  components/esp_wifi/src/wifi_netif.c
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(nan): put RSN KDE OUI in one array, drop dead OUI byte macros
  components/esp_wifi/wifi_apps/nan_app/src/nan_i.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

refactor(nan): drop '##' debug marker from key hexdump tags
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(nan): drop commented-out debug logging
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(wifi): add NAN group data and management frame protection
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
  components/esp_wifi/wifi_apps/nan_app/src/nan_i.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_pairing.c
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
  examples/wifi/wifi_aware/nan_publisher/main/Kconfig.projbuild
  examples/wifi/wifi_aware/nan_publisher/main/publisher_main.c
  examples/wifi/wifi_aware/nan_subscriber/main/Kconfig.projbuild
  examples/wifi/wifi_aware/nan_subscriber/main/subscriber_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, gen_integration_pipeline, child_integration_test_pipeline

bugfix(nan): Fix hard/soft reset cases in NAN Pairing verification
  components/esp_wifi/wifi_apps/include/apps_private/wifi_apps_private.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
  components/esp_wifi/wifi_apps/nan_app/src/nan_pairing.c
  components/wpa_supplicant/esp_supplicant/include/esp_private/esp_supp_nan.h
  components/wpa_supplicant/esp_supplicant/src/esp_nan_supplicant.c
  components/wpa_supplicant/esp_supplicant/src/esp_wifi_driver.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nan): pass no event payload to NAN netif bring-up action
  components/esp_wifi/src/wifi_default.c
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(nan): declare NAN key types as nan_key_type_t enum
  components/esp_wifi/wifi_apps/nan_app/src/nan_i.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nan): seed peer BIP RX replay counter from the KDE IPN/BIPN
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
  components/esp_wifi/wifi_apps/nan_app/src/nan_i.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nan): restrict GTK Key ID to 1/2 and ignore cleartext group KDEs
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nan): source group_mgmt_prot from start config, not blob read-back
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nan): clear group keys on NAN stop and peer NDP teardown
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
  components/esp_wifi/wifi_apps/nan_app/src/nan_i.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nan): set group_mgmt_prot in WIFI_NAN_SYNC_CONFIG_DEFAULT
  components/esp_wifi/wifi_apps/nan_app/include/esp_nan.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(nan): pin datapath IPv6 neighbor via esp_netif static entry
  components/esp_wifi/include/esp_wifi_netif.h
  components/esp_wifi/src/wifi_default.c
  components/esp_wifi/src/wifi_netif.c
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(wifi): sync NAN/netif wifi headers + rebuilt libs [d3da506]
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/esp_wifi/remote/include/injected/esp_wifi_netif.h
  components/esp_wifi/remote/include/injected/esp_wifi_types_generic.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(nan): document group-protection fields, CSID ciphers and NIRA
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(nan): Add support for NAN Pairing Verification
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/esp_wifi/remote/include/injected/esp_wifi_types_generic.h
  components/esp_wifi/wifi_apps/include/apps_private/wifi_apps_private.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
  components/esp_wifi/wifi_apps/nan_app/src/nan_i.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_pairing.c
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
  components/wpa_supplicant/esp_supplicant/include/esp_private/esp_supp_nan.h
  components/wpa_supplicant/esp_supplicant/src/esp_nan_supp_i.h
  components/wpa_supplicant/esp_supplicant/src/esp_nan_supplicant.c
  components/wpa_supplicant/esp_supplicant/src/esp_wifi_driver.h
  components/wpa_supplicant/src/ap/ieee802_11.h
  components/wpa_supplicant/src/ap/pmksa_cache_auth.c
  components/wpa_supplicant/src/common/nan.h
  components/wpa_supplicant/src/pasn/pasn_initiator.c
  components/wpa_supplicant/src/rsn_supp/pmksa_cache.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nan): scrub group keys from stack, demote key hexdumps to DEBUG
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
  components/esp_wifi/wifi_apps/nan_app/src/nan_security.c
Due: gen_integration_pipeline, child_integration_test_pipeline

bugfix(wifi): Clear Sta TX queue to prevent key 2 send failure
  components/wpa_supplicant/src/rsn_supp/wpa.c
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(nan): use shared nan_key_type_t from esp_wifi_driver.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_i.h
  components/wpa_supplicant/esp_supplicant/src/esp_wifi_driver.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(nan): free NDL slot and deny peer when get_mac fails on NDP resp
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(nan): detect ND-TK install failure at NDP confirm
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
Due: gen_integration_pipeline, child_integration_test_pipeline
