Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

bugfix: unstall other cpu on core reset - Closes https://github.com/espressif/esp-idf/issues/10320
  components/esp_system/esp_system.c
Due: none

[USB Serial/JTAG Driver] use time-limited blocking for TX
  components/driver/include/driver/usb_serial_jtag.h
  components/driver/usb_serial_jtag.c
  components/vfs/vfs_usb_serial_jtag.c
  docs/en/api-guides/usb-serial-jtag-console.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

[Heap Trace Standalone] improvements to formatting, code, comments
  components/app_trace/heap_trace_tohost.c
  components/heap/heap_trace_standalone.c
  components/heap/include/esp_heap_trace.h
  docs/en/api-reference/system/heap_debug.rst
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Fixed some memory was not released after bluetooth controller initialization failed on ESP32-C3 and ESP32-S3
  components/bt/controller/esp32c3/bt.c
  components/bt/controller/esp32s3/bt.c
Due: none

docs: fix path to SYSVIEW_FreeRTOS.txt
  docs/en/api-guides/app_trace.rst
  docs/zh_CN/api-guides/app_trace.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Distinguish 4 identical log messages
  components/esp-tls/esp_tls_mbedtls.c
Due: none

Explicitly log an invalid digest in DS data
  components/mbedtls/port/esp_ds/esp_rsa_sign_alt.c
Due: none

Fix type of cast
  components/esp_http_server/src/httpd_main.c
Due: none

Fix bad initiailisation in RMT
  components/driver/deprecated/driver/rmt_types_legacy.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

docs: fix the number of breakpoints and watchpoints for RISC-V chips
  docs/en/api-guides/jtag-debugging/tips-and-quirks.rst
  docs/zh_CN/api-guides/jtag-debugging/tips-and-quirks.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: translate uart
  docs/en/api-reference/peripherals/uart.rst
  docs/zh_CN/api-reference/peripherals/uart.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Nimble: Support maximum number of connections to 9 on ESP32-C3 and ESP32-S3
  components/bt/host/nimble/Kconfig.in
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

freertos(IDF): Update documentation on spinlock initialization and usage
  docs/en/api-guides/freertos-smp.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Set errno in adjtime if newlib time funcs are not implemented
  components/newlib/time.c
Due: none

Set errno in adjtime if delta is too large
  components/newlib/time.c
Due: none

correct the SR_mode selection when konw nothing about Peripheral
  components/bt/host/bluedroid/stack/l2cap/l2c_utils.c
Due: none

Added reporting for ACL link related events to application
  components/bt/host/bluedroid/api/include/api/esp_bt_defs.h
  components/bt/host/bluedroid/api/include/api/esp_gap_bt_api.h
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
  components/bt/host/bluedroid/bta/include/bta/bta_api.h
  components/bt/host/bluedroid/btc/core/btc_dm.c
  components/bt/host/bluedroid/stack/btm/btm_acl.c
  components/bt/host/bluedroid/stack/btm/include/btm_int.h
  components/bt/host/bluedroid/stack/btu/btu_hcif.c
  components/bt/host/bluedroid/stack/include/stack/acl_hci_link_interface.h
  components/bt/host/bluedroid/stack/include/stack/btm_api.h
  components/bt/host/bluedroid/stack/include/stack/l2cap_hci_link_interface.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Added ACL link related events handler in A2DP sink GAP callback
  examples/bluetooth/bluedroid/classic_bt/a2dp_sink/main/main.c
Due: none

twai: fix coverity warnings
  components/driver/twai.c
Due: none

gpio: support glitch filter
  components/driver/CMakeLists.txt
  components/driver/gpio/glitch_filter_priv.h
  components/driver/gpio/gpio_flex_glitch_filter.c
  components/driver/gpio/gpio_glitch_filter_ops.c
  components/driver/gpio/gpio_pin_glitch_filter.c
  components/driver/include/driver/gpio_filter.h
  components/driver/test_apps/gpio/main/CMakeLists.txt
  components/driver/test_apps/gpio/main/test_gpio_filter.c
  components/hal/esp32c2/include/hal/gpio_ll.h
  components/hal/esp32c3/include/hal/gpio_ll.h
  components/hal/esp32c6/include/hal/gpio_glitch_filter_ll.h
  components/hal/esp32c6/include/hal/gpio_ll.h
  components/hal/esp32h4/include/rev1/hal/gpio_ll.h
  components/hal/esp32h4/include/rev2/hal/gpio_ll.h
  components/hal/esp32s2/include/hal/gpio_ll.h
  components/hal/esp32s3/include/hal/gpio_ll.h
  components/soc/esp32c2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c2/include/soc/io_mux_reg.h
  components/soc/esp32c2/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c3/include/soc/io_mux_reg.h
  components/soc/esp32c3/include/soc/soc_caps.h
  components/soc/esp32c6/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c6/include/soc/gpio_ext_struct.h
  components/soc/esp32c6/include/soc/io_mux_reg.h
  components/soc/esp32c6/include/soc/soc_caps.h
  components/soc/esp32h4/include/rev1/soc/io_mux_reg.h
  components/soc/esp32h4/include/rev2/soc/io_mux_reg.h
  components/soc/esp32h4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h4/include/soc/soc_caps.h
  components/soc/esp32s2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s2/include/soc/io_mux_reg.h
  components/soc/esp32s2/include/soc/soc_caps.h
  components/soc/esp32s3/include/soc/Kconfig.soc_caps.in
  components/soc/esp32s3/include/soc/io_mux_reg.h
  components/soc/esp32s3/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

doc: gpio glitch filter
  docs/docs_not_updated/esp32c6.txt
  docs/doxygen/Doxyfile
  docs/en/api-reference/peripherals/gpio.rst
  docs/zh_CN/api-reference/peripherals/gpio.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Remove `-Wno-format` compile option for bluedroid BLE examples
  examples/bluetooth/bluedroid/ble/ble_ancs/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_ancs/main/ble_ancs.c
  examples/bluetooth/bluedroid/ble/ble_ancs/main/ble_ancs_demo.c
  examples/bluetooth/bluedroid/ble/ble_compatibility_test/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_compatibility_test/main/ble_compatibility_test.c
  examples/bluetooth/bluedroid/ble/ble_eddystone/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_eddystone/main/esp_eddystone_demo.c
  examples/bluetooth/bluedroid/ble/ble_spp_client/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_spp_client/main/spp_client_demo.c
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_client/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_client/main/example_ble_client_throughput.c
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_server/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_server/main/example_ble_server_throughput.c
  examples/bluetooth/bluedroid/ble/gatt_security_client/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/gatt_security_client/main/example_ble_sec_gattc_demo.c
  examples/bluetooth/bluedroid/ble/gatt_security_server/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/gatt_security_server/main/example_ble_sec_gatts_demo.c
  examples/bluetooth/bluedroid/ble/gatt_server/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/gatt_server/main/gatts_demo.c
  examples/bluetooth/bluedroid/ble_50/ble50_security_client/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble_50/ble50_security_client/main/ble50_sec_gattc_demo.c
  examples/bluetooth/bluedroid/ble_50/ble50_security_server/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble_50/ble50_security_server/main/ble50_sec_gatts_demo.c
Due: none

bluedroid: support oob pairing for smp secure connection
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/bta/dm/bta_dm_act.c
  components/bt/host/bluedroid/bta/dm/bta_dm_api.c
  components/bt/host/bluedroid/bta/dm/bta_dm_co.c
  components/bt/host/bluedroid/bta/dm/bta_dm_main.c
  components/bt/host/bluedroid/bta/dm/include/bta_dm_int.h
  components/bt/host/bluedroid/bta/include/bta/bta_api.h
  components/bt/host/bluedroid/btc/core/btc_dm.c
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_ble.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_gap_ble.h
  components/bt/host/bluedroid/stack/btm/btm_ble.c
  components/bt/host/bluedroid/stack/include/stack/btm_api.h
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
  components/bt/host/bluedroid/stack/include/stack/smp_api.h
  components/bt/host/bluedroid/stack/smp/include/smp_int.h
  components/bt/host/bluedroid/stack/smp/smp_act.c
  components/bt/host/bluedroid/stack/smp/smp_api.c
  components/bt/host/bluedroid/stack/smp/smp_keys.c
  components/bt/host/bluedroid/stack/smp/smp_utils.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bluedroid: support GATT robust caching feature
  components/bt/host/bluedroid/bta/gatt/bta_gatts_co.c
  components/bt/host/bluedroid/bta/include/bta/bta_gatts_co.h
  components/bt/host/bluedroid/btc/core/btc_ble_storage.c
  components/bt/host/bluedroid/btc/core/btc_dm.c
  components/bt/host/bluedroid/btc/include/btc/btc_ble_storage.h
  components/bt/host/bluedroid/stack/gatt/gatt_api.c
  components/bt/host/bluedroid/stack/gatt/gatt_attr.c
  components/bt/host/bluedroid/stack/gatt/gatt_sr.c
  components/bt/host/bluedroid/stack/gatt/gatt_utils.c
  components/bt/host/bluedroid/stack/gatt/include/gatt_int.h
  components/bt/host/bluedroid/stack/include/stack/gatt_api.h
  components/bt/host/bluedroid/stack/include/stack/gattdefs.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bluedroid: add config for GAP service and periodic adv sync transfer
  components/bt/host/bluedroid/Kconfig.in
  components/bt/host/bluedroid/bta/dm/bta_dm_api.c
  components/bt/host/bluedroid/common/include/common/bluedroid_user_config.h
  components/bt/host/bluedroid/common/include/common/bt_target.h
  components/bt/host/bluedroid/stack/btm/btm_ble_5_gap.c
  components/bt/host/bluedroid/stack/btu/btu_hcif.c
  components/bt/host/bluedroid/stack/gap/gap_ble.c
  components/bt/host/bluedroid/stack/hcic/hciblecmds.c
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
  components/bt/host/bluedroid/stack/include/stack/hcidefs.h
  components/bt/host/bluedroid/stack/include/stack/hcimsgs.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bluedroid: support periodic advertising sync transfer cmd
  components/bt/host/bluedroid/bta/dm/bta_dm_api.c
  components/bt/host/bluedroid/stack/btm/btm_ble_5_gap.c
  components/bt/host/bluedroid/stack/btu/btu_hcif.c
  components/bt/host/bluedroid/stack/hcic/hciblecmds.c
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
  components/bt/host/bluedroid/stack/include/stack/hcidefs.h
  components/bt/host/bluedroid/stack/include/stack/hcimsgs.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bluedroid: support LE L2CAP credit based connection
  components/bt/host/bluedroid/stack/include/stack/l2cdefs.h
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bluedroid: add internal GATT API for PTS
  components/bt/host/bluedroid/bta/gatt/bta_gattc_act.c
  components/bt/host/bluedroid/bta/gatt/bta_gattc_api.c
  components/bt/host/bluedroid/bta/gatt/bta_gattc_cache.c
  components/bt/host/bluedroid/bta/gatt/bta_gatts_api.c
  components/bt/host/bluedroid/bta/gatt/include/bta_gattc_int.h
  components/bt/host/bluedroid/stack/gatt/att_protocol.c
  components/bt/host/bluedroid/stack/gatt/gatt_api.c
  components/bt/host/bluedroid/stack/gatt/gatt_cl.c
  components/bt/host/bluedroid/stack/gatt/gatt_db.c
  components/bt/host/bluedroid/stack/gatt/gatt_main.c
  components/bt/host/bluedroid/stack/gatt/gatt_sr.c
  components/bt/host/bluedroid/stack/gatt/include/gatt_int.h
  components/bt/host/bluedroid/stack/include/stack/gatt_api.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bluedroid: support GATT services database hash calculate
  components/bt/CMakeLists.txt
  components/bt/host/bluedroid/stack/gatt/gatt_sr_hash.c
Due: none

bluedroid: add config for robust caching and RPA timeout
  components/bt/host/bluedroid/Kconfig.in
  components/bt/host/bluedroid/common/include/common/bluedroid_user_config.h
  components/bt/host/bluedroid/common/include/common/bt_target.h
  components/bt/host/bluedroid/stack/btm/include/btm_ble_int.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

linux target: add support for building esp_hw_support, soc and hal components for linux target
  .gitlab/ci/host-test.yml
  components/esp_hw_support/.build-test-rules.yml
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/Kconfig
  components/esp_hw_support/host_test/host_test_linux/CMakeLists.txt
  components/esp_hw_support/host_test/host_test_linux/README.md
  components/esp_hw_support/host_test/host_test_linux/main/CMakeLists.txt
  components/esp_hw_support/host_test/host_test_linux/main/test_hw_support_linux.c
  components/esp_hw_support/host_test/host_test_linux/sdkconfig.defaults
  components/esp_hw_support/include/esp_chip_info.h
  components/esp_hw_support/port/linux/chip_info.c
  components/esp_hw_support/port/linux/esp_random.c
  components/hal/CMakeLists.txt
  components/soc/CMakeLists.txt
  components/soc/linux/CMakeLists.txt
  components/soc/linux/include/soc/soc_caps.h
  tools/cmake/build.cmake
  tools/mocks/driver/CMakeLists.txt
  tools/mocks/soc/include/soc/soc_caps.h
  tools/test_apps/linux_compatible/hello_world_linux_compatible/main/CMakeLists.txt
  tools/test_apps/linux_compatible/hello_world_linux_compatible/main/hello_world_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

examples: fix ble hid led output report
  examples/bluetooth/bluedroid/ble/ble_hid_device_demo/main/ble_hidd_demo_main.c
  examples/bluetooth/bluedroid/ble/ble_hid_device_demo/main/esp_hidd_prf_api.h
  examples/bluetooth/bluedroid/ble/ble_hid_device_demo/main/hid_device_le_prf.c
  examples/bluetooth/bluedroid/ble/ble_hid_device_demo/main/hidd_le_prf_int.h
Due: none

bluedroid: fix ble connection update with same params
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
Due: none

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*
