Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

fix(ble/bluedroid): Fix potential uint32_t overflow in BLE btu_start_timer
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/stack/btu/btu_task.c
  examples/bluetooth/bluedroid/ble/ble_eddystone_receiver/main/esp_eddystone_demo.c
  examples/bluetooth/bluedroid/ble/ble_ibeacon/main/ibeacon_demo.c
  examples/bluetooth/bluedroid/ble/ble_spp_client/main/spp_client_demo.c
  examples/bluetooth/bluedroid/ble/gatt_client/main/gattc_demo.c
  examples/bluetooth/bluedroid/ble/gatt_security_client/main/example_ble_sec_gattc_demo.c
  examples/bluetooth/bluedroid/ble/gattc_multi_connect/main/gattc_multi_connect.c
  examples/bluetooth/bluedroid/coex/gattc_gatts_coex/main/gattc_gatts_coex.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix: pytest did not recognize test cases
  .gitlab/ci/target-test.yml
  components/esp_wifi/test_apps/.build-test-rules.yml
  components/esp_wifi/test_apps/wifi_connect/pytest_wifi_connect.py
  components/esp_wifi/test_apps/wifi_function/pytest_wifi_function.py
  components/wpa_supplicant/test_apps/pytest_wpa_supplicant_ut.py
  examples/bluetooth/nimble/pytest_nimble_test.py
  examples/wifi/getting_started/pytest_wifi_getting_started.py
  examples/wifi/power_save/pytest_wifi_power_save.py
  tools/ci/idf_pytest/constants.py
  tools/test_apps/phy/phy_tsens/pytest_phy_tsens.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(adc): fix s2 cali loss resolution
  components/esp_adc/esp32s2/adc_cali_line_fitting.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): add configuration command during RF testing
  examples/bluetooth/bluedroid/ble/ble_spp_server/main/Kconfig.projbuild
  examples/bluetooth/bluedroid/ble/ble_spp_server/main/ble_spp_server_demo.c
  examples/bluetooth/bluedroid/ble/ble_spp_server/main/rf_tesing_configuration_cmd.c
  examples/bluetooth/bluedroid/ble/ble_spp_server/main/rf_tesing_configuration_cmd.h
Due: none

feat(bt/bluedroid): Added throughput mode for BLE SPP example
  examples/bluetooth/bluedroid/ble/ble_spp_client/main/Kconfig.projbuild
  examples/bluetooth/bluedroid/ble/ble_spp_client/main/spp_client_demo.c
  examples/bluetooth/bluedroid/ble/ble_spp_server/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_spp_server/main/Kconfig.projbuild
  examples/bluetooth/bluedroid/ble/ble_spp_server/main/ble_spp_server_demo.c
Due: none

feat(bt/bluedroid): Added BLE eddystone sender example
  examples/bluetooth/bluedroid/ble/ble_eddystone_receiver/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_eddystone_receiver/README.md
  examples/bluetooth/bluedroid/ble/ble_eddystone_receiver/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_eddystone_receiver/main/esp_eddystone_api.c
  examples/bluetooth/bluedroid/ble/ble_eddystone_receiver/main/esp_eddystone_api.h
  examples/bluetooth/bluedroid/ble/ble_eddystone_receiver/main/esp_eddystone_demo.c
  examples/bluetooth/bluedroid/ble/ble_eddystone_receiver/main/esp_eddystone_protocol.h
  examples/bluetooth/bluedroid/ble/ble_eddystone_receiver/sdkconfig.defaults
  examples/bluetooth/bluedroid/ble/ble_eddystone_receiver/sdkconfig.defaults.esp32c2
  examples/bluetooth/bluedroid/ble/ble_eddystone_receiver/sdkconfig.defaults.esp32c3
  examples/bluetooth/bluedroid/ble/ble_eddystone_receiver/sdkconfig.defaults.esp32s3
  examples/bluetooth/bluedroid/ble/ble_eddystone_sender/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_eddystone_sender/README.md
  examples/bluetooth/bluedroid/ble/ble_eddystone_sender/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_eddystone_sender/main/Kconfig.projbuild
  examples/bluetooth/bluedroid/ble/ble_eddystone_sender/main/esp_eddystone_api.h
  examples/bluetooth/bluedroid/ble/ble_eddystone_sender/main/esp_eddystone_demo.c
  examples/bluetooth/bluedroid/ble/ble_eddystone_sender/main/esp_eddystone_protocol.h
  examples/bluetooth/bluedroid/ble/ble_eddystone_sender/sdkconfig.defaults
  examples/bluetooth/bluedroid/ble/ble_eddystone_sender/sdkconfig.defaults.esp32c2
  examples/bluetooth/bluedroid/ble/ble_eddystone_sender/sdkconfig.defaults.esp32c3
  examples/bluetooth/bluedroid/ble/ble_eddystone_sender/sdkconfig.defaults.esp32s3
Due: check_readme_links

fix(touch): fixed tie option take no effect
  components/hal/esp32/include/hal/touch_sensor_ll.h
  components/hal/esp32s2/include/hal/touch_sensor_ll.h
  components/hal/esp32s3/include/hal/touch_sensor_ll.h
  components/hal/include/hal/touch_sensor_types.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_driver_uart): add ci test for hp uart wakeup modes
  components/esp_driver_uart/test_apps/uart/main/CMakeLists.txt
  components/esp_driver_uart/test_apps/uart/main/test_hp_uart_wakeup.c
  components/esp_driver_uart/test_apps/uart/pytest_uart.py
Due: gen_integration_pipeline, child_integration_test_pipeline

change(example): add support for hp uart wakeup mode 1 2 3
  examples/system/light_sleep/main/Kconfig.projbuild
  examples/system/light_sleep/main/uart_wakeup.c
Due: none

feat(esp_driver_i2s): add CONFIG_I2S_FORCE_FRAC_DIVISOR option
  components/esp_driver_i2s/Kconfig
  components/esp_driver_i2s/i2s_pdm.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(i2s_hal): Set correct divisor calculation
  components/hal/i2s_hal.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): avoid l32r dangerous relocation error
  components/esp_hw_support/CMakeLists.txt
  components/esp_hw_support/sleep_modes.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_driver_i2s): Add I2S_CLK_SRC_PLL_D2 source option
  components/hal/esp32s3/include/hal/i2s_ll.h
  components/soc/esp32s3/include/soc/clk_tree_defs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_adc): Allow disableing ringbuffer
  components/esp_adc/adc_continuous.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(adc_hal): option to calc precise clk divisor
  components/esp_adc/Kconfig
  components/hal/adc_hal.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(adc_hal): Fix rounding clock parameters
  components/hal/adc_hal.c
  components/hal/esp32s3/include/hal/adc_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(esp_adc): option to set number of DMA buffers
  components/esp_adc/Kconfig
  components/esp_adc/adc_continuous.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(upl): Fix symbol definition to 1
  components/ulp/cmake/IDFULPProject.cmake
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ulp): LP Timer interrupt example
  examples/system/ulp/lp_core/lp_timer_interrupt/CMakeLists.txt
  examples/system/ulp/lp_core/lp_timer_interrupt/README.md
  examples/system/ulp/lp_core/lp_timer_interrupt/main/CMakeLists.txt
  examples/system/ulp/lp_core/lp_timer_interrupt/main/lp_core/main.c
  examples/system/ulp/lp_core/lp_timer_interrupt/main/lp_interrupts_main.c
  examples/system/ulp/lp_core/lp_timer_interrupt/sdkconfig.defaults
Due: check_readme_links

feat(ulp): LP Timer interrupt support
  components/hal/esp32c5/include/hal/lp_timer_ll.h
  components/hal/esp32c6/include/hal/lp_timer_ll.h
  components/hal/esp32c61/include/hal/lp_timer_ll.h
  components/hal/esp32h2/include/hal/lp_timer_ll.h
  components/hal/esp32p4/include/hal/lp_timer_ll.h
  components/ulp/lp_core/lp_core/include/ulp_lp_core_utils.h
  components/ulp/lp_core/lp_core/lp_core_utils.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt): Update bt lib for ESP32-C3 and ESP32-S3(a684dd5)
  components/esp_rom/esp32c3/ld/esp32c3.rom.bt_funcs.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.bt_funcs.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ble): support ble sleep using 136 kHz RC on ESP32-C6
  components/bt/controller/esp32c6/Kconfig.in
  components/bt/controller/esp32c6/bt.c
  components/bt/include/esp32c6/include/esp_bt.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(ble): support ble sleep using 136 kHz RC on ESP32-H2
  components/bt/controller/esp32h2/Kconfig.in
  components/bt/controller/esp32h2/bt.c
  components/bt/include/esp32c2/include/esp_bt.h
  components/bt/include/esp32h2/include/esp_bt.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp32): Fixed qa program may fail issue when cpu 240m (v5.4)
  components/esp_hw_support/port/esp32/include/soc/rtc.h
  components/esp_hw_support/port/esp32/rtc_clk.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp32): Fixed qa program may fail issue when cpu 240m (v5.1)
  components/esp_hw_support/port/esp32/rtc_clk.c
  components/soc/esp32/include/soc/rtc.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Fixed the scan information error in LR only mode
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fixed the espnow data length error in example
  examples/wifi/espnow/main/Kconfig.projbuild
Due: none

fix(wifi): fix the noise floor error on ESP32C5
  components/esp_wifi/include/esp_wifi_he_types.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi/vendor): separate the lr bit in phy mode for station and softAP
  components/esp_rom/esp32c2/ld/esp32c2.rom.eco4.ld
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_rom/esp32c5/ld/esp32c5.rom.pp.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.pp.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(docs): update connectionless module window syncronization documentation
  docs/en/api-guides/wifi.rst
  docs/zh_CN/api-guides/wifi.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(wifi): update the description for esp_mesh_send() return value
  components/esp_wifi/include/esp_mesh.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Fixed the max log level not work when it exceeds the default log level
  examples/wifi/getting_started/station/main/station_example_main.c
Due: none

fix(docs): update max data length in espnow doc
  docs/en/api-reference/network/esp_now.rst
  docs/zh_CN/api-reference/network/esp_now.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(wifi): fix the ESPNOW data length issue and connection issue
  components/esp_wifi/include/esp_now.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline
