Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
      - esp32c6
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG: en
      DOCTGT: esp32
    - DOCLANG: zh_CN
      DOCTGT: esp32p4
  needs:
  - job: fast_template_app
    artifacts: false
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
      - esp32c6
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - assign_test
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

fix(mbedtls/gcm): Add support for software fallback for non-AES ciphers in a GCM operation
  components/mbedtls/Kconfig
  components/mbedtls/port/aes/esp_aes_gcm.c
  components/mbedtls/port/include/aes/esp_aes_gcm.h
  components/mbedtls/port/include/mbedtls/esp_config.h
  components/mbedtls/port/include/mbedtls/gcm.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

ci(mbedtls/gcm): Added test to verify software fallback for non-AES cipher GCM operations
  components/mbedtls/test_apps/main/test_gcm.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(openthread): configurations for openthread examples
  examples/openthread/ot_br/sdkconfig.defaults.esp32s2
  examples/openthread/ot_cli/partitions.csv
Due: none

feat: support cache safe assertion check in sleep process - Add support for cache safe assertion check to ensure that code expected to be in RAM is in IRAM
  components/esp_hw_support/Kconfig
  components/esp_hw_support/sleep_modes.c
  components/esp_system/test_apps/esp_system_unity_tests/sdkconfig.ci.pd_vddsdio
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix: Bump up pre-commit hooks version
  .pre-commit-config.yaml
Due: none

fix(bootloader): add legacy retained memory CRC calculation
  components/bootloader/Kconfig.projbuild
  components/bootloader_support/src/bootloader_common_loader.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): fix cache safe check function
  components/esp_hw_support/Kconfig
  components/esp_hw_support/sleep_modes.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(usb/host): Add missing sync types from USB specification
  components/usb/include/usb/usb_types_ch9.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(tools): add ESP_IDF_VERSION env var to v4.4
  tools/idf_tools.py
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): Fix esp_intr_free when taks has no core affinity
  components/esp_hw_support/intr_alloc.c
  components/esp_hw_support/test_apps/esp_hw_support_unity_tests/main/test_intr_alloc.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_hw_support): Fix esp_intr_free when taks has no core affinity
  components/esp_hw_support/intr_alloc.c
  components/esp_hw_support/test/test_intr_alloc.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci(esp_eth): run iperf over longer period for SPI ETH bridge
  examples/network/bridge/pytest_example_bridge.py
Due: none

fix(gcov): avoid multiple tick hook registration
  components/app_trace/gcov/gcov_rtio.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci: fix ESP32-P4 build failures in CI
  examples/protocols/.build-test-rules.yml
  examples/protocols/http_server/restful_server/sdkconfig.defaults.esp32p4
  examples/protocols/https_request/README.md
  examples/system/.build-test-rules.yml
  examples/system/ota/advanced_https_ota/README.md
  examples/system/ota/simple_ota_example/README.md
Due: check_readme_links

fix(tools): do not use builtin memcpy/memset/strcpy on xtensa chips
  tools/cmake/toolchain-esp32.cmake
  tools/cmake/toolchain-esp32s2.cmake
  tools/cmake/toolchain-esp32s3.cmake
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Update maximum BLE reconnection attempts configuration
  components/bt/host/bluedroid/Kconfig.in
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

bugfix(ble) : fixed some ble issues on ESP32-C2
  components/bt/controller/esp32c2/bt.c
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(coex): improve Wi-Fi connecting compatibility at coexistence
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.eco7.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.pp.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

example: add custom partition table for mesh manual networking
  examples/mesh/manual_networking/partitions.csv
  examples/mesh/manual_networking/sdkconfig.defaults
Due: none

refactor(core): reformat newlib and pthread with astyle
  components/newlib/abort.c
  components/newlib/assert.c
  components/newlib/heap.c
  components/newlib/locks.c
  components/newlib/newlib_init.c
  components/newlib/platform_include/assert.h
  components/newlib/platform_include/endian.h
  components/newlib/platform_include/errno.h
  components/newlib/platform_include/net/if.h
  components/newlib/platform_include/sys/dirent.h
  components/newlib/platform_include/sys/lock.h
  components/newlib/platform_include/sys/reent.h
  components/newlib/platform_include/sys/select.h
  components/newlib/platform_include/sys/termios.h
  components/newlib/platform_include/sys/un.h
  components/newlib/poll.c
  components/newlib/port/esp_time_impl.c
  components/newlib/realpath.c
  components/newlib/reent_init.c
  components/newlib/stdatomic.c
  components/newlib/syscalls.c
  components/newlib/test_apps/newlib/main/test_atomic.c
  components/newlib/test_apps/newlib/main/test_misc.c
  components/newlib/test_apps/newlib/main/test_newlib.c
  components/newlib/test_apps/newlib/main/test_setjmp.c
  components/newlib/test_apps/newlib/main/test_stdatomic.c
  components/newlib/test_apps/newlib/main/test_time.c
  components/newlib/time.c
  components/pthread/pthread.c
  components/pthread/pthread_cond_var.c
  components/pthread/pthread_local_storage.c
  components/pthread/pthread_rwlock.c
  components/pthread/pthread_semaphore.c
  components/pthread/test_apps/pthread_unity_tests/main/test_app_main.c
  components/pthread/test_apps/pthread_unity_tests/main/test_cxx_cond_var.cpp
  components/pthread/test_apps/pthread_unity_tests/main/test_cxx_std_future.cpp
  components/pthread/test_apps/pthread_unity_tests/main/test_pthread.c
  components/pthread/test_apps/pthread_unity_tests/main/test_pthread_local_storage.c
  tools/ci/astyle-rules.yml
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs: add command example to get-started/establish-serial-connection
  docs/en/get-started/establish-serial-connection.rst
  docs/zh_CN/get-started/establish-serial-connection.rst
  docs/zh_CN/index.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

change(driver/twai): Update TWAI message object initialization examples
  docs/en/api-reference/peripherals/twai.rst
  examples/peripherals/twai/twai_alert_and_recovery/main/twai_alert_and_recovery_example_main.c
  examples/peripherals/twai/twai_network/twai_network_master/main/twai_network_example_master_main.c
  examples/peripherals/twai/twai_network/twai_network_slave/main/twai_network_example_slave_main.c
  examples/peripherals/twai/twai_self_test/main/twai_self_test_example_main.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Revert "Merge branch 'ci/ignore_c6_wifi_two_dut_runners' into 'master'"
  tools/ci/dynamic_pipelines/templates/known_generate_test_child_pipeline_warnings.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

change(version): Update version to 4.4.7
  components/esp_common/include/esp_idf_version.h
  make/version.mk
  tools/cmake/version.cmake
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(linux_target): fix esp_err_to_name failing to compile on linux
  components/esp_common/CMakeLists.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(gpio): add gpio fun sellect api
  components/esp_driver_gpio/include/esp_private/gpio.h
  components/esp_driver_gpio/src/gpio.c
  components/esp_eth/src/esp_eth_mac_esp_gpio.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(i2c): Modify the test memory leak check threshold and add more file pattern
  components/driver/test_apps/.build-test-rules.yml
  components/driver/test_apps/legacy_i2c_driver/main/test_app_main.c
  components/esp_driver_i2c/test_apps/.build-test-rules.yml
  components/esp_driver_i2c/test_apps/i2c_test_apps/main/test_app_main.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(mipi_dsi): support multiple frame buffers
  components/esp_lcd/dsi/esp_lcd_panel_dpi.c
  components/esp_lcd/dsi/include/esp_lcd_mipi_dsi.h
  components/esp_lcd/dsi/mipi_dsi_priv.h
  components/esp_lcd/include/esp_lcd_panel_ops.h
  components/esp_lcd/interface/esp_lcd_panel_interface.h
  components/esp_lcd/src/esp_lcd_panel_ops.c
  components/esp_lcd/test_apps/mipi_dsi_lcd/main/test_mipi_dsi_panel.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(dw_gdma): support change link list item connection
  components/esp_hw_support/dma/dw_gdma.c
  components/esp_hw_support/dma/include/esp_private/dw_gdma.h
  components/hal/esp32p4/include/hal/cache_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
