Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG: en
      DOCTGT: esp32
    - DOCLANG: zh_CN
      DOCTGT: esp32c6
  artifacts:
    when: always
    paths:
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

feat(apptrace): Added sensor data visualization example
  examples/system/app_trace_to_plot/CMakeLists.txt
  examples/system/app_trace_to_plot/README.md
  examples/system/app_trace_to_plot/data.json
  examples/system/app_trace_to_plot/main/CMakeLists.txt
  examples/system/app_trace_to_plot/main/app_trace_to_plot.c
  examples/system/app_trace_to_plot/read_trace.py
  examples/system/app_trace_to_plot/sdkconfig.defaults
  tools/ci/check_requirement_files.py
  tools/ci/executable-list.txt
  tools/esp_app_trace/espytrace/apptrace.py
  tools/esp_app_trace/logtrace_proc.py
Due: check_readme_links

spi_flash: fix concurrency issue when calling esp_flash apis under xip_psram or auto_suspen
  components/spi_flash/spi_flash_os_func_app.c
Due: none

spiflash: added esp_flash API concurrency pressure test
  components/spi_flash/test_apps/esp_flash_stress/CMakeLists.txt
  components/spi_flash/test_apps/esp_flash_stress/README.md
  components/spi_flash/test_apps/esp_flash_stress/main/CMakeLists.txt
  components/spi_flash/test_apps/esp_flash_stress/main/test_app_main.c
  components/spi_flash/test_apps/esp_flash_stress/main/test_esp_flash_stress.c
  components/spi_flash/test_apps/esp_flash_stress/partitions.csv
  components/spi_flash/test_apps/esp_flash_stress/pytest_esp_flash_stress.py
  components/spi_flash/test_apps/esp_flash_stress/sdkconfig.ci.esp32c3_suspend
  components/spi_flash/test_apps/esp_flash_stress/sdkconfig.ci.esp32s3_f8r8
  components/spi_flash/test_apps/esp_flash_stress/sdkconfig.ci.esp32s3_rom_xip_psram
  components/spi_flash/test_apps/esp_flash_stress/sdkconfig.ci.release
  components/spi_flash/test_apps/esp_flash_stress/sdkconfig.defaults
Due: build_docs_html_partial

spi_flash: rename spi_flash_os_func_app: spi_start, spi_end
  components/spi_flash/spi_flash_os_func_app.c
Due: none

feat(spi_flash): add common test_flash_utils component
  components/spi_flash/test_apps/components/test_flash_utils/CMakeLists.txt
  components/spi_flash/test_apps/components/test_flash_utils/include/test_flash_utils.h
  components/spi_flash/test_apps/components/test_flash_utils/test_flash_utils.c
  components/spi_flash/test_apps/esp_flash_stress/CMakeLists.txt
  components/spi_flash/test_apps/esp_flash_stress/main/CMakeLists.txt
  components/spi_flash/test_apps/esp_flash_stress/main/test_app_main.c
  components/spi_flash/test_apps/esp_flash_stress/main/test_esp_flash_stress.c
Due: build_docs_html_partial

spiflash: fix not calling on_spi_acquired when CONFIG_SPI_FLASH_SHARE_SPI1_BUS issue
  components/spi_flash/spi_flash_os_func_app.c
Due: none

refactor(driver/gptimer): replace vTaskDelay with esp_rom_delay_us in test_apps
  components/driver/test_apps/gptimer/main/test_gptimer.c
Due: none

feat(soc): Rename pwm_reg.h to mcpwm_reg.h
  components/soc/esp32p4/include/soc/mcpwm_reg.h
  components/soc/esp32p4/include/soc/mcpwm_struct.h
Due: build_docs_html_partial

feat(soc): Merge spi2_reg.h and spi3_reg.h
  components/soc/esp32p4/include/soc/spi2_s_struct.h
  components/soc/esp32p4/include/soc/spi3_reg.h
  components/soc/esp32p4/include/soc/spi_reg.h
  components/soc/esp32p4/include/soc/spi_struct.h
Due: build_docs_html_partial

sleep: enable sleep reject when entering deep sleep and return err if sleep request is rejected
  components/esp_hw_support/include/esp_sleep.h
  components/esp_hw_support/sleep_modes.c
Due: build_docs_html_partial

ci: fix failed ci test jobs
  components/esp_hw_support/test_apps/rtc_clk/main/test_rtc_clk.c
  components/esp_system/test_apps/esp_system_unity_tests/main/test_sleep.c
  examples/peripherals/timer_group/gptimer/pytest_gptimer_example.py
Due: none

register changes
  components/soc/esp32p4/include/soc/i2c_reg.h
  components/soc/esp32p4/include/soc/i2s_reg.h
  components/soc/esp32p4/include/soc/lp_analog_peri_reg.h
  components/soc/esp32p4/include/soc/lp_analog_peri_struct.h
  components/soc/esp32p4/include/soc/lp_i2c_reg.h
  components/soc/esp32p4/include/soc/lp_i2c_struct.h
  components/soc/esp32p4/include/soc/lp_intr_reg.h
  components/soc/esp32p4/include/soc/lp_intr_struct.h
  components/soc/esp32p4/include/soc/lp_spi_reg.h
  components/soc/esp32p4/include/soc/lp_sys_reg.h
  components/soc/esp32p4/include/soc/lp_system_reg.h
  components/soc/esp32p4/include/soc/lp_system_struct.h
  components/soc/esp32p4/include/soc/lpperi_reg.h
  components/soc/esp32p4/include/soc/lpperi_struct.h
  components/soc/esp32p4/include/soc/rmt_reg.h
  components/soc/esp32p4/include/soc/spi_reg.h
  components/soc/esp32p4/include/soc/spi_struct.h
  components/soc/esp32p4/include/soc/sys_timer_reg.h
  components/soc/esp32p4/include/soc/sys_timer_struct.h
  components/soc/esp32p4/include/soc/timer_group_reg.h
  components/soc/esp32p4/include/soc/timer_group_struct.h
  components/soc/esp32p4/include/soc/twai_reg.h
  components/soc/esp32p4/include/soc/uart_reg.h
  components/soc/esp32p4/include/soc/wdev_reg.h
Due: build_docs_html_partial

esp_hw_support: add modem module mac reset api
  components/esp_hw_support/include/esp_private/esp_modem_clock.h
  components/esp_hw_support/modem_clock.c
  components/hal/esp32c6/include/hal/clk_gate_ll.h
  components/hal/esp32c6/include/hal/modem_lpcon_ll.h
  components/hal/esp32c6/include/hal/modem_syscon_ll.h
  components/hal/esp32h2/include/hal/modem_lpcon_ll.h
  components/hal/esp32h2/include/hal/modem_syscon_ll.h
Due: build_docs_html_partial

esp_wifi: implement wifi_reset_mac_wrapper
  components/esp_wifi/esp32c6/esp_adapter.c
Due: none

btc_sdp: add_raw_sdp: fix 32 and 128-bit uuid configuration
  components/bt/host/bluedroid/btc/profile/std/sdp/btc_sdp.c
Due: none

fix a typo in api-reference/system/ota
  docs/zh_CN/api-reference/system/ota.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

IEEE802154: match C6 max txpower value with datasheet
  components/hal/esp32c6/include/hal/ieee802154_ll.h
  components/hal/esp32h2/include/hal/ieee802154_ll.h
  components/ieee802154/driver/esp_ieee802154_pib.c
Due: build_docs_html_partial

bugfix: increase pm_dump time field width Closes https://github.com/espressif/esp-idf/issues/11704
  components/esp_pm/pm_locks.c
  tools/ci/check_copyright_ignore.txt
Due: none

docs: update installation prerequisites for Ubuntu and Debian system
  docs/en/get-started/linux-macos-setup.rst
  docs/zh_CN/get-started/linux-macos-setup.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: fix a typo in api-guides/usb-otg-console
  docs/en/api-guides/usb-otg-console.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: update code of how to configure multiple antennas of wifi
  docs/en/api-guides/wifi.rst
  docs/zh_CN/api-guides/wifi.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Optionally disable logs in espcoredump component
  components/espcoredump/Kconfig
  components/espcoredump/include_core_dump/esp_core_dump_types.h
Due: build_docs_html_partial

Added description to disable coredump logs to ram_usage.rst
  docs/en/api-guides/performance/ram-usage.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: update the number of interrupts for esp32h2
  docs/en/api-reference/system/intr_alloc.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

bugfix: fix bootloader print wrong spi speed mode
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32c6.c
Due: none

usb: fixed docs linking to deleted examples
  docs/en/api-reference/peripherals/usb_host.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: provide CN translation for linux-host-requirements.rst and external-ram-esp32-notes.rst
  docs/en/api-guides/external-ram.rst
  docs/en/api-guides/inc/external-ram-esp32-notes.rst
  docs/en/api-guides/inc/linux-host-requirements.rst
  docs/zh_CN/api-guides/external-ram.rst
  docs/zh_CN/api-guides/inc/external-ram-esp32-notes.rst
  docs/zh_CN/api-guides/inc/linux-host-requirements.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

ci: increase timeout threshold to solve deepsleep wakestub example ci failure
  examples/system/deep_sleep_wake_stub/pytest_deep_sleep_wake_stub.py
Due: none

Added support for write protection polarity for SDCard
  components/driver/sdmmc/include/driver/sdmmc_host.h
  components/driver/sdmmc/sdmmc_host.c
  components/driver/spi/include/driver/sdspi_host.h
  components/driver/spi/sdspi/sdspi_host.c
  components/sdmmc/test/test_sd.c
Due: build_docs_html_partial

feat(soc): modify mipi_csi_bridge_reg.h prefix
  components/soc/esp32p4/include/soc/mipi_csi_bridge_reg.h
  components/soc/esp32p4/include/soc/mipi_csi_bridge_struct.h
Due: build_docs_html_partial

feat(soc): updated mspi registers
  components/soc/esp32p4/include/soc/spi1_mem_c_reg.h
  components/soc/esp32p4/include/soc/spi1_mem_c_struct.h
  components/soc/esp32p4/include/soc/spi1_mem_s_reg.h
  components/soc/esp32p4/include/soc/spi1_mem_s_struct.h
  components/soc/esp32p4/include/soc/spi_mem_c_reg.h
  components/soc/esp32p4/include/soc/spi_mem_c_struct.h
  components/soc/esp32p4/include/soc/spi_mem_s_reg.h
  components/soc/esp32p4/include/soc/spi_mem_s_struct.h
Due: build_docs_html_partial

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
