Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

[bootloader_support/esp32h2] Enable flash encryption for esp32h2 target
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

hal/esp32h2: Enable ll layer for flash encryption
  components/hal/CMakeLists.txt
  components/hal/esp32h2/include/hal/spi_flash_encrypted_ll.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

docs: Ulpdated ULP docs to have the correct notes directive
  docs/en/api-reference/system/ulp-risc-v.rst
  docs/en/api-reference/system/ulp.rst
  docs/zh_CN/api-reference/system/ulp-risc-v.rst
  docs/zh_CN/api-reference/system/ulp.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

twai: Add errata workaround for listen only mode
  components/driver/Kconfig
  components/driver/twai.c
  components/hal/twai_hal.c
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

twai: Add errata workaround for listen only mode
  components/driver/Kconfig
  components/driver/twai.c
  components/hal/twai_hal.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

twai: Add errata workaround for listen only mode
  components/driver/Kconfig
  components/driver/twai.c
  components/soc/src/hal/twai_hal.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_wifi: support adapter of all chips for new coex lib
  components/bt/controller/esp32/bt.c
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_wifi/esp32/esp_adapter.c
  components/esp_wifi/esp32c2/esp_adapter.c
  components/esp_wifi/esp32c3/esp_adapter.c
  components/esp_wifi/esp32s2/esp_adapter.c
  components/esp_wifi/esp32s3/esp_adapter.c
  components/esp_wifi/include/esp_coexist_adapter.h
  components/esp_wifi/include/esp_coexist_internal.h
  components/esp_wifi/include/esp_private/wifi_os_adapter.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

bt: added coex adapter operation to get version of coexist module to ESP32 Bluetooth Controller
  components/bt/controller/esp32/bt.c
Due: none

bt: add coexistence internal API declarations and clean up some unused coexistence hooks
  components/bt/CMakeLists.txt
  components/bt/controller/esp32/bt.c
  components/bt/controller/esp32c2/bt.c
  components/bt/controller/esp32c3/bt.c
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h4/bt.c
  components/bt/controller/esp32s3/bt.c
  components/esp_coex/include/esp_coexist_internal.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_coex: correct wrapper names
  components/esp_coex/esp32/esp_coex_adapter.c
  components/esp_coex/esp32c2/esp_coex_adapter.c
  components/esp_coex/esp32c3/esp_coex_adapter.c
  components/esp_coex/esp32c6/esp_coex_adapter.c
  components/esp_coex/esp32s2/esp_coex_adapter.c
  components/esp_coex/esp32s3/esp_coex_adapter.c
  components/esp_coex/include/esp_modem_wrapper.h
  components/esp_wifi/esp32/esp_adapter.c
  components/esp_wifi/esp32c2/esp_adapter.c
  components/esp_wifi/esp32c3/esp_adapter.c
  components/esp_wifi/esp32c6/esp_adapter.c
  components/esp_wifi/esp32s2/esp_adapter.c
  components/esp_wifi/esp32s3/esp_adapter.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_wifi: move coex part from esp_wifi to esp_coex
  .gitlab/ci/pre_check.yml
  .gitlab/ci/rules.yml
  .gitmodules
  components/bt/CMakeLists.txt
  components/esp_coex/CMakeLists.txt
  components/esp_coex/Kconfig
  components/esp_coex/esp32/esp_coex_adapter.c
  components/esp_coex/esp32c2/esp_coex_adapter.c
  components/esp_coex/esp32c3/esp_coex_adapter.c
  components/esp_coex/esp32s2/esp_coex_adapter.c
  components/esp_coex/esp32s3/esp_coex_adapter.c
  components/esp_coex/include/esp_coexist.h
  components/esp_coex/include/esp_coexist_adapter.h
  components/esp_coex/include/esp_coexist_internal.h
  components/esp_coex/include/esp_modem_wrapper.h
  components/esp_coex/linker.lf
  components/esp_coex/sdkconfig.rename
  components/esp_coex/src/coexist.c
  components/esp_coex/test_md5/test_md5.sh
  components/esp_phy/src/phy_init.c
  components/esp_system/CMakeLists.txt
  components/esp_wifi/Kconfig
  components/esp_wifi/esp32/esp_adapter.c
  components/esp_wifi/esp32c2/esp_adapter.c
  components/esp_wifi/esp32c3/esp_adapter.c
  components/esp_wifi/esp32s2/esp_adapter.c
  components/esp_wifi/esp32s3/esp_adapter.c
  components/esp_wifi/linker.lf
  tools/ci/check_public_headers_exceptions.txt
  tools/ci/executable-list.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_coex: support i154 set coex pti
  components/esp_coex/Kconfig
  components/esp_coex/include/esp_coexist_i154.h
  components/esp_coex/test_md5/test_md5.sh
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_wifi: port coex adapter for esp32c6
  components/esp_coex/CMakeLists.txt
  components/esp_coex/esp32c6/esp_coex_adapter.c
  components/esp_coex/include/esp_modem_wrapper.h
  components/esp_wifi/esp32c6/esp_adapter.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_coex: correct Kconfig name
  components/esp_coex/CMakeLists.txt
  components/esp_coex/Kconfig
  components/esp_coex/include/esp_coex_i154.h
  components/esp_coex/include/esp_modem_wrapper.h
  components/esp_coex/sdkconfig.rename
  components/esp_coex/test_md5/test_md5.sh
  components/esp_wifi/sdkconfig.rename
  docs/en/api-guides/coexist.rst
  docs/zh_CN/api-guides/coexist.rst
  tools/ci/check_public_headers_exceptions.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

coex: apply new coex_schm_callback
  components/bt/controller/esp32/bt.c
  components/esp_coex/include/esp_coexist_internal.h
  components/esp_wifi/esp32/esp_adapter.c
  components/esp_wifi/esp32c2/esp_adapter.c
  components/esp_wifi/esp32c3/esp_adapter.c
  components/esp_wifi/esp32c6/esp_adapter.c
  components/esp_wifi/esp32s2/esp_adapter.c
  components/esp_wifi/esp32s3/esp_adapter.c
  components/esp_wifi/include/esp_private/wifi_os_adapter.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

feature: separate coex lib from wifi lib, support esp32c6 internal coex update wifi, coex, phy libs
  .gitlab/CODEOWNERS
  .gitlab/ci/rules.yml
Due: none

spi_slave: fix io re-config issue
  components/driver/spi/gpspi/spi_slave.c
  components/driver/test_apps/spi/slave/main/test_app_main.c
  components/driver/test_apps/spi/slave/main/test_spi_slave.c
Due: none

spi: add high freq test on different spi config
  components/driver/test_apps/components/test_driver_utils/include/test_spi_utils.h
  components/driver/test_apps/spi/param/main/CMakeLists.txt
  components/driver/test_apps/spi/param/main/test_spi_param.c
  components/driver/test_apps/spi/slave_hd/main/test_spi_slave_hd.c
  components/idf_test/include/esp32/idf_performance_target.h
  components/idf_test/include/esp32c2/idf_performance_target.h
  components/idf_test/include/esp32c3/idf_performance_target.h
  components/idf_test/include/esp32c6/idf_performance_target.h
  components/idf_test/include/esp32h2/idf_performance_target.h
  components/idf_test/include/esp32h4/idf_performance_target.h
  components/idf_test/include/esp32s2/idf_performance_target.h
  components/idf_test/include/esp32s3/idf_performance_target.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

heap: Fix call to substract_poison_overhead() in IRAM function
  components/heap/multi_heap_poisoning.c
Due: none

ci: make unity test case known failure work!
  conftest.py
Due: none

sdspi: h2 support
  components/fatfs/.build-test-rules.yml
  components/fatfs/test_apps/sdcard/README.md
  components/fatfs/test_apps/sdcard/main/test_fatfs_sdspi.c
  docs/docs_not_updated/esp32h2.txt
  examples/storage/sd_card/sdspi/README.md
  examples/storage/sd_card/sdspi/main/Kconfig.projbuild
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

ieee802154: add support for esp32h2
  components/esp_phy/CMakeLists.txt
  components/esp_phy/Kconfig
  components/esp_phy/esp32h2/include/phy_init_data.h
  components/soc/esp32h2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h2/include/soc/soc_caps.h
  components/soc/esp32h2/ld/esp32h2.peripherals.ld
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

spi: formate test_spi_param.c
  components/driver/test_apps/spi/param/main/test_spi_param.c
Due: none

lwip: Support IPv6 only mode
  components/esp-tls/esp_tls.c
  components/esp_http_server/src/httpd_main.c
  components/esp_http_server/src/util/ctrl_sock.c
  components/esp_netif/esp_netif_handlers.c
  components/esp_netif/include/esp_netif_defaults.h
  components/esp_netif/include/esp_netif_ip_addr.h
  components/esp_netif/lwip/esp_netif_lwip.c
  components/esp_netif/lwip/esp_netif_lwip_internal.h
  components/esp_netif/lwip/netif/ethernetif.c
  components/esp_netif/lwip/netif/wlanif.c
  components/esp_wifi/CMakeLists.txt
  components/esp_wifi/include/esp_mesh.h
  components/lwip/Kconfig
  components/lwip/apps/ping/ping_sock.c
  components/lwip/port/debug/lwip_debug.c
  components/lwip/port/hooks/lwip_default_hooks.c
  components/lwip/port/include/lwip_default_hooks.h
  components/lwip/port/include/lwipopts.h
  components/mbedtls/port/net_sockets.c
  components/wifi_provisioning/include/wifi_provisioning/wifi_config.h
  docs/en/api-guides/lwip.rst
  docs/en/api-guides/performance/size.rst
  examples/common_components/protocol_examples_common/Kconfig.projbuild
  examples/common_components/protocol_examples_common/addr_from_stdin.c
  examples/common_components/protocol_examples_common/connect.c
  examples/common_components/protocol_examples_common/eth_connect.c
  examples/common_components/protocol_examples_common/wifi_connect.c
  examples/common_components/protocol_examples_tapif_io/Kconfig.projbuild
  examples/mesh/ip_internal_network/README.md
  examples/protocols/coap_client/README.md
  examples/protocols/coap_client/main/Kconfig.projbuild
  examples/protocols/coap_server/README.md
  examples/protocols/coap_server/main/Kconfig.projbuild
  examples/protocols/esp_local_ctrl/README.md
  examples/protocols/http_server/simple/sdkconfig.ci.ipv6_only
  examples/protocols/sockets/tcp_server/main/Kconfig.projbuild
  examples/protocols/sockets/tcp_server/main/tcp_server.c
  examples/protocols/sockets/tcp_server/sdkconfig.ci.ipv6_only
  examples/provisioning/wifi_prov_mgr/README.md
  examples/provisioning/wifi_prov_mgr/main/Kconfig.projbuild
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: add link to configuration of VSCode debug
  docs/en/api-guides/jtag-debugging/index.rst
  docs/en/api-guides/jtag-debugging/using-debugger.rst
  docs/zh_CN/api-guides/jtag-debugging/index.rst
  docs/zh_CN/api-guides/jtag-debugging/using-debugger.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Optimized NPL Freertos API
  components/bt/controller/esp32c2/bt.c
  components/bt/controller/esp32h2/bt.c
  components/bt/porting/nimble/include/nimble/nimble_port.h
  components/bt/porting/npl/freertos/include/nimble/nimble_port_freertos.h
  components/bt/porting/npl/freertos/include/nimble/npl_freertos.h
  components/bt/porting/npl/freertos/src/npl_os_freertos.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

ble:Fixed issues of adv error stop and abnormal reporting of connection update complete event on ESP32-C2
  components/bt/include/esp32c2/include/esp_bt.h
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

CI: update mypy for pre-commit
  .pre-commit-config.yaml
Due: none

build & config: Don't include common components on early expansion
  tools/cmake/build.cmake
  tools/cmake/project.cmake
  tools/cmake/scripts/component_get_requirements.cmake
Due: none

mbedtls: Keep `CONFIG_MBEDTLS_DYNAMIC_BUFFER` disabled for Linux target
  components/mbedtls/Kconfig
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

fix esp_http_client_example to build for Linux target. Made `protocol_examples_common` compatible for Linux target
  examples/common_components/protocol_examples_common/CMakeLists.txt
  examples/common_components/protocol_examples_common/connect.c
  examples/common_components/protocol_examples_common/include/example_common_private.h
  examples/common_components/protocol_examples_common/include/protocol_examples_common.h
  examples/protocols/esp_http_client/CMakeLists.txt
  examples/protocols/esp_http_client/main/CMakeLists.txt
  examples/protocols/linux_stubs/esp_stubs/esp_stubs.c
  examples/protocols/linux_stubs/esp_stubs/include/protocol_examples_common.h
Due: none

Add test for Linux in pytest_esp_http_client.py
  examples/protocols/.build-test-rules.yml
  examples/protocols/esp_http_client/README.md
  examples/protocols/esp_http_client/pytest_esp_http_client.py
  examples/protocols/esp_http_client/sdkconfig.defaults
  examples/protocols/linux_stubs/esp_stubs/esp_stubs.c
Due: none

tcp_client: fix missing header file
  examples/protocols/sockets/tcp_client/CMakeLists.txt
  examples/protocols/sockets/tcp_client/main/CMakeLists.txt
Due: none

CI: add openthread build CI for ESP32-H2
  examples/openthread/.build-test-rules.yml
  examples/openthread/ot_cli/README.md
  examples/openthread/ot_rcp/README.md
  examples/openthread/pytest_otbr.py
Due: none

fatfs: fix deadcode issue
  components/fatfs/vfs/vfs_fat_sdmmc.c
  components/fatfs/vfs/vfs_fat_spiflash.c
Due: none

support ble notify and write throughput test at the same time
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_client/main/example_ble_client_throughput.c
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_server/main/example_ble_server_throughput.c
Due: none

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*
