Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

fix(esp_http_server): WebSocket frame parsing errors
  components/esp_http_server/src/esp_httpd_priv.h
  components/esp_http_server/src/httpd_txrx.c
  components/esp_http_server/src/httpd_ws.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(usb_msc): Update documentation with performance optimization results
  docs/en/api-reference/peripherals/usb_device.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

test(system): increased 200B memory leak thresh due to mmu mmap mutex
  components/esp_driver_spi/test_apps/master/main/test_app_main.c
  components/esp_mm/test_apps/mmap_hw/main/test_app_main.c
  components/esp_psram/test_apps/psram/main/test_app_main.c
  components/esp_system/test_apps/esp_system_unity_tests/main/test_app_main.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(mmu): fixed esp_mmu_map concurrent issue and add related docs
  components/esp_hw_support/test_apps/mspi/main/test_app_main.c
  components/esp_mm/esp_mmu_map.c
  components/esp_mm/include/esp_mmu_map.h
  docs/en/api-reference/system/mm.rst
  docs/zh_CN/api-reference/system/mm.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

test(mmu): added esp_mmu_map concurrency test
  components/esp_mm/test_apps/mm/main/test_mmap.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(coex): add soc_support_coexistence for esp32c5
  components/soc/esp32c5/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c5/include/soc/soc_caps.h
  docs/docs_not_updated/esp32c5.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(i2c): Fix clear bus issue in legacy i2c driver,
  components/driver/i2c/i2c.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(wifi): support to configure wifi modem sleep parameters
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/src/wifi_init.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(wifi): support sample beacon feature
  components/esp_rom/esp32c2/ld/esp32c2.rom.eco4.ld
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
  components/esp_rom/esp32c3/ld/esp32c3.rom.ld
  components/esp_rom/esp32c5/ld/esp32c5.rom.pp.ld
  components/esp_rom/esp32c6/ld/esp32c6.rom.pp.ld
  components/esp_rom/esp32c61/ld/esp32c61.rom.pp.ld
  components/esp_rom/esp32s3/ld/esp32s3.rom.ld
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_private/wifi.h
  components/esp_wifi/include/esp_private/wifi_types.h
  components/esp_wifi/include/esp_wifi.h
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/esp_wifi/src/wifi_init.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

example: add example for beacon sample feature
  examples/wifi/power_save/main/Kconfig.projbuild
  examples/wifi/power_save/main/power_save.c
Due: none

fix(security): Fixed coverity warnings related to the `esp_tee` component
  components/esp_tee/subproject/components/tee_sec_storage/tee_sec_storage.c
  components/esp_tee/subproject/main/core/esp_tee_init.c
  components/mbedtls/esp_tee/esp_tee_mbedtls_config.h
  components/mbedtls/port/ecdsa/ecdsa_alt.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat: add efuses for esp32h21
  components/efuse/esp32h21/esp_efuse_table.c
  components/efuse/esp32h21/esp_efuse_table.csv
  components/efuse/esp32h21/include/esp_efuse_table.h
  components/soc/esp32h21/register/soc/efuse_reg.h
  components/soc/esp32h21/register/soc/efuse_struct.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat: enable ecdsa support for esp32h21
  components/efuse/esp32h21/esp_efuse_fields.c
  components/efuse/esp32h21/include/esp_efuse_chip.h
  components/efuse/include/esp_efuse.h
  components/esp_security/Kconfig
  components/esp_security/src/init.c
  components/hal/esp32h21/include/hal/ecdsa_ll.h
  components/hal/esp32h21/include/hal/efuse_ll.h
  components/hal/test_apps/crypto/main/ecdsa/test_ecdsa.c
  components/mbedtls/test_apps/main/CMakeLists.txt
  components/mbedtls/test_apps/main/test_mbedtls_ecdsa.c
  components/soc/esp32h21/include/soc/Kconfig.soc_caps.in
  components/soc/esp32h21/include/soc/soc_caps.h
  components/soc/esp32h21/register/soc/ecdsa_reg.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat: added documentation for ECDSA peripheral of ESP32H21
  docs/en/api-reference/peripherals/ecdsa.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(esp_wifi): Add extended SSI support for NAN Services
  components/esp_wifi/include/esp_wifi_types_generic.h
  components/esp_wifi/wifi_apps/nan_app/src/nan_app.c
  examples/wifi/wifi_aware/nan_console/main/nan_main.c
  examples/wifi/wifi_aware/nan_publisher/main/publisher_main.c
  examples/wifi/wifi_aware/nan_subscriber/main/subscriber_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Add ESP32-S3 microphone input test and related configurations
  examples/peripherals/i2s_test_final/components/audio_player/CMakeLists.txt
  examples/peripherals/i2s_test_final/components/audio_player/audio_player.c
  examples/peripherals/i2s_test_final/components/audio_player/include/audio_player.h
  examples/peripherals/i2s_test_final/components/wifi_manager/CMakeLists.txt
  examples/peripherals/i2s_test_final/components/wifi_manager/include/wifi_manager.h
  examples/peripherals/i2s_test_final/components/wifi_manager/wifi_manager.c
  examples/peripherals/i2s_test_final/main/main_client.c
  examples/peripherals/i2s_test_final/sdkconfig_old.defaults
  examples/peripherals/i2s_test_final_last/CMakeLists.txt
  examples/peripherals/i2s_test_final_last/README.md
  examples/peripherals/i2s_test_final_last/components/audio_player/CMakeLists.txt
  examples/peripherals/i2s_test_final_last/components/audio_player/audio_player.c
  examples/peripherals/i2s_test_final_last/components/audio_player/include/audio_player.h
  examples/peripherals/i2s_test_final_last/components/wifi_manager/CMakeLists.txt
  examples/peripherals/i2s_test_final_last/components/wifi_manager/include/wifi_manager.h
  examples/peripherals/i2s_test_final_last/components/wifi_manager/wifi_manager.c
  examples/peripherals/i2s_test_final_last/main/CMakeLists.txt
  examples/peripherals/i2s_test_final_last/main/Kconfig.projbuild
  examples/peripherals/i2s_test_final_last/main/hello_world_main.c
  examples/peripherals/i2s_test_final_last/main/main.c
  examples/peripherals/i2s_test_final_last/main/main_client.c
  examples/peripherals/i2s_test_final_last/main/main_mice.c
  examples/peripherals/i2s_test_final_last/pytest_hello_world.py
  examples/peripherals/i2s_test_final_last/sdkconfig.ci
  examples/peripherals/i2s_test_final_last/sdkconfig.defaults
  examples/peripherals/i2s_test_final_last/sdkconfig_old.defaults
Due: check_readme_links

fix(ana_cmpr): ETM event not work for Unit 1
  components/esp_driver_ana_cmpr/ana_cmpr.c
  components/esp_driver_ana_cmpr/include/driver/ana_cmpr.h
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/CMakeLists.txt
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_ana_cmpr.c
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_ana_cmpr.h
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_ana_cmpr_iram.c
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/main/test_app_main.c
  components/esp_driver_ana_cmpr/test_apps/analog_comparator/sdkconfig.ci.release
  components/hal/esp32h2/include/hal/ana_cmpr_ll.h
  components/hal/esp32p4/include/hal/ana_cmpr_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs(touch): build the touch element doc for esp32s3
  docs/conf_common.py
  docs/docs_not_updated/esp32c5.txt
  docs/docs_not_updated/esp32c61.txt
  docs/docs_not_updated/esp32p4.txt
  docs/en/api-reference/peripherals/index.rst
  docs/en/api-reference/peripherals/touch_element.rst
  docs/zh_CN/api-reference/peripherals/index.rst
  docs/zh_CN/api-reference/peripherals/touch_element.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(touch): build the touch element doc for esp32s3
  docs/conf_common.py
  docs/docs_not_updated/esp32c5.txt
  docs/docs_not_updated/esp32p4.txt
  docs/en/api-reference/peripherals/index.rst
  docs/en/api-reference/peripherals/touch_element.rst
  docs/zh_CN/api-reference/peripherals/index.rst
  docs/zh_CN/api-reference/peripherals/touch_element.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(lpwdt): P4 LP-WDT now takes into account the EFUSE_WDT_DELAY forthe timeout
  components/hal/esp32p4/include/hal/lpwdt_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(openthread): use freertos timer for debug logs
  components/openthread/src/port/esp_openthread_radio.c
  examples/openthread/ot_sleepy_device/light_sleep/main/esp_ot_sleepy_device.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt): fixed spp not reporting write event
  components/bt/host/bluedroid/btc/profile/std/spp/btc_spp.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(bt): Add API to get profile status
  components/bt/common/btc/core/btc_task.c
  components/bt/host/bluedroid/api/esp_a2dp_api.c
  components/bt/host/bluedroid/api/esp_gap_bt_api.c
  components/bt/host/bluedroid/api/esp_hf_ag_api.c
  components/bt/host/bluedroid/api/esp_hf_client_api.c
  components/bt/host/bluedroid/api/esp_hidd_api.c
  components/bt/host/bluedroid/api/esp_hidh_api.c
  components/bt/host/bluedroid/api/esp_l2cap_bt_api.c
  components/bt/host/bluedroid/api/esp_sdp_api.c
  components/bt/host/bluedroid/api/esp_spp_api.c
  components/bt/host/bluedroid/api/include/api/esp_a2dp_api.h
  components/bt/host/bluedroid/api/include/api/esp_gap_bt_api.h
  components/bt/host/bluedroid/api/include/api/esp_hf_ag_api.h
  components/bt/host/bluedroid/api/include/api/esp_hf_client_api.h
  components/bt/host/bluedroid/api/include/api/esp_hidd_api.h
  components/bt/host/bluedroid/api/include/api/esp_hidh_api.h
  components/bt/host/bluedroid/api/include/api/esp_l2cap_bt_api.h
  components/bt/host/bluedroid/api/include/api/esp_sdp_api.h
  components/bt/host/bluedroid/api/include/api/esp_spp_api.h
  components/bt/host/bluedroid/btc/core/btc_dm.c
  components/bt/host/bluedroid/btc/profile/std/a2dp/btc_av.c
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_bt.c
  components/bt/host/bluedroid/btc/profile/std/hf_ag/btc_hf_ag.c
  components/bt/host/bluedroid/btc/profile/std/hf_client/btc_hf_client.c
  components/bt/host/bluedroid/btc/profile/std/hid/btc_hd.c
  components/bt/host/bluedroid/btc/profile/std/hid/btc_hh.c
  components/bt/host/bluedroid/btc/profile/std/include/btc_av.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_gap_bt.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_hd.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_hf_ag.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_hf_client.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_hh.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_l2cap.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_sdp.h
  components/bt/host/bluedroid/btc/profile/std/include/btc_spp.h
  components/bt/host/bluedroid/btc/profile/std/l2cap/btc_l2cap.c
  components/bt/host/bluedroid/btc/profile/std/sdp/btc_sdp.c
  components/bt/host/bluedroid/btc/profile/std/spp/btc_spp.c
  components/bt/host/bluedroid/stack/include/stack/dyn_mem.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(openthread): add openthread ci ssed case
  examples/openthread/ot_ci_function.py
  examples/openthread/ot_sleepy_device/light_sleep/sdkconfig.ci.ssed
  examples/openthread/pytest_otbr.py
Due: none

feat(openthread): add esp_system dependency for SSED CI
  examples/openthread/.build-test-rules.yml
Due: none

feat(openthread): relax conditions for trel case approval
  examples/openthread/pytest_otbr.py
Due: none

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
