Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - assign_test
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
    expire_in: 2 weeks
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

feat(sleep): support 8m force pu in sleep for esp32c6/esp32h2
  components/esp_hw_support/port/esp32c6/pmu_sleep.c
  components/esp_hw_support/port/esp32c6/private_include/pmu_param.h
  components/esp_hw_support/port/esp32h2/pmu_sleep.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(bt): Update bt lib for ESP32-C3 and ESP32-S3(a771b7c)
  components/esp_rom/esp32c3/ld/esp32c3.rom.eco7.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(sys-time): add esp32c5 info into programming guide docs
  docs/docs_not_updated/esp32c5.txt
  docs/en/api-reference/system/esp_timer.rst
  docs/en/api-reference/system/system_time.rst
  docs/zh_CN/api-reference/system/esp_timer.rst
  docs/zh_CN/api-reference/system/system_time.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(spi): fix dma data error, change xtal as default source
  components/esp_driver_spi/include/esp_private/spi_common_internal.h
  components/esp_driver_spi/test_apps/components/spi_bench_mark/include/spi_performance.h
  components/soc/esp32p4/include/soc/clk_tree_defs.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(coredump): save .bss, .data and .heap sections to the elf file
  components/espcoredump/Kconfig
  components/espcoredump/include_core_dump/esp_core_dump_common.h
  components/espcoredump/src/core_dump_common.c
  components/espcoredump/src/core_dump_elf.c
  docs/en/api-guides/core_dump.rst
  docs/zh_CN/api-guides/core_dump.rst
  tools/test_apps/system/gdbstub_runtime/main/test_app_main.c
  tools/test_apps/system/gdbstub_runtime/pytest_runtime.py
  tools/test_apps/system/panic/main/include/test_panic.h
  tools/test_apps/system/panic/main/test_app_main.c
  tools/test_apps/system/panic/main/test_panic.c
  tools/test_apps/system/panic/partitions_capture_dram.csv
  tools/test_apps/system/panic/pytest_panic.py
  tools/test_apps/system/panic/sdkconfig.ci.coredump_flash_capture_dram
  tools/test_apps/system/panic/test_panic_util/panic_dut.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

ci(coredump): fix capture dram tests
  components/espcoredump/src/core_dump_elf.c
  tools/test_apps/system/panic/CMakeLists.txt
  tools/test_apps/system/panic/pytest_panic.py
  tools/test_apps/system/panic/sdkconfig.ci.coredump_flash_capture_dram
Due: gen_integration_pipeline, child_integration_test_pipeline

Update CN translation for coredump
  docs/en/api-guides/core_dump.rst
  docs/zh_CN/api-guides/core_dump.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(log): Fix log_level_get, add item to cache after checking linked list
  components/log/src/log_level/tag_log_level/tag_log_level.c
  components/log/test_apps/main/test_log_level.c
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(cpu_start): move uni/multi core log later
  components/esp_system/port/cpu_start.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(cpu_start): added note about internal ram only stage
  components/bootloader_support/bootloader_flash/src/bootloader_flash_config_esp32p4.c
  components/esp_system/port/cpu_start.c
  components/spi_flash/flash_ops.c
Due: gen_integration_pipeline, child_integration_test_pipeline

bugfix(cpu_start): check c3 efuse error log on ram app condition
  components/esp_system/port/cpu_start.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(mmu): fix spell issue
  components/hal/esp32p4/include/hal/mmu_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs: remove esp32-devkits user guide
  docs/_static/esp32-devkits-r-v1.1-block_diagram.png
  docs/_static/esp32-devkits-r-v1.1-dimensions-back.png
  docs/_static/esp32-devkits-r-v1.1-layout-front.png
  docs/_static/esp32-devkits-r-v1.1-layout-isometric-raw.png
  docs/_static/esp32-devkits-v1.1-dimensions-back.png
  docs/_static/esp32-devkits-v1.1-layout-front.png
  docs/_static/esp32-devkits-v1.1-layout-isometric-raw.png
  docs/en/get-started/index.rst
  docs/en/hw-reference/esp32/user-guide-devkits-r-v1.1.rst
  docs/zh_CN/get-started/index.rst
  docs/zh_CN/hw-reference/esp32/user-guide-devkits-r-v1.1.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(adc): move adc periph enable/reset functions to ll layer
  components/driver/deprecated/adc_dma_legacy.c
  components/esp_adc/adc_continuous.c
  components/esp_adc/adc_oneshot.c
  components/esp_adc/test_apps/adc/main/test_adc_performance.c
  components/esp_hw_support/adc_share_hw_ctrl.c
  components/esp_hw_support/include/esp_private/adc_share_hw_ctrl.h
  components/hal/esp32/include/hal/adc_ll.h
  components/hal/esp32c2/include/hal/adc_ll.h
  components/hal/esp32c3/include/hal/adc_ll.h
  components/hal/esp32c6/include/hal/adc_ll.h
  components/hal/esp32h2/include/hal/adc_ll.h
  components/hal/esp32p4/include/hal/adc_ll.h
  components/hal/esp32s2/include/hal/adc_ll.h
  components/hal/esp32s3/include/hal/adc_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(dma): feat(adc): support ADC oneshot mod on ESP32P4
  components/driver/deprecated/adc_legacy.c
  components/driver/deprecated/driver/adc_types_legacy.h
  components/driver/test_apps/legacy_adc_driver/README.md
  components/driver/test_apps/legacy_adc_driver/main/test_legacy_adc.c
  components/driver/test_apps/legacy_adc_driver/pytest_legacy_adc.py
  components/esp_adc/adc_oneshot.c
  components/esp_adc/test_apps/adc/README.md
  components/esp_adc/test_apps/adc/main/test_common_adc.c
  components/esp_adc/test_apps/adc/main/test_common_adc.h
  components/esp_hw_support/port/esp32p4/CMakeLists.txt
  components/esp_hw_support/port/esp32p4/sar_periph_ctrl.c
  components/esp_hw_support/sleep_modes.c
  components/esp_pm/linker.lf
  components/hal/esp32/include/hal/adc_ll.h
  components/hal/esp32p4/include/hal/adc_ll.h
  components/hal/esp32p4/include/hal/sar_ctrl_ll.h
  components/hal/esp32s2/include/hal/adc_ll.h
  components/hal/esp32s3/include/hal/adc_ll.h
  components/hal/include/hal/adc_types.h
  components/soc/esp32p4/adc_periph.c
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/adc_channel.h
  components/soc/esp32p4/include/soc/adc_struct.h
  components/soc/esp32p4/include/soc/clk_tree_defs.h
  components/soc/esp32p4/include/soc/lp_adc_reg.h
  components/soc/esp32p4/include/soc/lp_adc_struct.h
  components/soc/esp32p4/include/soc/regi2c_saradc.h
  components/soc/esp32p4/include/soc/soc_caps.h
  components/soc/esp32p4/ld/esp32p4.peripherals.ld
  components/soc/include/soc/rtc_io_periph.h
  examples/peripherals/adc/oneshot_read/README.md
  examples/peripherals/adc/oneshot_read/pytest_adc_oneshot.py
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(soc): rename lp_adc and ahb_dma reg base on p4
  components/bootloader_support/src/bootloader_random_esp32p4.c
  components/soc/esp32p4/include/soc/reg_base.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

change(image): move image_process driver from bootloader_support to esp_system
  components/bootloader_support/CMakeLists.txt
  components/bootloader_support/linker.lf
  components/esp_system/linker.lf
  components/esp_system/port/CMakeLists.txt
  components/esp_system/port/image_process.c
  components/esp_system/port/include/private/esp_private/image_process.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(cjson): update submodule to v1.7.18
  .gitmodules
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_timer): Fix Coverity issue - logically dead code in esp_timer_impl_early_init
  components/esp_timer/src/esp_timer_impl_systimer.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(partition): Simplify macro loop in esp_partition_unload_all
  components/esp_partition/partition.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(riscv): make HWLP feature use direct saving of lazy saving
  components/freertos/FreeRTOS-Kernel/portable/riscv/port.c
  components/freertos/FreeRTOS-Kernel/portable/riscv/portasm.S
  components/freertos/app_startup.c
  components/freertos/test_apps/freertos/port/test_fpu_in_task.c
  components/freertos/test_apps/freertos/port/test_hwlp.c
  components/freertos/test_apps/freertos/port/test_hwlp_routines.S
  components/freertos/test_apps/freertos/port/test_pie_in_task.c
  components/freertos/test_apps/freertos/port/test_pie_routines.S
  components/freertos/test_apps/freertos/port/test_pie_watermark.c
  components/riscv/include/riscv/csr_hwlp.h
  components/riscv/include/riscv/rv_utils.h
  components/riscv/vectors.S
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

feat(riscv): add support for PIE coprocessor and HWLP feature
  components/freertos/FreeRTOS-Kernel/portable/riscv/port.c
  components/freertos/FreeRTOS-Kernel/portable/riscv/portasm.S
  components/freertos/test_apps/freertos/port/test_hwlp.c
  components/freertos/test_apps/freertos/port/test_pie_in_task.c
  components/freertos/test_apps/freertos/port/test_pie_watermark.c
  components/riscv/include/riscv/csr_hwlp.h
  components/riscv/include/riscv/csr_pie.h
  components/riscv/include/riscv/rvruntime-frames.h
  components/riscv/vectors.S
  components/soc/esp32p4/include/soc/Kconfig.soc_caps.in
  components/soc/esp32p4/include/soc/soc_caps.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
