Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

check_readme_links:
  tags:
  - build
  - amd64
  - internet
  allow_failure: true
  script:
  - python ${IDF_PATH}/tools/ci/check_readme_links.py

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_html_partial:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  stage: build_doc
  tags:
  - build_docs
  script:
  - if [ -n "${BREATHE_ALT_INSTALL_URL}" ]; then pip uninstall -y breathe && pip install -U ${BREATHE_ALT_INSTALL_URL}; fi
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  artifacts:
    expire_in: 4 days
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

gen_integration_pipeline:
  image: ${CI_INTEGRATION_ASSIGN_ENV}
  stage: assign_test
  cache: []
  tags:
  - fast_run
  - shiny
  variables:
    SUBMODULES_TO_FETCH: none
    GIT_LFS_SKIP_SMUDGE: 1
  needs:
  - job: fast_template_app
    artifacts: false
    optional: true
  artifacts:
    paths:
    - idf-integration-ci/child_pipeline/
  ...

child_integration_test_pipeline:
  stage: assign_test
  needs:
  - gen_integration_pipeline
  trigger:
    include:
    - artifact: idf-integration-ci/child_pipeline/pipeline.yml
      job: gen_integration_pipeline
    forward:
      yaml_variables: false
    strategy: depend

change(version): Update version to 5.4.0
  .gitlab/ci/common.yml
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(protocol_examples_common): Add Thread connect to support Thread for the protocol examples
  examples/common_components/protocol_examples_common/CMakeLists.txt
  examples/common_components/protocol_examples_common/Kconfig.projbuild
  examples/common_components/protocol_examples_common/connect.c
  examples/common_components/protocol_examples_common/include/example_common_private.h
  examples/common_components/protocol_examples_common/include/protocol_examples_common.h
  examples/common_components/protocol_examples_common/include/protocol_examples_thread_config.h
  examples/common_components/protocol_examples_common/thread_connect.c
Due: none

fix(openthread): Fix CI failure of ot_trel example build
  examples/common_components/protocol_examples_common/include/protocol_examples_thread_config.h
  examples/openthread/ot_br/sdkconfig.defaults
  examples/openthread/ot_trel/sdkconfig.defaults
Due: none

docs(i2c): Add type declaration in i2c docs,
  docs/en/api-reference/peripherals/i2c.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(esp_http_client): fixed memory leak issue while preparing HTTP digest authentication
  components/esp_http_client/esp_http_client.c
Due: gen_integration_pipeline, child_integration_test_pipeline

change(mbedtls/crt_bundle): Update esp_crt_bundle certificates
  components/mbedtls/esp_crt_bundle/cacrt_all.pem
  components/mbedtls/esp_crt_bundle/cacrt_deprecated.pem
  docs/en/api-reference/protocols/esp_crt_bundle.rst
  docs/zh_CN/api-reference/protocols/esp_crt_bundle.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Update soft_spi_master_main.c
  examples/peripherals/dedicated_gpio/soft_spi/main/soft_spi_master_main.c
Due: none

feat(ocode): supported ocode on esp32c5
  components/esp_hw_support/include/esp_private/ocode_init.h
  components/esp_hw_support/port/esp32c5/CMakeLists.txt
  components/esp_hw_support/port/esp32c5/ocode_init.c
  components/esp_system/port/soc/esp32c5/clk.c
  components/esp_system/port/soc/esp32c6/clk.c
  components/hal/esp32c5/include/hal/efuse_ll.h
  components/soc/esp32c5/include/soc/regi2c_lp_bias.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(802.15.4): add api for set/get ack timeout (v5.1)
  components/hal/include/hal/ieee802154_common_ll.h
  components/ieee802154/esp_ieee802154.c
  components/ieee802154/include/esp_ieee802154.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(802.15.4): add api for set/get ack timeout (v5.3)
  components/hal/include/hal/ieee802154_common_ll.h
  components/ieee802154/esp_ieee802154.c
  components/ieee802154/include/esp_ieee802154.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(802.15.4): add api for set/get ack timeout (v5.2)
  components/hal/include/hal/ieee802154_common_ll.h
  components/ieee802154/esp_ieee802154.c
  components/ieee802154/include/esp_ieee802154.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Some more cleanup for roaming app
  components/esp_wifi/src/wifi_default.c
  components/esp_wifi/wifi_apps/roaming_app/include/esp_roaming.h
  components/esp_wifi/wifi_apps/roaming_app/src/roaming_app.c
  components/wpa_supplicant/esp_supplicant/src/esp_common.c
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Fix some issues observed in roaming app
  components/esp_wifi/wifi_apps/roaming_app/include/esp_roaming.h
  components/esp_wifi/wifi_apps/roaming_app/src/roaming_app.c
  components/wpa_supplicant/port/eloop.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): moving around roaming app code a bit
  components/esp_wifi/wifi_apps/roaming_app/include/esp_roaming.h
  components/esp_wifi/wifi_apps/roaming_app/src/esp_roaming_i.h
  components/esp_wifi/wifi_apps/roaming_app/src/roaming_app.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Set minimum scan time to 30ms in roaming app
  components/esp_wifi/wifi_apps/roaming_app/src/Kconfig.roaming
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Roaming app, sync api naming
  components/esp_wifi/src/wifi_default.c
  components/esp_wifi/src/wifi_init.c
  components/esp_wifi/wifi_apps/roaming_app/include/esp_roaming.h
  components/esp_wifi/wifi_apps/roaming_app/src/roaming_app.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): Provide a config option to skip IP renew during roam
  components/esp_wifi/src/wifi_default.c
  components/esp_wifi/wifi_apps/roaming_app/src/Kconfig.roaming
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(roaming_app): Add get set config params for the app
  components/esp_wifi/wifi_apps/roaming_app/src/roaming_app.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Removed unnecessary handlers to cleanup
  components/esp_wifi/src/wifi_default.c
  components/esp_wifi/wifi_apps/roaming_app/include/esp_roaming.h
  components/esp_wifi/wifi_apps/roaming_app/src/roaming_app.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(esp_wifi): Enable EAP workarounds by default
  components/wpa_supplicant/esp_supplicant/src/esp_eap_client.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs: Update note about h2 rtc gpio
  components/esp_hw_support/include/esp_sleep.h
  docs/en/api-reference/peripherals/gpio/esp32h2.inc
  docs/zh_CN/api-reference/peripherals/gpio/esp32h2.inc
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix esp32c2eco4 sta_rx_csa ld
  components/esp_rom/esp32c2/ld/esp32c2.rom.eco4.ld
Due: gen_integration_pipeline, child_integration_test_pipeline

change(wifi): change softap default dtim period to 1
  components/esp_wifi/include/esp_wifi_types.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

feat(wifi): fix SPIRAM_IGNORE_NOTFOUND releated config
  components/esp_psram/Kconfig.spiram.common
  components/esp_wifi/Kconfig
  components/esp_wifi/include/esp_wifi.h
  components/esp_wifi/src/wifi_netif.c
  components/lwip/Kconfig
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(wifi): fix spiram ignore issue
  components/esp_wifi/include/esp_wifi.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(interrupt): fixed wrongly reserved interrupt for wifi on H2
  components/esp_hw_support/port/esp32h2/esp_cpu_intr.c
  tools/test_apps/system/esp_intr_dump/expected_output/esp32h2.txt
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(ldo): support output rail voltage (3.3V)
  components/esp_hw_support/ldo/esp_ldo_regulator.c
  components/esp_hw_support/ldo/include/esp_ldo_regulator.h
  components/esp_hw_support/test_apps/esp_hw_support_unity_tests/main/test_ldo.c
  components/hal/esp32p4/include/hal/ldo_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

Update slave.c to fix the mode
  examples/protocols/modbus/serial/mb_slave/main/slave.c
Due: none

fix(modbus): Fix the mode setup in modbus slave
  examples/protocols/modbus/serial/mb_slave/main/slave.c
Due: none

fix(usb/host): Fix reaction on High-Speed NYET packet
  components/hal/esp32p4/include/hal/usb_dwc_ll.h
  components/hal/esp32s2/include/hal/usb_dwc_ll.h
  components/hal/esp32s3/include/hal/usb_dwc_ll.h
  components/hal/usb_dwc_hal.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(tools): Use ESP_PYTHON with activate.py in export.fish
  export.fish
Due: none

fix(tools): fixed test_create_project_with_idf_readonly on Win
  tools/idf_py_actions/create_ext.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(ci): Enable public headers md5 checksum check for esp32c2
  .gitlab/ci/pre_check.yml
  components/esp_wifi/test_md5/test_md5.sh
Due: gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
