Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    PYTHON_VER: 3.6.13
  script:
  - cd docs
  - pip install -r requirements.txt
  - build-docs gh-linkcheck

build_docs_html_fast:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    PYTHON_VER: 3.6.13
    DOC_BUILDERS: html
    DOCS_FAST_BUILD: 'yes'
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - pip install -r requirements.txt
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

esp-tls: add api to free client session
  components/esp-tls/esp_tls.c
  components/esp-tls/esp_tls.h
  components/esp-tls/esp_tls_mbedtls.c
  components/esp-tls/private_include/esp_tls_mbedtls.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

example: https_request update free client session api
  examples/protocols/https_request/main/https_request_example_main.c
Due: none

doc(efuse): Updates efuse article
  docs/docs_not_updated/esp32c2.txt
  docs/en/api-reference/system/efuse.rst
  docs/en/api-reference/system/inc/espefuse_summary_ESP32-C2.rst
  docs/en/api-reference/system/inc/show-efuse-table_ESP32-C2.rst
  docs/en/api-reference/system/inc/show-efuse-table_ESP32-C3.rst
  docs/en/api-reference/system/inc/show-efuse-table_ESP32-S2.rst
  docs/en/api-reference/system/inc/show-efuse-table_ESP32-S3.rst
  docs/en/api-reference/system/inc/show-efuse-table_ESP32.rst
  docs/zh_CN/api-reference/system/inc/espefuse_summary_ESP32-C2.rst
  docs/zh_CN/api-reference/system/inc/show-efuse-table_ESP32-C2.rst
  docs/zh_CN/api-reference/system/inc/show-efuse-table_ESP32-C3.rst
  docs/zh_CN/api-reference/system/inc/show-efuse-table_ESP32-S2.rst
  docs/zh_CN/api-reference/system/inc/show-efuse-table_ESP32-S3.rst
  docs/zh_CN/api-reference/system/inc/show-efuse-table_ESP32.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

esp_ipc: Fix a case when ipc_task() can wake up blocking task early
  components/esp_ipc/src/esp_ipc.c
  components/esp_ipc/test/test_ipc.c
Due: none

soc: Fix description of efuse fail bits
  components/efuse/esp32c3/esp_efuse_utility.c
  components/soc/esp32c3/include/soc/efuse_reg.h
  components/soc/esp32c3/include/soc/efuse_struct.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

efuse: Adds ERR_RST_ENABLE efuse for C3 and S3
  components/efuse/esp32c3/esp_efuse_table.c
  components/efuse/esp32c3/esp_efuse_table.csv
  components/efuse/esp32c3/include/esp_efuse_table.h
  components/soc/esp32c3/include/soc/efuse_reg.h
  components/soc/esp32c3/include/soc/efuse_struct.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

efuse: Adds ERR_RST_ENABLE efuse for C3 and S3
  components/efuse/esp32c3/esp_efuse_table.c
  components/efuse/esp32c3/esp_efuse_table.csv
  components/efuse/esp32c3/include/esp_efuse_table.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

docs: update pytest installation
  docs/en/contribute/esp-idf-tests-with-pytest.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

ci: split pytest requirements to requirements.json
  .gitlab-ci.yml
  tools/requirements.json
  tools/requirements/requirements.pytest.txt
Due: none

ci(pytest): add missing tags
  pytest.ini
Due: none

ci: upload cache only when requirements txt changed
  .gitlab-ci.yml
  .gitlab/ci/host-test.yml
  .gitlab/ci/pre_check.yml
  .gitlab/ci/rules.yml
  .gitlab/ci/upload_cache.yml
Due: none

Fix the PARALLEL_LINES size of the tjpgd example to ensure that esp32c2 can also be used normally
  examples/peripherals/lcd/tjpgd/main/lcd_tjpgd_example_main.c
Due: none

fix: skip install dbus-python on windows
  tools/requirements/requirements.pytest.txt
Due: none

mbedtls: fix ssl server crash when enable mbedtls dynamic buffer
  components/mbedtls/port/dynamic/esp_ssl_srv.c
Due: none

spinlock: fixed spinlocks not working on S3 if placed in PSRAM
  components/esp_hw_support/include/spinlock.h
  components/freertos/test/port/test_spinlocks.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

https_server: add mbedtls dynamic buffer function test
  examples/protocols/https_server/simple/example_test.py
  examples/protocols/https_server/simple/sdkconfig.ci.dynamic_buffer
Due: none

fix(websocket): Support handler deal with PING and CLOSE frame
  components/esp_http_server/src/httpd_ws.c
  examples/protocols/https_server/wss_server/main/wss_server_example.c
Due: none

ci: Add PING test for ci
  examples/protocols/https_server/wss_server/pytest_https_wss_server.py
Due: none

freertos, tests: increase stack size for a test
  components/freertos/test/port/test_newlib_reent.c
Due: none

Revert "ulp: Keep RTC_CNTL_COCPU_SHUT_RESET_EN set for ULP RISC-V"
  components/ulp/ulp_riscv/ulp_riscv.c
  components/ulp/ulp_riscv/ulp_riscv_utils.c
Due: none

re-enable riscv ulp gpio support and examples
  .gitlab/ci/target-test.yml
  components/ulp/ulp_fsm/ulp.c
  components/ulp/ulp_riscv/ulp_riscv.c
  examples/system/deep_sleep/README.md
  examples/system/deep_sleep/pytest_deep_sleep.py
  examples/system/deep_sleep/sdkconfig.ci.basic
  examples/system/ulp_fsm/ulp/CMakeLists.txt
  examples/system/ulp_riscv/ds18b20_onewire/CMakeLists.txt
  examples/system/ulp_riscv/ds18b20_onewire/sdkconfig.defaults
  examples/system/ulp_riscv/gpio/CMakeLists.txt
  examples/system/ulp_riscv/gpio/README.md
  examples/system/ulp_riscv/gpio/pytest_ulp_riscv_gpio.py
  examples/system/ulp_riscv/gpio/sdkconfig.defaults
  examples/system/ulp_riscv/gpio_interrupt/CMakeLists.txt
  examples/system/ulp_riscv/gpio_interrupt/README.md
  pytest.ini
Due: none

spiffs, tests: increase stack size for a test
  components/spiffs/test/test_spiffs.c
Due: none

hal: Fix incorrect spi_hal log usage
  components/spi_flash/esp_flash_api.c
Due: none

MMU: Add configurable mmu page size support on ESP32C2
  components/bootloader_support/bootloader_flash/include/bootloader_flash_priv.h
  components/bootloader_support/bootloader_flash/src/bootloader_flash.c
  components/bootloader_support/src/bootloader_utility.c
  components/bootloader_support/src/esp32c2/bootloader_esp32c2.c
  components/esp_hw_support/Kconfig
  components/esp_hw_support/port/esp32s2/mmu_psram.c
  components/esp_hw_support/port/esp32s3/spiram.c
  components/esp_rom/include/esp32s2/rom/cache.h
  components/esp_system/ld/esp32c2/sections.ld.in
  components/esp_system/ld/ld.common
  components/esp_system/port/cpu_start.c
  components/esptool_py/project_include.cmake
  components/fatfs/test_fatfs_host/sdkconfig/sdkconfig.h
  components/hal/esp32/include/hal/mmu_ll.h
  components/hal/esp32c2/include/hal/cache_ll.h
  components/hal/esp32c2/include/hal/mmu_ll.h
  components/hal/esp32c3/include/hal/mmu_ll.h
  components/hal/esp32h2/include/hal/mmu_ll.h
  components/hal/esp32s2/include/hal/mmu_ll.h
  components/hal/esp32s3/include/hal/mmu_ll.h
  components/hal/include/hal/mmu_hal.h
  components/hal/include/hal/mmu_types.h
  components/soc/esp32/include/soc/ext_mem_defs.h
  components/soc/esp32c2/include/soc/Kconfig.soc_caps.in
  components/soc/esp32c2/include/soc/ext_mem_defs.h
  components/soc/esp32c2/include/soc/soc_caps.h
  components/soc/esp32c3/include/soc/ext_mem_defs.h
  components/soc/esp32h2/include/soc/ext_mem_defs.h
  components/soc/esp32s2/include/soc/ext_mem_defs.h
  components/soc/esp32s3/include/soc/ext_mem_defs.h
  components/spi_flash/flash_mmap.c
  components/spi_flash/include/esp_spi_flash.h
  components/spi_flash/partition.c
  components/spi_flash/partition_target.c
  components/spiffs/test_spiffs_host/sdkconfig/sdkconfig.h
  components/wear_levelling/test_wl_host/sdkconfig/sdkconfig.h
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

docs: udpate CN translation for build-system
  docs/en/api-guides/build-system.rst
  docs/zh_CN/api-guides/build-system.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast, deploy_docs_preview

ci, test: temporary adjust IDF_PERFORMANCE_MIN_TCP_RX_THROUGHPUT limit
  components/idf_test/include/idf_performance.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

spiffs: Add vfs (f)truncate api support
  components/spiffs/esp_spiffs.c
  components/spiffs/test/test_spiffs.c
Due: none

tcp_transport: add websocket dynamic buffer feature
  components/tcp_transport/Kconfig
  components/tcp_transport/transport_ws.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

spinlock: fixed spinlocks not working on S3 if placed in PSRAM
  components/esp_hw_support/include/soc/spinlock.h
  components/freertos/test/test_spinlocks.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

esp_rom: remove functions which depend on sizeof(struct stat) and all their callers for esp32h2-beta2
  components/esp_rom/esp32h2/ld/rev2/esp32h2.rom.newlib.ld
Due: none

newlib: ROM library is build with time_t 64bit on esp32c2
  components/esp_rom/CMakeLists.txt
  components/esp_rom/esp32c2/ld/esp32c2.rom.newlib-time.ld
  components/esp_rom/esp32c2/ld/esp32c2.rom.newlib.ld
  components/newlib/test/test_newlib.c
  components/newlib/test/test_time.c
  tools/gdb_panic_server.py
Due: none

docs: Added a subsection for FAQ regarding paring pop up during provisioning
  examples/provisioning/wifi_prov_mgr/README.md
Due: none

ci: Re-enable protocomm UTs for ESP32-C2
  components/protocomm/test/test_protocomm.c
Due: none

spi_flash: move the unlock patch to bootloader and add support for GD
  components/bootloader_support/include/bootloader_flash.h
  components/bootloader_support/src/bootloader_flash.c
  components/bootloader_support/src/esp32/bootloader_esp32.c
  components/bootloader_support/src/esp32s2/bootloader_esp32s2.c
  components/esp32/cpu_start.c
  components/esp_rom/include/esp32/rom/spi_flash.h
  components/esp_rom/include/esp32s2/rom/opi_flash.h
  components/esp_rom/include/esp32s2/rom/spi_flash.h
  components/spi_flash/esp32/spi_flash_rom_patch.c
  components/spi_flash/flash_ops.c
  components/spi_flash/sim/flash_mock.cpp
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

bootloader: add xmc spi_flash startup flow to improve reliability
  components/bootloader/Kconfig.projbuild
  components/bootloader_support/include/bootloader_flash.h
  components/bootloader_support/include_bootloader/bootloader_flash_priv.h
  components/bootloader_support/include_bootloader/flash_qio_mode.h
  components/bootloader_support/src/bootloader_flash.c
  components/bootloader_support/src/esp32/bootloader_esp32.c
  components/bootloader_support/src/esp32s2/bootloader_esp32s2.c
  components/bootloader_support/src/flash_qio_mode.c
  components/spi_flash/test/test_spi_flash.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

spi_flash: partially move API functions out of IRAM
  components/spi_flash/esp_flash_api.c
Due: none

bootloader: fix the WRSR format for ISSI flash chips
  components/bootloader_support/include_bootloader/bootloader_flash.h
  components/bootloader_support/src/bootloader_flash.c
  components/bootloader_support/src/esp32/bootloader_esp32.c
  components/bootloader_support/src/esp32s2/bootloader_esp32s2.c
  components/bootloader_support/src/flash_qio_mode.c
  components/esp_rom/include/esp32/rom/spi_flash.h
  components/esp_rom/include/esp32s2/rom/opi_flash.h
  components/esp_rom/include/esp32s2/rom/spi_flash.h
  components/soc/soc/esp32s2/include/soc/soc_caps.h
  components/spi_flash/CMakeLists.txt
  components/spi_flash/Kconfig
  components/spi_flash/esp32/spi_flash_rom_patch.c
  components/spi_flash/esp32s2/flash_ops_esp32s2.c
  components/spi_flash/flash_ops.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_fast

test_spiffs: increase test case stack size
  components/spiffs/test/test_spiffs.c
Due: none

bootloader: support unlock MXIC flash chips
  components/bootloader_support/src/bootloader_flash.c
Due: none

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_fast: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*
