Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

bluedroid: fix ble connection update with same params
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
Due: none

esp_http_server: Added support for esp_events
  components/esp_http_server/CMakeLists.txt
  components/esp_http_server/include/esp_http_server.h
  components/esp_http_server/src/esp_httpd_priv.h
  components/esp_http_server/src/httpd_main.c
  components/esp_http_server/src/httpd_parse.c
  components/esp_http_server/src/httpd_sess.c
  components/esp_http_server/src/httpd_txrx.c
  docs/en/api-reference/protocols/esp_http_server.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

bluedroid: fix encrypt keysize of GATT characteristic permission
  components/bt/host/bluedroid/api/esp_gap_ble_api.c
  components/bt/host/bluedroid/api/include/api/esp_gatt_defs.h
  components/bt/host/bluedroid/bta/dm/bta_dm_co.c
  components/bt/host/bluedroid/bta/include/bta/bta_dm_co.h
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_ble.c
  components/bt/host/bluedroid/common/include/common/bte_appl.h
  components/bt/host/bluedroid/stack/gatt/gatt_db.c
  components/bt/host/bluedroid/stack/include/stack/btm_api.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

examples: fix ble hid led output report
  examples/bluetooth/bluedroid/ble/ble_hid_device_demo/main/ble_hidd_demo_main.c
  examples/bluetooth/bluedroid/ble/ble_hid_device_demo/main/esp_hidd_prf_api.h
  examples/bluetooth/bluedroid/ble/ble_hid_device_demo/main/hid_device_le_prf.c
  examples/bluetooth/bluedroid/ble/ble_hid_device_demo/main/hidd_le_prf_int.h
Due: none

bluedroid: correct the length of att read by type pdu
  components/bt/host/bluedroid/stack/gatt/att_protocol.c
Due: none

docs: update dfu docs for secure DL mode
  docs/en/api-guides/dfu.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Fixed some memory was not released after bluetooth controller initialization failed on ESP32
  components/bt/controller/esp32/bt.c
Due: none

Fixed some memory was not released after bluetooth controller initialization failed on ESP32-C3 and ESP32-S3
  components/bt/controller/esp32c3/bt.c
  components/bt/controller/esp32s3/bt.c
Due: none

Update bt lib for ESP32-C3 and ESP32-S3
  components/bt/controller/esp32c3/Kconfig.in
  components/bt/controller/esp32s3/Kconfig.in
  components/bt/include/esp32c3/include/esp_bt.h
  components/bt/include/esp32s3/include/esp_bt.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Update bt lib for ESP32
  components/bt/controller/esp32/Kconfig.in
  components/bt/controller/esp32c3/Kconfig.in
  components/bt/controller/esp32s3/Kconfig.in
  components/bt/include/esp32/include/esp_bt.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Remove `-Wno-format` compile option for bluedroid BLE examples
  examples/bluetooth/bluedroid/ble/ble_ancs/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_ancs/main/ble_ancs.c
  examples/bluetooth/bluedroid/ble/ble_ancs/main/ble_ancs_demo.c
  examples/bluetooth/bluedroid/ble/ble_compatibility_test/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_compatibility_test/main/ble_compatibility_test.c
  examples/bluetooth/bluedroid/ble/ble_eddystone/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_eddystone/main/esp_eddystone_demo.c
  examples/bluetooth/bluedroid/ble/ble_spp_client/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_spp_client/main/spp_client_demo.c
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_client/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_client/main/example_ble_client_throughput.c
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_server/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/ble_throughput/throughput_server/main/example_ble_server_throughput.c
  examples/bluetooth/bluedroid/ble/gatt_security_client/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/gatt_security_client/main/example_ble_sec_gattc_demo.c
  examples/bluetooth/bluedroid/ble/gatt_security_server/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/gatt_security_server/main/example_ble_sec_gatts_demo.c
  examples/bluetooth/bluedroid/ble/gatt_server/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble/gatt_server/main/gatts_demo.c
  examples/bluetooth/bluedroid/ble_50/ble50_security_client/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble_50/ble50_security_client/main/ble50_sec_gattc_demo.c
  examples/bluetooth/bluedroid/ble_50/ble50_security_server/main/CMakeLists.txt
  examples/bluetooth/bluedroid/ble_50/ble50_security_server/main/ble50_sec_gatts_demo.c
Due: none

ci: add missing target-test jobs for sdcard and extflash examples
  .gitlab/ci/target-test.yml
Due: none

docs: mention that increasing ESP32_REV_MIN can reduce IRAM size
  docs/en/api-guides/performance/ram-usage.rst
  docs/en/api-guides/performance/speed.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

idf_size.py: Fix issue where diram size was halved in cases where iram was not fully filled with cache
  tools/idf_size.py
  tools/test_idf_size/app_esp32s3_32k_icache.map
  tools/test_idf_size/expected_output
  tools/test_idf_size/test.sh
Due: none

docs: fix the number of breakpoints and watchpoints for RISC-V chips
  docs/en/api-guides/jtag-debugging/tips-and-quirks.rst
  docs/zh_CN/api-guides/jtag-debugging/tips-and-quirks.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

wpa_supplicant: Fix PMK caching related regression
  components/wpa_supplicant/esp_supplicant/src/esp_wpa_main.c
Due: none

wpa_supplicant: Fix PMK caching related regression
  components/wpa_supplicant/src/esp_supplicant/esp_wpa_main.c
Due: none

ledc: move callback to IRAM, it's called from an ISR
  examples/peripherals/ledc/ledc_fade/main/ledc_fade_example_main.c
Due: none

CI: check_public_headers script will detect the use of static asserts in headers
  tools/ci/check_public_headers.py
Due: none

build system: Add idf_component_add_link_dependency function, use for spi_flash overriding
  docs/en/api-guides/build-system.rst
  docs/en/api-reference/storage/spi_flash_override_driver.rst
  examples/storage/custom_flash_driver/components/custom_chip_driver/CMakeLists.txt
  tools/cmake/component.cmake
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: update CN translation for build-system.rst
  docs/en/api-guides/build-system.rst
  docs/zh_CN/api-guides/build-system.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Fixed mismatch in printf types
  examples/get-started/hello_world/main/CMakeLists.txt
  examples/get-started/hello_world/main/hello_world_main.c
Due: none

usb: Update TinyUSB version
  examples/peripherals/usb/device/tusb_console/main/idf_component.yml
  examples/peripherals/usb/device/tusb_hid/main/idf_component.yml
  examples/peripherals/usb/device/tusb_midi/main/idf_component.yml
  examples/peripherals/usb/device/tusb_msc/main/idf_component.yml
  examples/peripherals/usb/device/tusb_serial_device/main/idf_component.yml
Due: none

Fix rtc pin deinit clock disable
  components/hal/esp32s2/include/hal/rtc_io_ll.h
  components/hal/esp32s3/include/hal/rtc_io_ll.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Docs: update CN trans for sleep_modes.rst, misc_system_api.rst, migration_guides/peripherals.rst
  docs/en/api-reference/system/misc_system_api.rst
  docs/en/api-reference/system/sleep_modes.rst
  docs/en/migration-guides/release-5.x/5.0/peripherals.rst
  docs/en/migration-guides/release-5.x/5.1/peripherals.rst
  docs/zh_CN/api-reference/system/misc_system_api.rst
  docs/zh_CN/api-reference/system/sleep_modes.rst
  docs/zh_CN/migration-guides/release-5.x/5.0/peripherals.rst
  docs/zh_CN/migration-guides/release-5.x/5.1/peripherals.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

CI: fix ethernet throughput test
  .gitlab/ci/rules.yml
  examples/ethernet/iperf/iperf_test.py
Due: none

CI: fix ipv6 test failed on some runners
  examples/protocols/sockets/tcp_client/example_test.py
  examples/protocols/sockets/udp_client/example_test.py
  tools/ci/python_packages/common_test_methods.py
Due: none

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*
