Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_html_partial, build_docs_pdf, deploy_docs_preview, gen_integration_pipeline, child_integration_test_pipeline

Path conditions:
  check_readme_links: any of: examples/**/*.md
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  build_docs_html_partial: (not (any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h)) and (any of: components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/tools.json, tools/idf_tools.py)
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, **/*.rst, CONTRIBUTING.rst, **/soc_caps.h
  deploy_docs_preview: any of: docs/**/*
  gen_integration_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename
  child_integration_test_pipeline: any of: components/**/*, tools/**/*, .gitlab-ci.yml, .gitlab/ci/common.yml, .gitlab/ci/integration_test.yml, .gitmodules, CMakeLists.txt, install.sh, export.sh, Kconfig, sdkconfig.rename

esp_tls: add initial support for TLS 1.3 connection
  components/esp-tls/esp_tls_mbedtls.c
  components/esp-tls/private_include/esp_tls_private.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

https_mbedtls: update example to support TLS 1.3 connection
  examples/protocols/https_mbedtls/main/https_mbedtls_example_main.c
Due: none

fix(esp-tls): Retry reads if using session tickets with TLS 1.3
  components/esp-tls/esp_tls_mbedtls.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp-tls): Use TLS 1.2 and TLS 1.3 simultaneously
  components/esp-tls/esp_tls.h
  components/esp-tls/esp_tls_mbedtls.c
  components/esp_http_client/esp_http_client.c
  components/esp_http_client/include/esp_http_client.h
  components/tcp_transport/include/esp_transport_ssl.h
  components/tcp_transport/transport_ssl.c
  tools/ci/check_copyright_ignore.txt
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix: Update https_mbedtls example to fix TLS v1.2 connection
  examples/protocols/https_mbedtls/main/https_mbedtls_example_main.c
Due: none

fix(docs): tcpip_adapter: Document replacement of tcpip_adapter_get_sta_list
  docs/en/migration-guides/release-5.x/5.0/networking.rst
  docs/zh_CN/migration-guides/release-5.x/5.0/networking.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs(app_trace): Update docs for ESP32-P4
  docs/docs_not_updated/esp32p4.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(esp-tls): Use 64 bit variable for time instead of 32 bit
  components/esp-tls/CMakeLists.txt
  components/esp-tls/esp_tls.c
  components/esp-tls/esp_tls_platform_port.c
  components/esp-tls/private_include/esp_tls_platform_port.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(pytest): respect --build-dir argument from pytest-embedded
  conftest.py
  docs/en/contribute/esp-idf-tests-with-pytest.rst
  docs/zh_CN/contribute/esp-idf-tests-with-pytest.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

ci(sdspi): clean up newlib memory, reset between tests
  components/esp_driver_sdspi/test_apps/sdspi/main/test_app_main.c
  components/esp_driver_sdspi/test_apps/sdspi/pytest_sdspi.py
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(sdspi): fix memory leak in do_one_sdspi_probe test
  components/esp_driver_sdspi/test_apps/sdspi/components/sdspi_tests/sdmmc_test_probe_spi.c
Due: gen_integration_pipeline, child_integration_test_pipeline

ci(sdspi): re-enable probe/rw tests for slot 1
  components/esp_driver_sdspi/test_apps/sdspi/components/sdspi_tests/sdmmc_test_probe_spi.c
  components/esp_driver_sdspi/test_apps/sdspi/components/sdspi_tests/sdmmc_test_rw_spi.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(esp_netif): add support for DHCP Option 114 captive portal URI
  components/esp_netif/include/esp_netif_types.h
  components/esp_netif/lwip/esp_netif_lwip.c
  components/lwip/apps/dhcpserver/dhcpserver.c
  components/lwip/include/apps/dhcpserver/dhcpserver_options.h
  examples/protocols/http_server/captive_portal/README.md
  examples/protocols/http_server/captive_portal/main/Kconfig.projbuild
  examples/protocols/http_server/captive_portal/main/main.c
  tools/ci/check_copyright_ignore.txt
Due: check_readme_links, build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(linux): calling getrandom() outside assert()
  components/esp_hw_support/port/linux/esp_random.c
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(esp_ringbuf): Corrected example code block
  docs/en/api-reference/system/freertos_additions.rst
  docs/zh_CN/api-reference/system/freertos_additions.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(system): discard eh_frame sections if disabled in sdkconfig
  components/esp_system/ld/esp32/sections.ld.in
  components/esp_system/ld/esp32c2/sections.ld.in
  components/esp_system/ld/esp32c3/sections.ld.in
  components/esp_system/ld/esp32c5/beta3/sections.ld.in
  components/esp_system/ld/esp32c5/mp/sections.ld.in
  components/esp_system/ld/esp32c6/sections.ld.in
  components/esp_system/ld/esp32c61/sections.ld.in
  components/esp_system/ld/esp32h2/sections.ld.in
  components/esp_system/ld/esp32p4/sections.ld.in
  components/esp_system/ld/esp32s2/sections.ld.in
  components/esp_system/ld/esp32s3/sections.ld.in
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(cxx): use __cxa_throw() stub in case exceptions disabled
  components/cxx/CMakeLists.txt
  components/cxx/cxx_exception_stubs.cpp
Due: gen_integration_pipeline, child_integration_test_pipeline

docs(c++): std::filesystem is generally supported (#5003)
  docs/en/api-guides/cplusplus.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(docker): Switch to Ubuntu 24.04 LTS in the ESP-IDF docker image
  tools/docker/Dockerfile
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_https_server): fix memory leak during configuring http server
  components/esp_https_server/src/https_server.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(tools): Update Clang version to esp-17.0.1_20240419
  .gitlab/ci/build.yml
  .gitlab/ci/common.yml
  components/newlib/CMakeLists.txt
  components/newlib/esp32-spiram-rom-functions-c.lf
  components/newlib/getentropy.c
  components/newlib/newlib_init.c
  components/newlib/platform_include/sys/reent.h
  components/xtensa/include/xtensa/core-macros.h
  tools/cmake/toolchain-clang-esp32.cmake
  tools/cmake/toolchain-clang-esp32c2.cmake
  tools/cmake/toolchain-clang-esp32c3.cmake
  tools/cmake/toolchain-clang-esp32c5.cmake
  tools/cmake/toolchain-clang-esp32c61.cmake
  tools/cmake/toolchain-clang-esp32h2.cmake
  tools/cmake/toolchain-clang-esp32h4.cmake
  tools/cmake/toolchain-clang-esp32p4.cmake
  tools/cmake/toolchain-clang-esp32s2.cmake
  tools/cmake/toolchain-clang-esp32s3.cmake
  tools/test_apps/system/.build-test-rules.yml
  tools/test_apps/system/cxx_pthread_bluetooth/README.md
  tools/tools.json
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(build): Fix '-Walign-missmatch' warning
  components/esp_hw_support/dma/dw_gdma.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(build): Fix '-Werror=format=' errors for esp32p4
  components/esp_driver_spi/src/gpspi/spi_slave_hd.c
  components/esp_hw_support/esp_key_mgr.c
  components/hal/mipi_dsi_hal.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(build): Fix printf formating errors
  components/esp_driver_spi/src/gpspi/spi_slave_hd.c
  components/esp_hw_support/esp_key_mgr.c
  components/hal/mipi_dsi_hal.c
Due: gen_integration_pipeline, child_integration_test_pipeline

refactor(test): Change clang build tests app name
  .gitlab/ci/build.yml
  tools/test_apps/system/.build-test-rules.yml
  tools/test_apps/system/clang_build_test/CMakeLists.txt
  tools/test_apps/system/clang_build_test/README.md
  tools/test_apps/system/clang_build_test/main/CMakeLists.txt
  tools/test_apps/system/clang_build_test/main/test_main.cpp
  tools/test_apps/system/clang_build_test/sdkconfig.ci.clang_libclang_rt
  tools/test_apps/system/clang_build_test/sdkconfig.ci.clang_libgcc
  tools/test_apps/system/clang_build_test/sdkconfig.defaults
  tools/test_apps/system/cxx_pthread_bluetooth/README.md
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(build): Fix esp32p4 MCPWM 'get_clock_prescale' default return value
  components/hal/esp32p4/include/hal/mcpwm_ll.h
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(build): Fix variable declaration inside switch case
  components/esp_hw_support/modem_clock.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(esp_pm): Fix APB clock calculation for chips w/o modem
  components/esp_pm/pm_impl.c
Due: gen_integration_pipeline, child_integration_test_pipeline

feat(http_server): add 413 Payload Too Large response
  components/esp_http_server/include/esp_http_server.h
  components/esp_http_server/src/httpd_txrx.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

docs: Update alerts in READMEs to GFM format
  docs/TEMPLATE_EXAMPLE_README.md
  examples/get-started/sample_project/README.md
  examples/system/esp_timer/README.md
Due: check_readme_links, check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fix(ble/bluedroid): Fixed BLE no data length change event
  components/bt/host/bluedroid/btc/profile/std/gap/btc_gap_ble.c
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/btm/include/btm_int.h
  components/bt/host/bluedroid/stack/btu/btu_hcif.c
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
  examples/bluetooth/bluedroid/ble/gatt_client/main/gattc_demo.c
  examples/bluetooth/bluedroid/ble/gatt_server/main/gatts_demo.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(ble/bluedroid): Optimize BLE stack connect callback name
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
  components/bt/host/bluedroid/stack/btm/include/btm_int.h
  components/bt/host/bluedroid/stack/l2cap/l2c_ble.c
Due: build_docs_html_partial, gen_integration_pipeline, child_integration_test_pipeline

fix(freertos): Fix vTaskList() parameter print order
  components/freertos/FreeRTOS-Kernel/tasks.c
Due: gen_integration_pipeline, child_integration_test_pipeline

fix(bt): Fix missing linker symbol when ESP_ALLOW_BSS_SEG_EXTERNAL_MEMORY enabled
  components/bt/CMakeLists.txt
  components/bt/controller/esp32/bt.c
  components/bt/controller/esp32c2/bt.c
  components/bt/controller/esp32c3/bt.c
  components/bt/controller/esp32c6/bt.c
  components/bt/controller/esp32h2/bt.c
  components/bt/linker.lf
  components/bt/linker_common.lf
  components/bt/linker_common_esp32c2.lf
  components/bt/linker_esp_ble_controller.lf
  components/bt/linker_rw_bt_controller.lf
Due: gen_integration_pipeline, child_integration_test_pipeline
