Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*

esp_hw_support/esp32c2/rtc: take a safer xtal buf wait
  components/soc/esp32c2/include/soc/rtc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

fix err using rpa for confirmation calculation
  components/bt/host/bluedroid/stack/btm/btm_ble.c
Due: none

mbuf copy hci data error fix
  components/bt/controller/esp32c2/bt.c
  components/bt/host/bluedroid/hci/hci_hal_h4.c
Due: none

update ble controller lib for bugfix on esp32c2
  components/bt/include/esp32c2/include/esp_bt.h
  components/esp_rom/esp32c2/ld/esp32c2.rom.ld
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

fix on data len change cmd malfunction
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
Due: none

fatfsgen.py: Increase number of files in directory
  components/fatfs/fatfs_utils/long_filename_utils.py
  components/fatfs/test_fatfsgen/test_fatfsgen.py
Due: none

mcpwm: make set_compare_value iram safe
  components/driver/Kconfig
  components/driver/deprecated/driver/mcpwm_types_legacy.h
  components/driver/deprecated/mcpwm_legacy.c
  components/driver/linker.lf
  components/driver/mcpwm/mcpwm_cap.c
  components/driver/mcpwm/mcpwm_cmpr.c
  components/driver/mcpwm/mcpwm_fault.c
  components/driver/mcpwm/mcpwm_private.h
  components/driver/test_apps/mcpwm/main/test_mcpwm_iram.c
  components/driver/test_apps/mcpwm/sdkconfig.ci.iram_safe
  docs/en/api-reference/peripherals/mcpwm.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

fatfsgen.py: use lfn record when forbidden character detected in the file name
  components/fatfs/fatfs_utils/fs_object.py
  components/fatfs/fatfs_utils/utils.py
Due: none

Fix numbered list
  docs/en/api-reference/template.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

lwip: Document 32 bit NTP timestamp converstion to 64b time_t
  components/lwip/apps/sntp/sntp.c
  tools/ci/check_copyright_ignore.txt
Due: none

usb_serial_jtag: fixed the docs that we can use usj in sleep modes
  components/esp_hw_support/Kconfig
  docs/en/api-guides/usb-serial-jtag-console.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

tools: add test for ROM symbols in GDB
  .gitlab/ci/build.yml
  tools/idf_py_actions/constants.py
  tools/idf_py_actions/debug_ext.py
  tools/test_apps/system/gdb/CMakeLists.txt
  tools/test_apps/system/gdb/README.md
  tools/test_apps/system/gdb/main/CMakeLists.txt
  tools/test_apps/system/gdb/main/hello_world_main.c
  tools/test_apps/system/gdb/pytest_gdb.py
Due: none

tools: fixed elf symbols load if gdbinit specified
  components/bootloader/project_include.cmake
  tools/cmake/project_description.json.in
  tools/idf_py_actions/debug_ext.py
  tools/idf_py_actions/roms.json
  tools/idf_py_actions/roms_schema.json
  tools/test_idf_py/test_idf_py.py
Due: none

test_apps: fix monitor_ide_integration test
  tools/test_apps/system/monitor_ide_integration/pytest_monitor_ide_integration.py
Due: none

tools: move cmake executable check into function uses it
  tools/idf.py
  tools/idf_py_actions/tools.py
Due: none

tools: add esp-rom-elfs version '20220823'
  docs/en/api-guides/tools/idf-tools-notes.inc
  docs/zh_CN/api-guides/tools/idf-tools-notes.inc
  tools/idf_tools.py
  tools/test_idf_tools/test_idf_tools.py
  tools/tools.json
  tools/tools_schema.json
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

tools: fix openocd old logs print
  tools/idf_py_actions/debug_ext.py
Due: none

touch_sensor: add description to distinguish the API on different target
  components/driver/esp32/include/driver/touch_sensor.h
  components/driver/esp32s2/include/driver/touch_sensor.h
  components/driver/esp32s3/include/driver/touch_sensor.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

gdma: migrate ut to pytest
  components/esp_hw_support/.build-test-rules.yml
  components/esp_hw_support/test_apps/dma/CMakeLists.txt
  components/esp_hw_support/test_apps/dma/README.md
  components/esp_hw_support/test_apps/dma/main/CMakeLists.txt
  components/esp_hw_support/test_apps/dma/main/test_app_main.c
  components/esp_hw_support/test_apps/dma/main/test_async_memcpy.c
  components/esp_hw_support/test_apps/dma/main/test_gdma.c
  components/esp_hw_support/test_apps/dma/pytest_dma.py
  components/esp_hw_support/test_apps/dma/sdkconfig.ci.release
  components/esp_hw_support/test_apps/dma/sdkconfig.defaults
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

docs: provide translation for protocols in migration guides
  docs/en/migration-guides/release-5.x/protocols.rst
  docs/zh_CN/migration-guides/release-5.x/protocols.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

docs: updated CN trans for building-openocd-macos
  docs/zh_CN/api-guides/jtag-debugging/building-openocd-macos.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

freertos: Add unit test utilities
  components/freertos/test/CMakeLists.txt
  components/freertos/test/integration/freertos_test_utils.c
  components/freertos/test/integration/freertos_test_utils.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

freertos: Rename vTaskDelayUntil unit test file
  components/freertos/test/integration/tasks/test_task_delay.c
Due: none

freertos: Refactor vTaskDelay() and vTaskDelayUntil() unit tests
  components/freertos/test/integration/portTestMacro.h
  components/freertos/test/integration/tasks/test_task_delay.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

soc: remove unused DR_REG_DPORT_END macro for c2/c3/s2/s3
  components/soc/esp32c2/include/soc/reg_base.h
  components/soc/esp32c3/include/soc/reg_base.h
  components/soc/esp32s2/include/soc/reg_base.h
  components/soc/esp32s3/include/soc/soc.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

wifi/bt: fix part of modem module not reset when power up
  components/esp_phy/src/phy_init.c
  components/esp_system/port/soc/esp32/system_internal.c
  components/esp_system/port/soc/esp32s2/system_internal.c
  components/esp_wifi/esp32/esp_adapter.c
  components/esp_wifi/esp32s2/esp_adapter.c
  components/soc/esp32/include/soc/dport_reg.h
  components/soc/esp32c3/include/soc/syscon_reg.h
  components/soc/esp32s2/include/soc/syscon_reg.h
  components/soc/esp32s3/include/soc/syscon_reg.h
  tools/ci/check_copyright_ignore.txt
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

expat: Update expat library to R_2_4_8 release
  components/expat/port/include/expat_config.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

esp_http_server: Add linger in httpd_config_t
  components/esp_http_server/include/esp_http_server.h
  components/esp_http_server/src/httpd_sess.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

Nimble: Add example for periodic adv/sync
  examples/bluetooth/.build-test-rules.yml
  examples/bluetooth/nimble/ble_periodic_adv/CMakeLists.txt
  examples/bluetooth/nimble/ble_periodic_adv/README.md
  examples/bluetooth/nimble/ble_periodic_adv/main/CMakeLists.txt
  examples/bluetooth/nimble/ble_periodic_adv/main/Kconfig.projbuild
  examples/bluetooth/nimble/ble_periodic_adv/main/main.c
  examples/bluetooth/nimble/ble_periodic_adv/main/patterns.h
  examples/bluetooth/nimble/ble_periodic_adv/main/periodic_adv.h
  examples/bluetooth/nimble/ble_periodic_adv/sdkconfig.defaults
  examples/bluetooth/nimble/ble_periodic_sync/CMakeLists.txt
  examples/bluetooth/nimble/ble_periodic_sync/README.md
  examples/bluetooth/nimble/ble_periodic_sync/main/CMakeLists.txt
  examples/bluetooth/nimble/ble_periodic_sync/main/Kconfig.projbuild
  examples/bluetooth/nimble/ble_periodic_sync/main/main.c
  examples/bluetooth/nimble/ble_periodic_sync/main/periodic_sync.h
  examples/bluetooth/nimble/ble_periodic_sync/sdkconfig.defaults
Due: none

uart: Fix unwanted processing of TX_DONE interrupt immediately after calling uart_wait_tx_done()
  components/driver/uart.c
Due: none

usb_serial_jtag: fixed the docs that we can use usj in sleep modes
  components/esp_system/Kconfig
  docs/en/api-guides/usb-serial-jtag-console.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

tinyusb: fix typo naming of ACM
  components/tinyusb/additions/include/tusb_cdc_acm.h
  components/tinyusb/additions/include_private/cdc.h
  components/tinyusb/additions/src/tusb_cdc_acm.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

docs: update CN translation for Storage
  docs/en/migration-guides/release-5.x/storage.rst
  docs/zh_CN/migration-guides/release-5.x/storage.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview
