Repository espressif/esp-idf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

check_docs_lang_sync:
  script:
  - cd docs
  - ./check_lang_folder_sync.sh

check_docs_gh_links:
  image: $ESP_IDF_DOC_ENV_IMAGE
  script:
  - cd docs
  - build-docs gh-linkcheck

build_docs_html_full:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

build_docs_pdf:
  image: $ESP_IDF_DOC_ENV_IMAGE
  tags:
  - build_docs
  dependencies: []
  script:
  - cd docs
  - build-docs -t $DOCTGT -bs $DOC_BUILDERS -l $DOCLANG build
  parallel:
    matrix:
    - DOCLANG:
      - en
      - zh_CN
      DOCTGT:
      - esp32
      - esp32s2
      - esp32s3
      - esp32c3
      - esp32c2
  stage: build_doc
  ...

deploy_docs_preview:
  image: $ESP_IDF_DOC_ENV_IMAGE
  variables:
    DOCS_BUILD_DIR: ${IDF_PATH}/docs/_build/
    PYTHONUNBUFFERED: 1
    TYPE: preview
    DOCS_DEPLOY_PRIVATEKEY: $DOCS_DEPLOY_KEY
    DOCS_DEPLOY_SERVER: $DOCS_SERVER
    DOCS_DEPLOY_SERVER_USER: $DOCS_SERVER_USER
    DOCS_DEPLOY_PATH: $DOCS_PATH
  ...

Fixed extend adv tx power range error
  components/bt/host/bluedroid/api/include/api/esp_gap_ble_api.h
  components/bt/host/bluedroid/bta/include/bta/bta_api.h
  components/bt/host/bluedroid/stack/hcic/hciblecmds.c
  components/bt/host/bluedroid/stack/include/stack/btm_ble_api.h
  components/bt/host/bluedroid/stack/include/stack/hcimsgs.h
  examples/bluetooth/bluedroid/ble_50/ble50_security_server/main/ble50_sec_gatts_demo.c
  examples/bluetooth/bluedroid/ble_50/multi-adv/main/multi_adv_demo.c
  examples/bluetooth/bluedroid/ble_50/peroidic_adv/main/periodic_adv_demo.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

fix on data len change cmd malfunction
  components/bt/host/bluedroid/stack/btm/btm_ble_gap.c
Due: none

fix err using rpa for confirmation calculation
  components/bt/host/bluedroid/stack/btm/btm_ble.c
Due: none

Fixed extend adv set remove failed
  components/bt/host/bluedroid/bta/dm/bta_dm_api.c
Due: none

fix calling esp_ble_get_cur_sendable_packets_num() sometimes crashes when bluetooth is disconnecting
  components/bt/host/bluedroid/stack/l2cap/l2c_api.c
Due: none

tools: Add --output-file argument to idf.py size commands
  docs/en/api-guides/tools/idf-py.rst
  tools/cmake/run_size_tool.cmake
  tools/idf_py_actions/core_ext.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

feat(freertos): Added FreeRTOS POSIX/Linux Simulator
  .gitlab/ci/host-test.yml
  components/freertos/CMakeLists.txt
  components/freertos/FreeRTOS-Kernel/portable/linux/include/freertos/portmacro.h
  components/freertos/FreeRTOS-Kernel/portable/linux/include/freertos/portmacro_idf.h
  components/freertos/FreeRTOS-Kernel/portable/linux/include/spinlock.h
  components/freertos/FreeRTOS-Kernel/portable/linux/port.c
  components/freertos/FreeRTOS-Kernel/portable/linux/port_idf.c
  components/freertos/FreeRTOS-Kernel/portable/linux/utils/wait_for_event.c
  components/freertos/FreeRTOS-Kernel/portable/linux/utils/wait_for_event.h
  components/freertos/Kconfig
  components/freertos/esp_additions/include/freertos/FreeRTOSConfig.h
  docs/en/api-guides/linux-host-testing.rst
  examples/build_system/.build-test-rules.yml
  examples/build_system/cmake/linux_host_app/CMakeLists.txt
  examples/build_system/cmake/linux_host_app/README.md
  examples/build_system/cmake/linux_host_app/main/CMakeLists.txt
  examples/build_system/cmake/linux_host_app/main/linux_host_app.cpp
  examples/build_system/cmake/linux_host_app/sdkconfig.defaults
  tools/ci/check_copyright_ignore.txt
  tools/mocks/freertos/CMakeLists.txt
  tools/mocks/freertos/Kconfig
  tools/mocks/freertos/include/FreeRTOSConfig.h
  tools/test_apps/.build-test-rules.yml
  tools/test_apps/linux_compatible/hello_world_linux_compatible/CMakeLists.txt
  tools/test_apps/linux_compatible/hello_world_linux_compatible/README.md
  tools/test_apps/linux_compatible/hello_world_linux_compatible/main/CMakeLists.txt
  tools/test_apps/linux_compatible/hello_world_linux_compatible/main/hello_world_main.c
  tools/test_apps/linux_compatible/hello_world_linux_compatible/pytest_hello_world_linux_compatible.py
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

Tools: bugfix wrong format of idf-env.json, KeyError: 'idfSelectedId'
  tools/idf_tools.py
Due: none

test: fix rmt iram case random failure
  components/driver/test_apps/rmt/main/test_rmt_iram.c
Due: none

ble_mesh:example:fix memory leak
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_adapter.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_adapter.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_console_main.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_register_cmd.c
Due: none

Fix AP stop sending beacon during WPS on STA in wifi concurrent mode.
  components/wpa_supplicant/esp_supplicant/src/esp_wps.c
Due: none

ble_mesh:example:change the method of get model
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/CMakeLists.txt
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_adapter.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_adapter.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_model.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_model.h
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_cfg_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_gen_onoff_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_reg_test_perf_client_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_register_cmd.c
  examples/bluetooth/esp_ble_mesh/ble_mesh_console/main/ble_mesh_register_server_cmd.c
Due: none

fixed the issue iOS devices cannot initiate connection to ESP32 while there is a BLE connection to this ESP32
  components/bt/host/bluedroid/stack/btm/btm_acl.c
  components/bt/host/bluedroid/stack/btm/btm_sec.c
  components/bt/host/bluedroid/stack/l2cap/l2c_link.c
Due: none

esp_wifi: fix fail to scan after recv disassoc/deauth for esp32s2 esp_wifi: sync peripheral device reg base
  components/esp_wifi/esp32s2/esp_adapter.c
  components/esp_wifi/include/esp_private/wifi_os_adapter.h
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

docs: update CN trans for provisioning and system
  docs/zh_CN/migration-guides/release-5.x/provisioning.rst
  docs/zh_CN/migration-guides/release-5.x/system.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

openthread: Add some flash optimization options for openthread component
  components/openthread/CMakeLists.txt
  components/openthread/Kconfig
  components/openthread/private_include/openthread-core-esp32x-ftd-config.h
  components/openthread/private_include/openthread-core-esp32x-mtd-config.h
  components/openthread/src/esp_openthread_stubs.c
  examples/openthread/ot_br/main/idf_component.yml
  examples/openthread/ot_cli/main/esp_ot_cli.c
  examples/openthread/ot_cli/main/idf_component.yml
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

mDNS: Improved example test stability
  examples/protocols/mdns/mdns_example_test.py
Due: none

espcoredump: Add support for esp32c2
  components/espcoredump/include_core_dump/esp_core_dump_common.h
  components/espcoredump/src/core_dump_common.c
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf

espcoredump: re-enable test_app build for esp32c2
  components/espcoredump/.build-test-rules.yml
  components/espcoredump/test_apps/README.md
Due: none

docs: update coredump guide to make stack size config generic
  docs/en/api-guides/core_dump.rst
Due: check_docs_lang_sync, check_docs_gh_links, build_docs_html_full, build_docs_pdf, deploy_docs_preview

espcoredump: add esp32c2 target in test_app
  components/espcoredump/test_apps/build_espcoredump.sh
Due: none

Path conditions:
  check_docs_lang_sync: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  check_docs_gh_links: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_html_full: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  build_docs_pdf: any of: .gitlab/ci/docs.yml, docs/**/*, components/**/*.h, components/**/Kconfig*, components/**/CMakeList.txt, components/**/sdkconfig*, tools/kconfig_new/**/*, CONTRIBUTING.rst
  deploy_docs_preview: any of: docs/**/*
